{
    "swagger": "2.0",
    "info": {
        "version": "2022-04-22-privatepreview",
        "title": "cleanroomservice",
        "description": "Description of the new service",
        "x-ms-code-generation-settings": {
            "name": "cleanroomserviceClient"
        }
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/operations": {
            "get": {
                "tags": [
                    "Tag1"
                ],
                "operationId": "OperationGroup_Get",
                "x-ms-examples": {
                    "BatchAccountDelete": {
                        "$ref": "./examples/OperationGroupGet.json"
                    }
                },
                "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionId"
                    },
                    {
                        "$ref": "#/parameters/resourceGroupName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Describe the result of a successful operation.",
                        "schema": {
                            "$ref": "#/definitions/Result"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/microservices/{microserviceName}": {
            "put": {
                "tags": [
                    "Microservices"
                ],
                "operationId": "Microservices_Create",
                "description": "Create Or Update Microservice.",
                "summary": "Implements Microservice PUT method.",
                "x-ms-examples": {
                    "CreateMicroservice": {
                        "$ref": "./examples/CreateMicroservice.json"
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionId"
                    },
                    {
                        "$ref": "#/parameters/resourceGroupName"
                    },
                    {
                        "in": "path",
                        "name": "microserviceName",
                        "required": true,
                        "type": "string",
                        "description": "Name of the Microservice."
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request payload.",
                        "schema": {
                            "$ref": "#/definitions/Microservice"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Microservice"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Microservice"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "azure-async-operation"
                }
            },
            "get": {
                "tags": [
                    "Microservices"
                ],
                "operationId": "Microservices_Get",
                "summary": "Gets a Microservice.",
                "description": "Implements Microservice GET method.",
                "x-ms-examples": {
                    "GetMicroservice": {
                        "$ref": "./examples/GetMicroservice.json"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionId"
                    },
                    {
                        "$ref": "#/parameters/resourceGroupName"
                    },
                    {
                        "in": "path",
                        "name": "microserviceName",
                        "required": true,
                        "type": "string",
                        "description": "Name of the Microservice."
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Microservice"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Microservices"
                ],
                "operationId": "Microservices_Update",
                "summary": "Updates a Microservice.",
                "description": "API to update certain properties of the Microservice resource.",
                "x-ms-examples": {
                    "UpdateMicroservice": {
                        "$ref": "./examples/UpdateMicroservice.json"
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionId"
                    },
                    {
                        "$ref": "#/parameters/resourceGroupName"
                    },
                    {
                        "in": "path",
                        "name": "microserviceName",
                        "required": true,
                        "type": "string",
                        "description": "Name of the Microservice."
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Resource properties to update.",
                        "schema": {
                            "$ref": "#/definitions/ResourcePatch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Microservice"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Microservices"
                ],
                "operationId": "Microservices_Delete",
                "summary": "Deletes an Microservice.",
                "description": "Implements Microservice DELETE method.",
                "x-ms-examples": {
                    "DeleteMicroservice": {
                        "$ref": "./examples/DeleteMicroservice.json"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionId"
                    },
                    {
                        "$ref": "#/parameters/resourceGroupName"
                    },
                    {
                        "in": "path",
                        "name": "microserviceName",
                        "required": true,
                        "type": "string",
                        "description": "Name of the Microservice."
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    },
                    {
                        "in": "query",
                        "name": "force",
                        "description": "Whether force delete was specified.",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "202": {
                        "description": "Accepted"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.CleanRoom/microservices": {
            "get": {
                "tags": [
                    "Microservices"
                ],
                "operationId": "Microservices_List",
                "summary": "Implements GET Microservices in a subscription.",
                "description": "List of Microservices in a subscription.",
                "x-ms-examples": {
                    "ListMicroservices": {
                        "$ref": "./examples/ListMicroservices.json"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionId"
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/MicroservicesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/microservices": {
            "get": {
                "tags": [
                    "Microservices"
                ],
                "operationId": "Microservices_ListByResourceGroup",
                "summary": "Implements GET Microservices in a resource group.",
                "description": "List of Microservices in a resource group.",
                "x-ms-examples": {
                    "ListMicroservicesByResourceGroup": {
                        "$ref": "./examples/ListMicroservicesByResourceGroup.json"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionId"
                    },
                    {
                        "$ref": "#/parameters/resourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/MicroservicesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "definitions": {
      "ResourcePatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Object containing updates for patch operations."
    },
        "Result": {
            "description": "Sample result definition",
            "properties": {
                "sampleProperty": {
                    "type": "string",
                    "description": "Sample property of type string"
                }
            }
        },
        "ErrorResponse": {
            "description": "Error response.",
            "properties": {
                "error": {
                    "$ref": "#/definitions/ErrorDefinition",
                    "description": "The error details."
                }
            }
        },
        "ErrorDefinition": {
            "description": "Error definition.",
            "properties": {
                "code": {
                    "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                    "type": "string",
                    "readOnly": true
                },
                "message": {
                    "description": "Description of the error.",
                    "type": "string",
                    "readOnly": true
                },
                "details": {
                    "description": "Internal error details.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorDefinition"
                    },
                    "readOnly": true
                }
            }
        },
        "Microservice": {
            "description": "Defines the Microservice.",
            "required": [
                "location",
                "properties"
            ],
            "type": "object",
            "x-ms-azure-resource": true,
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Resource properties.",
                    "$ref": "#/definitions/MicroserviceProperties"
                },
                "location": {
                    "description": "Gets or sets the location.",
                    "type": "string",
                    "x-ms-mutability": [
                        "read",
                        "create"
                    ]
                },
                "systemData": {
                    "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
                    "description": "The system data."
                },
                "tags": {
                    "description": "Gets or sets the Resource tags.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "name": {
                    "description": "Gets or sets the name.",
                    "type": "string",
                    "readOnly": true
                },
                "id": {
                    "description": "Gets or sets the Id.",
                    "type": "string",
                    "readOnly": true
                },
                "type": {
                    "description": "Gets or sets the type of the resource.",
                    "type": "string",
                    "readOnly": true
                },
                "kind": {
                    "type": "string",
                    "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
                }
            }
        },
        "MicroservicesList": {
            "description": "List of Microservices.",
            "type": "object",
            "properties": {
                "nextLink": {
                    "description": "Url to follow for getting next page of Microservices.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of Microservices",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Microservice"
                    }
                }
            },
            "required": [
                "value"
            ]
        },
        "MicroserviceProperties": {
            "description": "Defines the resource properties.",
            "type": "object",
            "properties": {
                "settings": {
                    "description": "Gets or sets the settings for the Microservice.",
                    "type": "string"
                },
                "provisioningState": {
                    "description": "Gets or sets the provisioning state.",
                    "type": "string",
                    "readOnly": true
                }
            }
        }
    },
    "parameters": {
        "subscriptionId": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
        },
        "resourceGroupName": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group.",
            "x-ms-parameter-location": "method"
        },
        "api-version": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The API version to be used with the HTTP request."
        }
    }
}