{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.WhiteBoxCadlProvider",
    "version": "2021-08-01-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "WhiteBoxResources"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.WhiteBoxCadlProvider/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.WhiteBoxCadlProvider/WhiteBoxResources": {
      "get": {
        "tags": [
          "WhiteBoxResources"
        ],
        "operationId": "WhiteBoxResources_ListBySubscription",
        "description": "List WhiteBoxResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WhiteBoxResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WhiteBoxCadlProvider/WhiteBoxResources": {
      "get": {
        "tags": [
          "WhiteBoxResources"
        ],
        "operationId": "WhiteBoxResources_ListByResourceGroup",
        "description": "List WhiteBoxResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WhiteBoxResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WhiteBoxCadlProvider/WhiteBoxResources/{WhiteBoxResourceName}": {
      "get": {
        "tags": [
          "WhiteBoxResources"
        ],
        "operationId": "WhiteBoxResources_Get",
        "description": "Get a WhiteBoxResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WhiteBoxResource.WhiteBoxResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WhiteBoxResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetWhiteBoxResource": {
            "$ref": "./examples/WhiteBoxResources_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "WhiteBoxResources"
        ],
        "operationId": "WhiteBoxResources_CreateOrUpdate",
        "description": "Create a WhiteBoxResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WhiteBoxResource.WhiteBoxResourceName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/WhiteBoxResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WhiteBoxResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/WhiteBoxResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateWhiteBoxResource": {
            "$ref": "./examples/WhiteBoxResources_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "WhiteBoxResources"
        ],
        "operationId": "WhiteBoxResources_Update",
        "description": "Update a WhiteBoxResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WhiteBoxResource.WhiteBoxResourceName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/WhiteBoxResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WhiteBoxResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WhiteBoxResources"
        ],
        "operationId": "WhiteBoxResources_Delete",
        "description": "Delete a WhiteBoxResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WhiteBoxResource.WhiteBoxResourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AksProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of AKS resource.",
          "readOnly": true
        },
        "miId": {
          "type": "string",
          "description": "Resource Id of Assigned Managed Identity.",
          "readOnly": true
        }
      },
      "description": "The profile of AKS Resource"
    },
    "ApimProfile": {
      "type": "object",
      "properties": {
        "publisherName": {
          "type": "string",
          "description": "Name of publisher.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "publisherEmail": {
          "type": "string",
          "description": "Publisher Email.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "id": {
          "type": "string",
          "description": "Resource Id of APIM resource.",
          "readOnly": true
        }
      },
      "description": "The properties related to APIM Resource",
      "required": [
        "publisherName",
        "publisherEmail"
      ]
    },
    "AppGatewayProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of AppGateway.",
          "readOnly": true
        }
      },
      "description": "The profile of AppGateway"
    },
    "BastionProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Bastion.",
          "readOnly": true
        }
      },
      "description": "The profile of Bastion"
    },
    "DatafactoryProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Datafactory.",
          "readOnly": true
        }
      },
      "description": "The profile of Datafactory"
    },
    "FirewallPolicyProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Firewall Policy.",
          "readOnly": true
        }
      },
      "description": "The profile of Firewall Policy"
    },
    "FirewallProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Firewall.",
          "readOnly": true
        }
      },
      "description": "The profile of Firewall"
    },
    "KeyVaultProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Keyvault.",
          "readOnly": true
        }
      },
      "description": "The profile of KeyVault"
    },
    "LogAnalyticsProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of LogAnalytics.",
          "readOnly": true
        }
      },
      "description": "The profile of LogAnalytics"
    },
    "M365Profile": {
      "type": "object",
      "properties": {
        "adminUserName": {
          "type": "string",
          "description": "Power Plaform Admininstrator User Name.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "adminPassword": {
          "type": "string",
          "description": "Power Plaform Admininstrator Password."
        },
        "accessPolicyUserId": {
          "type": "string",
          "description": "Power Plaform Access Policy User Id.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "targetTenantId": {
          "type": "string",
          "description": "Power Plaform Access Target Tenant Id.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "helpDeskUserName": {
          "type": "string",
          "description": "Power Plaform Helpdesk User Name.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "helpDeskUserPswd": {
          "type": "string",
          "description": "Power Plaform Helpdesk User Password.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "targetEnvironment": {
          "type": "string",
          "description": "Power Plaform Target Environment.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sqlConnectionId": {
          "type": "string",
          "description": "Power Plaform SQL Connection Id.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "oneDriveConnectionId": {
          "type": "string",
          "description": "Power Plaform One Drive Connection Id.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "teamsConnectionId": {
          "type": "string",
          "description": "Power Plaform Teams Connection Id.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "The properties related to M365 Resources",
      "required": [
        "adminUserName",
        "adminPassword",
        "accessPolicyUserId",
        "targetTenantId",
        "helpDeskUserName",
        "helpDeskUserPswd",
        "targetEnvironment",
        "sqlConnectionId",
        "oneDriveConnectionId",
        "teamsConnectionId"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "SqlProfile": {
      "type": "object",
      "properties": {
        "administratorLoginPassword": {
          "type": "string",
          "description": "The administrator password of the SQL logical server."
        },
        "id": {
          "type": "string",
          "description": "Resource Id of SQL Database",
          "readOnly": true
        },
        "miId": {
          "type": "string",
          "description": "Assigned Managed Identity Id",
          "readOnly": true
        }
      },
      "description": "The properties related to SQL Resource",
      "required": [
        "administratorLoginPassword"
      ]
    },
    "StorageProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Storage.",
          "readOnly": true
        }
      },
      "description": "The profile of Storage"
    },
    "SynapseProfile": {
      "type": "object",
      "properties": {
        "synapseAdminLogin": {
          "type": "string",
          "description": "Synapse Administrator Login",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "synapseAdminTenant": {
          "type": "string",
          "description": "Synapse Administrator Tenant",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "synapseAdminSID": {
          "type": "string",
          "description": "Synapse Admininstrator SID",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sparkPoolId": {
          "type": "string",
          "description": "Resource Id of Spark Pool",
          "readOnly": true
        }
      },
      "description": "The properties related to Synapse Resource",
      "required": [
        "synapseAdminLogin",
        "synapseAdminTenant",
        "synapseAdminSID"
      ]
    },
    "VnetProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id of Vnet.",
          "readOnly": true
        }
      },
      "description": "The profile of Vnet"
    },
    "WhiteBoxResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WhiteBoxResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A WhiteBoxCadlProviderProviderHub resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WhiteBoxResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WhiteBoxResource"
          },
          "x-cadl-name": "WhiteBoxResource[]",
          "description": "The WhiteBoxResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a WhiteBoxResource list operation.",
      "required": [
        "value"
      ]
    },
    "WhiteBoxResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "version": {
          "type": "number",
          "format": "float",
          "description": "Customer Hosted Version.",
          "default": 1,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sku": {
          "type": "string",
          "description": "Customer Hosted SKU",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sqlProfile": {
          "$ref": "#/definitions/SqlProfile",
          "description": "Profile of SQL Resource created.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "synapseProfile": {
          "$ref": "#/definitions/SynapseProfile",
          "description": "Profile of Synapse Resource created.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "m365Profile": {
          "$ref": "#/definitions/M365Profile",
          "description": "Profile of M365 Resources.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "apimProfile": {
          "$ref": "#/definitions/ApimProfile",
          "description": "Profile of APIM Created.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "aksProfile": {
          "$ref": "#/definitions/AksProfile",
          "description": "Profile of AKS Created.",
          "readOnly": true
        },
        "firewallPolicyProfile": {
          "$ref": "#/definitions/FirewallPolicyProfile",
          "description": "Profile of Firewall Policy Created.",
          "readOnly": true
        },
        "firewallProfile": {
          "$ref": "#/definitions/FirewallProfile",
          "description": "Profile of Firewall Created.",
          "readOnly": true
        },
        "appGatewayProfile": {
          "$ref": "#/definitions/AppGatewayProfile",
          "description": "Profile of AppGateway Created.",
          "readOnly": true
        },
        "bastionProfile": {
          "$ref": "#/definitions/BastionProfile",
          "description": "Profile of Bastion Created.",
          "readOnly": true
        },
        "datafactoryProfile": {
          "$ref": "#/definitions/DatafactoryProfile",
          "description": "Profile of Datafactory Created.",
          "readOnly": true
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Profile of Storage Created.",
          "readOnly": true
        },
        "keyVaultProfile": {
          "$ref": "#/definitions/KeyVaultProfile",
          "description": "Profile of KeyVault Created.",
          "readOnly": true
        },
        "logAnalyticsProfile": {
          "$ref": "#/definitions/LogAnalyticsProfile",
          "description": "Profile of LogAnalytics Created.",
          "readOnly": true
        },
        "vnetProfile": {
          "$ref": "#/definitions/VnetProfile",
          "description": "Profile of Vnet Created.",
          "readOnly": true
        }
      },
      "description": "Details of the WhiteBoxCadlProvider WhiteBoxResource."
    },
    "WhiteBoxResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/WhiteBoxResourceUpdateProperties"
        }
      },
      "description": "The type used for update operations of the WhiteBoxResource."
    },
    "WhiteBoxResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "version": {
          "type": "number",
          "format": "float",
          "description": "Customer Hosted Version.",
          "default": 1,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sku": {
          "type": "string",
          "description": "Customer Hosted SKU",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "The updatable properties of the WhiteBoxResource."
    }
  },
  "parameters": {
    "WhiteBoxResource.WhiteBoxResourceName": {
      "name": "WhiteBoxResourceName",
      "in": "path",
      "required": true,
      "description": "Name.",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}