{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this swagger specification will be used for mobile core vendor sim profiles",
    "version": "2020-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/locations/{location}/vendors/{vendorName}/simProfiles/{imsi}": {
      "put": {
        "tags": [
          "VendorSimProfiles"
        ],
        "operationId": "VendorSimProfiles_CreateOrUpdate",
        "description": "Creates or updates a vendor sim profile.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location of the resource."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "imsi",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sim profile identifier."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting vendor sim profile resource.",
            "schema": {
              "$ref": "#/definitions/VendorSimProfile"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting vendor sim profile resource.",
            "schema": {
              "$ref": "#/definitions/VendorSimProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create vendor sim profile": {
            "$ref": "./examples/VendorSimProfileCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "VendorSimProfiles"
        ],
        "operationId": "VendorSimProfiles_Get",
        "description": "Gets the requested vendor sim profile.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location of the vendor sim profile."
          },
          {
            "name": "imsi",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sim profile identifier."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting vendor sim profile resource.",
            "schema": {
              "$ref": "#/definitions/VendorSimProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get vendor sim profile": {
            "$ref": "./examples/VendorSimProfileGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/locations/{location}/vendors/{vendorName}/mobileNetworks/{serviceKey}/listSites": {
      "post": {
        "tags": [
          "VendorSimProfiles"
        ],
        "operationId": "Sites_listsites",
        "description": "Lists all the sites in the mobile network",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location of the resource."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The identifier for mobile network."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of site resources.",
            "schema": {
              "$ref": "./mobileNetwork.json#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get site sub resource.": {
            "$ref": "./examples/SiteListByMobileNetworkServiceKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/locations/{location}/vendors/{vendorName}/mobileNetworks/{serviceKey}/simProfiles": {
      "get": {
        "tags": [
          "VendorSimProfiles"
        ],
        "operationId": "VendorSimProfiles_ListByMobileNetwork",
        "description": "List the vendor sim profiles on the specified service key with optional filtering on internationalMobileSubscriberIdentity, integratedCircuitCardIdentifier, or simActivationState",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location of the resource."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The mobile network identifier."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation. The properties you can use for eq (equals) are: internationalMobileSubscriberIdentity, integratedCircuitCardIdentifier and simActivationState."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of vendor sim profile resources.",
            "schema": {
              "$ref": "#/definitions/VendorSimProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SimProfile list for Vendor": {
            "$ref": "./examples/VendorSimProfileListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/locations/{location}/vendors/{vendorName}/mobileNetworks/{serviceKey}/simProfiles/{imsi}/listKeys": {
      "post": {
        "tags": [
          "VendorSimProfiles"
        ],
        "operationId": "VendorSimProfiles_listKeysByImsi",
        "description": "Lists information about simProfile",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location of the resource."
          },
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "serviceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The mobile network identifier."
          },
          {
            "name": "imsi",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The sim profile identifier."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns information about the requested vendor sim profile.",
            "schema": {
              "$ref": "#/definitions/VendorSimProfileSensitive"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SimProfile list for Vendor": {
            "$ref": "./examples/VendorSimProfileListKeys.json"
          }
        }
      }
    }
  },
  "definitions": {
    "VendorSimProfileListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VendorSimProfile"
          },
          "description": "A list of vendor simprofile resources."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for mobile network vendorSimProfiles API service call."
    },
    "VendorSimProfile": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VendorSimProfilePropertiesFormat",
          "description": "Vendor SimProfile details."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Vendor SimProfile resource."
    },
    "VendorSimProfileSensitive": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VendorSimProfileSensitivePropertiesFormat",
          "description": "Vendor SimProfile details containing secrets."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Vendor SimProfile sub resource."
    },
    "VendorSimProfilePropertiesFormat": {
      "description": "Vendor SimProfile properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the sim profile resource."
        },
        "activationState": {
          "$ref": "./common.json#/definitions/ActivationState",
          "description": "The activation state of the sim profile resource."
        },
        "integratedCircuitCardIdentifier": {
          "readOnly": true,
          "type": "string",
          "description": "The Integrated Circuit Card ID (ICC Id) for the sim profile."
        },
        "internationalMobileSubscriberIdentity": {
          "readOnly": true,
          "type": "string",
          "description": "The International Mobile Subscriber Identity (IMSI) for the sim profile."
        }
      }
    },
    "VendorSimProfileSensitivePropertiesFormat": {
      "description": "Vendor SimProfile sensitive properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the sim profile resource."
        },
        "activationState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ActivationState",
          "description": "The activation state of the sim profile resource."
        },
        "internationalMobileSubscriberIdentity": {
          "type": "string",
          "description": "The International Mobile Subscriber Identity (IMSI) for the sim profile."
        },
        "integratedCircuitCardIdentifier": {
          "type": "string",
          "description": "The Integrated Circuit Card ID (ICC Id) for the sim profile."
        },
        "authenticationKey": {
          "type": "string",
          "description": "The ki value for the sim profile."
        },
        "operatorKeyCode": {
          "type": "string",
          "description": "The Opc value for the sim profile."
        },
        "mobileNetworks": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "description": "A list of mobile network ids that the sim profile is attached. **TODO** Typically one, but can a Sim be attached to multiple networks."
        }
      }
    }
  }
}
