{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage mobile network resources",
    "version": "2020-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/networks/{networkName}": {
      "delete": {
        "tags": [
          "Networks"
        ],
        "operationId": "Networks_Delete",
        "description": "Deletes the specified network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete network": {
            "$ref": "./examples/NetworkDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "Networks"
        ],
        "operationId": "Networks_Get",
        "description": "Gets information about the specified network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of network."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting network resource.",
            "schema": {
              "$ref": "#/definitions/Network"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network": {
            "$ref": "./examples/NetworkGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Networks"
        ],
        "operationId": "Networks_CreateOrUpdate",
        "description": "Creates or updates a network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of network."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Network"
            },
            "description": "Parameters supplied to the create or update network operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting network resource.",
            "schema": {
              "$ref": "#/definitions/Network"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting network resource.",
            "schema": {
              "$ref": "#/definitions/Network"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create network": {
            "$ref": "./examples/NetworkCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Networks"
        ],
        "operationId": "Networks_UpdateTags",
        "description": "Updates a network update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting network resource.",
            "schema": {
              "$ref": "#/definitions/Network"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update network tags": {
            "$ref": "./examples/NetworkUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/networks": {
      "get": {
        "tags": [
          "Networks"
        ],
        "operationId": "Networks_ListBySubscription",
        "description": "Lists all the  networks in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of network resources.",
            "schema": {
              "$ref": "#/definitions/NetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all networks": {
            "$ref": "./examples/NetworkListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/networks": {
      "get": {
        "tags": [
          "Networks"
        ],
        "operationId": "Networks_ListByResourceGroup",
        "description": "Lists all the networks in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of network resources.",
            "schema": {
              "$ref": "#/definitions/NetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List networks in resource group": {
            "$ref": "./examples/NetworkListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/networks/{networkName}/listSimProfileIds": {
      "post": {
        "tags": [
          "Networks"
        ],
        "operationId": "MobileNetwork_ListSimProfileId",
        "description": "List sim profile ids under a network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          }
        ],
        "responses": {
          "200": {
            "description": "List sim profile ids successful.",
            "schema": {
              "$ref": "#/definitions/SimProfileIdListResult"
            }
          },
          "202": {
            "description": "Accepted. Returns an operation URI that can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/SimProfileIdListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List sim profile ids by network": {
            "$ref": "./examples/SimProfileIdListByNetwork.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/networks/{networkName}/sites/{siteName}": {
      "delete": {
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_Delete",
        "description": "Deletes the specified network site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network site."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete network site": {
            "$ref": "./examples/SiteDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_Get",
        "description": "Gets information about the specified network site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of network."
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network site."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting network site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network site": {
            "$ref": "./examples/SiteGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_CreateOrUpdate",
        "description": "Creates or updates a network site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network site."
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network site."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Site"
            },
            "description": "Parameters supplied to the create or update network site operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting network site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting network site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create network site": {
            "$ref": "./examples/SiteCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_UpdateTags",
        "description": "Updates a site update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network site."
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network site."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network site tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting network site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update network site tags": {
            "$ref": "./examples/SiteUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/networks/{networkName}/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_ListByNetwork",
        "description": "Lists all sites in the network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of network site resources.",
            "schema": {
              "$ref": "#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all network sites": {
            "$ref": "./examples/SiteListByNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/sims/{simName}": {
      "delete": {
        "tags": [
          "Sims"
        ],
        "operationId": "Sims_Delete",
        "description": "Deletes the specified sim.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete sim resource": {
            "$ref": "./examples/SimDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "Sims"
        ],
        "operationId": "Sims_Get",
        "description": "Gets information about the specified sim.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of sim."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting sim resource.",
            "schema": {
              "$ref": "#/definitions/Sim"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get sim": {
            "$ref": "./examples/SimGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Sims"
        ],
        "operationId": "Sims_CreateOrUpdate",
        "description": "Creates or updates a sim.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sim"
            },
            "description": "Parameters supplied to the create or update sim operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting sim resource.",
            "schema": {
              "$ref": "#/definitions/Sim"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting sim resource.",
            "schema": {
              "$ref": "#/definitions/Sim"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create sim": {
            "$ref": "./examples/SimCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Sims"
        ],
        "operationId": "Sims_UpdateTags",
        "description": "Updates a sim update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update sim tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting sim resource.",
            "schema": {
              "$ref": "#/definitions/Sim"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update sim tags": {
            "$ref": "./examples/SimUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/sims": {
      "get": {
        "tags": [
          "Sims"
        ],
        "operationId": "Sims_ListBySubscription",
        "description": "Gets all the sims in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of sim resources.",
            "schema": {
              "$ref": "#/definitions/SimListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all sims": {
            "$ref": "./examples/SimListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/sims": {
      "get": {
        "tags": [
          "Sims"
        ],
        "operationId": "Sims_ListByResourceGroup",
        "description": "Gets all the sims in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of sim resources.",
            "schema": {
              "$ref": "#/definitions/SimListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List sims in resource group": {
            "$ref": "./examples/SimListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/sims/{simName}/simProfiles/{simProfileName}": {
      "delete": {
        "tags": [
          "SimProfiles"
        ],
        "operationId": "SimProfiles_Delete",
        "description": "Deletes the specified sim profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim."
          },
          {
            "name": "simProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim profile."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete sim profile resource": {
            "$ref": "./examples/SimProfileDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "SimProfiles"
        ],
        "operationId": "SimProfiles_Get",
        "description": "Gets information about the specified sim profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of sim."
          },
          {
            "name": "simProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim profile."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting sim profile resource.",
            "schema": {
              "$ref": "#/definitions/SimProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get sim profile": {
            "$ref": "./examples/SimProfileGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SimProfiles"
        ],
        "operationId": "SimProfiles_CreateOrUpdate",
        "description": "Creates or updates a sim profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim."
          },
          {
            "name": "simProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim profile."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimProfile"
            },
            "description": "Parameters supplied to the create or update sim profile operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting sim profile resource.",
            "schema": {
              "$ref": "#/definitions/SimProfile"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting sim profile resource.",
            "schema": {
              "$ref": "#/definitions/SimProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create sim profile": {
            "$ref": "./examples/SimProfileCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "SimProfiles"
        ],
        "operationId": "SimProfiles_UpdateTags",
        "description": "Updates a sim profile update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim."
          },
          {
            "name": "simProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim profile."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update sim profile tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting sim profile resource.",
            "schema": {
              "$ref": "#/definitions/SimProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update sim profile tags": {
            "$ref": "./examples/SimProfileUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/sims/{simName}/simProfiles": {
      "get": {
        "tags": [
          "SimProfiles"
        ],
        "operationId": "SimProfiles_ListBySim",
        "description": "Lists all sim profiles in the sim",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of sim profile resources.",
            "schema": {
              "$ref": "#/definitions/SimProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all sim profiles in a sim": {
            "$ref": "./examples/SimProfileListBySim.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/sims/{simName}/simProfiles/{simProfileName}/activate": {
      "post": {
        "tags": [
          "SimProfiles"
        ],
        "operationId": "SimProfiles_Activate",
        "description": "Activates the specified sim profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim."
          },
          {
            "name": "simProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim profile."
          }
        ],
        "responses": {
          "200": {
            "description": "SimProfile activation successful.",
            "schema": {
              "$ref": "#/definitions/SimProfile"
            }
          },
          "202": {
            "description": "Accepted. Sets 'Activating' in activationState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/SimProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Activate sim profile": {
            "$ref": "./examples/SimProfileActivate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/sims/{simName}/simProfiles/{simProfileName}/deactivate": {
      "post": {
        "tags": [
          "SimProfiles"
        ],
        "operationId": "SimProfiles_Deactivate",
        "description": "Deactivates the specified sim profiles.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim profile."
          },
          {
            "name": "simProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim profile."
          }
        ],
        "responses": {
          "200": {
            "description": "Sim deactivation successful.",
            "schema": {
              "$ref": "#/definitions/SimProfile"
            }
          },
          "202": {
            "description": "Accepted. Sets 'Deactivating' in activationState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/SimProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deactivate sim profile resource": {
            "$ref": "./examples/SimProfileDeactivate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/networks/{networkName}/accessPointNames/{accessPointName}": {
      "delete": {
        "tags": [
          "AccessPointNames"
        ],
        "operationId": "AccessPointNames_Delete",
        "description": "Deletes the specified access point.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          },
          {
            "name": "accessPointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the access point."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete access point resource": {
            "$ref": "./examples/AccessPointNameDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "AccessPointNames"
        ],
        "operationId": "AccessPointNames_Get",
        "description": "Gets information about the specified access point.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          },
          {
            "name": "accessPointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of access point."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPointName"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get access point ": {
            "$ref": "./examples/AccessPointNameGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "AccessPointNames"
        ],
        "operationId": "AccessPointNames_CreateOrUpdate",
        "description": "Creates or updates an access point.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          },
          {
            "name": "accessPointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the access point resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessPointName"
            },
            "description": "Parameters supplied to the create or update access point operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPointName"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPointName"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create access point ": {
            "$ref": "./examples/AccessPointNameCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "AccessPointNames"
        ],
        "operationId": "AccessPointNames_UpdateTags",
        "description": "Updates an access point update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          },
          {
            "name": "accessPointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the access point."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update access point tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPointName"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update access point tags": {
            "$ref": "./examples/AccessPointNameUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/networks/{networkName}/accessPointNames": {
      "get": {
        "tags": [
          "AccessPointNames"
        ],
        "operationId": "AccessPointNames_ListByNetwork",
        "description": "Gets all the access points in a network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPointNameListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List access point names in mobile network": {
            "$ref": "./examples/AccessPointNameListByNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/simPolicies": {
      "get": {
        "tags": [
          "SimPolicies"
        ],
        "operationId": "SimPolicies_ListBySubscription",
        "description": "Gets all the sim policies in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of sim policy resources.",
            "schema": {
              "$ref": "#/definitions/SimPolicyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all sim policies sims": {
            "$ref": "./examples/SimPolicyListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/simPolicies/{simPolicyName}": {
      "delete": {
        "tags": [
          "SimPolicies"
        ],
        "operationId": "SimPolicies_Delete",
        "description": "Deletes the specified sim policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sim policy."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete sim policy resource": {
            "$ref": "./examples/SimPolicyDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "SimPolicies"
        ],
        "operationId": "SimPolicies_Get",
        "description": "Gets information about the specified sim policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of sim policy."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting sim policy resource.",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get sim policy": {
            "$ref": "./examples/SimPolicyGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SimPolicies"
        ],
        "operationId": "SimPolicies_CreateOrUpdate",
        "description": "Creates or updates a sim policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of sim policy."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            },
            "description": "Parameters supplied to the create or update sim policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting sim policy resource.",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting sim policy resource.",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create sim policy": {
            "$ref": "./examples/SimPolicyCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "SimPolicies"
        ],
        "operationId": "SimPolicies_UpdateTags",
        "description": "Updates a sim policy update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of sim policy."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update sim policy tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting sim policy resource.",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update sim policy tags": {
            "$ref": "./examples/SimPolicyUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/simPolicies": {
      "get": {
        "tags": [
          "SimPolicies"
        ],
        "operationId": "SimPolicies_ListByResourceGroup",
        "description": "Gets all the sim policies in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of sim policies resources.",
            "schema": {
              "$ref": "#/definitions/SimPolicyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List sim policies in resource group": {
            "$ref": "./examples/SimPolicyListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Network": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkPropertiesFormat",
          "description": "Network properties."
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Network resource."
    },
    "NetworkPropertiesFormat": {
      "description": "Network properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the network resource."
        },
        "mobileCountryCode": {
          "type": "string",
          "description": "The mobile country code for the network."
        },
        "mobileNetworkCode": {
          "type": "string",
          "description": "The mobile network code for the network."
        },
        "serviceKey": {
          "type": "string",
          "readOnly": true,
          "description": "The network resource identifier"
        },
        "networkType": {
          "$ref": "./common.json#/definitions/NetworkType",
          "description": "The type of the network."
        },
        "spectrumAccessProvider": {
          "type": "string",
          "description": "The spectrum access provider for the network."
        },
        "packetCores": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "description": "An array of ids of the packet cores associated with the network resource."
        }
      }
    },
    "NetworkListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Network"
          },
          "description": "A list of networks in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for networks API service call."
    },
    "Sim": {
      "properties": {
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SimPropertiesFormat",
          "description": "Sim properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Sim resource."
    },
    "SimPropertiesFormat": {
      "description": "Sim properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the sim resource."
        },
        "simType": {
          "$ref": "./common.json#/definitions/SimType",
          "description": "The type of the sim."
        }
      }
    },
    "SimListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sim"
          },
          "description": "A list of sims in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for sims API service call."
    },
    "Site": {
      "properties": {
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SitePropertiesFormat",
          "description": "Site properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Site resource."
    },
    "SitePropertiesFormat": {
      "description": "Site properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the site resource. **TODO**: Confirm if this is needed."
        },
        "customLocation": {
          "type": "string",
          "description": "Azure arc custom location where the network site is paired. **TODO**: Confirm type and property."
        },
        "trackingAreaCode": {
          "type": "string",
          "description": "Tracking area code for the network site."
        }
      }
    },
    "SiteListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Site"
          },
          "description": "A list of sites in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for sites API service call."
    },
    "SimProfile": {
      "properties": {
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SimProfilePropertiesFormat",
          "description": "Sim profile Properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Sim profile resource."
    },
    "SimProfilePropertiesFormat": {
      "description": "Sim profile properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the sim profile resource."
        },
        "activationState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ActivationState",
          "description": "The activation state of the sim profile resource."
        },
        "internationalMobileSubscriberIdentity": {
          "type": "string",
          "description": "The International Mobile Subscriber Identity (IMSI) for the sim profile."
        },
        "integratedCircuitCardIdentifier": {
          "type": "string",
          "description": "The Integrated Circuit Card ID (ICC Id) for the sim profile."
        },
        "authenticationKey": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create"
          ],
          "description": "The ki value for the sim profile."
        },
        "operatorKeyCode": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create"
          ],
          "description": "The Opc value for the sim profile."
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "description": "A list of network ids that the sim profile is attached. **TODO** Typically one, but can a Sim be attached to multiple networks"
        }
      }
    },
    "SimProfileIdListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "description": "A list of sim profile ids in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for sim profile ids API service call."
    },
    "SimProfileListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimProfile"
          },
          "description": "A list of sim profiles in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for sim profiles API service call."
    },
    "AccessPointName": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AccessPointNamePropertiesFormat",
          "description": "Access point name properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Access point name resource."
    },
    "AccessPointNamePropertiesFormat": {
      "description": "Access point name properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the access point resource."
        },
        "packetDataNetworkName": {
          "type": "string",
          "description": "The unique id of the mobile network"
        },
        "packetCore": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the packet core."
        },
        "dnsAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The dns addresses of the access point."
        },
        "userEquipmentAddressPoolPrefix": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The user equipment address pool prefixe of the access point."
        }
      }
    },
    "AccessPointNameListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessPointName"
          },
          "description": "A list of access points in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for access point s API service call."
    },
    "SimPolicy": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SimPolicyPropertiesFormat",
          "description": "Sim policies name properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Sim policy resource."
    },
    "SimPolicyPropertiesFormat": {
      "description": "Sim policy properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the sim policy."
        },
        "allowedDataLimit": {
          "type": "string",
          "description": "The amount of data that the sim is allowed to transmit over the mobile network"
        },
        "simProfiles": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "description": "The array of sim policies."
        }
      }
    },
    "SimPolicyListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimPolicy"
          },
          "description": "A list of sim policies in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for sim policies API service call."
    }
  }
}
