{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the packet core resource.",
    "version": "2020-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCores/{packetCoreName}": {
      "delete": {
        "tags": [
          "PacketCores"
        ],
        "operationId": "PacketCoresTest_Delete",
        "description": "Deletes the specified packet core.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "packetCoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the packetCore."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packetCore": {
            "$ref": "./examples/PacketCoreDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "PacketCores"
        ],
        "operationId": "PacketCoresTest_Get",
        "description": "Gets information about the specified PacketCore.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "packetCoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of packetCore."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting mobile network resource.",
            "schema": {
              "$ref": "#/definitions/PacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packetCore": {
            "$ref": "./examples/PacketCoreGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PacketCores"
        ],
        "operationId": "PacketCoresTest_CreateOrUpdate",
        "description": "Creates or updates a packetCore.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "packetCoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the packetCore."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketCore"
            },
            "description": "Parameters supplied to the create or update packetCore operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting packetCore resource.",
            "schema": {
              "$ref": "#/definitions/PacketCore"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting packetCore resource.",
            "schema": {
              "$ref": "#/definitions/PacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create packetCore": {
            "$ref": "./examples/PacketCoreCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "PacketCores"
        ],
        "operationId": "PacketCoresTest_UpdateTags",
        "description": "Updates a packetCore update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "packetCoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the packetCore."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update packetCore tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting packetCore resource.",
            "schema": {
              "$ref": "#/definitions/PacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update packetCore tags": {
            "$ref": "./examples/PacketCoreUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/packetCores": {
      "get": {
        "tags": [
          "PacketCores"
        ],
        "operationId": "PacketCores_ListBySubscription",
        "description": "Lists all the packet cores in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of packet core resources.",
            "schema": {
              "$ref": "#/definitions/PacketCoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all packet cores": {
            "$ref": "./examples/PacketCoreListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCores": {
      "get": {
        "tags": [
          "PacketCores"
        ],
        "operationId": "PacketCores_ListByResourceGroup",
        "description": "Lists all the packet cores in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of packet core resources.",
            "schema": {
              "$ref": "#/definitions/PacketCoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet cores in resource group": {
            "$ref": "./examples/PacketCoreListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PacketCore": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PacketCorePropertiesFormat",
          "description": "Packet core properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Packet core resource."
    },
    "PacketCorePropertiesFormat": {
      "description": "PacketCore properties.",
      "type": "object",
      "properties": {
        "extendedLocation": {
          "description": "The extended location of packet core.",
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        },
        "mcc": {
          "type": "string",
          "description": "The mobile country code."
        }
      }
    },
    "PacketCoreListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PacketCore"
          },
          "description": "A list of packet cores in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for packet cores API service call."
    }
  }
}
