{
  "swagger": "2.0",
  "info": {
    "title": "Private.GEMPrivateRP",
    "version": "2023-03-01-preview",
    "description": "Global Entry Manager Management API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "GlobalEntryManager"
    },
    {
      "name": "EntryProfile"
    },
    {
      "name": "EntryProfileRule"
    },
    {
      "name": "EntryRegion"
    },
    {
      "name": "EntryLink"
    }
  ],
  "paths": {
    "/providers/Private.GEMPrivateRP/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers": {
      "get": {
        "tags": [
          "GlobalEntryManager"
        ],
        "operationId": "GlobalEntryManager_ListBySubscription",
        "description": "List GlobalEntryManagerResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryLinks": {
      "get": {
        "tags": [
          "EntryLink"
        ],
        "operationId": "EntryLink_ListBySubscription",
        "description": "List EntryLinkResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles": {
      "get": {
        "tags": [
          "EntryProfile"
        ],
        "operationId": "EntryProfile_ListBySubscription",
        "description": "List EntryProfileResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles/{entryProfileName}/entryProfileRules": {
      "get": {
        "tags": [
          "EntryProfileRule"
        ],
        "operationId": "EntryProfileRule_ListBySubscription",
        "description": "List EntryProfileRuleResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileRuleResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryRegions": {
      "get": {
        "tags": [
          "EntryRegion"
        ],
        "operationId": "EntryRegion_ListBySubscription",
        "description": "List EntryRegionResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers": {
      "get": {
        "tags": [
          "GlobalEntryManager"
        ],
        "operationId": "GlobalEntryManager_ListByResourceGroup",
        "description": "List GlobalEntryManagerResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}": {
      "get": {
        "tags": [
          "GlobalEntryManager"
        ],
        "operationId": "GlobalEntryManager_Get",
        "description": "Get a GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "GlobalEntryManager"
        ],
        "operationId": "GlobalEntryManager_Create",
        "description": "Create a GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "GlobalEntryManager"
        ],
        "operationId": "GlobalEntryManager_Update",
        "description": "Update a GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "GlobalEntryManager"
        ],
        "operationId": "GlobalEntryManager_Delete",
        "description": "Delete a GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryLinks": {
      "get": {
        "tags": [
          "EntryLink"
        ],
        "operationId": "EntryLink_ListByGlobalEntryManagerResource",
        "description": "List EntryLinkResource resources by GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryLinks/{entryLinkName}": {
      "get": {
        "tags": [
          "EntryLink"
        ],
        "operationId": "EntryLink_Get",
        "description": "Get a EntryLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryLinkName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Link",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EntryLink"
        ],
        "operationId": "EntryLink_Create",
        "description": "Create a EntryLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryLinkName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Link",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "EntryLink"
        ],
        "operationId": "EntryLink_Update",
        "description": "Update a EntryLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryLinkName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Link",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "EntryLink"
        ],
        "operationId": "EntryLink_Delete",
        "description": "Delete a EntryLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryLinkName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Link",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles": {
      "get": {
        "tags": [
          "EntryProfile"
        ],
        "operationId": "EntryProfile_ListByGlobalEntryManagerResource",
        "description": "List EntryProfileResource resources by GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles/{entryProfileName}": {
      "get": {
        "tags": [
          "EntryProfile"
        ],
        "operationId": "EntryProfile_Get",
        "description": "Get a EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EntryProfile"
        ],
        "operationId": "EntryProfile_Create",
        "description": "Create a EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "EntryProfile"
        ],
        "operationId": "EntryProfile_Update",
        "description": "Update a EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "EntryProfile"
        ],
        "operationId": "EntryProfile_Delete",
        "description": "Delete a EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles/{entryProfileName}/entryProfileRules": {
      "get": {
        "tags": [
          "EntryProfileRule"
        ],
        "operationId": "EntryProfileRule_ListByEntryProfileResource",
        "description": "List EntryProfileRuleResource resources by EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileRuleResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles/{entryProfileName}/entryProfileRules/{entryProfileRuleName}": {
      "get": {
        "tags": [
          "EntryProfileRule"
        ],
        "operationId": "EntryProfileRule_Get",
        "description": "Get a EntryProfileRuleResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileRuleName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile Rule",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileRuleResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EntryProfileRule"
        ],
        "operationId": "EntryProfileRule_Create",
        "description": "Create a EntryProfileRuleResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileRuleName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile Rule",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EntryProfileRuleResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileRuleResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EntryProfileRuleResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "EntryProfileRule"
        ],
        "operationId": "EntryProfileRule_Update",
        "description": "Update a EntryProfileRuleResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileRuleName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile Rule",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EntryProfileRuleResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileRuleResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "EntryProfileRule"
        ],
        "operationId": "EntryProfileRule_Delete",
        "description": "Delete a EntryProfileRuleResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileRuleName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Profile Rule",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryRegions": {
      "get": {
        "tags": [
          "EntryRegion"
        ],
        "operationId": "EntryRegion_ListByGlobalEntryManagerResource",
        "description": "List EntryRegionResource resources by GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryRegions/{entryRegionName}": {
      "get": {
        "tags": [
          "EntryRegion"
        ],
        "operationId": "EntryRegion_Get",
        "description": "Get a EntryRegionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryRegionName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Region",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EntryRegion"
        ],
        "operationId": "EntryRegion_Create",
        "description": "Create a EntryRegionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryRegionName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Region",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "EntryRegion"
        ],
        "operationId": "EntryRegion_Update",
        "description": "Update a EntryRegionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryRegionName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Region",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "EntryRegion"
        ],
        "operationId": "EntryRegion_Delete",
        "description": "Delete a EntryRegionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Manager",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryRegionName",
            "in": "path",
            "required": true,
            "description": "The name of the Global Entry Region",
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "BaseResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "description": "Properties for a base resource."
    },
    "EntryLinkId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.GEMPrivateRP/globalEntryManagers/entryLinks"
          }
        ]
      }
    },
    "EntryLinkProperties": {
      "type": "object",
      "properties": {
        "entryProfileId": {
          "$ref": "#/definitions/EntryProfileId",
          "description": "The Id of the entry profile resource that the entry link is attatched to.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "entryRegionId": {
          "$ref": "#/definitions/EntryRegionId",
          "description": "The Id of the entry region resource that the entry link is attatched to.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "publicIpAddressId": {
          "$ref": "#/definitions/PublicIpAddressId",
          "description": "The ID of the IP address to use",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Global Entry Domain Properties.",
      "required": [
        "entryProfileId",
        "entryRegionId",
        "publicIpAddressId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "EntryLinkResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntryLinkProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "description": "A Global Entry Link Resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntryLinkResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntryLinkResource"
          },
          "description": "The EntryLinkResource items on this page",
          "x-typespec-name": "EntryLinkResource[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a EntryLinkResource list operation.",
      "required": [
        "value"
      ]
    },
    "EntryLinkResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        }
      },
      "description": "The type used for update operations of the EntryLinkResource."
    },
    "EntryProfileId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.GEMPrivateRP/globalEntryManagers/entryProfiles"
          }
        ]
      }
    },
    "EntryProfileProperties": {
      "type": "object",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "The DNS Name for the Global Entry Profile.",
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-\\.]{1,62}[a-zA-Z0-9]$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "exitVirtualNetwork": {
          "$ref": "#/definitions/ExitVirtualNetworkProperties",
          "description": "The Exit Virtual Network the Global Entry Profile is providing access to."
        }
      },
      "description": "Global Entry Profile Properties.",
      "required": [
        "dnsName",
        "exitVirtualNetwork"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/LinkableResourceProperties"
        }
      ]
    },
    "EntryProfileResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntryProfileProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "description": "A Global Entry Profile Resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntryProfileResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntryProfileResource"
          },
          "description": "The EntryProfileResource items on this page",
          "x-typespec-name": "EntryProfileResource[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a EntryProfileResource list operation.",
      "required": [
        "value"
      ]
    },
    "EntryProfileResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        },
        "properties": {
          "$ref": "#/definitions/EntryProfileResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the EntryProfileResource."
    },
    "EntryProfileResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "exitVirtualNetwork": {
          "$ref": "#/definitions/ExitVirtualNetworkPropertiesUpdate",
          "description": "The Exit Virtual Network the Global Entry Profile is providing access to."
        }
      },
      "description": "The updatable properties of the EntryProfileResource."
    },
    "EntryProfileRuleProperties": {
      "type": "object",
      "properties": {
        "sourceAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpRule"
          },
          "description": "The source addresses.",
          "x-typespec-name": "IpRule[]",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The port that the traffic enters on at the edge of the Global Entry Manager.",
          "x-typespec-name": "string[]",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "ipProtocols": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpProtocol"
          },
          "description": "The protocol of the source.",
          "x-typespec-name": "IpProtocol[]",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "translatedAddress": {
          "$ref": "#/definitions/IpAddress",
          "description": "The address in the exit virtual network that the Global Entry Manager is forwarding traffic to.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "translatedPort": {
          "type": "string",
          "description": "The port of the address in the exit virtual network that the Global Entry Manager is forwarding traffic to.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Global Entry Profile Rule Properties.",
      "required": [
        "sourceAddresses",
        "destinationPorts",
        "ipProtocols",
        "translatedAddress",
        "translatedPort"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "EntryProfileRuleResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntryProfileRuleProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "description": "A Global Entry Profile Rule Resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntryProfileRuleResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntryProfileRuleResource"
          },
          "description": "The EntryProfileRuleResource items on this page",
          "x-typespec-name": "EntryProfileRuleResource[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a EntryProfileRuleResource list operation.",
      "required": [
        "value"
      ]
    },
    "EntryProfileRuleResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        },
        "properties": {
          "$ref": "#/definitions/EntryProfileRuleResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the EntryProfileRuleResource."
    },
    "EntryProfileRuleResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "sourceAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpRule"
          },
          "description": "The source addresses.",
          "x-typespec-name": "IpRule[]",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The port that the traffic enters on at the edge of the Global Entry Manager.",
          "x-typespec-name": "string[]",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "ipProtocols": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpProtocol"
          },
          "description": "The protocol of the source.",
          "x-typespec-name": "IpProtocol[]",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "translatedAddress": {
          "$ref": "#/definitions/IpAddress",
          "description": "The address in the exit virtual network that the Global Entry Manager is forwarding traffic to.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "translatedPort": {
          "type": "string",
          "description": "The port of the address in the exit virtual network that the Global Entry Manager is forwarding traffic to.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "The updatable properties of the EntryProfileRuleResource."
    },
    "EntryRegionId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.GEMPrivateRP/globalEntryManagers/entryRegions"
          }
        ]
      }
    },
    "EntryRegionProperties": {
      "type": "object",
      "properties": {},
      "description": "Entry Region Properties.",
      "allOf": [
        {
          "$ref": "#/definitions/LinkableResourceProperties"
        }
      ]
    },
    "EntryRegionResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntryRegionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "description": "A Global Entry Region Resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntryRegionResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntryRegionResource"
          },
          "description": "The EntryRegionResource items on this page",
          "x-typespec-name": "EntryRegionResource[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a EntryRegionResource list operation.",
      "required": [
        "value"
      ]
    },
    "EntryRegionResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        }
      },
      "description": "The type used for update operations of the EntryRegionResource."
    },
    "ExitVirtualNetworkProperties": {
      "type": "object",
      "properties": {
        "virtualNetworkId": {
          "$ref": "#/definitions/VirtualNetworkId",
          "description": "The ID of the virtual network where traffic from the Global Entry Manager will land.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "useRemoteGateways": {
          "type": "boolean",
          "description": "The flag of whether to use the Transport Gateway in the Exit Virtual Network.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Exit Virtual Network Properties.",
      "required": [
        "virtualNetworkId",
        "useRemoteGateways"
      ]
    },
    "ExitVirtualNetworkPropertiesUpdate": {
      "type": "object",
      "properties": {
        "useRemoteGateways": {
          "type": "boolean",
          "description": "The flag of whether to use the Transport Gateway in the Exit Virtual Network.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Exit Virtual Network Properties."
    },
    "GlobalEntryManagerProperties": {
      "type": "object",
      "properties": {
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupProperties",
          "description": "The Managed Resource Group for the Global Entry Manager."
        }
      },
      "description": "Global Entry Manager Properties.",
      "required": [
        "managedResourceGroupConfiguration"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "GlobalEntryManagerResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GlobalEntryManagerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "description": "A Global Entry Manager Resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GlobalEntryManagerResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GlobalEntryManagerResource"
          },
          "description": "The GlobalEntryManagerResource items on this page",
          "x-typespec-name": "GlobalEntryManagerResource[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a GlobalEntryManagerResource list operation.",
      "required": [
        "value"
      ]
    },
    "GlobalEntryManagerResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        },
        "properties": {
          "$ref": "#/definitions/GlobalEntryManagerResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the GlobalEntryManagerResource."
    },
    "GlobalEntryManagerResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupPropertiesUpdate",
          "description": "The Managed Resource Group for the Global Entry Manager."
        }
      },
      "description": "The updatable properties of the GlobalEntryManagerResource."
    },
    "IpAddress": {
      "type": "string",
      "description": "An IPv4/IPv6 address.",
      "pattern": "^(?:\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}|\\[[0-9A-Fa-f:]+\\]|\\*)$"
    },
    "IpProtocol": {
      "type": "string",
      "description": "Protocol for the traffic rule",
      "enum": [
        "TCP",
        "UDP",
        "ICMP",
        "Any"
      ],
      "x-ms-enum": {
        "name": "IpProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "TCP",
            "value": "TCP",
            "description": "Transmission Control Protocol"
          },
          {
            "name": "UDP",
            "value": "UDP",
            "description": "User Datagram Protocol"
          },
          {
            "name": "ICMP",
            "value": "ICMP",
            "description": "Internet Control Message Protocol"
          },
          {
            "name": "Any",
            "value": "Any",
            "description": "Any protocol"
          }
        ]
      }
    },
    "IpRule": {
      "type": "string",
      "description": "An IPv4/IPv6 address/prefix, or wildcard.",
      "pattern": "^(?:\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}(?:\\/\\d{1,2})?|\\[[0-9A-Fa-f:]+\\](?:\\/\\d{1,3})?|\\*)$"
    },
    "LinkableResourceProperties": {
      "type": "object",
      "properties": {
        "entryLinkIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntryLinkId"
          },
          "description": "The Entry Links attached to this resource.",
          "x-typespec-name": "EntryLinkId[]",
          "readOnly": true
        }
      },
      "description": "Properties for a linkable resource.",
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "ManagedResourceGroupProperties": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Name of the Managed Resource Group.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "location": {
          "type": "string",
          "description": "The Managed Resource Group Region is associated to.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Managed Resource Group Properties.",
      "required": [
        "name",
        "location"
      ]
    },
    "ManagedResourceGroupPropertiesUpdate": {
      "type": "object",
      "properties": {},
      "description": "Managed Resource Group Properties."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "PublicIpAddressId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.GEMPrivateRP/publicIPAddresss"
          }
        ]
      }
    },
    "VirtualNetworkId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.GEMPrivateRP/virtualNetworks"
          }
        ]
      }
    }
  },
  "parameters": {}
}
