{
    "swagger": "2.0",
    "info": {
        "version": "2022-04-01-preview",
        "title": "azureedgezones",
        "description": "RPaaS service for managing Elephant resources"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elephant/virtualMachines": {
            "get": {
                "tags": [
                    "???"
                ],
                "operationId": "VirtualMachines_List",
                "description": "List all virtual machines in the resource group.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of virtual machines successful. The operation returns the resulting virtualMachines resources.",
                        "schema": {
                            "$ref": "#/definitions/VirtualMachineListResult"
                        }
                    },
                    "default": {
                        "description": "Default response is a failure.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "ListVirtualMachine": {
                        "$ref": "./examples/VirtualMachineList.json"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elephant/virtualMachines/{virtualMachineName}": {
            "delete": {
                "tags": [
                    "???"
                ],
                "operationId": "VirtualMachines_Delete",
                "description": "Deletes the specified virtual machine.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/VirtualMachineNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously."
                    },
                    "204": {
                        "description": "Request successful. Resource with the specified name does not exist"
                    },
                    "200": {
                        "description": "Delete successful."
                    },
                    "default": {
                        "description": "Default response is a failure.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "DeleteVirtualMachine": {
                        "$ref": "./examples/VirtualMachineDelete.json"
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "tags": [
                    "Tag1"
                ],
                "operationId": "VirtualMachines_Get",
                "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/VirtualMachineNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }

                ],
                "responses": {
                    "200": {
                        "description": "Describe the result of a successful operation.",
                        "schema": {
                            "$ref": "#/definitions/VirtualMachine"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "GetVirtualMachine": {
                        "$ref": "./examples/VirtualMachineGet.json"
                    }
                }
            },
            "put": {
                "tags": [
                    "???"
                ],
                "operationId": "VirtualMachines_CreateOrUpdate",
                "description": "Creates or updates the specified virtual machine.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/VirtualMachineNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/VirtualMachine"
                        },
                        "description": "Parameters supplied to the create or update virtualMachine operation."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Create successful. The operation returns the resulting virtualMachine resource.",
                        "schema": {
                            "$ref": "#/definitions/VirtualMachine"
                        }
                    },
                    "200": {
                        "description": "Update successful. The operation returns the resulting virtualMachine resource.",
                        "schema": {
                            "$ref": "#/definitions/VirtualMachine"
                        }
                    },
                    "default": {
                        "description": "Default response is a failure.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "PutVirtualMachine": {
                        "$ref": "./examples/VirtualMachinePut.json"
                    }
                }
            },
            "patch": {
                "tags": [
                    "???"
                ],
                "operationId": "VirtualMachines_Update",
                "description": "Updates the specified virtual machine.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/VirtualMachineNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "x-ms-client-flatten": true,
                        "schema": {
                            "$ref": "#/definitions/VirtualMachinePropertiesUpdate"
                        },
                        "description": "Parameters supplied to the update virtualMachine operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update successful. The operation returns the resulting virtualMachine resource.",
                        "schema": {
                            "$ref": "#/definitions/VirtualMachine"
                        }
                    },
                    "default": {
                        "description": "Default response is a failure.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "PatchVirtualMachine": {
                        "$ref": "./examples/VirtualMachinePatch.json"
                    }
                }
            }
        }
    },
    "definitions": {
        "Result": {
            "description": "Sample result definition",
            "properties": {
                "sampleProperty": {
                    "type": "string",
                    "description": "Sample property of type string"
                }
            }
        },
        "ErrorResponse": {
            "description": "Error response.",
            "properties": {
                "error": {
                    "$ref": "#/definitions/ErrorDefinition",
                    "description": "The error details."
                }
            }
        },
        "ErrorDefinition": {
            "description": "Error definition.",
            "properties": {
                "code": {
                    "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                    "type": "string",
                    "readOnly": true
                },
                "message": {
                    "description": "Description of the error.",
                    "type": "string",
                    "readOnly": true
                },
                "details": {
                    "description": "Internal error details.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorDefinition"
                    },
                    "readOnly": true
                }
            }
        },
        "Resource": {
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource ID."
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name."
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type."
                },
                "location": {
                    "type": "string",
                    "description": "Resource location."
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags."
                }
            },
            "title": "Resource",
            "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
            "type": "object",            
            "x-ms-azure-resource": true
        },
        "ProvisioningState": {
            "type": "string",
            "readOnly": true,
            "description": "The current provisioning state.",
            "enum": [
              "Succeeded",
              "Updating",
              "Deleting",
              "Failed"
            ],
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            }
        },
        "OSType": {
            "type": "string",
            "description": "The desired OS type.",
            "enum": [
                "Windows",
                "Linux"
            ],
            "x-ms-enum": {
                "name": "OSType",
                "modelAsString": true
            }
        },
        "VirtualMachinePropertiesFormat": {
            "properties": {
                "provisioningState": {
                    "readOnly": true,
                    "description": "The provisioning state of the resource.",
                    "$ref": "#/definitions/ProvisioningState"
                },
                "machineName": {
                    "type": "string",
                    "description": "Resource ID."
                },
                "adminUsername": {
                    "type": "string",
                    "description": "Admin account username."
                },
                "adminPassword": {
                    "type": "string",
                    "description": "Admin account password."
                },
                "osType": {
                    "description": "The provisioning state of the resource.",
                    "$ref": "#/definitions/OSType"
                }
            },
            "description": "Properties of the virtual machine."
        },
        "VirtualMachine": {
            "title": "Virtual Machine Resource",
            "description": "The model definition for a virutal machine resource.",
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/VirtualMachinePropertiesFormat",
                    "description": "Properties of the virtual machine."
                },
                "etag": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Gets a unique read-only string that changes whenever the resource is updated."
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "required": [
                "properties"
            ]
        },
        "VirtualMachinePropertiesUpdate": {
            "description": "The properties for a virtual machine update operation.",
            "properties": {
                "machineName": {
                    "type": "string",
                    "description": "Resource ID."
                },
                "adminUsername": {
                    "type": "string",
                    "description": "Admin account username."
                },
                "adminPassword": {
                    "type": "string",
                    "description": "Admin account password."
                }
            }
        },
        "VirtualMachineListResult": {
            "properties": {
              "value": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/VirtualMachine"
                },
                "readOnly": true,
                "description": "A response message containing a list of virtual machines in the specified resource group."
              },
              "nextLink": {
                "type": "string",
                "readOnly": true,
                "description": "The URL to get the next set of virtual machines."
              }
            },
            "description": "The virtual machine list result."
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
        },
        "ResourceGroupNameParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group.",
            "x-ms-parameter-location": "method"
        },
        "VirtualMachineNameParameter": {
            "name": "virtualMachineName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine.",
            "x-ms-parameter-location": "method"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The API version to be used with the HTTP request."
        }
    }
}