{
  "swagger": "2.0",
  "info": {
    "description": "The resources in this swagger specification will be used to manage the service management container and sub components.",
    "title": "ServiceManagementContainer",
    "version": "2023-02-20-preview"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "tags": [
    {
      "description": "Actions on Service Management Container",
      "name": "ServiceManagementContainer"
    },
    {
      "description": "Actions on RolloutTier",
      "name": "RolloutTier"
    },
    {
      "description": "Everything about RolloutScript",
      "name": "RolloutScript"
    },
    {
      "description": "Actions on UpdateSpec",
      "name": "UpdateSpec"
    },
    {
      "description": "Everything about Rollout",
      "name": "Rollout"
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/rolloutScripts/{rolloutScriptName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout Script",
            "name": "rolloutScriptName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["RolloutScript"],
        "operationId": "RolloutScript_Delete",
        "summary": "Delete Rollout Script",
        "x-ms-examples": {
          "RolloutScriptDelete": {
            "$ref": "./examples/RolloutScriptDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout Script",
            "name": "rolloutScriptName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutScript"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["RolloutScript"],
        "operationId": "RolloutScript_Get",
        "summary": "Get Rollout Script",
        "x-ms-examples": {
          "RolloutScriptGet": {
            "$ref": "./examples/RolloutScriptGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout Script",
            "name": "rolloutScriptName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RolloutScript"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutScript"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["RolloutScript"],
        "operationId": "RolloutScript_CreateOrUpdate",
        "summary": "Create a Rollout Script object",
        "x-ms-examples": {
          "RolloutScriptCreateOrUpdate": {
            "$ref": "./examples/RolloutScriptCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/rolloutScripts": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of Rollout Script resources.",
            "schema": {
              "$ref": "#/definitions/RolloutScriptListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["RolloutScript"],
        "operationId": "RolloutScript_ListByServiceManagementContainer",
        "summary": "Lists all the RolloutScripts in a Service Management Container.",
        "x-ms-examples": {
          "RolloutScriptListByServiceManagementContainer": {
            "$ref": "./examples/RolloutScriptListByServiceManagementContainer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updatespecs": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of UpdateSpec resources.",
            "schema": {
              "$ref": "#/definitions/UpdateSpecListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["UpdateSpec"],
        "operationId": "UpdateSpec_ListByServiceManagementContainer",
        "summary": "Lists all the UpdateSpecs in a Service Management Container.",
        "x-ms-examples": {
          "UpdateSpecListByServiceManagementContainer": {
            "$ref": "./examples/UpdateSpecListByServiceManagementContainer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/RolloutTiers": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of rollout tier resources.",
            "schema": {
              "$ref": "#/definitions/RolloutTierListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["RolloutTier"],
        "operationId": "RolloutTier_ListByServiceManagementContainer",
        "summary": "Lists all the Rollout Tiers in a Service Management Container.",
        "x-ms-examples": {
          "RolloutTierListByServiceManagementContainer": {
            "$ref": "./examples/RolloutTierListByServiceManagementContainer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/rolloutTiers/{rolloutTierName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout tier",
            "name": "rolloutTierName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["RolloutTier"],
        "operationId": "RolloutTier_Delete",
        "summary": "Delete Rollout Tier",
        "x-ms-examples": {
          "RolloutTierDelete": {
            "$ref": "./examples/RolloutTierDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout tier",
            "name": "rolloutTierName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutTier"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Order not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["RolloutTier"],
        "operationId": "RolloutTier_Get",
        "summary": "Get Rollout Tier",
        "x-ms-examples": {
          "RolloutTierGet": {
            "$ref": "./examples/RolloutTierGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout tier",
            "name": "rolloutTierName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RolloutTier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutTier"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["RolloutTier"],
        "operationId": "RolloutTier_CreateOrUpdate",
        "summary": "Create a rollout tier object",
        "x-ms-examples": {
          "RolloutTierCreateOrUpdate": {
            "$ref": "./examples/RolloutTierCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout",
            "name": "rolloutName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["Rollout"],
        "operationId": "Rollout_Delete",
        "summary": "Delete a rollout",
        "x-ms-examples": {
          "RolloutDelete": {
            "$ref": "./examples/RolloutDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout",
            "name": "rolloutName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Rollout"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["Rollout"],
        "operationId": "Rollout_Get",
        "summary": "Get rollout",
        "x-ms-examples": {
          "RolloutGet": {
            "$ref": "./examples/RolloutGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout",
            "name": "rolloutName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Rollout"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Rollout"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["Rollout"],
        "operationId": "Rollout_CreateOrUpdate",
        "summary": "Create a new rollout",
        "x-ms-examples": {
          "RolloutCreateOrUpdate": {
            "$ref": "./examples/RolloutCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/start": {
      "post": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout",
            "name": "rolloutName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["Rollout"],
        "operationId": "Rollout_Start",
        "summary": "Starts the specified rollout",
        "x-ms-examples": {
          "RolloutStart": {
            "$ref": "./examples/RolloutStart.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/stop": {
      "post": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the rollout",
            "name": "rolloutName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["Rollout"],
        "operationId": "Rollout_Stop",
        "summary": "Stops the specified rollout",
        "x-ms-examples": {
          "RolloutStop": {
            "$ref": "./examples/RolloutStop.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutListResult"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["Rollout"],
        "operationId": "Rollout_ListByUpdateSpec",
        "summary": "Lists all the Rollouts in an UpdateSpec",
        "x-ms-examples": {
          "RolloutListByUpdateSpec": {
            "$ref": "./examples/RolloutListByUpdateSpec.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}": {
      "put": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["ServiceManagementContainer"],
        "description": "Create a new service management container.  Can be created without the next creation of SDP objects. \n",
        "operationId": "ServiceManagementContainer_CreateOrUpdate",
        "summary": "Create a new service management container",
        "x-ms-examples": {
          "ServiceManagementContainerCreateOrUpdate": {
            "$ref": "./examples/ServiceManagementContainerCreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["ServiceManagementContainer"],
        "operationId": "ServiceManagementContainer_Delete",
        "summary": "Delete the management container",
        "x-ms-examples": {
          "ServiceManagementContainerDelete": {
            "$ref": "./examples/ServiceManagementContainerDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["ServiceManagementContainer"],
        "operationId": "ServiceManagementContainer_Get",
        "summary": "Get service management container",
        "x-ms-examples": {
          "ServiceManagementContainerGet": {
            "$ref": "./examples/ServiceManagementContainerGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainerListResult"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["ServiceManagementContainer"],
        "operationId": "ServiceManagementContainerListResult_ListByResouceGroup",
        "summary": "Lists all the Service Management Container in a resource group",
        "x-ms-examples": {
          "ServiceManagementContainerListResultListByResouceGroup": {
            "$ref": "./examples/ServiceManagementContainerListResultListByResouceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}": {
      "put": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSpec"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateSpec"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["UpdateSpec"],
        "description": "UpdateSpec represents the change to the system – the set of CGVs,  that operator want to provision this system to. It does not matter whether it  is Major/Minor update, a bug fix or a configuration\n",
        "operationId": "UpdateSpec_CreateOrUpdate",
        "summary": "Create an Update Spec object script",
        "x-ms-examples": {
          "UpdateSpecCreateOrUpdate": {
            "$ref": "./examples/UpdateSpecCreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["UpdateSpec"],
        "operationId": "UpdateSpec_Delete",
        "summary": "Delete Update Spec",
        "x-ms-examples": {
          "UpdateSpecDelete": {
            "$ref": "./examples/UpdateSpecDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service management container",
            "name": "serviceManagementContainerName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "description": "The name of the update spec",
            "name": "updateSpecName",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateSpec"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": ["UpdateSpec"],
        "operationId": "UpdateSpec_Get",
        "summary": "Get UpdateSpec",
        "x-ms-examples": {
          "UpdateSpecGet": {
            "$ref": "./examples/UpdateSpecGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PostAction": {
      "description": "Action to be applied that should help the Operator to make sure that it is safe to proceed with change to the next RolloutTier.",
      "enum": ["WaitingGate", "ManualGate"],
      "type": "string",
      "x-ms-enum": {
        "name": "PostAction",
        "modelAsString": true
      }
    },
    "PreAction": {
      "description": "Behaviour modifiers or pre-actions, they are executed before Azure Operator Service Manager(AOSM) start to converge a SiteNetworkService",
      "enum": ["StopOnUnexpected"],
      "type": "string",
      "x-ms-enum": {
        "name": "PreAction",
        "modelAsString": true
      }
    },
    "GateAction": {
      "type": "object",
      "properties": {
        "preActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PreAction"
          },
          "x-ms-mutability": ["read", "create", "update"]
        },
        "postActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PostAction"
          },
          "x-ms-mutability": ["read", "create", "update"]
        }
      }
    },
    "RolloutListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rollout"
          },
          "description": "A list of Rollouts."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of Rollouts."
    },
    "Rollout": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RolloutPropertiesFormat",
          "description": "Rollout properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RolloutPropertiesFormat": {
      "description": "Rollout properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ],
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the rollout resource."
        },
        "rolloutScriptReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "x-ms-mutability": ["read", "create"]
        },
        "rolloutState": {
          "$ref": "#/definitions/RolloutState",
          "x-ms-mutability": ["read"]
        }
      }
    },
    "RolloutScriptListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RolloutScript"
          },
          "description": "A list of Rollout Scripts."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of Rollout Scripts."
    },
    "RolloutScript": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RolloutScriptPropertiesFormat",
          "description": "RolloutScript properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RolloutScriptPropertiesFormat": {
      "description": "RolloutScript properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ],
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the rollout script resource."
        },
        "rolloutTierActions": {
          "items": {
            "$ref": "#/definitions/RolloutTierActionProperties"
          },
          "type": "array",
          "x-ms-mutability": ["read", "create", "update"],
          "description": "The rollout tier action list."
        }
      }
    },
    "RolloutTierListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RolloutTier"
          },
          "description": "A list of RolloutTiers."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of RolloutTiers."
    },
    "RolloutTier": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RolloutTierPropertiesFormat",
          "description": "Rollout Tier properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RolloutTierPropertiesFormat": {
      "description": "Rollout Tier properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ],
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the rollout tier resource."
        },
        "excludedSiteNetworkServices": {
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "x-ms-mutability": ["read", "create", "update"]
        },
        "tierTag": {
          "type": "string",
          "description": "Talking name of the tier.",
          "x-ms-mutability": ["read", "create", "update"]
        },
        "orderedSiteNetworkServices": {
          "description": "An ordered list of SiteNetworkServices",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "x-ms-mutability": ["read", "create", "update"]
        }
      }
    },
    "RolloutTierActionProperties": {
      "type": "object",
      "properties": {
        "rolloutTierReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "x-ms-mutability": ["read", "create", "update"]
        },
        "insideTierActions": {
          "description": "SDP stays the same between SiteNetWorkServices whithin RolloutTiers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GateAction"
          },
          "x-ms-mutability": ["read", "create", "update"]
        },
        "postTierActions": {
          "description": "SDP may vary from Tier to Tier",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GateAction"
          },
          "x-ms-mutability": ["read", "create", "update"]
        }
      }
    },
    "ServiceManagementContainerListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceManagementContainer"
          },
          "description": "A list of ServiceManagementContainers."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of ServiceManagementContainers."
    },
    "ServiceManagementContainer": {
      "properties": {
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RolloutState": {
      "enum": ["Ready", "ActivePaused", "Cancelled", "Failed", "Completed"],
      "type": "string",
      "example": "Ready",
      "x-ms-enum": {
        "name": "RolloutState",
        "modelAsString": true
      }
    },
    "UpdateSpecListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdateSpec"
          },
          "description": "A list of UpdateSpecs."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of UpdateSpecs."
    },
    "UpdateSpec": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpdateSpecPropertiesFormat",
          "description": "UpdateSpec properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "UpdateSpecPropertiesFormat": {
      "description": "UpdateSpec properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ],
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the update spec resource."
        },
        "configurationGroupValueChanges": {
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationGroupValueChange"
          },
          "type": "object",
          "x-ms-mutability": ["read", "create", "update"]
        },
        "networkServiceDesignVersionChange": {
          "$ref": "#/definitions/NetworkServiceDesignVersionChange",
          "x-ms-mutability": ["read", "create", "update"]
        },
        "restrictions": {
          "description": "List of Tiers/SiteNetworkServices it cannot be applied to",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "x-ms-mutability": ["read", "create", "update"]
        }
      }
    },
    "NetworkServiceDesignVersionChange": {
      "type": "object",
      "required": [
        "existingNetworkServiceDesignReference",
        "newNetworkServiceDesignReference"
      ],
      "properties": {
        "existingNetworkServiceDesignReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The network service design version details",
          "x-ms-mutability": ["read", "create", "update"]
        },
        "newNetworkServiceDesignReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The network service design version details",
          "x-ms-mutability": ["read", "create", "update"]
        }
      }
    },
    "ConfigurationGroupValueChange": {
      "type": "object",
      "required": ["newConfigurationGroupValueReference"],
      "properties": {
        "existingConfigurationGroupValueReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "x-ms-mutability": ["read", "create", "update"]
        },
        "newConfigurationGroupValueReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The goal state of the site network service resource. This has references to the configuration group value objects that describe the desired state of the site network service.",
          "x-ms-mutability": ["read", "create", "update"]
        }
      }
    }
  }
}
