{
  "swagger": "2.0",
  "info": {
    "title": "SpringBootSites",
    "description": "The Microsoft.SpringBootSites Rest API spec.",
    "version": "2022-07-01-preview",
    "x-ms-code-generation-settings": {
      "name": "SpringBootSitesClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SpringBootSites/springboots/{springbootsName}": {
      "get": {
        "operationId": "springboots_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the springboots resource.",
            "schema": {
              "$ref": "#/definitions/springboots"
            }
          }
        },
        "x-ms-examples": {
          "springboots_Retrieve_MaximumSet_Gen": {
            "$ref": "./examples/springboots_Retrieve_MaximumSet_Gen.json"
          },
          "springboots_Retrieve_MinimumSet_Gen": {
            "$ref": "./examples/springboots_Retrieve_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "springboots_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "springboots",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springboots"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springboots resource.",
            "schema": {
              "$ref": "#/definitions/springboots"
            }
          },
          "201": {
            "description": "Creates the springboots resource.",
            "schema": {
              "$ref": "#/definitions/springboots"
            }
          }
        },
        "x-ms-examples": {
          "springboots_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/springboots_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "springboots_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/springboots_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "springboots_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the springboots resource."
          }
        },
        "x-ms-examples": {
          "springboots_Delete_MaximumSet_Gen": {
            "$ref": "./examples/springboots_Delete_MaximumSet_Gen.json"
          },
          "springboots_Delete_MinimumSet_Gen": {
            "$ref": "./examples/springboots_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "springboots_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "springboots",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springboots resource.",
            "schema": {
              "$ref": "#/definitions/springboots"
            }
          },
          "201": {
            "description": "Updates the springboots resource.",
            "schema": {
              "$ref": "#/definitions/springboots"
            }
          }
        },
        "x-ms-examples": {
          "springboots_Update_MaximumSet_Gen": {
            "$ref": "./examples/springboots_Update_MaximumSet_Gen.json"
          },
          "springboots_Update_MinimumSet_Gen": {
            "$ref": "./examples/springboots_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SpringBootSites/springboots": {
      "get": {
        "operationId": "springboots_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springboots under the resouce group.",
            "schema": {
              "$ref": "#/definitions/springbootsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springboots_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/springboots_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "springboots_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/springboots_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SpringBootSites/springboots": {
      "get": {
        "operationId": "springboots_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springboots under the subscription.",
            "schema": {
              "$ref": "#/definitions/springbootsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springboots_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/springboots_ListBySubscription_MaximumSet_Gen.json"
          },
          "springboots_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/springboots_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.SpringBootSites/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "springbootsProperties": {
      "type": "object",
      "properties": {
        "server": {
          "type": "string",
          "description": "Server name to discover"
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "description": "Status of discovery: Reconciled/Failed"
            }
          },
          "description": "SpringBootStatus defines the observed state of SpringBoot"
        }
      },
      "description": "SpringBootSpec defines the desired state of SpringBoot"
    },
    "springboots": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/springbootsProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The springboots resource definition."
    },
    "springbootsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The springboots resource patch definition."
    },
    "springbootsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/springboots"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "springbootsNameParameter": {
      "name": "springbootsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}