{
    "swagger": "2.0",
    "info": {
      "title": "Microsoft.GameDevkits",
      "version": "2022-07-12-alpha"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "produces": [
      "application/json"
    ],
    "consumes": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "tags": [
      {
        "name": "GameDevAccounts"
      },
      {
        "name": "GameDevSessions"
      },
      {
        "name": "Operations"
      }
    ],
    "paths": {
      "/providers/Microsoft.GameDevkits/operations": {
        "get": {
          "tags": [
            "Operations"
          ],
          "operationId": "Operations_List",
          "description": "List the operations for the provider",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.GameDevkits/gameDevAccounts": {
        "get": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_ListBySubscription",
          "description": "List GameDevAccount resources by subscription ID",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccountListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts": {
        "get": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_ListByResourceGroup",
          "description": "List GameDevAccount resources by resource group",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccountListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}": {
        "put": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_CreateOrUpdate",
          "description": "Create or update a GameDevAccount.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "description": "Create or update GameDevAccount parameters.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "get": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_Get",
          "description": "Get a GameDevAccount",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_Delete",
          "description": "Deletes a GameDevAccount.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_Update",
          "description": "Updates a GameDevAccount",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            },
            {
              "name": "properties",
              "in": "body",
              "required": true,
              "description": "The GameDevAccount properties to be updated.",
              "schema": {
                "$ref": "#/definitions/GameDevAccountUpdate"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions": {
        "get": {
          "tags": [
            "GameDevSessions"
          ],
          "operationId": "GameDevSessions_ListByGameDevAccounts",
          "description": "List GameDevSession resources by GameDevAccounts",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevSessionListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions/{gameDevSessionName}": {
        "get": {
          "tags": [
            "GameDevSessions"
          ],
          "operationId": "GameDevSessions_Get",
          "description": "Get a GameDevSession",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            },
            {
              "$ref": "#/parameters/GameDevSession.gameDevSessionName"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevSession"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "GameDevSessions"
          ],
          "operationId": "GameDevSessions_CreateOrUpdate",
          "description": "Create a GameDevSession",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            },
            {
              "$ref": "#/parameters/GameDevSession.gameDevSessionName"
            },
            {
              "name": "resource",
              "in": "body",
              "required": true,
              "description": "Resource create parameters.",
              "schema": {
                "$ref": "#/definitions/GameDevSession"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevSession"
              }
            },
            "201": {
              "description": "ARM create operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevSession"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "x-ms-long-running-operation": true
        },
        "delete": {
          "tags": [
            "GameDevSessions"
          ],
          "operationId": "GameDevSessions_Delete",
          "description": "Delete a GameDevSession",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            },
            {
              "$ref": "#/parameters/GameDevSession.gameDevSessionName"
            }
          ],
          "responses": {
            "200": {
              "description": "Resource deleted successfully."
            },
            "202": {
              "description": "Resource deletion accepted."
            },
            "204": {
              "description": "Resource deleted successfully."
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "x-ms-long-running-operation": true
        }
      }
    },
    "definitions": {
      "Command": {
        "type": "object",
        "properties": {
          "input": {
            "type": "string"
          },
          "arguments": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the command."
          },
          "commandState": {
            "$ref": "#/definitions/CommandState"
          },
          "output": {
            "type": "string",
            "readOnly": true
          }
        },
        "description": "Details of a command.",
        "required": [
          "input",
          "commandState",
          "output"
        ]
      },
      "CommandState": {
        "type": "string",
        "description": "The status of the current operation.",
        "enum": [
          "UNKNOWN",
          "ACCEPTED",
          "RUNNING",
          "SUCCEEDED",
          "FAILED"
        ],
        "x-ms-enum": {
          "name": "CommandState",
          "modelAsString": true
        }
      },
      "GameDevAccount": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/GameDevAccountProperties",
            "description": "The resource-specific properties for this resource.",
            "x-ms-mutability": [
              "read",
              "create"
            ],
            "x-ms-client-flatten": true
          },
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
            "description": "System metadata for this resource.",
            "readOnly": true
          }
        },
        "description": "A GameDevAccount resource",
        "required": [
          "properties"
        ],
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ]
      },
      "GameDevAccountListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/GameDevAccount"
            },
            "x-cadl-name": "GameDevAccount[]",
            "description": "The items on this page"
          },
          "nextLink": {
            "type": "string",
            "description": "The link to the next page of items"
          }
        },
        "description": "The response of a GameDevAccount list operation.",
        "required": [
          "value"
        ]
      },
      "GameDevAccountProperties": {
        "type": "object",
        "properties": {
          "provisioningState": {
            "$ref": "#/definitions/ProvisioningState",
            "description": "The provisioning state of the resource.",
            "readOnly": true
          }
        },
        "description": "Properties of GameDevAccount"
      },
      "GameDevAccountUpdate": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags."
          },
          "properties": {
            "$ref": "#/definitions/GameDevAccountUpdateProperties"
          }
        },
        "description": "Update model for GameDevAccount"
      },
      "GameDevAccountUpdateProperties": {
        "type": "object",
        "properties": {},
        "description": "The updatable properties of the GameDevAccount."
      },
      "GameDevSession": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/GameDevSessionProperties",
            "description": "The resource-specific properties for this resource.",
            "x-ms-mutability": [
              "read",
              "create"
            ],
            "x-ms-client-flatten": true
          },
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
            "description": "System metadata for this resource.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of the GameDevSession resource.",
            "readOnly": true
          }
        },
        "description": "Details of a GameDevSession resource.",
        "required": [
          "properties",
          "name"
        ],
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
          }
        ]
      },
      "GameDevSessionListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/GameDevSession"
            },
            "x-cadl-name": "GameDevSession[]",
            "description": "The items on this page"
          },
          "nextLink": {
            "type": "string",
            "description": "The link to the next page of items"
          }
        },
        "description": "The response of a GameDevSession list operation.",
        "required": [
          "value"
        ]
      },
      "GameDevSessionProperties": {
        "type": "object",
        "properties": {
          "buildId": {
            "type": "string",
            "description": "Id of the GameDevBuild"
          },
          "provisioningState": {
            "$ref": "#/definitions/GameDevSessionProvisioningState",
            "description": "The provisioning state of the GameDevSession.",
            "readOnly": true
          },
          "sessionTaskDetails": {
            "$ref": "#/definitions/SessionTaskDetails"
          }
        },
        "description": "Properties of the GameDevSession",
        "required": [
          "buildId",
          "sessionTaskDetails"
        ]
      },
      "GameDevSessionProvisioningState": {
        "type": "string",
        "description": "The status of the current operation.",
        "enum": [
          "CREATING",
          "CREATED",
          "INUSE",
          "TERMINATING",
          "TERMINATED",
          "FAILED"
        ],
        "x-ms-enum": {
          "name": "GameDevSessionProvisioningState",
          "modelAsString": true
        }
      },
      "ProvisioningState": {
        "type": "string",
        "enum": [
          "NotSpecified",
          "Accepted",
          "Creating",
          "Deleting",
          "Canceled",
          "Failed",
          "Succeeded"
        ],
        "x-ms-enum": {
          "name": "ProvisioningState",
          "modelAsString": false
        }
      },
      "SessionTaskDetails": {
        "type": "object",
        "properties": {
          "provision": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Command"
            },
            "x-ms-identifiers": [],
            "x-cadl-name": "Command[]"
          },
          "launch": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Command"
            },
            "x-ms-identifiers": [],
            "x-cadl-name": "Command[]"
          },
          "deprovision": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Command"
            },
            "x-ms-identifiers": [],
            "x-cadl-name": "Command[]"
          }
        },
        "description": "Details of the tasks related to the session.",
        "required": [
          "provision",
          "launch",
          "deprovision"
        ]
      }
    },
    "parameters": {
      "GameDevAccount.gameDevAccountName": {
        "name": "gameDevAccountName",
        "in": "path",
        "required": true,
        "description": "Name of the GameDevAccount resource.",
        "type": "string",
        "x-ms-parameter-location": "method"
      },
      "GameDevSession.gameDevSessionName": {
        "name": "gameDevSessionName",
        "in": "path",
        "required": true,
        "description": "Name of the GameDevSession resource.",
        "type": "string",
        "x-ms-parameter-location": "method"
      }
    }
  }
  