{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.GameDevkits",
    "version": "2022-07-12-alpha",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "GameDevAccounts"
    },
    {
      "name": "GameDevSessions"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.GameDevkits/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.GameDevkits/gameDevAccounts": {
      "get": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_ListBySubscription",
        "description": "List GameDevAccount resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccountListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts": {
      "get": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_ListByResourceGroup",
        "description": "List GameDevAccount resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccountListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}": {
      "put": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_CreateOrUpdate",
        "description": "Create or update a GameDevAccount.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Create or update GameDevAccount parameters.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_Get",
        "description": "Get a GameDevAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_Delete",
        "description": "Deletes a GameDevAccount.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_Update",
        "description": "Updates a GameDevAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The GameDevAccount properties to be updated.",
            "schema": {
              "$ref": "#/definitions/GameDevAccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions": {
      "get": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_ListByGameDevAccount",
        "description": "List GameDevSession resources by GameDevAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSessionListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions/{gameDevSessionName}": {
      "get": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_Get",
        "description": "Get a GameDevSession",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSession"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_CreateOrUpdate",
        "description": "Create or update a GameDevSession resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "GameDevSession resource body.",
            "schema": {
              "$ref": "#/definitions/GameDevSessionCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSession"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_Delete",
        "description": "Delete a GameDevSession",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions/{gameDevSessionName}/end": {
      "post": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_End",
        "description": "End a GameDevSession.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSession"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the operation.",
            "headers": {
              "Operation-Location": {
                "description": "The operation location header",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions/{gameDevSessionName}/start": {
      "post": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_Start",
        "description": "Start a GameDevSession.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSession"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the operation.",
            "headers": {
              "Operation-Location": {
                "description": "The operation location header",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Command": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the command."
        },
        "input": {
          "type": "string",
          "description": "Input command."
        },
        "commandState": {
          "$ref": "#/definitions/CommandState",
          "description": "State of the command execution.",
          "readOnly": true
        }
      },
      "description": "Details of a Command.",
      "required": [
        "input",
        "commandState"
      ]
    },
    "CommandState": {
      "type": "string",
      "description": "The status of the command execution.",
      "enum": [
        "NotStarted",
        "Running",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "CommandState",
        "modelAsString": true
      }
    },
    "GameDevAccount": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GameDevAccountProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A GameDevAccount resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GameDevAccountListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameDevAccount"
          },
          "x-cadl-name": "GameDevAccount[]",
          "description": "The GameDevAccount items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a GameDevAccount list operation.",
      "required": [
        "value"
      ]
    },
    "GameDevAccountProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "description": "Properties of GameDevAccount"
    },
    "GameDevAccountUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/GameDevAccountUpdateProperties"
        }
      },
      "description": "Update model for GameDevAccount"
    },
    "GameDevAccountUpdateProperties": {
      "type": "object",
      "properties": {},
      "description": "The updatable properties of the GameDevAccount."
    },
    "GameDevSession": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GameDevSessionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "Details of a GameDevSession resource.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GameDevSessionConfig": {
      "type": "object",
      "properties": {
        "expirationTime": {
          "type": "string",
          "description": "Expiration time for the session in milliseconds."
        }
      },
      "description": "Config parameters for the session."
    },
    "GameDevSessionCreateRequest": {
      "type": "object",
      "properties": {
        "buildId": {
          "type": "string"
        },
        "sessionConfig": {
          "$ref": "#/definitions/GameDevSessionConfig"
        }
      },
      "description": "CreateOrUpdate request body for GameDevSession.",
      "required": [
        "buildId"
      ]
    },
    "GameDevSessionDeviceDetails": {
      "type": "object",
      "properties": {
        "deviceType": {
          "type": "string"
        }
      },
      "description": "Details of the device allocated to the session. ",
      "required": [
        "deviceType"
      ]
    },
    "GameDevSessionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameDevSession"
          },
          "x-cadl-name": "GameDevSession[]",
          "description": "The GameDevSession items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a GameDevSession list operation.",
      "required": [
        "value"
      ]
    },
    "GameDevSessionProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "buildId": {
          "type": "string",
          "description": "Id of the GameDevBuild"
        },
        "sessionStatus": {
          "$ref": "#/definitions/SessionStatus",
          "readOnly": true
        },
        "sessionConfig": {
          "$ref": "#/definitions/GameDevSessionConfig"
        },
        "sessionStart": {
          "type": "string",
          "description": "Timestamp of the session start in date-time format."
        },
        "sessionEnd": {
          "type": "string",
          "description": "Timestamp of the session end in date-time format."
        },
        "taskDetails": {
          "$ref": "#/definitions/GameDevSessionTaskDetails"
        },
        "deviceDetails": {
          "$ref": "#/definitions/GameDevSessionDeviceDetails"
        },
        "sessionOutput": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Properties of the GameDevSession",
      "required": [
        "buildId",
        "sessionStatus",
        "sessionConfig",
        "sessionStart",
        "sessionEnd",
        "taskDetails",
        "deviceDetails",
        "sessionOutput"
      ]
    },
    "GameDevSessionTaskDetails": {
      "type": "object",
      "properties": {
        "sessionStart": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Command"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Command[]"
        },
        "sessionEnd": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Command"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Command[]"
        }
      },
      "description": "Details of the tasks related to the session.",
      "required": [
        "sessionStart",
        "sessionEnd"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Accepted",
        "Creating",
        "Deleting",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false
      }
    },
    "SessionCommand": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description for the session start task."
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Command"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Command[]"
        }
      },
      "description": "Session start parameters."
    },
    "SessionStatus": {
      "type": "string",
      "description": "Internal status of the session.",
      "enum": [
        "Initializing",
        "Initialized",
        "InitializationFailed",
        "Provisioning",
        "Provisioned",
        "ProvisioningFailed",
        "Ready",
        "InUse",
        "Terminating",
        "Terminated",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "SessionStatus",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "GameDevAccount.gameDevAccountName": {
      "name": "gameDevAccountName",
      "in": "path",
      "required": true,
      "description": "Name of the GameDevAccount resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "GameDevSession.gameDevSessionName": {
      "name": "gameDevSessionName",
      "in": "path",
      "required": true,
      "description": "Name of the GameDevSession resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
