{
  "swagger": "2.0",
  "info": {
    "title": "CodeSigningManagementClient",
    "description": "Code Sign Resource Provider Account and CertificateProfile management API",
    "version": "2020-12-14-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.CodeSigning/codeSignAccounts": {
      "get": {
        "operationId": "CodeSignAccount_ListBySubscription",
        "description": "Lists Code Sign Accounts within a subscription",
        "x-ms-examples": {
          "List Code Sign Accounts by Subscription": {
            "$ref": "./examples/listCodeSignAccountsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified subscription",
            "schema": {
              "$ref": "#/definitions/CodeSignAccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts": {
      "get": {
        "operationId": "CodeSignAccount_ListByResourceGroup",
        "description": "List Code Sign Accounts within a resource group",
        "x-ms-examples": {
          "List Code Sign Accounts by Resource Group": {
            "$ref": "./examples/listCodeSignAccountsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified resource group",
            "schema": {
              "$ref": "#/definitions/CodeSignAccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}": {
      "get": {
        "operationId": "CodeSignAccount_Get",
        "description": "Get Code Sign Account",
        "x-ms-examples": {
          "Get Code Sign Account": {
            "$ref": "./examples/getCodeSignAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get code sign account",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CodeSignAccount_Create",
        "description": "Create Code Sign Account",
        "x-ms-examples": {
          "Create Code Sign Account": {
            "$ref": "./examples/createCodeSignAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "in": "body",
            "name": "CodeSignAccount",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "CodeSignAccount_Update",
        "description": "Update a code sign account",
        "x-ms-examples": {
          "Update Code Sign Account": {
            "$ref": "./examples/updateCodeSignAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/CodeSignAccountPatchBodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "CodeSignAccount_Delete",
        "description": "Delete a Code Sign Account",
        "x-ms-examples": {
          "Delete Code Sign Account": {
            "$ref": "./examples/deleteCodeSignAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "The resource was not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}/certificateProfiles": {
      "get": {
        "operationId": "CertificateProfile_ListByCodeSignAccount",
        "description": "List certificate profiles within a code sign account",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          }
        ],
        "x-ms-examples": {
          "List Certificate Profiles": {
            "$ref": "./examples/listCertificateProfiles.json"
          }
        },
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified resource group",
            "schema": {
              "$ref": "#/definitions/CertificateProfiles"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}/certificateProfiles/{profileName}": {
      "get": {
        "operationId": "CertificateProfile_Get",
        "description": "Get details of particular certificate profile",
        "x-ms-examples": {
          "Get Certificate Profile": {
            "$ref": "./examples/getCertificateProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/ProfileNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CertificateProfile_Create",
        "description": "Create a certificate profile",
        "x-ms-examples": {
          "Create Certificate Profile": {
            "$ref": "./examples/createCertificateProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/ProfileNameParam"
          },
          {
            "in": "body",
            "name": "CertificateProfile",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a certificate profile",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "CertificateProfile_Update",
        "description": "Update certificate profile",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/ProfileNameParam"
          },
          {
            "in": "body",
            "name": "CertificateProfile",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "CertificateProfile_Delete",
        "description": "Delete certificate profile",
        "x-ms-examples": {
          "Delete Certificate Profile": {
            "$ref": "./examples/deleteCertificateProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParam"
          },
          {
            "$ref": "#/parameters/ResourceGroupNamePathParam"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/ProfileNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "The resource was not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.CodeSigning/operations": {
      "get": {
        "description": "Lists all of the available API operations for code signing resource.",
        "operationId": "Operations_Get",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CodeSignAccounts": {
      "description": "The paginated list of code sign accounts",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of code sign accounts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodeSignAccount"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of code sign account",
          "type": "string"
        }
      }
    },
    "CodeSignAccount": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CodeSignAccountProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CodeSignAccountProperties": {
      "description": "Code sign account properties",
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string"
        },
        "accountUrl": {
          "type": "string"
        },
        "verificationStatus": {
          "$ref": "#/definitions/VerificationStatus"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "CodeSignAccountPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Object containing updates for patch operations."
    },
    "CertificateProfiles": {
      "description": "The paginated list of certifcate profiles",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of certifcate profiless",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateProfile"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of certifcate profile",
          "type": "string"
        }
      }
    },
    "CertificateProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CertificateProfileProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CertificateProfileProperties": {
      "description": "Certificate profile properties",
      "type": "object",
      "properties": {
        "profileName": {
          "type": "string"
        },
        "profileType": {
          "$ref": "#/definitions/ProfileType"
        },
        "rotationPolicy": {
          "$ref": "#/definitions/RotationPolicy"
        },
        "authority": {
          "type": "string",
          "readOnly": true
        },
        "commonName": {
          "type": "string"
        },
        "subjectAlternativeName": {
          "type": "string"
        },
        "organization": {
          "type": "string",
          "readOnly": true
        },
        "streetAddress": {
          "type": "string",
          "readOnly": true
        },
        "country": {
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true
        },
        "city": {
          "type": "string",
          "readOnly": true
        },
        "certificates": {
          "$ref": "#/definitions/Certificate"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CertificateProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CertificateProperties"
        }
      ]
    },
    "CertificateProperties": {
      "description": "Certificate properties",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "subjectName": {
          "type": "string",
          "readOnly": true
        },
        "subjectAlternativeName": {
          "type": "string",
          "readOnly": true
        },
        "thumbprint": {
          "type": "string",
          "readOnly": true
        },
        "createdDate": {
          "type": "string",
          "readOnly": true
        },
        "expiryDate": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationList": {
      "description": "The paginated list of code signing API operations.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "The list of code signing API operations."
        },
        "nextLink": {
          "type": "string",
          "description": "The link to fetch the next page of code signing API operations."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "The code signing API operation",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {Microsoft.CodeSigning}/{resource}/{operation}"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Code sign resource on which the operation is performed",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation read, write, etc",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "verificationStatus": {
      "$ref": "#/definitions/VerificationStatus"
    },
    "VerificationStatus ": {
      "type": "string",
      "description": "The vetting status of the code sign account",
      "enum": [
        "Completed",
        "InProgress",
        "NotCompleted"
      ],
      "x-ms-enum": {
        "name": "VerificationStatus",
        "modelAsString": false
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The current provisioning state",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ProfileType": {
      "type": "string",
      "enum": [
        "Test",
        "Trial",
        "PrivateTrust",
        "PublicTrust"
      ],
      "x-ms-enum": {
        "name": "ProfileType",
        "modelAsString": true
      }
    },
    "RotationPolicy": {
      "type": "string",
      "enum": [
        "Monthly"
      ],
      "x-ms-enum": {
        "name": "RotationPolicy",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "AccountNameParam": {
      "name": "accountName",
      "description": "Code Sign account name",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ProfileNameParam": {
      "name": "profileName",
      "description": "Certificate profile name",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "CodeSignAccountPatchBodyParam": {
      "in": "body",
      "name": "CodeSignAccountPatch",
      "required": true,
      "schema": {
        "$ref": "#/definitions/CodeSignAccountPatch"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParam": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API called"
    },
    "SubscriptionIdPathParam": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the subscription to which the CodeSign account is registered."
    },
    "ResourceGroupNamePathParam": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group under which Code Sign Account is registered",
      "x-ms-parameter-location": "method"
    }
  }
}
