{
  "swagger": "2.0",
  "info": {
    "version": "2023-03-01-preview",
    "title": "Informatica",
    "description": "Azure Native Services Informatica DataManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Organizations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Informatica.DataManagement/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "OperationGroup_Get",
        "x-ms-examples": {
          "BatchAccountDelete": {
            "$ref": "./examples/OperationGroupGet.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Informatica.DataManagement/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "Organizations_ListByResourceGroup",
        "description": "List Informatica OrganizationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InformaticaOrganizationResourceListResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Organizations_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Organizations_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Organizations_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Informatica.DataManagement/organizations/{organizationName}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "Organizations_Get",
        "description": "Get a InformaticaOrganizationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OrganizationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InformaticaOrganizationResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_Get_MaximumSet_Gen": {
            "$ref": "./examples/Organizations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "Organizations"
        ],
        "operationId": "Organizations_CreateOrUpdate",
        "description": "Create a InformaticaOrganizationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OrganizationNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/InformaticaOrganizationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InformaticaOrganizationResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InformaticaOrganizationResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Organizations_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "operationId": "Organization_Update",
        "description": "Update a InformaticaOrganizationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OrganizationNameParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/InformaticaOrganizationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InformaticaOrganizationResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_Update_MaximumSet_Gen": {
            "$ref": "./examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "operationId": "Organizations_Delete",
        "description": "Delete a InformaticaOrganizationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OrganizationNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Organizations_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Organizations_Delete_MaximumSet_Gen.json"
          },
          "Organizations_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Organizations_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Result": {
      "description": "Sample result definition",
      "properties": {
        "sampleProperty": {
          "type": "string",
          "description": "Sample property of type string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "ProvisioningState": {
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted",
        "NotSpecified"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      }
    },
    "MarketplaceSubscriptionStatus": {
      "description": "Flag specifying the Marketplace Subscription Status of the resource. If payment is not made in time, the resource will go in Suspended state.",
      "enum": [
        "Provisioning",
        "Active",
        "Suspended",
        "Unsubscribed"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MarketplaceSubscriptionStatus"
      },
      "readOnly": true
    },
    "OrganizationProperties": {
      "description": "Informatica Organization properties",
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State of the resource",
          "readOnly": true
        },
        "informaticaProperties": {
          "$ref": "#/definitions/InformaticaProperties",
          "description": "Informatica Organization properties"
        },
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User details"
        }
      }
    },
    "MarketplaceDetails": {
      "type": "object",
      "properties": {
        "marketplaceSubscriptionId": {
          "type": "string",
          "description": "Marketplace Subscription Id"
        },
        "offerDetails": {
          "$ref": "#/definitions/OfferDetails",
          "description": "Marketplace offer details."
        }
      },
      "description": "Marketplace details",
      "required": [
        "marketplaceSubscriptionId",
        "offerDetails"
      ]
    },
    "InformaticaProperties": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "organization id"
        },
        "singleSignOnUrl": {
          "type": "string",
          "description": "The login URL specific to this Informatica Organization"
        }
      },
      "description": "Properties of the Informatica organization"
    },
    "UserDetails": {
      "description": "User Details",
      "type": "object",
      "properties": {
        "firstName": {
          "description": "First Name of the user",
          "maxLength": 50,
          "type": "string"
        },
        "lastName": {
          "description": "Last Name of the user",
          "maxLength": 50,
          "type": "string"
        },
        "emailAddress": {
          "description": "Email of the user used by Informatica for contacting them if needed",
          "pattern": "^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z]{2,}$",
          "type": "string"
        },
        "upnAddress": {
          "description": "Upn of the user used by Informatica for contacting them if needed",
          "pattern": "^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z]{2,}$",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number of the user used by Informatica for contacting them if needed",
          "maxLength": 40,
          "type": "string"
        }
      },
      "x-ms-secret": true
    },
    "OfferDetails": {
      "type": "object",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "Id of the product publisher.",
          "maxLength": 50
        },
        "offerId": {
          "type": "string",
          "description": "Id of the product offering.",
          "maxLength": 50
        },
        "planId": {
          "type": "string",
          "description": "Id of the product offer plan.",
          "maxLength": 50
        },
        "planName": {
          "type": "string",
          "description": "Name of the product offer plan.",
          "maxLength": 50
        },
        "termUnit": {
          "type": "string",
          "description": "Offer plan term unit.",
          "maxLength": 25
        },
        "termId": {
          "type": "string",
          "description": "Offer plan term id.",
          "maxLength": 50
        }
      },
      "description": "Details of the product offering.",
      "required": [
        "publisherId",
        "offerId",
        "planId",
        "planName",
        "termId"
      ]
    },
    "InformaticaOrganizationResource": {
      "required": [
        "location"
      ],
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "ARM id of the organization resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the organization resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the organization resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/OrganizationProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string"
        }
      }
    },
    "InformaticaOrganizationResourceListResponse": {
      "description": "Response of a list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Results of a list operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InformaticaOrganizationResource"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results, if any.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "OrganizationNameParameter": {
      "in": "path",
      "name": "organizationName",
      "description": "Organization resource name",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
