{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Impact",
    "version": "2022-11-01-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ImpactCategories"
    },
    {
      "name": "WorkloadImpacts"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Impact/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/impactCategories": {
      "get": {
        "tags": [
          "ImpactCategories"
        ],
        "operationId": "ImpactCategories_ListBySubscription",
        "description": "List ImpactCategory resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/CategoryNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImpactCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get ImpactCategories list by subscription": {
            "$ref": "./examples/ImpactCategories_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/workloadImpacts": {
      "get": {
        "tags": [
          "WorkloadImpacts"
        ],
        "operationId": "WorkloadImpacts_ListBySubscription",
        "description": "List WorkloadImpact resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadImpactListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List WorkloadImpact resources by subscription": {
            "$ref": "./examples/WorkloadImpact_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/impactCategories": {
      "get": {
        "tags": [
          "ImpactCategories"
        ],
        "operationId": "ImpactCategories_ListByResourceGroup",
        "description": "List ImpactCategory resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImpactCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get ImpactCategories list by Resource Group": {
            "$ref": "./examples/impactCategories_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/impactCategories/{impactCategoryName}": {
      "get": {
        "tags": [
          "ImpactCategories"
        ],
        "operationId": "ImpactCategories_Get",
        "description": "Get a ImpactCategory",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImpactCategory.impactCategoryName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImpactCategory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get categories by name": {
            "$ref": "./examples/ImpactCategories_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadImpacts": {
      "get": {
        "tags": [
          "WorkloadImpacts"
        ],
        "operationId": "WorkloadImpacts_ListByResourceGroup",
        "description": "List WorkloadImpact resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadImpactListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List WorkloadImpact Resource by Resource Group": {
            "$ref": "./examples/WorkloadImpact_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadImpacts/{workloadImpactName}": {
      "put": {
        "tags": [
          "WorkloadImpacts"
        ],
        "operationId": "WorkloadImpacts_CreateOrUpdate",
        "description": "Create a WorkloadImpact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkloadImpact.workloadImpactName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/WorkloadImpact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadImpact"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/WorkloadImpact"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "connectivity related impact": {
            "$ref": "./examples/connectivityImpact.json"
          },
          "performance related impact": {
            "$ref": "./examples/performanceImpact.json"
          },
          "Create Workloadimpact Resource by name": {
            "$ref": "./examples/WorkloadImpact_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "WorkloadImpacts"
        ],
        "operationId": "WorkloadImpacts_Get",
        "description": "Get a WorkloadImpact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkloadImpact.workloadImpactName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadImpact"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get WorkloadImpact Resource by name": {
            "$ref": "./examples/WorkloadImpact_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "WorkloadImpacts"
        ],
        "operationId": "WorkloadImpacts_Delete",
        "description": "Delete a WorkloadImpact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkloadImpact.workloadImpactName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Workloadimpact Resource by name": {
            "$ref": "./examples/WorkloadImpact_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AdditionalProperties": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "ARM Error code associated with the impact."
        },
        "errorMessage": {
          "type": "string",
          "description": "ARM Error Message associated with the impact"
        }
      },
      "description": "Addition fields related to impact, The list of allowed values can be found from /impactCategories API"
    },
    "Connectivity": {
      "type": "object",
      "properties": {
        "protocol": {
          "$ref": "#/definitions/Protocol",
          "description": "The protocol used for the connection"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port number for the connection"
        },
        "source": {
          "$ref": "#/definitions/SourceOrDest",
          "description": "The source of the connection"
        },
        "destination": {
          "$ref": "#/definitions/SourceOrDest",
          "description": "The destination of the connection"
        }
      },
      "description": "Details about the connectivity issue. Applicable only for connectivity type of impacts."
    },
    "ImpactCategory": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ImpactCategoryProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "ImpactCategory resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ImpactCategoryListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImpactCategory"
          },
          "x-cadl-name": "ImpactCategory[]",
          "description": "The ImpactCategory items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<ImpactCategory>"
        }
      },
      "description": "The response of a ImpactCategory list operation.",
      "required": [
        "value"
      ]
    },
    "ImpactCategoryProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "subCategories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubCategories"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-cadl-name": "SubCategories[]",
          "description": "List of sub categories applicable for this category"
        },
        "categoryId": {
          "type": "string",
          "description": "Unique id of the category (uuid)",
          "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
        },
        "description": {
          "type": "string",
          "description": "Description of the category"
        },
        "requiredImpactFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequiredImpactFields"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "RequiredImpactFields[]",
          "description": "These fields are required when you are reporting under this category"
        }
      },
      "description": "Details of the workloadimpact resource.",
      "required": [
        "subCategories",
        "categoryId",
        "description"
      ]
    },
    "Performance": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The name of the Metric examples:  Disk, IOPs, CPU, GPU, Memory, details can be found from /impactCategories API"
        },
        "expected": {
          "type": "number",
          "format": "double",
          "description": "threshold value for the metric"
        },
        "actual": {
          "type": "number",
          "format": "double",
          "description": "what is the observed value"
        }
      },
      "description": "Details about impacted performance metrics. Applicable for performance related impact"
    },
    "Protocol": {
      "type": "string",
      "description": "List of protocols",
      "enum": [
        "TCP",
        "UDP"
      ],
      "x-ms-enum": {
        "name": "Protocol",
        "modelAsString": false
      }
    },
    "RequiredImpactFields": {
      "type": "object",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Name of the field"
        },
        "allowedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Applicable values for the field"
        }
      },
      "description": "Fields of required impact fields",
      "required": [
        "fieldName"
      ]
    },
    "SourceOrDest": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the entity , example: https://microsoft.com "
        },
        "azureResourceUri": {
          "type": "string",
          "description": "Azure resource uri example /subscription/{subscription}/resourceGroup/{rg}/Microsoft.compute/virtualMachine/{vmName}"
        },
        "ipAddress": {
          "type": "string",
          "description": "Ipaddress of  server/host"
        }
      },
      "description": "Resource details"
    },
    "SubCategories": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the category"
        },
        "description": {
          "type": "string",
          "description": "Description of the category"
        },
        "subCategories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubCategories"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-cadl-name": "SubCategories[]",
          "description": "List of sub categories applicable for this category"
        },
        "categoryId": {
          "type": "string",
          "description": "Unique id of the category (uuid)",
          "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
        },
        "requiredImpactFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequiredImpactFields"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "RequiredImpactFields[]",
          "description": "These fields are required when you are reporting under this category"
        }
      },
      "description": "Fields of sub category",
      "required": [
        "name",
        "description",
        "categoryId"
      ]
    },
    "Toolset": {
      "type": "string",
      "description": "List of azure interfaces.",
      "enum": [
        "TERRAFORM",
        "PUPPET",
        "CHEF",
        "SDK",
        "ANSIBLE",
        "ARM",
        "PORTAL",
        "SHELL",
        "OTHER"
      ],
      "x-ms-enum": {
        "name": "Toolset",
        "modelAsString": false
      }
    },
    "Workload": {
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "description": "Customer workload identifier i.e name"
        },
        "toolset": {
          "$ref": "#/definitions/Toolset",
          "description": "Tool used to interact with Azure. SDK, AzPortal, etc.., Other"
        }
      },
      "description": "Customer workload details",
      "required": [
        "context"
      ]
    },
    "WorkloadImpact": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadImpactsProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "WorkloadImpacts resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "WorkloadImpactListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkloadImpact"
          },
          "x-cadl-name": "WorkloadImpact[]",
          "description": "The WorkloadImpact items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<WorkloadImpact>"
        }
      },
      "description": "The response of a WorkloadImpact list operation.",
      "required": [
        "value"
      ]
    },
    "WorkloadImpactsProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Time at which impact was observed "
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Time at which impact has ended "
        },
        "impactUniqueId": {
          "type": "string",
          "description": "Unique id of the impact (uuid)",
          "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
          "readOnly": true
        },
        "reportedTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Time at which impact is reported",
          "readOnly": true
        },
        "impactCategory": {
          "type": "string",
          "description": "Category of the impact,  details can found from /impactCategories API"
        },
        "impactDescription": {
          "type": "string",
          "description": "A detailed description of the impact"
        },
        "armCorrelationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "The ARM correlation ids, this is important field for control plane related impacts",
          "x-ms-identifiers": []
        },
        "impactedResourceUri": {
          "type": "string",
          "description": "The fully qualified ARM id of the impacted azure resource"
        },
        "additionalProperties": {
          "$ref": "#/definitions/AdditionalProperties",
          "description": "Addition fields related to impact, The list of allowed values can be found from /impactCategories API"
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "Details about the connectivity issue. Applicable only for connectivity type of impacts."
        },
        "performance": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Performance"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Performance[]",
          "description": "Details about impacted performance metrics. Applicable for performance impacts."
        },
        "workload": {
          "$ref": "#/definitions/Workload",
          "description": "Information about the customer’s workload"
        },
        "impactGroupId": {
          "type": "string",
          "description": "Used to correlate multiple impacts together"
        },
        "reportedSource": {
          "$ref": "#/definitions/reportedSourceEnum",
          "description": "System that is reporting"
        },
        "confidence": {
          "$ref": "#/definitions/confidenceEnum",
          "description": "Degree of confidence reporter has on the impact being a platform issue"
        }
      },
      "description": "Details of the workloadImpact resource.",
      "required": [
        "startDateTime",
        "impactCategory",
        "impactedResourceUri",
        "workload"
      ]
    },
    "confidenceEnum": {
      "type": "string",
      "description": "Degree of confidence reporter has on the impact being a platform issue.",
      "enum": [
        "LOW",
        "MEDIUM",
        "HIGH"
      ],
      "x-ms-enum": {
        "name": "confidenceEnum",
        "modelAsString": false
      }
    },
    "reportedSourceEnum": {
      "type": "string",
      "description": "System that is reporting",
      "enum": [
        "OTHER",
        "MANUAL",
        "AUTOMATED",
        "AZURE_MONITOR"
      ],
      "x-ms-enum": {
        "name": "reportedSourceEnum",
        "modelAsString": false
      }
    }
  },
  "parameters": {
    "CategoryNameParameter": {
      "name": "categoryName",
      "in": "query",
      "required": false,
      "description": "Filter by category name ",
      "minLength": 1,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ImpactCategory.impactCategoryName": {
      "name": "impactCategoryName",
      "in": "path",
      "required": true,
      "description": "Name of the impact category",
      "pattern": "^[a-zA-Z0-9-]{3,40}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceTypeParameter": {
      "name": "resourceType",
      "in": "query",
      "required": true,
      "description": "Filter by resource type",
      "minLength": 1,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "WorkloadImpact.workloadImpactName": {
      "name": "workloadImpactName",
      "in": "path",
      "required": true,
      "description": "workloadImpact resource ",
      "pattern": "^[a-zA-Z0-9-]{3,40}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
