{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCore",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore.",
    "version": "2022-09-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores/{mpcName}": {
      "put": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCoreResult"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCoreResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create MobilePacketCore": {
            "$ref": "./examples/MobilePacketCoreCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCoreResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get MobilePacketCore": {
            "$ref": "./examples/MobilePacketCoreGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore resource."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete MobilePacketCore": {
            "$ref": "./examples/MobilePacketCoreDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_UpdateTags",
        "description": "Update MobilePacketCore tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore resource Tag.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCoreResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update MobilePacketCore Tags": {
            "$ref": "./examples/MobilePacketCoreUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores": {
      "get": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_ListMobilePacketCore",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in network function": {
            "$ref": "./examples/ListMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ServiceArea": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of Service Area"
        },
        "taiRange": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/TaiRange"
          }
        },
        "plmnId": {
          "type": "object",
          "items": {
            "$ref": "./common.json#/definitions/PlmnId"
          }
        },
        "tacRange": {
          "type": "object",
          "properties": {
            "start": {
              "type": "string"
            },
            "end": {
              "type": "string"
            }
          },
          "required": [
            "start",
            "end"
          ]
        }
      },
      "required": [
        "plmnId",
        "tacRange"
      ]
    },
    "PlmnId": {
      "type": "object",
      "properties": {
        "mcc": {
          "type": "string"
        },
        "mnc": {
          "type": "string"
        }
      },
      "required": [
        "mcc",
        "mnc"
      ]
    },
    "Dnn": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "DnnList": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Data Network Name List Name"
        },
        "dnai": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "data network name supported by the upf service"
        }
      },
      "required": [
        "name"
      ]
    },
    "DnnConfig": {
      "type": "object",
      "properties": {
        "dnn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dnn"
          },
          "description": "Data Network Name"
        },
        "pcscf-table-name": {
          "type": "string",
          "description": "Name of P-CSCF Table"
        },
        "dns-server-configuration": {
          "type": "object",
          "properties": {
            "primary-ipv4-address": {
              "type": "string"
            },
            "secondary-ipv4-address": {
              "type": "string"
            },
            "primary-ipv6-address": {
              "type": "string"
            },
            "secondary-ipv6-address": {
              "type": "string"
            }
          }
        },
        "dnn-list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DnnList"
          }
        }
      }
    },
    "IPV4": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "IP4 Address Pair Name"
        },
        "primary-ipv4-address": {
          "type": "string",
          "description": "Primary P-CSCF server IP V4 Address"
        },
        "secondary-ipv4-address": {
          "type": "string",
          "description": "Secondary P-CSCF server IP V4 Address"
        },
        "tertiary-ipv4-address": {
          "type": "string",
          "description": "Tertiary P-CSCF server IP V4 Address"
        }
      },
      "required": [
        "primary-ipv4-address",
        "secondary-ipv4-address",
        "tertiary-ipv4-address"
      ]
    },
    "IPV6": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "IP4 Address Pair Name"
        },
        "primary-ipv6-address": {
          "type": "string",
          "description": "Primary P-CSCF server IP V6 Address"
        },
        "secondary-ipv6-address": {
          "type": "string",
          "description": "Secondary P-CSCF server IP V6 Address"
        },
        "tertiary-ipv6-address": {
          "type": "string",
          "description": "Tertiary P-CSCF server IP V6 Address"
        }
      },
      "required": [
        "primary-ipv6-address",
        "secondary-ipv6-address",
        "tertiary-ipv6-address"
      ]
    },
    "PcscfConfig": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "P-CSCF Table name"
        },
        "user-description": {
          "type": "string",
          "description": "Description of P-CSCF Table"
        },
        "address-allocation-mode": {
          "type": "string",
          "enum": [
            "round-robin",
            "weighted-round-robin"
          ],
          "x-ms-enum": {
            "name": "AddressAllocationMode",
            "modelAsString": true
          }
        },
        "ip-v4": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPV4"
          },
          "maxItems": 128
        },
        "ip-v6": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPV6"
          },
          "maxItems": 128
        }
      }
    },
    "MobilePacketCore": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of MPC"
        },
        "cmConfigs": {
          "type": "object",
          "properties": {
            "plmnIdConfig": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlmnId"
              },
              "minItems": 1
            },
            "serviceArea": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceArea"
              },
              "minItems": 1
            },
            "dnnConfig": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/DnnConfig"
              }
            },
            "pcscfConfig": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PcscfConfig"
              },
              "minItems": 1
            }
          },
          "required": [
            "dnnConfig"
          ]
        },
        "lcmConfigs": {
          "type": "object",
          "description": "LCM configurations",
          "properties": {
            "dockerReg": {
              "type": "string",
              "description": "Docker registry path"
            },
            "paasUniqueNameSuffix": {
              "type": "string",
              "description": "Name suffix used to generate Fed Unique Name of PaaS components"
            }
          }
        }
      },
      "required": [
        "cmConfigs"
      ],
      "description": "The MPC resource definition."
    },
    "MobilePacketCoreResult": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the network function resource."
        },
        "mobilePacketCore": {
          "$ref": "#/definitions/MobilePacketCore"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],

      "description": "The mobilePacketCore  resource."
    },
    "MobilePacketCoreListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MobilePacketCoreResult"
          },
          "description": "A list of MobilePacketCor in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for network function API service call."
    }
  }
}
