{
  "swagger": "2.0",
  "info": {
    "title": "Deployment Settings",
    "version": "2023-07-15-privatepreview",
    "description": "Azure Stack HCI Deployment Settings.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DeploymentSettings"
    }
  ],
  "paths": {
    "/providers/Private.AzureStackHCI/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.AzureStackHCI/DeploymentSettings": {
      "get": {
        "operationId": "DeploymentSettings_ListBySubscription",
        "tags": [
          "DeploymentSettings"
        ],
        "description": "List DeploymentSetting resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/DeploymentSettings": {
      "get": {
        "operationId": "DeploymentSettings_ListByResourceGroup",
        "tags": [
          "DeploymentSettings"
        ],
        "description": "List DeploymentSetting resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/DeploymentSettings/{default}": {
      "get": {
        "operationId": "DeploymentSettings_Get",
        "tags": [
          "DeploymentSettings"
        ],
        "description": "Get a DeploymentSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "default",
            "in": "path",
            "description": "Name of Deployment Setting",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DeploymentSettings_CreateOrUpdate",
        "tags": [
          "DeploymentSettings"
        ],
        "description": "Create a DeploymentSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "default",
            "in": "path",
            "description": "Name of Deployment Setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentSetting"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentSetting"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DeploymentSettings_Update",
        "tags": [
          "DeploymentSettings"
        ],
        "description": "Update a DeploymentSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "default",
            "in": "path",
            "description": "Name of Deployment Setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentSettingUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentSetting"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DeploymentSettings_Delete",
        "tags": [
          "DeploymentSettings"
        ],
        "description": "Delete a DeploymentSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "default",
            "in": "path",
            "description": "Name of Deployment Setting",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/DeploymentSettings/{default}/deploy": {
      "post": {
        "operationId": "DeploymentSettings_Deploy",
        "tags": [
          "DeploymentSettings"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "default",
            "in": "path",
            "description": "Name of Deployment Setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeployRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeployResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Action": {
      "type": "object",
      "description": "The Action of AzureStackHCI Cluster.",
      "properties": {
        "steps": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "type": {
          "type": "string",
          "description": "ToDo",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "ToDo",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "ToDo",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "ToDo",
          "readOnly": true
        }
      },
      "required": [
        "steps",
        "type",
        "startTime",
        "endTime",
        "status"
      ]
    },
    "AdapterPropertyOverrides": {
      "type": "object",
      "description": "The AdapterPropertyOverrides of a cluster.",
      "properties": {
        "jumboPacket": {
          "type": "string",
          "description": "ToDo"
        },
        "networkDirect": {
          "type": "string",
          "description": "ToDo"
        },
        "networkDirectTechnology": {
          "type": "string",
          "description": "ToDo"
        }
      },
      "required": [
        "jumboPacket",
        "networkDirect",
        "networkDirectTechnology"
      ]
    },
    "Cluster": {
      "type": "object",
      "description": "The Cluster of AzureStackHCI Cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "ToDo"
        },
        "witnessType": {
          "$ref": "#/definitions/WitnessType",
          "description": "ToDo"
        },
        "witnessPath": {
          "type": "string",
          "description": "ToDo"
        },
        "cloudAccountName": {
          "type": "string",
          "description": "ToDo"
        },
        "azureServiceEndpoint": {
          "type": "string",
          "description": "ToDo"
        }
      },
      "required": [
        "name",
        "witnessType",
        "witnessPath",
        "cloudAccountName",
        "azureServiceEndpoint"
      ]
    },
    "ClusterUpdate": {
      "type": "object",
      "description": "The Cluster of AzureStackHCI Cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "ToDo"
        },
        "witnessType": {
          "$ref": "#/definitions/WitnessType",
          "description": "ToDo"
        },
        "witnessPath": {
          "type": "string",
          "description": "ToDo"
        },
        "cloudAccountName": {
          "type": "string",
          "description": "ToDo"
        },
        "azureServiceEndpoint": {
          "type": "string",
          "description": "ToDo"
        }
      }
    },
    "ConfigurationMode": {
      "type": "string",
      "description": "The ConfigurationMode of a resource.",
      "enum": [
        "Express"
      ],
      "x-ms-enum": {
        "name": "ConfigurationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Express",
            "value": "Express",
            "description": "Todo"
          }
        ]
      }
    },
    "DeployRequest": {
      "type": "object",
      "description": "The deployRequest of a cluster.",
      "properties": {
        "deploymentChangeRequest": {
          "$ref": "#/definitions/DeploymentChangeRequest",
          "description": "ToDo"
        }
      },
      "required": [
        "deploymentChangeRequest"
      ]
    },
    "DeployResponse": {
      "type": "object",
      "description": "An Accepted response with an Operation-Location header.",
      "properties": {}
    },
    "DeploymentChangeRequest": {
      "type": "string",
      "description": "The DeploymentChangeRequest of a resource.",
      "enum": [
        "ValidateOnly",
        "Deploy",
        "ValidateAndDeployIfSuccess"
      ],
      "x-ms-enum": {
        "name": "DeploymentChangeRequest",
        "modelAsString": true,
        "values": [
          {
            "name": "ValidateOnly",
            "value": "ValidateOnly",
            "description": "ValidateOnly"
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy"
          },
          {
            "name": "ValidateAndDeployIfSuccess",
            "value": "ValidateAndDeployIfSuccess",
            "description": "ValidateAndDeployIfSuccess"
          }
        ]
      }
    },
    "DeploymentData": {
      "type": "object",
      "description": "The DeploymentData of AzureStackHCI Cluster.",
      "properties": {
        "securitySettings": {
          "$ref": "#/definitions/SecuritySettings",
          "description": "ToDo"
        },
        "observability": {
          "$ref": "#/definitions/Observability",
          "description": "ToDo"
        },
        "cluster": {
          "$ref": "#/definitions/Cluster",
          "description": "ToDo"
        },
        "storage": {
          "$ref": "#/definitions/Storage",
          "description": "ToDo"
        },
        "namingPrefix": {
          "type": "string",
          "description": "ToDo"
        },
        "domainFQDN": {
          "type": "string",
          "description": "ToDo"
        },
        "infrastructureNetwork": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/InfrastructureNetwork"
          },
          "x-ms-identifiers": []
        },
        "physicalNodes": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/PhysicalNodes"
          },
          "x-ms-identifiers": []
        },
        "hostNetwork": {
          "$ref": "#/definitions/HostNetwork",
          "description": "ToDo"
        },
        "storageNetworks": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/StorageNetworks"
          },
          "x-ms-identifiers": []
        },
        "adouPath": {
          "type": "string",
          "description": "ToDo"
        },
        "secretsLocation": {
          "type": "string",
          "format": "uri",
          "description": "ToDo",
          "x-ms-secret": true
        },
        "optionalServices": {
          "$ref": "#/definitions/OptionalServices",
          "description": "ToDo"
        }
      },
      "required": [
        "securitySettings",
        "observability",
        "cluster",
        "storage",
        "namingPrefix",
        "domainFQDN",
        "infrastructureNetwork",
        "physicalNodes",
        "hostNetwork",
        "storageNetworks",
        "adouPath",
        "secretsLocation",
        "optionalServices"
      ],
      "externalDocs": {
        "description": "Deploy Azure Stack HCI using an existing configuration file",
        "url": "https://learn.microsoft.com/en-us/azure-stack/hci/deploy/deployment-tool-existing-file"
      }
    },
    "DeploymentDataUpdate": {
      "type": "object",
      "description": "The DeploymentData of AzureStackHCI Cluster.",
      "properties": {
        "securitySettings": {
          "$ref": "#/definitions/SecuritySettingsUpdate",
          "description": "ToDo"
        },
        "observability": {
          "$ref": "#/definitions/ObservabilityUpdate",
          "description": "ToDo"
        },
        "cluster": {
          "$ref": "#/definitions/ClusterUpdate",
          "description": "ToDo"
        },
        "storage": {
          "$ref": "#/definitions/StorageUpdate",
          "description": "ToDo"
        },
        "namingPrefix": {
          "type": "string",
          "description": "ToDo"
        },
        "domainFQDN": {
          "type": "string",
          "description": "ToDo"
        },
        "infrastructureNetwork": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/InfrastructureNetwork"
          },
          "x-ms-identifiers": []
        },
        "physicalNodes": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/PhysicalNodes"
          },
          "x-ms-identifiers": []
        },
        "hostNetwork": {
          "$ref": "#/definitions/HostNetworkUpdate",
          "description": "ToDo"
        },
        "storageNetworks": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/StorageNetworks"
          },
          "x-ms-identifiers": []
        },
        "adouPath": {
          "type": "string",
          "description": "ToDo"
        },
        "secretsLocation": {
          "type": "string",
          "format": "uri",
          "description": "ToDo",
          "x-ms-secret": true
        },
        "optionalServices": {
          "$ref": "#/definitions/OptionalServicesUpdate",
          "description": "ToDo"
        }
      },
      "externalDocs": {
        "description": "Deploy Azure Stack HCI using an existing configuration file",
        "url": "https://learn.microsoft.com/en-us/azure-stack/hci/deploy/deployment-tool-existing-file"
      }
    },
    "DeploymentMetaData": {
      "type": "object",
      "description": "The DeploymentMetaData of AzureStackHCI Cluster.",
      "properties": {}
    },
    "DeploymentSetting": {
      "type": "object",
      "description": "Edge device resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentSettingProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of Deployment Setting",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeploymentSettingListResult": {
      "type": "object",
      "description": "The response of a DeploymentSetting list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeploymentSetting items on this page",
          "items": {
            "$ref": "#/definitions/DeploymentSetting"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentSettingProperties": {
      "type": "object",
      "description": "DeploymentSetting properties",
      "properties": {
        "deploymentData": {
          "$ref": "#/definitions/DeploymentData",
          "description": "Todo"
        },
        "deploymentMetaData": {
          "$ref": "#/definitions/DeploymentMetaData",
          "description": "Todo"
        }
      },
      "required": [
        "deploymentData",
        "deploymentMetaData"
      ]
    },
    "DeploymentSettingUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DeploymentSetting.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentSettingUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "DeploymentSettingUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DeploymentSetting.",
      "properties": {
        "deploymentData": {
          "$ref": "#/definitions/DeploymentDataUpdate",
          "description": "Todo"
        },
        "deploymentMetaData": {
          "$ref": "#/definitions/DeploymentMetaData",
          "description": "Todo"
        }
      }
    },
    "DeploymentStatus": {
      "type": "object",
      "description": "The DeploymentStatus of AzureStackHCI Cluster.",
      "properties": {
        "action": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/Action"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "required": [
        "action"
      ]
    },
    "Evaluation": {
      "type": "object",
      "description": "The Evaluation of AzureStackHCI Cluster.",
      "properties": {
        "message": {
          "type": "string",
          "description": "ToDo",
          "readOnly": true
        }
      },
      "required": [
        "message"
      ]
    },
    "Exception": {
      "type": "object",
      "description": "The Exception of AzureStackHCI Cluster.",
      "properties": {
        "message": {
          "type": "string",
          "description": "ToDo",
          "readOnly": true
        },
        "machineName": {
          "type": "string",
          "description": "ToDo",
          "readOnly": true
        }
      },
      "required": [
        "message",
        "machineName"
      ]
    },
    "HostNetwork": {
      "type": "object",
      "description": "The HostNetwork of a cluster.",
      "properties": {
        "intents": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/Intents"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "intents"
      ]
    },
    "HostNetworkUpdate": {
      "type": "object",
      "description": "The HostNetwork of a cluster.",
      "properties": {
        "intents": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/Intents"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "InfrastructureNetwork": {
      "type": "object",
      "description": "The InfrastructureNetwork of a cluster.",
      "properties": {
        "vlanId": {
          "type": "string",
          "description": "ToDo"
        },
        "subnetMask": {
          "type": "string",
          "description": "ToDo"
        },
        "gateway": {
          "type": "string",
          "description": "ToDo"
        },
        "ipPools": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/IpPools"
          },
          "x-ms-identifiers": []
        },
        "dnsServers": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "vlanId",
        "subnetMask",
        "gateway",
        "ipPools",
        "dnsServers"
      ]
    },
    "Intents": {
      "type": "object",
      "description": "The Intents of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "ToDo"
        },
        "trafficType": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/TrafficType"
          }
        },
        "adapter": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "type": "string"
          }
        },
        "overrideVirtualSwitchConfiguration": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "virtualSwitchConfigurationOverrides": {
          "$ref": "#/definitions/VirtualSwitchConfigurationOverrides",
          "description": "ToDo"
        },
        "overrideQosPolicy": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "qosPolicyOverrides": {
          "$ref": "#/definitions/QosPolicyOverrides",
          "description": "ToDo"
        },
        "overrideAdapterProperty": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "adapterPropertyOverrides": {
          "$ref": "#/definitions/AdapterPropertyOverrides",
          "description": "ToDo"
        }
      },
      "required": [
        "name",
        "trafficType",
        "adapter",
        "overrideVirtualSwitchConfiguration",
        "virtualSwitchConfigurationOverrides",
        "overrideQosPolicy",
        "qosPolicyOverrides",
        "overrideAdapterProperty",
        "adapterPropertyOverrides"
      ]
    },
    "IpPools": {
      "type": "object",
      "description": "The dnsServers of a device.",
      "properties": {
        "startingAddress": {
          "type": "string",
          "description": "ToDo"
        },
        "endingAddress": {
          "type": "string",
          "description": "ToDo"
        }
      },
      "required": [
        "startingAddress",
        "endingAddress"
      ]
    },
    "Observability": {
      "type": "object",
      "description": "The Observability of AzureStackHCI Cluster.",
      "properties": {
        "streamingDataClient": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "euLocation": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "episodicDataUpload": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        }
      },
      "required": [
        "streamingDataClient",
        "euLocation",
        "episodicDataUpload"
      ]
    },
    "ObservabilityUpdate": {
      "type": "object",
      "description": "The Observability of AzureStackHCI Cluster.",
      "properties": {
        "streamingDataClient": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "euLocation": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "episodicDataUpload": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        }
      }
    },
    "OptionalServices": {
      "type": "object",
      "description": "The OptionalServices of AzureStackHCI Cluster.",
      "properties": {
        "virtualSwitchName": {
          "type": "string",
          "description": "ToDo"
        },
        "csvPath": {
          "type": "string",
          "description": "ToDo"
        },
        "arbRegion": {
          "type": "string",
          "description": "ToDo"
        }
      },
      "required": [
        "virtualSwitchName",
        "csvPath",
        "arbRegion"
      ]
    },
    "OptionalServicesUpdate": {
      "type": "object",
      "description": "The OptionalServices of AzureStackHCI Cluster.",
      "properties": {
        "virtualSwitchName": {
          "type": "string",
          "description": "ToDo"
        },
        "csvPath": {
          "type": "string",
          "description": "ToDo"
        },
        "arbRegion": {
          "type": "string",
          "description": "ToDo"
        }
      }
    },
    "PhysicalNodes": {
      "type": "object",
      "description": "The PhysicalNodes of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "ToDo"
        },
        "ipv4Address": {
          "type": "string",
          "description": "ToDo"
        }
      },
      "required": [
        "name",
        "ipv4Address"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "QosPolicyOverrides": {
      "type": "object",
      "description": "The QoSPolicyOverrides of a cluster.",
      "properties": {
        "priorityValue8021Action_Cluster": {
          "type": "string",
          "description": "ToDo"
        },
        "priorityValue8021Action_SMB": {
          "type": "string",
          "description": "ToDo"
        },
        "bandwidthPercentage_SMB": {
          "type": "string",
          "description": "ToDo"
        }
      },
      "required": [
        "priorityValue8021Action_Cluster",
        "priorityValue8021Action_SMB",
        "bandwidthPercentage_SMB"
      ]
    },
    "RepoertedProperties": {
      "type": "object",
      "description": "The DeploymentStatus of AzureStackHCI Cluster.",
      "properties": {
        "validatonStatus": {
          "$ref": "#/definitions/ValidationStatus",
          "description": "ToDo",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/DeploymentStatus",
          "description": "ToDo",
          "readOnly": true
        }
      },
      "required": [
        "validatonStatus",
        "deploymentStatus"
      ]
    },
    "SecuritySettings": {
      "type": "object",
      "description": "The SecuritySettings of AzureStackHCI Cluster.",
      "properties": {
        "hvciProtection": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "drtmProtection": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "driftControlEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "credentialGuardEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "smbSigningEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "smbClusterEncryption": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "sideChannelMitigationEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "bitlockerBootVolume": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "bitlockerDataVolumes": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "wdacEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        }
      },
      "required": [
        "hvciProtection",
        "drtmProtection",
        "driftControlEnforced",
        "credentialGuardEnforced",
        "smbSigningEnforced",
        "smbClusterEncryption",
        "sideChannelMitigationEnforced",
        "bitlockerBootVolume",
        "bitlockerDataVolumes",
        "wdacEnforced"
      ]
    },
    "SecuritySettingsUpdate": {
      "type": "object",
      "description": "The SecuritySettings of AzureStackHCI Cluster.",
      "properties": {
        "hvciProtection": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "drtmProtection": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "driftControlEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "credentialGuardEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "smbSigningEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "smbClusterEncryption": {
          "type": "boolean",
          "description": "ToDo",
          "default": false
        },
        "sideChannelMitigationEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "bitlockerBootVolume": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "bitlockerDataVolumes": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        },
        "wdacEnforced": {
          "type": "boolean",
          "description": "ToDo",
          "default": true
        }
      }
    },
    "Status": {
      "type": "string",
      "description": "The TrafficType of a resource.",
      "enum": [
        "Error",
        "Success",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": true,
        "values": [
          {
            "name": "Error",
            "value": "Error",
            "description": "Error"
          },
          {
            "name": "Success",
            "value": "Success",
            "description": "Success"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress"
          }
        ]
      }
    },
    "Step": {
      "type": "object",
      "description": "The Step of AzureStackHCI Cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "ToDo",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "ToDo",
          "readOnly": true
        },
        "index": {
          "type": "integer",
          "format": "int64",
          "description": "isRequired?",
          "readOnly": true
        },
        "fullStepIndex": {
          "type": "string",
          "description": "isRequired?",
          "readOnly": true
        },
        "task": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/Task"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "ToDo",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "ToDo",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "ToDo",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "description",
        "index",
        "fullStepIndex",
        "task",
        "startTime",
        "endTime",
        "status"
      ]
    },
    "Storage": {
      "type": "object",
      "description": "The Cluster of AzureStackHCI Cluster.",
      "properties": {
        "configurationMode": {
          "$ref": "#/definitions/ConfigurationMode",
          "description": "ToDo",
          "default": "Express"
        }
      },
      "required": [
        "configurationMode"
      ]
    },
    "StorageNetworks": {
      "type": "object",
      "description": "The StorageNetworks of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "ToDo"
        },
        "networkAdapterName": {
          "type": "string",
          "description": "ToDo"
        },
        "vlanId": {
          "type": "string",
          "description": "ToDo"
        }
      },
      "required": [
        "name",
        "networkAdapterName",
        "vlanId"
      ]
    },
    "StorageUpdate": {
      "type": "object",
      "description": "The Cluster of AzureStackHCI Cluster.",
      "properties": {
        "configurationMode": {
          "$ref": "#/definitions/ConfigurationMode",
          "description": "ToDo",
          "default": "Express"
        }
      }
    },
    "Task": {
      "type": "object",
      "description": "The Step of AzureStackHCI Cluster.",
      "properties": {
        "evaluation": {
          "$ref": "#/definitions/Evaluation",
          "description": "ToDo",
          "readOnly": true
        },
        "exception": {
          "$ref": "#/definitions/Exception",
          "description": "ToDo",
          "readOnly": true
        },
        "rolePath": {
          "type": "string",
          "description": "ToDo",
          "readOnly": true
        },
        "interfaceType": {
          "type": "string",
          "description": "ToDo",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "ToDo",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "ToDo",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "ToDo",
          "readOnly": true
        }
      },
      "required": [
        "evaluation",
        "exception",
        "rolePath",
        "interfaceType",
        "startTime",
        "endTime",
        "status"
      ]
    },
    "TrafficType": {
      "type": "string",
      "description": "The TrafficType of a resource.",
      "enum": [
        "Compute",
        "Management",
        "Storage"
      ],
      "x-ms-enum": {
        "name": "TrafficType",
        "modelAsString": true,
        "values": [
          {
            "name": "Compute",
            "value": "Compute",
            "description": "Compute"
          },
          {
            "name": "Management",
            "value": "Management",
            "description": "Management"
          },
          {
            "name": "Storage",
            "value": "Storage",
            "description": "Storage"
          }
        ]
      }
    },
    "ValidationStatus": {
      "type": "object",
      "description": "The ValidationStatus of AzureStackHCI Cluster.",
      "properties": {
        "action": {
          "type": "array",
          "description": "ToDo",
          "items": {
            "$ref": "#/definitions/Action"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "required": [
        "action"
      ]
    },
    "VirtualSwitchConfigurationOverrides": {
      "type": "object",
      "description": "The VirtualSwitchConfigurationOverrides of a cluster.",
      "properties": {
        "enableIov": {
          "type": "string",
          "description": "ToDo"
        },
        "loadBalancingAlgorithm": {
          "type": "string",
          "description": "ToDo"
        }
      },
      "required": [
        "enableIov",
        "loadBalancingAlgorithm"
      ]
    },
    "WitnessType": {
      "type": "string",
      "description": "The WitnessType of a resource.",
      "enum": [
        "Cloud",
        "FileShare"
      ],
      "x-ms-enum": {
        "name": "WitnessType",
        "modelAsString": true,
        "values": [
          {
            "name": "Cloud",
            "value": "Cloud",
            "description": "Cloud"
          },
          {
            "name": "FileShare",
            "value": "FileShare",
            "description": "FileShare"
          }
        ]
      }
    }
  },
  "parameters": {}
}
