{
  "swagger": "2.0",
  "info": {
    "title": "Edge Device",
    "version": "2023-07-15-privatepreview",
    "description": "Azure Arc-enabled Edge Device.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EdgeDevice"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Private.AzureStackHCI/device": {
      "get": {
        "operationId": "EdgeDevice_List",
        "tags": [
          "EdgeDevice"
        ],
        "description": "List Device resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Private.AzureStackHCI/device/{deviceName}": {
      "get": {
        "operationId": "EdgeDevice_Get",
        "tags": [
          "EdgeDevice"
        ],
        "description": "Get a Device",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EdgeDevice_CreateOrUpdate",
        "tags": [
          "EdgeDevice"
        ],
        "description": "Create a Device",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Device"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeDevice_Update",
        "tags": [
          "EdgeDevice"
        ],
        "description": "Update a Device",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "EdgeDevice_Delete",
        "tags": [
          "EdgeDevice"
        ],
        "description": "Delete a Device",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Private.AzureStackHCI/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.AzureStackHCI/device": {
      "get": {
        "operationId": "EdgeDevice_ListBySubscription",
        "tags": [
          "EdgeDevice"
        ],
        "description": "List Device resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Device": {
      "type": "object",
      "description": "Edge device resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeviceConfiguration": {
      "type": "object",
      "description": "The device Configuration of a device.",
      "properties": {
        "nicDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NicDetail"
          },
          "x-ms-identifiers": []
        },
        "dnsServers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dnsServers"
          },
          "x-ms-identifiers": []
        },
        "proxyConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProxyConfiguration"
          },
          "x-ms-identifiers": []
        },
        "osVersion": {
          "type": "string"
        },
        "managementNicDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagementNicDetail"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "nicDetails",
        "dnsServers",
        "proxyConfiguration",
        "osVersion",
        "managementNicDetails"
      ]
    },
    "DeviceConfigurationUpdate": {
      "type": "object",
      "description": "The device Configuration of a device.",
      "properties": {
        "nicDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NicDetail"
          },
          "x-ms-identifiers": []
        },
        "dnsServers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dnsServers"
          },
          "x-ms-identifiers": []
        },
        "proxyConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProxyConfiguration"
          },
          "x-ms-identifiers": []
        },
        "osVersion": {
          "type": "string"
        },
        "managementNicDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagementNicDetail"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DeviceListResult": {
      "type": "object",
      "description": "The response of a Device list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Device items on this page",
          "items": {
            "$ref": "#/definitions/Device"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeviceProperties": {
      "type": "object",
      "description": "Device properties",
      "properties": {
        "deviceConfiguration": {
          "$ref": "#/definitions/DeviceConfiguration",
          "description": "Configuration of device"
        },
        "nodeMetadata": {
          "type": "string"
        }
      },
      "required": [
        "deviceConfiguration",
        "nodeMetadata"
      ]
    },
    "DeviceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Device.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "DeviceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Device.",
      "properties": {
        "deviceConfiguration": {
          "$ref": "#/definitions/DeviceConfigurationUpdate",
          "description": "Configuration of device"
        },
        "nodeMetadata": {
          "type": "string"
        }
      }
    },
    "ManagementNicDetail": {
      "type": "object",
      "description": "The ManagementNicDetail of a device.",
      "properties": {
        "adapterName": {
          "type": "string"
        },
        "defaultIsolationId": {
          "type": "string"
        },
        "dnsServers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dnsServers"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "adapterName",
        "defaultIsolationId",
        "dnsServers"
      ]
    },
    "NicDetail": {
      "type": "object",
      "description": "The NicDetail of a device.",
      "properties": {
        "adapterName": {
          "type": "string"
        },
        "componentId": {
          "type": "string"
        },
        "driverVersion": {
          "type": "string"
        },
        "interfaceDescription": {
          "type": "string"
        },
        "ip4Address": {
          "type": "string",
          "description": "ip adress of nic"
        },
        "subnetMask": {
          "type": "string"
        },
        "defaultGateway": {
          "type": "string"
        }
      },
      "required": [
        "adapterName",
        "componentId",
        "driverVersion",
        "interfaceDescription",
        "ip4Address",
        "subnetMask",
        "defaultGateway"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "ProxyConfiguration": {
      "type": "object",
      "description": "The ProxyConfiguration of a device.",
      "properties": {
        "url": {
          "type": "string"
        },
        "port": {
          "type": "string"
        }
      },
      "required": [
        "url",
        "port"
      ]
    },
    "dnsServers": {
      "type": "object",
      "description": "The dnsServers of a device.",
      "properties": {
        "dnsServer": {
          "type": "string"
        }
      },
      "required": [
        "dnsServer"
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
