{
  "swagger": "2.0",
  "info": {
    "version": "2021-10-01-preview",
    "title": "securitydevops",
    "description": "Description of the new service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubRepos": {
      "get": {
        "description": "Returns a list of monitored GitHub repositories.",
        "operationId": "GitHubRepo_List",
        "x-ms-examples": {
          "Get a list of monitored GitHub repository under a subscription": {
            "$ref": "./examples/getGitHubRepoList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored GitHub repositories.",
            "schema": {
              "$ref": "#/definitions/GitHubRepoResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubRepos/{gitHubRepoName}": {
      "get": {
        "description": "Returns a monitored GitHub repository resource for a given ID.",
        "operationId": "GitHubRepo_Get",
        "x-ms-examples": {
          "Get a monitored GitHub repository": {
            "$ref": "./examples/getGitHubRepo.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub repository details.",
            "schema": {
              "$ref": "#/definitions/GitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a monitored GitHub repository resource.",
        "operationId": "GitHubRepo_CreateOrUpdate",
        "x-ms-examples": {
          "Create a monitored GitHub repository": {
            "$ref": "./examples/createGitHubRepo.json"
          },
          "Update a monitored GitHub repository": {
            "$ref": "./examples/updateGitHubRepo.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubRepoResource",
            "description": "GitHub repository details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubRepoResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/GitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update monitored GitHub repository details.",
        "operationId": "GitHubRepo_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubRepoPatchResource",
            "description": "gitHubRepo patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubRepoPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/GitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete monitored GitHub repository details.",
        "operationId": "GitHubRepo_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/trackedGitHubRepos": {
      "get": {
        "description": "Returns a list of monitored GitHub repositories under a subscription.",
        "operationId": "TrackedGitHubRepos_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored GitHub repositories.",
            "schema": {
              "$ref": "#/definitions/TrackedGitHubRepoResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/trackedGitHubRepos": {
      "get": {
        "description": "Returns a list of monitored GitHub repositories under a resource group.",
        "operationId": "TrackedGitHubRepos_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored GitHub repositories.",
            "schema": {
              "$ref": "#/definitions/TrackedGitHubRepoResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/trackedGitHubRepos/{gitHubRepoName}": {
      "get": {
        "description": "Returns a monitored GitHub repository resource for a given ID.",
        "operationId": "TrackedGitHubRepo_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub repository details.",
            "schema": {
              "$ref": "#/definitions/TrackedGitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a monitored GitHub repository resource.",
        "operationId": "TrackedGitHubRepo_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubRepoResource",
            "description": "GitHub repository details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrackedGitHubRepoResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/TrackedGitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update monitored GitHub repository details.",
        "operationId": "TrackedGitHubRepo_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubRepoPatchResource",
            "description": "gitHubRepo patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrackedGitHubRepoPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/TrackedGitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete monitored GitHub repository details.",
        "operationId": "TrackedGitHubRepo_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.SecurityDevOps/operations": {
      "get": {
        "description": "Returns list of operations supported by the Microsoft.SecurityDevOps provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "GitHubRepoResource": {
      "type": "object",
      "description": "Monitored GitHub repositories details.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the monitored GitHub repository.",
          "x-ms-client-flatten": true,
          "required": [
            "accountId",
            "repoName",
            "repoUrl"
          ],
          "properties": {
            "accountId": {
              "type": "integer",
              "format": "int64",
              "description": "GitHub account integer ID that the repository belongs to."
            },
            "repoName": {
              "type": "string",
              "description": "GitHub repository name."
            },
            "repoUrl": {
              "type": "string",
              "description": "User-viewable URL."
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "GitHubRepoPatchResource": {
      "type": "object",
      "description": "Monitored GitHub repositories patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the monitored GitHub repository.",
          "x-ms-client-flatten": true,
          "properties": {
            "repoName": {
              "type": "string",
              "description": "GitHub repository name"
            },
            "url": {
              "type": "string",
              "description": "User-viewable URL"
            }
          }
        }
      }
    },
    "GitHubRepoResourceList": {
      "description": "The list of GitHub repos.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of gitHubRepo list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of monitored GitHub repos.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/GitHubRepoResource"
          }
        }
      }
    },
    "TrackedGitHubRepoResource": {
      "type": "object",
      "description": "Monitored GitHub repositories details.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the monitored GitHub repository.",
          "x-ms-client-flatten": true,
          "required": [
            "accountId",
            "repoName",
            "repoUrl"
          ],
          "properties": {
            "accountId": {
              "type": "integer",
              "format": "int64",
              "description": "GitHub account integer ID that the repository belongs to."
            },
            "repoName": {
              "type": "string",
              "description": "GitHub repository name."
            },
            "repoUrl": {
              "type": "string",
              "description": "User-viewable URL."
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "TrackedGitHubRepoPatchResource": {
      "type": "object",
      "description": "Monitored GitHub repositories patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the monitored GitHub repository.",
          "x-ms-client-flatten": true,
          "properties": {
            "repoName": {
              "type": "string",
              "description": "GitHub repository name"
            },
            "url": {
              "type": "string",
              "description": "User-viewable URL"
            }
          }
        }
      }
    },
    "TrackedGitHubRepoResourceList": {
      "description": "The list of GitHub repos.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of gitHubRepo list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of monitored GitHub repos.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/TrackedGitHubRepoResource"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "GitHubRepoNameParameter": {
      "name": "gitHubRepoName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of gitHubRepo resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
