{
  "swagger": "2.0",
  "info": {
    "version": "2021-10-01-preview",
    "title": "securitydevops",
    "description": "Description of the new service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/connections": {
      "get": {
        "description": "Returns a list of Security DevOps connections to source code in the resource group.",
        "operationId": "Connections_ListByWorkgroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of security devops connections to source code.",
            "schema": {
              "$ref": "#/definitions/ConnectionResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/connections/{connectionName}": {
      "get": {
        "description": "Returns a connection for a given ID.",
        "operationId": "Connection_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConnectionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of security devops connections to source code.",
            "schema": {
              "$ref": "#/definitions/ConnectionResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a connection.",
        "operationId": "Connection_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConnectionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "ConnectionResource",
            "description": "Connection details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ConnectionResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update connection details.",
        "operationId": "Connection_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConnectionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "ConnectionPatchResource",
            "description": "Connection patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ConnectionResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a connection.",
        "operationId": "Connection_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConnectionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubConnectors": {
      "get": {
        "description": "Returns a list of monitored GitHub Connectors.",
        "operationId": "GitHubConnector_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored GitHub Connectors.",
            "schema": {
              "$ref": "#/definitions/GitHubConnectorResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }

    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}": {
      "get": {
        "description": "Returns a monitored GitHub Connector resource for a given ID.",
        "operationId": "GitHubConnector_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub Connector details.",
            "schema": {
              "$ref": "#/definitions/GitHubConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a monitored GitHub Connector resource.",
        "operationId": "GitHubConnector_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubConnectorResource",
            "description": "GitHub Connector details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubConnectorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/GitHubConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update monitored GitHub Connector details.",
        "operationId": "GitHubConnector_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubConnectorPatchResource",
            "description": "gitHubConnector patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubConnectorPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/GitHubConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete monitored GitHub Connector details.",
        "operationId": "GitHubConnector_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/gitHubRepos": {
      "get": {
        "description": "Returns a list of monitored GitHub repositories.",
        "operationId": "GitHubRepo_List",
        "x-ms-examples": {
          "Get a list of monitored GitHub repository under a subscription": {
            "$ref": "./examples/getGitHubRepoList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored GitHub repositories.",
            "schema": {
              "$ref": "#/definitions/GitHubRepoResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/gitHubRepos/{gitHubRepoName}": {
      "get": {
        "description": "Returns a monitored GitHub repository resource for a given ID.",
        "operationId": "GitHubRepo_Get",
        "x-ms-examples": {
          "Get a monitored GitHub repository": {
            "$ref": "./examples/getGitHubRepo.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub repository details.",
            "schema": {
              "$ref": "#/definitions/GitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a monitored GitHub repository resource.",
        "operationId": "GitHubRepo_CreateOrUpdate",
        "x-ms-examples": {
          "Create a monitored GitHub repository": {
            "$ref": "./examples/createGitHubRepo.json"
          },
          "Update a monitored GitHub repository": {
            "$ref": "./examples/updateGitHubRepo.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubRepoResource",
            "description": "GitHub repository details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubRepoResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/GitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update monitored GitHub repository details.",
        "operationId": "GitHubRepo_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubRepoPatchResource",
            "description": "gitHubRepo patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubRepoPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/GitHubRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete monitored GitHub repository details.",
        "operationId": "GitHubRepo_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/gitHubRepos/{gitHubRepoName}/gitHubWorkflows": {
      "get": {
        "description": "Returns a list of monitored GitHub Workflows.",
        "operationId": "GitHubWorkflows_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored GitHub Workflows.",
            "schema": {
              "$ref": "#/definitions/GitHubWorkflowResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/gitHubRepos/{gitHubRepoName}/gitHubWorkflows/{gitHubWorkflowName}": {
      "get": {
        "description": "Returns a monitored GitHub Workflow resource for a given ID.",
        "operationId": "GitHubWorkflow_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubWorkflowNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub Workflow details.",
            "schema": {
              "$ref": "#/definitions/GitHubWorkflowResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a monitored GitHub Workflow resource.",
        "operationId": "GitHubWorkflow_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubWorkflowNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubWorkflowResource",
            "description": "GitHub Workflow details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubWorkflowResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/GitHubConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update monitored GitHub Workflow details.",
        "operationId": "GitHubWorkflow_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubWorkflowNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "gitHubWorkflowPatchResource",
            "description": "gitHubWorkflow patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubWorkflowPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/GitHubWorkflowResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete monitored GitHub Workflow details.",
        "operationId": "GitHubWorkflow_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GitHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubRepoNameParameter"
          },
          {
            "$ref": "#/parameters/GitHubWorkflowNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/AzDevOpsConnectors": {
      "get": {
        "description": "Returns a list of monitored AzDevOps Connectors.",
        "operationId": "AzDevOpsConnector_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored AzDevOps Connectors.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsConnectorResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }

    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/AzDevOpsConnectors/{azDevOpsConnectorName}": {
      "get": {
        "description": "Returns a monitored AzDevOps Connector resource for a given ID.",
        "operationId": "AzDevOpsConnector_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "AzDevOps Connector details.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a monitored AzDevOps Connector resource.",
        "operationId": "AzDevOpsConnector_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "azDevOpsConnectorResource",
            "description": "AzDevOps Connector details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzDevOpsConnectorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update monitored AzDevOps Connector details.",
        "operationId": "AzDevOpsConnector_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "AzDevOpsConnectorPatchResource",
            "description": "AzDevOpsConnector patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzDevOpsConnectorPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete monitored AzDevOps Connector details.",
        "operationId": "AzDevOpsConnector_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/AzDevOpsConnectors/{azDevOpsConnectorName}/AzDevOpsRepos": {
      "get": {
        "description": "Returns a list of monitored AzDevOps repositories.",
        "operationId": "AzDevOpsRepo_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored AzDevOps repositories.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsRepoResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/AzDevOpsConnectors/{azDevOpsConnectorName}/AzDevOpsRepos/{azDevOpsRepoName}": {
      "get": {
        "description": "Returns a monitored AzDevOps repository resource for a given ID.",
        "operationId": "AzDevOpsGitHubRepo_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "AzDevOps repository details.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a monitored AzDevOps repository resource.",
        "operationId": "AzDevOpsRepo_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "azDevOpsRepoResource",
            "description": "AzDevOps repository details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzDevOpsRepoResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update monitored AzDevOps repository details.",
        "operationId": "AzDevOpsRepo_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "azDevOpsRepoPatchResource",
            "description": "azDevOpsRepo patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzDevOpsRepoPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsRepoResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete monitored AzDevOps repository details.",
        "operationId": "AzDevOpsRepo_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/AzDevOpsConnectors/{azDevOpsConnectorName}/AzDevOpsRepos/{azDevOpsRepoName}/AzDevOpsPipelines": {
      "get": {
        "description": "Returns a list of monitored AzDevOps Pipelines.",
        "operationId": "AzDevOpsPipelines_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitored AzDevOps Pipelines.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsPipelineResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/AzDevOpsConnectors/{azDevOpsConnectorName}/AzDevOpsRepos/{azDevOpsRepoName}/AzDevOpsPipelines/{azDevOpsPipelineName}": {
      "get": {
        "description": "Returns a monitored AzDevOps Pipeline resource for a given ID.",
        "operationId": "AzDevOpsPipeline_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsPipelineNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "AzDevOps Pipeline details.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsPipelineResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a monitored AzDevOps Pipeline resource.",
        "operationId": "AzDevOpsPipeline_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsPipelineNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "azDevOpsPipelineResource",
            "description": "AzDevOps Pipeline details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzDevOpsPipelineResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsPipelineResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update monitored AzDevOps Pipeline details.",
        "operationId": "AzDevOpsPipeline_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsPipelineNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "azDevOpsPipelinePatchResource",
            "description": "azDevOpsPipeline patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzDevOpsPipelinePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzDevOpsPipelineResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete monitored AzDevOps Pipeline details.",
        "operationId": "azDevOpsPipeline_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsRepoNameParameter"
          },
          {
            "$ref": "#/parameters/AzDevOpsPipelineNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },

    "/providers/Microsoft.SecurityDevOps/operations": {
      "get": {
        "description": "Returns list of operations supported by the Microsoft.SecurityDevOps provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ConnectionResource": {
      "type": "object",
      "description": "Connection to a source code management system.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the Connection.",
          "x-ms-client-flatten": true,
          "properties": {
            "connectionType": {
              "type": "string",
              "description": "Type of connection, e.g. GitHub, ADO"
            },
            "code": {
              "type": "string",
              "description": "Code for authentication - write only",
              "x-ms-secret": true
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "ConnectionPatchResource": {
      "type": "object",
      "description": "Connection patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the connection.",
          "x-ms-client-flatten": true,
          "properties": {
            "code": {
              "type": "string",
              "description": "Code for authentication - write only",
              "x-ms-secret": true
            }
          }
        }
      }
    },
    "ConnectionResourceList": {
      "description": "The list of connections to source code management systems.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of connections list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of connections.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ConnectionResource"
          }
        }
      }
    },
    "GitHubConnectorResource": {
      "type": "object",
      "description": "Connection to a GitHub management system.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the connection.",
          "x-ms-client-flatten": true,
          "properties": {
            "code": {
              "type": "string",
              "description": "Code for authentication - write only",
              "x-ms-secret": true
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "GitHubConnectorPatchResource": {
      "type": "object",
      "description": "GitHub Connection patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the connection.",
          "x-ms-client-flatten": true,
          "properties": {
            "code": {
              "type": "string",
              "description": "Code for authentication - write only",
              "x-ms-secret": true
            }
          }
        }
      }
    },
    "GitHubConnectorResourceList": {
      "description": "The list of GitHub connections to source code management systems.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of GitHub connections list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of GitHub connections.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/GitHubConnectorResource"
          }
        }
      }
    },
    "GitHubRepoResource": {
      "type": "object",
      "description": "Monitored GitHub repositories details.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the monitored GitHub repository.",
          "x-ms-client-flatten": true,
          "required": [
            "accountId",
            "repoName",
            "repoUrl"
          ],
          "properties": {
            "accountId": {
              "type": "integer",
              "format": "int64",
              "description": "GitHub account integer ID that the repository belongs to."
            },
            "repoName": {
              "type": "string",
              "description": "GitHub repository name."
            },
            "repoUrl": {
              "type": "string",
              "description": "User-viewable URL."
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "GitHubRepoPatchResource": {
      "type": "object",
      "description": "Monitored GitHub repositories patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the monitored GitHub repository.",
          "x-ms-client-flatten": true,
          "properties": {
            "repoName": {
              "type": "string",
              "description": "GitHub repository name"
            },
            "url": {
              "type": "string",
              "description": "User-viewable URL"
            }
          }
        }
      }
    },
    "GitHubRepoResourceList": {
      "description": "The list of GitHub repos.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of gitHubRepo list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of monitored GitHub repos.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/GitHubRepoResource"
          }
        }
      }
    },
    "GitHubWorkflowResource": {
      "type": "object",
      "description": "Monitored GitHub workflow details.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the workflow.",
          "x-ms-client-flatten": true,
          "properties": {
            "workflowUrl": {
              "type": "string",
              "description": "User-viewable URL."
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "GitHubWorkflowPatchResource": {
      "type": "object",
      "description": "GitHub workflow patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the workflow.",
          "x-ms-client-flatten": true,
          "properties": {
            "workflowUrl": {
              "type": "string",
              "description": "User-viewable URL."
            }
          }
        }
      }
    },
    "GitHubWorkflowResourceList": {
      "description": "The list of GitHub workflows to source code management systems.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of GitHub workflow list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of GitHub workflows.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/GitHubWorkflowResource"
          }
        }
      }
    },
    "AzDevOpsConnectorResource": {
      "type": "object",
      "description": "Connection to a AzDevOps management system.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the connection.",
          "x-ms-client-flatten": true,
          "properties": {
            "code": {
              "type": "string",
              "description": "Code for authentication - write only",
              "x-ms-secret": true
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "AzDevOpsConnectorPatchResource": {
      "type": "object",
      "description": "AzDevOps Connection patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the connection.",
          "x-ms-client-flatten": true,
          "properties": {
            "code": {
              "type": "string",
              "description": "Code for authentication - write only",
              "x-ms-secret": true
            }
          }
        }
      }
    },
    "AzDevOpsConnectorResourceList": {
      "description": "The list of AzDevOps connections to source code management systems.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of AzDevOps connections list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of AzDevOps connections.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AzDevOpsConnectorResource"
          }
        }
      }
    },
    "AzDevOpsRepoResource": {
      "type": "object",
      "description": "Monitored AzDevOps repositories details.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the monitored AzDevOps repository.",
          "x-ms-client-flatten": true,
          "required": [
            "accountId",
            "repoName",
            "repoUrl"
          ],
          "properties": {
            "accountId": {
              "type": "integer",
              "format": "int64",
              "description": "AzDevOps account integer ID that the repository belongs to."
            },
            "repoName": {
              "type": "string",
              "description": "AzDevOps repository name."
            },
            "repoUrl": {
              "type": "string",
              "description": "User-viewable URL."
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "AzDevOpsRepoPatchResource": {
      "type": "object",
      "description": "Monitored AzDevOps repositories patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the monitored AzDevOps repository.",
          "x-ms-client-flatten": true,
          "properties": {
            "repoName": {
              "type": "string",
              "description": "AzDevOps repository name"
            },
            "url": {
              "type": "string",
              "description": "User-viewable URL"
            }
          }
        }
      }
    },
    "AzDevOpsRepoResourceList": {
      "description": "The list of AzDevOps repos.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of AzDevOpsRepo list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of monitored AzDevOps repos.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AzDevOpsRepoResource"
          }
        }
      }
    },
    "AzDevOpsPipelineResource": {
      "type": "object",
      "description": "Monitored AzDevOps pipeline details.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the workflow.",
          "x-ms-client-flatten": true,
          "properties": {
            "workflowUrl": {
              "type": "string",
              "description": "User-viewable URL."
            },
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
              "description": "The system metadata pertaining to this resource.",
              "readOnly": true
            }
          }
        }
      }
    },
    "AzDevOpsPipelinePatchResource": {
      "type": "object",
      "description": "AzDevOps workflow patch properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Information about the pipeline.",
          "x-ms-client-flatten": true,
          "properties": {
            "workflowUrl": {
              "type": "string",
              "description": "User-viewable URL."
            }
          }
        }
      }
    },
    "AzDevOpsPipelineResourceList": {
      "description": "The list of AzDevOps pipeline to source code management systems.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of AzDevOps pipeline list.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The list of AzDevOps pipelines.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AzDevOpsPipelineResource"
          }
        }
      }
    },
    "Scan": {
      "description": "A scan of a source code repository or build artifacts.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the scan.",
          "x-ms-client-flatten": true,
          "required": [
            "repo",
            "startTime",
            "tool"
          ],
          "properties": {
            "repo": {
              "description": "Source code repository information.",
              "$ref": "#/definitions/ScanRepo"
            },
            "build": {
              "description": "Build information.",
              "$ref": "#/definitions/ScanBuild"
            },
            "startTime": {
              "description": "Time of the scan",
              "type": "string",
              "format": "date-time"
            },
            "tool": {
              "description": "Scan tool.",
              "$ref": "#/definitions/ScanTool"
            }
          }
        }
      }
    },
    "ScanRepo": {
      "description": "Source code repository information for a scan.",
      "type": "object",
      "properties": {
        "repoType": {
          "description": "Type of source code repository.",
          "type": "string"
        },
        "repoName": {
          "description": "Name of the scan finding source.",
          "type": "string"
        },
        "version": {
          "description": "Version of the scan finding source.",
          "type": "string"
        }
      }
    },
    "ScanBuild": {
      "description": "Build information for a scan.",
      "type": "object",
      "properties": {
        "buildType": {
          "description": "Type of build.",
          "type": "string"
        },
        "definitionName": {
          "description": "Name of the build definition.",
          "type": "string"
        },
        "definitionUrl": {
          "description": "URL of the build definition.",
          "type": "string"
        },
        "runName": {
          "description": "Name of the build run.",
          "type": "string"
        },
        "runUrl": {
          "description": "URL of the build run.",
          "type": "string"
        },
        "sourceBranch": {
          "description": "Source code repository branch that was built.",
          "type": "string"
        }
      }
    },
    "ScanTool": {
      "description": "Tool that generated the scan.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the scan finding source.",
          "type": "string"
        },
        "version": {
          "description": "Version of the scan finding source.",
          "type": "string"
        }
      }
    },
    "ScanFinding": {
      "description": "A scan finding.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Information about the scan finding.",
          "x-ms-client-flatten": true,
          "required": [
            "ruleId",
            "message"
          ],
          "properties": {
            "repoResourceId": {
              "description": "Resource ID of the code repository.",
              "type": "string"
            },
            "ruleId": {
              "description": "Rule ID that generated this scan finding.",
              "type": "string"
            },
            "ruleHelpUrl": {
              "description": "Help link for the rule that generated this scan finding.",
              "type": "string"
            },
            "message": {
              "description": "Human readable message this scan finding.",
              "type": "string"
            },
            "level": {
              "description": "Severity level for this scan finding.",
              "type": "string"
            },
            "path": {
              "description": "Relative path of the file that contains the scan finding.",
              "type": "string"
            },
            "startLine": {
              "description": "Line number inside the file that contains the scan finding.",
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ConnectionNameParameter": {
      "name": "connectionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The connection name.",
      "x-ms-parameter-location": "method"
    },
    "GitHubRepoNameParameter": {
      "name": "gitHubRepoName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of gitHubRepo resource.",
      "x-ms-parameter-location": "method"
    },
    "GitHubConnectorNameParameter": {
      "name": "gitHubConnectorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The GitHub connector name.",
      "x-ms-parameter-location": "method"
    },
    "GitHubWorkflowNameParameter": {
      "name": "gitHubWorkflowName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The GitHub workflow name.",
      "x-ms-parameter-location": "method"
    },
    "AzDevOpsRepoNameParameter": {
      "name": "azDevOpsRepoName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of AzDevOps resource.",
      "x-ms-parameter-location": "method"
    },
    "AzDevOpsConnectorNameParameter": {
      "name": "azDevOpsConnectorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The AzDevOps connector name.",
      "x-ms-parameter-location": "method"
    },
    "AzDevOpsPipelineNameParameter": {
      "name": "azDevOpsPipelineName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The AzDevOps pipeline name.",
      "x-ms-parameter-location": "method"
    }
  }
}
