{
  "swagger": "2.0",
  "info": {
    "version": "2022-05-10-privatepreview",
    "title": "CodespacesClient",
    "description": "GitHub Codespaces REST API version 2022-05-10-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/GitHub.Codespaces/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Retrieves a list of available API operations",
        "summary": "Retrieves a list of available API operations under this Resource Provider.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of operations under GitHub.Codespaces resource provider.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound.",
            "schema": {
              "$ref": "#/definitions/CodespacesOperationsErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesOperationsGet": {
            "$ref": "./examples/OperationGroupGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Codespaces/networkSettings/{networkSettingsName}": {
      "get": {
        "tags": [
          "CodespacesNetwork"
        ],
        "summary": "Retrieves information about a Codespaces Network resource.",
        "description": "Retrieves the properties of a Codespaces Network resource.",
        "operationId": "Network_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Codespaces Network resource",
            "schema": {
              "$ref": "#/definitions/CodespacesNetwork"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Network resource does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesNetworkErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesNetworkGet": {
            "$ref": "./examples/CodespacesNetworkGet_example.json"
          }
        }
      },
      "delete": {
        "tags": [
          "CodespacesNetwork"
        ],
        "summary": "Deletes a Codespaces Network resource.",
        "description": "Deletes an existing Codespaces Network resource.",
        "operationId": "Network_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the Codespaces Network resource is deleted."
          },
          "204": {
            "description": "The request was successful; Codespaces Network resource does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 409 - Conflict(Codespaces Network resource is in a non-terminal state due to an ongoing operation.)",
            "schema": {
              "$ref": "#/definitions/CodespacesNetworkErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesNetworkDelete": {
            "$ref": "./examples/CodespacesNetworkDelete_example.json"
          }
        }
      },
      "put": {
        "tags": [
          "codespacesNetwork"
        ],
        "summary": "Creates a Codespaces Network resource.",
        "description": "Creates a Codespaces Network resource with the specified create parameters.",
        "operationId": "Network_Create",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingsNameParameter"
          },
          {
            "name": "codespacesNetwork",
            "in": "body",
            "description": "Codespaces Network resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodespacesNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Codespaces Network resource",
            "schema": {
              "$ref": "#/definitions/CodespacesNetwork",
              "x-ms-azure-resource": true
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Network resource could not be created/updated)",
            "schema": {
              "$ref": "#/definitions/CodespacesNetworkErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesNetworkCreate": {
            "$ref": "./examples/CodespacesNetworkCreate_example.json"
          }
        }
      },
      "patch": {
        "tags": [
          "codespacesNetwork"
        ],
        "summary": "Updates a Codespaces Network resource.",
        "description": "Updates the properties of an existing Codespaces Network resource with the specified update parameters.",
        "operationId": "Network_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingsNameParameter"
          },
          {
            "name": "codespacesNetwork",
            "in": "body",
            "description": "Parameters for updating the Codespaces Network resource.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CodespacesNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the updated Codespaces Network resource.",
            "schema": {
              "$ref": "#/definitions/CodespacesNetwork",
              "x-ms-azure-resource": true
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Network resource does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesNetworkErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesNetworkUpdate": {
            "$ref": "./examples/CodespacesNetworkUpdate_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Codespaces/networkSettings": {
      "get": {
        "tags": [
          "CodespacesNetwork"
        ],
        "summary": "Retrieves information about all Codespaces Network resources under the given subscription and resource group",
        "description": "Retrieves the properties of all Codespaces Network resources.",
        "operationId": "Network_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Codespaces Network resource",
            "schema": {
              "$ref": "#/definitions/CodespacesNetworkList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Network resource does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesNetworkErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CodespacesNetworkListGet": {
            "$ref": "./examples/CodespacesNetworkListGet_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/GitHub.Codespaces/networkSettings": {
      "get": {
        "tags": [
          "CodespacesNetwork"
        ],
        "summary": "Retrieves information about all Codespaces Network resources under the given subscription",
        "description": "Retrieves the properties of all Codespaces Network resources.",
        "operationId": "Network_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of Codespaces Network resources",
            "schema": {
              "$ref": "#/definitions/CodespacesNetworkList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Network resource does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesNetworkErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CodespacesNetworkListBySub": {
            "$ref": "./examples/CodespacesNetworkListBySub_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CodespacesOperationsErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the sub status for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified resource Id for the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "Tags for the Codespaces Network resource",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "location": {
          "description": "Region where the Azure resource is located.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "x-ms-azure-resource": true
    },
    "Identity": {
      "type": "object",
      "description": "Model representing a managed identity for a Codespaces resource.",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "description": "The type of managed identity used. The type 'None' will remove any identities.",
          "enum": [
            "None",
            "SystemAssigned"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IdentityType",
            "modelAsString": false
          }
        },
        "principalId": {
          "description": "The principal ID of resource identity",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "The tenant ID of resource",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceProviderOperationList": {
      "description": "List containing this Resource Provider's available operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Resource provider operations list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperationDefinition"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next page for list of Azure operations.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceProviderOperationDefinition": {
      "description": "Describes the Resource Provider Operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource provider operation name.",
          "type": "string"
        },
        "display": {
          "description": "Resource provider display properties.",
          "$ref": "#/definitions/ResourceProviderOperationDisplay"
        }
      }
    },
    "ResourceProviderOperationDisplay": {
      "description": "Describes the properties of the Operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Name of the resource provider.",
          "type": "string"
        },
        "resource": {
          "description": "Name of the resource type.",
          "type": "string"
        },
        "operation": {
          "description": "Name of the resource provider operation.",
          "type": "string"
        },
        "description": {
          "description": "Description of the resource provider operation.",
          "type": "string"
        }
      }
    },
    "CodespacesNetworkErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "CodespacesNetwork": {
      "type": "object",
      "description": "Codespaces Network resource. Represents the high level Network needed for vnet injection.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The managed identity associated with the resource."
        },
        "properties": {
          "type": "object",
          "description": "Additional Codespaces Network resource properties.",
          "title": "Codespaces Network resource properties",
          "properties": {
            "subnetId": {
              "description": "Specifies a subnet ID for vnet-injection.",
              "type": "string"
            }
          }
        }
      }
    },
    "CodespacesNetworkList": {
      "description": "Object that includes an array of Codespaces Network resources and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Codespaces Network resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodespacesNetwork"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "maxLength": 90,
      "minLength": 1,
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "NetworkSettingsNameParameter": {
      "name": "networkSettingsName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the Codespaces Network resource",
      "pattern": "^[a-zA-Z0-9]",
      "x-ms-parameter-location": "method"
    }
  }
}
