{
  "swagger": "2.0",
  "info": {
    "title": "ManagedSC",
    "description": "The Microsoft.ManagedSC Rest API spec.",
    "version": "2022-08-26-preview",
    "x-ms-code-generation-settings": {
      "name": "ManagedSCRPClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedSC/managedstorageclass/{managedstorageclassName}": {
      "get": {
        "operationId": "managedstorageclass_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/managedstorageclassNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the managedstorageclass resource.",
            "schema": {
              "$ref": "#/definitions/managedstorageclass"
            }
          }
        }
      },
      "put": {
        "operationId": "managedstorageclass_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/managedstorageclassNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "managedstorageclass",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/managedstorageclass"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the managedstorageclass resource.",
            "schema": {
              "$ref": "#/definitions/managedstorageclass"
            }
          },
          "201": {
            "description": "Creates the managedstorageclass resource.",
            "schema": {
              "$ref": "#/definitions/managedstorageclass"
            }
          }
        }
      },
      "delete": {
        "operationId": "managedstorageclass_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/managedstorageclassNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the managedstorageclass resource."
          }
        }
      },
      "patch": {
        "operationId": "managedstorageclass_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/managedstorageclassNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "managedstorageclass",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/managedstorageclassPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the managedstorageclass resource.",
            "schema": {
              "$ref": "#/definitions/managedstorageclass"
            }
          },
          "201": {
            "description": "Updates the managedstorageclass resource.",
            "schema": {
              "$ref": "#/definitions/managedstorageclass"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedSC/managedstorageclass": {
      "get": {
        "operationId": "managedstorageclass_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all managedstorageclass under the resouce group.",
            "schema": {
              "$ref": "#/definitions/managedstorageclassListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedSC/managedstorageclass": {
      "get": {
        "operationId": "managedstorageclass_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all managedstorageclass under the subscription.",
            "schema": {
              "$ref": "#/definitions/managedstorageclassListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ManagedSC/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "managedstorageclassProperties": {
      "type": "object",
      "properties": {
        "accessMode": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "properties": {
            "items": {
              "type": "string"
            }
          }
        },
        "allowVolumeExpansion": {
          "type": "boolean",
          "description": "AllowVolumeExpansion shows whether the storage class allow volume expand"
        },
        "dataResilience": {
          "type": "boolean"
        },
        "default": {
          "type": "boolean",
          "description": "Default is whether the storageclass is configed as default storageclass"
        },
        "failoverSpeed": {
          "type": "string",
          "description": "PerformanceTier indicates how PersistentVolumeClaims should be bound."
        },
        "limitations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "properties": {
            "items": {
              "type": "string"
            }
          }
        },
        "mountOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "properties": {
            "items": {
              "type": "string"
            }
          },
          "description": "Dynamically provisioned PersistentVolumes of this storage class are created with these mountOptions, e.g. [\"ro\", \"soft\"]. Not validated - mount of the PVs will simply fail if one is invalid."
        },
        "performance": {
          "type": "string",
          "description": "PerformanceTier indicates how PersistentVolumeClaims should be bound."
        },
        "priority": {
          "type": "integer",
          "description": "the less the better"
        },
        "provisioner": {
          "type": "string",
          "description": "Provisioner is the provisioner of the storageclass"
        },
        "storageClassType": {
          "type": "string",
          "description": "StorageClassType is the type of the storageclass"
        },
        "templateParameters": {
          "type": "object",
          "properties": {
            "accessKeyID": {
              "type": "string",
              "description": "the AccessKeyID used by S3 module"
            },
            "backingStorageClassName": {
              "type": "string",
              "description": "the backing storageclass used by the created storageclass"
            },
            "endpoint": {
              "type": "string",
              "description": "the endpoint used by S3 module"
            },
            "region": {
              "type": "string",
              "description": "the region used by S3 module"
            },
            "secretAccessKey": {
              "type": "string",
              "description": "the secretAccessKey used by S3 module"
            }
          },
          "description": "TemplateParameters are parameters used for storageclass template"
        },
        "volumeBindingMode": {
          "type": "string",
          "description": "VolumeBindingMode indicates how PersistentVolumeClaims should be provisioned and bound.  When unset, VolumeBindingImmediate is used. This field is only honored by servers that enable the VolumeScheduling feature."
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "scProvisioningState": {
              "type": "string",
              "description": "State of the SC Provisioner"
            }
          },
          "description": "ManagedStorageClassStatus defines the observed state of ManagedStorageClass"
        }
      },
      "required": ["storageClassType"]
    },
    "managedstorageclass": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "$ref": "#/definitions/managedstorageclassProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The managedstorageclass resource definition."
    },
    "managedstorageclassPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The managedstorageclass resource patch definition."
    },
    "managedstorageclassListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/managedstorageclass"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "managedstorageclassNameParameter": {
      "name": "managedstorageclassName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}