{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The Network Cloud APIs provide management of the on-premises clusters and their resources, such as, racks, bare-metal hosts, virtual machines, workload networks and more.",
    "title": "NetworkCloud",
    "version": "2021-10-21-preview"
  },
  "host": "management.azure.com",
  "paths": {
    "/providers/Microsoft.NetworkCloud/operations": {
      "get": {
        "description": "Get a list of all available resource provider operations. It contains a URL link to get the next set of results.",
        "summary": "List resource provider operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List resource provider operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/clusterManagers": {
      "get": {
        "description": "Get a list of all cluster managers in a given subscription.",
        "summary": "List cluster managers in a subscription.",
        "operationId": "ClusterManagers_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManagerList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List cluster manager for the subscription": {
            "$ref": "./examples/ClusterManagers_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/clusters": {
      "get": {
        "description": "Get a list of all clusters in a given subscription.",
        "summary": "List clusters in a subscription.",
        "operationId": "Clusters_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List clusters for subscription": {
            "$ref": "./examples/Clusters_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "description": "Get the latest details of the long running operation.",
        "summary": "Get the long running operation status.",
        "operationId": "OperationStatuses_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get log running operation status": {
            "$ref": "./examples/OperationStatuses_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/racks": {
      "get": {
        "description": "Get a list of all racks for a specific subscription. The API returns 200 OK when the API is successful.",
        "summary": "Retrieve all racks for a specific subscription.",
        "operationId": "Racks_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RackList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List racks for subscription": {
            "$ref": "./examples/Racks_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/virtualMachines": {
      "get": {
        "description": "Get a list of all virtual machines for a specific subscription. The API returns 200 OK when the API is successful.",
        "summary": "Retrieve all virtual machines for a specific subscription.",
        "operationId": "VirtualMachines_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machines for subscription": {
            "$ref": "./examples/VirtualMachines_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/workloadNetworks": {
      "get": {
        "description": "Get a list of all workload networks in a given subscription.  The API returns 200 OK when the API is successful.",
        "summary": "List workload networks in a subscription.",
        "operationId": "WorkloadNetworks_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetworkList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List workload networks for subscription": {
            "$ref": "./examples/WorkloadNetworks_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusterManagers": {
      "get": {
        "description": "Get a list of all cluster managers in a given resource group.",
        "summary": "List cluster managers from a specific resource group.",
        "operationId": "ClusterManagers_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManagerList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List cluster manager for the resource group": {
            "$ref": "./examples/ClusterManagers_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusterManagers/{clusterManagerName}": {
      "get": {
        "description": "Get the properties of a specific cluster manager.",
        "summary": "Retrieve a specific cluster manager.",
        "operationId": "ClusterManagers_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterManagerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get cluster manager": {
            "$ref": "./examples/ClusterManagers_Get.json"
          }
        }
      },
      "put": {
        "description": "Create a new cluster manager or update the properties of cluster manager if it exists. The API returns 200 OK in case of the successful creation or update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Create or update a specific cluster manager.",
        "operationId": "ClusterManagers_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterManagerNameParameter"
          },
          {
            "description": "The request body.",
            "name": "clusterManagerParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update cluster manager": {
            "$ref": "./examples/ClusterManagers_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a specific cluster manager.The API returns 200 OK when the cluster manager is deleted successfully. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific cluster manager.",
        "operationId": "ClusterManagers_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterManagerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete cluster manager": {
            "$ref": "./examples/ClusterManagers_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific cluster manager, or update the tags assigned to the cluster manager. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific cluster manager.",
        "operationId": "ClusterManagers_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterManagerNameParameter"
          },
          {
            "description": "The request body.",
            "name": "clusterManagerUpdateParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch cluster manager": {
            "$ref": "./examples/ClusterManagers_Patch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters": {
      "get": {
        "description": "Get a list of all clusters in a given resource group.",
        "summary": "List clusters in a resource group.",
        "operationId": "Clusters_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List clusters for resource group": {
            "$ref": "./examples/Clusters_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters/{clusterName}": {
      "get": {
        "description": "Get the properties of a specific cluster.",
        "summary": "Retrieve a specific cluster.",
        "operationId": "Clusters_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get cluster": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      },
      "put": {
        "description": "Create a new cluster or update the properties of the cluster if it exists. The API returns 200 OK in case of the successful creation or update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Create or update a specific cluster.",
        "operationId": "Clusters_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "description": "The request body.",
            "name": "clusterParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update cluster": {
            "$ref": "./examples/Clusters_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a specific cluster. The API returns 200 OK when the deletion is successful. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific cluster.",
        "operationId": "Clusters_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete cluster": {
            "$ref": "./examples/Clusters_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific cluster, or update the tags assigned to the cluster. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific cluster.",
        "operationId": "Clusters_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "description": "The request body.",
            "name": "clusterUpdateParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ClusterPatchParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch cluster": {
            "$ref": "./examples/Clusters_Patch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters/{clusterName}/applyRackManifests": {
      "post": {
        "description": "Apply rack manifests to a cluster. This would update the existing cluster by applying rack manifests that have no rack associated yet.\nThe API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Apply rack manifests to a cluster.",
        "operationId": "Clusters_ApplyRackManifests",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Apply rack manifests to cluster": {
            "$ref": "./examples/Clusters_ApplyRackManifests.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters/{clusterName}/deploy": {
      "post": {
        "description": "Deploy a cluster to a provided rack. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Deploy a cluster to a provided rack.",
        "operationId": "Clusters_Deploy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "description": "The request body.",
            "name": "clusterDeployParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ClusterDeployParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deploy cluster": {
            "$ref": "./examples/Clusters_Deploy.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters/{clusterName}/updateVersion": {
      "post": {
        "description": "Update a version of a provided cluster to one of the available supported versions. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Update a cluster version.",
        "operationId": "Clusters_UpdateVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "description": "The request body.",
            "name": "clusterUpdateVersionParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ClusterUpdateVersionParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update cluster version": {
            "$ref": "./examples/Clusters_UpdateVersion.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/racks": {
      "get": {
        "description": "Get a list of all racks in a given resource group. The API returns 200 OK when the API is successful.",
        "summary": "List racks in a resource group.",
        "operationId": "Racks_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RackList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List racks for resource group": {
            "$ref": "./examples/Racks_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/racks/{rackName}": {
      "get": {
        "description": "Get the properties of a specific rack. The API returns 200 OK when the operation is successful.",
        "summary": "Retrieve a specific rack.",
        "operationId": "Racks_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RackNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Rack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get rack resource": {
            "$ref": "./examples/Racks_Get.json"
          }
        }
      },
      "put": {
        "description": "Update the properties of the rack if it exists. The API returns 200 OK in case of the successful update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Update a specific rack.",
        "operationId": "Racks_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RackNameParameter"
          },
          {
            "description": "The request body.",
            "name": "rackParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Rack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Rack"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Rack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update rack": {
            "$ref": "./examples/Racks_Update.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a provided rack. The API returns 200 OK when the deletion is successful. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific rack.",
        "operationId": "Racks_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RackNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete rack resource": {
            "$ref": "./examples/Racks_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific rack, or update the tags assigned to the rack. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific rack.",
        "operationId": "Racks_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RackNameParameter"
          },
          {
            "description": "The request body.",
            "name": "rackUpdateParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/RackPatchParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Rack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch rack": {
            "$ref": "./examples/Racks_Patch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines": {
      "get": {
        "description": "Get a list of all virtual machines in a given resource group. The API returns 200 OK when the API is successful.",
        "summary": "List virtual machines in a resource group.",
        "operationId": "VirtualMachines_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machines for resource group": {
            "$ref": "./examples/VirtualMachines_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}": {
      "get": {
        "description": "Get the properties of a specific virtual machine. The API returns 200 OK when the operation is successful.",
        "summary": "Retrieve a specific virtual machine.",
        "operationId": "VirtualMachines_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual machine": {
            "$ref": "./examples/VirtualMachines_Get.json"
          }
        }
      },
      "put": {
        "description": "Create a new virtual machine or update the properties of the existing virtual machine. The API returns 200 OK in case of the successful creation or update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Creates or updates a specific virtual machine.",
        "operationId": "VirtualMachines_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          },
          {
            "description": "The request body.",
            "name": "virtualMachineParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update virtual machine": {
            "$ref": "./examples/VirtualMachines_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a provided virtual machine. The API returns 200 OK when the deletion is successful. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific virtual machine.",
        "operationId": "VirtualMachines_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete virtual machine": {
            "$ref": "./examples/VirtualMachines_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific virtual machine, or update the tags assigned to the virtual machine. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific virtual machine.",
        "operationId": "VirtualMachines_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          },
          {
            "description": "The request body.",
            "name": "virtualMachineUpdateParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch virtual machine": {
            "$ref": "./examples/VirtualMachines_Patch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/powerOff": {
      "post": {
        "description": "Power off a provided Network Cloud Virtual Machine. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Power off a specific Network Cloud Virtual Machine.",
        "operationId": "VirtualMachines_PowerOff",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          },
          {
            "description": "The request body.",
            "name": "virtualMachinePowerOffParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/VirtualMachinePowerOffParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Power off a virtual machine": {
            "$ref": "./examples/VirtualMachines_PowerOff.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/reimage": {
      "post": {
        "description": "Reimage a specific virtual Machine. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Reimage a specific virtual machine.",
        "operationId": "VirtualMachines_Reimage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Reimage a Network Cloud Virtual Machine": {
            "$ref": "./examples/VirtualMachines_Reimage.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/restart": {
      "post": {
        "description": "Restart a specific virtual machine. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Restart a specific virtual machine.",
        "operationId": "VirtualMachines_Restart",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Restart a virtual machine": {
            "$ref": "./examples/VirtualMachines_Restart.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/start": {
      "post": {
        "description": "Start a provided Network Cloud Virtual Machine. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Start a specific Network Cloud Virtual Machine.",
        "operationId": "VirtualMachines_Start",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start a virtual machine": {
            "$ref": "./examples/VirtualMachines_Start.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/workloadNetworks": {
      "get": {
        "description": "Get a list of all workload networks in a given resource group.  The API returns 200 OK when the API is successful.",
        "summary": "List workload networks in a resource group.",
        "operationId": "WorkloadNetworks_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetworkList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List workload networks for resource group": {
            "$ref": "./examples/WorkloadNetworks_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/workloadNetworks/{workloadNetworkName}": {
      "get": {
        "description": "Get the properties of a specific workload network. The API returns 200 OK when the API operation is successful.",
        "summary": "Retrieve a specific workload network.",
        "operationId": "WorkloadNetworks_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNetworkNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get workload network": {
            "$ref": "./examples/WorkloadNetworks_Get.json"
          }
        }
      },
      "put": {
        "description": "Create a new workload network or update the properties of the existing workload network. The API returns 200 OK in case of the successful creation or update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Create or update a specific workload network.",
        "operationId": "WorkloadNetworks_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNetworkNameParameter"
          },
          {
            "description": "The request body.",
            "name": "workloadNetworkParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update workload network": {
            "$ref": "./examples/WorkloadNetworks_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a provided workload network. The API returns 200 OK when the deletion is successful. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific workload network.",
        "operationId": "WorkloadNetworks_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNetworkNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete workload network": {
            "$ref": "./examples/WorkloadNetworks_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific workload network, or update the tags assigned to the workload network. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific workload network.",
        "operationId": "WorkloadNetworks_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNetworkNameParameter"
          },
          {
            "description": "The request body.",
            "name": "workloadNetworkUpdateParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TagsParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch workload network": {
            "$ref": "./examples/WorkloadNetworks_Patch.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AggregatorRackSkuSupported": {
      "description": "Note that this will only contain references to the aggregator rack.\nA secondary lookup of that aggregator rack SKU will provide the references to the Compute rack SKU information.",
      "type": "object",
      "title": "Aggregator rack SKU details supported by the cluster manager.",
      "properties": {
        "id": {
          "description": "Resource ID of the Rack SKU",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "A descriptive name of the rack sku",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BareMetalMachineProperties": {
      "type": "object",
      "title": "BareMetalMachineProperties represents the properties of a baremetal machine.",
      "required": [
        "bootMacAddress"
      ],
      "properties": {
        "adminStatus": {
          "description": "Admin status of the bare-metal machine.",
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "BareMetalMachineAdminStatus"
          },
          "readOnly": true
        },
        "bmcConnectionString": {
          "description": "The connection string for the bare-metal controller on this bare-metal machine.",
          "type": "string",
          "readOnly": true
        },
        "bmcCredentials": {
          "$ref": "#/definitions/BmcCredentials"
        },
        "bootMacAddress": {
          "description": "MAC address of a NIC connected to the PXE network.",
          "type": "string"
        },
        "clusterId": {
          "description": "A fully-qualified identifier of the cluster this bare-metal machine is associated with.",
          "type": "string",
          "readOnly": true
        },
        "cordonStatus": {
          "description": "Cordon status of the bare-metal machine.",
          "type": "string",
          "enum": [
            "Cordoned",
            "Uncordoned"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "BareMetalMachineCordonStatus"
          },
          "readOnly": true
        },
        "hardwareInventory": {
          "$ref": "#/definitions/HardwareInventory"
        },
        "machineDetails": {
          "description": "Details provided by the customer during the creation of rack manifests\nthat allows for “custom data” to be associated with this machine",
          "type": "string",
          "readOnly": true
        },
        "machineLocation": {
          "description": "A user-friendly description of the bare-metal machine's location.",
          "type": "string"
        },
        "machineSkuId": {
          "description": "A unique internal identifier of the bare-metal machine SKU.",
          "type": "string",
          "readOnly": true
        },
        "powerState": {
          "description": "Power state of the bare-metal machine.",
          "type": "string",
          "enum": [
            "On",
            "Off"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "BareMetalMachinePowerState"
          },
          "readOnly": true
        },
        "provisioningState": {
          "description": "Provisioning state of the bare-metal machine.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Pending",
            "Accepted"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "BareMetalMachineProvisioningState"
          },
          "readOnly": true
        },
        "rackId": {
          "description": "Resource identifier of the rack where this bare-metal machine resides.",
          "type": "string",
          "readOnly": true
        },
        "rackSlot": {
          "description": "Rack slot in which this bare-metal machine is located, ordered from the bottom up i.e. the lowest slot is 1.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "readyState": {
          "description": "Indicator of whether the bare-metal machine is ready to receive workloads.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ReadyState"
          },
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/BareMetalMachineStatus"
        },
        "tpmEndorsementKey": {
          "description": "A thumbprint or SHA of the TPM endorsement key that ensures authenticity of the bare-metal machine.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BareMetalMachineStatus": {
      "description": "BareMetalMachineStatus denotes the status of the bare-metal machine",
      "type": "object",
      "properties": {
        "detailedStatus": {
          "description": "A more detailed status of the bare-metal machine.",
          "type": "string",
          "enum": [
            "Preparing",
            "Error",
            "Available",
            "Provisioning",
            "Provisioned",
            "Deprovisioning"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "BareMetalMachineDetailedStatus"
          },
          "readOnly": true
        },
        "detailedStatusMessage": {
          "description": "A descriptive message about the current detailed status.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BareMetalMachineUserData": {
      "description": "Bare-metal machine user data",
      "type": "object",
      "required": [
        "rackSlot",
        "bootMacAddress",
        "bmcCredentials",
        "tpmEndorsementKey",
        "bmcMacAddress"
      ],
      "properties": {
        "bmcConnectionString": {
          "description": "The connection string for the bare-metal controller on this bare-metal machine.",
          "type": "string",
          "readOnly": true
        },
        "bmcCredentials": {
          "$ref": "#/definitions/BmcCredentials"
        },
        "bmcMacAddress": {
          "description": "MAC address of the bare-metal controller on this machine.",
          "type": "string"
        },
        "bootMacAddress": {
          "description": "The MAC address of a NIC connected to the PXE network.",
          "type": "string"
        },
        "machineDetails": {
          "description": "Additional optional details such as SerialNumber, AssetTag, etc.",
          "type": "string"
        },
        "machineName": {
          "description": "A user provided name for the bare-metal machine created from this user data.\nIf not provided, a name will be generated programmatically.",
          "type": "string"
        },
        "rackSlot": {
          "description": "The slot in which this physical machine is located, ordered from the bottom up i.e. the lowest slot is 1.\nIt is positional, so the first machine at the bottom is rackSlot: 1, the second machine up is rackSlot: 2.",
          "type": "integer",
          "format": "int64"
        },
        "tpmEndorsementKey": {
          "description": "The thumbprint or SHA of the TPM Endorsement Key that allows the resource provider to ensure\nauthenticity of the machine.",
          "type": "string"
        }
      }
    },
    "BmcCredentials": {
      "type": "object",
      "title": "Credentials for the baseboard management controller device on this baremetal machine.",
      "properties": {
        "password": {
          "description": "The baseboard management controller device server password.",
          "type": "string",
          "x-ms-secret": true,
          "readOnly": true
        },
        "username": {
          "description": "The baseboard management controller device user name",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Cluster": {
      "description": "A cluster is the top level object for the on-premise environment.",
      "type": "object",
      "title": "Cluster represents an on-Premise Network Cloud cluster",
      "required": [
        "location",
        "extendedLocation",
        "properties"
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        },
        "id": {
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The geo-location where the resource lives",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ClusterAvailableUpgradeVersion": {
      "description": "ClusterAvailableUpgradeVersion represents the various cluster upgrade parameters",
      "type": "object",
      "properties": {
        "controlImpact": {
          "description": "The indicator of whether the control plane will be impacted during the upgrade.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ControlImpact"
          },
          "readOnly": true
        },
        "expectedDuration": {
          "description": "The expected duration needed for this upgrade.",
          "type": "string",
          "readOnly": true
        },
        "impactDescription": {
          "description": "The impact description including the specific details and release notes.",
          "type": "string",
          "readOnly": true
        },
        "targetClusterVersion": {
          "description": "The target version this cluster will be upgraded to.",
          "type": "string",
          "readOnly": true
        },
        "workloadImpact": {
          "description": "The indicator of whether the workload will be impacted during the upgrade.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "WorkloadImpact"
          },
          "readOnly": true
        }
      }
    },
    "ClusterDeployParameters": {
      "type": "object",
      "title": "ClusterDeployParameters represents the body of the request to deploy cluster.",
      "properties": {
        "rackName": {
          "description": "The name of the rack (rack-manifest) to use for bootstrapping the deployment. The system will determine which rack to use if this is not provided.",
          "type": "string"
        }
      }
    },
    "ClusterList": {
      "type": "object",
      "title": "ClusterList represents a list of Clusters.",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "The list of clusters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        }
      }
    },
    "ClusterManager": {
      "description": "A ClusterManager creates and  manages customer manager instances on demand.",
      "type": "object",
      "title": "ClusterManager represents a control-plane to manage one or more on-premises clusters.",
      "required": [
        "location",
        "properties"
      ],
      "properties": {
        "id": {
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The geo-location where the resource lives",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ClusterManagerProperties",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ClusterManagerList": {
      "description": "ClusterManagerList represents a list of cluster manager objects.",
      "type": "object",
      "title": "List of cluster manager objects.",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "The list of cluster managers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClusterManager"
          }
        }
      }
    },
    "ClusterManagerProperties": {
      "description": "ClusterManagerProperties represents the properties of a cluster manager",
      "type": "object",
      "required": [
        "fabricControllerId",
        "analyticsWorkspaceId"
      ],
      "properties": {
        "aggregatorRackSkusSupported": {
          "description": "A list of the aggregator rack SKUs supported by the cluster manager.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AggregatorRackSkuSupported"
          },
          "readOnly": true
        },
        "analyticsWorkspaceId": {
          "description": "AnalyticsWorkspace is where any logs relevant to customer will be relayed for example \"/microsoft.operationalinsights/workspaces/{logAnalyticsWorkspaceName}\"",
          "type": "string"
        },
        "clusterVersions": {
          "description": "ClusterVersions represents all the cluster versions the manager supports which would be used as input in the cluster clusterVersion property.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "fabricControllerId": {
          "description": "URI reference to the fabric controller that is 1:1 with the cluster manager",
          "type": "string"
        },
        "managerExtendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        },
        "provisioningState": {
          "description": "Cluster manager provisioning status.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Provisioning",
            "Accepted"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ClusterManagerProvisioningState"
          },
          "readOnly": true
        }
      }
    },
    "ClusterPatchParameters": {
      "type": "object",
      "title": "ClusterPatchParameters represents the body of the request to patch cluster properties.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterPatchProperties",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "Azure resource tags that will replace the existing ones.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ClusterPatchProperties": {
      "type": "object",
      "title": "ClusterPatchProperties represents the properties of a cluster during Patch.",
      "properties": {
        "clusterLocation": {
          "description": "The customer-provided location information to identify where the cluster resides.",
          "type": "string"
        }
      }
    },
    "ClusterProperties": {
      "description": "https://armwiki.azurewebsites.net/rpaas/arc-rp/conversion/SchemaTranslation.html#default-kubernetes-bridge-mapping\n\nfor now, we'll align on the same concept for our RPaaS\nobjects as well\n\nClusterProperties represents the properties of a cluster.",
      "type": "object",
      "title": "Note, k8s bridge resource types will default to\na singular status field under properties",
      "required": [
        "networkFabricId",
        "clusterType",
        "analyticsWorkspaceId",
        "clusterVersion"
      ],
      "properties": {
        "analyticsWorkspaceId": {
          "description": "The customer must specify a Log Analytics Workspace upon creation. This workspace will be where any logs that are relevant to",
          "type": "string"
        },
        "availableUpgradeVersions": {
          "description": "The list of cluster runtime version upgrades available for this cluster.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClusterAvailableUpgradeVersion"
          },
          "x-ms-identifiers": [
            "targetClusterVersion"
          ],
          "readOnly": true
        },
        "clusterExtendedLocation": {
          "description": "The extended location (custom location) that represents the cluster's control plane location.\nThis extended location is used to route the requests of child objects of the cluster that are handled by the platform operator.",
          "type": "string",
          "readOnly": true
        },
        "clusterLocation": {
          "description": "The customer-provided location information to identify where the cluster resides.",
          "type": "string"
        },
        "clusterManagerId": {
          "description": "The resource ID of the cluster manager that manages this cluster.\nThis is set by the Cluster Manager when the cluster is created.",
          "type": "string",
          "readOnly": true
        },
        "clusterType": {
          "description": "The type of rack configuration for this cluster.",
          "type": "string",
          "enum": [
            "SingleRack",
            "MultiRack"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ClusterType"
          }
        },
        "clusterVersion": {
          "description": "The current version of the cluster runtime.",
          "type": "string"
        },
        "hybridAksExtendedLocation": {
          "description": "The extended location (custom location) that is used when creating provisioned clusters (Hybrid AKS clusters).",
          "type": "string",
          "readOnly": true
        },
        "networkFabricId": {
          "description": "The resource ID of the network fabric associated with the cluster.",
          "type": "string"
        },
        "provisioningState": {
          "description": "The provisioning state of the cluster.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Validating",
            "Provisioning",
            "Accepted"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ClusterProvisioningState"
          },
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/ClusterStatus"
        }
      }
    },
    "ClusterStatus": {
      "description": "ClusterStatus denotes the status of a cluster",
      "type": "object",
      "properties": {
        "clusterTrusted": {
          "description": "The indicator of whether or not to trust that the cluster is not compromised.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ClusterTrusted"
          },
          "readOnly": true
        },
        "deploymentState": {
          "description": "The state of the cluster's deployment.",
          "type": "string",
          "enum": [
            "PendingDeployment",
            "Deployed"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ClusterDeploymentState"
          },
          "readOnly": true
        }
      }
    },
    "ClusterUpdateVersionParameters": {
      "type": "object",
      "title": "ClusterUpdateVersionParameters represents the body of the request to update cluster version.",
      "properties": {
        "targetClusterVersion": {
          "description": "Version to be applied to the cluster during update.",
          "type": "string"
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "title": "ExtendedLocation is the Azure custom location where this resource will be created.",
      "required": [
        "type",
        "name"
      ],
      "properties": {
        "name": {
          "description": "ResourceId of the custom location on which resource will be created.",
          "type": "string"
        },
        "type": {
          "description": "Extended location type e.g CustomLocation.",
          "type": "string"
        }
      }
    },
    "HardwareInventory": {
      "description": "including information acquired from the model/sku information and from the ironic inspector.",
      "type": "object",
      "title": "HardwareInventory is the hardware configuration of this machine as exposed to the customer,",
      "properties": {
        "nics": {
          "description": "A list of network interface cards and associated details for the bare-metal machine.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Nic"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        }
      }
    },
    "NetworkAttachment": {
      "description": "NetworkAttachment represents a single network attachment",
      "type": "object",
      "required": [
        "workloadNetworkId",
        "ipAllocationMethod"
      ],
      "properties": {
        "ipAllocationMethod": {
          "description": "The IP allocation mechanism for the virtual machine.",
          "type": "string",
          "default": "Dynamic",
          "enum": [
            "Dynamic",
            "Static",
            "Disabled"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "VirtualMachineIPAllocationMethod"
          }
        },
        "ipv4Address": {
          "description": "The IPv4 address of the virtual machine.\n\nThis field is used only if the associated Workload network has a IPAllocationType of IPv4 or Dual-Stack.\n\nIf IPAllocationMethod is:\nStatic - this field must contain a user specified IPv4 address from within the subnet specified in the WorkloadNetwork.\nDynamic - this field is read-only, but will be populated with an address from within the subnet specified in the WorkloadNetwork.\nDisabled - this field will be empty.",
          "type": "string"
        },
        "ipv6Address": {
          "description": "The IPv6 address of the virtual machine.\n\nThis field is used only if the associated WorkloadNetwork has a IPAllocationType of IPv6 or Dual-Stack.\n\nIf IPAllocationMethod is:\nStatic - this field must contain an IPv6 address range from within the range specified in the WorkloadNetwork.\nDynamic - this field is read-only, but will be populated with an range from within the subnet specified in the WorkloadNetwork.\nDisabled - this field will be empty.",
          "type": "string"
        },
        "workloadNetworkId": {
          "description": "The resource ID of the workload network attached to the VM.",
          "type": "string"
        }
      }
    },
    "Nic": {
      "type": "object",
      "title": "Nic is the network interface card details.",
      "properties": {
        "macAddress": {
          "description": "The MAC address associated with this NIC.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the NIC/interface.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PlacementHint": {
      "description": "PlacementHint represents a single scheduling hint of virtual machine",
      "type": "object",
      "required": [
        "key",
        "value"
      ],
      "properties": {
        "key": {
          "description": "The key for the virtual machine placement hint.",
          "type": "string",
          "maxLength": 64,
          "minLength": 1
        },
        "value": {
          "description": "The value for the virtual machine placement hint.",
          "type": "string",
          "maxLength": 256,
          "minLength": 1
        }
      }
    },
    "Rack": {
      "type": "object",
      "title": "The rack represents the hardware of a rack and is dependent upon the Cluster for lifecycle.",
      "required": [
        "location",
        "extendedLocation",
        "properties"
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        },
        "id": {
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The geo-location where the resource lives",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/RackProperties",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "RackList": {
      "type": "object",
      "title": "RackList represents a list of rack.",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "The list of Rack.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rack"
          }
        }
      }
    },
    "RackManifest": {
      "type": "object",
      "title": "RackManifest is the unprocessed, user-submitted intention for a rack located in an on-premises cluster.",
      "required": [
        "location",
        "extendedLocation"
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        },
        "id": {
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The geo-location where the resource lives",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/RackManifestProperties",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RackManifestList": {
      "type": "object",
      "title": "RackManifestList represents a list of rack manifests.",
      "properties": {
        "value": {
          "description": "The list of rack manifests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RackManifest"
          }
        }
      }
    },
    "RackManifestProperties": {
      "type": "object",
      "title": "RackManifestProperties represents the properties of a rack manifest.",
      "required": [
        "clusterId",
        "networkRackId",
        "rackSkuId",
        "rackSerialNumber",
        "baremetalMachineUserData"
      ],
      "properties": {
        "baremetalMachineUserData": {
          "description": "A list of bare-metal machine objects in this rack (not ordered).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BareMetalMachineUserData"
          },
          "x-ms-identifiers": [
            "rackSlot"
          ]
        },
        "clusterId": {
          "description": "The resource ID of the cluster to which this rack is associated.",
          "type": "string"
        },
        "clusterManagerId": {
          "description": "The resource ID of the cluster manager that manages this rack manifest.\nThis is set by the Cluster Manager when the rack manifest is created.",
          "type": "string",
          "readOnly": true
        },
        "networkRackId": {
          "description": "The resource ID to the associated network rack resource",
          "type": "string"
        },
        "provisioningState": {
          "description": "The provisioning state of the rackmanifest.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Validating",
            "Provisioning",
            "Accepted"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "RackManifestProvisioningState"
          },
          "readOnly": true
        },
        "rackId": {
          "description": "The resource ID of the rack that was realized by the deployment of this rack manifest.\nOnce assigned, this rack manifest can no longer be used in a future deployment or update operations.\nIt is effectively “used up”.",
          "type": "string",
          "readOnly": true
        },
        "rackLocation": {
          "description": "A free-form customer description of this rack location. FOr example, \"DTN Datacenter, Floor 3, Aisle 9, Rack 2\".",
          "type": "string"
        },
        "rackSerialNumber": {
          "description": "A globally unique identifier for the rack.",
          "type": "string"
        },
        "rackSkuId": {
          "description": "The resource ID of the SKU for the rack being added.",
          "type": "string"
        }
      }
    },
    "RackPatchParameters": {
      "type": "object",
      "title": "RackPatchParameters represents the body of the request to patch rack properties.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RacksPatchProperties",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "Azure resource tags that will replace the existing ones.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RackProperties": {
      "type": "object",
      "title": "RackProperties represents the properties of a rack.",
      "properties": {
        "clusterId": {
          "description": "The resource ID of the cluster the rack is created for. This value is set when the Rack is created by the Cluster and derived from the extended location above.",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "description": "The provisioning state of the rack resource.",
          "type": "string",
          "default": "Accepted",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Provisioning",
            "Accepted"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "RackProvisioningState"
          },
          "readOnly": true
        },
        "rackLocation": {
          "description": "This is a customer description of the rack. (e.g. “DTN Datacenter, Floor 3, Isle 9, Rack 2B”)",
          "type": "string"
        },
        "rackManifestId": {
[...]
