{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The Network Cloud APIs provide management of the on-premises clusters and their resources, such as, racks, bare-metal hosts, virtual machines, workload networks and more.",
    "title": "NetworkCloud",
    "version": "2021-10-21-preview"
  },
  "host": "management.azure.com",
  "paths": {
    "/providers/Microsoft.NetworkCloud/operations": {
      "get": {
        "description": "Get a list of all available resource provider operations. It contains a URL link to get the next set of results.",
        "summary": "List resource provider operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List resource provider operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/clusterManagers": {
      "get": {
        "description": "Get a list of all cluster managers in a given subscription.",
        "summary": "List cluster managers in a subscription.",
        "operationId": "ClusterManagers_ListSubscription",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManagerList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List cluster manager for the subscription": {
            "$ref": "./examples/ClusterManagers_ListSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/clusters": {
      "get": {
        "description": "Get a list of all clusters in a given subscription.",
        "summary": "List clusters in a subscription.",
        "operationId": "Clusters_ListSubscription",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List clusters for subscription": {
            "$ref": "./examples/Clusters_ListSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "description": "Get the latest details of the long running operation.",
        "summary": "Get the long running operation status.",
        "operationId": "OperationStatuses_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get log running operation status": {
            "$ref": "./examples/OperationStatuses_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/virtualMachines": {
      "get": {
        "description": "Get a list of all virtual machines for a specific subscription. The API returns 200 OK when the API is successful.",
        "summary": "Retrieve all virtual machines for a specific subscription.",
        "operationId": "VirtualMachines_ListSubscription",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machines for subscription": {
            "$ref": "./examples/VirtualMachines_ListSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/workloadNetworks": {
      "get": {
        "description": "Get a list of all workload networks in a given subscription.  The API returns 200 OK when the API is successful.",
        "summary": "List workload networks in a subscription.",
        "operationId": "WorkloadNetworks_ListSubscription",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetworkList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List workload networks for subscription": {
            "$ref": "./examples/WorkloadNetworks_ListSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusterManagers": {
      "get": {
        "description": "Get a list of all cluster managers in a given resource group.",
        "summary": "List cluster managers from a specific resource group.",
        "operationId": "ClusterManagers_List",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManagerList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List cluster manager for the resource group": {
            "$ref": "./examples/ClusterManagers_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusterManagers/{resourceName}": {
      "get": {
        "description": "Get the properties of a specific cluster manager.",
        "summary": "Retrieve a specific cluster manager.",
        "operationId": "ClusterManagers_Get",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get cluster manager": {
            "$ref": "./examples/ClusterManagers_Get.json"
          }
        }
      },
      "put": {
        "description": "Create a new cluster manager or update the properties of cluster manager if it exists. The API returns 200 OK in case of the successful creation or update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Create or update a specific cluster manager.",
        "operationId": "ClusterManagers_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update cluster manager": {
            "$ref": "./examples/ClusterManagers_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a specific cluster manager.The API returns 200 OK when the cluster manager is deleted successfully. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific cluster manager.",
        "operationId": "ClusterManagers_Delete",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete cluster manager": {
            "$ref": "./examples/ClusterManagers_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific cluster manager, or update the tags assigned to the cluster manager. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific cluster manager.",
        "operationId": "ClusterManagers_Update",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AzureCommonParameterTags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterManager"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch cluster manager": {
            "$ref": "./examples/ClusterManagers_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters": {
      "get": {
        "description": "Get a list of all clusters in a given resource group.",
        "summary": "List clusters in a resource group.",
        "operationId": "Clusters_List",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List clusters for resource group": {
            "$ref": "./examples/Clusters_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters/{resourceName}": {
      "get": {
        "description": "Get the properties of a specific cluster.",
        "summary": "Retrieve a specific cluster.",
        "operationId": "Clusters_Get",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get cluster": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      },
      "put": {
        "description": "Create a new cluster or update the properties of the cluster if it exists. The API returns 200 OK in case of the successful creation or update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Create or update a specific cluster.",
        "operationId": "Clusters_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update cluster": {
            "$ref": "./examples/Clusters_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a specific cluster. The API returns 200 OK when the deletion is successful. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific cluster.",
        "operationId": "Clusters_Delete",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete cluster": {
            "$ref": "./examples/Clusters_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific cluster, or update the tags assigned to the cluster. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific cluster.",
        "operationId": "Clusters_Update",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ClustersPatchPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch cluster": {
            "$ref": "./examples/Clusters_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters/{resourceName}/applyRackManifests": {
      "post": {
        "description": "Apply rack manifests to a cluster. This would update the existing cluster by applying rack manifests that have no rack associated yet.\nThe API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Apply rack manifests to a cluster.",
        "operationId": "Clusters_ApplyRackManifests",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Apply rack manifests to cluster": {
            "$ref": "./examples/Clusters_ApplyRackManifests.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters/{resourceName}/deploy": {
      "post": {
        "description": "Deploy a cluster to a provided rack. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Deploy a cluster to a provided rack.",
        "operationId": "Clusters_Deploy",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "RackName",
            "description": "The name of the rack (rack-manifest) to use for bootstrapping the deployment. The system will determine which rack to use if this is not provided.",
            "name": "rackName",
            "in": "query"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deploy cluster": {
            "$ref": "./examples/Clusters_Deploy.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/clusters/{resourceName}/updateVersion": {
      "post": {
        "description": "Update a version of a provided cluster to one of the available supported versions. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Update a cluster version.",
        "operationId": "Clusters_UpdateVersion",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ClustersUpdateVersionPayload"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update cluster version": {
            "$ref": "./examples/Clusters_UpdateVersion.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines": {
      "get": {
        "description": "Get a list of all virtual machines in a given resource group. The API returns 200 OK when the API is successful.",
        "summary": "List virtual machines in a resource group.",
        "operationId": "VirtualMachines_List",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machines for resource group": {
            "$ref": "./examples/VirtualMachines_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{resourceName}": {
      "get": {
        "description": "Get the properties of a specific virtual machine. The API returns 200 OK when the operation is successful.",
        "summary": "Retrieve a specific virtual machine.",
        "operationId": "VirtualMachines_Get",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual machine": {
            "$ref": "./examples/VirtualMachines_Get.json"
          }
        }
      },
      "put": {
        "description": "Create a new virtual machine or update the properties of the existing virtual machine. The API returns 200 OK in case of the successful creation or update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Creates or updates a specific virtual machine.",
        "operationId": "VirtualMachines_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update virtual machine": {
            "$ref": "./examples/VirtualMachines_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a provided virtual machine. The API returns 200 OK when the deletion is successful. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific virtual machine.",
        "operationId": "VirtualMachines_Delete",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete virtual machine": {
            "$ref": "./examples/VirtualMachines_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific virtual machine, or update the tags assigned to the virtual machine. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific virtual machine.",
        "operationId": "VirtualMachines_Update",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AzureCommonParameterTags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch virtual machine": {
            "$ref": "./examples/VirtualMachines_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{resourceName}/powerOff": {
      "post": {
        "description": "Power off a provided Network Cloud Virtual Machine. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Power off a specific Network Cloud Virtual Machine.",
        "operationId": "VirtualMachines_PowerOff",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "enum": [
              "True",
              "False"
            ],
            "type": "string",
            "x-go-name": "SkipShutdown",
            "description": "Allows to bypass OS shutdown and power virtual machine off immediately.",
            "name": "skipShutdown",
            "in": "query"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Power off a virtual machine": {
            "$ref": "./examples/VirtualMachines_PowerOff.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{resourceName}/reimage": {
      "post": {
        "description": "Reimage a specific virtual Machine. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Reimage a specific virtual machine.",
        "operationId": "VirtualMachines_Reimage",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Reimage a Network Cloud Virtual Machine": {
            "$ref": "./examples/VirtualMachines_Reimage.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{resourceName}/restart": {
      "post": {
        "description": "Restart a specific virtual machine. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Restart a specific virtual machine.",
        "operationId": "VirtualMachines_Restart",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Restart a virtual machine": {
            "$ref": "./examples/VirtualMachines_Restart.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{resourceName}/start": {
      "post": {
        "description": "Start a provided Network Cloud Virtual Machine. The API returns 202 Accepted as the operation is performed asynchronously.",
        "summary": "Start a specific Network Cloud Virtual Machine.",
        "operationId": "VirtualMachines_Start",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start a virtual machine": {
            "$ref": "./examples/VirtualMachines_Start.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/workloadNetworks": {
      "get": {
        "description": "Get a list of all workload networks in a given resource group.  The API returns 200 OK when the API is successful.",
        "summary": "List workload networks in a resource group.",
        "operationId": "WorkloadNetworks_List",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetworkList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List workload networks for subscription": {
            "$ref": "./examples/WorkloadNetworks_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/workloadNetworks/{resourceName}": {
      "get": {
        "description": "Get the properties of a specific workload network. The API returns 200 OK when the API operation is successful.",
        "summary": "Retrieve a specific workload network.",
        "operationId": "WorkloadNetworks_Get",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get workload network": {
            "$ref": "./examples/WorkloadNetworks_Get.json"
          }
        }
      },
      "put": {
        "description": "Create a new workload network or update the properties of the existing workload network. The API returns 200 OK in case of the successful creation or update. 201 Created is returned when the operation is performed asynchronously.",
        "summary": "Create or update a specific workload network.",
        "operationId": "WorkloadNetworks_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update workload network": {
            "$ref": "./examples/WorkloadNetworks_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a provided workload network. The API returns 200 OK when the deletion is successful. 202 Accepted is returned when the operation is performed asynchronously.",
        "summary": "Delete a specific workload network.",
        "operationId": "WorkloadNetworks_Delete",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete workload network": {
            "$ref": "./examples/WorkloadNetworks_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Patch the properties of a specific workload network, or update the tags assigned to the workload network. Properties and tag updates can be done independently. The API returns 200 OK when the API is successful.",
        "summary": "Patch a specific workload network.",
        "operationId": "WorkloadNetworks_Update",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ApiVersion",
            "description": "Client API Version",
            "name": "api-version",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SubscriptionId",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 90,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceGroupName",
            "description": "The name of the resource group containing the managed cluster resource. The name is case insensitive.",
            "name": "resourceGroupName",
            "in": "path",
            "required": true
          },
          {
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-go-name": "ResourceName",
            "description": "The name of the managed resource.",
            "name": "resourceName",
            "in": "path",
            "required": true
          },
          {
            "x-go-name": "Payload",
            "description": "The request body",
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AzureCommonParameterTags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch workload network": {
            "$ref": "./examples/WorkloadNetworks_Update.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AggregatorRackSkuSpported": {
      "description": "Note that this will only contain references to the aggregator rack.\nA secondary lookup of that aggregator rack SKU will provide the references to the Compute rack SKU information.",
      "type": "object",
      "title": "Aaggregator rack SKU details supported by the cluster manager.",
      "properties": {
        "id": {
          "description": "Resource ID of the Rack SKU",
          "type": "string",
          "x-go-name": "Id",
          "readOnly": true
        },
        "name": {
          "description": "A descriptive name of the rack sku",
          "type": "string",
          "x-go-name": "Name",
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview/properties"
    },
    "AzureCommonParameterTags": {
      "type": "object",
      "title": "AzureCommonParameterTags represents the resource tags.",
      "properties": {
        "tags": {
          "$ref": "#/definitions/Tags"
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview"
    },
    "AzureCommonProperties": {
      "description": "AzureCommonProperties are parameters that can be included on requests but are processed by RPaaS and not by this\nresource provider. They are listed as optional resources because RPaaS will enforce which parameters are required.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id is the ID of an existing Azure resource that this resource provider will manage.",
          "type": "string",
          "x-go-name": "Id",
          "readOnly": true
        },
        "location": {
          "description": "Location is the Azure location where this resource will exist or already exists.",
          "type": "string",
          "x-go-name": "Location"
        },
        "name": {
          "description": "Name is the name of the resource that this resource provider will create.",
          "type": "string",
          "x-go-name": "Name",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/SystemData"
        },
        "tags": {
          "$ref": "#/definitions/Tags"
        },
        "type": {
          "description": "Type is the type of resource that this resource provider will create.",
          "type": "string",
          "x-go-name": "Type",
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview"
    },
    "BareMetalMachineProperties": {
      "type": "object",
      "title": "BareMetalMachineProperties represents the properties of a baremetal machine.",
      "required": [
        "bootMacAddress"
      ],
      "properties": {
        "adminStatus": {
          "description": "Admin status of the bare-metal machine.",
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-go-name": "AdminStatus",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "AdminState"
          },
          "readOnly": true
        },
        "bmcConnectionString": {
          "description": "The connection string for the bare-metal controller on this bare-metal machine.",
          "type": "string",
          "x-go-name": "BmcConnectionString",
          "readOnly": true
        },
        "bmcCredentials": {
          "$ref": "#/definitions/BmcCredentials"
        },
        "bootMacAddress": {
          "description": "MAC address of a NIC connected to the PXE network.",
          "type": "string",
          "x-go-name": "BootMacAddress"
        },
        "clusterId": {
          "description": "A fully-qualified identifier of the undercloud cluster this bare-metal machine is associated with.",
          "type": "string",
          "x-go-name": "ClusterId",
          "readOnly": true
        },
        "cordonStatus": {
          "description": "Cordon status of the bare-metal machine.",
          "type": "string",
          "enum": [
            "Cordoned",
            "Uncordoned"
          ],
          "x-go-name": "CordonStatus",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "CordonStatus"
          },
          "readOnly": true
        },
        "hardwareInventory": {
          "$ref": "#/definitions/HardwareInventory"
        },
        "machineDetails": {
          "description": "Details provided by the customer during the creation of rack manifests\nthat allows for “custom data” to be associated with this machine",
          "type": "string",
          "x-go-name": "MachineDetails",
          "readOnly": true
        },
        "machineLocation": {
          "description": "A user-friendly description of the bare-metal machine's location.\n+kubebuilder:validation:Optional",
          "type": "string",
          "x-go-name": "MachineLocation"
        },
        "machineSkuId": {
          "description": "A unique internal identifier of the bare-metal machine SKU.",
          "type": "string",
          "x-go-name": "MachineSkuId",
          "readOnly": true
        },
        "powerState": {
          "description": "Power state of the bare-metal machine.",
          "type": "string",
          "enum": [
            "On",
            "Off"
          ],
          "x-go-name": "PowerState",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "PowerState"
          },
          "readOnly": true
        },
        "provisioningState": {
          "description": "Provisioning state of the bare-metal machine.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Pending"
          ],
          "x-go-name": "ProvisioningState",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "BareMetalMachineProvisioningState"
          },
          "readOnly": true
        },
        "rackId": {
          "description": "Resource identifier of the rack where this bare-metal machine resides.",
          "type": "string",
          "x-go-name": "RackId",
          "readOnly": true
        },
        "rackSlot": {
          "description": "Rack slot in which this bare-metal machine is located, ordered from the bottom up i.e. the lowest slot is 1.",
          "type": "integer",
          "format": "int64",
          "x-go-name": "RackSlot",
          "readOnly": true
        },
        "readyState": {
          "description": "Indicator of whether the bare-metal machine is ready to receive workloads.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-go-name": "ReadyState",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ReadyState"
          },
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/BareMetalMachineStatus"
        },
        "tpmEndorsementKey": {
          "description": "A thumbprint or SHA of the TPM endorsement key that ensures authenticity of the bare-metal machine.",
          "type": "string",
          "x-go-name": "TPMEndorsementKey",
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview/properties"
    },
    "BareMetalMachineStatus": {
      "description": "BareMetalMachineStatus denotes the status of the bare-metal machine",
      "type": "object",
      "properties": {
        "detailedStatus": {
          "description": "A more detailed status of the bare-metal machine.",
          "type": "string",
          "enum": [
            "Preparing",
            "Error",
            "Available",
            "Provisioning",
            "Provisioned",
            "Deprovisioning"
          ],
          "x-go-name": "DetailedStatus",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "DetailedStatus"
          },
          "readOnly": true
        },
        "detailedStatusMessage": {
          "description": "A descriptive message about the current detailed status.",
          "type": "string",
          "x-go-name": "DetailedStatusMessage",
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview/properties"
    },
    "BareMetalMachineUserData": {
      "description": "Bare-metal machine user data",
      "type": "object",
      "required": [
        "rackSlot",
        "bootMacAddress",
        "bmcCredentials",
        "tpmEndorsementKey",
        "bmcMacAddress"
      ],
      "properties": {
        "bmcConnectionString": {
          "description": "The connection string for the bare-metal controller on this bare-metal machine.",
          "type": "string",
          "x-go-name": "BmcConnectionString",
          "readOnly": true
        },
        "bmcCredentials": {
          "$ref": "#/definitions/BmcCredentials"
        },
        "bmcMacAddress": {
          "description": "MAC address of the bare-metal controller on this machine.",
          "type": "string",
          "x-go-name": "BmcMacAddress"
        },
        "bootMacAddress": {
          "description": "The MAC address of a NIC connected to the PXE network.",
          "type": "string",
          "x-go-name": "BootMacAddress"
        },
        "machineDetails": {
          "description": "Additional optional details such as SerialNumber, AssetTag, etc.",
          "type": "string",
          "x-go-name": "MachineDetails"
        },
        "machineName": {
          "description": "A user provided name for the bare-metal machine created from this user data.\nIf not provided, a name will be generated programmatically.",
          "type": "string",
          "x-go-name": "MachineName"
        },
        "rackSlot": {
          "description": "The slot in which this physical machine is located, ordered from the bottom up i.e. the lowest slot is 1.\nIt is positional, so the first machine at the bottom is rackSlot: 1, the second machine up is rackSlot: 2.",
          "type": "integer",
          "format": "int64",
          "x-go-name": "RackSlot"
        },
        "tpmEndorsementKey": {
          "description": "The thumbprint or SHA of the TPM Endorsement Key that allows the resource provider to ensure\nauthenticity of the machine.",
          "type": "string",
          "x-go-name": "TPMEndorsementKey"
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview/properties"
    },
    "BmcCredentials": {
      "type": "object",
      "title": "Credentials for the baseboard management controller device on this baremetal machine.",
      "properties": {
        "password": {
          "description": "The baseboard management controller device server password.",
          "type": "string",
          "x-go-name": "Password",
          "readOnly": true
        },
        "username": {
          "description": "The baseboard management controller device user name",
          "type": "string",
          "x-go-name": "Username",
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview/properties"
    },
    "Cluster": {
      "description": "A cluster is the top level object for the on-premise environment.",
      "type": "object",
      "title": "Cluster represents an on-Premise Network Cloud cluster",
      "required": [
        "extendedLocation",
        "properties"
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        },
        "id": {
          "description": "Id is the ID of an existing Azure resource that this resource provider will manage.",
          "type": "string",
          "x-go-name": "Id",
          "readOnly": true
        },
        "location": {
          "description": "Location is the Azure location where this resource will exist or already exists.",
          "type": "string",
          "x-go-name": "Location"
        },
        "name": {
          "description": "Name is the name of the resource that this resource provider will create.",
          "type": "string",
          "x-go-name": "Name",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ClusterProperties"
        },
        "systemData": {
          "$ref": "#/definitions/SystemData"
        },
        "tags": {
          "$ref": "#/definitions/Tags"
        },
        "type": {
          "description": "Type is the type of resource that this resource provider will create.",
          "type": "string",
          "x-go-name": "Type",
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview"
    },
    "ClusterAvailableUpgradeVersion": {
      "description": "ClusterAvailableUpgradeVersion represents the various cluster upgrade parameters",
      "type": "object",
      "properties": {
        "controlImpact": {
          "description": "The indicator of whether the control plane will be impacted during the upgrade.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-go-name": "ControlImpact",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ControlImpact"
          },
          "readOnly": true
        },
        "expectedDuration": {
          "description": "The expected duration needed for this upgrade.",
          "type": "string",
          "x-go-name": "ExpectedDuration",
          "readOnly": true
        },
        "impactDescription": {
          "description": "The impact description including the speficil details and release notes.",
          "type": "string",
          "x-go-name": "ImpactDescription",
          "readOnly": true
        },
        "targetClusterVersion": {
          "description": "The target version this cluster will be upgraded to.",
          "type": "string",
          "x-go-name": "TargetClusterVersion",
          "readOnly": true
        },
        "workloadImpact": {
          "description": "The indicator of whether the workload will be impacted during the upgrade.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-go-name": "WorkloadImpact",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "WorkloadImpact"
          },
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview/properties"
    },
    "ClusterList": {
      "type": "object",
      "title": "ClusterList represents a list of Clusters.",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string",
          "x-go-name": "NextLink"
        },
        "value": {
          "description": "The list of clusters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cluster"
          },
          "x-go-name": "Clusters"
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview"
    },
    "ClusterManager": {
      "description": "A ClusterManager creates and  manages customer manager instances on demand.",
      "type": "object",
      "title": "ClusterManager represents a control-plane to manage one or more on-premises clusters.",
      "required": [
        "properties"
      ],
      "properties": {
        "id": {
          "description": "Id is the ID of an existing Azure resource that this resource provider will manage.",
          "type": "string",
          "x-go-name": "Id",
          "readOnly": true
        },
        "location": {
          "description": "Location is the Azure location where this resource will exist or already exists.",
          "type": "string",
          "x-go-name": "Location"
        },
        "name": {
          "description": "Name is the name of the resource that this resource provider will create.",
          "type": "string",
          "x-go-name": "Name",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ClusterManagerProperties"
        },
        "systemData": {
          "$ref": "#/definitions/SystemData"
        },
        "tags": {
          "$ref": "#/definitions/Tags"
        },
        "type": {
          "description": "Type is the type of resource that this resource provider will create.",
          "type": "string",
          "x-go-name": "Type",
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview"
    },
    "ClusterManagerList": {
      "description": "ClusterManagerList represents a list of cluster manager objects.",
      "type": "object",
      "title": "List of cluster manager objects.",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string",
          "x-go-name": "NextLink"
        },
        "value": {
          "description": "The list of cluster managers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClusterManager"
          },
          "x-go-name": "ClusterManager"
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview"
    },
    "ClusterManagerProperties": {
      "description": "ClusterManagerProperties represents the properties of a cluster manager",
      "type": "object",
      "required": [
        "fabricControllerId",
        "analyticsWorkspaceId"
      ],
      "properties": {
        "aggregatorRackSkusSpported": {
          "description": "A list of the aggregrator rack SKUs supported by the cluster manager.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AggregatorRackSkuSpported"
          },
          "x-go-name": "AggregatorRackSkusSpported",
          "readOnly": true
        },
        "analyticsWorkspaceId": {
          "description": "AnalyticsWorkspace is where any logs relevant to customer will be relayed for example \"/microsoft.operationalinsights/workspaces/{logAnalyticsWorkspaceName}\"",
          "type": "string",
          "x-go-name": "AnalyticsWorkspaceId"
        },
        "clusterVersions": {
          "description": "ClusterVersions represents all the cluster versions the manager supports which would be used as input in the cluster clusterVersion property.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-go-name": "ClusterVersions",
          "readOnly": true
        },
        "fabricControllerId": {
          "description": "URI reference to the fabric controller that is 1:1 with the cluster manager",
          "type": "string",
          "x-go-name": "FabricControllerId"
        },
        "managerExtendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        },
        "provisioningState": {
          "description": "Cluster manager provisioning status.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Provisioning"
          ],
          "x-go-name": "ProvisioningState",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ClusterManagerProvisioningState"
          },
          "readOnly": true
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview/properties"
    },
    "ClusterPatchProperties": {
      "type": "object",
      "title": "ClusterPatchProperties represents the properties of a cluster during Patch.",
      "properties": {
        "clusterLocation": {
          "description": "The customer-provided location information to identify where the cluster resides.",
          "type": "string",
          "x-go-name": "ClusterLocation"
        }
      },
      "x-go-package": "dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/nc-rp.git/api/v20211021preview/properties"
    },
    "ClusterProperties": {
      "description": "https://armwiki.azurewebsites.net/rpaas/arc-rp/conversion/SchemaTranslation.html#default-kubernetes-bridge-mapping\n\nfor now, we'll align on the same concept for our RPaaS\nobjects as well\n\nClusterProperties represents the properties of a cluster.",
      "type": "object",
      "title": "Note, k8s bridge resource types will default to\na singular status field under properties",
      "required": [
        "networkFabricId",
        "clusterType",
        "analyticsWorkspaceId",
        "clusterVersion"
      ],
      "properties": {
        "analyticsWorkspaceId": {
          "description": "The customer must specify a Log Analytics Workspace upon creation. This workspace will be where any logs that are relevant to",
          "type": "string",
          "x-go-name": "AnalyticsWorkspaceId"
        },
        "availableUpgradeVersions": {
          "description": "The list of cluster runtime version upgrades available for this cluster.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClusterAvailableUpgradeVersion"
          },
          "x-go-name": "AvailableUpgradeVersions",
          "readOnly": true
        },
        "clusterExtendedLocation": {
          "description": "The extended location (custom location) represents the cluster's control plane location.\nThis extended location is used to route the requests of child objects of the cluster that are handled by the platform operator.",
          "type": "string",
          "x-go-name": "ClusterExtendedLocation",
          "readOnly": true
        },
        "clusterLocation": {
          "description": "The customer-provided location information to identify where the cluster resides.",
          "type": "string",
          "x-go-name": "ClusterLocation"
        },
        "clusterManagerId": {
          "description": "The resource ID of the cluster manager that manages this cluster.\nThis is set by the Cluster Manager when the cluster is created.",
          "type": "string",
          "x-go-name": "ClusterManagerId",
          "readOnly": true
        },
        "clusterType": {
          "description": "The type of rack configuration for this cluster.\nsingle-rack SingleRack\nmulti-rack MultiRack",
          "type": "string",
          "enum": [
            "single-rack",
            "multi-rack"
          ],
[...]
