{
	"swagger": "2.0",
	"info": {
		"title": "Impact",
		"description": "Impact provider",
		"version": "2022-10-01-preview"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow.",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
		"/providers/Microsoft.Impact/operations": {
			"get": {
				"tags": [
					"Operations"
				],
				"summary": "Lists all of the available Azure Impact REST API operations.",
				"operationId": "Operations_List",
				"x-ms-examples": {
					"ImpactPutImpact": {
						"$ref": "./examples/Operations_Get.json"
					}
				},
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					}
				],
				"responses": {
					"200": {
						"description": "OK. The request has succeeded.",
						"schema": {
							"$ref": "#/definitions/OperationListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/{resourceUri}/providers/Microsoft.Impact/impacts": {
			"get": {
				"tags": [
					"GET"
				],
				"summary": "List all Azure impacts in a subscription.",
				"operationId": "Impacts_ListByParentResource",
				"x-ms-examples": {
					"Accounts_ListBySubscription": {
						"$ref": "./examples/Impacts_ListBySubscription.json"
					}
				},
				"parameters": [
					{
						"$ref": "#/parameters/ResourceUriParameter"
					},
					{
						"$ref": "#/parameters/ApiVersionParameter"
					}
				],
				"responses": {
					"200": {
						"description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the Azure Impacts in the subscription",
						"schema": {
							"$ref": "#/definitions/ImpactListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/{resourceUri}/providers/Microsoft.Impact/impacts/{impactName}": {
			"get": {
				"tags": [
					"GET"
				],
				"summary": "get impact by impact id or name",
				"operationId": "Impacts_GetByParentReource",
				"parameters": [
					{
						"$ref": "#/parameters/ResourceUriParameter"
					},
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The body contains the account metadata",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			},
			"put": {
				"operationId": "impacts_CreateAndUpdateByParentResource",
				"x-ms-examples": {
					"ImpactPutImpact": {
						"$ref": "./examples/ImpactPutImpact.json"
					}
				},
				"tags": [
					"PUT"
				],
				"summary": "Create impact for a Resource by impactId",
				"description": "Create impact for a Resource by impactId",
				"parameters": [
					{
						"$ref": "#/parameters/ResourceUriParameter"
					},
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					},
					{
						"name": "impact",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Impact"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"201": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			},
			"patch": {
				"operationId": "impacts_patchRcaDetails",
				"x-ms-examples": {
					"ImpactPutImpact": {
						"$ref": "./examples/ImpactPutImpact.json"
					}
				},
				"tags": [
					"PATCH"
				],
				"description": "patch impact with rca details",
				"summary": "patch impact with rca details",
				"parameters": [
					{
						"$ref": "#/parameters/ResourceUriParameter"
					},
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					},
					{
						"name": "impact",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ImpactPatch"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"201": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Impact/groupImpact": {
			"get": {
				"tags": [
					"GET"
				],
				"summary": "List all Azure impacts in a subscription.",
				"operationId": "Impacts_ListBySubsription",
				"x-ms-examples": {
					"Accounts_ListBySubscription": {
						"$ref": "./examples/Impacts_ListBySubscription.json"
					}
				},
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the Azure Impacts in the subscription",
						"schema": {
							"$ref": "#/definitions/ImpactListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Impact/groupImpact/{impactName}": {
			"get": {
				"tags": [
					"GET"
				],
				"summary": "get impact by impact id or name",
				"operationId": "Impacts_GetGroupImpactByName",
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The body contains the account metadata",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			},
			"put": {
				"operationId": "impacts_CreateAndUpdateGroupImpactForSubscription",
				"x-ms-examples": {
					"ImpactPutImpact": {
						"$ref": "./examples/ImpactPutImpact.json"
					}
				},
				"tags": [
					"PUT"
				],
				"summary": "Create impact for a Resource by impactId",
				"description": "Create impact for a Resource by impactId",
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					},
					{
						"name": "impact",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Impact"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"201": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Impact": {
			"type": "object",
			"description": "details of regresion",
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource",
					"description": "The resource model definition for an Azure Resource Manager proxy resource."
				}
			],
			"required": [
				"properties"
			],
			"properties": {
				"properties": {
					"description": "The properties of the impact.",
					"$ref": "#/definitions/ImpactProperties",
					"x-ms-client-flatten": true
				},
				"systemData": {
					"x-nullable": true,
					"readOnly": true,
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
					"description": "The system data."
				}
			}
		},
		"ImpactPatch": {
			"type": "object",
			"description": "details of regresion",
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource",
					"description": "The resource model definition for an Azure Resource Manager proxy resource."
				}
			],
			"required": [
				"properties"
			],
			"properties": {
				"properties": {
					"description": "list of RCA's for an Impact",
					"$ref": "#/definitions/RcaPropertiesList",
					"x-ms-client-flatten": true
				}
			}
		},
		"ImpactGet": {
			"type": "object",
			"description": "details of regresion",
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource",
					"description": "The resource model definition for an Azure Resource Manager proxy resource."
				}
			],
			"required": [
				"properties"
			],
			"properties": {
				"properties": {
					"description": "The properties of the impact.",
					"$ref": "#/definitions/ImpactPropertiesForGet",
					"x-ms-client-flatten": true
				},
				"systemData": {
					"x-nullable": true,
					"readOnly": true,
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
					"description": "The system data."
				}
			}
		},
		"rca": {
			"type": "object",
			"description": "details of rca for an impact",
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource",
					"description": "The resource model definition for an Azure Resource Manager proxy resource."
				}
			],
			"required": [
				"properties"
			],
			"properties": {
				"properties": {
					"description": "The properties of the rca for an impact",
					"$ref": "#/definitions/RcaProperties",
					"x-ms-client-flatten": true
				},
				"systemData": {
					"x-nullable": true,
					"readOnly": true,
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
					"description": "The system data."
				}
			}
		},
		"ImpactProperties": {
			"type": "object",
			"description": "impacts details",
			"required": [
				"startDateTime",
				"impactCategory",
				"region",
				"workloadContext"
			],
			"properties": {
				"startDateTime": {
					"type": "string",
					"format": "date-time",
					"description": "Time when impact started"
				},
				"endDateTime": {
					"type": "string",
					"description": "Time when impact ended.",
					"format": "date-time"
				},
				"impactCategory": {
					"type": "string",
					"enum": [
						"Reliability",
						"Performance"
					],
					"description": "Type of the impact observed."
				},
				"region": {
					"type": "string",
					"description": "Azure Region where impact was observed.",
					"x-nullable": true
				},
				"workloadContext": {
					"type": "string",
					"description": "Valid context defining the kind of workload for a given caller."
				},
				"impactTypeLevel1": {
					"type": "string",
					"enum": [
						"Datapath",
						"Deployment"
					],
					"description": "field denotes if it is a control plane issue or dataplane issue"
				},
				"impactTypeLevel2": {
					"type": "string",
					"enum": [
						"CreateVM",
						"Deployment",
						"DeleteVM",
						"Availability",
						"Other"
					],
					"description": "field denotes what operation failed for control plane issue or what latency or availability for dataplane issue."
				},
				"impactTypeLevel3": {
					"type": "string",
					"enum": [
						"CPU",
						"Network",
						"Other"
					],
					"description": "addition information of impactTypeLevel2 "
				},
				"correlationIdList": {
					"type": "array",
					"items": {
						"type": "string",
						"format": "uuid"
					},
					"description": "List of ARM correlation ids "
				},
				"operationIdList": {
					"type": "array",
					"items": {
						"type": "string",
						"format": "uuid"
					},
					"description": "List of operations ids. Operation Ids come fromAzure components like CRP, Disk. "
				},
				"impactDescription": {
					"type": "string",
					"description": "Free text for describing the impact. "
				},
				"extendedProperties": {
					"type": "object",
					"description": "Free Json describing the impact. "
				},
				"toolset": {
					"type": "string",
					"enum": [
						"Terraform",
						"Puppet",
						"Chef",
						"Ansible",
						"Arm",
						"Portal",
						"Shell",
						"Other"
					],
					"description": " Tool used to interact with Azure. "
				}
			}
		},
		"ImpactPropertiesForGet": {
			"type": "object",
			"description": "impacts details wirh RCA array",
			"allOf": [
				{
					"$ref": "#/definitions/ImpactProperties"
				},
				{
					"type": "object",
					"properties": {
						"rootCauseAnalysis": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/RcaProperties"
							}
						}
					}
				}
			]
		},
		"reliabilityImpactDetails": {
			"type": "object",
			"description": "reliability impact details of an impact like error code and error message",
			"required": [
				"errorCode"
			],
			"properties": {
				"errorCode": {
					"type": "string",
					"description": "error code observed for the reliability impact arm or other azure services"
				},
				"errorMessage": {
					"type": "string",
					"description": "error message observed for the reliability impact"
				}
			}
		},
		"performanceImpactDetails": {
			"type": "object",
			"description": "performance impact details of an impact like iops or latency details",
			"properties": {
				"expectedValue": {
					"type": "number",
					"description": "expected value of the performace metric like a threshold value"
				},
				"actualValue": {
					"type": "number",
					"description": "Actual value for the performance metric  observed"
				}
			}
		},
		"RcaProperties": {
			"type": "object",
			"description": "rca details",
			"required": [
				"id",
				"status",
				"rootCauseAttributionTime"
			],
			"properties": {
				"id": {
					"type": "string",
					"format": "uuid",
					"description": "impactId"
				},
				"rootCauseAttributionTime": {
					"type": "string",
					"format": "date-time",
					"description": "The time the RCA was generated."
				},
				"status": {
					"type": "string",
					"enum": [
						"Active",
						"Resolved"
					],
					"description": "status of the impact"
				},
				"summary": {
					"type": "string",
					"description": "Short Summary of the RCA"
				},
				"detailedInfo": {
					"type": "string",
					"description": "Customer ready content "
				}
			}
		},
		"RcaPropertiesList": {
			"type": "object",
			"description": "impacts details",
			"properties": {
				"rootCauseAnalysis": {
					"type": "array",
					"description": "list of rca details",
					"items": {
						"$ref": "#/definitions/RcaProperties"
					}
				}
			}
		},
		"ImpactListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Impact"
					},
					"description": "A list of impacts in a resource group."
				},
				"nextLink": {
					"type": "string",
					"readOnly": true,
					"description": "The URL to get the next set of results."
				}
			},
			"description": "Response for list impacts API service call."
		},
		"RcaListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/rca"
					},
					"description": "A list of rca for a given impact"
				},
				"nextLink": {
					"type": "string",
					"readOnly": true,
					"description": "The URL to get the next set of results."
				}
			},
			"description": "Response for list rca API service call."
		},
		"ErrorResponse": {
			"title": "Error response",
			"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
			"type": "object",
			"properties": {
				"error": {
					"description": "The error object.",
					"$ref": "#/definitions/ErrorDetail"
				}
			}
		},
		"ErrorDetail": {
			"description": "The error detail.",
			"type": "object",
			"properties": {
				"code": {
					"readOnly": true,
					"type": "string",
					"description": "The error code."
				},
				"message": {
					"readOnly": true,
					"type": "string",
					"description": "The error message."
				},
				"target": {
					"readOnly": true,
					"type": "string",
					"description": "The error target."
				},
				"details": {
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/ErrorDetail"
					},
					"x-ms-identifiers": [
						"message",
						"target"
					],
					"description": "The error details."
				},
				"additionalInfo": {
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/ErrorAdditionalInfo"
					},
					"x-ms-identifiers": [],
					"description": "The error additional info."
				}
			}
		},
		"ErrorAdditionalInfo": {
			"type": "object",
			"properties": {
				"type": {
					"readOnly": true,
					"type": "string",
					"description": "The additional info type."
				},
				"info": {
					"readOnly": true,
					"type": "object",
					"description": "The additional info."
				}
			},
			"description": "The resource management error additional info."
		},
		"Operation": {
			"title": "REST API Operation",
			"description": "Details of a REST API operation, returned from the Resource Provider Operations API",
			"type": "object",
			"properties": {
				"name": {
					"description": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\"",
					"type": "string",
					"readOnly": true
				},
				"isDataAction": {
					"description": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
					"type": "boolean",
					"readOnly": true
				},
				"display": {
					"description": "Localized display information for this particular operation.",
					"type": "object",
					"properties": {
						"provider": {
							"description": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\".",
							"type": "string",
							"readOnly": true
						},
						"resource": {
							"description": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\".",
							"type": "string",
							"readOnly": true
						},
						"operation": {
							"description": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\".",
							"type": "string",
							"readOnly": true
						},
						"description": {
							"description": "The short, localized friendly description of the operation; suitable for tool tips and detailed views.",
							"type": "string",
							"readOnly": true
						}
					}
				},
				"origin": {
					"description": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\"",
					"type": "string",
					"readOnly": true,
					"enum": [
						"user",
						"system",
						"user,system"
					],
					"x-ms-enum": {
						"name": "Origin",
						"modelAsString": true
					}
				},
				"actionType": {
					"description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
					"type": "string",
					"readOnly": true,
					"enum": [
						"Internal"
					],
					"x-ms-enum": {
						"name": "ActionType",
						"modelAsString": true
					}
				}
			}
		},
		"OperationListResult": {
			"description": "A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.",
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Operation"
					},
					"x-ms-identifiers": [
						"name"
					],
					"description": "List of operations supported by the resource provider",
					"readOnly": true
				},
				"nextLink": {
					"type": "string",
					"description": "URL to get the next set of operation list results (if there are any).",
					"readOnly": true
				}
			}
		}
	},
	"parameters": {
		"impactNameParameter": {
			"name": "impactName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name impacts resource.",
			"x-ms-parameter-location": "method"
		},
		"rcaNameParameter": {
			"name": "rcaName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name rca resource.",
			"x-ms-parameter-location": "method"
		},
		"ResourceUriParameter": {
			"name": "resourceUri",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The fully qualified Azure Resource manager identifier of the resource to be connected.",
			"x-ms-skip-url-encoding": true,
			"x-ms-parameter-location": "method"
		},
		"SubscriptionIdParameter": {
			"name": "subscriptionId",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The ID of the target subscription.",
			"minLength": 1
		},
		"ApiVersionParameter": {
			"name": "api-version",
			"in": "query",
			"required": true,
			"type": "string",
			"description": "The API version to use for this operation.",
			"minLength": 1
		},
		"ResourceGroupNameParameter": {
			"name": "resourceGroupName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name of the resource group. The name is case insensitive.",
			"minLength": 1,
			"maxLength": 90,
			"x-ms-parameter-location": "method"
		}
	}
}