{
  "swagger": "2.0",
  "info": {
    "title": "DiagnosticsRP",
    "description": "Diagnostics RP provider",
    "version": "2021-03-23-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Diagnostics/AzureKB/{AzureKBResourceName}/search": {
      "post": {
        "tags": [
          "AzureKB Search Post"
        ],
        "description": "This API will fetch azurekb search results",
        "operationId": "AzureKB_Tenant_Scoped_Search",
        "parameters": [
          {
            "$ref": "#/parameters/AzureKBResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "SearchRequest",
            "description": "Search Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of AzureKB Search Responses.",
            "schema": {
              "$ref": "#/definitions/AzureKBSearchResultProperties"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Diagnostics/AzureKB/{AzureKBResourceName}": {
      "put": {
        "tags": [
          "AzureKB Put Request"
        ],
        "description": "This API will fetch azurekb search results",
        "operationId": "AzureKB_Tenant_Scoped_Put_Request",
        "parameters": [
          {
            "$ref": "#/parameters/AzureKBResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "SearchRequest",
            "description": "Search Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of AzureKB Search Responses.",
            "schema": {
              "$ref": "#/definitions/AzureKBSearchResult"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AzureKB Get Request"
        ],
        "description": "This API will fetch azurekb search results",
        "operationId": "AzureKB_Tenant_Scoped_Get_Request",
        "parameters": [
          {
            "$ref": "#/parameters/AzureKBResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AzureKB Search Responses.",
            "schema": {
              "$ref": "#/definitions/AzureKBSearchResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AzureKB delete Request"
        ],
        "description": "This API will fetch azurekb search results",
        "operationId": "AzureKB_Tenant_Scoped_delete_Request",
        "parameters": [
          {
            "$ref": "#/parameters/AzureKBResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AzureKB Search Responses.",
            "schema": {
              "$ref": "#/definitions/AzureKBSearchResult"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Diagnostics/AzureKB/search": {
      "post": {
        "tags": [
          "AzureKB Post Request"
        ],
        "description": "This API will fetch azurekb search results",
        "operationId": "AzureKB_Tenant_Scoped_Post_Request",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "SearchRequest",
            "description": "Search Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of AzureKB Search Responses.",
            "schema": {
              "$ref": "#/definitions/AzureKBSearchResultProperties"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SearchRequest": {
      "type": "object",
      "description": "Search Request body",
      "properties": {
        "searchText":{
          "description": "Search text string to search.",
          "type": "string"
        },
        "topResults":{
          "description": "Number of search results desired. Default is 1",
          "type": "integer"
        },
        "sources":{
          "description": "Sources from where articles are to fetched. Default is community & documentation.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Community",
              "Documentation"
            ]
          }
        }
      },
      "required": [
        "searchText"
      ]
    },
    "AzureKBSearchResult": {
      "description": "AzureKB Search Result",
      "properties": {
        "id": {
          "description": "Id of AzureKB Search resource",
          "type": "string"
        },
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "type": {
          "description": "Resource Type",
          "type": "string"
        },
        "properties": {
          "description": "AzureKB Search Result Properties",
          "type": "object",
          "items": {
            "$ref": "#/definitions/AzureKBSearchResultProperties"
          }
        }
      }
    },
    "AzureKBSearchResultProperties":{
      "properties": {
        "searchResults": {
          "description": "AzureKB Search Result Properties",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchResultDetails"
          }
        }
      }
    },
    "SearchResultDetails": {
      "description": "Details about an AzureKB Search Result",
      "type": "object",
      "properties": {
        "resultId": {
          "description": "Unique id of the result",
          "type": "string"
        },
        "content": {
          "description": "Content of the search result",
          "type": "string"
        },
        "title": {
          "description": "Title of the search result",
          "type": "string"
        },
        "apiType": {
          "description": "Api type used",
          "type": "string",
          "enum": [
            "QSimilarityAPI",
            "AzureSearchAPI",
            "AzureSearchWithRerankerAPI"
          ]
        },
        "confidence": {
          "description": "Confidence of the search result",
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ]
        },
        "unifiedRank": {
          "description": "unified rank of the search result",
          "type": "integer"
        },
        "unifiedConfidence": {
          "description": "Unified Confidence of the search result",
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ]
        },
        "overAllRank": {
          "description": "Overall rank of the search result",
          "type": "integer"
        },
        "link": {
          "description": "Link to the document",
          "type": "string"
        },
        "searchType": {
          "description": "Source of the results",
          "type": "string",
          "enum": [
            "Community",
            "Documentation"
          ]
        },
        "sectionMatchDetails": {
          "description": "Source of the search result",
          "type": "object",
          "items": {
            "$ref": "#/definitions/SectionMatchDetails"
          }
        },
        "attributes": {
          "description": "Source specific attributes",
          "type": "object",
          "additionalProperties": true
        }
      }
    },
    "SectionMatchDetails": {
      "description": "Section Match details",
      "properties": {
        "content": {
          "type": "string",
          "description": "Content"
        },
        "title": {
          "type": "string",
          "description": "title"
        },
        "link": {
          "type": "string",
          "description": "link"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Error": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Service specific error type which serves as additonal context for the error herein.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ArmError": {
      "description": "Arm Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "AzureKBResourceNameParameter": {
      "name": "AzureKBResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Transient AzureKB resource name."
    }
  }
}