{
  "swagger": "2.0",
  "info": {
    "title": "DiagnosticsRP",
    "description": "Diagnostics RP provider",
    "version": "2021-03-23-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Diagnostics/AzureKB/{AzureKBResourceName}/search": {
      "post": {
        "tags": [
          "AzureKB Search Post"
        ],
        "description": "This API will fetch azurekb search results",
        "operationId": "AzureKB_Tenant_Scoped_Search",
        "parameters": [
          {
            "$ref": "#/parameters/AzureKBResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SearchTextParameter"
          },
          {
            "$ref": "#/parameters/TopResultsParameter"
          },
          {
            "$ref": "#/parameters/SourcesParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AzureKB Search Responses.",
            "schema": {
              "$ref": "#/definitions/AzureKBSearchResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AzureKBSearchResult": {
      "description": "AzureKB Search Result",
      "properties": {
        "id": {
          "description": "Id of AzureKB Search resource",
          "type": "string"
        },
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "type": {
          "description": "Resource Type",
          "type": "string"
        },
        "properties": {
          "description": "AzureKB Search Result Properties",
          "type": "object",
          "items": {
            "$ref": "#/definitions/AzureKBSearchResultProperties"
          }
        }
      }
    },
    "AzureKBSearchResultProperties":{
      "properties": {
        "description": "AzureKB Search Result Properties",
        "type": "array",
        "items": {
          "$ref": "#/definitions/SearchResultDetails"
        }
      }
    },
    "SearchResultDetails": {
      "description": "Details about an AzureKB Search Result",
      "type": "object",
      "properties": {
        "resultId": {
          "description": "Unique id of the result",
          "type": "string"
        },
        "content": {
          "description": "Content of the search result",
          "type": "string"
        },
        "title": {
          "description": "Title of the search result",
          "type": "string"
        },
        "apiType": {
          "description": "Api type used",
          "type": "string",
          "enum": [
            "QSimilarityAPI",
            "AzureSearchAPI",
            "AzureSearchWithRerankerAPI"
          ]
        },
        "confidence": {
          "description": "Confidence of the search result",
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ]
        },
        "unifiedRank": {
          "description": "unified rank of the search result",
          "type": "integer"
        },
        "unifiedConfidence": {
          "description": "Unified Confidence of the search result",
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ]
        },
        "overAllRank": {
          "description": "Overall rank of the search result",
          "type": "integer"
        },
        "link": {
          "description": "Link to the document",
          "type": "string"
        },
        "searchType": {
          "description": "Source of the results",
          "type": "string",
          "enum": [
            "community",
            "documentation"
          ]
        },
        "sectionMatchDetails": {
          "description": "Source of the search result",
          "type": "object",
          "items": {
            "$ref": "#/definitions/SectionMatchDetails"
          }
        },
        "attributes": {
          "description": "Source specific attributes",
          "type": "object",
          "additionalProperties": true
        }
      }
    },
    "SectionMatchDetails": {
      "description": "AzureKB Search Result SectionMatch details",
      "properties": {
        "content": {
          "type": "string",
          "description": "Content"
        },
        "title": {
          "type": "string",
          "description": "title"
        },
        "link": {
          "type": "string",
          "description": "link"
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Error": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Service specific error type which serves as additonal context for the error herein.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ArmError": {
      "description": "Arm Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DiagnosticExecutionResponse": {
      "description": "The response from a Diagnostic Execution."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ParentProviderNamespaceParameter": {
      "name": "parentProviderNamespace",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ParentResourceTypeParameter": {
      "name": "parentResourceType",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ParentResourceNameParameter": {
      "name": "parentResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "SubResourceTypeParameter": {
      "name": "subResourceType",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "SubResourceNameParameter": {
      "name": "subResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ScopeParameter": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Request scope"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceUri": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The fully qualified Azure Resource Manager identifier of the resource to which the solutions should be discovered/invoked. (e.g. /subscriptions/abc/resourceGroups/abc/providers/Microsoft.Compute/virtualMachineScaleSets/xyz/)"
    },
    "SolutionId": {
      "name": "solutionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for the diagnostic solution to be invoked."
    },
    "SubResource": {
      "name": "subResource",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Sub level resource of parent resource in resourceType/resourceName convention. (e.g. /blob/my_blob/)"
    },
    "Operationid": {
      "name": "operationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for the diagnostic solution has been invoked. (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "SolutionNameParameter": {
      "name": "solutionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for the diagnostic solution has been invoked. (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "SolutionIdParameter": {
      "name": "solutionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for the diagnostic solution has been invoked. (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "SearchTextParameter": {
      "name": "searchText",
      "in": "body",
      "required": true,
      "type": "string",
      "description": "Search text string to search."
    },
    "TopResultsParameter": {
      "name": "topResults",
      "in": "body",
      "required": false,
      "type": "integer",
      "description": "Number of search results desired. Default is 5."
    },
    "SourcesParameter": {
      "name": "sources",
      "in": "body",
      "required": false,
      "type": "string",
      "enum": [
        "community",
        "documentation"
      ],
      "description": "Sources from where articles are to fetched. Default is community & documentation."
    },
    "AzureKBResourceNameParameter": {
      "name": "AzureKBResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Transient AzureKB resource name."
    }
  }
}