{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.EdgeZonesV2",
    "version": "2021-08-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MicrosoftEdgeZones"
    }
  ],
  "paths": {
    "/providers/Microsoft.EdgeZonesV2/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZonesV2/microsoftEdgeZones": {
      "get": {
        "tags": [
          "MicrosoftEdgeZones"
        ],
        "operationId": "MicrosoftEdgeZones_ListBySubscription",
        "description": "List MicrosoftEdgeZone resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MicrosoftEdgeZoneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZonesV2/microsoftEdgeZones/{microsoftEdgeZoneName}": {
      "get": {
        "tags": [
          "MicrosoftEdgeZones"
        ],
        "operationId": "MicrosoftEdgeZones_Get",
        "description": "Get a MicrosoftEdgeZone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "microsoftEdgeZoneName",
            "in": "path",
            "required": true,
            "description": "The name of the MicrosoftEdgeZone",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MicrosoftEdgeZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZonesV2/microsoftEdgeZones/{microsoftEdgeZoneName}/register": {
      "post": {
        "tags": [
          "MicrosoftEdgeZones"
        ],
        "operationId": "MicrosoftEdgeZones_Register",
        "description": "Registers a subscription for a Microsoft Edge Zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "microsoftEdgeZoneName",
            "in": "path",
            "required": true,
            "description": "The name of the MicrosoftEdgeZone",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZonesV2/microsoftEdgeZones/{microsoftEdgeZoneName}/unregister": {
      "post": {
        "tags": [
          "MicrosoftEdgeZones"
        ],
        "operationId": "MicrosoftEdgeZones_Unregister",
        "description": "Unregisters a subscription for a Microsoft Edge Zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "microsoftEdgeZoneName",
            "in": "path",
            "required": true,
            "description": "The name of the MicrosoftEdgeZone",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MicrosoftEdgeZone": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MicrosoftEdgeZoneProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A MicrosoftEdgeZone resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MicrosoftEdgeZoneListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MicrosoftEdgeZone"
          },
          "x-typespec-name": "MicrosoftEdgeZone[]",
          "description": "The MicrosoftEdgeZone items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a MicrosoftEdgeZone list operation.",
      "required": [
        "value"
      ]
    },
    "MicrosoftEdgeZoneProperties": {
      "type": "object",
      "properties": {
        "registrationState": {
          "$ref": "#/definitions/RegistrationState",
          "description": "MicrosoftEdgeZone registration approved or not",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "MicrosoftEdgeZone display name",
          "readOnly": true
        }
      },
      "description": "The properties of a NicrosoftEdgeZone Resource",
      "required": [
        "displayName"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "RegistrationState": {
      "type": "string",
      "description": "The status of the subscription's' Microsoft EdgeZone registration.",
      "enum": [
        "NotRegistered",
        "PendingApproval",
        "Registered"
      ],
      "x-ms-enum": {
        "name": "RegistrationState",
        "modelAsString": true
      }
    }
  },
  "parameters": {}
}
