{
  "swagger": "2.0",
  "info": {
    "title": "Azure Arc Connected OpenStack Management Service API",
    "description": "Self service experience for Azure Connected OpenStack.",
    "version": "2021-05-31-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ConnectedOpenStack/operations": {
      "get": {
        "description": "Returns list of all operations.",
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedOpenStack/VirtualMachines/{virtualMachineName}": {
      "get": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_Get",
        "summary": "Gets a virtual machine.",
        "description": "Implements virtual machine GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualMachine resource"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_Create",
        "description": "Create Or Update virtual machine.",
        "summary": "Implements virtual machine PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualMachine"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_Delete",
        "summary": "Deletes a virtual machine.",
        "description": "Implements virtual machine DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualMachine"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_Update",
        "summary": "Updates a virtual machine.",
        "description": "API to update certain properties of the virtual machine resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineName",
            "required": true,
            "type": "string",
            "description": "Name of the VirtualMachine resource"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Resource properties to update.",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedOpenStack/VirtualMachines/{virtualMachineName}/stop": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_Stop",
        "description": "Stop virtual machine.",
        "summary": "Implements the operation to stop a virtual machine.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineName",
            "description": "Name of the virtual machine resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedOpenStack/VirtualMachines/{virtualMachineName}/start": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_Start",
        "description": "Start virtual machine.",
        "summary": "Implements the operation to start a virtual machine.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineName",
            "description": "Name of the virtual machine resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedOpenStack/VirtualMachines/{virtualMachineName}/restart": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_Restart",
        "description": "Restart virtual machine.",
        "summary": "Implements the operation to restart a virtual machine.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "virtualMachineName",
            "description": "Name of the virtual machine resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedOpenStack/VirtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualMachines under the resource group.",
            "schema": {
              "$ref": "#/definitions/VirtualMachinesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ConnectedOpenStack/VirtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualMachines under the subscription.",
            "schema": {
              "$ref": "#/definitions/VirtualMachinesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "VirtualMachineProperties": {
      "type": "object",
      "properties": {
        "availabilityzone": {
          "type": "string"
        },
        "dnsnameservers": {
          "type": "string",
          "description": "A comma separated list of DNS nameservers"
        },
        "flavorid": {
          "type": "string"
        },
        "identityRef": {
          "type": "object",
          "properties": {
            "apiGroup": {
              "type": "string",
              "description": "APIGroup of resource that is being referred."
            },
            "apiVersion": {
              "type": "string",
              "description": "APIVersion of resource that is being referred."
            },
            "kind": {
              "type": "string",
              "description": "Kind of resource that is being referred."
            },
            "name": {
              "type": "string",
              "description": "Name of resource that is being referred.",
              "minLength": 1
            },
            "namespace": {
              "type": "string",
              "description": "Namespace of resource that is being referred."
            }
          },
          "required": [
            "name"
          ],
          "description": "IdentityRef is the resource reference to the Openstack credentials."
        },
        "imageid": {
          "type": "string"
        },
        "keypair": {
          "type": "string"
        },
        "networkid": {
          "type": "string"
        },
        "securitygroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "observedGeneration": {
              "type": "integer",
              "format": "int64",
              "description": "ObservedGeneration is the last known generation observed in the virtualMachine resource."
            },
            "openstackStatus": {
              "type": "string"
            },
            "provisioningStatus": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code contains any error code associated with the message."
                    },
                    "message": {
                      "type": "string",
                      "description": "Message contains the string suitable for logging and human consumption."
                    }
                  },
                  "description": "Error will be set in the event that there is a terminal problem reconciling the resource."
                },
                "operationID": {
                  "type": "string",
                  "description": "OperationID is the unique identifier for tracking any operation associated with this resource."
                },
                "status": {
                  "type": "string",
                  "description": "ProvisioningState describes the job completion status. Only one of the following provisioning status may be specified.",
                  "enum": [
                    "Provisioning",
                    "Succeeded",
                    "Failed"
                  ]
                }
              },
              "description": "ProvisioningStatus describes the provisioning status of the resource."
            },
            "resourceStatus": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "CreatedAt is time at which resource was previously created."
                },
                "lastConfigurationAttempt": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state."
                        }
                      },
                      "description": "Error contains the error details of the last configure attempt."
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "StartedAt is UTC time at which this phase started."
                    },
                    "taskInfo": {
                      "type": "object",
                      "properties": {
                        "errorMessage": {
                          "type": "string"
                        },
                        "isCompleted": {
                          "type": "boolean"
                        },
                        "isSuccess": {
                          "type": "boolean"
                        },
                        "openstackTaskState": {
                          "type": "string",
                          "description": "TODO: consider having a \"Started\" field instead of propagating the internal Openstack task state."
                        },
                        "resourceID": {
                          "type": "string"
                        },
                        "taskType": {
                          "type": "string"
                        }
                      },
                      "description": "TaskInfo holds the details of last configured task."
                    }
                  },
                  "description": "LastConfigurationAttempt indicates the details of the last configuration attempt."
                },
                "lastSyncAttempt": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state."
                        }
                      },
                      "description": "Error contains the error details of the last sync attempt."
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "StartedAt is UTC time at which this phase started."
                    },
                    "timeTaken": {
                      "type": "string",
                      "description": "TimeTaken is the time it took to complete the syncing attempt."
                    }
                  },
                  "description": "LastSyncAttempt indicates the details of the last sync attempt."
                },
                "state": {
                  "type": "object",
                  "properties": {
                    "configuring": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "configuring": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isCompleted": {
                                      "type": "boolean"
                                    },
                                    "isSuccess": {
                                      "type": "boolean"
                                    },
                                    "openstackTaskState": {
                                      "type": "string",
                                      "description": "TODO: consider having a \"Started\" field instead of propagating the internal Openstack task state."
                                    },
                                    "resourceID": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "description": "Configuring indicates resource configuration is underway."
                            },
                            "syncing": {
                              "type": "object",
                              "properties": {
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "StartedAt is UTC time at which this phase started."
                                }
                              },
                              "description": "Syncing indicates resource configuration is syncing."
                            }
                          },
                          "description": "Phase is the current phase of the state machine's state that the resource is in."
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Configuring state."
                    },
                    "createError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state."
                        }
                      },
                      "description": "Contains details about CreateError state."
                    },
                    "creating": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "creating": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isCompleted": {
                                      "type": "boolean"
                                    },
                                    "isSuccess": {
                                      "type": "boolean"
                                    },
                                    "openstackTaskState": {
                                      "type": "string",
                                      "description": "TODO: consider having a \"Started\" field instead of propagating the internal Openstack task state."
                                    },
                                    "resourceID": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "description": "Creating indicates resource creating is underway."
                            },
                            "syncing": {
                              "type": "object",
                              "properties": {
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "description": "Syncing indicates resource is syncing."
                            }
                          },
                          "description": "Phase is the current phase of the state machine's state that the resource is in."
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        },
                        "state": {
                          "type": "string",
                          "description": "State indicates the state machine's state the resource is in."
                        }
                      },
                      "description": "Contains details about Creating state."
                    },
                    "deleteError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state."
                        }
                      },
                      "description": "Contains details about DeleteError state."
                    },
                    "deletePreflight": {
                      "type": "object",
                      "properties": {
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about DeletePreflight state."
                    },
                    "deleting": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "deleting": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isCompleted": {
                                      "type": "boolean"
                                    },
                                    "isSuccess": {
                                      "type": "boolean"
                                    },
                                    "openstackTaskState": {
                                      "type": "string",
                                      "description": "TODO: consider having a \"Started\" field instead of propagating the internal Openstack task state."
                                    },
                                    "resourceID": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "description": "Deleting indicates current resource configuration is deleting."
                            },
                            "retry": {
                              "type": "object",
                              "properties": {
                                "nextRetryAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "description": "Retry indicates retry the delete operation."
                            }
                          },
                          "description": "Phase is the current phase of the state machine's state that the resource is in."
                        },
                        "retryAttempt": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Deleting state."
                    },
                    "ok": {
                      "type": "object",
                      "properties": {
                        "nextSyncAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "NextSyncAt is UTC time at or after which the next sync should happen."
                        }
                      },
                      "description": "Contains details about OK state."
                    },
                    "syncError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state."
                        }
                      },
                      "description": "Contains details about SyncError state."
                    },
                    "syncing": {
                      "type": "object",
                      "properties": {
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Syncing state."
                    }
                  },
                  "description": "ResourceState defines various states for a resource. Only one of the fields below is set."
                }
              },
              "description": "ResourceStatus defines appropriate status fields for a resource."
            },
            "uuid": {
              "type": "string"
            }
          },
          "required": [
            "openstackStatus"
          ],
          "description": "VirtualMachineStatus defines the observed state of VirtualMachine"
        }
      },
      "required": [
        "identityRef"
      ],
      "description": "VirtualMachineSpec defines the desired state of VirtualMachine"
    },
    "VirtualMachine": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualMachineProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The VirtualMachine resource definition."
    },
    "VirtualMachineResult": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The VirtualMachine resource patch definition."
    },
    "VirtualMachinesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachine"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is data action or not.",
          "type": "boolean"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "description": "Operation.",
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}
