{
    "swagger": "2.0",
    "info": {
      "title": "Bluefin",
      "description": "The Microsoft.Bluefin Rest API spec.",
      "version": "2022-11-01-preview",
      "x-ms-code-generation-settings": {
        "name": "BluefinClient"
      }
    },
    "securityDefinitions": {
        "azure_auth": {
          "type": "oauth2",
          "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
          "flow": "implicit",
          "description": "Azure Active Directory OAuth2 Flow",
          "scopes": {
            "user_impersonation": "impersonate your user account"
          }
        }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Bluefin/instances/{instancesName}/pipelines/{pipelinesName}": {
        "get": {
          "operationId": "pipelines_Retrieve",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/instancesNameParameter"
            },
            {
              "$ref": "#/parameters/pipelinesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the pipelines resource.",
              "schema": {
                "$ref": "#/definitions/pipelines"
              }
            },   
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "operationId": "pipelines_CreateOrUpdate",
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/instancesNameParameter"
            },
            {
              "$ref": "#/parameters/pipelinesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "pipelines",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/pipelines"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the pipelines resource.",
              "schema": {
                "$ref": "#/definitions/pipelines"
              }
            },
            "201": {
              "description": "Creates the pipelines resource.",
              "schema": {
                "$ref": "#/definitions/pipelines"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "operationId": "pipelines_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/instancesNameParameter"
            },
            {
              "$ref": "#/parameters/pipelinesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the pipelines resource."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "operationId": "pipelines_Update",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/instancesNameParameter"
            },
            {
              "$ref": "#/parameters/pipelinesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "pipelines",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/pipelinesPatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the pipelines resource.",
              "schema": {
                "$ref": "#/definitions/pipelines"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Bluefin/instances/{instancesName}/pipelines": {
        "get": {
          "operationId": "pipelines_ListByResourceGroup",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/instancesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all pipelines belonging to an instance.",
              "schema": {
                "$ref": "#/definitions/pipelinesListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/providers/Microsoft.Bluefin/operations": {
        "get": {
          "operationId": "Operations_List",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Describe the result of a successful operation.",
              "schema": {
                "$ref": "#/definitions/ResourceProviderOperationList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "pipelinesProperties": {
        "properties": {
          "description": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "input": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              },
              "next": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "properties": {
                  "items": {
                    "type": "string"
                  }
                }
              },
              "type": {
                "type": "string"
              },
              "viewOptions": {
                "type": "object",
                "properties": {
                  "position": {
                    "type": "object",
                    "properties": {
                      "x": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "y": {
                        "type": "integer",
                        "format": "int32"
                      }
                    },
                    "description": "Position describes position of stage graphical representation."
                  }
                },
                "description": "ViewOptions represents graphic configuration for a stage."
              }
            },
            "description": "StageSpec defines the configuration of a stage.",
            "x-kubernetes-preserve-unknown-fields": "true"
          },
          "partitionCount": {
            "type": "integer",
            "format": "int32"
          },
          "stages": {
            "type": "object",
            "properties": {
              "additionalProperties": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "next": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "properties": {
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "type": {
                    "type": "string"
                  },
                  "viewOptions": {
                    "type": "object",
                    "properties": {
                      "position": {
                        "type": "object",
                        "properties": {
                          "x": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "y": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "description": "Position describes position of stage graphical representation."
                      }
                    },
                    "description": "ViewOptions represents graphic configuration for a stage."
                  }
                },
                "description": "StageSpec defines the configuration of a stage.",
                "x-kubernetes-preserve-unknown-fields": "true"
              }
            },
            "additionalProperties": {
              "description": "StageSpec defines the configuration of a stage.",
              "properties": {
                "description": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "next": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "type": {
                  "type": "string"
                },
                "viewOptions": {
                  "description": "ViewOptions represents graphic configuration for a stage.",
                  "properties": {
                    "position": {
                      "description": "Position describes position of stage graphical representation.",
                      "properties": {
                        "x": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "y": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "x-kubernetes-preserve-unknown-fields": "true"
            }
          },
          "provisioningState": {
            "type": "string"
          },
          "status": {
            "type": "object",
            "properties": {
              "state": {
                "type": "string",
                "description": "PipelineState defines the state of the Bluefin pipeline."
              },
              "validated": {
                "type": "boolean"
              }
            },
            "description": "PipelineStatus defines the current status of a pipeline."
          }
        }
      },
      "pipelines": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/pipelinesProperties"
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Id"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Type"
          },
          "location": {
            "type": "string",
            "description": "The resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "extendedLocation": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The extended location type."
              },
              "name": {
                "type": "string",
                "description": "The extended location name."
              }
            }
          }
        },
        "required": [
          "location"
        ],
        "description": "The pipelines resource definition."
      },
      "pipelinesPatch": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "description": "The pipelines resource patch definition."
      },
      "pipelinesListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/pipelines"
            }
          },
          "nextLink": {
            "type": "string"
          }
        }
      },
      "ResourceProviderOperationList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ResourceProviderOperation"
            }
          },
          "nextLink": {
            "type": "string"
          }
        },
        "description": "Results of the request to list operations."
      },
      "ResourceProviderOperation": {
        "type": "object",
        "properties": {
          "isDataAction": {
            "type": "string",
            "description": "Indicates whether the operation applies to data-plane."
          },
          "name": {
            "type": "string",
            "description": "Operation name, in format of {provider}/{resource}/{operation}"
          },
          "display": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "description": "The resource provider."
              },
              "resource": {
                "type": "string",
                "description": "Resource on which the operation is performed."
              },
              "operation": {
                "type": "string",
                "description": "Type of operation: get, read, delete, etc."
              },
              "description": {
                "type": "string",
                "description": "Description of this operation."
              }
            },
            "description": "Display metadata associated with the operation."
          }
        },
        "description": "Results of the request to list operations."
      },
      "ErrorResponse": {
        "description": "Error response.",
        "properties": {
          "error": {
            "$ref": "#/definitions/ErrorDefinition",
            "description": "The error details."
          }
        }
      },
      "ErrorDefinition": {
        "description": "Error definition.",
        "properties": {
          "code": {
            "description": "Service specific error code which serves as the substatus for the HTTP error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Description of the error.",
            "type": "string",
            "readOnly": true
          },
          "details": {
            "description": "Internal error details.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/ErrorDefinition"
            },
            "readOnly": true
          }
        }
      }
    },
    "parameters": {
      "instancesNameParameter": {
        "name": "instancesName",
        "in": "path",
        "required": true,
        "type": "string",
        "maxLength": 64,
        "minLength": 3
      },
      "pipelinesNameParameter": {
        "name": "pipelinesName",
        "in": "path",
        "required": true,
        "type": "string",
        "maxLength": 64,
        "minLength": 3
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
      }
    }
  }