{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Access and Mobility Management Function Profile.",
    "version": "2023-10-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/mmeProfiles/{mmeProfileName}": {
      "put": {
        "tags": [
          "MmeProfiles"
        ],
        "operationId": "MmeProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Access and Mobility Management Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "mmeProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the mmeProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MmeProfile"
            },
            "description": "Parameters supplied to create or update an MME profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core MME Profile resource.",
            "schema": {
              "$ref": "#/definitions/MmeProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create MME Profile": {
            "$ref": "./examples/MmeProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "MmeProfiles"
        ],
        "operationId": "MmeProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core Access and Mobility Management Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "mmeProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the mmeProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core MME Profile resource.",
            "schema": {
              "$ref": "#/definitions/MmeProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get MME Profile": {
            "$ref": "./examples/MmeProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MmeProfiles"
        ],
        "operationId": "MmeProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core Access and Mobility Management Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "mmeProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the mmeProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The MME Profile resource is deleted"
          },
          "204": {
            "description": "Successful: The MME Profile resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete MME Profile": {
            "$ref": "./examples/MmeProfileDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/mmeProfiles": {
      "get": {
        "tags": [
          "MmeProfiles"
        ],
        "operationId": "MmeProfiles_ListByMobilePacketCore",
        "description": "Lists all the Access and Mobility Management Function profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/MmeProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List MME Profiles by MobilePacketCore": {
            "$ref": "./examples/MmeProfileListByMobilePacketCore.json"
          }
        }
      }
    }
  },
  "definitions": {
    "MmeProfileTypeSpecificData": {
      "type": "object",
      "description": "MME profile type specific properties.",
      "discriminator": "mmeProfileNfviType",
      "properties": {
        "mmeProfileNfviType": {
          "type": "string",
          "enum": [
            "AzureCore",
            "AzureOperatorNexus"
          ],
          "x-ms-enum": {
            "name": "MmeProfileNfviType",
            "modelAsString": true
          },
          "description": "Type of NFVi"
        }
      },
      "required": [
        "mmeProfileNfviType"
      ]
    },
    "MmeProfileAzureOperatorNexusData": {
      "type": "object",
      "description": "Azure Operator Nexus MME profile properties.",
      "allOf": [
        {
          "$ref": "#/definitions/MmeProfileTypeSpecificData"
        }
      ],
      "properties": {
        "networkFabricId": {
          "$ref": "./common.json#/definitions/NetworkFabricIdProperty",
          "description": "ARM Resource ID of the Network Fabric.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "cloudServiceNetworkId": {
          "$ref": "./common.json#/definitions/CloudServiceNetworkIdProperty",
          "description": "ARM Resource ID of the Cloud Service Network shared by MME deployments.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "managementL3IsdId": {
          "$ref": "./common.json#/definitions/L3IsolationDomainIdProperty",
          "description": "ARM Resource ID of the L3 Isolation Domain for management traffic.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouthL3IsdId": {
          "$ref": "./common.json#/definitions/L3IsolationDomainIdProperty",
          "description": "ARM Resource ID of the L3 Isolation Domain for north/south traffic.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "networkFabricId",
        "cloudServiceNetworkId",
        "managementL3IsdId",
        "northSouthL3IsdId"
      ],
      "x-ms-discriminator-value": "AzureOperatorNexus"
    },
    "MmeProfileAzureCoreData": {
      "type": "object",
      "description": "Azure Core MME profile properties.",
      "allOf": [
        {
          "$ref": "#/definitions/MmeProfileTypeSpecificData"
        }
      ],
      "properties": {
        "managementSubnet": {
          "$ref": "./common.json#/definitions/VnfManagementSubnet",
          "description": "Management subnet for MME deployments",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouthSubnet": {
          "$ref": "./common.json#/definitions/VnfNorthSouthSubnet",
          "description": "North/south subnet for MME deployments",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouthDataSubnet": {
          "$ref": "./common.json#/definitions/VnfNorthSouthSubnet",
          "description": "North/south-Data subnet for MME deployments",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "internalSecurityGroupId": {
          "$ref": "./common.json#/definitions/SecurityGroupIdProperty",
          "description": "ARM resource ID of the security group for internal traffic",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "ilbNorthSouthBackendPoolId": {
          "$ref": "./common.json#/definitions/ilbBackendPoolIdProperty",
          "description": "The internal load balancer north/south backend pool Id for MME",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "ilbManagementBackendPoolId": {
          "$ref": "./common.json#/definitions/ilbBackendPoolIdProperty",
          "description": "The internal load balancer management backend pool Id for MME",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "managementSubnet",
        "northSouthSubnet",
        "northSouthDataSubnet",
        "internalSecurityGroupId",
        "ilbNorthSouthBackendPoolId",
        "ilbManagementBackendPoolId"
      ],
      "x-ms-discriminator-value": "AzureCore"
    },
    "MmeProfileProperties": {
      "type": "object",
      "description": "The Mobile Packet Core MME Profile resource.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the MME Deployment resource."
        },
        "sku": {
          "type": "string",
          "description": "The sku selected for the MME using this profile."
        },
        "userAssignedManagedIdentityId": {
          "description": "ARM resource ID of of the user assigned managed identity",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/UserAssignedManagedIdentityIdProperty"
        },
        "typeSpecificData": {
          "$ref": "#/definitions/MmeProfileTypeSpecificData"
        }
      }
    },
    "MmeProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MmeProfileProperties",
          "description": "MME Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "MmeProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MmeProfile"
          },
          "description": "A list of Mobile Packet Core MME Profile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core MME Profile API service call."
    }
  }
}
