{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Access and Mobility Management Function Profile.",
    "version": "2023-10-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/saegwUpProfiles/{saegwUpProfileName}": {
      "put": {
        "tags": [
          "SaegwUpProfiles"
        ],
        "operationId": "SaegwUpProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Access and Mobility Management Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "saegwUpProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the saegwUpProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaegwUpProfile"
            },
            "description": "Parameters supplied to create or update an SAEGWUP profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core SAEGWUP Profile resource.",
            "schema": {
              "$ref": "#/definitions/SaegwUpProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SaegwUp Profile": {
            "$ref": "./examples/SaegwUpProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "SaegwUpProfiles"
        ],
        "operationId": "SaegwUpProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core Access and Mobility Management Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "saegwUpProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the saegwUpProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core SAEGWUP Profile resource.",
            "schema": {
              "$ref": "#/definitions/SaegwUpProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SaegwUp Profile": {
            "$ref": "./examples/SaegwUpProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SaegwUpProfiles"
        ],
        "operationId": "SaegwUpProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core Access and Mobility Management Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "saegwUpProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the saegwUpProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The SAEGWUP Profile resource is deleted"
          },
          "204": {
            "description": "Successful: The SAEGWUP Profile resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Felete SaegwUp Profile": {
            "$ref": "./examples/SaegwUpProfileDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/saegwUpProfiles": {
      "get": {
        "tags": [
          "SaegwUpProfiles"
        ],
        "operationId": "SaegwUpProfiles_ListByMobilePacketCore",
        "description": "Lists all the Access and Mobility Management Function profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SaegwUpProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List SaegwUp Profiles by MobilePacketCore": {
            "$ref": "./examples/SaegwUpProfileListByMobilePacketCore.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SaegwUpProfileTypeSpecificData": {
      "type": "object",
      "description": "SAEGWUP profile type specific properties.",
      "discriminator": "saegwUpProfileNfviType",
      "properties": {
        "saegwUpProfileNfviType": {
          "type": "string",
          "enum": [
            "AzureCore",
            "AzureOperatorNexus"
          ],
          "x-ms-enum": {
            "name": "SaegwUpProfileNfviType",
            "modelAsString": true
          },
          "description": "Type of NFVi"
        }
      },
      "required": [
        "saegwUpProfileNfviType"
      ]
    },
    "AzureOperatorNexusData": {
      "type": "object",
      "description": "Azure Operator Nexus SAEGWUP profile properties.",
      "allOf": [
        {
          "$ref": "#/definitions/SaegwUpProfileTypeSpecificData"
        }
      ],
      "properties": {
        "networkFabricId": {
          "description": "ARM Resource ID of the Network Fabric.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/NetworkFabricIdProperty"
        },
        "cloudServiceNetworkId": {
          "description": "ARM Resource ID of the Cloud Service Network shared by SaegwUp deployments.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/CloudServiceNetworkIdProperty"
        },
        "managementL3IsdId": {
          "description": "ARM Resource ID of the L3 Isolation Domain for management traffic.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/L3IsolationDomainIdProperty"
        },
        "northSouthL3IsdId": {
          "description": "ARM Resource ID of the L3 Isolation Domain for north/south traffic.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/L3IsolationDomainIdProperty"
        }
      },
      "required": [
        "networkFabricId",
        "cloudServiceNetworkId",
        "managementL3IsdId",
        "northSouthL3IsdId"
      ],
      "x-ms-discriminator-value": "AzureOperatorNexus"
    },
    "AzureCoreData": {
      "type": "object",
      "description": "Azure Core SAEGWUP profile properties.",
      "allOf": [
        {
          "$ref": "#/definitions/SaegwUpProfileTypeSpecificData"
        }
      ],
      "properties": {
        "managementSubnet": {
          "$ref": "./common.json#/definitions/VnfManagementSubnet",
          "description": "Management subnet for MME deployments",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouthSubnets": {
          "type": "array",
          "minItems": 2,
          "maxItems": 5,
          "x-ms-identifiers": [
            "usage"
          ],
          "items": {
            "$ref": "./common.json#/definitions/VnfNorthSouthSubnet"
          },
          "description": "A list of subnets for north/south traffic",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "managementSubnet",
        "northSouthSubnets"
      ],
      "x-ms-discriminator-value": "AzureCore"
    },
    "SaegwUpProfileProperties": {
      "type": "object",
      "description": "The Mobile Packet Core SAEGWUP Profile resource.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SAEGWUP profile resource."
        },
        "sku": {
          "type": "string",
          "description": "The sku selected for the SAEGWUP using this profile."
        },
        "userAssignedManagedIdentityId": {
          "description": "ARM resource ID of of the user assigned managed identity",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/UserAssignedManagedIdentityIdProperty"
        },
        "vlanStripping": {
          "type": "boolean",
          "default": false,
          "description": "Vlan stripping option"
        },
        "networkReorder": {
          "type": "boolean",
          "default": false,
          "description": "Network re-ordering option"
        },
        "typeSpecificData": {
          "$ref": "#/definitions/SaegwUpProfileTypeSpecificData"
        }
      },
      "required": [
        "sku",
        "userAssignedManagedIdentityId",
        "typeSpecificData"
      ]
    },
    "SaegwUpProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SaegwUpProfileProperties",
          "description": "SAEGWUP Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "SaegwUpProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaegwUpProfile"
          },
          "description": "A list of Mobile Packet Core SAEGWUP Profile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core SAEGWUP Profile API service call."
    }
  }
}
