{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Access and Mobility Management Function Profile.",
    "version": "2023-10-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/saegwCpProfiles/{saegwCpProfileName}": {
      "put": {
        "tags": [
          "SaegwCpProfiles"
        ],
        "operationId": "SaegwCpProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Access and Mobility Management Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "saegwCpProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the saegwCpProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaegwCpProfile"
            },
            "description": "Parameters supplied to create or update an SAEGWCP profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core SAEGWCP Profile resource.",
            "schema": {
              "$ref": "#/definitions/SaegwCpProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SaegwCp Profile": {
            "$ref": "./examples/SaegwCpProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "SaegwCpProfiles"
        ],
        "operationId": "SaegwCpProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core Access and Mobility Management Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "saegwCpProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the saegwCpProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core SAEGWCP Profile resource.",
            "schema": {
              "$ref": "#/definitions/SaegwCpProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SaegwCp Profile": {
            "$ref": "./examples/SaegwCpProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SaegwCpProfiles"
        ],
        "operationId": "SaegwCpProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core Access and Mobility Management Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "saegwCpProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the saegwCpProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The SAEGWCP Profile resource is deleted"
          },
          "204": {
            "description": "Successful: The SAEGWCP Profile resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SaegwCp Profile": {
            "$ref": "./examples/SaegwCpProfileDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/saegwCpProfiles": {
      "get": {
        "tags": [
          "SaegwCpProfiles"
        ],
        "operationId": "SaegwCpProfiles_ListByMobilePacketCore",
        "description": "Lists all the Access and Mobility Management Function profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SaegwCpProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List SaegwCp Profiles by MobilePacketCore": {
            "$ref": "./examples/SaegwCpProfileListByMobilePacketCore.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SaegwCpProfileTypeSpecificData": {
      "type": "object",
      "description": "SAEGWCP profile type specific properties.",
      "discriminator": "saegwCpProfileNfviType",
      "properties": {
        "saegwCpProfileNfviType": {
          "type": "string",
          "enum": [
            "AzureCore",
            "AzureOperatorNexus"
          ],
          "x-ms-enum": {
            "name": "SaegwCpProfileNfviType",
            "modelAsString": true
          },
          "description": "Type of NFVi"
        }
      },
      "required": [
        "saegwCpProfileNfviType"
      ]
    },
    "AzureOperatorNexusData": {
      "type": "object",
      "description": "Azure Operator Nexus SAEGWCP profile properties.",
      "allOf": [
        {
          "$ref": "#/definitions/SaegwCpProfileTypeSpecificData"
        }
      ],
      "properties": {
        "networkFabricId": {
          "description": "ARM Resource ID of the Network Fabric.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/NetworkFabricIdProperty"
        },
        "cloudServiceNetworkId": {
          "description": "ARM Resource ID of the Cloud Service Network shared by SaegwCp deployments.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/CloudServiceNetworkIdProperty"
        },
        "managementL3IsdId": {
          "description": "ARM Resource ID of the L3 Isolation Domain for management traffic.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/L3IsolationDomainIdProperty"
        },
        "northSouthL3IsdId": {
          "description": "ARM Resource ID of the L3 Isolation Domain for north/south traffic.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/L3IsolationDomainIdProperty"
        }
      },
      "required": [
        "networkFabricId",
        "cloudServiceNetworkId",
        "managementL3IsdId",
        "northSouthL3IsdId"
      ],
      "x-ms-discriminator-value": "AzureOperatorNexus"
    },
    "AzureCoreData": {
      "type": "object",
      "description": "Azure Core SAEGWCP profile properties.",
      "allOf": [
        {
          "$ref": "#/definitions/SaegwCpProfileTypeSpecificData"
        }
      ],
      "properties": {
        "managementSubnet": {
          "$ref": "./common.json#/definitions/VnfManagementSubnet",
          "description": "Management subnet for MME deployments",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouthSubnets": {
          "type": "array",
          "minItems": 2,
          "maxItems": 5,
          "x-ms-identifiers": [
            "usage"
          ],
          "items": {
            "$ref": "./common.json#/definitions/VnfNorthSouthSubnet"
          },
          "description": "A list of subnets for north/south traffic",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "managementSubnet",
        "northSouthSubnets"
      ],
      "x-ms-discriminator-value": "AzureCore"
    },
    "SaegwCpProfileProperties": {
      "type": "object",
      "description": "The Mobile Packet Core SAEGWCP Profile resource.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SAEGWCP profile resource."
        },
        "sku": {
          "type": "string",
          "description": "The sku selected for the SAEGWCP using this profile."
        },
        "userAssignedManagedIdentityId": {
          "description": "ARM resource ID of of the user assigned managed identity",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "./common.json#/definitions/UserAssignedManagedIdentityIdProperty"
        },
        "vlanStripping": {
          "type": "boolean",
          "default": false,
          "description": "Vlan stripping option"
        },
        "networkReorder": {
          "type": "boolean",
          "default": false,
          "description": "Network re-ordering option"
        },
        "typeSpecificData": {
          "$ref": "#/definitions/SaegwCpProfileTypeSpecificData"
        }
      },
      "required": [
        "sku",
        "userAssignedManagedIdentityId",
        "typeSpecificData"
      ]
    },
    "SaegwCpProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SaegwCpProfileProperties",
          "description": "SAEGWCP Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "SaegwCpProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaegwCpProfile"
          },
          "description": "A list of Mobile Packet Core SAEGWCP Profile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core SAEGWCP Profile API service call."
    }
  }
}
