{
  "swagger": "2.0",
  "info": {
    "version": "2021-12-01-preview",
    "title": "Workloads Client",
    "description": "Workloads client provides access to various workload operations",
    "x-ms-code-generation-settings": {
      "name": "WorkloadsClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Workloads/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all the available API operations under this PR",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/phpWorkloads": {
      "get": {
        "tags": [
          "PhpWorkloads"
        ],
        "description": "Lists phpWorkload resources in a subscription",
        "operationId": "PhpWorkloads_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/phpWorkloadResourceList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/PhpWorkloads_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/phpWorkloads": {
      "get": {
        "tags": [
          "PhpWorkloads"
        ],
        "description": "Lists phpWorkload resources in a resource group",
        "operationId": "PhpWorkloads_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/phpWorkloadResourceList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/PhpWorkloads_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/phpWorkloads/{phpWorkloadName}": {
      "get": {
        "tags": [
          "PhpWorkloads"
        ],
        "description": "Gets a phpWorkload resource",
        "operationId": "PhpWorkloads_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PhpWorkloadNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/phpWorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/PhpWorkloads_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PhpWorkloads"
        ],
        "description": "Create or updated phpWorkloads resource",
        "operationId": "PhpWorkloads_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PhpWorkloadNameParameter"
          },
          {
            "in": "body",
            "name": "phpWorkloadResource",
            "description": "Resource create or update request payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/phpWorkloadResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource created or updated successfully",
            "schema": {
              "$ref": "#/definitions/phpWorkloadResource"
            }
          },
          "201": {
            "description": "Created - Resource created or updated started",
            "schema": {
              "$ref": "#/definitions/phpWorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/PhpWorkloads_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "PhpWorkloads"
        ],
        "description": "Update PHP workload resource.",
        "operationId": "PhpWorkloads_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PhpWorkloadNameParameter"
          },
          {
            "in": "body",
            "name": "ResourcePatchRequestBody",
            "description": "Workload resource update data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatchRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- resource updated",
            "schema": {
              "$ref": "#/definitions/phpWorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/PhpWorkloads_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PhpWorkloads"
        ],
        "operationId": "PhpWorkloads_Delete",
        "description": "Delete phpWorkloads resource",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PhpWorkloadNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource deleted"
          },
          "202": {
            "description": "Accepted - Resource deletion in progress"
          },
          "204": {
            "description": "Resourcce not found"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/PhpWorkloads_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "phpWorkloadResourceList": {
      "description": "Php workload resource list",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page",
          "type": "array",
          "items": {
            "$ref": "#/definitions/phpWorkloadResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources",
          "type": "string"
        }
      }
    },
    "phpWorkloadResource": {
      "description": "Php workload resource",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Resource properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/phpWorkloadResourceProperties"
        },
        "kind": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        },
        "sku": {
          "description": "Php workloads SKU",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/Sku"
        },
        "systemData": {
          "description": "Resource system data",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "phpWorkloadResourceProperties": {
      "description": "Php workload resource properties",
      "type": "object",
      "properties": {
        "infraResourceGroup": {
          "description": "Resource group where the infra resource will be created in Azure",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "resourcePools": {
          "type": "array",
          "description": "Resource pools comprising current workload infrastruture",
          "items": {
            "$ref": "#/definitions/resourcePool"
          },
          "readOnly": true
        },
        "adminUserProfile": {
          "description": "User profile used for VMs and VMSS",
          "$ref": "#/definitions/userProfile"
        },
        "webNodesProfiled": {
          "description": "VMSS profile",
          "$ref": "#/definitions/vmssNodesProfile"
        },
        "controllerProfile": {
          "description": "Controller machine profile",
          "$ref": "#/definitions/nodeProfile"
        },
        "networkProfile": {
          "description": "Network profile",
          "$ref": "#/definitions/networkProfile"
        },
        "databaseProfile": {
          "description": "Database profile",
          "$ref": "#/definitions/databaseProfile"
        },
        "siteProfile": {
          "description": "Site profile",
          "$ref": "#/definitions/siteProfile"
        },
        "fileshareProfile": {
          "description": "File share profile",
          "$ref": "#/definitions/fileshareProfile"
        },
        "applicationProfile": {
          "description": "Application profile",
          "$ref": "#/definitions/applicationProfile"
        },
        "phpProfile": {
          "description": "PHP profile",
          "$ref": "#/definitions/phpProfile"
        },
        "searchProfile": {
          "description": "Search profile",
          "$ref": "#/definitions/searchProfile"
        },
        "cacheProfile": {
          "description": "Cache profile",
          "$ref": "#/definitions/cacheProfile"
        },
        "backupProfile": {
          "description": "Backup profile",
          "$ref": "#/definitions/backupProfile"
        },
        "provisioningState": {
          "description": "Php workload resource provisioning state",
          "enum": [
            "NotSpecified",
            "Accepted",
            "Created",
            "Succeeded",
            "Failed",
            "Canceled",
            "Deleting",
            "ProvisioningResources",
            "InstallingApplication",
            "ConfiguringApplication"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ResourceProvisioningState",
            "modelAsString": true
          },
          "readOnly": true
        }
      },
      "required": [
        "adminUserProfile"
      ]
    },
    "resourcePool": {
      "type": "object",
      "description": "Resource pool entry",
      "properties": {
        "name": {
          "type": "string",
          "description": "Pool name"
        },
        "resourceIds": {
          "type": "array",
          "description": "List of resource Ids belong to a pool",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "userProfile": {
      "type": "object",
      "description": "User settings to configure on a compute resource such as VM, VMSS",
      "properties": {
        "userName": {
          "type": "string",
          "description": "User name"
        },
        "sshPublicKey": {
          "type": "string",
          "description": "SSH public key data"
        }
      }
    },
    "vmssNodesProfile": {
      "type": "object",
      "description": "VMSS settings",
      "properties": {
        "autoScaleMinCount": {
          "type": "integer",
          "description": "Minimum number of nodes for autoscale",
          "minimum": 1
        },
        "autoScaleMaxCount": {
          "type": "integer",
          "description": "Maxmimum number of nodes for autoscale",
          "minimum": 1
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/nodeProfile"
        }
      ]
    },
    "nodeProfile": {
      "type": "object",
      "description": "Node profile",
      "properties": {
        "nodeSku": {
          "type": "string",
          "description": "VM SKU for node(s)"
        },
        "osImage": {
          "description": "OS image used for creating the nodes",
          "$ref": "#/definitions/osImageProfile"
        },
        "osDisk": {
          "description": "OS disk details",
          "$ref": "#/definitions/diskInfo"
        },
        "dataDisks": {
          "description": "Data disks details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/diskInfo"
          }
        }
      },
      "required": [
        "nodeSku",
        "osDisk"
      ]
    },
    "diskInfo": {
      "type": "object",
      "description": "Disk resource creation details",
      "properties": {
        "storageType": {
          "description": "Storage type",
          "type": "string",
          "enum": [
            "Premium_LRS",
            "Standard_LRS",
            "StandardSSD_LRS"
          ],
          "x-ms-enum": {
            "name": "DiskStorageType",
            "modelAsString": false
          }
        },
        "sizeInGB": {
          "type": "integer",
          "description": "Disk size in GB"
        }
      },
      "required": [
        "storageType"
      ]
    },
    "osImageProfile": {
      "type": "object",
      "description": "OS image profile",
      "properties": {
        "publisher": {
          "description": "OS image publisher",
          "type": "string"
        },
        "offer": {
          "description": "OS image offer",
          "type": "string"
        },
        "sku": {
          "description": "OS image sku",
          "type": "string"
        },
        "version": {
          "description": "OS image version",
          "type": "string"
        }
      }
    },
    "networkProfile": {
      "type": "object",
      "description": "Workload network profile",
      "properties": {
        "vNetAddressSpace": {
          "type": "string",
          "description": "Virtual network address space in CIDR format. Example: 172.31.0.0/16"
        },
        "loadBalancerType": {
          "type": "string",
          "description": "Load balancer type",
          "enum": [
            "ApplicationGateway",
            "LoadBalancer"
          ],
          "x-ms-enum": {
            "name": "LoadBalancerType",
            "modelAsString": false
          }
        },
        "loadBalancerSku": {
          "type": "string",
          "description": "Load balancer SKU"
        },
        "loadBalancerTier": {
          "type": "string",
          "description": "Load balancer tier"
        },
        "capacity": {
          "type": "integer",
          "description": "Capacity, applicable only for Application Gateway."
        }
      }
    },
    "databaseProfile": {
      "type": "object",
      "description": "Workload database profile",
      "properties": {
        "dbType": {
          "description": "Database type",
          "type": "string",
          "enum": [
            "MySql",
            "Postgres"
          ],
          "x-ms-enum": {
            "name": "DatabaseType",
            "modelAsString": false
          }
        },
        "dbVersion": {
          "type": "string",
          "description": "Database version"
        },
        "adminUser": {
          "type": "string",
          "description": "Admin user name for the database resource"
        },
        "sku": {
          "type": "string",
          "description": "The name of the server SKU, e.g. Standard_D32s_v4"
        },
        "tier": {
          "type": "string",
          "description": "Tier of the server SKU",
          "enum": [
            "Burstable",
            "GeneralPurpose",
            "MemoryOptimized"
          ],
          "x-ms-enum": {
            "name": "DatabaseTier",
            "modelAsString": false
          }
        },
        "haEnabled": {
          "type": "string",
          "description": "Enable HA or not for the server",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "HAEnabled",
            "modelAsString": false
          }
        },
        "storageSku": {
          "type": "string",
          "description": "SKU name for file storage"
        },
        "storageInGB": {
          "type": "integer",
          "description": "Database storage size in GB",
          "minimum": 1
        },
        "storageIops": {
          "type": "integer",
          "description": "Storage IOPS for a server"
        },
        "backupRetentionDays": {
          "type": "integer",
          "description": "Backup retention days for the server"
        },
        "sslEnforcementEnabled": {
          "type": "string",
          "description": "Whether to enable SSL enforcement on the database",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "EnableSslEnforcement",
            "modelAsString": true
          }
        }
      }
    },
    "siteProfile": {
      "type": "object",
      "description": "Workload website profile",
      "properties": {
        "webServerType": {
          "description": "Web server type",
          "type": "string",
          "enum": [
            "apache",
            "nginx"
          ],
          "x-ms-enum": {
            "name": "WebServerType",
            "modelAsString": false
          }
        },
        "domainName": {
          "type": "string",
          "description": "Domain name for the application site URL"
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Parent domain name to create DNS Zone resource"
        },
        "dnsZoneId": {
          "type": "string",
          "description": "DNS Zone resource Id if existing Zone resource being used"
        },
        "siteUrl": {
          "type": "string",
          "description": "Site Url to access the Php application",
          "readOnly": true
        }
      }
    },
    "fileshareProfile": {
      "type": "object",
      "description": "File share settings",
      "properties": {
        "shareType": {
          "description": "Share type",
          "type": "string",
          "enum": [
            "NfsOnController",
            "AzureFiles"
          ],
          "x-ms-enum": {
            "name": "FileShareType",
            "modelAsString": false
          }
        },
        "storageType": {
          "description": "File share backing storage type",
          "type": "string",
          "enum": [
            "Standard_LRS",
            "Standard_GRS",
            "Standard_ZRS",
            "Premium_LRS"
          ],
          "x-ms-enum": {
            "name": "FileShareStorageType",
            "modelAsString": false
          }
        },
        "shareSizeInGB": {
          "type": "integer",
          "description": "Fileshare size in GB",
          "minimum": 1,
          "maximum": 1024
        }
      }
    },
    "applicationProfile": {
      "type": "object",
      "description": "Application settings",
      "properties": {
        "version": {
          "type": "string",
          "description": "Application version"
        },
        "plugins": {
          "type": "array",
          "description": "Application plug-ins that needs to be enabled along with applications",
          "items": {
            "type": "string"
          }
        },
        "databaseName": {
          "type": "string",
          "description": "Database name used by the application"
        },
        "databaseUser": {
          "type": "string",
          "description": "Database user used to connect to the database"
        }
      }
    },
    "phpProfile": {
      "type": "object",
      "description": "PHP settings for the Php workload",
      "properties": {
        "version": {
          "type": "string",
          "description": "PHP versionss",
          "enum": [
            "7.2",
            "7.3",
            "7.4"
          ],
          "x-ms-enum": {
            "name": "PHPVersion",
            "modelAsString": true
          }
        }
      }
    },
    "searchProfile": {
      "type": "object",
      "description": "Search engine settings",
      "properties": {
        "searchType": {
          "description": "Search type",
          "type": "string",
          "enum": [
            "Elastic"
          ],
          "x-ms-enum": {
            "name": "SearchType",
            "modelAsString": true
          }
        },
        "tikaServiceEnabled": {
          "type": "string",
          "description": "Whether to enable Tika service for file search in Moodle",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "EnableTikaService",
            "modelAsString": true
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/nodeProfile"
        }
      ]
    },
    "cacheProfile": {
      "type": "object",
      "description": "Cache settings",
      "properties": {
        "cacheSku": {
          "description": "Cache SKU",
          "type": "string",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "CacheSkuType",
            "modelAsString": true
          }
        },
        "capacity": {
          "type": "integer",
          "description": "Cache capacity"
        }
      }
    },
    "backupProfile": {
      "type": "object",
      "description": "Azure Backeup settings",
      "properties": {
        "backupEnabled": {
          "type": "string",
          "description": "Whether to enable Azure backup for the Php workload",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "EnableBackup",
            "modelAsString": true
          }
        }
      }
    },
    "Capability": {
      "description": "Capability of a SKU",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "An invariant to describe the feature, such as SLA"
        },
        "value": {
          "type": "string",
          "description": "An invariant if the feature is measured by quantity, such as 99.9%"
        }
      },
      "required": [
        "name"
      ]
    },
    "ResourcePatchRequestBody": {
      "description": "Resource patch request body.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription.",
      "minLength": 1
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation.",
      "minLength": 1
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "PhpWorkloadNameParameter": {
      "in": "path",
      "name": "phpWorkloadName",
      "description": "Php workload name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  }
}
