{
  "swagger": "2.0",
  "info": {
    "version": "2021-03-15-preview",
    "title": "playfab",
    "description": "Description of the new service",
    "x-ms-code-generation-settings": {
      "name": "playfabClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.PlayFab/operations": {
      "get": {
        "tags": [
          "PlayFabOperations"
        ],
        "summary": "List all operations provided by Microsoft.PlayFab.",
        "operationId": "PlayFabOperations_List",
        "x-ms-examples": {
          "List PlayFab operations": {
            "$ref": "./examples/PlayFabOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed synchronously.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error in operation."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab/usagePlan": {
      "get": {
        "operationId": "UsagePlan_ListBySubscription",
        "summary": "List all PlayFab usage plans in a subscription.",
        "x-ms-examples": {
          "List all PlayFab usage plans in a subscription": {
            "$ref": "./examples/UsagePlan_ListBySubscription.json"
          }
        },
        "tags": [
          "UsagePlan"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UagePlanList"
            },
            "description": "Paged response"
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error in operation."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/usagePlan": {
      "get": {
        "operationId": "UsagePlan_ListByResourceGroup",
        "tags": [
          "UsagePlan"
        ],
        "summary": "List all PlayFab usage plans in a resource group.",
        "x-ms-examples": {
          "List all PlayFab usage plans in a resource group": {
            "$ref": "./examples/UsagePlan_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all usage plans under the subscription.",
            "schema": {
              "$ref": "#/definitions/UagePlanList"
            }
          },
          "default": {
            "description": "Error in operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.PlayFab/usagePlan/{name}": {
      "get": {
        "operationId": "UsagePlan_Get",
        "tags": [
          "UsagePlan"
        ],
        "summary": "Get a PlayFab usage plan.",
        "x-ms-examples": {
          "Get PlayFab usage plan details": {
            "$ref": "./examples/UsagePlan_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/ResourceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UsagePlan"
            },
            "description": "Request completed synchronously."
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error in operation."
          }
        }
      },
      "put": {
        "operationId": "UsagePlan_CreateOrUpdate",
        "tags": [
          "UsagePlan"
        ],
        "summary": "Create or Update a PlayFab usage plan.",
        "x-ms-examples": {
          "Create a PlayFab usage plan": {
            "$ref": "./examples/UsagePlan_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/ResourceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UsagePlan"
            },
            "description": "The details of the PlayFab usage plan resource."
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UsagePlan"
            },
            "description": "Request completed synchronously.",
            "headers": {
              "x-ms-client-request-id": {
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error in operation."
          }
        }
      },
      "patch": {
        "operationId": "UsagePlan_Update",
        "tags": [
          "UsagePlan"
        ],
        "summary": "Update a PlayFab usage plan.",
        "x-ms-examples": {
          "Create a PlayFab usage plan": {
            "$ref": "./examples/UsagePlan_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/ResourceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UsagePlanUpdate"
            },
            "description": "The updatable details of the PlayFab usage plan resource."
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UsagePlan"
            },
            "description": "Request Completed Synchronously.",
            "headers": {
              "x-ms-client-request-id": {
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error in operation."
          }
        }
      },
      "delete": {
        "operationId": "UsagePlan_Delete",
        "tags": [
          "UsagePlan"
        ],
        "summary": "Delete a PlayFab usage plan.",
        "x-ms-examples": {
          "Delete a PlayFab usage plan": {
            "$ref": "./examples/UsagePlan_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroup"
          },
          {
            "$ref": "#/parameters/ResourceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed Synchronously.",
            "headers": {
              "x-ms-client-request-id": {
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Request completed Synchronously.",
            "headers": {
              "x-ms-client-request-id": {
                "type": "string"
              },
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error in operation."
          }
        }
      }
    }
  },
  "definitions": {
    "UagePlanList": {
      "type": "object",
      "properties": {
          "value": {
              "type": "array",
              "items": {
                  "$ref": "#/definitions/UsagePlan"
              }
          },
          "nextLink": {
              "type": "string"
          }
      }
    },
    "UsagePlan": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UsagePlanProperties",
          "description": "The resource-specific properties for this resource.",
          "readOnly": false,
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System meta data for this resource, including creation and modification information.",
          "readOnly": true
        }
      },
      "description": "A PlayFab UsagePlan.",
      "x-ms-azure-resource": true
    },
    "UsagePlanProperties": {
      "type": "object",
      "properties": {
        "planType": {
          "enum": [
            "Free",
            "Standard",
            "Premium",
            "PayAsYouGo"
          ],
          "type": "string",
          "description": "Uage plan types for PlayFab RP",
          "title": "UsagePlanType",
          "x-ms-enum": {
            "name": "UsagePlanType",
            "modelAsString": true
          }
        }
      },
      "description": "The properties of a PlayFab UsagePlan resource."
    },
    "UsagePlanUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "The updatable properties of a PlayFab usage plan"
    },
    "OperationDisplay": {
      "description": "The object that represents the operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Service provider: Microsoft.PlayFab",
          "type": "string"
        },
        "resource": {
          "description": "Type on which the operation is performed, e.g., 'usagePlan'.",
          "type": "string"
        },
        "operation": {
          "description": "Operation type, e.g., read, write, delete, etc.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation, e.g., 'Write confluent'.",
          "type": "string"
        }
      }
    },
    "OperationResult": {
      "description": "A PlayFab REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "$ref": "#/definitions/OperationDisplay"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        }
      }
    },
    "OperationListResult": {
      "description": "Result of GET request to list PlayFab operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of PlayFab operations supported by the Microsoft.PlayFab provider.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationResult"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string"
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "type": "string",
      "required": true,
      "description": "The subscription id (GUID) for this resource."
    },
    "ResourceGroup": {
      "name": "resourceGroup",
      "in": "path",
      "type": "string",
      "required": true,
      "description": "The resource group containing the resource.",
      "x-ms-parameter-location": "method"
    },
    "ResourceName": {
      "name": "name",
      "in": "path",
      "type": "string",
      "required": true,
      "description": "The resource name.",
      "x-ms-parameter-location": "method"
    }
  }
}
