{
  "swagger": "2.0",
  "info": {
    "title": "AzureSphereManagementClient",
    "description": "Use these APIs to manage Azure Sphere in your Azure subscription",
    "version": "2022-07-01-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Spheres"
    },
    {
      "name": "DeviceRegistrations"
    },
    {
      "name": "BulkDeviceRegistrations"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}": {
      "get": {
        "operationId": "Spheres_Get",
        "summary": "Get a Sphere",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Sphere"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Spheres"
        ]
      },
      "put": {
        "operationId": "Spheres_CreateOrUpdate",
        "summary": "Create a Sphere",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sphere"
            },
            "description": "Request object for put /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Sphere"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Spheres"
        ]
      },
      "patch": {
        "operationId": "Spheres_Update",
        "summary": "Update a Sphere",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpherePatchRequest"
            },
            "description": "Request object for patch /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Sphere"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Spheres"
        ]
      },
      "delete": {
        "operationId": "Spheres_Delete",
        "summary": "Delete a Sphere",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted.",
            "schema": {
              "$ref": "#/definitions/ArmDeleteAcceptedResponse"
            }
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Spheres"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}/deviceRegistrations/{deviceRegistrationName}": {
      "get": {
        "operationId": "DeviceRegistrations_Get",
        "summary": "Get a DeviceRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/DeviceRegistrationParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceRegistrations"
        ]
      },
      "put": {
        "operationId": "DeviceRegistrations_CreateOrUpdate",
        "summary": "Creates a device registration in the Sphere.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/DeviceRegistrationParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            },
            "description": "Request object for put /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}/deviceRegistrations/{deviceRegistrationName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceRegistrations"
        ]
      },
      "patch": {
        "operationId": "DeviceRegistrations_Update",
        "summary": "Update a DeviceRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/DeviceRegistrationParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            },
            "description": "Request object for patch /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}/deviceRegistrations/{deviceRegistrationName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceRegistrations"
        ]
      },
      "delete": {
        "operationId": "DeviceRegistrations_Delete",
        "summary": "Delete a DeviceRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/DeviceRegistrationParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted.",
            "schema": {
              "$ref": "#/definitions/ArmDeleteAcceptedResponse"
            }
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceRegistrations"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}/bulkDeviceRegistrations/{bulkDeviceRegistrationName}": {
      "get": {
        "operationId": "BulkDeviceRegistrations_Get",
        "summary": "Get a BulkDeviceRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/BulkDeviceRegistrationParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/BulkDeviceRegistration"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "BulkDeviceRegistrations"
        ]
      },
      "put": {
        "operationId": "BulkDeviceRegistrations_CreateOrUpdate",
        "summary": "Create a BulkDeviceRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/BulkDeviceRegistrationParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkDeviceRegistration"
            },
            "description": "Request object for put /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}/bulkDeviceRegistrations/{bulkDeviceRegistrationName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/BulkDeviceRegistration"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "BulkDeviceRegistrations"
        ]
      },
      "patch": {
        "operationId": "BulkDeviceRegistrations_Update",
        "summary": "Update a BulkDeviceRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/BulkDeviceRegistrationParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkDeviceRegistration"
            },
            "description": "Request object for patch /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}/bulkDeviceRegistrations/{bulkDeviceRegistrationName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/BulkDeviceRegistration"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "BulkDeviceRegistrations"
        ]
      },
      "delete": {
        "operationId": "BulkDeviceRegistrations_Delete",
        "summary": "Delete a BulkDeviceRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/BulkDeviceRegistrationParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted.",
            "schema": {
              "$ref": "#/definitions/ArmDeleteAcceptedResponse"
            }
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "BulkDeviceRegistrations"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/providers/Microsoft.AzureSphere/operations": {
      "get": {
        "operationId": "Operations_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "The list of supported operations has been retrieved successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "summary": "Lists all operations supported by the Microsoft.AzureSphere resource provider."
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureSphere/spheres": {
      "get": {
        "operationId": "Spheres_ListBySubscription",
        "summary": "List Sphere resources by subscription ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/SphereListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Spheres"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres": {
      "get": {
        "operationId": "Spheres_ListByResourceGroup",
        "summary": "List Sphere resources by resource group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/SphereListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Spheres"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureSphere/deviceRegistrations": {
      "get": {
        "operationId": "DeviceRegistrations_ListBySubscription",
        "summary": "List DeviceRegistration resources by subscription ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceRegistrationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceRegistrations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/deviceRegistrations": {
      "get": {
        "operationId": "DeviceRegistrations_ListByResourceGroup",
        "summary": "List DeviceRegistration resources by resource group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceRegistrationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceRegistrations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}/deviceRegistrations": {
      "get": {
        "operationId": "DeviceRegistrations_ListBySphere",
        "summary": "List all DeviceRegistration by sphereName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceRegistrationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceRegistrations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureSphere/bulkDeviceRegistrations": {
      "get": {
        "operationId": "BulkDeviceRegistrations_ListBySubscription",
        "summary": "List BulkDeviceRegistration resources by subscription ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/BulkDeviceRegistrationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "BulkDeviceRegistrations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/bulkDeviceRegistrations": {
      "get": {
        "operationId": "BulkDeviceRegistrations_ListByResourceGroup",
        "summary": "List BulkDeviceRegistration resources by resource group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/BulkDeviceRegistrationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "BulkDeviceRegistrations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/spheres/{sphereName}/bulkDeviceRegistrations": {
      "get": {
        "operationId": "BulkDeviceRegistrations_ListBySphere",
        "summary": "List all BulkDeviceRegistration by sphereName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SphereParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/BulkDeviceRegistrationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "BulkDeviceRegistrations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Sphere": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SphereProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "Azure Sphere",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "ArmDeletedResponse": {
      "type": "object",
      "properties": {},
      "description": "Resource deleted successfully."
    },
    "ArmDeleteAcceptedResponse": {
      "type": "object",
      "properties": {},
      "description": "Resource deletion accepted."
    },
    "DeviceRegistration": {
      "type": "object",
      "properties": {},
      "description": "Azure Sphere Device Registration",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource_DeviceRegistrationProperties"
        }
      ],
      "x-ms-azure-resource": true
    },
    "BulkDeviceRegistration": {
      "type": "object",
      "properties": {},
      "description": "Azure Sphere Bulk Device Registration",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource_BulkDeviceRegistrationProperties"
        }
      ],
      "x-ms-azure-resource": true
    },
    "SphereListResult": {
      "type": "object",
      "properties": {},
      "description": "The response of a Sphere list operation.",
      "allOf": [
        {
          "$ref": "#/definitions/Page_Sphere"
        }
      ]
    },
    "DeviceRegistrationListResult": {
      "type": "object",
      "properties": {},
      "description": "The response of a DeviceRegistration list operation.",
      "allOf": [
        {
          "$ref": "#/definitions/Page_DeviceRegistration"
        }
      ]
    },
    "BulkDeviceRegistrationListResult": {
      "type": "object",
      "properties": {},
      "description": "The response of a BulkDeviceRegistration list operation.",
      "allOf": [
        {
          "$ref": "#/definitions/Page_BulkDeviceRegistration"
        }
      ]
    },
    "TrackedResource_DeviceRegistrationProperties": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceRegistrationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TrackedResource_BulkDeviceRegistrationProperties": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BulkDeviceRegistrationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Page_Sphere": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sphere"
          },
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "Paged response"
    },
    "Page_DeviceRegistration": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeviceRegistration"
          },
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "Paged response"
    },
    "Page_BulkDeviceRegistration": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BulkDeviceRegistration"
          },
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "Paged response"
    },
    "SphereProperties": {
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string",
          "description": "Base URI of the different endpoints for this sphere"
        }
      },
      "description": "Properties of the sphere",
      "required": [
        "baseUri"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureSphereProperties"
        }
      ]
    },
    "DeviceRegistrationProperties": {
      "type": "object",
      "properties": {
        "deviceResourceIdentifier": {
          "type": "string",
          "description": "Azure identifier for the device resource of this registration"
        },
        "devicePublicKey": {
          "type": "string",
          "description": "Public key of the device"
        },
        "state": {
          "$ref": "#/definitions/RegistrationState",
          "description": "State of the device registration"
        }
      },
      "description": "Properties of the device registration",
      "required": [
        "deviceResourceIdentifier",
        "devicePublicKey",
        "state"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureSphereProperties"
        }
      ]
    },
    "BulkDeviceRegistrationProperties": {
      "type": "object",
      "properties": {
        "prefixDeviceName": {
          "type": "string",
          "description": "Prefix for the device name to be used when registrating the device"
        },
        "sharedKey": {
          "type": "string",
          "description": "Shared key to be expected from devices to send during registration process"
        },
        "registrationUri": {
          "type": "string",
          "description": "Registration URI for the devices on this batch to point"
        },
        "maxRegistrationCount": {
          "type": "integer",
          "format": "int32",
          "description": "Max count of devices to be registered for this registration bulk"
        },
        "registrationCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of current devices registered for this registration bulk. Starts in 0"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Expiration date for his bulk device registration"
        }
      },
      "description": "Properties of the bulk device registration",
      "required": [
        "prefixDeviceName",
        "sharedKey",
        "registrationUri",
        "maxRegistrationCount",
        "registrationCount",
        "expirationDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureSphereProperties"
        }
      ]
    },
    "AzureSphereProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      }
    },
    "RegistrationState": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "RegistrationState",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "Succeeded",
        "Failed",
        "Cancelled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "SpherePatchRequest": {
      "type": "object",
      "description": "An Azure Sphere patch request",
      "properties": {}
    }
  },
  "parameters": {
    "SphereParameter": {
      "x-ms-parameter-location": "method",
      "name": "sphereName",
      "in": "path",
      "required": true,
      "description": "Sphere name",
      "type": "string"
    },
    "DeviceRegistrationParameter": {
      "x-ms-parameter-location": "method",
      "name": "deviceRegistrationName",
      "in": "path",
      "required": true,
      "description": "DeviceRegistration name",
      "type": "string"
    },
    "BulkDeviceRegistrationParameter": {
      "x-ms-parameter-location": "method",
      "name": "bulkDeviceRegistrationName",
      "in": "path",
      "required": true,
      "description": "BulkDeviceRegistration name",
      "type": "string"
    },
    "TopParameter": {
      "x-ms-parameter-location": "method",
      "name": "$top",
      "in": "query",
      "required": false,
      "description": "The maximum number of results that should be included in the response",
      "type": "integer",
      "format": "int32"
    },
    "SkipTokenParameter": {
      "x-ms-parameter-location": "method",
      "name": "$skipToken",
      "in": "query",
      "required": false,
      "description": "A continuation token used to continue from a previous page of results",
      "type": "string"
    }
  }
}
