{
    "swagger": "2.0",
    "info": {
      "title": "Azure API for MysqlDiscovery",
      "description": "The Microsoft.MysqlDiscovery Rest API spec.",
      "version": "2023-05-23-preview"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MysqlDiscovery/MysqlSites/{siteName}": {
        "get": {
          "tags": [
            "MysqlSites"
          ],
          "operationId": "MysqlSites_Get",
          "summary": "Implements MysqlSites GET method.",
          "description": "Gets the MysqlSites resource.",
          "x-ms-examples": {
            "MysqlSites_Get": {
              "$ref": "./examples/MysqlSites_Get.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the MysqlSites resource.",
              "schema": {
                "$ref": "#/definitions/MysqlSite"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "MysqlSites"
          ],
          "operationId": "MysqlSites_CreateOrUpdate",
          "summary": "Implements MysqlSites PUT method.",
          "description": "Puts the MysqlSites resource.",
          "x-ms-examples": {
            "MysqlSites_Create": {
              "$ref": "./examples/MysqlSites_Create.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "body",
              "in": "body",
              "required": true,
              "description": "The machines to add to the assessment",
              "schema": {
                "$ref": "#/definitions/MysqlSite"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Created MysqlSites resource",
              "schema": {
                "$ref": "#/definitions/MysqlSite"
              }
            },
            "201": {
              "description": "Creates the MysqlSites resource.",
              "schema": {
                "$ref": "#/definitions/MysqlSite"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          }
        },
        "delete": {
          "tags": [
            "MysqlSites"
          ],
          "operationId": "MysqlSites_Delete",
          "summary": "Implements MysqlSites DELETE method.",
          "description": "Deletes the MysqlSites resource.",
          "x-ms-examples": {
            "MysqlSites_Delete": {
              "$ref": "./examples/MysqlSites_Delete.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the MysqlSites resource."
            },
            "204": {
              "description": "The MysqlSites resource is already deleted or not found"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "MysqlSites"
          ],
          "operationId": "MysqlSites_Update",
          "summary": "Implements MysqlSites PATCH method.",
          "description": "Patch the MysqlSites resource.",
          "x-ms-examples": {
            "MysqlSites_Update": {
              "$ref": "./examples/MysqlSites_Update.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "body",
              "description": "Clouds patch payload.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MysqlSitesResourcePatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated the MysqlSites resource.",
              "schema": {
                "$ref": "#/definitions/MysqlSite"
              }
            },
            "201": {
              "description": "Updates the MysqlSites resource.",
              "schema": {
                "$ref": "#/definitions/MysqlSite"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MysqlDiscovery/MysqlSites": {
        "get": {
          "tags": [
            "MysqlSites"
          ],
          "operationId": "MysqlSites_ListByResourceGroup",
          "summary": "Implements MysqlSites GET method in a resource group.",
          "description": "Lits the MysqlSites resource in a resource group.",
          "x-ms-examples": {
            "MysqlSites_ListByResourceGroup": {
              "$ref": "./examples/MysqlSites_ListByResourceGroup.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the MysqlSites resource.",
              "schema": {
                "$ref": "#/definitions/MysqlSiteList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.MysqlDiscovery/MysqlSites": {
        "get": {
          "tags": [
            "MysqlSites"
          ],
          "operationId": "MysqlSites_ListBySubscription",
          "summary": "Implements MysqlSites GET method in a subscription.",
          "description": "Lists the MysqlSites resource in a subscription.",
          "x-ms-examples": {
            "MysqlSites_ListBySubscription": {
              "$ref": "./examples/MysqlSites_ListBySubscription.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the MysqlSites resource.",
              "schema": {
                "$ref": "#/definitions/MysqlSiteList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MysqlDiscovery/MysqlSites/{siteName}/MysqlServers/{serverName}": {
        "get": {
          "tags": [
            "MysqlServers"
          ],
          "operationId": "MysqlServers_Get",
          "summary": "Implements MysqlServers GET method.",
          "description": "Gets the MysqlServers resource.",
          "x-ms-examples": {
            "MysqlServers_Get": {
              "$ref": "./examples/MysqlServers_Get.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "name": "serverName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Server"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the MysqlServer resource.",
              "schema": {
                "$ref": "#/definitions/MysqlServer"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "MysqlServers"
          ],
          "operationId": "MysqlServers_CreateOrUpdate",
          "summary": "Implements MysqlServers PUT method.",
          "description": "Puts the MysqlServers resource.",
          "x-ms-examples": {
            "MysqlServers_Create": {
              "$ref": "./examples/MysqlServers_Create.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "name": "serverName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Server"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "body",
              "in": "body",
              "required": true,
              "description": "The machines to add to the assessment",
              "schema": {
                "$ref": "#/definitions/MysqlServer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Created the MysqlServer resource.",
              "schema": {
                "$ref": "#/definitions/MysqlServer"
              }
            },
            "201": {
              "description": "Creates the MysqlServer resource.",
              "schema": {
                "$ref": "#/definitions/MysqlServer"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "MysqlServers"
          ],
          "operationId": "MysqlServers_Delete",
          "summary": "Implements MysqlServers DELETE method.",
          "description": "Deletes the MysqlServers resource.",
          "x-ms-examples": {
            "MysqlSites_Delete": {
              "$ref": "./examples/MysqlServers_Delete.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "name": "serverName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Server"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the MysqlSites resource."
            },
            "204": {
              "description": "The MysqlServer resource is already deleted or not found"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "MysqlServers"
          ],
          "operationId": "MysqlServers_Update",
          "summary": "Implements MysqlSites PATCH method.",
          "description": "Patch the MysqlSites resource.",
          "x-ms-examples": {
            "MysqlServers_Update": {
              "$ref": "./examples/MysqlServers_Update.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "name": "serverName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Server"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "body",
              "description": "Clouds patch payload.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MysqlServerResourcePatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated the MysqlServers resource.",
              "schema": {
                "$ref": "#/definitions/MysqlServer"
              }
            },
            "201": {
              "description": "Updates the MysqlServers resource.",
              "schema": {
                "$ref": "#/definitions/MysqlServer"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MysqlDiscovery/MysqlSites/{siteName}/MysqlServers": {
        "get": {
          "tags": [
            "MysqlServers"
          ],
          "operationId": "MysqlServers_ListBySite",
          "summary": "Implements MysqlSites GET method.",
          "description": "Lists the MysqlSites resource in MysqlSites.",
          "x-ms-examples": {
            "MysqlServers_ListBySite": {
              "$ref": "./examples/MysqlServers_ListBySite.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "name": "siteName",
              "in": "path",
              "required": true,
              "type": "string",
              "pattern": "^[A-Za-z][A-Za-z0-9]*$",
              "minLength": 3,
              "maxLength": 63,
              "description": "The name of Site"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the MysqlSites resource.",
              "schema": {
                "$ref": "#/definitions/MysqlServerList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "ExtendedLocation": {
        "type": "object",
        "description": "The extended location for off-azure resources.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The extended location type."
          },
          "name": {
            "type": "string",
            "description": "The extended location name."
          }
        }
      },
      "MysqlSiteList": {
        "type": "object",
        "description": "List of Sites.",
        "properties": {
          "value": {
            "type": "array",
            "description": "List of Sites.",
            "items": {
              "$ref": "#/definitions/MysqlSite"
            }
          },
          "nextLink": {
            "type": "string",
            "description": "Url to follow for getting next page of resources."
          }
        }
      },
      "MysqlServerList": {
        "type": "object",
        "description": "List of Sites.",
        "properties": {
          "value": {
            "type": "array",
            "description": "List of Sites.",
            "items": {
              "$ref": "#/definitions/MysqlServer"
            }
          },
          "nextLink": {
            "type": "string",
            "description": "Url to follow for getting next page of resources."
          }
        }
      },
      "MysqlSite": {
        "type": "object",
        "x-ms-azure-resource": true,
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "description": "Resource properties.",
            "$ref": "#/definitions/MysqlSiteProperties"
          },
          "extendedLocation": {
            "$ref": "#/definitions/ExtendedLocation",
            "description": "The extended location."
          }
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
          }
        ],
        "required": [
          "extendedLocation",
          "properties"
        ],
        "description": "The samples resource definition."
      },
      "MysqlSitesResourcePatch": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags."
          },
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/MysqlSiteProperties",
            "description": "The MysqlSites resource definition."
          }
        },
        "description": "Object containing tags updates for patch operations."
      },
      "MysqlSiteProperties": {
        "type": "object",
        "description": "Mysql Site properties",
        "properties": {
          "masterSiteId": {
            "type": "string",
            "description": "The mapped Master Site Id."
          },
          "migrateProjectId": {
            "type": "string",
            "description": "The mapped Master Site Id."
          },
          "provisioningState": {
            "description": "Gets or sets the provisioning state.",
            "type": "string",
            "enum": [
              "Unknown",
              "Succeeded",
              "Failed",
              "Canceled",
              "Creating",
              "Deleting",
              "Updating"
            ],
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            }
          }
        },
        "required": [
          "masterSiteId",
          "migrateProjectId"
        ]
      },
      "MysqlServer": {
        "type": "object",
        "x-ms-azure-resource": true,
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
          }
        ],
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "description": "Resource properties.",
            "$ref": "#/definitions/MysqlServerProperties"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "required": [
          "properties"
        ],
        "description": "The samples resource definition."
      },
      "MysqlServerProperties": {
        "type": "object",
        "description": "Mysql Server properties",
        "properties": {
          "machineId": {
            "description": "List of the discovery Machine Ids.",
            "type": "array",
            "items": {
              "description": "discovery Machine Id",
              "type": "string"
            }
          },
          "versionInfo": {
            "$ref": "#/definitions/VersionInfoModel",
            "description": "The Server version"
          },
          "provisioningState": {
            "description": "Gets or sets the provisioning state.",
            "type": "string",
            "enum": [
              "Unknown",
              "Succeeded",
              "Failed",
              "Canceled",
              "Creating",
              "Deleting",
              "Updating"
            ],
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            }
          }
        },
        "required": [
          "versionInfo"
        ]
      },
      "MysqlServerResourcePatch": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags."
          }
        },
        "description": "Object containing tags updates for patch operations."
      },
      "VersionInfoModel": {
        "type": "object",
        "description": "model for creating machine to assess resources",
        "properties": {
          "version": {
            "type": "string",
            "description": "The server version name."
          }
        }
      }
    }
  }