{
    "swagger": "2.0",
    "info": {
      "title": "Microsoft.GameDevkits",
      "version": "2022-05-26-alpha"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "produces": [
      "application/json"
    ],
    "consumes": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "tags": [
      {
        "name": "GameDevAccounts"
      },
      {
        "name": "Operations"
      }
    ],
    "paths": {
      "/providers/Microsoft.GameDevkits/operations": {
        "get": {
          "tags": [
            "Operations"
          ],
          "operationId": "Operations_List",
          "description": "List the operations for the provider",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.GameDevkits/gamedevaccounts": {
        "get": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_ListBySubscription",
          "description": "List GameDevAccount resources by subscription ID",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccountListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/{GameDevAccountName}": {
        "put": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_CreateOrUpdate",
          "description": "Create or update a GameDevAccount.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccountNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "description": "Create or update GameDevAccount parameters.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_Delete",
          "description": "Deletes a GameDevAccount.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccountNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "description": "Deletes GameDevAccount resource parameters.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gamedevaccounts": {
        "get": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_ListByResourceGroup",
          "description": "List GameDevAccount resources by resource group",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccountListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gamedevaccounts/{gameDevAccountName}": {
        "get": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_Get",
          "description": "Get a GameDevAccount",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "GameDevAccounts"
          ],
          "operationId": "GameDevAccounts_Update",
          "description": "Update a GameDevAccount",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
            },
            {
              "name": "properties",
              "in": "body",
              "required": true,
              "description": "The resource properties to be updated.",
              "schema": {
                "$ref": "#/definitions/GameDevAccountUpdate"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/GameDevAccount"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "GameDevAccount": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/GameDevAccountProperties",
            "description": "The resource-specific properties for this resource.",
            "x-ms-mutability": [
              "read",
              "create"
            ],
            "x-ms-client-flatten": true
          },
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
            "description": "System metadata for this resource.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of the GameDevAccount resource.",
            "readOnly": true
          }
        },
        "description": "A GameDevAccount resource",
        "required": [
          "properties",
          "name"
        ],
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ]
      },
      "GameDevAccountListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/GameDevAccount"
            },
            "x-cadl-name": "GameDevAccount[]",
            "description": "The items on this page"
          },
          "nextLink": {
            "type": "string",
            "description": "The link to the next page of items"
          }
        },
        "description": "The response of a GameDevAccount list operation.",
        "required": [
          "value"
        ]
      },
      "GameDevAccountProperties": {
        "type": "object",
        "properties": {
          "partnerCenterId": {
            "type": "string",
            "description": "Partner Id of the GameDevAccount.",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "provisioningState": {
            "$ref": "#/definitions/ProvisioningState",
            "description": "The provisioning state of the resource.",
            "readOnly": true
          }
        },
        "description": "Properties of GameDevAccount"
      },
      "GameDevAccountUpdate": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags."
          },
          "properties": {
            "$ref": "#/definitions/GameDevAccountUpdateProperties"
          }
        },
        "description": "The type used for update operations of the GameDevAccount."
      },
      "GameDevAccountUpdateProperties": {
        "type": "object",
        "properties": {},
        "description": "The updatable properties of the GameDevAccount."
      },
      "ProvisioningState": {
        "type": "string",
        "enum": [
          "NotSpecified",
          "Accepted",
          "Creating",
          "Deleting",
          "Canceled",
          "Failed",
          "Succeeded"
        ],
        "x-ms-enum": {
          "name": "ProvisioningState",
          "modelAsString": false
        }
      }
    },
    "parameters": {
      "GameDevAccount.gameDevAccountName": {
        "name": "gameDevAccountName",
        "in": "path",
        "required": true,
        "description": "Name of the GameDevAccount resource.",
        "type": "string",
        "x-ms-parameter-location": "method"
      },
      "GameDevAccountNameParameter": {
        "name": "GameDevAccountName",
        "in": "path",
        "required": true,
        "description": "GameDevAccount resource name",
        "type": "string",
        "x-ms-parameter-location": "method"
      }
    }
  }
  