{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Inventory",
    "version": "2023-08-16-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AzureHosts"
    },
    {
      "name": "Clusters"
    },
    {
      "name": "Datacenters"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Inventory/locations/{location}/physicalAzureHosts": {
      "get": {
        "operationId": "AzureHosts_ListByTenant",
        "tags": [
          "AzureHosts"
        ],
        "description": "List AzureHostResource resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureHostResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureHosts_ListByTenant": {
            "$ref": "./examples/AzureHosts_ListByTenant_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalAzureHosts/{azureHostName}": {
      "get": {
        "operationId": "AzureHosts_GetAzureHost",
        "tags": [
          "AzureHosts"
        ],
        "description": "Get a AzureHostResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "azureHostName",
            "in": "path",
            "description": "Azure Host",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureHostResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureHosts_GetAzureHost": {
            "$ref": "./examples/AzureHosts_GetAzureHost_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalClusters": {
      "get": {
        "operationId": "Clusters_ListByTenant",
        "tags": [
          "Clusters"
        ],
        "description": "List ClusterResource resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_ListByTenant": {
            "$ref": "./examples/Clusters_ListByTenant_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalClusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_GetCluster",
        "tags": [
          "Clusters"
        ],
        "description": "Get a ClusterResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Cluster",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-_]*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_GetCluster": {
            "$ref": "./examples/Clusters_GetCluster_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalDatacenters": {
      "get": {
        "operationId": "Datacenters_ListByTenant",
        "tags": [
          "Datacenters"
        ],
        "description": "List DatacenterResource resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatacenterResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Datacenters_ListByTenant": {
            "$ref": "./examples/Datacenters_ListByTenant_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalDatacenters/{datacenterName}": {
      "get": {
        "operationId": "Datacenters_GetDatacenter",
        "tags": [
          "Datacenters"
        ],
        "description": "Get a DatacenterResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "datacenterName",
            "in": "path",
            "description": "Datacenter",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-_]*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatacenterResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Datacenters_GetDatacenter": {
            "$ref": "./examples/Datacenters_GetDatacenter_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AvailabilityZoneResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Inventory/physicalAvailabilityZones"
          }
        ]
      }
    },
    "AzureHostProperties": {
      "type": "object",
      "description": "Azure Host Properties",
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "Node Id"
        },
        "clusterId": {
          "$ref": "#/definitions/ClusterResourceId",
          "description": "Cluster Id"
        },
        "serverId": {
          "$ref": "#/definitions/ServerResourceId",
          "description": "Physical server Id"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisionsing state"
        }
      },
      "required": [
        "nodeId",
        "clusterId",
        "serverId"
      ]
    },
    "AzureHostResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureHostProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureHostResourceListResult": {
      "type": "object",
      "description": "The response of a AzureHostResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureHostResource items on this page",
          "items": {
            "$ref": "#/definitions/AzureHostResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureRegionResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Inventory/physicalAzureRegions"
          }
        ]
      }
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Cluster Properties",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "friendly Name"
        },
        "isClusterInBuildout": {
          "type": "boolean",
          "description": "Is cluster in buildout"
        },
        "datacenterId": {
          "$ref": "#/definitions/DatacenterResourceId",
          "description": "Datacenter Resource Id"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisionsing state"
        }
      },
      "required": [
        "friendlyName",
        "isClusterInBuildout",
        "datacenterId"
      ]
    },
    "ClusterResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ClusterResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Inventory/physicalClusters"
          }
        ]
      }
    },
    "ClusterResourceListResult": {
      "type": "object",
      "description": "The response of a ClusterResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ClusterResource items on this page",
          "items": {
            "$ref": "#/definitions/ClusterResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DatacenterProperties": {
      "type": "object",
      "description": "Datacenter Properties",
      "properties": {
        "shortId": {
          "type": "string",
          "description": "Datacenter short Id"
        },
        "locationDcmtId": {
          "type": "string",
          "description": "Datacenter location Dcmt Id"
        },
        "friendlyName": {
          "type": "string",
          "description": "Datacenter friendly Name Id"
        },
        "availabilityZoneId": {
          "$ref": "#/definitions/AvailabilityZoneResourceId",
          "description": "Availability Zone Id"
        },
        "facilityId": {
          "$ref": "#/definitions/FacilityResourceId",
          "description": "Facility Id"
        },
        "azureRegionId": {
          "$ref": "#/definitions/AzureRegionResourceId",
          "description": "Azure Region Id"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisionsing state"
        }
      },
      "required": [
        "shortId",
        "locationDcmtId",
        "friendlyName",
        "availabilityZoneId",
        "facilityId",
        "azureRegionId"
      ]
    },
    "DatacenterResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatacenterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DatacenterResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Inventory/physicalDatacenters"
          }
        ]
      }
    },
    "DatacenterResourceListResult": {
      "type": "object",
      "description": "The response of a DatacenterResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DatacenterResource items on this page",
          "items": {
            "$ref": "#/definitions/DatacenterResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FacilityResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Inventory/physicalFacilities"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisionsingin state enum",
      "enum": [
        "Provisioning",
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource action is successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource action has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The resource action has been cancelled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The resource has been deleted."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource status is unspecified."
          }
        ]
      }
    },
    "ServerResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Inventory/physicalServers"
          }
        ]
      }
    }
  },
  "parameters": {}
}
