{
  "swagger": "2.0",
  "info": {
    "version": "2021-09-01-preview",
    "title": "AzurePerceptManagementClient",
    "description": "Use these APIs to manage the Azure Percept instances in your Azure subscription."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.AzurePercept/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists all of the available Azure Percept REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/accounts": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "List all Azure Percept accounts in a subscription.",
        "operationId": "Accounts_ListBySubscription",
        "x-ms-examples": {
          "Accounts_ListBySubscription": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the Azure Percept accounts in the subscription",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "List all Azure Percept accounts in a resource group.",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "Accounts_ListByResourceGroup": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the Azure Percept accounts in the resource group.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get Azure Percept account metadata.",
        "operationId": "Accounts_Get",
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "./examples/Accounts_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The body contains the account metadata",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PUT"
        ],
        "summary": "Create or update the metadata of an Azure Percept account.",
        "description": "Create or update the metadata of an Azure Percept account. Performs a full replacement of the editable properties.",
        "operationId": "Accounts_CreateOrUpdate",
        "x-ms-examples": {
          "Accounts_CreateOrUpdate": {
            "$ref": "./examples/Accounts_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "name": "account",
            "in": "body",
            "description": "Azure Percept account metadata.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "PATCH"
        ],
        "summary": "Partially update an existing Azure Percept account",
        "description": "Partially update an existing Azure Percept account.",
        "operationId": "Accounts_Update",
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "./examples/Accounts_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "name": "account",
            "in": "body",
            "description": "Azure Percept account metadata.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Percept account was successfully updated",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DELETE"
        ],
        "summary": "Delete an Azure Percept account.",
        "operationId": "Accounts_Delete",
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was successfully deleted."
          },
          "204": {
            "description": "The request was valid, but the resource doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/devices": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get a list of all the devices in an Azure Percept account.",
        "operationId": "Devices_List",
        "x-ms-examples": {
          "Devices_List": {
            "$ref": "./examples/Devices_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized array of all the devices linked to the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/DeviceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/devices/{deviceName}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get the details of a specific device in an Azure Percept account.",
        "operationId": "Devices_Get",
        "x-ms-examples": {
          "Devices_Get": {
            "$ref": "./examples/Devices_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized description of the device in the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PUT"
        ],
        "summary": "Link a new device to the Azure Percept account under a specific name or update an existing one.",
        "operationId": "Devices_CreateOrUpdate",
        "x-ms-examples": {
          "Devices_CreateOrUpdate": {
            "$ref": "./examples/Devices_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          },
          {
            "name": "device",
            "in": "body",
            "description": "Device object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The device was successfully linked or updated in the account.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "PATCH"
        ],
        "summary": "Partially update an existing device inside an Azure Percept account.",
        "operationId": "Devices_Update",
        "x-ms-examples": {
          "Devices_Update": {
            "$ref": "./examples/Devices_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          },
          {
            "name": "device",
            "in": "body",
            "description": "Device editable properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The device inside the Azure Percept account was successfully updated.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DELETE"
        ],
        "summary": "Unlink a device from an Azure Percept account.",
        "operationId": "Devices_Delete",
        "x-ms-examples": {
          "Devices_Delete": {
            "$ref": "./examples/Devices_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The device was successfully unlinked."
          },
          "204": {
            "description": "The request is valid, but the device does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/devices/{deviceName}/discoverSensors": {
      "post": {
        "tags": [
          "POST"
        ],
        "summary": "Discover sensors associated to Azure Percept device.",
        "operationId": "Devices_Action_DiscoverSensors",
        "x-ms-examples": {
          "Devices_Action_DiscoverSensors": {
            "$ref": "./examples/Devices_Action_DiscoverSensors.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The action was successfully executed.",
            "schema": {
              "$ref": "#/definitions/DeviceSensorDiscoverResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/targets": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get a list of all the targets in an Azure Percept account.",
        "operationId": "Target_List",
        "x-ms-examples": {
          "Targets_List": {
            "$ref": "./examples/Targets_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized array of all the targets associated with the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/TargetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/targets/{targetName}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get the details of a specific target in an Azure Percept account.",
        "operationId": "Targets_Get",
        "x-ms-examples": {
          "Targets_Get": {
            "$ref": "./examples/Targets_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/targetName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized description of the target in the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/Target"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PUT"
        ],
        "summary": "Create a new target in the Azure Percept account under a specific name or update an existing one.",
        "operationId": "Targets_CreateOrUpdate",
        "x-ms-examples": {
          "Targets_CreateOrUpdate": {
            "$ref": "./examples/Targets_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/targetName"
          },
          {
            "name": "target",
            "in": "body",
            "description": "Target object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Target"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The target was successfully created or updated in the account.",
            "schema": {
              "$ref": "#/definitions/Target"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "PATCH"
        ],
        "summary": "Partially update an existing target inside an Azure Percept account.",
        "operationId": "Targets_Update",
        "x-ms-examples": {
          "Targets_Update": {
            "$ref": "./examples/Targets_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/targetName"
          },
          {
            "name": "target",
            "in": "body",
            "description": "Target editable properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The target inside the Azure Percept account was successfully updated.",
            "schema": {
              "$ref": "#/definitions/Target"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DELETE"
        ],
        "summary": "Delete a target from an Azure Percept account.",
        "operationId": "Targets_Delete",
        "x-ms-examples": {
          "Targets_Delete": {
            "$ref": "./examples/Targets_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/targetName"
          }
        ],
        "responses": {
          "200": {
            "description": "The taget was successfully deleted."
          },
          "204": {
            "description": "The request is valid, but the target does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/aiSkills": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get a list of all the AI Skills in an Azure Percept account.",
        "operationId": "AISkill_List",
        "x-ms-examples": {
          "AISkills_List": {
            "$ref": "./examples/AISkills_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized array of all the AI Skills associated with the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/AISkillListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/aiSkills/{aiSkillName}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get the details of a specific AI Skill in an Azure Percept account.",
        "operationId": "AISkills_Get",
        "x-ms-examples": {
          "AISkills_Get": {
            "$ref": "./examples/AISkills_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/aiSkillName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized description of the AI Skill in the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/AISkill"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PUT"
        ],
        "summary": "Create a new AI Skill in the Azure Percept account under a specific name or update an existing one.",
        "operationId": "AISkills_CreateOrUpdate",
        "x-ms-examples": {
          "AISkills_CreateOrUpdate": {
            "$ref": "./examples/AISkills_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/aiSkillName"
          },
          {
            "name": "aiSkill",
            "in": "body",
            "description": "AI Skill object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AISkill"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The AI Skill was successfully created or updated in the account.",
            "schema": {
              "$ref": "#/definitions/AISkill"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "PATCH"
        ],
        "summary": "Partially update an existing AI Skill inside an Azure Percept account.",
        "operationId": "AISkills_Update",
        "x-ms-examples": {
          "AISkills_Update": {
            "$ref": "./examples/AISkills_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/aiSkillName"
          },
          {
            "name": "aiSkill",
            "in": "body",
            "description": "AISkill editable properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AISkillUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The AI Skill inside the Azure Percept account was successfully updated.",
            "schema": {
              "$ref": "#/definitions/AISkill"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DELETE"
        ],
        "summary": "Delete a AI Skill from an Azure Percept account.",
        "operationId": "AISkills_Delete",
        "x-ms-examples": {
          "AISkills_Delete": {
            "$ref": "./examples/AISkills_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/aiSkillName"
          }
        ],
        "responses": {
          "200": {
            "description": "The AI Skill was successfully deleted."
          },
          "204": {
            "description": "The request is valid, but the AI Skill does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/solutions": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get a list of all the solutions in an Azure Percept account.",
        "operationId": "Solutions_List",
        "x-ms-examples": {
          "Solutions_List": {
            "$ref": "./examples/Solutions_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized array of all the Solution associated with the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/SolutionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/solutions/{solutionName}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get the details of a specific solution in an Azure Percept account.",
        "operationId": "Solutions_Get",
        "x-ms-examples": {
          "Solutions_Get": {
            "$ref": "./examples/Solutions_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized description of the Solution in the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PUT"
        ],
        "summary": "Create a new solution in the Azure Percept account under a specific name or update an existing one.",
        "operationId": "Solutions_CreateOrUpdate",
        "x-ms-examples": {
          "Solutions_CreateOrUpdate": {
            "$ref": "./examples/Solutions_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionName"
          },
          {
            "name": "solution",
            "in": "body",
            "description": "Solution object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Solution was successfully created or updated in the account.",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "PATCH"
        ],
        "summary": "Partially update an existing solution inside an Azure Percept account.",
        "operationId": "Solutions_Update",
        "x-ms-examples": {
          "Solutions_Update": {
            "$ref": "./examples/Solutions_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionName"
          },
          {
            "name": "solution",
            "in": "body",
            "description": "Solution editable properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolutionUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Solution inside the Azure Percept account was successfully updated.",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DELETE"
        ],
        "summary": "Delete a solution from an Azure Percept account.",
        "operationId": "Solutions_Delete",
        "x-ms-examples": {
          "Solutions_Delete": {
            "$ref": "./examples/Solutions_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionName"
          }
        ],
        "responses": {
          "200": {
            "description": "The Solution was successfully deleted."
          },
          "204": {
            "description": "The request is valid, but the Solution does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/devices/{deviceName}/sensors": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get a list of all the sensors in an Azure Percept device.",
        "operationId": "Sensor_List",
        "x-ms-examples": {
          "Targets_List": {
            "$ref": "./examples/Sensors_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized array of all the sensors associated with the Azure Percept device.",
            "schema": {
              "$ref": "#/definitions/SensorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/devices/{deviceName}/sensors/{sensorName}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get the details of a specific sensor in an Azure Percept device.",
        "operationId": "Sensors_Get",
        "x-ms-examples": {
          "Sensors_Get": {
            "$ref": "./examples/Sensors_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          },
          {
            "$ref": "#/parameters/sensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized description of the sensor in the Azure Percept device.",
            "schema": {
              "$ref": "#/definitions/Sensor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PUT"
        ],
        "summary": "Create a new sensor in the Azure Percept device under a specific name or update an existing one.",
        "operationId": "Sensors_CreateOrUpdate",
        "x-ms-examples": {
          "Sensors_CreateOrUpdate": {
            "$ref": "./examples/Sensors_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          },
          {
            "$ref": "#/parameters/sensorName"
          },
          {
            "name": "sensor",
            "in": "body",
            "description": "Sensor object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sensor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sensor was successfully created or updated in the device.",
            "schema": {
              "$ref": "#/definitions/Sensor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "PATCH"
        ],
        "summary": "Partially update an existing sensor inside an Azure Percept device.",
        "operationId": "Sensors_Update",
        "x-ms-examples": {
          "Sensors_Update": {
            "$ref": "./examples/Sensors_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          },
          {
            "$ref": "#/parameters/sensorName"
          },
          {
            "name": "sensor",
            "in": "body",
            "description": "Sensor editable properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SensorUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sensor inside the Azure Percept device was successfully updated.",
            "schema": {
              "$ref": "#/definitions/Sensor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DELETE"
        ],
        "summary": "Delete a sensor from an Azure Percept device.",
        "operationId": "Sensors_Delete",
        "x-ms-examples": {
          "Sensors_Delete": {
            "$ref": "./examples/Sensors_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          },
          {
            "$ref": "#/parameters/sensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "The sensor was successfully deleted."
          },
          "204": {
            "description": "The request is valid, but the sensor does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/devices/{deviceName}/sensors/{sensorName}/listSensorInfo": {
      "post": {
        "tags": [
          "POST"
        ],
        "summary": "List sensors info.",
        "operationId": "Sensors_Action_SensorInfo",
        "x-ms-examples": {
          "Sensors_Action_SensorInfo": {
            "$ref": "./examples/Sensors_Action_ListSensorInfo.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/deviceName"
          },
          {
            "$ref": "#/parameters/sensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "The action was successfully executed.",
            "schema": {
              "$ref": "#/definitions/SensorInfo"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/devices/{deviceName}/sensors/{sensorName}/GetThumbnail": {
      "post": {
        "tags": [
          "POST"
        ],
        "summary": "Get snapshot of the camera sensor in an Azure Percept device.",
        "operationId": "Sensors_Action_GetThumbnail",
        "x-ms-examples": {
          "Sensors_Action_GetThumbnail": {
            "$ref": "./examples/Sensors_Action_GetThumbnail.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }, 
          {
            "$ref": "#/parameters/subscriptionId"
          }, 
          {
            "$ref": "#/parameters/resourceGroupName"
          }, 
          {
            "$ref": "#/parameters/resourceName"
          }, 
          {
            "$ref": "#/parameters/deviceName"
          }, 
          {
            "$ref": "#/parameters/sensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "The response contains a image/jpg thumbnail of the camera sensor.",
            "schema": {
              "$ref": "#/definitions/GetThumbnailResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },  
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/solutioninstances": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get a list of all the solution instances in an Azure Percept account.",
        "operationId": "SolutionInstances_List",
        "x-ms-examples": {
          "Solutions_List": {
            "$ref": "./examples/SolutionInstances_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized array of all the Solution associated with the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/SolutionInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/solutioninstances/{solutionInstanceName}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get the details of a specific solutionInstance in an Azure Percept account.",
        "operationId": "SolutionInstances_Get",
        "x-ms-examples": {
          "SolutionInstances_Get": {
            "$ref": "./examples/SolutionInstances_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionInstanceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The response contains a JSON-serialized description of the SolutionInstance in the Azure Percept account.",
            "schema": {
              "$ref": "#/definitions/SolutionInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PUT"
        ],
        "summary": "Create a new solutionInstance in the Azure Percept account under a specific name or update an existing one.",
        "operationId": "SolutionInstances_CreateOrUpdate",
        "x-ms-examples": {
          "SolutionInstances_CreateOrUpdate": {
            "$ref": "./examples/SolutionInstances_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionInstanceName"
          },
          {
            "name": "solutionInstance",
            "in": "body",
            "description": "SolutionInstance object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolutionInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SolutionInstance was successfully created or updated in the account.",
            "schema": {
              "$ref": "#/definitions/SolutionInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "PATCH"
        ],
        "summary": "Partially update an existing solutionInstance inside an Azure Percept account.",
        "operationId": "SolutionInstances_Update",
        "x-ms-examples": {
          "SolutionINstances_Update": {
            "$ref": "./examples/SolutionInstances_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionInstanceName"
          },
          {
            "name": "solutionInstance",
            "in": "body",
            "description": "SolutionInstance editable properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolutionInstanceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SolutionInstance inside the Azure Percept account was successfully updated.",
            "schema": {
              "$ref": "#/definitions/SolutionInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DELETE"
        ],
        "summary": "Delete a solutionInstance from an Azure Percept account.",
        "operationId": "SolutionInstances_Delete",
        "x-ms-examples": {
          "Solutions_Delete": {
            "$ref": "./examples/SolutionInstances_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionInstanceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The SolutionInstance was successfully deleted."
          },
          "204": {
            "description": "The request is valid, but the SolutionInstance does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/accounts/{resourceName}/solutioninstances/{solutionInstanceName}/deploy": {
      "post": {
        "tags": [
          "POST"
        ],
        "summary": "Deploy SolutionInstance.",
        "operationId": "SolutionInstances_Action_Deploy",
        "x-ms-examples": {
          "Sensors_Action_SensorInfo": {
            "$ref": "./examples/SolutionInstances_Action_Deploy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/solutionInstanceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The action was successfully executed.",
            "schema": {
              "$ref": "#/definitions/SolutionInstanceStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/checkNameAvailability": {
      "post": {
        "tags": [
          "POST"
        ],
        "summary": "Check if an Azure Percept account name is available",
        "operationId": "CheckNameAvailability",
        "x-ms-examples": {
          "CheckNameAvailability": {
            "$ref": "./examples/CheckNameAvailability.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "checkNameAvailabilityRequest",
            "in": "body",
            "description": "Set the name parameter in the request structure to the name of the Azure Percept account to check.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the account name is available. If the name is not available, the body contains the reason.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result of the request to list Azure Percept operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of operations supported by the Microsoft.AzurePercept resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "Azure Percept REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{read | write | action | delete}."
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "description": "The operation supported by Azure Percept.",
          "properties": {
            "provider": {
              "readOnly": true,
              "type": "string",
              "description": "Service provider: Microsoft Azure Percept."
            },
            "resource": {
              "readOnly": true,
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "readOnly": true,
              "type": "string",
              "description": "Name of the operation."
            },
            "description": {
              "readOnly": true,
              "type": "string",
              "description": "Description of the operation."
            }
          }
        }
      }
    },
    "ErrorResponseBody": {
      "description": "The error object.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Error target.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Error details.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ErrorResponseBody"
          }
        }
      }
    },
    "DefaultErrorResponse": {
      "type": "object",
      "description": "Default error response on failure.",
      "properties": {
        "error": {
          "description": "The error object.",
          "readOnly": true,
          "$ref": "#/definitions/ErrorResponseBody"
        }
      }
    },
    "Account": {
      "description": "The description of the Azure Percept account.",
      "type": "object",
      "properties": {
        "sku": {
          "description": "Azure Percept account SKU.",
          "$ref": "#/definitions/AccountSku"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "required": [
        "sku"
      ]
    },
    "AccountUpdateParameters": {
      "description": "The properties of an Azure Percept account to be updated.",
      "type": "object",
      "properties": {
        "sku": {
          "description": "Azure Percept account SKU.",
          "$ref": "#/definitions/AccountSku"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        }
      }
    },
    "AccountSku": {
      "description": "Information about the SKU of the Azure Percept account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the SKU. Required for account creation, optional for update.",
          "enum": [
            "F1"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          },
          "type": "string"
        },
        "tier": {
          "description": "The billing tier for the Azure Percept account. Based on the SKU name",
          "enum": [
            "Free"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          },
          "type": "string",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ]
    },
    "AccountListResult": {
      "description": "The JSON-serialized array of Account objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of Account objects.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Account"
          }
        },
        "nextLink": {
          "description": "The next link, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AISkill": {
      "description": "The description of an AI Skill inside the Azure Percept account.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "kind": {
          "description": "The AI Skill kind.",
          "enum": [
            "AVA-SA"
          ],
          "x-ms-enum": {
            "name": "AISkillKind",
            "modelAsString": true
          },
          "type": "string"
        },
        "capabilities": {
          "description": "Object defining hardware and software capabilities for AI Skill.",
          "type": "object",
          "properties": {
            "device": {
              "description": "Devices supported by the AI Skill",
              "type": "array",
              "readOnly": true,
              "items": {
                "description": "Devices able to run the AI Skill",
                "enum": [
                  "DevKit",
                  "HCI"
                ],
                "type": "string",
                "readOnly": true
              }
            }
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept AI Skill properties.",
          "$ref": "#/definitions/AISkillProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "AISkillUpdateParameters": {
      "description": "The description of a AI Skill inside the Azure Percept account.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept AI Skill editable properties.",
          "$ref": "#/definitions/AISkillEditableProperties"
        }
      }
    },
    "AISkillEditableProperties": {
      "description": "Editable properties of a AI Skill inside the Azure Percept account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The user friendly AI Skill name.",
          "type": "string"
        },
        "kind": {
          "description": "The AI Skill kind.",
          "enum": [
            "AVA-SA"
          ],
          "x-ms-enum": {
            "name": "AISkillKind",
            "modelAsString": true
          },
          "type": "string"
        },
        "properties": {
          "description": "The properties of a AI Skill linked to the Azure Percept account.",
          "$ref": "#/definitions/AISkillProperties"
        }
      }
    },
    "AISkillProperties": {
      "description": "The properties of a AI Skill linked to the Azure Percept account.",
      "type": "object",
      "properties": {
        "skillName": {
          "description": "Name for the AI Skill model.",
          "type": "string"
        },
        "topology": {
          "description": "Topology for the AI Skill",
          "type": "string"
        }
      },
      "required": [
        "skillName"
      ]
    },
    "AISkillListResult": {
      "description": "The JSON-serialized array of AI Skill objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of AI Skill objects.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AISkill"
          }
        },
        "nextLink": {
          "description": "The next link, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Solution": {
      "description": "The description of a Solution inside the Azure Percept account.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept solution properties.",
          "$ref": "#/definitions/SolutionProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "SolutionUpdateParameters": {
      "description": "The properties of SolutionInstance inside the Azure Percept account to be updated.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept Solution editable properties.",
          "$ref": "#/definitions/SolutionEditableProperties"
        }
      }
    },
    "SolutionEditableProperties": {
      "description": "Editable properties of a Solution inside the Azure Percept account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The Solution name.",
          "type": "string"
        },
        "properties": {
          "description": "The properties of a Solution linked to the Azure Percept account.",
          "$ref": "#/definitions/SolutionProperties"
        }
      }
    },
    "SolutionProperties": {
      "description": "The properties of a Solution linked to the Azure Percept account.",
      "type": "object",
      "properties": {
        "components": {
          "description": "Components associated with the Solution.",
          "type": "array",
          "items": {
            "description": "Component information.",
            "type": "object",
            "properties": {
              "name": {
                "description": "Component name.",
                "type": "string"
              },
              "type": {
                "description": "Component type.",
                "type": "string"
              },
              "imageUrl": {
                "description": "Component image Url.",
                "type": "string"
              },
              "properties": {
                "description": "Component properties.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "capabilities": {
                "description": "Component capabilities.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "configuration": {
                "description": "Component configuration.",
                "type": "object",
                "properties": {
                  "directMethod": {
                    "description": "Component direct method calls to IoT Hub module",
                    "type": "array",
                    "items": {
                      "description": "Direct method properties",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "SolutionListResult": {
      "description": "The JSON-serialized array of Solution objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of Solution objects.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Solution"
          }
        },
        "nextLink": {
          "description": "The next link, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Device": {
      "description": "The description of a device inside the Azure Percept account.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept device properties.",
          "$ref": "#/definitions/DeviceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "DeviceUpdateParameters": {
      "description": "The description of a device inside the Azure Percept account.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept device editable properties.",
          "$ref": "#/definitions/DeviceEditableProperties"
        }
      }
    },
    "DeviceProperties": {
      "description": "The properties of a device linked to an Azure Percept account.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Resource URI for the Azure resource containing the device.",
          "type": "string"
        },
        "sourceId": {
          "description": "The device name/identifier from its source system. If the source is IoT Hub, for example, this would map to deviceId in the device twin object model.",
          "type": "string"
        },
        "deviceType": {
          "description": "The device type identifier inferred from its source system. If the source is IoT Hub, for example, this would be inferred on the manufacturer and model in the device twin object model.",
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DeviceEditableProperties"
        }
      ],
      "required": [
        "source",
        "sourceId"
      ]
    },
    "DeviceEditableProperties": {
      "description": "Editable properties of a device inside the Azure Percept account.",
      "type": "object",
      "properties": {
        "deviceType": {
          "description": "Optional device qualifier to help tailor device experiences to its specifics.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A list of key value pairs representing additional metadata specific to each source and device type. A maximum of 15 entries can be provided for a device. Each entry must have a key no greater than 128 characters and value no greater than 256 characters."
        }
      }
    },
    "DeviceListResult": {
      "description": "The JSON-serialized array of Device objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of Device objects.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Device"
          }
        },
        "nextLink": {
          "description": "The next link, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DeviceSensorDiscoverResponse": {
      "description": "Discover sensor response.",
      "type": "object",
      "properties": {
        "value":{
          "description": "The array of sensors discovered.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/DeviceSensorDiscover"
          }
        }
      }
    },
    "GetThumbnailResponse": {
      "description": "GetThumbnail response",
      "type": "object",
      "properties": {
        "data": {
          "description": "base64 encoded string for the thumbnail.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DeviceSensorDiscover": {
      "description": "Discovered sensor information list.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The discovered sensor name.",
          "type": "string",
          "readOnly": true
        },
        "hardware": {
          "description": "The discovered sensor hardware id.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The discovered sensor location.",
          "type": "string",
          "readOnly": true
        },
        "xaddrs": {
          "description": "List of transforation addresses of the discovered device.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "remoteAddress": {
          "description": "Remote addresses of the discovered device.",
          "type": "string",
          "readOnly": true
        },
        "scopeUris": {
          "description": "List of scoped URIs of the discovered device.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Target": {
      "description": "The description of a target inside the Azure Percept account.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept target properties.",
          "$ref": "#/definitions/TargetProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "TargetUpdateParameters": {
      "description": "The description of a target inside the Azure Percept account.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept target editable properties.",
          "$ref": "#/definitions/TargetEditableProperties"
        }
      }
    },
    "TargetEditableProperties": {
      "description": "Editable properties of a target inside the Azure Percept account.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A list of key value pairs representing additional metadata specific to each target. A maximum of 15 entries can be provided for a device. Each entry must have a key no greater than 128 characters and value no greater than 256 characters."
        }
      }
    },
    "TargetProperties": {
      "description": "The properties of a target within an Azure Percept account.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Resource URI for the Azure resource being set as the target.",
          "type": "string"
        },
        "kind": {
          "description": "The target kind identifier.",
          "enum": [
            "iothub"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TargetKind",
            "modelAsString": true
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TargetEditableProperties"
        }
      ],
      "required": [
        "source",
        "kind"
      ]
    },
    "TargetListResult": {
      "description": "The JSON-serialized array of Target objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of Target objects.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Target"
          }
        },
        "nextLink": {
          "description": "The next link, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Sensor": {
      "description": "The description of a sensor inside the Azure Percept device.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept sensor properties.",
          "$ref": "#/definitions/SensorProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "SensorUpdateParameters": {
      "description": "The description of a sensor inside the Azure Percept device.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept sensor editable properties.",
          "$ref": "#/definitions/SensorEditableProperties"
        }
      }
    },
    "SensorEditableProperties": {
      "description": "Editable properties of a sensor inside the Azure Percept device.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A list of key value pairs representing additional metadata specific to each sensor. A maximum of 15 entries can be provided for a device. Each entry must have a key no greater than 128 characters and value no greater than 256 characters."
        }
      }
    },
    "SensorProperties": {
      "description": "The properties of a sensor within an Azure Percept device.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The sensor name.",
          "type": "string"
        },
        "location": {
          "description": "The sensor location.",
          "type": "string"
        },
        "url": {
          "description": "The sensor url.",
          "type": "string"
        },
        "username": {
          "description": "The sensor username.",
          "type": "string"
        },
        "password": {
          "description": "The sensor password.",
          "type": "string"
        },
        "kind": {
          "description": "The sensor kind identifier.",
          "enum": [
            "camera"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SensorKind",
            "modelAsString": true
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TargetEditableProperties"
        }
      ],
      "required": [
        "name",
        "url",
        "kind"
      ]
    },
    "SensorListResult": {
      "description": "The JSON-serialized array of Sensor objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of Sensor objects.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Sensor"
          }
        },
        "nextLink": {
          "description": "The next link, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SensorInfo": {
      "description": "The SensorInfo object.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The sensor name.",
          "type": "string",
          "readOnly": true
        },
        "manufacturer": {
          "description": "The sensor manufacturer.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "description": "The sensor model.",
          "type": "string",
          "readOnly": true
        },
        "hardwareId": {
          "description": "The sensor hardwareId.",
          "type": "string",
          "readOnly": true
        },
        "sensorType": {
          "description": "The sensor sensorType.",
          "type": "string",
          "readOnly": true
        },
        "properties":{
          "description": "sensor properties",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SolutionInstance": {
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SolutionInstanceProperties",
          "description": "The resource properties.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/SolutionInstanceIdentity",
          "description": "The identities associated to the SolutionInstance resource."
        }
      },
      "type": "object",
      "description": "The SolutionInstance object."
    },
    "SolutionInstanceProperties": {
      "description": "The properties of a SolutionInstance within a Azure Percept account.",
      "type": "object",
      "properties": {
        "target": {
          "description": "The target resource to deploy the SolutionInstance.",
          "type": "string"
        },
        "solution": {
          "description": "The solution resource to be deployed.",
          "type": "string"
        },
        "description": {
          "description": "The user provided description.",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/SolutionInstanceStatus",
          "description": "The status of the SolutionInstance resource."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SolutionInstanceAssociatedAccount"
          },
          "description": "The resources needed for solutionInstance deployment."
        },
        "configurations": {
          "description": "Component configurations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SolutionInstanceConfiguaration"
          }
        }
      },
      "required": [
        "target",
        "solution"
      ]
    },
    "SolutionInstanceUpdateParameters": {
      "description": "The properties of SolutionInstance inside the Azure Percept account to be updated.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Azure Percept SolutionInstance editable properties.",
          "$ref": "#/definitions/SolutionInstanceProperties"
        },
        "identity": {
          "$ref": "#/definitions/SolutionInstanceIdentity",
          "description": "The identities associated to the SolutionInstance resource."
        }
      }
    },
    "SolutionInstanceConfiguaration": {
      "properties": {
        "operation": {
          "type": "string",
          "description": "The operation to be applied on the component configuration.",
          "enum": [
            "add",
            "override"
          ],
          "x-ms-enum": {
            "name": "operation",
            "modelAsString": true
          }
        },
        "component": {
          "description": "The component name for the configuration.",
          "type": "string"
        },
        "value":{
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Defines the value for the configuration."
        }
      }
    },
    "SolutionInstanceAssociatedAccount": {
      "description": "Metadata pertaining to status of the SolutionInstance resource.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The account kind.",
          "enum": [
            "ava",
            "computervision",
            "iothub"
          ],
          "x-ms-enum": {
            "name": "kind",
            "modelAsString": true
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of the associated account resource."
        },
        "identity": {
          "$ref": "#/definitions/ResourceIdentity",
          "description": "A managed identity that SolutionInstance will use to access the associated account."
        }
      }
    },
    "SolutionInstanceStatus": {
      "description": "Metadata pertaining to deployment status of the SolutionInstance.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "The status code.",
          "enum": [
            "Created",
            "Success",
            "Failed",
            "InProgress"
          ],
          "x-ms-enum": {
            "name": "code",
            "modelAsString": true
          }
        },
        "message": {
          "type": "string",
          "description": "The status message."
        }
      }
    },
    "SolutionInstanceListResult": {
      "description": "The JSON-serialized array of SolutionInstance objects with a next link.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The array of SolutionInstance objects.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SolutionInstance"
          }
        },
        "nextLink": {
          "description": "The next link, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceIdentity": {
      "properties": {
        "userAssignedIdentity": {
          "type": "string",
          "description": "The user assigned managed identity's resource identifier to use when accessing a resource."
        }
      },
      "type": "object",
      "required": [
        "userAssignedIdentity"
      ],
      "description": "The user assigned managed identity to use when accessing a resource."
    },
    "UserAssignedManagedIdentity": {
      "properties": {
        "clientId": {
          "type": "string",
          "format": "uuid",
          "description": "The client ID.",
          "readOnly": true,
          "x-nullable": true
        },
        "principalId": {
          "type": "string",
          "format": "uuid",
          "description": "The principal ID.",
          "readOnly": true,
          "x-nullable": true
        }
      },
      "type": "object",
      "description": "The details of the user assigned managed identity used by the SolutionInstance resource."
    },
    "UserAssignedManagedIdentities": {
      "type": "object",
      "description": "The User Assigned Managed Identities.",
      "additionalProperties": {
        "$ref": "#/definitions/UserAssignedManagedIdentity"
      }
    },
    "SolutionInstanceIdentity": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The identity type."
        },
        "userAssignedIdentities": {
          "$ref": "#/definitions/UserAssignedManagedIdentities",
          "description": "The User Assigned Managed Identities."
        }
      },
      "type": "object",
      "required": [
        "type"
      ],
      "description": "The managed identity for the SolutionInstance resource."
    },
    "CheckNameAvailabilityRequest": {
      "description": "Name availability request.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Azure Percept account to check.",
          "type": "string"
        },
        "type": {
          "description": "Fully qualified resource type which includes provider namespace, in this case Microsoft.AzurePercept/accounts.",
          "type": "string"
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "CheckNameAvailabilityResponse": {
      "description": "The properties indicating whether a given Azure Percept account name is available.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "True indicates name is valid and available. False indicates the name is invalid, unavailable, or both.",
          "type": "boolean",
          "readOnly": true
        },
        "reason": {
          "description": "Invalid indicates the name provided does not match the resource provider's naming requirements (incorrect length, unsupported characters, etc.) AlreadyExists indicates that the name is already in use and is therefore unavailable.",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "UnavailableReason",
            "modelAsString": false
          },
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The detailed reason message.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "systemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)"
        }
      }
    },
    "Resource": {
      "title": "Resource",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "#/definitions/systemData"
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "title": "Proxy Resource",
      "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
[...]
