{
  "swagger": "2.0",
  "info": {
    "description": "APIs for Microsoft Digital Footprint Workspace CRUD operations.",
    "version": "2021-04-01",
    "title": "Microsoft Digital Footprint Workspace Resource Provider"
  },
  "host": "management.azure.com",
  "basePath": "/",
  "tags": [
    {
      "name": "workspace-resource-type-controller",
      "description": "Workspace Resource Type Controller"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/": {
      "get": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspaces",
        "operationId": "workspacesUsingGET",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkspaceResourceList"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/{resourceTypeName}": {
      "put": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspaceCreationBegin",
        "operationId": "workspaceCreationBeginUsingPUT",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkspaceResource"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspaceDeletionBegin",
        "operationId": "workspaceDeletionBeginUsingDELETE",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/{resourceTypeName}/resourceCreationCompleted": {
      "post": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspaceCreationCompleted",
        "operationId": "workspaceCreationCompletedUsingPOST",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/{resourceTypeName}/resourceCreationValidate": {
      "post": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspaceCreationValidate",
        "operationId": "workspaceCreationValidateUsingPOST",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkspaceResourceValidateResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/{resourceTypeName}/resourcePatchBegin": {
      "patch": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspacePatchBegin",
        "operationId": "workspacePatchBeginUsingPATCH",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkspaceResource"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/{resourceTypeName}/resourcePatchCompleted": {
      "post": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspacePatchCompleted",
        "operationId": "workspacePatchCompletedUsingPOST",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/{resourceTypeName}/resourcePatchValidate": {
      "get": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspacePatchValidate",
        "operationId": "workspacePatchValidateUsingGET",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkspaceResourceValidateResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/{resourceTypeName}/resourceReadBegin": {
      "post": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspaceReadBegin",
        "operationId": "workspaceReadBeginUsingPOST",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkspaceResource"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.DigitalFootprint/Workspace/{resourceTypeName}/resourceReadValidate ": {
      "post": {
        "tags": [
          "workspace-resource-type-controller"
        ],
        "summary": "workspaceReadValidate",
        "operationId": "workspaceReadValidateUsingPOST",
        "parameters": [
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "resourceGroup",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceTypeName",
            "in": "path",
            "description": "resourceTypeName",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkspaceResourceValidateResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "azure_auth": [
              "admin"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "scopes": {
        "admin": "Grant read and write access to DigitalFootprint Workspaces"
      }
    }
  },
  "definitions": {
    "ODataError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "ODataError"
    },
    "WorkspaceResource": {
      "type": "object",
      "properties": {
        "resourceGroup": {
          "type": "string"
        },
        "resourceTypeName": {
          "type": "string"
        },
        "subscriptionId": {
          "type": "string"
        }
      },
      "title": "WorkspaceResource"
    },
    "WorkspaceResourceList": {
      "type": "object",
      "properties": {
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkspaceResource"
          }
        }
      },
      "title": "WorkspaceResourceList"
    },
    "WorkspaceResourceValidateResult": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ODataError"
        },
        "status": {
          "type": "string"
        }
      },
      "title": "WorkspaceResourceValidateResult"
    }
  }
}
