{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2023-06-15"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}": {
      "put": {
        "tags": [
          "RoutePolicies"
        ],
        "operationId": "RoutePolicies_Create",
        "summary": "Create Route Policy.",
        "description": "Implements Route Policy PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routePolicyName",
            "required": true,
            "type": "string",
            "description": "Name of the Route Policy"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/RoutePolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoutePolicy"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RoutePolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "RoutePolicies_Create_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_Create_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "RoutePolicies"
        ],
        "operationId": "RoutePolicies_Get",
        "summary": "Gets a Route Policy.",
        "description": "Implements Route Policy GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routePolicyName",
            "required": true,
            "type": "string",
            "description": "Name of the Route Policy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoutePolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RoutePolicies_Get_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_Get_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "RoutePolicies"
        ],
        "operationId": "RoutePolicies_Update",
        "summary": "Updates a Route Policy.",
        "description": "API to update certain properties of the Route Policy resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routePolicyName",
            "required": true,
            "type": "string",
            "description": "Name of the Route Policy"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Route Policy properties to update.",
            "schema": {
              "$ref": "#/definitions/RoutePolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoutePolicy"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "RoutePolicies_Update_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "RoutePolicies"
        ],
        "operationId": "RoutePolicies_Delete",
        "summary": "Deletes a Route Policy.",
        "description": "Implements Route Policy DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routePolicyName",
            "required": true,
            "type": "string",
            "description": "Name of the Route Policy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "RoutePolicies_Delete_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies": {
      "get": {
        "operationId": "RoutePolicies_ListByResourceGroup",
        "summary": "List RoutePolicies by resource group.",
        "description": "Implements RoutePolicies list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all RoutePolicies under the resource group.",
            "schema": {
              "$ref": "#/definitions/RoutePoliciesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "RoutePolicies_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/routePolicies": {
      "get": {
        "operationId": "RoutePolicies_ListBySubscription",
        "summary": "List RoutePolicies by subscription.",
        "description": "Implements RoutePolicies list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all RoutePolicies under the subscription.",
            "schema": {
              "$ref": "#/definitions/RoutePoliciesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "RoutePolicies_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}/updateAdministrativeState": {
      "post": {
        "tags": [
          "RoutePolicies"
        ],
        "operationId": "RoutePolicies_UpdateAdministrativeState",
        "description": "Updated the admin state for this Route Policy.",
        "summary": "Executes enable operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routePolicyName",
            "required": true,
            "type": "string",
            "description": "Name of the Route Policy."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForDeviceUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForDeviceUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "RoutePolicies_UpdateAdministrativeState_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_UpdateAdministrativeState_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}/validateConfiguration": {
      "post": {
        "tags": [
          "RoutePolicies"
        ],
        "operationId": "RoutePolicies_ValidateConfiguration",
        "description": "Validates the configuration of the resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routePolicyName",
            "required": true,
            "type": "string",
            "description": "Name of the Route Policy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/ValidateConfigurationResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/ValidateConfigurationResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "RoutePolicies_ValidateConfiguration_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_ValidateConfiguration_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}/commitConfiguration": {
      "post": {
        "tags": [
          "RoutePolicies"
        ],
        "operationId": "RoutePolicies_CommitConfiguration",
        "description": "Commits the configuration of the given resources.",
        "summary": "Execute the commit on the resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routePolicyName",
            "required": true,
            "type": "string",
            "description": "Name of the Route Policy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "RoutePolicies_CommitConfiguration_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_CommitConfiguration_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RoutePolicyProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        },
        {
          "description": "Route Policy patchable properties.",
          "$ref": "#/definitions/RoutePolicyPatchableProperties"
        }
      ],
      "properties": {
        "networkFabricId": {
          "description": "Arm Resource ID of NetworkFabric.",
          "$ref": "./common.json#/definitions/NetworkFabricIdProperty"
        },
        "addressFamilyType": {
          "type": "string",
          "description": "AddressFamilyType. This parameter decides whether the given ipv4 or ipv6 route policy.",
          "default": "IPv4",
          "minLength": 1,
          "enum": [
            "IPv4",
            "IPv6"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "AddressFamilyType"
          }
        },
        "configurationState": {
          "description": "Gets the configuration state of the resource.",
          "$ref": "./common.json#/definitions/ConfigurationState"
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState"
        },
        "administrativeState": {
          "description": "Gets the administrative state of the resource.",
          "$ref": "./common.json#/definitions/AdministrativeState"
        }
      },
      "required": [
        "statements",
        "networkFabricId",
        "addressFamilyType"
      ],
      "description": "RoutePolicyProperties define the resource properties."
    },
    "RoutePolicy": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/RoutePolicyProperties"
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The RoutePolicy resource definition."
    },
    "RoutePolicyPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "description": "The RoutePolicy patchable properties.",
          "$ref": "#/definitions/RoutePolicyPatchableProperties"
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/TagsUpdate"
        }
      ],
      "description": "The RoutePolicy patch resource definition."
    },
    "RoutePolicyPatchableProperties": {
      "type": "object",
      "description": "Route Policy patchable properties.",
      "properties": {
        "statements": {
          "type": "array",
          "description": "Route Policy statements.",
          "x-ms-identifiers": [
            "sequenceNumber"
          ],
          "items": {
            "description": "Route Policy condition model.",
            "type": "object",
            "required": [
              "sequenceNumber",
              "condition",
              "action"
            ],
            "allOf": [
              {
                "$ref": "./common.json#/definitions/AnnotationResource",
                "description": "Common properties for annotated type."
              }
            ],
            "properties": {
              "sequenceNumber": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 4294967295,
                "description": "Sequence to insert to/delete from existing route."
              },
              "condition": {
                "type": "object",
                "x-ms-client-flatten": true,
                "description": "Route policy condition properties.",
                "properties": {
                  "ipCommunityIds": {
                    "type": "array",
                    "description": "List of IPCommunity resource IDs.",
                    "items": {
                      "description": "Arm Resource ID of IPCommunity.",
                      "$ref": "./common.json#/definitions/IpCommunityIdProperty"
                    }
                  },
                  "ipExtendedCommunityIds": {
                    "type": "array",
                    "description": "List of IPExtendedCommunity resource IDs.",
                    "items": {
                      "description": "Arm Resource ID of IpExtendedCommunity.",
                      "$ref": "./common.json#/definitions/IpExtendedCommunityIdProperty"
                    }
                  },
                  "ipPrefixId": {
                    "description": "Arm Resource ID of IpPrefix.",
                    "$ref": "./common.json#/definitions/IpPrefixIdProperty"
                  }
                }
              },
              "action": {
                "type": "object",
                "x-ms-client-flatten": true,
                "description": "Route policy action properties.",
                "properties": {
                  "localPreference": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0,
                    "maximum": 4294967295,
                    "description": "Local Preference of the route policy."
                  },
                  "actionType": {
                    "type": "string",
                    "description": "Action type. Example: Permit | Deny | Continue.",
                    "minLength": 1,
                    "enum": [
                      "Permit",
                      "Deny",
                      "Continue"
                    ],
                    "x-ms-enum": {
                      "modelAsString": true,
                      "name": "ActionType"
                    }
                  },
                  "ipCommunityProperties": {
                    "type": "object",
                    "x-ms-client-flatten": true,
                    "description": "ipCommunity Properties.",
                    "properties": {
                      "add": {
                        "type": "object",
                        "x-ms-client-flatten": true,
                        "description": "Route policy add manipulations.",
                        "properties": {
                          "ipCommunityIds": {
                            "type": "array",
                            "description": "List of IPCommunity resource IDs.",
                            "items": {
                              "description": "Arm Resource ID of IPCommunity.",
                              "$ref": "./common.json#/definitions/IpCommunityIdProperty"
                            }
                          }
                        }
                      },
                      "delete": {
                        "type": "object",
                        "description": "Route policy delete manipulations.",
                        "x-ms-client-flatten": true,
                        "properties": {
                          "ipCommunityIds": {
                            "type": "array",
                            "description": "List of IPCommunity resource IDs.",
                            "items": {
                              "description": "Arm Resource ID of IPCommunity.",
                              "$ref": "./common.json#/definitions/IpCommunityIdProperty"
                            }
                          }
                        }
                      },
                      "set": {
                        "type": "object",
                        "x-ms-client-flatten": true,
                        "description": "Route policy set manipulations.",
                        "properties": {
                          "ipCommunityIds": {
                            "type": "array",
                            "description": "List of IPCommunity resource IDs.",
                            "items": {
                              "description": "Arm Resource ID of IPCommunity.",
                              "$ref": "./common.json#/definitions/IpCommunityIdProperty"
                            }
                          }
                        }
                      }
                    }
                  },
                  "ipExtendedCommunityProperties": {
                    "type": "object",
                    "x-ms-client-flatten": true,
                    "description": "IP Extended Community Properties.",
                    "properties": {
                      "add": {
                        "type": "object",
                        "x-ms-client-flatten": true,
                        "description": "Route policy add manipulations.",
                        "properties": {
                          "ipExtendedCommunityIds": {
                            "type": "array",
                            "description": "List of IPExtendedCommunity resource IDs.",
                            "items": {
                              "description": "Arm Resource ID of IPExtendedCommunity.",
                              "$ref": "./common.json#/definitions/IpExtendedCommunityIdProperty"
                            }
                          }
                        }
                      },
                      "delete": {
                        "type": "object",
                        "description": "Route policy delete manipulations.",
                        "x-ms-client-flatten": true,
                        "properties": {
                          "ipExtendedCommunityIds": {
                            "type": "array",
                            "description": "List of IPExtendedCommunity resource IDs.",
                            "items": {
                              "description": "Arm Resource ID of IPExtendedCommunity.",
                              "$ref": "./common.json#/definitions/IpExtendedCommunityIdProperty"
                            }
                          }
                        }
                      },
                      "set": {
                        "type": "object",
                        "x-ms-client-flatten": true,
                        "description": "Route policy set manipulations.",
                        "properties": {
                          "ipExtendedCommunityIds": {
                            "type": "array",
                            "description": "List of IPExtendedCommunity resource IDs.",
                            "items": {
                              "description": "Arm Resource ID of IPExtendedCommunity.",
                              "$ref": "./common.json#/definitions/IpExtendedCommunityIdProperty"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "RoutePoliciesListResult": {
      "type": "object",
      "description": "List of RoutePolicies.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of RoutePolicy resources.",
          "items": {
            "$ref": "#/definitions/RoutePolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
