{
  "swagger": "2.0",
  "info": {
    "title": "DRS",
    "description": "Dynamics 365 Recommendations Service (DRS) provider",
    "version": "2021-01-10-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.DRS/Account": {
      "get": {
        "operationId": "Account_List",
        "description": "Returns list of DRS Account resources.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resources list.",
            "schema": {
              "$ref": "#/definitions/AccountResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.DRS/Account/{accountName}": {
      "get": {
        "operationId": "Account_Get",
        "description": "Returns DRS Account resource for a given name.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          }
        }
      },
      "put": {
        "operationId": "Account_CreateOrUpdate",
        "description": "Create or update DRS Account resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "AccountResource",
            "description": "Account details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "201": {
            "description": "Long running operation."
          }
        }
      },
      "patch": {
        "operationId": "Account_Update",
        "description": "Update DRS Account details.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "AccountPatchResource",
            "description": "Account resource patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.DRS/Account/{accountName}/Cooking": {
      "get": {
        "operationId": "Cooking_List",
        "description": "Returns list of Cooking resources for a given Account name",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Cooking resources list.",
            "schema": {
              "$ref": "#/definitions/CookingResourceList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.DRS/Account/{accountName}/Cooking/{cookingName}": {
      "get": {
        "operationId": "Cooking_Get",
        "description": "Returns Cooking resources for a given name",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CookingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Cooking resource details.",
            "schema": {
              "$ref": "#/definitions/CookingResource"
            }
          }
        }
      },
      "put": {
        "operationId": "Cooking_CreateOrUpdate",
        "description": "Create or update Cooking resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CookingNameParameter"
          },
          {
            "name": "CookingResource",
            "description": "Cooking resource details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CookingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/CookingResource"
            }
          }
        }
      },
      "patch": {
        "operationId": "Cooking_Update",
        "description": "Update Cooking resource details.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CookingNameParameter"
          },
          {
            "name": "CookingPatchResource",
            "description": "Cooking resource patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CookingPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/CookingResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.DRS/Account/{accountName}/Serving": {
      "get": {
        "operationId": "Serving_List",
        "description": "Returns list of Serving resources for a given Account name",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Serving resources list.",
            "schema": {
              "$ref": "#/definitions/ServingResourceList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.DRS/Account/{accountName}/Serving/{servingName}": {
      "get": {
        "operationId": "Serving_Get",
        "description": "Returns Serving resources for a given name",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Serving resource details.",
            "schema": {
              "$ref": "#/definitions/ServingResource"
            }
          }
        }
      },
      "put": {
        "operationId": "Serving_CreateOrUpdate",
        "description": "Create or update Serving resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServingNameParameter"
          },
          {
            "name": "ServingResource",
            "description": "Serving resource details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ServingResource"
            }
          }
        }
      }
    },
    "/providers/microsoft.DRS/operations": {
      "get": {
        "operationId": "Operation_List",
        "description": "Returns list of operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "AccountSku": {
      "description": "Indicates the type of DRS account. This can only be set at DRS account creation.",
      "type": "string",
      "default": "Capacity",
      "enum": [
        "TYOD",
        "Explore",
        "Capacity"
      ],
      "x-ms-enum": {
        "name": "AccountSku",
        "modelAsString": true
      }
    },
    "AccountResource": {
      "description": "Account details",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [
            "sku"
          ],
          "properties": {
            "sku": {
              "$ref": "#/definitions/AccountSku"
            }
          }
        }
      }
    },
    "AccountResourceList": {
      "description": "The list of DRS Account resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of DRS Account resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of DRS Account resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountResource"
          }
        }
      }
    },
    "AccountPatchResource": {
      "description": "Account resource patch details",
      "type": "object",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CookingResource": {
      "description": "Cooking resource details",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [
            "DataConnectionString",
            "Tier",
            "Frequency",
            "SizeLimit"
          ],
          "properties": {
            "DataConnectionString": {
              "description": "Connection string to raw data.",
              "type": "string",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._/:]+$"
            },
            "Tier": {
              "description": "Cooking tier defines the scenraios set that will be cooked.",
              "type": "string",
              "enum": [
                "Basic",
                "Personalized",
                "Advanced"
              ],
              "x-ms-enum": {
                "name": "Tier",
                "modelAsString": true
              }
            },
            "Frequency": {
              "type": "string",
              "description": "Cooking cycle frequency. Low is frequency is 36h, Medium is 12h and High is 2h.",
              "enum": [
                "Low",
                "Medium",
                "High"
              ],
              "x-ms-enum": {
                "name": "Frequency",
                "modelAsString": true
              }
            },
            "SizeLimit": {
              "type": "string",
              "description": "Max allowed total size of catalog and interactions raw data.",
              "enum": [
                "Small",
                "Medium",
                "Large"
              ],
              "x-ms-enum": {
                "name": "SizeLimit",
                "modelAsString": true
              }
            }
          }
        }
      }
    },
    "CookingResourceList": {
      "description": "The list of Cooking resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Cooking resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Cooking resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CookingResource"
          }
        }
      }
    },
    "CookingPatchResource": {
      "description": "Cooking resource patch details",
      "type": "object",
      "properties": {
        "required": [
          "DataConnectionString"
        ],
        "properties": {
          "DataConnectionString": {
            "description": "Connection string to raw data.",
            "type": "string",
            "minLength": 1,
            "pattern": "^[A-Za-z0-9-._/:]+$"
          }
        }
      }
    },
    "AuthDetails": {
      "description": "Authentication details",
      "type": "object",
      "required": [
        "AADTenantID",
        "AADPrincipleID",
        "PrincipleType"
      ],
      "properties": {
        "AADTenantID": {
          "description": "AAD tenant ID.",
          "type": "string"
        },
        "AADPrincipleID": {
          "description": "AAD principle ID.",
          "type": "string"
        },
        "PrincipleType": {
          "description": "AAD principle type.",
          "type": "string",
          "enum": [
            "Application",
            "User"
          ],
          "x-ms-enum": {
            "name": "PrincipleType",
            "modelAsString": true
          }
        }
      }
    },
    "ServingResource": {
      "description": "Serving resource details",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [
            "Capacity",
            "AuthDetails"
          ],
          "properties": {
            "Capacity": {
              "description": "Serving capacity defines the allowed RPS.",
              "type": "string",
              "enum": [
                "Small",
                "Medium",
                "Large"
              ],
              "x-ms-enum": {
                "name": "Capacity",
                "modelAsString": true
              }
            },
            "AuthDetails": {
              "description": "The list of authentication details.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/AuthDetails"
              },
              "minItems": 1
            }
          }
        }
      }
    },
    "ServingResourceList": {
      "description": "The list of Serving resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Serving resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Serving resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServingResource"
          }
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "display": {
          "description": "Properties of the operation",
          "type": "object",
          "properties": {
            "provider": {
              "description": "Provider name",
              "type": "string"
            },
            "resource": {
              "description": "Resource name",
              "type": "string"
            },
            "operation": {
              "description": "Operation name",
              "type": "string"
            },
            "description": {
              "description": "Description of the operation",
              "type": "string"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "description": "The Azure subscription ID.",
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "description": "Client Api Version.",
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "description": "The name of the resource group.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "description": "The name of the DRS Account resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "CookingNameParameter": {
      "name": "cookingName",
      "in": "path",
      "required": true,
      "description": "The name of the Cooking resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServingNameParameter": {
      "name": "servingName",
      "in": "path",
      "required": true,
      "description": "The name of the Serving resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}