{
  "swagger": "2.0",
  "info": {
    "title": "DRS",
    "description": "Dynamics 365 Recommendations Service (DRS) provider",
    "version": "2021-01-10-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "description": "Azure Active Directory OAuth2 Flow.",
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "Impersonate your user account."
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Drs/checkNameAvailability": {
      "post": {
        "operationId": "account_CheckNameAvailability",
        "description": "Checks that the DRS Account name is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Check name availability request details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful. The response describes the name availability.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Check name availability of DRS Account - name available": {
            "$ref": "./examples/Account_CheckNameAvailabilityAvailable.json"
          },
          "Check name availability of DRS Account - name unavailable": {
            "$ref": "./examples/Accounts_CheckNameAvailabilityUnavailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Drs/account": {
      "get": {
        "operationId": "account_ListBySubscription",
        "description": "Returns list of DRS Account resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resources list.",
            "schema": {
              "$ref": "#/definitions/AccountResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get DRS Account resources by subscription": {
            "$ref": "./examples/Account_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Drs/account": {
      "get": {
        "operationId": "account_ListByResourceGroup",
        "description": "Returns list of DRS Account resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resources list.",
            "schema": {
              "$ref": "#/definitions/AccountResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get DRS Account resources by resource group": {
            "$ref": "./examples/Account_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Drs/account/{accountName}": {
      "get": {
        "operationId": "account_Get",
        "description": "Returns DRS Account resource for a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DRS Account resource": {
            "$ref": "./examples/Account_Get.json"
          }
        }
      },
      "put": {
        "operationId": "account_CreateOrUpdate",
        "description": "Creates or updates DRS Account resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "description": "Account details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update DRS Account resource": {
            "$ref": "./examples/Account_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "account_Update",
        "description": "Updates DRS Account details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "description": "Account resource patch details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update exisitng DRA Account resource": {
            "$ref": "./examples/Account_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "account_Delete",
        "description": "Deletes DRS Account resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "DRS Account resource deleted successfully."
          },
          "204": {
            "description": "DRS Account resourse does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete DRS Account resource": {
            "$ref": "./examples/Account_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Drs/account/{accountName}/cooking": {
      "get": {
        "operationId": "cooking_ListByAccountResource",
        "description": "Returns list of Cooking resources for a given Account name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Cooking resources list.",
            "schema": {
              "$ref": "#/definitions/CookingResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Cooking resources by DRS Account resource": {
            "$ref": "./examples/Cooking_ListByAccountResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Drs/account/{accountName}/cooking/{cookingName}": {
      "get": {
        "operationId": "cooking_Get",
        "description": "Returns Cooking resources for a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CookingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Cooking resource details.",
            "schema": {
              "$ref": "#/definitions/CookingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Cooking resource": {
            "$ref": "./examples/Cooking_Get.json"
          }
        }
      },
      "put": {
        "operationId": "cooking_CreateOrUpdate",
        "description": "Creates or updates Cooking resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CookingNameParameter"
          },
          {
            "description": "Cooking resource details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CookingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/CookingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cretae or update Cooking resource": {
            "$ref": "./examples/Cooking_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "cooking_Update",
        "description": "Updates Cooking resource details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CookingNameParameter"
          },
          {
            "description": "Cooking resource patch details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CookingPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/CookingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Cooking resource": {
            "$ref": "./examples/Cooking_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "cooking_Delete",
        "description": "Deletes Cooking resources of a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CookingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Cooking resourse deleted successfully."
          },
          "204": {
            "description": "Cooking resourse does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Cooking resource": {
            "$ref": "./examples/Cooking_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Drs/account/{accountName}/serving": {
      "get": {
        "operationId": "serving_ListByAccountResource",
        "description": "Returns list of Serving resources for a given Account name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Serving resources list.",
            "schema": {
              "$ref": "#/definitions/ServingResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Serving resources by DRS Account resource": {
            "$ref": "./examples/Serving_ListByAccountResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Drs/account/{accountName}/serving/{servingName}": {
      "get": {
        "operationId": "serving_Get",
        "description": "Returns Serving resources for a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Serving resource details.",
            "schema": {
              "$ref": "#/definitions/ServingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Serving resource": {
            "$ref": "./examples/Serving_Get.json"
          }
        }
      },
      "put": {
        "operationId": "serving_CreateOrUpdate",
        "description": "Creates or updates Serving resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServingNameParameter"
          },
          {
            "description": "Serving resource details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ServingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Serving resource": {
            "$ref": "./examples/Serving_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "serving_Update",
        "description": "Updates Serving resource details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServingNameParameter"
          },
          {
            "description": "Serving resource patch details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServingPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ServingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Serving resource": {
            "$ref": "./examples/Serving_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "serving_Delete",
        "description": "Deletes Serving resources of a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Serving resourse deleted successfully."
          },
          "204": {
            "description": "Serving resourse does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Serving resource": {
            "$ref": "./examples/Serving_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.Drs/operations": {
      "get": {
        "operationId": "operations_List",
        "description": "Returns list of operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get all DRS operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CheckNameAvailabilityRequest": {
      "description": "The check availability request body for DRS Account name.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the DRS Account for which availability needs to be checked.",
          "type": "string"
        },
        "type": {
          "description": "The DRS Account type",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityResponse": {
      "description": "The check availability result for DRS Account name.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "Indicates if the DRS Account name is available.",
          "type": "boolean"
        },
        "message": {
          "description": "Detailed reason why the given name is invalid",
          "type": "string"
        },
        "reason": {
          "description": "The reason why the given name is invalid.",
          "type": "string",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "AccountSku",
            "modelAsString": false
          }
        }
      }
    },
    "Tags": {
      "description": "Resource tags.",
      "type": "object",
      "readOnly": false,
      "additionalProperties": {
        "type": "string"
      }
    },
    "AccountSku": {
      "description": "Indicates the type of DRS account. This can only be set at DRS account creation.",
      "type": "string",
      "default": "Capacity",
      "enum": [
        "TYOD",
        "Explore",
        "Capacity"
      ],
      "x-ms-enum": {
        "name": "AccountSku",
        "modelAsString": true
      }
    },
    "AccountResource": {
      "description": "Account resource details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "Account resource properties.",
          "type": "object",
          "required": [
            "sku"
          ],
          "properties": {
            "sku": {
              "$ref": "#/definitions/AccountSku"
            },
            "cooking": {
              "description": "The list of Cooking resources.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CookingResource"
              }
            },
            "serving": {
              "description": "The list of Serving resources.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServingResource"
              }
            }
          }
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "AccountResourceList": {
      "description": "The list of DRS Account resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of DRS Account resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of DRS Account resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountResource"
          }
        }
      }
    },
    "AccountPatchResource": {
      "description": "Account resource patch details.",
      "type": "object",
      "properties": {
        "tags": {
          "$ref": "#/definitions/Tags"
        }
      }
    },
    "CookingDataConnectionString": {
      "description": "Connection string to raw data.",
      "type": "string",
      "minLength": 1,
      "pattern": "^[A-Za-z0-9-._/:]+$"
    },
    "CookingResource": {
      "description": "Cooking resource details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "Cooking resource properties.",
          "type": "object",
          "required": [
            "dataConnectionString",
            "tier",
            "frequency",
            "sizeLimit"
          ],
          "properties": {
            "dataConnectionString": {
              "$ref": "#/definitions/CookingDataConnectionString"
            },
            "tier": {
              "description": "Cooking tier defines the scenraios set that will be cooked.",
              "type": "string",
              "enum": [
                "Basic",
                "Personalized",
                "Advanced"
              ],
              "x-ms-enum": {
                "name": "Tier",
                "modelAsString": true
              }
            },
            "frequency": {
              "description": "Cooking cycle frequency.",
              "type": "string",
              "enum": [
                "Low",
                "Medium",
                "High"
              ],
              "x-ms-enum": {
                "name": "Frequency",
                "modelAsString": true
              }
            },
            "sizeLimit": {
              "description": "Max allowed total size of catalog and interactions raw data.",
              "type": "string",
              "enum": [
                "Small",
                "Medium",
                "Large"
              ],
              "x-ms-enum": {
                "name": "SizeLimit",
                "modelAsString": true
              }
            }
          }
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "CookingResourceList": {
      "description": "The list of Cooking resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Cooking resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Cooking resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CookingResource"
          }
        }
      }
    },
    "CookingPatchResource": {
      "description": "Cooking resource patch details.",
      "type": "object",
      "properties": {
        "tags": {
          "$ref": "#/definitions/Tags"
        },
        "properties": {
          "description": "Cooking resource properties to update.",
          "type": "object",
          "properties": {
            "dataConnectionString": {
              "$ref": "#/definitions/CookingDataConnectionString"
            }
          }
        }
      }
    },
    "AuthDetails": {
      "description": "Authentication details.",
      "type": "object",
      "required": [
        "aadTenantID",
        "aadPrincipleID",
        "principleType"
      ],
      "properties": {
        "aadTenantID": {
          "description": "AAD tenant ID.",
          "type": "string"
        },
        "aadPrincipleID": {
          "description": "AAD principle ID.",
          "type": "string"
        },
        "principleType": {
          "description": "AAD principle type.",
          "type": "string",
          "enum": [
            "Application",
            "User"
          ],
          "x-ms-enum": {
            "name": "PrincipleType",
            "modelAsString": true
          }
        }
      }
    },
    "ServingResource": {
      "description": "Serving resource details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "Serving resource properties.",
          "type": "object",
          "required": [
            "capacity",
            "authDetails"
          ],
          "properties": {
            "capacity": {
              "description": "Serving capacity defines the allowed RPS.",
              "type": "string",
              "enum": [
                "Small",
                "Medium",
                "Large"
              ],
              "x-ms-enum": {
                "name": "Capacity",
                "modelAsString": true
              }
            },
            "authDetails": {
              "description": "The list of authentication details.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/AuthDetails"
              },
              "minItems": 1
            }
          }
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "ServingResourceList": {
      "description": "The list of Serving resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Serving resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Serving resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServingResource"
          }
        }
      }
    },
    "ServingPatchResource": {
      "description": "Serving resource patch details.",
      "type": "object",
      "properties": {
        "tags": {
          "$ref": "#/definitions/Tags"
        },
        "properties": {
          "description": "Serving resource properties to update.",
          "type": "object",
          "properties": {
            "authDetails": {
              "description": "The list of authentication details.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/AuthDetails"
              },
              "minItems": 1
            }
          }
        }
      }
    }
  },
  "parameters": {
    "AccountNameParameter": {
      "description": "The name of the DRS Account resource.",
      "type": "string",
      "name": "accountName",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "CookingNameParameter": {
      "description": "The name of the Cooking resource.",
      "type": "string",
      "name": "cookingName",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "ServingNameParameter": {
      "description": "The name of the Serving resource.",
      "type": "string",
      "name": "servingName",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    }
  }
}