{
  "swagger": "2.0",
  "info": {
    "title": "PlayFab",
    "version": "2021-09-07-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PlayerAccountPools"
    },
    {
      "name": "Titles"
    },
		{
			"name": "Segments"
		},
    {
      "name": "TitleDataKeyValues"
    },
    {
      "name": "TitleInternalDataKeyValues"
    }
  ],
  "paths": {
    "/providers/Microsoft.PlayFab2/operations": {
      "get": {
        "operationId": "Operations_List",
        "summary": "List the operations for Microsoft.PlayFab",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerAccountPools/{playerAccountPoolName}": {
      "get": {
        "operationId": "PlayerAccountPools_Get",
        "summary": "Get a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Get": {
            "$ref": "./examples/PlayerAccountPools_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PlayerAccountPools_CreateOrUpdate",
        "summary": "Create a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_CreateOrUpdate": {
            "$ref": "./examples/PlayerAccountPools_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "PlayerAccountPools_Update",
        "summary": "Update a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Update": {
            "$ref": "./examples/PlayerAccountPools_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "PlayerAccountPools_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Delete a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted."
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Delete": {
            "$ref": "./examples/PlayerAccountPools_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/playerAccountPools": {
      "get": {
        "operationId": "PlayerAccountPools_ListBySubscription",
        "summary": "List PlayerAccountPool resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PlayerAccountPools_ListBySubscription": {
            "$ref": "./examples/PlayerAccountPools_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerAccountPools": {
      "get": {
        "operationId": "PlayerAccountPools_ListByResourceGroup",
        "summary": "List PlayerAccountPool resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PlayerAccountPools_ListByResourceGroup": {
            "$ref": "./examples/PlayerAccountPools_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}": {
      "get": {
        "operationId": "Titles_Get",
        "summary": "Get a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Get": {
            "$ref": "./examples/Titles_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Titles_CreateOrUpdate",
        "summary": "Create a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_CreateOrUpdate": {
            "$ref": "./examples/Titles_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Titles_Update",
        "summary": "Update a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/TitleUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Update": {
            "$ref": "./examples/Titles_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Titles_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Delete a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted."
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Delete": {
            "$ref": "./examples/Titles_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/titles": {
      "get": {
        "operationId": "Titles_ListBySubscription",
        "summary": "List Title resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Titles_ListBySubscription": {
            "$ref": "./examples/Titles_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles": {
      "get": {
        "operationId": "Titles_ListByResourceGroup",
        "summary": "List Title resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Titles_ListByResourceGroup": {
            "$ref": "./examples/Titles_ListByResourceGroup.json"
          }
        }
      }
    },
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/segments/{segmentName}": {
			"get": {
			  "operationId": "Segments_Get",
			  "summary": "Get a Segment",
			  "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/SegmentNameParameter"
          }
			  ],
			  "responses": {
				"200": {
				  "headers": {
					"x-ms-correlation-request-id": {
					  "type": "string"
					}
				  },
				  "description": "ARM operation completed successfully.",
				  "schema": {
					"$ref": "#/definitions/Segment"
				  }
				},
				"default": {
				  "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				  "schema": {
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				  }
				}
			  },
			  "tags": [
				"Segments"
			  ],
			  "x-ms-examples": {
				  "Segments_Get": {
					  "$ref": "./examples/Segments_Get.json"
				  }
			  }
			},
			"put": {
			  "operationId": "Segments_CreateOrUpdate",
			  "summary": "Create a Segment",
			  "parameters": [
				{
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
				},
				{
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
				},
				{
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
				},
				{
				  "$ref": "#/parameters/TitleNameParameter"
				},
				{
				  "$ref": "#/parameters/SegmentNameParameter"
				},
				{
				  "name": "resource",
				  "in": "body",
				  "required": true,
				  "description": "Resource create parameters.",
				  "schema": {
					"$ref": "#/definitions/Segment"
				  }
				}
			  ],
			  "responses": {
				"200": {
				  "headers": {
					"x-ms-correlation-request-id": {
					  "type": "string"
					}
				  },
				  "description": "ARM operation completed successfully.",
				  "schema": {
					"$ref": "#/definitions/Segment"
				  }
				},
				"201": {
				  "headers": {
					"x-ms-correlation-request-id": {
					  "type": "string"
					}
				  },
				  "description": "ARM create operation completed successfully.",
				  "schema": {
					"$ref": "#/definitions/Segment"
				  }
				},
				"default": {
				  "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				  "schema": {
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				  }
				}
			  },
			  "tags": [
				"Segments"
			  ],
			  "x-ms-examples": {
				  "Segments_CreateOrUpdate": {
					  "$ref": "./examples/Segments_CreateOrUpdate.json"
				  }
			  }
			},
			"delete": {
			  "operationId": "Segments_Delete",
			  "summary": "Delete a Segment",
			  "parameters": [
				{
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
				},
				{
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
				},
				{
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
				},
				{
				  "$ref": "#/parameters/TitleNameParameter"
				},
				{
				  "$ref": "#/parameters/SegmentNameParameter"
				}
			  ],
			  "responses": {
				"200": {
				  "headers": {
					"x-ms-correlation-request-id": {
					  "type": "string"
					}
				  },
				  "description": "Resource deleted successfully."
				},
				"202": {
				  "headers": {
					"x-ms-correlation-request-id": {
					  "type": "string"
					}
				  },
				  "description": "Resource deletion accepted."
				},
				"204": {
				  "headers": {
					"x-ms-correlation-request-id": {
					  "type": "string"
					}
				  },
				  "description": "Resource deleted successfully."
				},
				"default": {
				  "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				  "schema": {
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				  }
				}
			  },
			  "tags": [
				"Segments"
			  ],
			  "x-ms-examples": {
				  "Segments_Delete": {
					  "$ref": "./examples/Segments_Delete.json"
				  }
			  }
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/segments": {
			"get": {
			  "operationId": "Segments_ListByTitle",
			  "summary": "List Segment resource by Title",
			  "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
			  ],
			  "responses": {
				"200": {
				  "headers": {
					"x-ms-correlation-request-id": {
					  "type": "string"
					}
				  },
				  "description": "ARM operation completed successfully.",
				  "schema": {
					"$ref": "#/definitions/SegmentListResult"
				  }
				},
				"default": {
				  "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				  "schema": {
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				  }
				}
			  },
			  "tags": [
				"Segments"
			  ],
        "x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
			  "x-ms-examples": {
				  "Segments_ListByTitle": {
					  "$ref": "./examples/Segments_ListByTitle.json"
				  }
			  }
			}
		},
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/titleDataKeyValues/{titleDataKeyValueName}": {
      "get": {
        "operationId": "TitleDataKeyValues_Get",
        "summary": "Get a TitleDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleDataKeyValueNameParameter"
          }
          ],
          "responses": {
            "200": {
              "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
              },
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/TitleDataKeyValue"
                }
              },
              "default": {
                "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
                "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "tags": [
              "TitleDataKeyValues"
            ],
            "x-ms-examples": {
              "TitleDataKeyValues_Get": {
                "$ref": "./examples/TitleDataKeyValues_Get.json"
              }
            }
          },
      "put": {
        "operationId": "TitleDataKeyValues_CreateOrUpdate",
        "summary": "Create a TitleDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleDataKeyValueNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/TitleDataKeyValue"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleDataKeyValue"
            }
          },
          "201": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleDataKeyValue"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleDataKeyValues"
        ],
        "x-ms-examples": {
          "TitleDataKeyValues_CreateOrUpdate": {
            "$ref": "./examples/TitleDataKeyValues_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "TitleDataKeyValues_Delete",
        "summary": "Delete a TitleDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleDataKeyValueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted."
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleDataKeyValues"
        ],
        "x-ms-examples": {
          "TitleDataKeyValues_Delete": {
            "$ref": "./examples/TitleDataKeyValues_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/titleDataKeyValues": {
      "get": {
        "operationId": "TitleDataKeyValues_ListByTitle",
        "summary": "List TitleDataKeyValue resources by Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleDataKeyValueListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleDataKeyValues"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TitleDataKeyValues_ListByTitle": {
            "$ref": "./examples/TitleDataKeyValues_ListByTitle.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/titleInternalDataKeyValues/{titleInternalDataKeyValueName}": {
      "get": {
        "operationId": "TitleInternalDataKeyValues_Get",
        "summary": "Get a TitleInternalDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleInternalDataKeyValueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleInternalDataKeyValue"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleInternalDataKeyValues"
        ],
        "x-ms-examples": {
          "TitleInternalDataKeyValues_Get": {
            "$ref": "./examples/TitleInternalDataKeyValues_Get.json"
          }
        }
      },
      "put": {
        "operationId": "TitleInternalDataKeyValues_CreateOrUpdate",
        "summary": "Create a TitleInternalDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleInternalDataKeyValueNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/TitleInternalDataKeyValue"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleInternalDataKeyValue"
            }
          },
          "201": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleInternalDataKeyValue"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleInternalDataKeyValues"
        ],
        "x-ms-examples": {
          "TitleInternalDataKeyValues_CreateOrUpdate": {
            "$ref": "./examples/TitleInternalDataKeyValues_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "TitleInternalDataKeyValues_Delete",
        "summary": "Delete a TitleInternalDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleInternalDataKeyValueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted."
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleInternalDataKeyValues"
        ],
        "x-ms-examples": {
          "TitleInternalDataKeyValues_Delete": {
            "$ref": "./examples/TitleInternalDataKeyValues_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/titleInternalDataKeyValues": {
      "get": {
        "operationId": "TitleInternalDataKeyValues_ListByTitle",
        "summary": "List TitleInternalDataKeyValue resources by Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleInternalDataKeyValueListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleInternalDataKeyValues"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PrimaryKVs_ListByTitle": {
            "$ref": "./examples/TitleInternalDataKeyValues_ListByTitle.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PlayerAccountPool": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlayerAccountPoolProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Player Account Pool.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PlayerAccountPoolUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "The updatable properties of the PlayerAccountPool."
    },
    "PlayerAccountPoolListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerAccountPool"
          },
          "x-cadl-name": "Microsoft.PlayFab.PlayerAccountPool[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a PlayerAccountPool list operation.",
      "required": [
        "value"
      ]
    },
    "Title": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Title.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TitleUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "properties": {
          "$ref": "#/definitions/TitleSubProperties",
          "description": "Azure resource Id of the PlayerAccountPool resource."
        }
      },
      "description": "The updatable properties of the Title."
    },
    "TitleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Title"
          },
          "x-cadl-name": "Microsoft.PlayFab.Title[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Title list operation.",
      "required": [
        "value"
      ]
    },
    "PlayerAccountPoolProperties": {
      "type": "object",
      "properties": {
        "playFabPublisherId": {
          "type": "string",
          "description": "Id of publisher object in PlayFab backend associated to the PlayerAccountPool resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state.",
          "readOnly": true
        }
      }
    },
    "TitleProperties": {
      "type": "object",
      "properties": {
        "playFabTitleId": {
          "type": "string",
          "description": "Id of title object in PlayFab backend.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/TitleSubProperties",
          "description": "Azure resource Id of the PlayerAccountPool resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "properties"
      ]
    },
    "TitleSubProperties": {
      "type": "object",
      "properties": {
        "playerAccountPoolId": {
          "type": "string"
        }
      },
      "required": [
        "playerAccountPoolId"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Accepted",
        "Creating",
        "Deleting",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "TitleDataKeyValue": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleDataKeyValueProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "TitleDataKeyValue.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TitleDataKeyValueProperties": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value to set for TitleDataKeyValue."
        }
      },
      "description": "Properties of TitleDataKeyValue.",
      "required": [
        "value"
      ]
    },
    "TitleDataKeyValueListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TitleDataKeyValue"
          },
          "description": "List of TitleDataKeyValue on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of TitleDataKeyValues"
        }
      },
      "description": "The response of a TitleDataKeyValue list operation.",
      "required": [
        "value"
      ]
    },
    "TitleInternalDataKeyValue": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleInternalDataKeyValueProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "TitleInternalDataKeyValue.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TitleInternalDataKeyValueProperties": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value to set for titleInternalDataKeyValue."
        }
      },
      "description": "Properties of TitleInternalDataKeyValue.",
      "required": [
        "value"
      ]
    },
    "TitleInternalDataKeyValueListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TitleInternalDataKeyValue"
          },
          "description": "List of TitleInternalDataKeyValue on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of TitleInternalDataKeyValues"
        }
      },
      "description": "The response of a TitleInternalDataKeyValue list operation.",
      "required": [
        "value"
      ]
    },
    "Segment": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SegmentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Segment.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SegmentProperties": {
      "type": "object",
      "properties": {
        "playFabSegmentId": {
          "type": "string",
          "description": "Id of Segment object in PlayFab backend.",
          "readOnly": true
        },
        "query": {
          "$ref": "#/definitions/SegmentQuery",
          "description": "Query for defining Segment."
        }
      },
      "required": [
        "query"
      ]
    },
    "SegmentQuery": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SegmentGroup"
          },
          "x-cadl-name": "Microsoft.PlayFab.SegmentGroup[]",
          "description": "Groups in Query for Segment definition"
        }
      },
      "required": [
        "groups"
      ]
    },
    "SegmentGroup": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SegmentFilter"
          },
          "x-cadl-name": "Microsoft.PlayFab.SegmentFilter[]",
          "description": "List of Filters for defining groups"
        }
      },
      "required": [
        "filters"
      ]
    },
    "SegmentFilter": {
      "type": "object",
      "properties": {
        "filterName": {
          "$ref": "#/definitions/FilterName",
          "description": "Name of the Segment filter."
        },
        "comparison": {
          "$ref": "#/definitions/Comparison",
          "description": "Comparator used for the filter."
        },
        "value": {
          "type": "string",
          "description": "Value to be compared"
        }
      },
      "required": [
        "filterName",
        "comparison",
        "value"
      ],
      "additionalProperties": {
      }
    },
    "SegmentStatisticFilter": {
      "type": "object",
      "properties": {
        "statisticName": {
          "type": "string",
          "description": "Name of the statistic used as Segment filter."
        },
        "version": {
          "type": "integer",
          "description": "Version of the statistic being used."
        },
        "useCurrentVersion": {
          "type": "boolean",
          "description": "Flag to use current version of the statistic"
        }
      },
      "required": [
        "statisticName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Segment"
          },
          "description": "The Segments on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of Segments"
        }
      },
      "description": "The response of a Segment list operation.",
      "required": [
        "value"
      ]
    },
    "FilterName": {
      "type": "string",
      "enum": [
        "FirstLogin",
        "LastLogin",
        "FirstLoginDate",
        "LastLoginDate",
        "Location",
        "Statistic",
        "Tag",
        "UserOrigination",
        "AllPlayers"
      ],
      "x-ms-enum": {
        "name": "FilterName",
        "modelAsString": true
      }
    },
    "Comparison": {
      "type": "string",
      "enum": [
        "Greater",
        "Less",
        "Equals",
        "NotEquals",
        "GreaterOrEquals",
        "LessOrEquals",
        "Contains",
        "NotContains",
        "Ignore",
        "Exists"
      ],
      "x-ms-enum": {
        "name": "Comparison",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "PlayerAccountPoolNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "playerAccountPoolName",
      "in": "path",
      "required": true,
      "description": "Name of the Player Account Pool Parameter.",
      "type": "string"
    },
    "TitleNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "titleName",
      "in": "path",
      "required": true,
      "description": "Name of the Title Parameter.",
      "type": "string"
    },
		"SegmentNameParameter": {
			"x-ms-parameter-location": "method",
			"name": "segmentName",
			"in": "path",
			"required": true,
			"description": "Name of the Segment Parameter.",
			"type": "string"
		},
    "TitleDataKeyValueNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "titleDataKeyValueName",
      "in": "path",
      "required": true,
      "description": "TitleDataKeyValue name",
      "type": "string"
    },
    "TitleInternalDataKeyValueNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "titleInternalDataKeyValueName",
      "in": "path",
      "required": true,
      "description": "TitleInternalDataKeyValue name",
      "type": "string"
    }
  }
}