{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AppSecurity",
    "version": "2023-02-06-preview",
    "description": "APIs to manage AppSecurity resources",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "IpLists"
    },
    {
      "name": "GeoLists"
    },
    {
      "name": "Policies"
    }
  ],
  "paths": {
    "/providers/Microsoft.AppSecurity/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppSecurity/geoLists": {
      "get": {
        "tags": [
          "GeoLists"
        ],
        "operationId": "GeoLists_ListBySubscription",
        "description": "List GeoList resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoListListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GeoLists_ListBySubscription1": {
            "$ref": "./examples/GeoLists_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppSecurity/ipLists": {
      "get": {
        "tags": [
          "IpLists"
        ],
        "operationId": "IpLists_ListBySubscription",
        "description": "List IpList resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpListListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "IpLists_ListBySubscription1": {
            "$ref": "./examples/IpLists_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppSecurity/policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_ListBySubscription",
        "description": "List Policy resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Policies_ListBySubscription1": {
            "$ref": "./examples/Policies_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppSecurity/geoLists": {
      "get": {
        "tags": [
          "GeoLists"
        ],
        "operationId": "GeoLists_ListByResourceGroup",
        "description": "List GeoList resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoListListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GeoLists_ListByResourceGroup1": {
            "$ref": "./examples/GeoLists_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppSecurity/geoLists/{listName}": {
      "get": {
        "tags": [
          "GeoLists"
        ],
        "operationId": "GeoLists_Get",
        "description": "Get a GeoList",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The name of the GeoList",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoLists_Get1": {
            "$ref": "./examples/GeoLists_Get_200.json"
          }
        }
      },
      "put": {
        "tags": [
          "GeoLists"
        ],
        "operationId": "GeoLists_CreateOrUpdate",
        "description": "Create a GeoList",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The name of the GeoList",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/GeoList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoList"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/GeoList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoLists_CreateOrUpdate1": {
            "$ref": "./examples/GeoLists_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "GeoLists"
        ],
        "operationId": "GeoLists_Update",
        "description": "Update a GeoList",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The name of the GeoList",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/GeoListUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoLists_Update1": {
            "$ref": "./examples/GeoLists_Update_200.json"
          }
        }
      },
      "delete": {
        "tags": [
          "GeoLists"
        ],
        "operationId": "GeoLists_Delete",
        "description": "Delete a GeoList",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The name of the GeoList",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoLists_Delete1": {
            "$ref": "./examples/GeoLists_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppSecurity/ipLists": {
      "get": {
        "tags": [
          "IpLists"
        ],
        "operationId": "IpLists_ListByResourceGroup",
        "description": "List IpList resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpListListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "IpLists_ListByResourceGroup1": {
            "$ref": "./examples/IpLists_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppSecurity/ipLists/{listName}": {
      "get": {
        "tags": [
          "IpLists"
        ],
        "operationId": "IpLists_Get",
        "description": "Get a IpList",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The name of the IpList",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpLists_Get_1": {
            "$ref": "./examples/IpLists_Get_200.json"
          }
        }
      },
      "put": {
        "tags": [
          "IpLists"
        ],
        "operationId": "IpLists_CreateOrUpdate",
        "description": "Create a IpList",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The name of the IpList",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/IpList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpList"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/IpList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpLists_CreateOrUpdate1": {
            "$ref": "./examples/IpLists_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "IpLists"
        ],
        "operationId": "IpLists_Update",
        "description": "Update a IpList",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The name of the IpList",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/IpListUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpLists_Update1": {
            "$ref": "./examples/IpLists_Update_200.json"
          }
        }
      },
      "delete": {
        "tags": [
          "IpLists"
        ],
        "operationId": "IpLists_Delete",
        "description": "Delete a IpList",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The name of the IpList",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpLists_Delete1": {
            "$ref": "./examples/IpLists_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppSecurity/policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_ListByResourceGroup",
        "description": "List Policy resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Policies_ListByResourceGroup1": {
            "$ref": "./examples/Policies_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppSecurity/policies/{policyName}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_Get",
        "description": "Get a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "description": "The name of the policy",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Get1": {
            "$ref": "./examples/Policies_Get_200.json"
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_CreateOrUpdate",
        "description": "Create a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "description": "The name of the policy",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_CreateOrUpdate1": {
            "$ref": "./examples/Policies_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_Delete",
        "description": "Delete a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "description": "The name of the policy",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Delete1": {
            "$ref": "./examples/Policies_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_TagsUpdate",
        "description": "Update a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "description": "The name of the policy",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/PolicyTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_TagsUpdate1": {
            "$ref": "./examples/Policies_TagsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppSecurity/policies/{policyName}/attach": {
      "post": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_Attach",
        "description": "Attach the policy to a list of endpoints",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "description": "The name of the policy",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/ProtectedEndpointList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectedEndpointList"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Attach1": {
            "$ref": "./examples/Policies_Attach.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppSecurity/policies/{policyName}/detach": {
      "post": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_Detach",
        "description": "Detach the policy from a list of endpoints",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "description": "The name of the policy",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/ProtectedEndpointList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProtectedEndpointList"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Detach1": {
            "$ref": "./examples/Policies_Detach.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApiProtection": {
      "type": "object",
      "properties": {
        "managedRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedRuleSet"
          },
          "x-ms-identifiers": [
            "ruleSetType",
            "ruleSetVersion"
          ],
          "description": "Describes the managedRules structure",
          "x-typespec-name": "ManagedRuleSet[]",
          "minItems": 1,
          "maxItems": 10
        }
      },
      "description": "API protection policy definition",
      "required": [
        "managedRules"
      ]
    },
    "BotProtection": {
      "type": "object",
      "properties": {
        "managedRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedRuleSet"
          },
          "x-ms-identifiers": [
            "ruleSetType",
            "ruleSetVersion"
          ],
          "description": "Describes the managedRules structure",
          "x-typespec-name": "ManagedRuleSet[]",
          "minItems": 1,
          "maxItems": 10
        }
      },
      "description": "Bot protection policy definition",
      "required": [
        "managedRules"
      ]
    },
    "CustomRule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the rule",
          "pattern": "^[a-zA-Z][a-zA-Z0-9]*$",
          "minLength": 1,
          "maxLength": 128
        },
        "state": {
          "$ref": "#/definitions/EnabledState",
          "description": "The state of the custom rule. Default is Enabled",
          "default": "Enabled"
        },
        "action": {
          "$ref": "#/definitions/CustomRuleActionType",
          "description": "Describes what action to be applied when rule matches"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Describes priority of the rule. Rules with a lower value will be evaluated before rules with a higher value",
          "minimum": 0,
          "maximum": 65535
        },
        "rateLimit": {
          "$ref": "#/definitions/RateLimit",
          "description": "Enables and configures a rate limit mechanism for the rule"
        },
        "matchConditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomRuleCondition"
          },
          "x-ms-identifiers": [],
          "description": "A list of conditions that must be met for the actions to be executed",
          "x-typespec-name": "CustomRuleCondition[]",
          "minItems": 1,
          "maxItems": 10
        }
      },
      "description": "Defines contents of a web application rule",
      "required": [
        "action",
        "priority",
        "matchConditions"
      ]
    },
    "CustomRuleActionType": {
      "type": "string",
      "description": "Describes the override action to be applied when custom rule matches",
      "enum": [
        "Allow",
        "Deny",
        "Log",
        "Redirect",
        "AnomalyScoring"
      ],
      "x-ms-enum": {
        "name": "CustomRuleActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Allow the request"
          },
          {
            "name": "Deny",
            "value": "Deny",
            "description": "Deny the request"
          },
          {
            "name": "Log",
            "value": "Log",
            "description": "Allow the request and log it"
          },
          {
            "name": "Redirect",
            "value": "Redirect",
            "description": "Redirect the request"
          },
          {
            "name": "AnomalyScoring",
            "value": "AnomalyScoring",
            "description": "Use Anomaly Scoring to decide wether to allow or deny"
          }
        ]
      }
    },
    "CustomRuleCondition": {
      "type": "object",
      "properties": {
        "conditionType": {
          "type": "string",
          "description": "Discriminator property for CustomRuleCondition."
        },
        "negationCondition": {
          "type": "boolean",
          "description": "Whether this is negate the condition. Default is false",
          "default": false
        }
      },
      "description": "Defines a custom rule condition",
      "discriminator": "conditionType",
      "required": [
        "conditionType"
      ]
    },
    "DdosProtection": {
      "type": "object",
      "properties": {
        "managedRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedRuleSet"
          },
          "x-ms-identifiers": [
            "ruleSetType",
            "ruleSetVersion"
          ],
          "description": "Describes the managedRules structure",
          "x-typespec-name": "ManagedRuleSet[]",
          "minItems": 1,
          "maxItems": 10
        }
      },
      "description": "DDoS protection policy definition",
      "required": [
        "managedRules"
      ]
    },
    "EnabledState": {
      "type": "string",
      "description": "Describes whether an object (a policy, a custom rule, a managed rule set or other objects) is enabled or disabled",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "EnabledState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The object is enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The object is disabled"
          }
        ]
      }
    },
    "Exclusion": {
      "type": "object",
      "properties": {
        "matchVariable": {
          "$ref": "#/definitions/ExclusionMatchVariable",
          "description": "The variable to be excluded"
        },
        "selectorMatchOperator": {
          "$ref": "#/definitions/ExclusionSelectorMatchOperator",
          "description": "When matchVariable is a collection, operate on the selector to specify which elements in the collection this exclusion applies to"
        },
        "selector": {
          "type": "string",
          "description": "When matchVariable is a collection, operator used to specify which elements in the collection this exclusion applies to"
        },
        "ruleGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleGroupScope"
          },
          "x-ms-identifiers": [
            "ruleGroupName"
          ],
          "description": "Exclusion scope. If not specified, then the exclusion is applied to the entire rule set",
          "x-typespec-name": "RuleGroupScope[]",
          "maxItems": 100
        }
      },
      "description": "Allow to exclude some variable satisfy the condition for the WAF check",
      "required": [
        "matchVariable",
        "selectorMatchOperator"
      ]
    },
    "ExclusionMatchVariable": {
      "type": "string",
      "description": "Variable variants that can be excluded when defining an Exclusion",
      "enum": [
        "RequestHeaderNames",
        "RequestCookieNames",
        "RequestArgNames",
        "RequestHeaderKeys",
        "RequestHeaderValues",
        "RequestCookieKeys",
        "RequestCookieValues",
        "RequestArgKeys",
        "RequestArgValues"
      ],
      "x-ms-enum": {
        "name": "ExclusionMatchVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "RequestHeaderNames",
            "value": "RequestHeaderNames",
            "description": "The request header"
          },
          {
            "name": "RequestCookieNames",
            "value": "RequestCookieNames",
            "description": "The request cookie"
          },
          {
            "name": "RequestArgNames",
            "value": "RequestArgNames",
            "description": "The request argument"
          },
          {
            "name": "RequestHeaderKeys",
            "value": "RequestHeaderKeys",
            "description": "The request header keys"
          },
          {
            "name": "RequestHeaderValues",
            "value": "RequestHeaderValues",
            "description": "The request header value"
          },
          {
            "name": "RequestCookieKeys",
            "value": "RequestCookieKeys",
            "description": "The request cookie keys"
          },
          {
            "name": "RequestCookieValues",
            "value": "RequestCookieValues",
            "description": "The request cookie values"
          },
          {
            "name": "RequestArgKeys",
            "value": "RequestArgKeys",
            "description": "The request argument keys"
          },
          {
            "name": "RequestArgValues",
            "value": "RequestArgValues",
            "description": "The request argument values"
          }
        ]
      }
    },
    "ExclusionSelectorMatchOperator": {
      "type": "string",
      "description": "Comparison operators variants that can be used with Exclusion variables when defining an Exclusion",
      "enum": [
        "Equals",
        "Contains",
        "StartsWith",
        "EndsWith",
        "EqualsAny"
      ],
      "x-ms-enum": {
        "name": "ExclusionSelectorMatchOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "Equals_",
            "value": "Equals",
            "description": "Equals"
          },
          {
            "name": "Contains",
            "value": "Contains",
            "description": "Contains"
          },
          {
            "name": "StartsWith",
            "value": "StartsWith",
            "description": "Starts with"
          },
          {
            "name": "EndsWith",
            "value": "EndsWith",
            "description": "Ends with"
          },
          {
            "name": "EqualsAny",
            "value": "EqualsAny",
            "description": "Equals any"
          }
        ]
      }
    },
    "ExistsMatchCondition": {
      "type": "object",
      "properties": {
        "matchVariable": {
          "$ref": "#/definitions/ExistsOperatorVariable",
          "description": "Variable to match against"
        },
        "matchValue": {
          "type": "string",
          "description": "This condition is met if the matchValue is one of the matchVariable's keys",
          "minLength": 0,
          "maxLength": 1024
        }
      },
      "description": "Defines a custom rule condition of type Exists",
      "required": [
        "matchVariable",
        "matchValue"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CustomRuleCondition"
        }
      ],
      "x-ms-discriminator-value": "Exists"
    },
    "ExistsOperatorVariable": {
      "type": "string",
      "description": "Defines the supported operator variables for an operation of type Exists",
      "enum": [
        "RequestHeader",
        "PostArgs",
        "RequestCookies"
      ],
      "x-ms-enum": {
        "name": "ExistsOperatorVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "RequestHeader",
            "value": "RequestHeader",
            "description": "Request header"
          },
          {
            "name": "PostArgs",
            "value": "PostArgs",
            "description": "Post arguments"
          },
          {
            "name": "RequestCookies",
            "value": "RequestCookies",
            "description": "Request cookies"
          }
        ]
      }
    },
    "GeoList": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GeoListProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "GeoList resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GeoListListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GeoList"
          },
          "description": "The GeoList items on this page",
          "x-typespec-name": "GeoList[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a GeoList list operation.",
      "required": [
        "value"
      ]
    },
    "GeoListProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        },
        "geoList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of countries or regions",
          "x-typespec-name": "string[]",
          "minItems": 1,
          "maxItems": 100
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of back references to policies that use this Geo list",
          "x-typespec-name": "string[]",
          "readOnly": true
        }
      },
      "description": "The GeoList properties",
      "required": [
        "geoList"
      ]
    },
    "GeoListResourceId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.AppSecurity/GeoLists"
          }
        ]
      }
    },
    "GeoListUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        },
        "properties": {
          "$ref": "#/definitions/GeoListUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the GeoList."
    },
    "GeoListUpdateProperties": {
      "type": "object",
      "properties": {
        "geoList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of countries or regions",
          "x-typespec-name": "string[]",
          "minItems": 1,
          "maxItems": 100
        }
      },
      "description": "The updatable properties of the GeoList."
    },
    "GeoMatchCondition": {
      "type": "object",
      "properties": {
        "matchVariable": {
          "$ref": "#/definitions/GeoOperatorVariable",
          "description": "Variable to match against"
        },
        "matchValue": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of countries or regions",
          "x-typespec-name": "string[]",
          "minItems": 1,
          "maxItems": 100
        }
      },
      "description": "Defines a custom rule condition of type Geo",
      "required": [
        "matchVariable",
        "matchValue"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CustomRuleCondition"
        }
      ],
      "x-ms-discriminator-value": "Geo"
    },
    "GeoOperatorVariable": {
      "type": "string",
      "description": "Defines the operator variables for the Geo match operation",
      "enum": [
        "ClientAddr"
      ],
      "x-ms-enum": {
        "name": "GeoOperatorVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "ClientAddr",
            "value": "ClientAddr",
            "description": "The client IP address"
          }
        ]
      }
    },
    "IpList": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IpListProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "IpList resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "IpListListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpList"
          },
          "description": "The IpList items on this page",
          "x-typespec-name": "IpList[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a IpList list operation.",
      "required": [
        "value"
      ]
    },
    "IpListProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        },
        "ipList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of IP addresses and ranges",
          "x-typespec-name": "string[]",
          "minItems": 1,
          "maxItems": 600
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of back references to policies that use this IP list",
          "x-typespec-name": "string[]",
          "readOnly": true
        }
      },
      "description": "The IpList properties",
      "required": [
        "ipList"
      ]
    },
    "IpListResourceId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.AppSecurity/IpLists"
          }
        ]
      }
    },
    "IpListUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        },
        "properties": {
          "$ref": "#/definitions/IpListUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the IpList."
    },
    "IpListUpdateProperties": {
      "type": "object",
      "properties": {
        "ipList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of IP addresses and ranges",
          "x-typespec-name": "string[]",
          "minItems": 1,
          "maxItems": 600
        }
      },
      "description": "The updatable properties of the IpList."
    },
    "IpMatchCondition": {
      "type": "object",
      "properties": {
        "matchVariable": {
          "$ref": "#/definitions/IpOperatorVariable",
          "description": "Variable to match against"
        },
        "matchValue": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of mutually disjoint IP addresses or CIDR ranges (IPv4 or IPv6)",
          "x-typespec-name": "string[]",
          "minItems": 1,
          "maxItems": 600
        }
      },
      "description": "Defines a custom rule condition of type Ip",
      "required": [
        "matchVariable",
        "matchValue"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CustomRuleCondition"
        }
      ],
      "x-ms-discriminator-value": "Ip"
    },
    "IpOperatorVariable": {
      "type": "string",
      "description": "Defines the operator variables for the Ip match operation",
      "enum": [
        "ClientAddr"
      ],
      "x-ms-enum": {
        "name": "IpOperatorVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "ClientAddr",
            "value": "ClientAddr",
            "description": "The client IP address"
          }
        ]
      }
    },
    "LogScrubbing": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/EnabledState",
          "description": "The state of the log scrubbing config. Default value is Enabled",
          "default": "Enabled"
        },
        "scrubbingRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScrubbingRule"
          },
          "x-ms-identifiers": [],
          "description": "The rules that are applied to the logs for scrubbing",
          "x-typespec-name": "ScrubbingRule[]",
          "maxItems": 100
        }
      },
      "description": "Log scrubbing configuration, to allow certain variables to be scrubbed on WAF logs",
      "required": [
        "scrubbingRules"
      ]
    },
    "ManagedRuleSet": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/EnabledState",
          "description": "The state of the rule set. Default is Enabled",
          "default": "Enabled"
        },
        "ruleSetType": {
          "type": "string",
          "description": "Defines the rule set type to use",
          "minLength": 1,
          "maxLength": 30
        },
        "ruleSetVersion": {
          "type": "string",
          "description": "Defines the version of the rule set to use",
          "minLength": 1,
          "maxLength": 20
        },
        "ruleGroupOverrides": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleGroupOverride"
          },
          "x-ms-identifiers": [
            "ruleGroupName"
          ],
          "description": "Defines the rule group overrides to apply to the rule set",
          "x-typespec-name": "RuleGroupOverride[]",
          "maxItems": 100
        },
        "exclusions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Exclusion"
          },
          "x-ms-identifiers": [],
          "description": "The exclusions that are applied on the managed rule set",
          "x-typespec-name": "Exclusion[]",
          "maxItems": 100
        }
      },
      "description": "Defines a managed rule set",
      "required": [
        "ruleSetType",
        "ruleSetVersion"
      ]
    },
    "Policy": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Policy resource definition",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PolicyListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Policy"
          },
          "description": "The Policy items on this page",
          "x-typespec-name": "Policy[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a Policy list operation.",
      "required": [
        "value"
      ]
    },
    "PolicyMode": {
      "type": "string",
      "description": "Supported policy modes",
      "enum": [
        "Prevention",
        "Detection"
      ],
      "x-ms-enum": {
        "name": "PolicyMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Prevention",
            "value": "Prevention",
            "description": "The policy is in prevention mode. Requests are inspected and not blocked accordingly"
          },
          {
            "name": "Detection",
            "value": "Detection",
            "description": "The policy is in detection mode. Requests are inspected but not blocked"
          }
        ]
      }
    },
    "PolicyProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        },
        "policySettings": {
          "$ref": "#/definitions/PolicySettings",
          "description": "Describes settings for the policy"
        },
        "protectedEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProtectedEndpoint"
          },
          "x-ms-identifiers": [
            "endpointId"
          ],
          "description": "The list of endpoints this policy protects",
          "x-typespec-name": "ProtectedEndpoint[]",
          "maxItems": 100,
          "readOnly": true
        },
        "logScrubbing": {
          "$ref": "#/definitions/LogScrubbing",
          "description": "Rules for scrubbing sensitive log fields"
        },
        "customRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomRule"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "The custom rules inside the policy",
          "x-typespec-name": "CustomRule[]",
          "maxItems": 100
        },
        "webProtection": {
          "$ref": "#/definitions/WebProtection",
          "description": "Describes the web protection policy"
        },
        "apiProtection": {
          "$ref": "#/definitions/ApiProtection",
          "description": "Describes the API protection policy"
        },
        "botProtection": {
          "$ref": "#/definitions/BotProtection",
          "description": "Describes the bot protection policy"
        }
      },
      "description": "The Policy properties",
      "required": [
        "policySettings",
        "customRules",
        "webProtection",
        "apiProtection",
        "botProtection"
      ]
    },
    "PolicySettings": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/EnabledState",
          "description": "The state of the policy. Default value is Enabled",
          "default": "Enabled"
        },
        "mode": {
          "$ref": "#/definitions/PolicyMode",
          "description": "The mode of the policy. Default value is Detection",
          "default": "Detection"
        },
        "redirectUrl": {
          "type": "string",
          "description": "If action type is redirect, this field represents redirect URL for the client",
          "minLength": 3,
          "maxLength": 2048,
          "default": ""
        },
        "customBlockResponseStatusCode": {
          "type": "integer",
          "format": "int64",
          "description": "If the action type is block, customer can override the response status code",
          "minimum": 0
        },
        "customBlockResponseBody": {
          "type": "string",
          "description": "If the action type is block, customer can override the response body. The body must be specified in base64 encoding",
          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$",
          "maxLength": 32768
        },
        "requestBodyCheck": {
          "$ref": "#/definitions/EnabledState",
          "description": "Describes if policy managed rules will inspect the request body content. Default value is Enable",
          "default": "Enabled"
        },
        "maxRequestBodySizeInKb": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum request body size in Kb for WAF",
          "minimum": 8
        },
        "fileUploadLimitInMb": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum file upload size in Mb for WAF",
          "minimum": 0
        }
      },
      "description": "Defines top-level policy settings"
    },
    "PolicyTagsUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        }
      },
      "description": "The type used for updating tags in Policy resources."
    },
    "ProtectedEndpoint": {
      "type": "object",
      "properties": {
        "endpointId": {
          "$ref": "#/definitions/ProtectedEndpointId",
          "description": "Fully qualified ARM ID of the endpoint to protect"
        },
        "attachmentState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last attachment operation between the policy and the endpoint",
          "readOnly": true
        }
      },
      "description": "Protected endpoint definition",
      "required": [
        "endpointId"
      ]
    },
    "ProtectedEndpointId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/applicationGateways"
          },
          {
            "type": "Microsoft.Network/applicationGateways/httpListeners"
          },
          {
            "type": "Microsoft.Network/applicationGateways/requestRoutingRules"
          },
          {
            "type": "Microsoft.CDN/frontdoors"
          }
        ]
      }
    },
    "ProtectedEndpointList": {
      "type": "object",
      "properties": {
        "protectedEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProtectedEndpoint"
          },
          "x-ms-identifiers": [
            "endpointId"
          ],
          "description": "List of endpoints to attach/detach to the policy, or that are currently protected by the policy",
          "x-typespec-name": "ProtectedEndpoint[]",
          "maxItems": 100
        }
      },
      "description": "Request or response body of endpoints attachment/detachment operation",
      "required": [
        "protectedEndpoints"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning the resource is in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The change request has been accepted"
          }
        ]
      }
    },
    "RateLimit": {
      "type": "object",
      "properties": {
        "limitType": {
          "$ref": "#/definitions/RateLimitType",
          "description": "Rate limiting is done based on the limit type"
        },
        "durationInMinutes": {
          "type": "integer",
          "format": "int64",
          "description": "Time window for resetting the rate limit count. Default is 1 minute",
          "minimum": 1,
          "maximum": 5,
          "default": 1
        },
        "maxRequestsPerSecond": {
          "type": "integer",
          "format": "int64",
          "description": "Max number of allowed requests per limit type, within the defined duration",
          "minimum": 1
        }
      },
      "description": "Describes the rate limit configuration of a rule",
      "required": [
        "limitType",
        "maxRequestsPerSecond"
      ]
    },
    "RateLimitType": {
      "type": "string",
      "description": "Supported rate limiting types",
      "enum": [
        "ClientIp",
        "Geo",
        "DestinationIp"
      ],
      "x-ms-enum": {
        "name": "RateLimitType",
        "modelAsString": true,
        "values": [
          {
            "name": "ClientIp",
            "value": "ClientIp",
            "description": "Rate limiting is done based on the client IP"
          },
          {
            "name": "Geo",
            "value": "Geo",
            "description": "Rate limiting is done based on the geographic location of the request"
          },
          {
            "name": "DestinationIp",
            "value": "DestinationIp",
            "description": "Rate limiting is done based on the destination IP"
          }
        ]
      }
    },
    "RuleGroupOverride": {
      "type": "object",
      "properties": {
        "ruleGroupName": {
          "type": "string",
          "description": "The managed rule group to override",
          "minLength": 1,
          "maxLength": 128
        },
        "groupOverride": {
          "$ref": "#/definitions/StateAndActionOverride",
          "description": "Group level override"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleOverride"
          },
          "x-ms-identifiers": [
            "ruleId"
          ],
          "description": "List of rule level overrides",
          "x-typespec-name": "RuleOverride[]",
          "maxItems": 100
        }
      },
      "description": "Defines a managed rule group override setting",
      "required": [
        "ruleGroupName"
      ]
    },
    "RuleGroupScope": {
      "type": "object",
      "properties": {
        "ruleGroupName": {
          "type": "string",
          "description": "Relevant rule group name"
        },
        "rules": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Relevant rules within the specified rule group. If not specified, the scope is the entire rule group.",
          "x-typespec-name": "string[]",
          "maxItems": 100
        }
      },
      "description": "Defines a rule group scope, which can be the entire rule group or a subset of rule within it",
      "required": [
        "ruleGroupName"
      ]
    },
    "RuleOverride": {
      "type": "object",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "Identifier for the managed rule"
        },
        "state": {
          "$ref": "#/definitions/EnabledState",
          "description": "The state of the managed rule or rule group"
        },
        "action": {
          "$ref": "#/definitions/WafActionType",
          "description": "Overrides the action to be applied when a rule matches"
        }
      },
      "description": "Defines a managed rule group override setting",
      "required": [
        "ruleId",
        "state"
      ]
    },
    "ScrubbingRule": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/EnabledState",
          "description": "Defines the state of log scrubbing rule. Default value is Enabled",
          "default": "Enabled"
        },
        "matchVariable": {
          "$ref": "#/definitions/ScrubbingRuleMatchVariable",
          "description": "The variable to be scrubbed from the logs"
        },
        "selectorMatchOperator": {
          "$ref": "#/definitions/ScrubbingRuleSelectorMatchOperator",
          "description": "When matchVariable is a collection, operate on the selector to specify which elements in the collection this rule applies to"
        },
        "selector": {
          "type": "string",
          "description": "When matchVariable is a collection, operator used to specify which elements in the collection this rule applies to",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "description": "Allow certain variables to be scrubbed on WAF logs",
      "required": [
        "matchVariable",
        "selectorMatchOperator",
        "selector"
      ]
    },
    "ScrubbingRuleMatchVariable": {
      "type": "string",
      "description": "Supported variable types for scrubbing rules",
      "enum": [
        "RequestHeaderNames",
        "RequestCookieNames",
        "RequestArgNames",
        "RequestPostArgNames",
        "RequestJSONArgNames",
        "RequestIPAddress"
      ],
      "x-ms-enum": {
        "name": "ScrubbingRuleMatchVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "RequestHeaderNames",
            "value": "RequestHeaderNames",
            "description": "The request headers to be scrubbed"
          },
          {
            "name": "RequestCookieNames",
            "value": "RequestCookieNames",
            "description": "The request cookies to be scrubbed"
          },
          {
            "name": "RequestArgNames",
            "value": "RequestArgNames",
            "description": "The request arguments to be scrubbed"
          },
          {
            "name": "RequestPostArgNames",
            "value": "RequestPostArgNames",
            "description": "The request post arguments to be scrubbed"
          },
          {
            "name": "RequestJSONArgNames",
            "value": "RequestJSONArgNames",
            "description": "The request JSON arguments to be scrubbed"
          },
          {
            "name": "RequestIPAddress",
            "value": "RequestIPAddress",
            "description": "The request IP address"
          }
        ]
      }
    },
    "ScrubbingRuleSelectorMatchOperator": {
      "type": "string",
      "description": "Supported operators for scrubbing rules",
      "enum": [
        "Equals",
        "EqualsAny"
      ],
      "x-ms-enum": {
        "name": "ScrubbingRuleSelectorMatchOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "Equals_",
            "value": "Equals",
            "description": "Equals operator"
          },
          {
            "name": "EqualsAny",
            "value": "EqualsAny",
            "description": "Equals any operator"
          }
        ]
      }
    },
    "StateAndActionOverride": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/EnabledState",
          "description": "The state of the managed rule or rule group"
        },
        "action": {
          "$ref": "#/definitions/WafActionType",
          "description": "Overrides the action to be applied when a rule matches"
        }
      },
      "description": "Defines a managed rule or rule group override",
      "required": [
        "state"
      ]
    },
    "StringMatchCondition": {
      "type": "object",
      "properties": {
        "operator": {
          "$ref": "#/definitions/StringOperator",
          "description": "String operator to use when matching with the match values"
        },
        "matchVariable": {
          "$ref": "#/definitions/StringOperatorVariable",
          "description": "Variable to match against"
        },
        "selector": {
          "type": "string",
          "description": "Match against a specific key from RequestHeader, PostArgs and RequestCookies. Default is Null",
          "minLength": 1,
          "maxLength": 128
        },
        "matchValue": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The condition is met if any of the values match the variable with the given operator",
          "x-typespec-name": "string[]",
          "minItems": 1,
          "maxItems": 10
        },
        "transformations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransformType"
          },
          "description": "Describes what transforms applied before matching",
          "x-typespec-name": "TransformType[]",
          "maxItems": 20
        }
      },
      "description": "Defines a custom rule condition of type String",
      "required": [
        "operator",
        "matchVariable",
        "matchValue"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CustomRuleCondition"
        }
      ],
      "x-ms-discriminator-value": "String"
    },
    "StringOperator": {
      "type": "string",
      "description": "Operators that can be applied in conditions of type String",
      "enum": [
        "Equals",
        "Contains",
        "BeginsWith",
        "EndsWith",
        "Regex",
        "GeoMatch"
      ],
      "x-ms-enum": {
        "name": "StringOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "Equals_",
            "value": "Equals",
            "description": "Equals"
          },
          {
            "name": "Contains",
            "value": "Contains",
            "description": "Contains"
          },
          {
            "name": "BeginsWith",
            "value": "BeginsWith",
            "description": "Starts with"
          },
          {
            "name": "EndsWith",
            "value": "EndsWith",
            "description": "Ends with"
          },
          {
            "name": "Regex",
            "value": "Regex",
            "description": "Regex match"
          },
          {
            "name": "GeoMatch",
            "value": "GeoMatch",
            "description": "Geographic match"
          }
        ]
      }
    },
    "StringOperatorVariable": {
      "type": "string",
      "description": "Defines the supported operator variables for string operations",
      "enum": [
        "QueryString",
        "RequestMethod",
        "RequestUri",
        "RequestBody",
        "RequestHeader",
        "PostArgs",
        "RequestCookies"
      ],
      "x-ms-enum": {
        "name": "StringOperatorVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "QueryString",
            "value": "QueryString",
            "description": "Query string"
          },
          {
            "name": "RequestMethod",
            "value": "RequestMethod",
            "description": "Request method"
          },
          {
            "name": "RequestUri",
            "value": "RequestUri",
            "description": "Request URI"
          },
          {
            "name": "RequestBody",
            "value": "RequestBody",
            "description": "Request body"
          },
          {
            "name": "RequestHeader",
            "value": "RequestHeader",
            "description": "Request header"
          },
          {
            "name": "PostArgs",
            "value": "PostArgs",
            "description": "Post arguments"
          },
          {
            "name": "RequestCookies",
            "value": "RequestCookies",
            "description": "Request cookies"
          }
        ]
      }
    },
    "StringSizeNumberOperatorVariable": {
      "type": "string",
      "description": "Defines the supported operator variables for string, size and number operations",
      "enum": [
        "QueryString",
        "RequestMethod",
        "RequestUri",
        "RequestBody",
        "RequestHeader",
        "PostArgs",
        "RequestCookies"
      ],
      "x-ms-enum": {
        "name": "StringSizeNumberOperatorVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "QueryString",
            "value": "QueryString",
            "description": "Query string"
          },
          {
            "name": "RequestMethod",
            "value": "RequestMethod",
            "description": "Request method"
          },
          {
            "name": "RequestUri",
            "value": "RequestUri",
            "description": "Request URI"
          },
          {
            "name": "RequestBody",
            "value": "RequestBody",
            "description": "Request body"
          },
          {
            "name": "RequestHeader",
            "value": "RequestHeader",
            "description": "Request header"
          },
          {
            "name": "PostArgs",
            "value": "PostArgs",
            "description": "Post arguments"
          },
          {
            "name": "RequestCookies",
            "value": "RequestCookies",
            "description": "Request cookies"
          }
        ]
      }
    },
    "TransformType": {
      "type": "string",
      "description": "Transforms that can be applied before matching",
      "enum": [
        "Uppercase",
        "Lowercase",
        "Trim",
        "UrlDecode",
        "UrlEncode",
        "RemoveNulls",
        "HtmlEntityDecode"
      ],
      "x-ms-enum": {
        "name": "TransformType",
        "modelAsString": true,
        "values": [
          {
            "name": "Uppercase",
            "value": "Uppercase",
            "description": "Converts the string to uppercase"
          },
          {
            "name": "Lowercase",
            "value": "Lowercase",
            "description": "Converts the string to lowercase"
          },
          {
            "name": "Trim",
            "value": "Trim",
            "description": "Trims the string"
          },
          {
            "name": "UrlDecode",
            "value": "UrlDecode",
            "description": "Performs URL decoding"
          },
          {
            "name": "UrlEncode",
            "value": "UrlEncode",
            "description": "Performs URL encoding"
          },
          {
            "name": "RemoveNulls",
            "value": "RemoveNulls",
            "description": "Removes nulls"
          },
          {
            "name": "HtmlEntityDecode",
            "value": "HtmlEntityDecode",
            "description": "Performs HTML entity decoding"
          }
        ]
      }
    },
    "Versions": {
      "type": "string",
      "description": "AppSecurity versions",
      "enum": [
        "2023-02-06-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_02_06_preview",
            "value": "2023-02-06-preview",
            "description": "Version 2023-02-06-preview"
          }
        ]
      }
    },
    "WafActionType": {
      "type": "string",
      "description": "Supported action that can be applied if a rule matches",
      "enum": [
        "AnomalyScoring",
        "Allow",
        "Block",
        "Log",
        "Redirect"
      ],
      "x-ms-enum": {
        "name": "WafActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "AnomalyScoring",
            "value": "AnomalyScoring",
            "description": "Anomaly scoring action"
          },
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Allow the request"
          },
          {
            "name": "Block",
            "value": "Block",
            "description": "Block the request"
          },
          {
            "name": "Log",
            "value": "Log",
            "description": "Log the request and allow it"
          },
          {
            "name": "Redirect",
            "value": "Redirect",
            "description": "Redirect the request"
          }
        ]
      }
    },
    "WebProtection": {
      "type": "object",
      "properties": {
        "managedRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedRuleSet"
          },
          "x-ms-identifiers": [
            "ruleSetType",
            "ruleSetVersion"
          ],
          "description": "Describes the managedRules structure",
          "x-typespec-name": "ManagedRuleSet[]",
          "minItems": 1,
          "maxItems": 10
        }
      },
      "description": "Web protection policy definition",
      "required": [
        "managedRules"
      ]
    },
    "WithSelectorOperatorVariable": {
      "type": "string",
      "description": "Defines the operator variable that requires a selector",
      "enum": [
        "RequestHeader",
        "PostArgs",
        "RequestCookies"
      ],
      "x-ms-enum": {
        "name": "WithSelectorOperatorVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "RequestHeader",
            "value": "RequestHeader",
            "description": "Request header"
          },
          {
            "name": "PostArgs",
            "value": "PostArgs",
            "description": "Post arguments"
          },
          {
            "name": "RequestCookies",
            "value": "RequestCookies",
            "description": "Request cookies"
          }
        ]
      }
    }
  },
  "parameters": {}
}
