{
  "swagger": "2.0",
  "info": {
    "title": "Azure Throttling",
    "version": "2022-06-01-preview",
    "description": "Azure Throttling Solutions (ATS)",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Categories"
    },
    {
      "name": "Thresholds"
    }
  ],
  "paths": {
    "/providers/Microsoft.Throttling/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Throttling/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ListBySubscription",
        "description": "List Account resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Accounts_ListBySubscription": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Throttling/accounts/{accountName}/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_ListBySubscription",
        "description": "List Category resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Categories_ListBySubscription": {
            "$ref": "./examples/Categories_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Throttling/accounts/{accountName}/categories/{categoryName}/thresholds": {
      "get": {
        "tags": [
          "Thresholds"
        ],
        "operationId": "Thresholds_ListBySubscription",
        "description": "List Threshold resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThresholdListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Thresholds_ListBySubscription": {
            "$ref": "./examples/Thresholds_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ListByResourceGroup",
        "description": "List Account resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Accounts_ListByResourceGroup": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts/{accountName}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Get",
        "description": "Get a Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "./examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_CreateOrUpdate",
        "description": "Create a Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_CreateOrUpdate": {
            "$ref": "./examples/Accounts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Update",
        "description": "Update a Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/AccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "./examples/Accounts_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Delete",
        "description": "Delete a Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts/{accountName}/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_ListByAccount",
        "description": "List Category resources by Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Categories_ListByAccount": {
            "$ref": "./examples/Categories_ListByAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts/{accountName}/categories/{categoryName}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_Get",
        "description": "Get a Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_Get": {
            "$ref": "./examples/Categories_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_CreateOrUpdate",
        "description": "Create a Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_CreateOrUpdate": {
            "$ref": "./examples/Categories_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_Update",
        "description": "Update a Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/CategoryUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_Update": {
            "$ref": "./examples/Categories_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_Delete",
        "description": "Delete a Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_Delete": {
            "$ref": "./examples/Categories_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts/{accountName}/categories/{categoryName}/thresholds": {
      "get": {
        "tags": [
          "Thresholds"
        ],
        "operationId": "Thresholds_ListByCategory",
        "description": "List Threshold resources by Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ThresholdListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Thresholds_ListByCategory": {
            "$ref": "./examples/Thresholds_ListByCategory.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts/{accountName}/categories/{categoryName}/thresholds/{thresholdName}": {
      "get": {
        "tags": [
          "Thresholds"
        ],
        "operationId": "Thresholds_Get",
        "description": "Get a Threshold",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          },
          {
            "name": "thresholdName",
            "in": "path",
            "required": true,
            "description": "Throttling threshold",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Threshold"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Thresholds_Get": {
            "$ref": "./examples/Thresholds_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Thresholds"
        ],
        "operationId": "Thresholds_CreateOrUpdate",
        "description": "Create a Threshold",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          },
          {
            "name": "thresholdName",
            "in": "path",
            "required": true,
            "description": "Throttling threshold",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Threshold"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Threshold"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Threshold"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Thresholds_CreateOrUpdate": {
            "$ref": "./examples/Thresholds_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Thresholds"
        ],
        "operationId": "Thresholds_Update",
        "description": "Update a Threshold",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          },
          {
            "name": "thresholdName",
            "in": "path",
            "required": true,
            "description": "Throttling threshold",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ThresholdUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Threshold"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Thresholds_Update": {
            "$ref": "./examples/Thresholds_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Thresholds"
        ],
        "operationId": "Thresholds_Delete",
        "description": "Delete a Threshold",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "description": "Account name",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "path",
            "required": true,
            "description": "Category name",
            "type": "string"
          },
          {
            "name": "thresholdName",
            "in": "path",
            "required": true,
            "description": "Throttling threshold",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Thresholds_Delete": {
            "$ref": "./examples/Thresholds_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AccountProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "Throttling account",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AccountListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Account"
          },
          "x-cadl-name": "Account[]",
          "description": "The Account items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "format": "uri",
          "x-cadl-name": "Rest.ResourceLocation<Account>"
        }
      },
      "description": "The response of a Account list operation.",
      "required": [
        "value"
      ]
    },
    "AccountProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "Endpoint address to be used by Throttling client",
          "readOnly": true
        },
        "authentication": {
          "$ref": "#/definitions/AuthenticationProperties",
          "description": "Account authentication properties"
        }
      },
      "description": "Account properties",
      "required": [
        "authentication"
      ]
    },
    "AccountUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/AccountUpdateProperties"
        }
      },
      "description": "The type used for update operations of the Account."
    },
    "AccountUpdateProperties": {
      "type": "object",
      "properties": {
        "authentication": {
          "$ref": "#/definitions/AuthenticationProperties",
          "description": "Account authentication properties"
        }
      },
      "description": "The updatable properties of the Account."
    },
    "AuthenticationProperties": {
      "type": "object",
      "properties": {
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateProperties"
          },
          "x-ms-identifiers": [
            "subjectName"
          ],
          "x-cadl-name": "CertificateProperties[]",
          "description": "Certificate-based authentication properties"
        },
        "azureActiveDirectory": {
          "$ref": "#/definitions/AzureActiveDirectoryProperties",
          "description": "AzureAD-based authentication properties"
        }
      },
      "description": "Account authentication properties"
    },
    "AzureActiveDirectoryProperties": {
      "type": "object",
      "properties": {
        "userAssignedIdentities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceIdentifier"
          },
          "x-cadl-name": "ResourceIdentifier[]",
          "description": "List of permitted user-assigned managed identities",
          "minItems": 1
        }
      },
      "description": "AzureAD-based authentication properties",
      "required": [
        "userAssignedIdentities"
      ]
    },
    "Category": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CategoryProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "Throttling category",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CategoryListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Category"
          },
          "x-cadl-name": "Category[]",
          "description": "The Category items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "format": "uri",
          "x-cadl-name": "Rest.ResourceLocation<Category>"
        }
      },
      "description": "The response of a Category list operation.",
      "required": [
        "value"
      ]
    },
    "CategoryProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "windowDuration": {
          "type": "string",
          "format": "duration",
          "description": "Window duration"
        }
      },
      "description": "Category properties",
      "required": [
        "windowDuration"
      ]
    },
    "CategoryUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CategoryUpdateProperties"
        }
      },
      "description": "The type used for update operations of the Category."
    },
    "CategoryUpdateProperties": {
      "type": "object",
      "properties": {
        "windowDuration": {
          "type": "string",
          "format": "duration",
          "description": "Window duration"
        }
      },
      "description": "The updatable properties of the Category."
    },
    "CertificateProperties": {
      "type": "object",
      "properties": {
        "subjectName": {
          "type": "string",
          "description": "Certificate subject name"
        }
      },
      "description": "Certificate-based authentication properties",
      "required": [
        "subjectName"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ProvisioningStateKV": {
      "type": "string",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningStateKV",
        "modelAsString": false
      }
    },
    "ResourceIdentifier": {
      "type": "string",
      "description": "User-assigned managed identity ARM resource id",
      "format": "arm-id"
    },
    "Threshold": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ThresholdProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "Throttling category",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ThresholdListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Threshold"
          },
          "x-cadl-name": "Threshold[]",
          "description": "The Threshold items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "format": "uri",
          "x-cadl-name": "Rest.ResourceLocation<Threshold>"
        }
      },
      "description": "The response of a Threshold list operation.",
      "required": [
        "value"
      ]
    },
    "ThresholdProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "decisionType": {
          "type": "string",
          "description": "Threshold decision type, arbitrary string to be returned to the client",
          "maxLength": 128
        },
        "value": {
          "type": "integer",
          "format": "int32",
          "description": "Value of the limit"
        },
        "depth": {
          "type": "integer",
          "format": "int32",
          "description": "Depth of the bucket",
          "minimum": 0,
          "maximum": 16
        },
        "minDecisionDuration": {
          "type": "string",
          "format": "duration",
          "description": "Minimal decision duration"
        }
      },
      "description": "Threshold properties",
      "required": [
        "decisionType",
        "value",
        "depth",
        "minDecisionDuration"
      ]
    },
    "ThresholdUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ThresholdUpdateProperties"
        }
      },
      "description": "The type used for update operations of the Threshold."
    },
    "ThresholdUpdateProperties": {
      "type": "object",
      "properties": {
        "decisionType": {
          "type": "string",
          "description": "Threshold decision type, arbitrary string to be returned to the client",
          "maxLength": 128
        },
        "value": {
          "type": "integer",
          "format": "int32",
          "description": "Value of the limit"
        },
        "depth": {
          "type": "integer",
          "format": "int32",
          "description": "Depth of the bucket",
          "minimum": 0,
          "maximum": 16
        },
        "minDecisionDuration": {
          "type": "string",
          "format": "duration",
          "description": "Minimal decision duration"
        }
      },
      "description": "The updatable properties of the Threshold."
    }
  },
  "parameters": {}
}
