{
	"swagger": "2.0",
	"info": {
		"title": "PlayFab2",
		"version": "2021-09-07-alpha"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow.",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"tags": [
		{
			"name": "Operations"
		},
		{
			"name": "PlayerAccountPools"
		},
		{
			"name": "Titles"
		},
		{
			"name": "CloudScripts"
		},
		{
			"name": "Segments"
		},
		{
		  "name": "TitleDatas"
		}
	],
	"paths": {
		"/providers/Microsoft.PlayFab2/operations": {
			"get": {
				"operationId": "Operations_List",
				"summary": "List the operations for Microsoft.PlayFab2",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"Operations"
				],
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
				"x-ms-examples": {
					"Operations_List": {
						"$ref": "./examples/Operations_List.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerAccountPools/{playerAccountPoolName}": {
			"get": {
				"operationId": "PlayerAccountPools_Get",
				"summary": "Get a PlayerAccountPool",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/PlayerAccountPoolNameParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/PlayerAccountPool"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"PlayerAccountPools"
				],
				"x-ms-examples": {
					"PlayerAccountPools_Get": {
						"$ref": "./examples/PlayerAccountPools_Get.json"
					}
				}
			},
			"put": {
				"operationId": "PlayerAccountPools_CreateOrUpdate",
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "azure-async-operation"
				},
				"summary": "Create a PlayerAccountPool",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/PlayerAccountPoolNameParameter"
					},
					{
						"name": "resource",
						"in": "body",
						"required": true,
						"description": "Resource create parameters.",
						"schema": {
							"$ref": "#/definitions/PlayerAccountPool"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/PlayerAccountPool"
						}
					},
					"201": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM create operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/PlayerAccountPool"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"PlayerAccountPools"
				],
				"x-ms-examples": {
					"PlayerAccountPools_CreateOrUpdate": {
						"$ref": "./examples/PlayerAccountPools_CreateOrUpdate.json"
					}
				}
			},
			"patch": {
				"operationId": "PlayerAccountPools_Update",
				"summary": "Update a PlayerAccountPool",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/PlayerAccountPoolNameParameter"
					},
					{
						"name": "resource",
						"in": "body",
						"required": true,
						"description": "The resource properties to be updated.",
						"schema": {
							"$ref": "#/definitions/PlayerAccountPoolUpdate"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/PlayerAccountPool"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"PlayerAccountPools"
				],
				"x-ms-examples": {
					"PlayerAccountPools_Update": {
						"$ref": "./examples/PlayerAccountPools_Update.json"
					}
				}
			},
			"delete": {
				"operationId": "PlayerAccountPools_Delete",
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "azure-async-operation"
				},
				"summary": "Delete a PlayerAccountPool",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/PlayerAccountPoolNameParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deleted successfully."
					},
					"202": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deletion accepted."
					},
					"204": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deleted successfully."
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"PlayerAccountPools"
				],
				"x-ms-examples": {
					"PlayerAccountPools_Delete": {
						"$ref": "./examples/PlayerAccountPools_Delete.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/playerAccountPools": {
			"get": {
				"operationId": "PlayerAccountPools_ListBySubscription",
				"summary": "List PlayerAccountPool resources by subscription ID",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/PlayerAccountPoolListResult"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"PlayerAccountPools"
				],
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
				"x-ms-examples": {
					"PlayerAccountPools_ListBySubscription": {
						"$ref": "./examples/PlayerAccountPools_ListBySubscription.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerAccountPools": {
			"get": {
				"operationId": "PlayerAccountPools_ListByResourceGroup",
				"summary": "List PlayerAccountPool resources by resource group",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/PlayerAccountPoolListResult"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"PlayerAccountPools"
				],
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
				"x-ms-examples": {
					"PlayerAccountPools_ListByResourceGroup": {
						"$ref": "./examples/PlayerAccountPools_ListByResourceGroup.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}": {
			"get": {
				"operationId": "Titles_Get",
				"summary": "Get a Title",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/TitleNameParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/Title"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"Titles"
				],
				"x-ms-examples": {
					"Titles_Get": {
						"$ref": "./examples/Titles_Get.json"
					}
				}
			},
			"put": {
				"operationId": "Titles_CreateOrUpdate",
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "azure-async-operation"
				},
				"summary": "Create a Title",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/TitleNameParameter"
					},
					{
						"name": "resource",
						"in": "body",
						"required": true,
						"description": "Resource create parameters.",
						"schema": {
							"$ref": "#/definitions/Title"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/Title"
						}
					},
					"201": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM create operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/Title"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"Titles"
				],
				"x-ms-examples": {
					"Titles_CreateOrUpdate": {
						"$ref": "./examples/Titles_CreateOrUpdate.json"
					}
				}
			},
			"patch": {
				"operationId": "Titles_Update",
				"summary": "Update a Title",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/TitleNameParameter"
					},
					{
						"name": "resource",
						"in": "body",
						"required": true,
						"description": "The resource properties to be updated.",
						"schema": {
							"$ref": "#/definitions/Title"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/Title"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"Titles"
				],
				"x-ms-examples": {
					"Titles_Update": {
						"$ref": "./examples/Titles_Update.json"
					}
				}
			},
			"delete": {
				"operationId": "Titles_Delete",
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "azure-async-operation"
				},
				"summary": "Delete a Title",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/TitleNameParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deleted successfully."
					},
					"202": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deletion accepted."
					},
					"204": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deleted successfully."
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"Titles"
				],
				"x-ms-examples": {
					"Titles_Delete": {
						"$ref": "./examples/Titles_Delete.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/titles": {
			"get": {
				"operationId": "Titles_ListBySubscription",
				"summary": "List Title resources by subscription ID",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/TitleListResult"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"Titles"
				],
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
				"x-ms-examples": {
					"Titles_ListBySubscription": {
						"$ref": "./examples/Titles_ListBySubscription.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles": {
			"get": {
				"operationId": "Titles_ListByResourceGroup",
				"summary": "List Title resources by resource group",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/TitleListResult"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"Titles"
				],
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
				"x-ms-examples": {
					"Titles_ListByResourceGroup": {
						"$ref": "./examples/Titles_ListByResourceGroup.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/cloudscripts/{cloudScriptName}": {
			"get": {
				"operationId": "CloudScripts_Get",
				"summary": "Get a CloudScript",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/TitleNameParameter"
					},
					{
						"$ref": "#/parameters/CloudScriptNameParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/CloudScript"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"CloudScripts"
				],
				"x-ms-examples": {
					"CloudScripts_Get": {
						"$ref": "./examples/CloudScripts_Get.json"
					}
				}
			},
			"put": {
				"operationId": "CloudScripts_CreateOrUpdate",
				"summary": "Create a CloudScript",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/TitleNameParameter"
					},
					{
						"$ref": "#/parameters/CloudScriptNameParameter"
					},
					{
						"name": "resource",
						"in": "body",
						"required": true,
						"description": "Resource create parameters.",
						"schema": {
							"$ref": "#/definitions/CloudScript"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/CloudScript"
						}
					},
					"201": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "ARM create operation completed successfully.",
						"schema": {
							"$ref": "#/definitions/CloudScript"
						}
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"CloudScripts"
				],
				"x-ms-examples": {
					"CloudScripts_CreateOrUpdate": {
						"$ref": "./examples/CloudScripts_CreateOrUpdate.json"
					}
				}
			},
			"delete": {
				"operationId": "CloudScripts_Delete",
				"summary": "Delete a CloudScript",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/TitleNameParameter"
					},
					{
						"$ref": "#/parameters/CloudScriptNameParameter"
					}
				],
				"responses": {
					"200": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deleted successfully."
					},
					"202": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deletion accepted."
					},
					"204": {
						"headers": {
							"x-ms-correlation-request-id": {
								"type": "string"
							}
						},
						"description": "Resource deleted successfully."
					},
					"default": {
						"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"tags": [
					"CloudScripts"
				],
				"x-ms-examples": {
					"CloudScripts_Delete": {
						"$ref": "./examples/CloudScripts_Delete.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/segments/{segmentName}": {
		  "get": {
			"operationId": "Segments_Get",
			"summary": "Get a Segment",
			"parameters": [
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleNameParameter"
			  },
			  {
				"$ref": "#/parameters/SegmentNameParameter"
			  }
			],
			"responses": {
			  "200": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "ARM operation completed successfully.",
				"schema": {
				  "$ref": "#/definitions/Segment"
				}
			  },
			  "default": {
				"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				"schema": {
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				}
			  }
			},
			"tags": [
			  "Segments"
			],
			"x-ms-examples": {
				"Segments_Get": {
					"$ref": "./examples/Segments_Get.json"
				}
			}
		  },
		  "put": {
			"operationId": "Segments_CreateOrUpdate",
			"summary": "Create a Segment",
			"parameters": [
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleNameParameter"
			  },
			  {
				"$ref": "#/parameters/SegmentNameParameter"
			  },
			  {
				"name": "resource",
				"in": "body",
				"required": true,
				"description": "Resource create parameters.",
				"schema": {
				  "$ref": "#/definitions/Segment"
				}
			  }
			],
			"responses": {
			  "200": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "ARM operation completed successfully.",
				"schema": {
				  "$ref": "#/definitions/Segment"
				}
			  },
			  "201": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "ARM create operation completed successfully.",
				"schema": {
				  "$ref": "#/definitions/Segment"
				}
			  },
			  "default": {
				"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				"schema": {
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				}
			  }
			},
			"tags": [
			  "Segments"
			],
			"x-ms-examples": {
				"Segments_CreateOrUpdate": {
					"$ref": "./examples/Segments_CreateOrUpdate.json"
				}
			}
		  },
		  "delete": {
			"operationId": "Segments_Delete",
			"summary": "Delete a Segment",
			"parameters": [
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleNameParameter"
			  },
			  {
				"$ref": "#/parameters/SegmentNameParameter"
			  }
			],
			"responses": {
			  "200": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "Resource deleted successfully."
			  },
			  "202": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "Resource deletion accepted."
			  },
			  "204": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "Resource deleted successfully."
			  },
			  "default": {
				"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				"schema": {
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				}
			  }
			},
			"tags": [
			  "Segments"
			],
			"x-ms-examples": {
				"Segments_Delete": {
					"$ref": "./examples/Segments_Delete.json"
				}
			}
		  }
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{titleName}/titledatas/{titleDataName}": {
		  "get": {
			"operationId": "TitleDatas_Get",
			"summary": "Get a TitleData",
			"parameters": [
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleDataNameParameter"
			  }
			],
			"responses": {
			  "200": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "ARM operation completed successfully.",
				"schema": {
				  "$ref": "#/definitions/TitleData"
				}
			  },
			  "default": {
				"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				"schema": {
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				}
			  }
			},
			"tags": [
			  "TitleDatas"
			],
			"x-ms-examples": {
			  "TitleDatas_Get": {
				"$ref": "./examples/TitleDatas_Get.json"
			  }
			}
		  },
		  "put": {
			"operationId": "TitleDatas_CreateOrUpdate",
			"summary": "Create a TitleData",
			"parameters": [
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleDataNameParameter"
			  },
			  {
				"name": "resource",
				"in": "body",
				"required": true,
				"description": "Resource create parameters.",
				"schema": {
				  "$ref": "#/definitions/TitleData"
				}
			  }
			],
			"responses": {
			  "200": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "ARM operation completed successfully.",
				"schema": {
				  "$ref": "#/definitions/TitleData"
				}
			  },
			  "201": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "ARM create operation completed successfully.",
				"schema": {
				  "$ref": "#/definitions/TitleData"
				}
			  },
			  "default": {
				"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				"schema": {
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				}
			  }
			},
			"tags": [
			  "TitleDatas"
			],
			"x-ms-examples": {
			  "TitleDatas_CreateOrUpdate": {
				"$ref": "./examples/TitleDatas_CreateOrUpdate.json"
			  }
			}
		  },
		  "delete": {
			"operationId": "TitleDatas_Delete",
			"summary": "Delete a TitleData",
			"parameters": [
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
			  },
			  {
				"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleNameParameter"
			  },
			  {
				"$ref": "#/parameters/TitleDataNameParameter"
			  }
			],
			"responses": {
			  "200": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "Resource deleted successfully."
			  },
			  "202": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "Resource deletion accepted."
			  },
			  "204": {
				"headers": {
				  "x-ms-correlation-request-id": {
					"type": "string"
				  }
				},
				"description": "Resource deleted successfully."
			  },
			  "default": {
				"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				"schema": {
				  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				}
			  }
			},
			"tags": [
			  "TitleDatas"
			],
			"x-ms-examples": {
			  "TitleDatas_Delete": {
				"$ref": "./examples/TitleDatas_Delete.json"
			  }
			}
		  }
		}
	},
  "definitions": {
    "PlayerAccountPool": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlayerAccountPoolProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Player Account Pool.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PlayerAccountPoolUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "The updatable properties of the PlayerAccountPool."
    },
    "PlayerAccountPoolListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerAccountPool"
          },
          "x-cadl-name": "Microsoft.PlayFab2.PlayerAccountPool[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a PlayerAccountPool list operation.",
      "required": [
        "value"
      ]
    },
    "Title": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Title.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TitleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Title"
          },
          "x-cadl-name": "Microsoft.PlayFab2.Title[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Title list operation.",
      "required": [
        "value"
      ]
    },
    "CloudScript": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudScriptProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "CloudScripts.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TitleData": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleDataProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Title Data.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PlayerAccountPoolProperties": {
      "type": "object",
      "properties": {
        "playFabPublisherId": {
          "type": "string",
          "description": "Id of publisher object in PlayFab backend associated to the PlayerAccountPool resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state.",
          "readOnly": true
        }
      }
    },
    "TitleProperties": {
      "type": "object",
      "properties": {
        "playFabTitleId": {
          "type": "string",
          "description": "Id of title object in PlayFab backend.",
          "readOnly": true
        },
        "playerAccountPoolId": {
          "type": "string",
          "description": "Azure resource Id of the PlayerAccountPool resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "playerAccountPoolId"
      ]
    },
    "CloudScriptProperties": {
      "type": "object",
      "properties": {
        "triggerType": {
          "$ref": "#/definitions/CloudScriptTriggerType",
          "description": "Id of title object in PlayFab backend."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state.",
          "readOnly": true
        }
      },
      "description": "CloudScript Properties.",
      "required": [
        "triggerType"
      ],
      "discriminator": "triggerType"
    },
    "CloudScriptHttpFunctionProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CloudScriptProperties"
        },
        {
          "type": "object",
          "properties": {
            "functionUrl": {
              "type": "string",
              "description": "Function URL of HTTP trigger type function."
            }
          }
        }
      ],
      "description": "CloudScriptHttpFunction Properties.",
      "required": [
        "functionUrl"
      ],
      "x-ms-discriminator-value": "HTTP"
    },
    "CloudScriptQueuedFunctionProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CloudScriptProperties"
        },
        {
          "type": "object",
          "properties": {
            "queueName": {
              "type": "string",
              "description": "Queue name of Queue trigger type function."
            },
            "connectionString": {
              "type": "string",
              "description": "Connection string of Queue trigger type function."
            }
          }
        }
      ],
      "description": "CloudScriptQueuedFunction Properties.",
      "required": [
        "queueName",
        "connectionString"
      ],
      "x-ms-discriminator-value": "Queue"
    },
    "Segment": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SegmentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Segment.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SegmentProperties": {
      "type": "object",
      "properties": {
        "playFabSegmentId": {
          "type": "string",
          "description": "Id of Segment object in PlayFab backend.",
          "readOnly": true
        },
        "query": {
          "$ref": "#/definitions/SegmentQuery",
          "description": "Query for defining Segment."
        }
      },
      "required": [
        "query"
      ]
    },
    "TitleDataProperties": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value to set for title data."
        }
      },
      "description": "Properties of Title Data.",
      "required": [
        "value"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Accepted",
        "Creating",
        "Deleting",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "CloudScriptTriggerType": {
      "type": "string",
      "enum": [
        "HTTP",
        "Queue"
      ],
      "x-ms-enum": {
        "name": "CloudScriptTriggerType",
        "modelAsString": true
      }
    },
    "SegmentQuery": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SegmentGroup"
          },
          "x-cadl-name": "Microsoft.PlayFab2.SegmentGroup[]",
          "description": "Groups in Query for Segment definition"
        }
      },
      "required": [
        "groups"
      ]
    },
    "SegmentGroup": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SegmentFilter"
          },
          "x-cadl-name": "Microsoft.PlayFab2.SegmentFilter[]",
          "description": "List of Filters for defining groups"
        }
      },
      "required": [
        "filters"
      ]
    },
    "SegmentFilter": {
      "type": "object",
      "properties": {
        "filterName": {
          "$ref": "#/definitions/FilterName",
          "description": "Name of the Segment filter."
        },
        "comparison": {
          "$ref": "#/definitions/Comparison",
          "description": "Comparator used for the filter."
        },
        "value": {
          "type": "string",
          "description": "Value to be compared"
        }
      },
      "required": [
        "filterName",
        "comparison",
        "value"
      ],
      "additionalProperties": {
      }
    },
    "SegmentStatisticFilter": {
      "type": "object",
      "properties": {
        "statisticName": {
          "type": "string",
          "description": "Name of the statistic used as Segment filter."
        },
        "version": {
          "type": "integer",
          "description": "Version of the statistic being used."
        },
        "useCurrentVersion": {
          "type": "boolean",
          "description": "Flag to use current version of the statistic"
        }
      },
      "required": [
        "statisticName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "FilterName": {
      "type": "string",
      "enum": [
        "FirstLogin",
        "LastLogin",
        "FirstLoginDate",
        "LastLoginDate",
        "Location",
        "Statistic",
        "Tag",
        "UserOrigination",
        "AllPlayers"
      ],
      "x-ms-enum": {
        "name": "FilterName",
        "modelAsString": true
      }
    },
    "Comparison": {
      "type": "string",
      "enum": [
        "Greater",
        "Less",
        "Equals",
        "NotEquals",
        "GreaterOrEquals",
        "LessOrEquals",
        "Contains",
        "NotContains",
        "Ignore",
        "Exists"
      ],
      "x-ms-enum": {
        "name": "Comparison",
        "modelAsString": true
      }
    }
  },
	"parameters": {
		"PlayerAccountPoolNameParameter": {
			"x-ms-parameter-location": "method",
			"name": "playerAccountPoolName",
			"in": "path",
			"required": true,
			"description": "Name of the Player Account Pool Parameter.",
			"type": "string"
		},
		"TitleNameParameter": {
			"x-ms-parameter-location": "method",
			"name": "titleName",
			"in": "path",
			"required": true,
			"description": "Name of the Title Parameter.",
			"type": "string"
		},
		"CloudScriptNameParameter": {
			"x-ms-parameter-location": "method",
			"name": "cloudScriptName",
			"in": "path",
			"required": true,
			"description": "CloudScript name",
			"type": "string"
		},
		"SegmentNameParameter": {
			"x-ms-parameter-location": "method",
			"name": "segmentName",
			"in": "path",
			"required": true,
			"description": "Name of the Segment Parameter.",
			"type": "string"
		  },
		  "TitleDataNameParameter": {
			"x-ms-parameter-location": "method",
			"name": "titleDataName",
			"in": "path",
			"required": true,
			"description": "Title Data name",
			"type": "string"
		  }
	}
}
