{
	"swagger": "2.0",
	"info": {
		"version": "2022-03-30-preview",
		"title": "SyntheticsManagementClient",
		"description": "The Synthetics Management Client"
	},
	"host": "management.azure.com",
	"schemes": ["https"],
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"security": [{
		"azure_auth": ["user_impersonation"]
	}],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
    "/providers/Microsoft.Synthetics/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "description": "Lists available operations for the Microsoft.Synthetics provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json../../../../../common-types/resource-management/v3/types.json../../../../../common-types/resource-management/v3/types.json../../../../../common-types/resource-management/v3/types.json../../../../../common-types/resource-management/v3/types.json../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the list of available operations.",
            "schema": {
              "$ref": "#/definitions/OperationsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synthetics/syntheticsWorkspaces/{workspaceName}": {
			"put": {
				"tags": [
					"SyntheticsWorkspace"
				],
				"operationId": "SyntheticsWorkspace_Create",
				"x-ms-examples": {
					"SyntheticsWorkspaceCreate_Default": {
						"$ref": "./examples/SyntheticsWorkspace_Create.json"
					}
				},
				"description": "Creates a new Synthetics Workspace with the specified parameters.",
				"parameters": [{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					},
					{
            "$ref": "#/parameters/WorkspaceNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The operation was successful. The response contains the Synthetics workspace entity.",
						"schema": {
							"$ref": "#/definitions/SyntheticsWorkspaceModel"
						}
					},
					"202": {
						"description": "The operation will be completed asynchronously.",
						"headers": {
							"Location": {
								"description": "The URL of the resource used to check the status of the asynchronous operation.",
								"type": "string"
							},
							"Retry-After": {
								"description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
								"type": "integer",
								"format": "int32"
							}
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/CloudError"
						}
					}
				},
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "location"
				}
			},
			"patch": {
				"tags": [
					"SyntheticsWorkspace"
				],
				"operationId": "SyntheticsWorkspace_Update",
				"x-ms-examples": {
					"SyntheticsWorkspace_Update": {
						"$ref": "./examples/SyntheticsWorkspace_Update.json"
					}
				},
				"description": "Updates the properties of an existing Synthetics workspace.",
				"parameters": [{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/WorkspaceNameParameter"
					},
					{
						"name": "parameters",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/SyntheticsWorkspaceUpdateModel"
						},
						"description": "Additional parameters for workspace update."
					},
					{
						"$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The operation was successful. The response contains the Synthetics workspace entity.",
						"schema": {
							"$ref": "#/definitions/SyntheticsWorkspaceModel"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/CloudError"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"SyntheticsWorkspace"
				],
				"operationId": "SyntheticsWorkspace_Delete",
				"x-ms-examples": {
					"SyntheticsWorkspace_Delete": {
						"$ref": "./examples/SyntheticsWorkspace_Delete.json"
					}
				},
				"description": "Deletes the specified Synthetics workspace.",
				"parameters": [{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/WorkspaceNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The operation was successful."
					},
					"202": {
						"description": "The operation will be completed asynchronously.",
						"headers": {
							"Location": {
								"description": "The URL of the resource used to check the status of the asynchronous operation.",
								"type": "string"
							},
							"Retry-After": {
								"description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
								"type": "integer",
								"format": "int32"
							}
						}
					},
					"204": {
						"description": "NoContent -- workspace does not exist in the subscription."
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/CloudError"
						}
					}
				},
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "location"
				}
			},
			"get": {
				"tags": [
					"SyntheticsWorkspace"
				],
				"operationId": "SyntheticsWorkspace_Get",
				"x-ms-examples": {
					"SyntheticsWorkspace_Get": {
						"$ref": "./examples/SyntheticsWorkspace_Get.json"
					}
				},
				"description": "Gets information about the specified Synthetics workspace.",
				"parameters": [{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/WorkspaceNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The operation was successful. The response contains the Synthetics workspace entity.",
						"schema": {
							"$ref": "#/definitions/SyntheticsWorkspaceModel"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/CloudError"
						}
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Synthetics/syntheticsWorkspaces": {
			"get": {
				"tags": [
					"SyntheticsWorkspace"
				],
				"operationId": "SyntheticsWorkspaces_List",
				"x-ms-examples": {
					"SyntheticsWorkspace_List": {
						"$ref": "./examples/SyntheticsWorkspace_List.json"
					}
				},
				"description": "Gets information about the Synthetics workspaces associated with the subscription.",
				"parameters": [{
						"$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The operation was successful. The response contains a list of Synthetics workspace entities associated with the subscription.",
						"schema": {
							"$ref": "#/definitions/SyntheticsWorkspaceModelListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synthetics/syntheticsWorkspaces": {
			"get": {
				"tags": [
					"SyntheticsWorkspace"
				],
				"operationId": "SyntheticsWorkspace_ListByResourceGroup",
				"x-ms-examples": {
					"SyntheticsWorkspace_ListByResourceGroup": {
						"$ref": "./examples/SyntheticsWorkspace_ListByResourceGroup.json"
					}
				},
				"description": "Gets information about the Synthetics workspaces associated with the specified resource group.",
				"parameters": [{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The operation was successful. The response contains a list of Synthetics workspace entities associated with the resource group.",
						"schema": {
							"$ref": "#/definitions/SyntheticsWorkspaceModelListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		}
	},
	"definitions": {
    "OperationsList": {
      "description": "Lists the operations available in the SecurityInsights RP.",
      "properties": {
        "nextLink": {
          "description": "URL to fetch the next set of operations.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Array of operations",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "Operation": {
      "description": "Operation provided by provider",
      "properties": {
        "display": {
          "description": "Properties of the operation",
          "properties": {
            "description": {
              "description": "Description of the operation",
              "type": "string"
            },
            "operation": {
              "description": "Operation name",
              "type": "string"
            },
            "provider": {
              "description": "Provider name",
              "type": "string"
            },
            "resource": {
              "description": "Resource name",
              "type": "string"
            }
          },
          "type": "object"
        },
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "origin": {
          "description": "The origin of the operation",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Resource": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "The location of the resource."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the resource."
        }
      },
      "description": "A definition of an Azure resource.",
      "x-ms-azure-resource": true
    },
    "CloudError": {
      "x-ms-external": true,
      "type": "object",
      "properties": {
        "error": {
          "description": "Error body",
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the Fidalgo service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Fidalgo service."
    },
		"SyntheticsWorkspaceModelProperties": {
			"type": "object",
			"properties": {
				"workspaceEndpoint": {
					"type": "string",
					"readOnly": true,
					"description": "The workspace endpoint used to interact with the Synthetics service."
				},
				"provisioningState": {
					"type": "string",
					"readOnly": true,
					"x-nullable": false,
					"description": "The provisioned state of the resource",
					"enum": [
						"Invalid",
						"Creating",
						"Deleting",
						"Succeeded",
						"Failed",
						"Cancelled"
					],
					"x-ms-enum": {
						"name": "ProvisioningState",
						"modelAsString": false,
						"values": [{
								"value": "Invalid",
								"description": "The workspace is in an invalid state."
							},
							{
								"value": "Creating",
								"description": "The workspace is being created."
							},
							{
								"value": "Deleting",
								"description": "The workspace is being deleted."
							},
							{
								"value": "Succeeded",
								"description": "The workspace has been created and is ready for use."
							},
							{
								"value": "Failed",
								"description": "The last operation for the workspace has failed."
							},
							{
								"value": "Cancelled",
								"description": "The last operation for the workspace is cancelled."
							}
						]
					}
				}
			},
			"description": "Workspace specific properties."
		},
		"SyntheticsWorkspaceModel": {
			"type": "object",
			"properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "readOnly": true
        },
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SyntheticsWorkspaceModelProperties",
					"description": "The properties associated with the workspace."
				}
			},
			"allOf": [{
				"$ref": "#/definitions/Resource"
			}],
			"description": "Contains information about an Synthetics workspace.",
      "x-ms-azure-resource": true
		},
		"SyntheticsWorkspaceModelListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SyntheticsWorkspaceModel"
					},
					"description": "The collection of Synthetics workspaces returned by the listing operation."
				},
				"nextLink": {
					"type": "string",
					"description": "The continuation token."
				}
			},
			"description": "Values returned by the List operation."
		},
    "SyntheticsWorkspaceUpdateModel": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user-specified tags associated with the account."
        }
      },
      "description": "Parameters for updating a Microsoft Synthetics workspace."
    }
  },
	"parameters": {
		"SubscriptionIdParameter": {
			"name": "subscriptionId",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
		},
		"ResourceGroupNameParameter": {
			"name": "resourceGroupName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name of the resource group.",
			"x-ms-parameter-location": "method"
		},
    "WorkspaceNameParameter": {
      "name": "workspaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z0-9]+$",
      "minLength": 3,
      "maxLength": 24,
      "description": "A name for the Synthetics Workspace which must be unique within the region.Synthetics Workspace names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Synthetics Workspace service in the region in which the workspace is created. For example: http://workspacename.region.synthetics.azure.com/.",
      "x-ms-parameter-location": "method"
    }
	}
}