{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.HpcWorkbench",
    "description": "Microsoft.HpcWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/consortiums/{consortiumName}": {
      "put": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "Consortiums_CreateOrUpdate",
        "description": "Creates or updates the specified consortium.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "consortiumName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the consortium."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update consortium operation.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create successful. The operation returns the resulting Consortium resource.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-examples": {
          "Create Consortium": {
            "$ref": "./examples/PutConsortium.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Consortiums"
        ],
        "operationId": "consortiums_Update",
        "description": "Updates the specified consortium.",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "consortiumName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the consortium."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update consortium operation.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Consortium resource.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-examples": {
          "Update Consortium": {
            "$ref": "./examples/PutConsortium.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ArmId": {
      "description": "Structure that represents the components of an ARM Resource Identifier.",
      "type": "string"
    },
    "AzureRegion": {
      "description": "Handles Azure Region strings by parsing either key (e.g eastus) or friendly name (e.g. East US).",
      "type": "string"
    },
    "ErrorDetail": {
      "description": "The error detail.",
      "type": "object",
      "properties": {
        "code": {
          "readOnly": true,
          "description": "Gets or sets the error code.",
          "type": "string"
        },
        "message": {
          "readOnly": true,
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets the error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "description": "The error additional info."
        }
      }
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "ErrorResponse": {
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "title": "Error response",
      "type": "object",
      "properties": {
        "status": {
          "description": "Gets or sets the status of the request.",
          "type": "string"
        },
        "error": {
          "description": "The error object.",
          "$ref": "#/definitions/ErrorDetail"
        }
      }
    },
    "Resource": {
      "type": "object",
      "properties": {
        "id": {
          "allOf": [
            {
              "$ref": "#/definitions/ArmId"
            }
          ],
          "readOnly": true,
          "description": "Resource id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "$ref": "#/definitions/AzureRegion"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "provisioningState": {
          "allOf": [
            {
              "$ref": "#/definitions/ProvisioningState"
            }
          ],
          "readOnly": true
        },
        "systemData": {
          "description": "System data.",
          "title": "system data",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "description": "Common resource representation.",
        "x-ms-azure-resource": true
      }
    },
    "ConsortiumPropertiesFormat": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "description": "Gets or sets the SKU.",
          "type": "string"
        },
        "kind": {
          "description": "Gets or sets the Kind.",
          "type": "string"
        },
        "managedBy": {
          "description": "Gets or sets the Manged By value.",
          "type": "string"
        },
        "zones": {
          "description": "Gets or sets the Zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "plan": {
          "description": "Gets or sets the Plan.",
          "type": "object",
          "additionalProperties": {}
        },
        "identity": {
          "description": "Gets or sets the Identity.",
          "type": "object",
          "additionalProperties": {}
        },
        "allowedPublicIps": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Consortium properties."
    },
    "ProvisioningState": {
      "enum": [
        "Unknown",
        "Validating",
        "Processing",
        "Deleting",
        "Accepted",
        "Canceled",
        "Completed",
        "Succeeded",
        "Failed",
        "Deleted"
      ],
      "type": "string"
    },
    "Consortium": {
      "description": "Generic Azure Resource Wrapper for Resource Metadata.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConsortiumPropertiesFormat",
          "description": "Consortium properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    }
  }
}
