{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.HpcWorkbench",
    "description": "Microsoft.HpcWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/accessProfiles/{name}": {
      "delete": {
        "tags": [
          "AccessProfiles"
        ],
        "operationId": "accessProfiles_Delete",
        "description": "Deletes the specified Access Profile.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Access Profiles": {
            "$ref": "./examples/AccessProfilesDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "AccessProfiles"
        ],
        "operationId": "accessProfiles_Get",
        "description": "Gets the specified Access Profile.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessProfileMetadataAzureResource"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Access Profiles": {
            "$ref": "./examples/AccessProfilesGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "AccessProfiles"
        ],
        "operationId": "accessProfiles_CreateOrUpdate",
        "description": "Creates or updates the specified Access Profile.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AccessProfileMetadataAzureResource"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessProfileMetadataAzureResource"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Access Profiles": {
            "$ref": "./examples/AccessProfilesCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AccessProfiles"
        ],
        "operationId": "accessProfiles_Update",
        "description": "Updates the specified Access Profile.",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AccessProfileMetadataAzureResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessProfileMetadataAzureResource"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Access Profiles": {
            "$ref": "./examples/AccessProfilesUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/accessProfiles": {
      "get": {
        "tags": [
          "AccessProfiles"
        ],
        "operationId": "accessProfiles_List",
        "description": "Lists the Access Profiles.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessProfileMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Access Profiles": {
            "$ref": "./examples/AccessProfilesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/accessProfiles": {
      "get": {
        "tags": [
          "AccessProfiles"
        ],
        "operationId": "accessProfiles_ListByResourceGroup",
        "description": "Lists Access Profiles By ResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessProfileMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Access Profiles by Resource Group": {
            "$ref": "./examples/AccessProfilesListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/accessProfiles": {
      "get": {
        "tags": [
          "AccessProfiles"
        ],
        "operationId": "accessProfiles_ListBySubscription",
        "description": "Lists Access Profiles by subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessProfileMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Access Profiles By Subscription": {
            "$ref": "./examples/AccessProfilesListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/files/{name}": {
      "delete": {
        "tags": [
          "ChamberDataFiles"
        ],
        "operationId": "files_Delete",
        "description": "Deletes the specified file.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Files": {
            "$ref": "./examples/FilesDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "ChamberDataFiles"
        ],
        "operationId": "files_Get",
        "description": "Gets the specified file.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataFileRequestMetadataAzureResource"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Files": {
            "$ref": "./examples/FilesGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "ChamberDataFiles"
        ],
        "operationId": "files_CreateOrUpdate",
        "description": "Creates or Updates the specified file.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DataFileRequestMetadataAzureResource"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataFileRequestMetadataAzureResource"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Files": {
            "$ref": "./examples/FilesCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ChamberDataFiles"
        ],
        "operationId": "files_Update",
        "description": "Updates the specified file.",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DataFileRequestMetadataAzureResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Files": {
            "$ref": "./examples/FilesUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/files": {
      "get": {
        "tags": [
          "ChamberDataFiles"
        ],
        "operationId": "files_ListByResourceGroup",
        "description": "Lists files by resource group",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataFileRequestMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List files by Resource Group": {
            "$ref": "./examples/FilesListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/files": {
      "get": {
        "tags": [
          "ChamberDataFiles"
        ],
        "operationId": "files_ListBySubscription",
        "description": "Lists files by subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataFileRequestMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Files by Subscription": {
            "$ref": "./examples/FilesListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/files/{name}": {
      "get": {
        "tags": [
          "ChamberDataFiles"
        ],
        "operationId": "files_List",
        "description": "Lists files.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }, 
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataFileRequestMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Files by Subscription": {
            "$ref": "./examples/FilesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/chamberLicenses/{name}": {
      "delete": {
        "tags": [
          "ChamberLicenses"
        ],
        "operationId": "chamberLicenses_Delete",
        "description": "Deletes the specified Chamber License.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Chamber Licenses": {
            "$ref": "./examples/ChamberLicensesDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "ChamberLicenses"
        ],
        "operationId": "chamberLicenses_Get",
        "description": "Gets the specified chamber license.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChamberLicenseMetadataAzureResource"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Chamber Licenses": {
            "$ref": "./examples/ChamberLicensesGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "ChamberLicenses"
        ],
        "operationId": "chamberLicenses_CreateOrUpdate",
        "description": "Creates or Updates the specified chamber license.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChamberLicenseMetadataAzureResource"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChamberLicenseMetadataAzureResource"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Chamber Licenses": {
            "$ref": "./examples/ChamberLicensesCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ChamberLicenses"
        ],
        "operationId": "chamberLicenses_Update",
        "description": "Updates the specified chamber license.",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChamberLicenseMetadataAzureResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChamberLicenseMetadataAzureResource"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Chamber Licenses": {
            "$ref": "./examples/ChamberLicensesUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/chamberLicenses": {
      "get": {
        "tags": [
          "ChamberLicenses"
        ],
        "operationId": "chamberLicenses_List",
        "description": "Lists the chamber license.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChamberLicenseMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Chamber Licenses": {
            "$ref": "./examples/ChamberLicensesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/chamberLicenses": {
      "get": {
        "tags": [
          "ChamberLicenses"
        ],
        "operationId": "chamberLicenses_ListByResourceGroup",
        "description": "Lists the chamber licenses by resource group.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChamberLicenseMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Chamber Licenses by Resource Group": {
            "$ref": "./examples/ChamberLicensesListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/chamberLicenses": {
      "get": {
        "tags": [
          "ChamberLicenses"
        ],
        "operationId": "chamberLicenses_ListBySubscription",
        "description": "Lists the chamber license by subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChamberLicenseMetadataPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Chamber Licenses By Subscription": {
            "$ref": "./examples/ChamberLicensesListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{name}": {
      "delete": {
        "tags": [
          "Chambers"
        ],
        "operationId": "chambers_Delete",
        "description": "Deletes the specified chamber.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Success"
          },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Delete Chambers": {
          "$ref": "./examples/ChambersDelete.json"
        }
      }
    },
    "get": {
      "tags": [
        "Chambers"
      ],
      "operationId": "chambers_Get",
      "description": "Gets the specified chamber.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get Chambers": {
          "$ref": "./examples/ChambersGet.json"
        }
      }
    },
    "put": {
      "tags": [
        "Chambers"
      ],
      "operationId": "chambers_CreateOrUpdate",
      "description": "Creates or updates the specified chamber.",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/ChamberMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "201": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Create or Update Chambers": {
          "$ref": "./examples/ChambersCreateOrUpdate.json"
        }
      }
    },
    "patch": {
      "tags": [
        "Chambers"
      ],
      "operationId": "chambers_Update",
      "description": "Updates the specified chamber.",
      "consumes": [
        "application/merge-patch+json",
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/ChamberMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Update Chambers": {
          "$ref": "./examples/ChambersUpdate.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers": {
    "get": {
      "tags": [
        "Chambers"
      ],
      "operationId": "chambers_List",
      "description": "Lists the chambers.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Chambers": {
          "$ref": "./examples/ChambersList.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/chambers": {
    "get": {
      "tags": [
        "Chambers"
      ],
      "operationId": "chambers_ListByResourceGroup",
      "description": "Lists the chambers by resource group.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Chambers by Resource Group": {
          "$ref": "./examples/ChambersListByResourceGroup.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/chambers": {
    "get": {
      "tags": [
        "Chambers"
      ],
      "operationId": "chambers_ListBySubscription",
      "description": "Lists the chamber by subscription.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Chambers by subscription": {
          "$ref": "./examples/ChambersListBySubscription.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/storages/{name}": {
    "delete": {
      "tags": [
        "ChamberStorages"
      ],
      "operationId": "storages_Delete",
      "description": "Deletes the specified storage.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "OK"
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Delete Storages": {
          "$ref": "./examples/StoragesDelete.json"
        }
      }
    },
    "get": {
      "tags": [
        "ChamberStorages"
      ],
      "operationId": "storages_Get",
      "description": "Gets the specified storage.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberStorageMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get Storages": {
          "$ref": "./examples/StoragesGet.json"
        }
      }
    },
    "put": {
      "tags": [
        "ChamberStorages"
      ],
      "operationId": "storages_CreateOrUpdate",
      "description": "Creates or updates the specified storage",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/ChamberStorageMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "201": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberStorageMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Create or update storages": {
          "$ref": "./examples/StoragesCreateOrUpdate.json"
        }
      }
    },
    "patch": {
      "tags": [
        "ChamberStorages"
      ],
      "operationId": "storages_Update",
      "description": "Updates the specified storage.",
      "consumes": [
        "application/merge-patch+json",
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/ChamberStorageMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberStorageMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Update Storages": {
          "$ref": "./examples/StoragesUpdate.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/storages": {
    "get": {
      "tags": [
        "ChamberStorages"
      ],
      "operationId": "storages_List",
      "description": "Lists the specified storage.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberStorageMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "Storages list": {
          "$ref": "./examples/StoragesList.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/storages": {
    "get": {
      "tags": [
        "ChamberStorages"
      ],
      "operationId": "storages_ListByResourceGroup",
      "description": "Lists storage by resource group.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberStorageMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "Storages List by ": {
          "$ref": "./examples/StoragesListByResourceGroup.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/storages": {
    "get": {
      "tags": [
        "ChamberStorages"
      ],
      "operationId": "storages_ListBySubscription",
      "description": "Lists storage by subscription.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ChamberStorageMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Storages by Subscription": {
          "$ref": "./examples/StoragesListBySubscription.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/consortiums/{name}": {
    "delete": {
      "tags": [
        "Consortiums"
      ],
      "operationId": "consortiums_Delete",
      "description": "Deletes the specified consortiums.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "OK"
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Delete Consortiums": {
          "$ref": "./examples/ConsortiumsDelete.json"
        }
      }
    },
    "get": {
      "tags": [
        "Consortiums"
      ],
      "operationId": "consortiums_Get",
      "description": "Gets the specified consortiums.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ConsortiumMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get Consortiums": {
          "$ref": "./examples/ConsortiumsGet.json"
        }
      }
    },
    "put": {
      "tags": [
        "Consortiums"
      ],
      "operationId": "consortiums_CreateOrUpdate",
      "description": "Creates or updates the specified consortium.",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/ConsortiumMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "201": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ConsortiumMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Create or Update Consortiums": {
          "$ref": "./examples/ConsortiumsCreateOrUpdate.json"
        }
      }
    },
    "patch": {
      "tags": [
        "Consortiums"
      ],
      "operationId": "consortiums_Update",
      "description": "Updates the specified consortium.",
      "consumes": [
        "application/merge-patch+json",
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/ConsortiumMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ConsortiumMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Update Consortiums": {
          "$ref": "./examples/ConsortiumsUpdate.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/consortiums": {
    "get": {
      "tags": [
        "Consortiums"
      ],
      "operationId": "consortiums_List",
      "description": "Lists the specified consortium.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ConsortiumMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Consortiums": {
          "$ref": "./examples/ConsortiumsList.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/consortiums": {
    "get": {
      "tags": [
        "Consortiums"
      ],
      "operationId": "consortiums_ListByResourceGroup",
      "description": "Lists the consortium by specified resource group.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ConsortiumMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Consortiums by Resource Group": {
          "$ref": "./examples/ConsortiumsListByResourceGroup.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/consortiums": {
    "get": {
      "tags": [
        "Consortiums"
      ],
      "operationId": "consortiums_ListBySubscription",
      "description": "Lists the consortium by subscription.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/ConsortiumMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List consortiums by subscription": {
          "$ref": "./examples/ConsortiumsListBySubscription.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/instances": {
    "get": {
      "tags": [
        "Instances"
      ],
      "operationId": "instances_ListBySubscription",
      "description": "Lists the instances by subscription.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/HpcWorkbenchInstanceMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Instances by Subscription": {
          "$ref": "./examples/InstancesListBySubscription.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances": {
    "get": {
      "tags": [
        "Instances"
      ],
      "operationId": "instances_ListByResourceGroup",
      "description": "Lists the instance by resource group.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/HpcWorkbenchInstanceMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Instances by resource Group": {
          "$ref": "./examples/InstancesListByResourceGroup.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{name}": {
    "get": {
      "tags": [
        "Instances"
      ],
      "operationId": "instances_Get",
      "description": "Gets the specified instance.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/HpcWorkbenchInstanceMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get nat gateway": {
          "$ref": "./examples/InstancesGet.json"
        }
      }
    },
    "put": {
      "tags": [
        "Instances"
      ],
      "operationId": "instances_CreateOrUpdate",
      "description": "Creates or updates the specified instance.",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/HpcWorkbenchInstanceMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "201": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/HpcWorkbenchInstanceMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Create or Update Instances": {
          "$ref": "./examples/InstancesCreateOrUpdate.json"
        }
      }
    },
    "patch": {
      "tags": [
        "Instances"
      ],
      "operationId": "instances_Update",
      "description": "Updates the specified instance.",
      "consumes": [
        "application/merge-patch+json",
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/HpcWorkbenchInstanceMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/HpcWorkbenchInstanceMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Update Instances": {
          "$ref": "./examples/InstancesUpdate.json"
        }
      }
    },
    "delete": {
      "tags": [
        "Instances"
      ],
      "operationId": "instances_Delete",
      "description": "Deletes the specified instance.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "OK"
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Delete Instances": {
          "$ref": "./examples/InstancesDelete.json"
        }
      }
    }
  },
  "/providers/Microsoft.HpcWorkbench/operations": {
    "get": {
      "tags": [
        "Operations"
      ],
      "operationId": "Operations_List",
      "description": "Lists Operations.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success"
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "List Operations": {
          "$ref": "./examples/OperationsList.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/sharedStorages/{name}": {
    "delete": {
      "tags": [
        "SharedStorages"
      ],
      "operationId": "sharedStorages_Delete",
      "description": "Deletes the specified shared storage",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "OK"
        },
        "204": {
          "description": "Success"
        },
      "default": {
        "description": "Default Error Response",
        "schema": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
        }
      }
    },
    "x-ms-examples": {
      "Delete Shared Storages": {
        "$ref": "./examples/SharedStoragesDelete.json"
      }
    }},
    "get": {
      "tags": [
        "SharedStorages"
      ],
      "operationId": "sharedStorages_Get",
      "description": "Gets the specified shared storage.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/SharedStorageMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get Shared Storages": {
          "$ref": "./examples/SharedStoragesGet.json"
        }
      }
    },
    "put": {
      "tags": [
        "SharedStorages"
      ],
      "operationId": "sharedStorages_CreateOrUpdate",
      "description": "Creates or updates the specified shared storage.",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/SharedStorageMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "201": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/SharedStorageMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Create or Update Shared Storages": {
          "$ref": "./examples/SharedStoragesCreateOrUpdate.json"
        }
      }
    },
    "patch": {
      "tags": [
        "SharedStorages"
      ],
      "operationId": "sharedStorages_Update",
      "description": "Updates the specified shared storage.",
      "consumes": [
        "application/merge-patch+json",
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/SharedStorageMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/SharedStorageMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Update Shared storages": {
          "$ref": "./examples/SharedStoragesUpdate.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/sharedStorages": {
    "get": {
      "tags": [
        "SharedStorages"
      ],
      "operationId": "sharedStorages_List",
      "description": "Lists the specified shared storage.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/SharedStorageMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Shared storages": {
          "$ref": "./examples/SharedStoragesList.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/sharedStorages": {
    "get": {
      "tags": [
        "SharedStorages"
      ],
      "operationId": "sharedStorages_ListByResourceGroup",
      "description": "Lists the shared storage by resource group.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/SharedStorageMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List shared storages by resource group": {
          "$ref": "./examples/SharedStoragesListByResourceGroup.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/providers/Microsoft.HpcWorkbench/sharedStorages": {
    "get": {
      "tags": [
        "SharedStorages"
      ],
      "operationId": "sharedStorages_ListBySubscription",
      "description": "Lists the shared storage by subscription.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "OK"
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List shared storages by subscription": {
            "$ref": "./examples/SharedStoragesListBySubscription.json"
          }
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/workloads/{name}": {
    "delete": {
      "tags": [
        "Workloads"
      ],
      "operationId": "workloads_Delete",
      "description": "Deletes the specified workload.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "OK"
        },
        "204": {
          "description": "Success"
        },
      "default": {
        "description": "Default Error Response",
        "schema": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
        }
      }
    },
      "x-ms-examples": {
        "Delete Workloads": {
          "$ref": "./examples/WorkloadsDelete.json"
        }
      }
    },
    "get": {
      "tags": [
        "Workloads"
      ],
      "operationId": "workloads_Get",
      "description": "Gets the specified workload.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/WorkloadMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get Workloads": {
          "$ref": "./examples/WorkloadsGet.json"
        }
      }
    },
    "put": {
      "tags": [
        "Workloads"
      ],
      "operationId": "workloads_CreateOrUpdate",
      "description": "Creates or updates the specified workload.",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/WorkloadMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "201": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/WorkloadMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Workloads Create or Update": {
          "$ref": "./examples/WorkloadsCreateOrUpdate.json"
        }
      }
    },
    "patch": {
      "tags": [
        "Workloads"
      ],
      "operationId": "workloads_Update",
      "description": "Updates the specified workload.",
      "consumes": [
        "application/merge-patch+json",
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref": "#/definitions/WorkloadMetadataAzureResource"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/WorkloadMetadataAzureResource"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Workloads Update": {
          "$ref": "./examples/WorkloadsUpdate.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/instances/{instanceName}/chambers/{chamberName}/workloads": {
    "get": {
      "tags": [
        "Workloads"
      ],
      "operationId": "workloads_List",
      "description": "Lists the specified workload.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "in": "path",
          "name": "instanceName",
          "required": true,
          "type": "string"
        },
        {
          "in": "path",
          "name": "chamberName",
          "required": true,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "schema": {
            "$ref": "#/definitions/WorkloadMetadataPageableList"
          }
        },
        "default": {
          "description": "Default Error Response",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "Workloads List": {
          "$ref": "./examples/WorkloadsList.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HpcWorkbench/workloads": {
    "get": {
      "tags": [
        "Workloads"
      ],
      "operationId": "workloads_ListByResourceGroup",
      "description": "Deletes the workloads by resource group.",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
[...]
