{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Sovereign Resource Provider.",
    "version": "2023-04-01-privatepreview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PolicyMonitors"
    }
  ],
  "paths": {
    "/providers/Microsoft.Sovereign/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/policymonitors": {
      "get": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_ListByTenant",
        "description": "List PolicyMonitor resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyMonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/policymonitors/{policymonitorname}": {
      "get": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_Get",
        "description": "Get a PolicyMonitor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policymonitorname",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPolicyMonitor": {
            "$ref": "./examples/PolicyMonitors_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_CreateOrUpdate",
        "description": "Create a PolicyMonitor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policymonitorname",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PolicyMonitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyMonitor"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PolicyMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreatePolicyMonitor": {
            "$ref": "./examples/PolicyMonitors_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_Update",
        "description": "Update a PolicyMonitor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policymonitorname",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/PolicyMonitorUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_Delete",
        "description": "Delete a PolicyMonitor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policymonitorname",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/policymonitors/{policymonitorname}/executePolicyMonitor": {
      "post": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_MonitorSlz",
        "description": "Provides a mechanism for customers to trigger the evaluation policy monitor against an SLZ.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policymonitorname",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/MonitorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/policymonitors/{policymonitorname}/executeValidateSLZ": {
      "post": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_ValidateSlz",
        "description": "Provides a mechanism for customers to trigger a validate of a particular SLZ instance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policymonitorname",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The content of the action request",
            "schema": {
              "$ref": "#/definitions/ValidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/policymonitors/{policymonitorname}/getPolicyMonitorExecutionResults": {
      "post": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_GetPolicyMonitorExecutionResults",
        "description": "Returns the results of the policy monitor executions. By default the results of the last 50 executions will be returned.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policymonitorname",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorResultList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/policymonitors/{policymonitorname}/getSLZValidationResults": {
      "post": {
        "tags": [
          "PolicyMonitors"
        ],
        "operationId": "PolicyMonitors_GetSlzValidationResults",
        "description": "Returns the results of the SLZ Validation. By default the results of the last 50 executions will be returned.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policymonitorname",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResultList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AllowedExclusion": {
      "type": "object",
      "properties": {
        "policySetDefinitionId": {
          "type": "string",
          "description": "the policy set for with the exclusion."
        },
        "policyDefinitionId": {
          "type": "string",
          "description": "the policy for with the exclusion."
        },
        "exclusionStatus": {
          "$ref": "#/definitions/ExclusionStatus",
          "description": "the status of the exclusion.",
          "readOnly": true
        }
      },
      "description": "The exclusions allowed by a customer.",
      "required": [
        "policySetDefinitionId",
        "policyDefinitionId",
        "exclusionStatus"
      ]
    },
    "ExclusionStatus": {
      "type": "string",
      "enum": [
        "Active",
        "InActive"
      ],
      "x-ms-enum": {
        "name": "ExclusionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "active",
            "value": "Active"
          },
          {
            "name": "inActive",
            "value": "InActive"
          }
        ]
      }
    },
    "MonitorCategory": {
      "type": "string",
      "description": "the category of the policy monitor.",
      "enum": [
        "locationPolicies",
        "confidentialPolicies",
        "generalPolicies"
      ],
      "x-ms-enum": {
        "name": "MonitorCategory",
        "modelAsString": true
      }
    },
    "MonitorRequest": {
      "type": "object",
      "properties": {
        "topLevelManagementGroup": {
          "type": "string",
          "description": "The top level management group of the SLZ"
        },
        "monitorCategory": {
          "$ref": "#/definitions/MonitorCategory",
          "description": "The category of the SLZ policies to be monitored."
        }
      },
      "description": "The request object to invoke monitoring of the SLZ.",
      "required": [
        "topLevelManagementGroup",
        "monitorCategory"
      ]
    },
    "MonitorResult": {
      "type": "object",
      "properties": {
        "monitorResultOutcome": {
          "$ref": "#/definitions/MonitorResultOutcome",
          "description": "The outcome of the monitor execution."
        },
        "compliancePercentage": {
          "type": "number",
          "format": "double",
          "description": "The percentage of monitor rules that is compliant."
        },
        "monitorResultDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorResultDetail"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "MonitorResultDetail[]",
          "description": "The result details for each monitor rule"
        }
      },
      "description": "The execution details",
      "allOf": [
        {
          "$ref": "#/definitions/Result"
        }
      ]
    },
    "MonitorResultDetail": {
      "type": "object",
      "properties": {
        "monitorResultDetailName": {
          "type": "string",
          "description": "The name of the monitor rule."
        },
        "monitorRetailDetailOutcome": {
          "$ref": "#/definitions/MonitorResultDetailOutcome",
          "description": "The outcome of each policy monitor rule."
        },
        "outcomeDescription": {
          "type": "string",
          "description": "The details about the outcome."
        },
        "isPolicySet": {
          "type": "boolean",
          "description": "True if the outcome is for a policy set"
        },
        "policySetOrPolicyname": {
          "type": "string",
          "description": "The name of the policy/policy set"
        },
        "policyType": {
          "$ref": "#/definitions/PolicyType",
          "description": "The type of the policy - builtin/custom"
        }
      },
      "description": "The detail of an monitor execution",
      "required": [
        "monitorResultDetailName",
        "monitorRetailDetailOutcome",
        "isPolicySet",
        "policySetOrPolicyname"
      ]
    },
    "MonitorResultDetailOutcome": {
      "type": "string",
      "description": "the outcome of each monitor rule.",
      "enum": [
        "Pass",
        "Fail"
      ],
      "x-ms-enum": {
        "name": "MonitorResultDetailOutcome",
        "modelAsString": true,
        "values": [
          {
            "name": "pass",
            "value": "Pass"
          },
          {
            "name": "fail",
            "value": "Fail"
          }
        ]
      }
    },
    "MonitorResultList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorResult"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "MonitorResult[]",
          "description": "The MonitorResult items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of getPolicyMonitorExecutionResult operation.",
      "required": [
        "value"
      ]
    },
    "MonitorResultOutcome": {
      "type": "string",
      "description": "the outcome of monitor execution",
      "enum": [
        "Compliant",
        "PartiallyCompliant",
        "NonCompliant"
      ],
      "x-ms-enum": {
        "name": "MonitorResultOutcome",
        "modelAsString": true,
        "values": [
          {
            "name": "compliant",
            "value": "Compliant"
          },
          {
            "name": "partiallyCompliant",
            "value": "PartiallyCompliant"
          },
          {
            "name": "nonCompliant",
            "value": "NonCompliant"
          }
        ]
      }
    },
    "MonitorStatus": {
      "type": "string",
      "enum": [
        "Active",
        "InActive"
      ],
      "x-ms-enum": {
        "name": "MonitorStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "active",
            "value": "Active"
          },
          {
            "name": "inActive",
            "value": "InActive"
          }
        ]
      }
    },
    "PolicyMonitor": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyMonitorProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A policy monitor resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PolicyMonitorListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyMonitor"
          },
          "x-cadl-name": "PolicyMonitor[]",
          "description": "The PolicyMonitor items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a PolicyMonitor list operation.",
      "required": [
        "value"
      ]
    },
    "PolicyMonitorProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the operation.",
          "readOnly": true
        },
        "monitorStatus": {
          "$ref": "#/definitions/MonitorStatus",
          "description": "The status of the policy monitor.",
          "readOnly": true
        },
        "topLevelManagementGroup": {
          "type": "string",
          "description": "The top level management group of the SLZ"
        },
        "monitorCategories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorCategory"
          },
          "x-cadl-name": "MonitorCategory[]",
          "description": "The category of the SLZ policies to be monitored.",
          "x-ms-identifiers": []
        },
        "alertChannel": {
          "type": "string",
          "description": "The channel to alert for divergence identified with the SLZ.",
          "enum": [
            "Email",
            "Azure Portal",
            "Azure Monitor"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true,
            "values": [
              {
                "name": "Email",
                "value": "Email"
              },
              {
                "name": "AzurePortal",
                "value": "Azure Portal"
              },
              {
                "name": "AzureMonitor",
                "value": "Azure Monitor"
              }
            ]
          }
        },
        "alertingEmailAddress": {
          "type": "string",
          "description": "The email address for alerting when alert channel is email. Recommended to be a Distribution List",
          "pattern": "^\\w+([.-]?\\w+)*@\\w+([.-]?\\w+)*(.\\w{2,3})+$"
        },
        "azureMonitorId": {
          "type": "string",
          "description": "The azure monitor Id when alert channel is azure monitor."
        },
        "createdByPrincipalName": {
          "type": "string",
          "description": "The principle name who created the policy monitor",
          "readOnly": true
        },
        "customerAllowedExclusions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllowedExclusion"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "AllowedExclusion[]",
          "description": "The azure monitor Id when alert channel is azure monitor."
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "The date the policy monitor was created.",
          "readOnly": true
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time",
          "description": "The date the policy monitor was modified.",
          "readOnly": true
        }
      },
      "description": "Details of the sovereign policy monitor resource type.",
      "required": [
        "topLevelManagementGroup",
        "monitorCategories",
        "alertChannel",
        "createdOn"
      ]
    },
    "PolicyMonitorUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyMonitorUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the PolicyMonitor."
    },
    "PolicyMonitorUpdateProperties": {
      "type": "object",
      "properties": {
        "topLevelManagementGroup": {
          "type": "string",
          "description": "The top level management group of the SLZ"
        },
        "monitorCategories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitorCategory"
          },
          "x-cadl-name": "MonitorCategory[]",
          "description": "The category of the SLZ policies to be monitored.",
          "x-ms-identifiers": []
        },
        "alertChannel": {
          "type": "string",
          "description": "The channel to alert for divergence identified with the SLZ.",
          "enum": [
            "Email",
            "Azure Portal",
            "Azure Monitor"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true,
            "values": [
              {
                "name": "Email",
                "value": "Email"
              },
              {
                "name": "AzurePortal",
                "value": "Azure Portal"
              },
              {
                "name": "AzureMonitor",
                "value": "Azure Monitor"
              }
            ]
          }
        },
        "alertingEmailAddress": {
          "type": "string",
          "description": "The email address for alerting when alert channel is email. Recommended to be a Distribution List",
          "pattern": "^\\w+([.-]?\\w+)*@\\w+([.-]?\\w+)*(.\\w{2,3})+$"
        },
        "azureMonitorId": {
          "type": "string",
          "description": "The azure monitor Id when alert channel is azure monitor."
        },
        "customerAllowedExclusions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllowedExclusion"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "AllowedExclusion[]",
          "description": "The azure monitor Id when alert channel is azure monitor."
        }
      },
      "description": "The updatable properties of the PolicyMonitor."
    },
    "PolicyType": {
      "type": "string",
      "description": "The type of the policy.",
      "enum": [
        "Custom",
        "BuildIn"
      ],
      "x-ms-enum": {
        "name": "PolicyType",
        "modelAsString": true,
        "values": [
          {
            "name": "custom",
            "value": "Custom"
          },
          {
            "name": "builtIn",
            "value": "BuildIn"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the policy monitor operations.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Result": {
      "type": "object",
      "properties": {
        "resultDescription": {
          "type": "string",
          "description": "The details of the validation run."
        }
      },
      "description": "The result associated with a job history.",
      "required": [
        "resultDescription"
      ]
    },
    "ValidateRequest": {
      "type": "object",
      "properties": {
        "topLevelManagementGroup": {
          "type": "string",
          "description": "The top level management group of the SLZ"
        }
      },
      "description": "The request object to invoke SLZ validation.",
      "required": [
        "topLevelManagementGroup"
      ]
    },
    "ValidationResult": {
      "type": "object",
      "properties": {
        "validationResultOutcome": {
          "$ref": "#/definitions/ValidationResultOutcome",
          "description": "The outcome of the validation."
        },
        "validationResultDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResultDetail"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "ValidationResultDetail[]",
          "description": "The details for each validation rule"
        }
      },
      "description": "The validation record of a particular SLZ.",
      "required": [
        "validationResultOutcome"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Result"
        }
      ]
    },
    "ValidationResultDetail": {
      "type": "object",
      "properties": {
        "validationResultDetailName": {
          "type": "string",
          "description": "The name of the validation result detail."
        },
        "validationResultDetailOutcome": {
          "$ref": "#/definitions/validationResultDetailOutcome",
          "description": "The outcome of each validation rule."
        },
        "outcomeDescription": {
          "type": "string",
          "description": "The details about the outcome."
        }
      },
      "description": "The detail of each SLZ validation.",
      "required": [
        "validationResultDetailName",
        "validationResultDetailOutcome",
        "outcomeDescription"
      ]
    },
    "ValidationResultList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "ValidationResult[]",
          "description": "The ValidationResult items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of getSLZValidationResult operation.",
      "required": [
        "value"
      ]
    },
    "ValidationResultOutcome": {
      "type": "string",
      "description": "the outcome of SLZ validation.",
      "enum": [
        "ValidSLZ",
        "InvalidSLZ"
      ],
      "x-ms-enum": {
        "name": "ValidationResultOutcome",
        "modelAsString": true,
        "values": [
          {
            "name": "validSLZ",
            "value": "ValidSLZ"
          },
          {
            "name": "invalidSLZ",
            "value": "InvalidSLZ"
          }
        ]
      }
    },
    "validationResultDetailOutcome": {
      "type": "string",
      "description": "the outcome of each monitor rule.",
      "enum": [
        "Pass",
        "Fail"
      ],
      "x-ms-enum": {
        "name": "validationResultDetailOutcome",
        "modelAsString": true,
        "values": [
          {
            "name": "pass",
            "value": "Pass"
          },
          {
            "name": "fail",
            "value": "Fail"
          }
        ]
      }
    }
  },
  "parameters": {}
}
