{
    "swagger": "2.0",
    "info": {
        "title": "Microsoft.SampleRP",
        "description": "Microsoft.SampleRP provider",
        "version": "2021-01-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow.",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/providers/microsoft.samplerp/samplerts": {
            "get": {
              "description": "Returns list of SampleRTs.",
              "operationId": "SampleRT_ListBySubscription",
              "parameters": [
                {
                  "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                  "$ref": "#/parameters/SubscriptionIdParameter"
                }
              ],
              "responses": {
                "200": {
                  "description": "SampleRT details.",
                  "schema": {
                    "$ref": "#/definitions/SampleRTResourceList"
                  }
                }
              },
              "deprecated": false,
              "x-ms-pageable": {
                "nextLinkName": "nextLink"
              }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SampleRP/SampleRTs": {
            "get": {
                "description": "Returns list of SampleRTs.",
                "operationId": "SampleRT_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SampleRT details.",
                        "schema": {
                            "$ref": "#/definitions/SampleRTResourceList"
                        }
                    }
                },
                "deprecated": false,
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SampleRP/SampleRTs/{SampleRTName}": {
            "get": {
                "description": "Returns SampleRT resource for a given name.",
                "operationId": "SampleRT_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SampleRTNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SampleRT details.",
                        "schema": {
                            "$ref": "#/definitions/SampleRTResource"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes SampleRT resource for a given name.",
                "operationId": "SampleRT_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SampleRTNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deletes the SampleRT details."
                    }
                }
            },
            "put": {
                "description": "Create or update SampleRT resource.",
                "operationId": "SampleRT_CreateAndUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SampleRTNameParameter"
                    },
                    {
                        "name": "SampleRTResource",
                        "description": "SampleRT details.",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SampleRTResource"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "schema": {
                            "$ref": "#/definitions/SampleRTResource"
                        }
                    }
                }
            },
            "patch": {
                "description": "Update SampleRT details.",
                "operationId": "SampleRTs_Update",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SampleRTNameParameter"
                    },
                    {
                        "name": "SampleRTPatchResource",
                        "description": "SampleRT patch details.",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SampleRTPatchResource"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "schema": {
                            "$ref": "#/definitions/SampleRTResource"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SampleRP/SampleRTs/{SampleRTName}/nestedResourceType/{nestedResourceName}": {
            "get": {
                "description": "Returns nested resources for a given SampleRT name",
                "operationId": "NestedResourceType_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SampleRTNameParameter"
                    },
                    {
                        "$ref": "#/parameters/NestedResourceNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nested Resource Types.",
                        "schema": {
                            "$ref": "#/definitions/NestedResource"
                        }
                    }
                }
            },
            "put": {
                "description": "Create or update nested resource type.",
                "operationId": "NestedResourceType_CreateAndUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SampleRTNameParameter"
                    },
                    {
                        "$ref": "#/parameters/NestedResourceNameParameter"
                    },
                    {
                        "name": "NestedResourceType",
                        "description": "Nested Resource Type details.",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NestedResource"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "schema": {
                            "$ref": "#/definitions/NestedResource"
                        }
                    }
                }
            },
            "patch": {
                "description": "Update nested resource type details.",
                "operationId": "NestedResourceType_Update",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SampleRTNameParameter"
                    },
                    {
                        "$ref": "#/parameters/NestedResourceNameParameter"
                    },
                    {
                        "name": "NestedResourcePatchResource",
                        "description": "Nested resource patch details.",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NestedResource"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "schema": {
                            "$ref": "#/definitions/NestedResource"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SampleRP/SampleRTs/{SampleRTName}/nestedResourceType": {
            "get": {
                "description": "Returns nested resources for a given SampleRT name",
                "operationId": "NestedResourceType_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SampleRTNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nested Resource Types.",
                        "schema": {
                            "$ref": "#/definitions/NestedResourceList"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SampleRP/extensionResourceType": {
            "get": {
                "description": "Returns nextension resource for a given SampleRT name",
                "operationId": "ExtensionResourceType_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nested Resource Types.",
                        "schema": {
                            "$ref": "#/definitions/ExtensionResourceList"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SampleRP/extensionResourceType/{extensionResourceName}": {
            "get": {
                "description": "Returns extension resources",
                "operationId": "ExtensionResource_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ExtensionResourceNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Extension Resources.",
                        "schema": {
                            "$ref": "#/definitions/ExtensionResource"
                        }
                    }
                }
            },
            "put": {
                "description": "Create or update extension resource.",
                "operationId": "ExtensionResource_CreateAndUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ExtensionResourceNameParameter"
                    },
                    {
                        "name": "ExtensionResourceType",
                        "description": "ExtensionResource details.",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExtensionResource"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "schema": {
                            "$ref": "#/definitions/ExtensionResource"
                        }
                    }
                }
            },
            "patch": {
                "description": "Update extension resource details.",
                "operationId": "ExtensionResource_Update",
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ExtensionResourceNameParameter"
                    },
                    {
                        "name": "ExtensionResourcePatchResource",
                        "description": "Extension Resource patch details.",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExtensionResource"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "schema": {
                            "$ref": "#/definitions/ExtensionResource"
                        }
                    }
                }
            }
        },
        "/providers/microsoft.SampleRP/operations": {
            "get": {
                "description": "Returns list of operations.",
                "operationId": "Operation_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation details.",
                        "schema": {
                            "$ref": "#/definitions/operationsList"
                        }
                    }
                },
                "deprecated": false,
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "definitions": {
        "Resource": {
            "description": "An Azure resource.",
            "properties": {
                "id": {
                    "description": "Azure resource Id.",
                    "type": "string",
                    "readOnly": true
                },
                "name": {
                    "description": "Azure resource name.",
                    "type": "string",
                    "readOnly": true
                },
                "type": {
                    "description": "Azure resource type.",
                    "type": "string",
                    "readOnly": true
                },
                "location": {
                    "description": "Location of the resource.",
                    "type": "string",
                    "readOnly": false
                },
                "tags": {
                    "description": "resource tags.",
                    "type": "object",
                    "readOnly": false,
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            },
            "x-ms-azure-resource": true
        },
        "SampleRTResource": {
            "type": "object",
            "description": "SampleRT details",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "required": [
                "properties"
            ],
            "properties": {
                "properties": {
                    "type": "object",
                    "required": [
                        "firstName",
                        "lastName",
                        "group",
                        "likesTea"
                    ],
                    "properties": {
                        "firstName": {
                            "type": "string",
                            "description": "SampleRT full name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "middleName": {
                            "type": "string",
                            "description": "SampleRT middle name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "lastName": {
                            "type": "string",
                            "description": "SampleRT last name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "group": {
                            "type": "string",
                            "description": "group like Finance, HR etc...",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "identificationNumber": {
                            "type": "string",
                            "readOnly": true,
                            "description": "unique id assigned at the time of user creation"
                        },
                        "likesTea": {
                            "type": "string",
                            "description": "Gets or sets the deployment mode.",
                            "enum": [
                                "Yes"
                            ],
                            "x-ms-enum": {
                                "name": "likesTea",
                                "modelAsString": true
                            }
                        }
                    }
                }
            }
        },
        "SampleRTPatchResource": {
            "type": "object",
            "description": "SampleRT patch properties",
            "properties": {
                "tags": {
                    "description": "resource tags.",
                    "type": "object",
                    "readOnly": false,
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "properties": {
                    "type": "object",
                    "properties": {
                        "group": {
                            "type": "string",
                            "description": "group like Finance, HR etc..."
                        }
                    }
                }
            }
        },
        "SampleRTResourceList": {
            "description": "The list of SampleRTs.",
            "type": "object",
            "properties": {
                "nextLink": {
                    "description": "The link used to get the next page of SampleRTs list.",
                    "type": "string"
                },
                "value": {
                    "description": "The list of recommendations.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SampleRTResource"
                    }
                }
            }
        },
        "NestedResource": {
            "type": "object",
            "description": "Nested Resource details",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "required": [
                "properties"
            ],
            "properties": {
                "properties": {
                    "properties": {
                        "firstName": {
                            "type": "string",
                            "description": "Nested Resource full name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "middleName": {
                            "type": "string",
                            "description": "Nested Resource name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "lastName": {
                            "type": "string",
                            "description": "Nested Resource name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "group": {
                            "type": "string",
                            "description": "group like Finance, HR etc...",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "identificationNumber": {
                            "type": "string",
                            "readOnly": true,
                            "description": "unique id assigned at the time of user creation"
                        },
                        "likesTea": {
                            "type": "string",
                            "description": "Gets or sets the deployment mode.",
                            "enum": [
                                "Yes"
                            ],
                            "x-ms-enum": {
                                "name": "likesTea",
                                "modelAsString": true
                            }
                        }
                    },
                    "required": [
                        "firstName",
                        "lastName",
                        "group",
                        "likesTea"
                    ],
                    "type": "object"
                }
            }
        },
        "NestedResourceList": {
            "description": "The list of nested resources.",
            "type": "object",
            "properties": {
                "nextLink": {
                    "description": "The link used to get the next page of nested resources list.",
                    "type": "string"
                },
                "value": {
                    "description": "The list of recommendations.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/NestedResource"
                    }
                }
            }
        },
        "ExtensionResource": {
            "type": "object",
            "description": "Extension Resource details",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "required": [
                "properties"
            ],
            "properties": {
                "properties": {
                    "properties": {
                        "firstName": {
                            "type": "string",
                            "description": "Extension Resource full name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "middleName": {
                            "type": "string",
                            "description": "Extension Resource name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "lastName": {
                            "type": "string",
                            "description": "Extension Resource name.",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "group": {
                            "type": "string",
                            "description": "group like Finance, HR etc...",
                            "minLength": 1,
                            "maxLength": 10,
                            "pattern": "^[A-Za-z0-9-._]+$"
                        },
                        "identificationNumber": {
                            "type": "string",
                            "readOnly": true,
                            "description": "unique id assigned at the time of user creation"
                        },
                        "likesTea": {
                            "type": "string",
                            "description": "Gets or sets the deployment mode.",
                            "enum": [
                                "Yes"
                            ],
                            "x-ms-enum": {
                                "name": "likesTea",
                                "modelAsString": true
                            }
                        }
                    },
                    "required": [
                        "firstName",
                        "lastName",
                        "group",
                        "likesTea"
                    ],
                    "type": "object"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            }
        },
        "ExtensionResourceList": {
            "description": "The list of extension resources.",
            "type": "object",
            "properties": {
                "nextLink": {
                    "description": "The link used to get the next page of extension resources list.",
                    "type": "string"
                },
                "value": {
                    "description": "The list of recommendations.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ExtensionResource"
                    }
                }
            }
        },
        "operation": {
            "description": "Operation provided by provider",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "Name of the operation"
                },
                "display": {
                    "type": "object",
                    "description": "Properties of the operation",
                    "properties": {
                        "provider": {
                            "type": "string",
                            "description": "Provider name"
                        },
                        "resource": {
                            "type": "string",
                            "description": "Resource name"
                        },
                        "operation": {
                            "type": "string",
                            "description": "Operation name"
                        },
                        "description": {
                            "type": "string",
                            "description": "Description of the operation"
                        }
                    }
                }
            }
        },
        "operationsList": {
            "description": "Lists the operations available.",
            "properties": {
                "nextLink": {
                    "description": "Url to follow for getting next page of operations.",
                    "type": "string"
                },
                "value": {
                    "description": "Array of operations",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/operation"
                    }
                }
            },
            "required": [
                "value"
            ]
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID."
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        },
        "ResourceGroupNameParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group.",
            "x-ms-parameter-location": "method"
        },
        "SampleRTNameParameter": {
            "name": "SampleRTName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name SampleRT resource.",
            "x-ms-parameter-location": "method"
        },
        "NestedResourceNameParameter": {
            "name": "nestedResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of nested resource.",
            "x-ms-parameter-location": "method"
        },
        "ExtensionResourceNameParameter": {
            "name": "extensionResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of extension resource.",
            "x-ms-parameter-location": "method"
        }
    }
}