{
  "swagger": "2.0",
  "info": {
    "title": "Azure Linux Testing Service",
    "version": "2022-12-08-privatepreview",
    "description": "This is the Azure Linux Validation Service",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "alts.endpoint",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "TestCases"
    },
    {
      "name": "JobTemplates"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureLinuxTestingService/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureLinuxTestingService/templates": {
      "get": {
        "tags": [
          "JobTemplates"
        ],
        "operationId": "JobTemplates_ListbySubscription",
        "description": "List JobTemplate resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobTemplateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureLinuxTestingService/testCases": {
      "get": {
        "tags": [
          "TestCases"
        ],
        "operationId": "TestCases_ListBySubscription",
        "description": "List TestCase resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestCaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLinuxTestingService/templates": {
      "get": {
        "tags": [
          "JobTemplates"
        ],
        "operationId": "JobTemplates_ListByResourceGroup",
        "description": "List JobTemplate resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobTemplateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLinuxTestingService/templates/{templateName}": {
      "get": {
        "tags": [
          "JobTemplates"
        ],
        "operationId": "JobTemplates_Get",
        "description": "Get a JobTemplate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "templateName",
            "in": "path",
            "required": true,
            "description": "Job template name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobTemplate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "JobTemplates"
        ],
        "operationId": "JobTemplates_CreateOrUpdate",
        "description": "Create a JobTemplate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "templateName",
            "in": "path",
            "required": true,
            "description": "Job template name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/JobTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobTemplate"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/JobTemplate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "JobTemplates"
        ],
        "operationId": "JobTemplates_Update",
        "description": "Update a JobTemplate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "templateName",
            "in": "path",
            "required": true,
            "description": "Job template name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/JobTemplateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobTemplate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "JobTemplates"
        ],
        "operationId": "JobTemplates_Delete",
        "description": "Delete a JobTemplate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "templateName",
            "in": "path",
            "required": true,
            "description": "Job template name",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLinuxTestingService/testCases": {
      "get": {
        "tags": [
          "TestCases"
        ],
        "operationId": "TestCases_ListByResourceGroup",
        "description": "List TestCase resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestCaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureLinuxTestingService/testCases/{testCaseName}": {
      "get": {
        "tags": [
          "TestCases"
        ],
        "operationId": "TestCases_Get",
        "description": "Get a TestCase",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "testCaseName",
            "in": "path",
            "required": true,
            "description": "a LISA test case",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestCase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true
      }
    },
    "CasePriorityLevel": {
      "type": "integer",
      "format": "int32",
      "minimum": 0,
      "maximum": 4
    },
    "JobTemplate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobTemplateResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A template defining the parameters for a test job.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "JobTemplateListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobTemplate"
          },
          "x-cadl-name": "JobTemplate[]",
          "description": "The JobTemplate items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a JobTemplate list operation.",
      "required": [
        "value"
      ]
    },
    "JobTemplateResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "templateTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Tags used to organized templates."
        },
        "region": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Azure region to run test in."
        },
        "vmSize": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "VM sizes to run test on."
        },
        "selections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Selections"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Selections[]",
          "description": "Test Selections. Default is to run the smoke_test case"
        },
        "concurrency": {
          "type": "integer",
          "format": "int32",
          "description": "The number of concurrent environments. Default is 4.",
          "default": 4
        }
      },
      "description": "The job template properties",
      "required": [
        "templateTags",
        "region",
        "vmSize",
        "selections"
      ]
    },
    "JobTemplateUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/JobTemplateUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the JobTemplate."
    },
    "JobTemplateUpdateProperties": {
      "type": "object",
      "properties": {
        "templateTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Tags used to organized templates."
        },
        "region": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Azure region to run test in."
        },
        "vmSize": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "VM sizes to run test on."
        },
        "selections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Selections"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Selections[]",
          "description": "Test Selections. Default is to run the smoke_test case"
        },
        "concurrency": {
          "type": "integer",
          "format": "int32",
          "description": "The number of concurrent environments. Default is 4.",
          "default": 4
        }
      },
      "description": "The updatable properties of the JobTemplate."
    },
    "ResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        }
      },
      "description": "General resource properties."
    },
    "Selections": {
      "type": "object",
      "properties": {
        "caseName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Test case name. Default is empty.",
          "default": []
        },
        "caseArea": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Test case area. Default is empty.",
          "default": []
        },
        "caseCategory": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Test case category. Default is empty.",
          "default": []
        },
        "casePriority": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CasePriorityLevel"
          },
          "x-cadl-name": "CasePriorityLevel[]",
          "description": "Test case priority. Default is empty and represents all priorities. Valid values are from 0-4"
        },
        "caseTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Test case tags. Default empty",
          "default": []
        },
        "action": {
          "$ref": "#/definitions/TestCaseAction",
          "description": "Action to take. Default is include",
          "default": "Include"
        },
        "testIterations": {
          "type": "integer",
          "format": "int32",
          "description": "Test iterations to run. Default 1",
          "default": 1
        },
        "retryCount": {
          "type": "integer",
          "format": "int32",
          "description": "Retry on failure. Default 0",
          "default": 0
        },
        "useNewEnvironment": {
          "type": "boolean",
          "description": "Use new environment for each test case. Default false",
          "default": false
        },
        "ignoreFailure": {
          "type": "boolean",
          "description": "Ignore failed test cases. Default false",
          "default": false
        }
      },
      "description": "Details test case criteria",
      "required": [
        "casePriority"
      ]
    },
    "TestCase": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TestCaseResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A LISA test case",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TestCaseAction": {
      "type": "string",
      "enum": [
        "Include",
        "Exclude",
        "ForceInclude",
        "ForceExclude"
      ],
      "x-ms-enum": {
        "name": "TestCaseAction",
        "modelAsString": true
      }
    },
    "TestCaseListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestCase"
          },
          "x-cadl-name": "TestCase[]",
          "description": "The TestCase items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a TestCase list operation.",
      "required": [
        "value"
      ]
    },
    "TestCaseResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "area": {
          "type": "string",
          "description": "Test case area"
        },
        "category": {
          "type": "string",
          "description": "Test case category"
        },
        "tags": {
          "type": "string",
          "description": "Applied test tags"
        },
        "priority": {
          "description": "Priority level to run"
        },
        "estimation": {
          "description": "Time to complete in minutes"
        },
        "description": {
          "type": "string",
          "description": "Test case description"
        },
        "testSuiteName": {
          "type": "string",
          "description": "LISA test suite name"
        },
        "testSuiteDescription": {
          "type": "string",
          "description": "LISA test suite description"
        }
      },
      "description": "Test case properties",
      "required": [
        "area",
        "category",
        "tags",
        "priority",
        "estimation",
        "description",
        "testSuiteName",
        "testSuiteDescription"
      ]
    }
  },
  "parameters": {}
}
