{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2023-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers/{networkPacketBrokerName}": {
      "put": {
        "tags": [
          "NetworkPacketBrokers"
        ],
        "operationId": "NetworkPacketBrokers_Create",
        "summary": "Create Netwok Packet Brocker.",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkPacketBrokerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Packet Brocker."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NetworkPacketBroker"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkPacketBroker"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkPacketBroker"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NetworkPacketBrokers_Create_MaximumSet_Gen": {
            "$ref": "./examples/NetworkPacketBrokers_Create_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "NetworkPacketBrokers"
        ],
        "operationId": "NetworkPacketBrokers_Get",
        "summary": "Gets a Network Packet Broker.",
        "description": "Retrieves details of this Network Packet Broker.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkPacketBrokerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Packet Broker"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkPacketBroker"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkPacketBrokers_Get_MaximumSet_Gen": {
            "$ref": "./examples/NetworkPacketBrokers_Get_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkPacketBrokers"
        ],
        "operationId": "NetworkPacketBrokers_Delete",
        "summary": "Deletes a Network Packet Broker.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkPacketBrokerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Packet Broker"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkPacketBrokers_Delete_MaximumSet_Gen": {
            "$ref": "./examples/NetworkPacketBrokers_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers": {
      "get": {
        "operationId": "NetworkPacketBrokers_ListByResourceGroup",
        "summary": "List NetworkPacketBrokers by resource group.",
        "description": "Displays NetworkPacketBrokers list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkPacketBrokers under the resource group.",
            "schema": {
              "$ref": "#/definitions/NetworkPacketBrokersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkPacketBrokers_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/NetworkPacketBrokers_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers": {
      "get": {
        "operationId": "NetworkPacketBrokers_ListBySubscription",
        "summary": "List NetworkPacketBrokers by subscription.",
        "description": "Displays NetworkPacketBrokers list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkPacketBrokers under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkPacketBrokersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkPacketBrokers_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkPacketBrokers_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkPacketBroker": {
      "type": "object",
      "required": [
          "properties"
        ],
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkPacketBrokerProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "The NetworkPacketBroker resource definition."
    },
    "NetworkPacketBrokerProperties": {
      "type": "object",
      "description": "NetworkPacketBrokerProperties define the resource properties.",
      "required": [
        "networkFabricId"
      ],
      "properties": {
        "networkFabricId": {
          "type": "string",
          "description": "Network Fabric ARM resource id.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedNetworkFabric/networkFabrics"
              }
            ]
          }, 
          "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/example-networkFabric" 
        },
        "networkDeviceIds": {
          "type": "array",
          "description": "List of ARM resourceIds of Network Devices in the Fabric. Size of the list is based on Fabric SKU.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "Network Device ARM resource id.",
            "format": "arm-id",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ManagedNetworkFabric/networkDevices"
                }
              ]
            },
            "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkDevices/example-networkDevice" 
          }
        },
        "sourceInterfaceIds": {
          "type": "array",
          "description": "List of network interface across NPB devices that are configured for direct connection.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "Network Interface ARM resource id.",
            "format": "arm-id",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ManagedNetworkFabric/networkDevices/networkInterfaces"
                }
              ]
            },
            "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkDevices/example-networkDevice/networkInterfaces/example-networkInterface"
          }
        },
        "networkTapIds": {
          "type": "array",
          "readOnly": true,
          "description": "List of network Tap Ids configured on NPB.",
          "items": {
            "type": "string",
            "description": "Network Tap ARM resource id.",
            "format": "arm-id",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ManagedNetworkFabric/networkTaps"
                }
              ]
            },
            "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkTaps/example-networkTap"
          }
        },
        "neighborGroupIds": {
          "type": "array",
          "readOnly": true,
          "description": "List of neighbor group Ids configured on NPB.",
          "items": {
            "type": "string",
            "description": "Neighbor Group ARM resource id.",
            "format": "arm-id",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ManagedNetworkFabric/neighborGroups"
                }
              ]
            },
            "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/neighborGroups/example-neighborGroup"
          }
        }
      }
    },
    "NetworkPacketBrokersListResult": {
      "type": "object",
      "description": "List of NetworkPacketBrokers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkPacketBroker resources.",
          "items": {
            "$ref": "#/definitions/NetworkPacketBroker"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  }
}
