{
	"swagger": "2.0",
	"info": {
		"title": "Impact",
		"description": "Impact provider",
		"version": "2022-10-15-preview"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow.",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
		"/providers/Microsoft.Impact/operations": {
			"get": {
				"tags": [
					"Operations"
				],
				"summary": "Lists all of the available Azure Impact REST API operations.",
				"operationId": "Operations_List",
				"x-ms-examples": {
					"ImpactPutImpact": {
						"$ref": "./examples/Operations_Get.json"
					}
				},
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					}
				],
				"responses": {
					"200": {
						"description": "OK. The request has succeeded.",
						"schema": {
							"$ref": "#/definitions/OperationListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpacts": {
			"get": {
				"tags": [
					"GET"
				],
				"summary": "List all Azure impacts in a subscription.",
				"operationId": "Impacts_ListBySubsription",
				"x-ms-examples": {
					"Accounts_ListBySubscription": {
						"$ref": "./examples/Impacts_ListBySubscription.json"
					}
				},
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the Azure Impacts in the subscription",
						"schema": {
							"$ref": "#/definitions/ImpactListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpacts/{impactName}": {
			"get": {
				"tags": [
					"GET"
				],
				"summary": "get impact by impact id or name",
				"operationId": "Impacts_GetGroupImpactByName",
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The body contains the account metadata",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			},
			"put": {
				"operationId": "impacts_CreateAndUpdateGroupImpactForSubscription",
				"x-ms-examples": {
					"ImpactPutImpact": {
						"$ref": "./examples/ImpactPutImpact.json"
					}
				},
				"tags": [
					"PUT"
				],
				"summary": "Create impact for a Resource by impactId",
				"description": "Create impact for a Resource by impactId",
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					},
					{
						"name": "impact",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Impact"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"201": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/ImpactGet"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpacts/{impactName}/rootCauseAttributions": {
			"get": {
				"tags": [
					"GET"
				],
				"summary": "List all Azure rca's in a subscription.",
				"operationId": "ImpactRcas_ListBySubsription",
				"x-ms-examples": {
					"Accounts_ListBySubscription": {
						"$ref": "./examples/Impacts_ListBySubscription.json"
					}
				},
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the Azure Impacts in the subscription",
						"schema": {
							"$ref": "#/definitions/RcaListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpacts/{impactName}/rootCauseAttributions/{rcaName}": {
			"get": {
				"tags": [
					"GET"
				],
				"summary": "get impact by impact id or name",
				"operationId": "ImpactRcas_GetGroupImpactByName",
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					},
					{
						"$ref": "#/parameters/rcaNameParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					}
					,
					{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "The body contains the account metadata",
						"schema": {
							"$ref": "#/definitions/rca"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			},
			"put": {
				"operationId": "impactRcas_CreateAndUpdateGroupImpactForSubscription",
				"x-ms-examples": {
					"ImpactPutImpact": {
						"$ref": "./examples/ImpactPutImpact.json"
					}
				},
				"tags": [
					"PUT"
				],
				"summary": "Create rca for a Resource by impactId",
				"description": "Create rca for a Resource by impactId",
				"parameters": [
					{
						"$ref": "#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "#/parameters/impactNameParameter"
					},
					{
						"$ref": "#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "#/parameters/rcaNameParameter"
					},
					{
						"name": "impact",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/rca"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful.",
						"schema": {
							"$ref": "#/definitions/rca"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "#/definitions/ErrorResponse"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Impact": {
			"type": "object",
			"description": "details of regresion",
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource",
					"description": "The resource model definition for an Azure Resource Manager proxy resource."
				}
			],
			"required": [
				"properties"
			],
			"properties": {
				"properties": {
					"description": "The properties of the impact.",
					"$ref": "#/definitions/ImpactProperties",
					"x-ms-client-flatten": true
				}
			}
		},
		"ImpactGet": {
			"type": "object",
			"description": "details of regresion",
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource",
					"description": "The resource model definition for an Azure Resource Manager proxy resource."
				}
			],
			"required": [
				"properties"
			],
			"properties": {
				"properties": {
					"description": "The properties of the impact.",
					"$ref": "#/definitions/ImpactPropertiesForGet",
					"x-ms-client-flatten": true
				}
			}
		},
		"rca": {
			"type": "object",
			"description": "details of rca for an impact",
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource",
					"description": "The resource model definition for an Azure Resource Manager proxy resource."
				}
			],
			"required": [
				"properties"
			],
			"properties": {
				"properties": {
					"description": "The properties of the rca for an impact",
					"$ref": "#/definitions/attributionDetails",
					"x-ms-client-flatten": true
				}
			}
		},
		"ImpactProperties": {
			"type": "object",
			"description": "impacts details",
			"required": [
				"startDateTime",
				"workload"
			],
			"properties": {
				"startDateTime": {
					"type": "string",
					"format": "date-time",
					"description": "Time when impact started"
				},
				"endDateTime": {
					"type": "string",
					"description": "Time when impact ended.",
					"format": "date-time"
				},
				"impactUniqueId":{
					"type": "string",
					"format": "uuid",
					"readOnly": true
				},
				"workload": {
					"type": "object",
					"$ref":"#/definitions/workloadObj",
					"description": "details of workload"
				},
				"impactCategory": {
					"type": "string",
					"description": "The category of the impact",
					"pattern": "([A-Za-z]+.)+[A-Za-z]+"
				},
				"impactedResourceUri": {
					"type": "string",
					"description": "azure resource uri of an impacted resource"
				},
				"armCorrelationIds": {
					"type": "array",
					"items": {
						"type": "string",
						"format": "uuid"
					},
					"description": "List of ARM correlation ids "
				},
				"impactDescription": {
					"type": "string",					
					"description": "Free text for describing the impact. "
				},
				"additionalProperties": {
					"type": "object",
					"$ref":"#/definitions/additionalPropertiesObj",
					"description": "Free Json describing the impact. "
				},
				"performance": {
					"type": "array",
					
					"items": {
						"type": "object",
						"description": "attributions details",
						"$ref":"#/definitions/performanceObj"
					},
					"description": "Details about impacted performance metrics. Applicable for performance impacts."
				},
				"connectivity": {
					"type": "object",
					"$ref":"#/definitions/connectivityObj",
					"description": "Details about the connectivity issue. Applicable only for connectivity type of impacts."
				},
				"impactGroupId":{
					"type": "string",
						"format": "uuid",
						"description": "Used to correlate multiple impacts together"
				}
			}
		},
		"ImpactPropertiesForGet": {
			"type": "object",
			"description": "impacts details wirh RCA array",
			"allOf": [
				{
					"$ref": "#/definitions/ImpactProperties"
				}
			]
		},
		"workloadObj": {
			"type": "object",
			"description": "attribution details",
			"properties": {
				"context": {
					"type": "string",
					"description": "workload name"
				},
				"toolset": {
					"type": "string",
					"enum": [
						"Terraform",
						"Puppet",
						"Chef",
						"Ansible",
						"Arm",
						"Portal",
						"Shell",
						"Other"
					],
					"description": " Tool used to interact with Azure. "
				}
				
			}
		},
		"performanceObj": {
			"type": "object",
			"description": "Details about impacted performance metrics. Applicable for performance impacts.",
			"properties": {
				"metricName": {
					"type": "string",
					"description": "The name of the impacted metric"
				},
				"expected": {
					"type": "number",					
					"description": "The expected value for the metric "
				},
				"actual": {
					"type": "number",					
					"description": "The actual value for the metric"
				}
				
			}
		},
		"connectivityObj": {
			"type": "object",
			"description": "attribution details",

			"properties": {

				"protocol": {
					"type": "string",
					"enum": [
						"TCP",
						"UDP"],
					"description": "The protocol used for the connection. Allowed values are TCP & UDP "
				},
				"port": {
					"type": "number",					
					"description": "The port number for the connection. Allowed values are 0-65536 "
				},
				
				"direction": {
					"type": "string",
					"enum": [
						"INBOUND",
						"OUTBOUND"],
					"description": "The direction of the connectio"
				},
				"source": {
					"type": "string",
					"description": "The source of the connection"
				},
				"destination": {
					"type": "string",
					"description": "The destination of the connection"
				}
				
			}
		},
		"additionalPropertiesObj": {
			"type": "object",
			"description": "Details about impacted performance metrics. Applicable for performance impacts.",
			"properties": {
				"errorCode": {
					"type": "string",
					"description": "Error code associated with the impact"
				},
				"errorMessage": {
					"type": "number",					
					"description": "Error message associated with the impact"
				}			
			}
		},
		"attributionDetails": {
			"type": "object",
			"description": "attribution details for a impact or group impact",
			"properties": {
				"impactDetails": {
					"type": "object",
					"$ref":"#/definitions/rcaImpactDetails",
					"description": "details of impact associated with the RCA"
				},
				"attributions": {
					"type": "array",
					"items": {
						"type": "object",
						"description": "attributions details",
						"$ref":"#/definitions/attributionsObj"
					},
					"description": "List of attributions for a impact "
				}
			}
		},
		"attributionsObj": {
			"type": "object",
			"description": "attribution details",
			"required": [
				"rcaUniqueId",
				"processingStatus",
				"rootCauseAttributionTime",
				"resourceUri"
			],
			"properties": {

				"rcaUniqueId": {
					"type": "string",
					"format": "uuid",
					"description": "guid of the rca"
				},
				"resourceUri": {
					"type": "string",					
					"pattern":"(\/[a-zA-Z0-9$&+,:;=?@#|'<>.^*()%!-]+)+",
					"description": "Azure resource uri "
				},
				
				"rootCauseAttributionTime": {
					"type": "string",
					"format": "date-time",
					"description": "The time the RCA was generated."
				},
				"processingStatus": {
					"type": "string",
					"enum": [
						"ACTIVE",
						"RESOLVED"
					],
					"description": "status of the RCA"
				},
				"rootCauseAttributionCategory": {
					"type": "string",
					"description": "The category of the RCA",
					"enum": [
						"KNOWN_ISSUE",
						"NO_ISSUE_DETECTED",
						"ROLLOUT_ISSUE",
						"RCA_IN_PROGRESS",
						"OTHER_ISSUE"
					]
				}
				
			}
		},
		"rcaImpactDetails": {
			"type": "object",
			"description": "impact details",
			"required": [
				"impactUniqueId",
				"reportedTimeUtc",
				"startDateTime",
				"impactCategory"
			],
			"properties": {
				"impactUniqueId": {
					"type": "string",
					"format": "uuid",
					"description": "guid of the impact"
				},
				"reportedTimeUtc": {
					"type": "string",
					"format": "date-time",
					"description": "The time the impact was reported"
				},				
				"startDateTime": {
					"type": "string",
					"format": "date-time",
					"description": "The start time of the impact"
				},
				"endDateTime": {
					"type": "string",
					"format": "date-time",
					"description": "The end time of the impact"
				},
				"impactCategory": {
					"type": "string",
					"description": "The category of the impact",
					"pattern": "([A-Za-z]+.)+[A-Za-z]+"
				},
				"impactGroupId": {
					"type": "string",
					"format": "uuid",
					"description": "guid of the group impact id "
				}
				
			}
		},
		"ImpactListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Impact"
					},
					"description": "A list of impacts in a resource group."
				},
				"nextLink": {
					"type": "string",
					"readOnly": true,
					"description": "The URL to get the next set of results."
				}
			},
			"description": "Response for list impacts API service call."
		},
		"RcaListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/rca"
					},
					"description": "A list of rca for a given impact"
				},
				"nextLink": {
					"type": "string",
					"readOnly": true,
					"description": "The URL to get the next set of results."
				}
			},
			"description": "Response for list rca API service call."
		},
		"ErrorResponse": {
			"title": "Error response",
			"description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
			"type": "object",
			"properties": {
				"error": {
					"description": "The error object.",
					"$ref": "#/definitions/ErrorDetail"
				}
			}
		},
		"ErrorDetail": {
			"description": "The error detail.",
			"type": "object",
			"properties": {
				"code": {
					"readOnly": true,
					"type": "string",
					"description": "The error code."
				},
				"message": {
					"readOnly": true,
					"type": "string",
					"description": "The error message."
				},
				"target": {
					"readOnly": true,
					"type": "string",
					"description": "The error target."
				},
				"details": {
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/ErrorDetail"
					},
					"x-ms-identifiers": [
						"message",
						"target"
					],
					"description": "The error details."
				},
				"additionalInfo": {
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/ErrorAdditionalInfo"
					},
					"x-ms-identifiers": [],
					"description": "The error additional info."
				}
			}
		},
		"ErrorAdditionalInfo": {
			"type": "object",
			"properties": {
				"type": {
					"readOnly": true,
					"type": "string",
					"description": "The additional info type."
				},
				"info": {
					"readOnly": true,
					"type": "object",
					"description": "The additional info."
				}
			},
			"description": "The resource management error additional info."
		},
		"Operation": {
			"title": "REST API Operation",
			"description": "Details of a REST API operation, returned from the Resource Provider Operations API",
			"type": "object",
			"properties": {
				"name": {
					"description": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\"",
					"type": "string",
					"readOnly": true
				},
				"isDataAction": {
					"description": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
					"type": "boolean",
					"readOnly": true
				},
				"display": {
					"description": "Localized display information for this particular operation.",
					"type": "object",
					"properties": {
						"provider": {
							"description": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\".",
							"type": "string",
							"readOnly": true
						},
						"resource": {
							"description": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\".",
							"type": "string",
							"readOnly": true
						},
						"operation": {
							"description": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\".",
							"type": "string",
							"readOnly": true
						},
						"description": {
							"description": "The short, localized friendly description of the operation; suitable for tool tips and detailed views.",
							"type": "string",
							"readOnly": true
						}
					}
				},
				"origin": {
					"description": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\"",
					"type": "string",
					"readOnly": true,
					"enum": [
						"user",
						"system",
						"user,system"
					],
					"x-ms-enum": {
						"name": "Origin",
						"modelAsString": true
					}
				},
				"actionType": {
					"description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
					"type": "string",
					"readOnly": true,
					"enum": [
						"Internal"
					],
					"x-ms-enum": {
						"name": "ActionType",
						"modelAsString": true
					}
				}
			}
		},
		"OperationListResult": {
			"description": "A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.",
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Operation"
					},
					"x-ms-identifiers": [
						"name"
					],
					"description": "List of operations supported by the resource provider",
					"readOnly": true
				},
				"nextLink": {
					"type": "string",
					"description": "URL to get the next set of operation list results (if there are any).",
					"readOnly": true
				}
			}
		}
	},
	"parameters": {
		"impactNameParameter": {
			"name": "impactName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name impacts resource.",
			"x-ms-parameter-location": "method"
		},
		"rcaNameParameter": {
			"name": "rcaName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name rca resource.",
			"x-ms-parameter-location": "method"
		},
		"ResourceUriParameter": {
			"name": "resourceUri",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The fully qualified Azure Resource manager identifier of the resource to be connected.",
			"x-ms-skip-url-encoding": true,
			"x-ms-parameter-location": "method"
		},
		"SubscriptionIdParameter": {
			"name": "subscriptionId",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The ID of the target subscription.",
			"minLength": 1
		},
		"ApiVersionParameter": {
			"name": "api-version",
			"in": "query",
			"required": true,
			"type": "string",
			"description": "The API version to use for this operation.",
			"minLength": 1
		},
		"ResourceGroupNameParameter": {
			"name": "resourceGroupName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The name of the resource group. The name is case insensitive.",
			"minLength": 1,
			"maxLength": 90,
			"x-ms-parameter-location": "method"
		}
	}
}