{
  "swagger": "2.0",
  "info": {
    "version": "2021-09-07-preview",
    "title": "cts-experience-experience",
    "description": "Description of the new service",
    "x-ms-code-generation-settings": {
      "name": "ctsClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Flows/flows/{flowName}": {
      "get": {
        "x-ms-examples": {
          "Gets flow resource": {
            "$ref": "examples/getFlow.json"
          }
        },
        "operationId": "flow_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/flowNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the installations resource.",
            "schema": {
              "$ref": "#/definitions/flow"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "flow_CreateOrUpdate",
        "x-ms-examples": {
          "Creates or updates the flow resource": {
            "$ref": "examples/createOrUpdateFlow.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/flowNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "flow",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/flow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the installations resource.",
            "schema": {
              "$ref": "#/definitions/flow"
            }
          },
          "201": {
            "description": "Creates the installations resource.",
            "schema": {
              "$ref": "#/definitions/flow"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Updates the installation resource": {
            "$ref": "examples/deleteFlow.json"
          }
        },
        "operationId": "flow_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/flowNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the installations resource."
          },
          "204": {
            "description": "Deletes the installations resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "flow_Update",
        "x-ms-examples": {
          "Creates or updates the flow resource": {
            "$ref": "examples/patchFlow.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/flowNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "flow",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/flowsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the installations resource.",
            "schema": {
              "$ref": "#/definitions/flow"
            }
          },
          "201": {
            "description": "Creates the installations resource.",
            "schema": {
              "$ref": "#/definitions/flow"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Flows/flows": {
      "get": {
        "x-ms-examples": {
          "Gets flows in a resource group": {
            "$ref": "examples/listFlowsByResourceGroup.json"
          }
        },
        "operationId": "flow_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all flows under the resource group.",
            "schema": {
              "$ref": "#/definitions/flowsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.Flows/flows": {
      "get": {
        "x-ms-examples": {
          "Gets flows in a subscription": {
            "$ref": "examples/listFlowsBySubscription.json"
          }
        },
        "operationId": "flow_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all flows under the subscription.",
            "schema": {
              "$ref": "#/definitions/flowsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Flows/operations": {
      "get": {
        "tags": [
          "Tag1"
        ],
        "operationId": "OperationGroup_Get",
        "x-ms-examples": {
          "BatchAccountDelete": {
            "$ref": "./examples/OperationGroupGet.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "flowProperties": {
      "type": "object",
      "properties": {
        "aupForm": {
          "type": "string",
          "description": "Link to signed AUP form"
        },
        "avgDailyData": {
          "type": "integer",
          "description": "Daily estimate on data size in GB"
        },
        "coud": {
          "type": "string",
          "description": "Cloud the flow will be onboarded to"
        },
        "cloudVault": {
          "type": "boolean",
          "description": "Data currenty stored in CloudVault?"
        },
        "dataTypes": {
          "type": "string",
          "description": "Data types that this Dataflow will service"
        },
        "dataUse": {
          "type": "string",
          "description": "How will the data be used on the high side?"
        },
        "destination": {
          "type": "string",
          "description": "What is the destination of this data? (beyond the high-side Storage Account?)"
        },
        "email": {
          "type": "string",
          "description": "Microsoft corporate e-mail address"
        },
        "highSideIcmNumber": {
          "type": "integer",
          "description": "ICM Number in high side where onboarding details are entered"
        },
        "jitForManulTransfers": {
          "type": "boolean",
          "description": "Please confirm JIT will be used for manual transfers, whether they be access to the source Storage Container or any service which interacts with the Storage Account"
        },
        "keyVaultUri": {
          "type": "string",
          "description": "AME, PME, or TORUS only! AKV Chain Containing SAS Token"
        },
        "manualUsage": {
          "type": "boolean",
          "description": "Does your service have manual upload through the Teleport pipeline"
        },
        "manualUsersTented": {
          "type": "boolean",
          "description": "Manual users are tented"
        },
        "maxData": {
          "type": "integer",
          "description": "Enter the max (99th percentile) data sent in a day (GB)"
        },
        "origin": {
          "type": "string",
          "description": "What is the system of origin for this data?"
        },
        "primaryContact": {
          "type": "string",
          "description": "Primary contact for this data flow"
        },
        "secondaryContact": {
          "type": "string",
          "description": "Secondary contacts for this dataflow."
        },
        "serviceName": {
          "type": "string",
          "description": "Service Name"
        },
        "serviceTreeId": {
          "type": "string",
          "description": "Service Tree ID of the service"
        },
        "storageAccountName": {
          "type": "string",
          "description": "Storage Account"
        },
        "storageContainerName": {
          "type": "string",
          "description": "Storage Container"
        },
        "storageContainerType": {
          "type": "string",
          "description": "Transfer Storage Blobs or Tables"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription ID for the storage account to be onboarded"
        },
        "title": {
          "type": "string",
          "description": "Title of flow"
        },
        "useCase": {
          "type": "string",
          "description": "Use case for this data flow."
        }
      },
      "required": ["storageAccountName", "storageContainerName"],
      "description": "Properties of flow"
    },
    "flow": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "$ref": "#/definitions/flowProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "required": [
        "location"
      ],
      "description": "The flow resource definition."
    },
    "flowsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The installations resource patch definition."
    },
    "flowsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/flow"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "Result": {
      "description": "Sample result definition",
      "properties": {
        "sampleProperty": {
          "type": "string",
          "description": "Sample property of type string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "flowNameParameter": {
      "x-ms-parameter-location": "client",
      "name": "flowName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    }
  }
}