{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.DatabaseInsights",
    "version": "2023-03-01-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DatabaseMonitoringAgents"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.DatabaseInsights/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DatabaseInsights/databaseMonitoringAgents": {
      "get": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_ListBySubscription",
        "description": "List DatabaseMonitoringAgent resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgentListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DatabaseInsights/databaseMonitoringAgents": {
      "get": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_ListByResourceGroup",
        "description": "List DatabaseMonitoringAgent resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgentListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DatabaseInsights/databaseMonitoringAgents/{DatabaseMonitoringAgentName}": {
      "get": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_Get",
        "description": "Get a DatabaseMonitoringAgent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseMonitoringAgent.DatabaseMonitoringAgentName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_CreateOrUpdate",
        "description": "Create a DatabaseMonitoringAgent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseMonitoringAgent.DatabaseMonitoringAgentName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_Update",
        "description": "Update a DatabaseMonitoringAgent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseMonitoringAgent.DatabaseMonitoringAgentName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_Delete",
        "description": "Delete a DatabaseMonitoringAgent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseMonitoringAgent.DatabaseMonitoringAgentName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "DatabaseMonitoringAgent": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseMonitoringAgentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A DatabaseInsightsProviderHub resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DatabaseMonitoringAgentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DatabaseMonitoringAgent"
          },
          "x-cadl-name": "DatabaseMonitoringAgent[]",
          "description": "The DatabaseMonitoringAgent items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a DatabaseMonitoringAgent list operation.",
      "required": [
        "value"
      ]
    },
    "DatabaseMonitoringAgentProperties": {
      "type": "object",
      "properties": {
        "identity": {
          "type": "string",
          "description": "Principal Id of the identity assigned to DBMA that has access to monitoring targets (database instances), Key Vault secrets (if used to store database authentication credentials), and an Azure Data Explorer database used as the monitoring data store"
        },
        "monitoringTargets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitoringTarget"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "MonitoringTarget[]",
          "description": "An array of monitoring targets (database instances) to monitor"
        },
        "datastore": {
          "$ref": "#/definitions/Datastore",
          "description": "A data store for collected monitoring data"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "description": "rp specific properties of the resource DatabaseMonitoring Agent"
    },
    "DatabaseMonitoringAgentUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/DatabaseMonitoringAgentUpdateProperties"
        }
      },
      "description": "The type used for update operations of the DatabaseMonitoringAgent."
    },
    "DatabaseMonitoringAgentUpdateProperties": {
      "type": "object",
      "properties": {
        "identity": {
          "type": "string",
          "description": "Principal Id of the identity assigned to DBMA that has access to monitoring targets (database instances), Key Vault secrets (if used to store database authentication credentials), and an Azure Data Explorer database used as the monitoring data store"
        },
        "monitoringTargets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitoringTarget"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "MonitoringTarget[]",
          "description": "An array of monitoring targets (database instances) to monitor"
        },
        "datastore": {
          "$ref": "#/definitions/Datastore",
          "description": "A data store for collected monitoring data"
        }
      },
      "description": "The updatable properties of the DatabaseMonitoringAgent."
    },
    "Datastore": {
      "type": "object",
      "properties": {
        "adxDatabaseId": {
          "type": "string",
          "description": "ARM ResourceId of an Azure Data Explorer database"
        }
      },
      "description": "Properties of the monitoring data store object",
      "required": [
        "adxDatabaseId"
      ]
    },
    "MonitoringTarget": {
      "type": "object",
      "properties": {
        "targetType": {
          "$ref": "#/definitions/TargetType",
          "description": "Monitoring target type"
        },
        "armResourceId": {
          "type": "string",
          "description": "For monitoring targets in Azure, ARM ResourceId of the target"
        },
        "akvResourceId": {
          "type": "string",
          "description": "ARM ResourceId of the Key Vault instance storing database authentication secrets"
        },
        "akvTargetUser": {
          "type": "string",
          "description": "The path to the Key Vault secret storing the login name (aka user name, aka account name) for authentication to a monitoring target"
        },
        "akvTargetPassword": {
          "type": "string",
          "description": "The path to the Key Vault secret storing the password for authentication to a monitoring target"
        },
        "overrideServerName": {
          "type": "string",
          "description": "The server name to use when connecting to a monitoring target. Used when server name cannot be derived from the ARM resource referenced as the target."
        },
        "state": {
          "type": "string",
          "description": "Monitoring target state",
          "enum": [
            "Enabled",
            "Diabled"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          }
        }
      },
      "description": "Monitoring target object"
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "TargetType": {
      "type": "string",
      "description": "Types of monitoring targets",
      "enum": [
        "SqlDatabase",
        "SqlElasticPool",
        "SqlManagedInstance",
        "SqlServer"
      ],
      "x-ms-enum": {
        "name": "TargetType",
        "modelAsString": false
      }
    }
  },
  "parameters": {
    "DatabaseMonitoringAgent.DatabaseMonitoringAgentName": {
      "name": "DatabaseMonitoringAgentName",
      "in": "path",
      "required": true,
      "description": "Database Monitoring Agent name",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
