{
    "swagger": "2.0",
    "info": {
      "title": "WTW ICT RPaaS PoC",
      "description": "PoC API for RPaaS",
      "version": "v1"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/ResourceCreationValidate": {
        "post": {
          "tags": [
            "Ngit"
          ],
          "operationId": "NGIT_CreateValidate",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}": {
        "put": {
          "tags": [
            "Ngit"
          ],
          "operationId": "NGIT_CreateAndUpdate",
          "consumes": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/NgitAksResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        },
        "delete": {
          "tags": [
            "Ngit"
          ],
          "operationId": "NGIT_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/ResourceCreationCompleted": {
        "post": {
          "tags": [
            "Ngit"
          ],
          "operationId": "NGIT_CreateComplete",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/ResourceDeletionValidate": {
        "post": {
          "tags": [
            "Ngit"
          ],
          "operationId": "NGIT_DeleteValidate",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/ResourceDeletionCompleted": {
        "post": {
          "tags": [
            "Ngit"
          ],
          "operationId": "NGIT_DeleteComplete",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}/ResourceCreationValidate": {
        "post": {
          "tags": [
            "SimpleNgit"
          ],
          "operationId": "SimpleNGIT_CreateValidate",
          "consumes": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/NgitSimpleResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}": {
        "put": {
          "tags": [
            "SimpleNgit"
          ],
          "operationId": "SimpleNGIT_CreateAndUpdate",
          "consumes": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/NgitSimpleResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        },
        "delete": {
          "tags": [
            "SimpleNgit"
          ],
          "operationId": "SimpleNGIT_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}/ResourceCreationCompleted": {
        "post": {
          "tags": [
            "SimpleNgit"
          ],
          "operationId": "SimpleNGIT_CreateComplete",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}/ResourceDeletionValidate": {
        "post": {
          "tags": [
            "SimpleNgit"
          ],
          "operationId": "SimpleNGIT_DeleteValidate",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}/ResourceDeletionCompleted": {
        "post": {
          "tags": [
            "SimpleNgit"
          ],
          "operationId": "SimpleNGIT_DeleteComplete",
          "parameters": [
            {
              "$ref": "#/parameters/resourceName"
            },
            {
              "$ref": "#/parameters/subscriptionId"
            },
            {
              "$ref": "#/parameters/resourceGroup"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      }
    },
    "definitions": {
      "JToken": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/JToken"
        }
      },
      "NgitAksResource": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ],
        "x-ms-azure-resource": true
      },
      "NgitSimpleResource": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ],
        "x-ms-azure-resource": true
      },
      "Resource": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "resourceGroup": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "sku": {
            "$ref": "#/definitions/JToken"
          },
          "kind": {
            "type": "string"
          },
          "managedBy": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "zones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "plan": {
            "$ref": "#/definitions/JToken"
          },
          "eTag": {
            "description": "The resource eTag",
            "type": "string",
            "readOnly": true
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "scale": {
            "$ref": "#/definitions/JToken"
          },
          "identity": {
            "$ref": "#/definitions/JToken"
          },
          "properties": {
            "$ref": "#/definitions/JToken"
          }
        },
        "x-ms-azure-resource": true
      }
    },
    "parameters": {
      "subscriptionId": {
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "type": "string"
      },
      "resourceGroup": {
        "in": "path",
        "name": "resourceGroup",
        "required": true,
        "type": "string"
      },
      "resourceName": {
        "in": "path",
        "name": "resourceName",
        "required": true,
        "type": "string"
      }
    },
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "flow": "implicit",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        },
        "description": "Azure Active Directory OAuth2 Flow."
      }
    },
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ]
  }