{
  "swagger": "2.0",
  "info": {
    "title": "Qumulo.QaaS",
    "version": "2022-03-10-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Storages"
    }
  ],
  "paths": {
    "/providers/Qumulo.QaaS/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "List the operations for Qumulo.QaaS",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Qumulo.QaaS/storages": {
      "get": {
        "operationId": "Storages_ListBySubscription",
        "description": "List QumuloResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QumuloResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Storages"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Storages_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Storages_ListBySubscription_MaximumSet_Gen.json"
          },
          "Storages_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Storages_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Qumulo.QaaS/storages": {
      "get": {
        "operationId": "Storages_ListByResourceGroup",
        "description": "List QumuloResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QumuloResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Storages"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Storages_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Storages_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Storages_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Storages_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Qumulo.QaaS/storages/{storageName}": {
      "get": {
        "operationId": "Storages_Get",
        "description": "Get a QumuloResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QumuloResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Storages"
        ],
        "x-ms-examples": {
          "Storages_Get_MaximumSet_Gen": {
            "$ref": "./examples/Storages_Get_MaximumSet_Gen.json"
          },
          "Storages_Get_MinimumSet_Gen": {
            "$ref": "./examples/Storages_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Storages_CreateOrUpdate",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Create a QumuloResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/QumuloResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QumuloResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QumuloResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Storages"
        ],
        "x-ms-examples": {
          "Storages_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Storages_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Storages_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Storages_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Storages_Update",
        "description": "Update a QumuloResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/QumuloResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QumuloResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Storages"
        ],
        "x-ms-examples": {
          "Storages_Update_MaximumSet_Gen": {
            "$ref": "./examples/Storages_Update_MaximumSet_Gen.json"
          },
          "Storages_Update_MinimumSet_Gen": {
            "$ref": "./examples/Storages_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Storages_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Delete a QumuloResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Storages"
        ],
        "x-ms-examples": {
          "Storages_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Storages_Delete_MaximumSet_Gen.json"
          },
          "Storages_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Storages_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ARM.ManagedIdentityProperties": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ARM.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ARM.UserAssignedIdentity"
          },
          "description": "The identities assigned to this resource by the user."
        }
      },
      "description": "The properties of the managed service identities assigned to this resource.",
      "required": [
        "type"
      ]
    },
    "Azure.ARM.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned"
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned,UserAssigned"
          }
        ]
      }
    },
    "Azure.ARM.UserAssignedIdentity": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      },
      "description": "A managed identity assigned by the user.",
      "required": [
        "clientId",
        "principalId"
      ]
    },
    "CompanyDetails": {
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "Company name"
        },
        "officeAddress": {
          "type": "string",
          "description": "Office Address"
        },
        "country": {
          "type": "string",
          "description": "Country of operation"
        },
        "domain": {
          "type": "string",
          "description": "Domain of the company"
        },
        "business": {
          "type": "string",
          "description": "Business of the company"
        },
        "numberOfEmployees": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Employees"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        }
      },
      "description": "Company details of Qumulo FileSystem resource",
      "required": [
        "companyName",
        "country",
        "domain",
        "numberOfEmployees"
      ]
    },
    "MarketplaceDetails": {
      "type": "object",
      "properties": {
        "marketplaceSubscriptionId": {
          "type": "string",
          "description": "Marketplace Subscription Id"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id"
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher Id"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        }
      },
      "description": "MarketplaceDetails of Qumulo FileSystem resource",
      "required": [
        "marketplaceSubscriptionId",
        "planId",
        "offerId",
        "publisherId"
      ]
    },
    "ProvisioningStatus": {
      "type": "string",
      "enum": [
        "PendingFulfillmentStart",
        "Subscribed",
        "Updating",
        "Suspended",
        "Unsubscribed",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningStatus",
        "modelAsString": true
      }
    },
    "QumuloFileSystemDeployment": {
      "type": "object",
      "properties": {
        "azTenantId": {
          "type": "string",
          "description": "Azure Tenant Id"
        },
        "azSubscriptionId": {
          "type": "string",
          "description": "Azure Subscription Id"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        },
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningStatus",
          "description": "Provisioning State of the resource"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "companyDetails": {
          "$ref": "#/definitions/CompanyDetails",
          "description": "Company Details"
        }
      },
      "description": "Properties specific to the Qumulo File System resource deployment",
      "required": [
        "azTenantId",
        "azSubscriptionId",
        "provisioningState",
        "userDetails",
        "companyDetails"
      ]
    },
    "QumuloResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/QumuloFileSystemDeployment",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ARM.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "Qumulo FileSystem",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "QumuloResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QumuloResource"
          },
          "x-cadl-name": "Qumulo.QaaS.QumuloResource[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a QumuloResource list operation.",
      "required": [
        "value"
      ]
    },
    "QumuloResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/QumuloResourceUpdateProperties"
        }
      },
      "description": "The updatable properties of the QumuloResource."
    },
    "QumuloResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "azTenantId": {
          "type": "string",
          "description": "Azure Tenant Id"
        },
        "azSubscriptionId": {
          "type": "string",
          "description": "Azure Subscription Id"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        },
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningStatus",
          "description": "Provisioning State of the resource"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "companyDetails": {
          "$ref": "#/definitions/CompanyDetails",
          "description": "Company Details"
        }
      },
      "description": "The updatable properties of QumuloFileSystemDeployment"
    },
    "UserDetails": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name"
        },
        "lastName": {
          "type": "string",
          "description": "Last name"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id"
        },
        "email": {
          "type": "string",
          "description": "User Email"
        },
        "alternateEmail": {
          "type": "string",
          "description": "Alternate Email address"
        },
        "upn": {
          "type": "string",
          "description": "UPN of user"
        },
        "address": {
          "type": "string",
          "description": "Address of user"
        },
        "contactPhoneNumber": {
          "type": "string",
          "description": "Contact phone number"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        }
      },
      "description": "User Details of Qumulo FileSystem resource",
      "required": [
        "planId",
        "email",
        "upn"
      ]
    }
  },
  "parameters": {
    "StorageNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "storageName",
      "in": "path",
      "required": true,
      "description": "Storage Name",
      "type": "string"
    }
  }
}