{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore MME deployment object. A MME deployment object represents a MME instance that will be (or is) deployed as part of a Mobile Packet Core.",
    "version": "2023-08-31-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/mmeDeployments/{mmeDeploymentName}": {
      "put": {
        "tags": [
          "MmeDeployments"
        ],
        "operationId": "MmeDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core MME deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/MmeDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MmeDeployment"
            },
            "description": "Parameters supplied to create or update a MME deployment object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MME resource.",
            "schema": {
              "$ref": "#/definitions/MmeDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create MME Deployment": {
            "$ref": "./examples/MmeDeploymentCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "MmeDeployments"
        ],
        "operationId": "MmeDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core MME Deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/MmeDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MME resource.",
            "schema": {
              "$ref": "#/definitions/MmeDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get MME Deployment": {
            "$ref": "./examples/MmeDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MmeDeployments"
        ],
        "operationId": "MmeDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core MME Deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/MmeDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The MME Deployment object has been deleted"
          },
          "204": {
            "description": "Successful: The MME Deployment object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete MME Deployment": {
            "$ref": "./examples/MmeDeploymentDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/mmeDeployments": {
      "get": {
        "tags": [
          "MmeDeployments"
        ],
        "operationId": "MmeDeployments_ListByNfvi",
        "description": "Lists all the MME deployment resources in a nfvi instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/MmeDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List MME Deployments by Nfvi": {
            "$ref": "./examples/MmeDeploymentListByNfvi.json"
          }
        }
      }
    }
  },
  "definitions": {
    "MmeTypeSpecificData": {
      "type": "object",
      "description": "MME deployment type specific properties.",
      "discriminator": "mmeDeploymentNfviType",
      "properties": {
        "mmeDeploymentNfviType": {
          "type": "string",
          "enum": [
            "AzureCore",
            "AzureOperatorNexus"
          ],
          "x-ms-enum": {
            "name": "MmeDeploymentNfviType",
            "modelAsString": true
          },
          "description": "Type of MME",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "mmeDeploymentNfviType"
      ]
    },
    "AzureOperatorNexusData": {
      "type": "object",
      "description": "Azure Operator Nexus MME deployment properties.",
      "allOf": [
        {
          "$ref": "#/definitions/MmeTypeSpecificData"
        }
      ],
      "properties": {
        "managementL3Network": {
          "$ref": "./common.json#/definitions/NexusL3NetworkProperties",
          "description": "Management network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "accessL3Network": {
          "$ref": "./common.json#/definitions/NexusL3NetworkProperties",
          "description": "Access network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "coreL3Network": {
          "$ref": "./common.json#/definitions/NexusL3NetworkProperties",
          "description": "Core network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "baseL2Network": {
          "$ref": "./common.json#/definitions/NexusL2NetworkProperties",
          "description": "Base network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "dataL2Network": {
          "$ref": "./common.json#/definitions/NexusL2NetworkProperties",
          "description": "Data network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "managementL3Network",
        "accessL3Network",
        "coreL3Network",
        "baseL2Network",
        "dataL2Network"
      ],
      "x-ms-discriminator-value": "AzureOperatorNexus"
    },
    "AzureCoreData": {
      "type": "object",
      "description": "Azure Core MME deployment properties.",
      "allOf": [
        {
          "$ref": "#/definitions/MmeTypeSpecificData"
        }
      ],
      "properties": {
        "managementIpPool": {
          "$ref": "./common.json#/definitions/VnfExternalIpPool",
          "description": "IP pools for management traffic where the subnetId is taken from the management Subnet of containing NFVi instance, e.g. 172.32.0.0/24",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouthIpPool": {
          "$ref": "./common.json#/definitions/VnfExternalIpPool",
          "description": "IP pools for north/south control plane traffic where the subnetId is taken from the north/south of containing NFVi instance",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouthDataIpPool": {
          "$ref": "./common.json#/definitions/VnfExternalIpPool",
          "description": "IP pools for north/south data plane traffic where the subnetId is taken from the north/south-data of containing NFVi instance",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "baseNetwork": {
          "$ref": "./common.json#/definitions/VnfInternalSubnet",
          "description": "The base subnet."
        },
        "eastWestNetwork": {
          "$ref": "./common.json#/definitions/VnfInternalSubnet",
          "description": "The base subnet."
        }
      },
      "required": [
        "managementIpPool",
        "northSouthDataIpPool",
        "baseNetwork",
        "eastWestNetwork"
      ],
      "x-ms-discriminator-value": "AzureCore"
    },
    "MmeDeploymentProperties": {
      "type": "object",
      "description": "The MME resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the MME Deployment resource."
        },
        "managementFloatingIp": {
          "$ref": "./common.json#/definitions/IpAddress",
          "description": "Floating IP address",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "typeSpecificData": {
          "$ref": "#/definitions/MmeTypeSpecificData"
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the MME deployment",
          "properties": {
            "mmeName": {
              "type": "string",
              "description": "Name assigned to the MME instance"
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/DeploymentAreaIdProperty",
          "description": "The reference to the deployment area to which this network function belongs.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "deploymentArea",
        "managementFloatingIp",
        "typeSpecificData"
      ]
    },
    "MmeDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MmeDeploymentProperties",
          "description": "Mobile Packet Core MME deployment properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MME deployment resource."
    },
    "MmeDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MmeDeployment"
          },
          "description": "A list of MME function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MME Deployment API service call."
    }
  },
  "parameters": {
    "MmeDeploymentNameParameter": {
      "name": "mmeDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of MME deployment object.",
      "x-ms-parameter-location": "client"
    }
  }
}
