{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore SAEGW control plane deployment object. A SAEGW control plane deployment object represents a SAEGW control plane instance that will be (or is) deployed as part of a Mobile Packet Core.",
    "version": "2023-08-31-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/saegwCpDeployments/{saegwCpDeploymentName}": {
      "put": {
        "tags": [
          "SaegwCpDeployments"
        ],
        "operationId": "SaegwCpDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core SAEGW CP deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwCpDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaegwCpDeployment"
            },
            "description": "Parameters supplied to create or update a SAEGW CP profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the SAEGW CP resource.",
            "schema": {
              "$ref": "#/definitions/SaegwCpDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SaegwCp Deployment": {
            "$ref": "./examples/SaegwCpDeploymentCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "SaegwCpDeployments"
        ],
        "operationId": "SaegwCpDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core SAEGW CP resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwCpDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the SAEGW CP resource.",
            "schema": {
              "$ref": "#/definitions/SaegwCpDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SaegwCp Deployment": {
            "$ref": "./examples/SaegwCpDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SaegwCpDeployments"
        ],
        "operationId": "SaegwCpDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core SAEGW CP Deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwCpDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The SAEGW CP Deployment object has been deleted"
          },
          "204": {
            "description": "Successful: The SAEGW CP Deployment object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SaegwCp Deployment": {
            "$ref": "./examples/SaegwCpDeploymentDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/saegwCpDeployments": {
      "get": {
        "tags": [
          "SaegwCpDeployments"
        ],
        "operationId": "SaegwCpDeployments_ListByNfvi",
        "description": "Lists all the SAEGW CP Deployments in a nfvi instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SaegwCpDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List SaegwCp Deployments by Nfvi": {
            "$ref": "./examples/SaegwCpDeploymentListByNfvi.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SaegwCpTypeSpecificData": {
      "type": "object",
      "description": "SaegwCp deployment type specific properties.",
      "discriminator": "saegwCpDeploymentNfviType",
      "properties": {
        "saegwCpDeploymentNfviType": {
          "type": "string",
          "enum": [
            "AzureCore",
            "AzureOperatorNexus"
          ],
          "x-ms-enum": {
            "name": "SaegwCpDeploymentNfviType",
            "modelAsString": true
          },
          "description": "Type of SaegwCp",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "saegwCpDeploymentNfviType"
      ]
    },
    "AzureOperatorNexusData": {
      "type": "object",
      "description": "Azure Operator Nexus SaegwCp deployment properties.",
      "allOf": [
        {
          "$ref": "#/definitions/SaegwCpTypeSpecificData"
        }
      ],
      "properties": {
        "managementL3Network": {
          "$ref": "./common.json#/definitions/NexusL3NetworkProperties",
          "description": "Management network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouth1L3Network": {
          "$ref": "./common.json#/definitions/NexusL3NetworkProperties",
          "description": "North South 1 network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouth2L3Network": {
          "$ref": "./common.json#/definitions/NexusL3NetworkProperties",
          "description": "North South 2 network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "base1L2Network": {
          "$ref": "./common.json#/definitions/NexusL2NetworkProperties",
          "description": "Base 1 network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "base2L2Network": {
          "$ref": "./common.json#/definitions/NexusL2NetworkProperties",
          "description": "Base 2 network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "eastWest1L2Network": {
          "$ref": "./common.json#/definitions/NexusL2NetworkProperties",
          "description": "East/west 1 network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "eastWest2L2Network": {
          "$ref": "./common.json#/definitions/NexusL2NetworkProperties",
          "description": "East/west 1 network",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "managementL3Network",
        "northSouth1L3Network",
        "northSouth2L3Network",
        "base1L2Network",
        "base2L2Network",
        "eastWest1L2Network",
        "eastWest2L2Network"
      ],
      "x-ms-discriminator-value": "AzureOperatorNexus"
    },
    "AzureCoreData": {
      "type": "object",
      "description": "Azure Core SaegwCp deployment properties.",
      "allOf": [
        {
          "$ref": "#/definitions/SaegwCpTypeSpecificData"
        }
      ],
      "properties": {
        "managementIpPool": {
          "$ref": "./common.json#/definitions/VnfExternalIpPool",
          "description": "IP pools for management traffic where the subnetId is taken from the management subnet of containing NFVi instance",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "northSouthIpPools": {
          "type": "array",
          "minItems": 2,
          "maxItems": 5,
          "description": "A list of IP pools for north/south traffic according to the associated SaewCp profile",
          "x-ms-identifiers": [
            "usage"
          ],
          "items": {
            "$ref": "./common.json#/definitions/VnfNorthSouthIpPool"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "baseNetwork": {
          "$ref": "./common.json#/definitions/VnfInternalSubnet",
          "description": "The base subnet.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "eastWestNetwork": {
          "$ref": "./common.json#/definitions/VnfInternalSubnet",
          "description": "The base subnet.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "managementIpPool",
        "northSouthIpPools",
        "baseNetwork",
        "eastWestNetwork"
      ],
      "x-ms-discriminator-value": "AzureCore"
    },
    "SaegwCpDeploymentProperties": {
      "type": "object",
      "description": "The SAEGW CP resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SAEGW CP Deployment resource."
        },
        "typeSpecificData": {
          "$ref": "#/definitions/SaegwCpTypeSpecificData"
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the SAEGW CP deployment",
          "properties": {
            "saegwCpName": {
              "type": "string",
              "description": "Name applied to the SAEGW CP instance"
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/DeploymentAreaIdProperty",
          "description": "The reference to the deployment area to which this network function belongs.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "deploymentArea",
        "typeSpecificData"
      ]
    },
    "SaegwCpDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SaegwCpDeploymentProperties",
          "description": "Mobile Packet Core SAEGW-CP Deployment properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The SAEGW CP resource."
    },
    "SaegwCpDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaegwCpDeployment"
          },
          "description": "A list of SAEGW CP function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for SAEGW CP Deployment API service call."
    }
  },
  "parameters": {
    "SaegwCpDeploymentNameParameter": {
      "name": "saegwCpDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of SAEGW CP deployment object.",
      "x-ms-parameter-location": "client"
    }
  }
}
