{
  "swagger": "2.0",
  "info": {
    "title": "Cloud for Sovereignty Resource Provider.",
    "version": "2023-09-28-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "LandingZonesConfigurations"
    },
    {
      "name": "LandingZoneRegistrations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Sovereign/landingZoneConfigurations": {
      "get": {
        "operationId": "LandingZonesConfigurations_ListByTenant",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "List LandingZoneConfiguration resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{landingZoneConfigurationName}": {
      "get": {
        "operationId": "LandingZonesConfigurations_Get",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Get a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_Get_0": {
            "$ref": "./examples/LandingZoneConfiguration_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZonesConfigurations_CreateOrUpdate",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Create a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_CreateOrUpdate_0": {
            "$ref": "./examples/LandingZoneConfiguration_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZonesConfigurations_Update",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Update a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_Update_0": {
            "$ref": "./examples/LandingZoneConfiguration_Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "LandingZonesConfigurations_Delete",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Delete a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_Delete_0": {
            "$ref": "./examples/LandingZoneConfiguration_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{landingZoneConfigurationName}/generateLandingZone": {
      "post": {
        "operationId": "LandingZonesConfigurations_GenerateLandingZone",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Generate the landing zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_GenerateLandingZone_0": {
            "$ref": "./examples/LandingZoneConfiguration_GenerateLandingZone.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{landingZoneConfigurationName}/setAuthoringStatus": {
      "post": {
        "operationId": "LandingZonesConfigurations_SetAuthoringStatus",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Provides a mechanism to update the authoring status.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetAuthoringStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SetAuthoringStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneRegistrations": {
      "get": {
        "operationId": "LandingZoneRegistrations_ListByTenant",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "List LandingZoneRegistration resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneRegistrations/{landingZoneRegistrationName}": {
      "get": {
        "operationId": "LandingZoneRegistrations_Get",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Get a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the Landing Zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrations_Get_0": {
            "$ref": "./examples/LandingZoneRegistration_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZoneRegistrations_CreateOrUpdate",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Create a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the Landing Zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneRegistration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneRegistration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrations_CreateOrUpdate_0": {
            "$ref": "./examples/LandingZoneRegistration_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneRegistrations_Update",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Update a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the Landing Zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrations_Update_0": {
            "$ref": "./examples/LandingZoneRegistration_Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "LandingZoneRegistrations_Delete",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Delete a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the Landing Zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrations_Delete_0": {
            "$ref": "./examples/LandingZoneRegistration_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AuthoringStatus": {
      "type": "string",
      "description": "The authoring status for a Landing Zone configuration.",
      "enum": [
        "Authoring",
        "ReadyForUse",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AuthoringStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Authoring",
            "value": "Authoring",
            "description": "This is the default status when a create configuration request is made. In this state, the Landing Zone configuration can be updated."
          },
          {
            "name": "ReadyForUse",
            "value": "ReadyForUse",
            "description": "This status is set when the configuration changes are complete and the configuration is ready for code generation"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "This status is set when the landing zone configuration is no longer in use."
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "DecommissionedMgProperties": {
      "type": "object",
      "description": "Decommissioned Managemenrt Group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the Management Group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false, this Management Group will not be created."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "DecommissionedMgPropertiesUpdate": {
      "type": "object",
      "description": "Decommissioned Managemenrt Group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the Management Group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false, this Management Group will not be created."
        }
      }
    },
    "FirewallCreationOptions": {
      "type": "string",
      "description": "The input values for creating or using an existing firewall resource.",
      "enum": [
        "None",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "FirewallCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Value when a firewall resource is not created."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Value when the firewall creation is based on the Standard SKU."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Value when the firewall creation is based on the Premium SKU."
          }
        ]
      }
    },
    "GenerateLandingZoneRequest": {
      "type": "object",
      "description": "The request to generate code for a Landing Zone.",
      "properties": {
        "iacOutputOption": {
          "$ref": "#/definitions/IaCOutputOptions",
          "description": "The export options available for code generation."
        },
        "existingManagementSubscriptionId": {
          "type": "string",
          "description": "Management subscription fully qualified Id."
        },
        "existingIdentitySubscriptionId": {
          "type": "string",
          "description": "Identity subscription fully qualified Id."
        },
        "existingConnectivitySubscriptionId": {
          "type": "string",
          "description": "Connectivity subscription fully qualified Id."
        },
        "billingScopeAccountId": {
          "type": "string",
          "description": "Billing scope account Id"
        },
        "enrollmentAccountId": {
          "type": "string",
          "description": "Enrollment Id"
        },
        "existingTopLevelMgParentId": {
          "type": "string",
          "description": "Optional parent for management group hierarchy, used as intermediate root management group parent, if specified. If empty, default will deploy beneath tenant toot management group."
        },
        "deploymentPrefix": {
          "type": "string",
          "description": "The prefix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5,
          "pattern": "^([a-zA-Z0-9-]*)$"
        },
        "deploymentSuffix": {
          "type": "string",
          "description": "The suffix that will be added to Management Group names.",
          "minLength": 2,
          "maxLength": 5
        },
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level management group display name.",
          "minLength": 1,
          "maxLength": 90
        },
        "deploymentLocation": {
          "type": "string",
          "description": "Location to run deployment(s) from the list of Azure Regions.",
          "pattern": "^([a-zA-Z0-9]+)$"
        },
        "organization": {
          "type": "string",
          "description": "The name of the country, region or agency the Landing Zone is being deployed for."
        }
      },
      "required": [
        "iacOutputOption",
        "deploymentPrefix",
        "topLevelMgDisplayName",
        "deploymentLocation",
        "organization"
      ]
    },
    "GenerateLandingZoneResponse": {
      "type": "object",
      "description": "The response for the request to generate Landing Zone code.",
      "properties": {
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level Management Group display name."
        },
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the Landing Zone configuration resource."
        },
        "blobUrl": {
          "type": "string",
          "format": "password",
          "description": "The blob URL where the generated code for the Landing Zone will be stored.",
          "x-ms-secret": true
        }
      },
      "required": [
        "topLevelMgDisplayName",
        "landingZoneConfigurationName",
        "blobUrl"
      ]
    },
    "IaCOutputOptions": {
      "type": "string",
      "description": "Output options for Landing Zone code generation.",
      "enum": [
        "Bicep"
      ],
      "x-ms-enum": {
        "name": "IaCOutputOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Bicep",
            "value": "Bicep",
            "description": "Value when generating Landing Zone code in Bicep."
          }
        ]
      }
    },
    "LandingZoneConfiguration": {
      "type": "object",
      "description": "The Landing Zone configuration resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneConfigurationListResult": {
      "type": "object",
      "description": "The response of a LandingZoneConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneConfigurationProperties": {
      "type": "object",
      "description": "The properties of landing zone configuration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing zone configuration.",
          "readOnly": true
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The status for the landing zone configuration workflow.",
          "readOnly": true
        },
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy DDoS, choose Yes, otherwise No. Select Existing to provide an existing DDoS protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "description": "Existing DDoS protection plan fully qualified Id."
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy Log Analytics workspace, choose Yes, otherwise No. Select 'Existing' to provide an existing Log Analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "description": "The fully qualified Id for the Log Analytics workspace that was created to centralize log ingest."
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}.",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall, choose the Standard/Premium based on the desired SKU. Choose None for no firewall and Existing for a pre existing one."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR block."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the Bastion service, choose Yes, otherwise No. Choose Existing for existing Bastion service."
        },
        "existingAzureBastionId": {
          "type": "string",
          "description": "Existing azure bastion fully qualified Id."
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure Bastion subnet. IP v4 CIDR block."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone children management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneMgProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the root of the Landing Zone deployment."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the Landing Zone Management Groups."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the Platform Management Group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the Management Management Group under Platform."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the Connectivity Management Group under Platform."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the Identity Management Group under Platform."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedMgProperties",
          "description": "This will be applied to the Decommissioned Management Group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxMgProperties",
          "description": "This will be applied to the Sandbox Management Group."
        }
      },
      "required": [
        "ddosProtectionCreationOption",
        "logAnalyticsWorkspaceCreationOption",
        "firewallCreationOption",
        "gatewaySubnetCidrBlock",
        "logRetentionInDays",
        "hubNetworkCidrBlock",
        "azureBastionCreationOption"
      ]
    },
    "LandingZoneConfigurationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LandingZoneConfiguration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "LandingZoneConfigurationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LandingZoneConfiguration.",
      "properties": {
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy DDoS, choose Yes, otherwise No. Select Existing to provide an existing DDoS protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "description": "Existing DDoS protection plan fully qualified Id."
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy Log Analytics workspace, choose Yes, otherwise No. Select 'Existing' to provide an existing Log Analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "description": "The fully qualified Id for the Log Analytics workspace that was created to centralize log ingest."
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}.",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall, choose the Standard/Premium based on the desired SKU. Choose None for no firewall and Existing for a pre existing one."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR block."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the Bastion service, choose Yes, otherwise No. Choose Existing for existing Bastion service."
        },
        "existingAzureBastionId": {
          "type": "string",
          "description": "Existing azure bastion fully qualified Id."
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure Bastion subnet. IP v4 CIDR block."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone children management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneMgProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the root of the Landing Zone deployment."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the Landing Zone Management Groups."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the Platform Management Group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the Management Management Group under Platform."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the Connectivity Management Group under Platform."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the Identity Management Group under Platform."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedMgPropertiesUpdate",
          "description": "This will be applied to the Decommissioned Management Group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxMgPropertiesUpdate",
          "description": "This will be applied to the Sandbox Management Group."
        }
      }
    },
    "LandingZoneMgProperties": {
      "type": "object",
      "description": "Landing Zone Management Group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the Management Group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Management Group name."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "name"
      ]
    },
    "LandingZoneRegistration": {
      "type": "object",
      "description": "The Landing Zone registration resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneRegistrationListResult": {
      "type": "object",
      "description": "The response of a LandingZoneRegistration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneRegistration items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneRegistration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneRegistrationProperties": {
      "type": "object",
      "description": "The properties of the Landing Zone registration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of a user-initiated, control-plane operation on the Landing Zone registration resource type.",
          "readOnly": true
        },
        "existingTopLevelMgId": {
          "type": "string",
          "description": "The top level Management Group Id."
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "description": "The associated Landing Zone configuration Id."
        }
      },
      "required": [
        "existingTopLevelMgId",
        "existingLandingZoneConfigurationId"
      ]
    },
    "LandingZoneRegistrationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LandingZoneRegistration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "LandingZoneRegistrationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LandingZoneRegistration.",
      "properties": {
        "existingTopLevelMgId": {
          "type": "string",
          "description": "The top level Management Group Id."
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "description": "The associated Landing Zone configuration Id."
        }
      }
    },
    "MgProperties": {
      "type": "object",
      "description": "Details of the policy and initiatives associated with the Management Group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the Management Group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties"
      ]
    },
    "MgPropertiesUpdate": {
      "type": "object",
      "description": "Details of the policy and initiatives associated with the Management Group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the Management Group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PolicyInitiativeAssignmentProperties": {
      "type": "object",
      "description": "Details of policy assignments",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "description": "The fully qualified Id of the policy initiatives."
        },
        "assignmentParameters": {
          "type": "object",
          "description": "The parameters for the assignment of policy initiatives.",
          "additionalProperties": true
        }
      },
      "required": [
        "policyInitiativeId",
        "assignmentParameters"
      ]
    },
    "ResourceCreationOptions": {
      "type": "string",
      "description": "Options for resource creation.",
      "enum": [
        "Yes",
        "No",
        "UseExisting"
      ],
      "x-ms-enum": {
        "name": "ResourceCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Yes",
            "value": "Yes",
            "description": "Value to create a new resource."
          },
          {
            "name": "No",
            "value": "No",
            "description": "Value to not create a new resource."
          },
          {
            "name": "UseExisting",
            "value": "UseExisting",
            "description": "Value to use an existing resource."
          }
        ]
      }
    },
    "SandboxMgProperties": {
      "type": "object",
      "description": "Sandbox Management Group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the Management Group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false this Management Group will not be created."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "SandboxMgPropertiesUpdate": {
      "type": "object",
      "description": "Sandbox Management Group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the Management Group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false this Management Group will not be created."
        }
      }
    },
    "SetAuthoringStatusRequest": {
      "type": "object",
      "description": "The request to update authoring status of a configuration.",
      "properties": {
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The value of the authoring status to be updated."
        }
      },
      "required": [
        "authoringStatus"
      ]
    },
    "SetAuthoringStatusResponse": {
      "type": "object",
      "description": "The response for the request to set authoring status.",
      "properties": {
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the Landing Zone configuration resource."
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The value of the authoring status to be updated."
        }
      },
      "required": [
        "landingZoneConfigurationName",
        "authoringStatus"
      ]
    },
    "Tags": {
      "type": "object",
      "description": "The details associated with tags.",
      "properties": {
        "name": {
          "type": "string",
          "description": "A tag name."
        },
        "value": {
          "type": "string",
          "description": "A tag value."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "The Microsoft Sovereign Provider version.",
      "enum": [
        "2023-09-28-preview",
        "2024-03-29"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "Preview20230928",
            "value": "2023-09-28-preview",
            "description": "Preview version."
          },
          {
            "name": "GA20240329",
            "value": "2024-03-29",
            "description": "General availability version."
          }
        ]
      }
    }
  },
  "parameters": {}
}
