{
  "swagger": "2.0",
  "info": {
    "title": "Cloud for Sovereignty Resource Provider.",
    "version": "2023-09-28-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "LandingZonesConfigurations"
    },
    {
      "name": "LandingZoneRegistrations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Sovereign/landingZoneConfigurations": {
      "get": {
        "operationId": "LandingZonesConfigurations_ListByTenant",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "List LandingZoneConfiguration resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{landingZoneConfigurationName}": {
      "get": {
        "operationId": "LandingZonesConfigurations_Get",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Get a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_Get_0": {
            "$ref": "./examples/LandingZoneConfiguration_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZonesConfigurations_CreateOrUpdate",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Create a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_CreateOrUpdate_0": {
            "$ref": "./examples/LandingZoneConfiguration_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZonesConfigurations_Update",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Update a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_Update_0": {
            "$ref": "./examples/LandingZoneConfiguration_Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "LandingZonesConfigurations_Delete",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Delete a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_Delete_0": {
            "$ref": "./examples/LandingZoneConfiguration_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{landingZoneConfigurationName}/generateLandingZone": {
      "post": {
        "operationId": "LandingZonesConfigurations_GenerateLandingZone",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Generate the landing zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZonesConfigurations_GenerateLandingZone_0": {
            "$ref": "./examples/LandingZoneConfiguration_GenerateLandingZone.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{landingZoneConfigurationName}/setAuthoringStatus": {
      "post": {
        "operationId": "LandingZonesConfigurations_SetAuthoringStatus",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Provides a mechanism to update the authoring status.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneConfigurationName",
            "in": "path",
            "description": "The name of the landing zone configuration resource type.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetAuthoringStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SetAuthoringStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneRegistrations": {
      "get": {
        "operationId": "LandingZoneRegistrations_ListByTenant",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "List LandingZoneRegistration resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneRegistrations/{landingZoneRegistrationName}": {
      "get": {
        "operationId": "LandingZoneRegistrations_Get",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Get a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the landing zone registration resource type",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrations_Get_0": {
            "$ref": "./examples/LandingZoneRegistration_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LandingZoneRegistrations_CreateOrUpdate",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Create a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the landing zone registration resource type",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrations_CreateOrUpdate_0": {
            "$ref": "./examples/LandingZoneRegistration_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneRegistrations_Update",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Update a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the landing zone registration resource type",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrations_Update_0": {
            "$ref": "./examples/LandingZoneRegistration_Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "LandingZoneRegistrations_Delete",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Delete a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "landingZoneRegistrationName",
            "in": "path",
            "description": "The name of the landing zone registration resource type",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LandingZoneRegistrations_Delete_0": {
            "$ref": "./examples/LandingZoneRegistration_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AuthoringStatus": {
      "type": "string",
      "description": "The authoring status for landing zone configuration workflow.",
      "enum": [
        "Authoring",
        "ReadyForUse",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AuthoringStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Authoring",
            "value": "Authoring",
            "description": "Default status set automatically on create request. In this status the landing zone configuration can be updated."
          },
          {
            "name": "ReadyForUse",
            "value": "ReadyForUse",
            "description": "This status is set when the configuration changes are done and the configuration is ready for generating the landing zone code."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "This status is set when the landing zone configuration is no longer in use."
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "DecommissionedMgProperties": {
      "type": "object",
      "description": "Decommissioned managemenrt group properties",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "when set to false this MG is not created"
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "DecommissionedMgPropertiesUpdate": {
      "type": "object",
      "description": "Decommissioned managemenrt group properties",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "when set to false this MG is not created"
        }
      }
    },
    "FirewallCreationOptions": {
      "type": "string",
      "description": "The input values for creating or using an existing firewall resource.",
      "enum": [
        "None",
        "Standard",
        "Premium",
        "UseExisting"
      ],
      "x-ms-enum": {
        "name": "FirewallCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Value choosen when a user does not want to create a firewall resource."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Value choosen when a user wants to create a firewall resource of standard SKU."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Value choosen when a user wants to create a firewall resource of premium SKU."
          },
          {
            "name": "UseExisting",
            "value": "UseExisting",
            "description": "Value choosen when a user wants to use an existing firewall resource."
          }
        ]
      }
    },
    "GenerateLandingZoneRequest": {
      "type": "object",
      "description": "The request body to generate a Landing Zone.",
      "properties": {
        "iacOutputOption": {
          "$ref": "#/definitions/IaCOutputOptions",
          "description": "The options that code can be generated in"
        },
        "existingManagementSubscriptionId": {
          "type": "string",
          "description": "Management subscription fully qualified id."
        },
        "existingIdentitySubscriptionId": {
          "type": "string",
          "description": "Identity subscription fully qualified id."
        },
        "existingConnectivitySubscriptionId": {
          "type": "string",
          "description": "Connectivity subscription fully qualified id."
        },
        "billingScopeAccountId": {
          "type": "string",
          "description": "Billing scope account Id"
        },
        "enrollmentAccountId": {
          "type": "string",
          "description": "Enrollment Id"
        }
      },
      "required": [
        "iacOutputOption"
      ]
    },
    "GenerateLandingZoneResponse": {
      "type": "object",
      "description": "The response for generate landing zone request.",
      "properties": {
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level management group display name."
        },
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the landing zone configuration resource."
        },
        "blobUrl": {
          "type": "string",
          "format": "password",
          "description": "The blob url where generated landing zone is stored",
          "x-ms-secret": true
        }
      },
      "required": [
        "topLevelMgDisplayName",
        "landingZoneConfigurationName",
        "blobUrl"
      ]
    },
    "IaCOutputOptions": {
      "type": "string",
      "description": "The format in which the landing zone code can be generated.",
      "enum": [
        "Bicep"
      ],
      "x-ms-enum": {
        "name": "IaCOutputOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Bicep",
            "value": "Bicep",
            "description": "Value choosen when the customer wants to generate the code in bicep."
          }
        ]
      }
    },
    "LandingZoneConfiguration": {
      "type": "object",
      "description": "The landing zone configuration resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneConfigurationListResult": {
      "type": "object",
      "description": "The response of a LandingZoneConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneConfigurationProperties": {
      "type": "object",
      "description": "The properties of landing zone configuration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing zone configuration.",
          "readOnly": true
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The status for the landing zone configuration workflow.",
          "readOnly": true
        },
        "existingTopLevelMgParentId": {
          "type": "string",
          "description": "Optional parent for management group hierarchy, used as intermediate root management group parent, if specified. If empty, default, will deploy beneath tenant toot management group."
        },
        "deploymentPrefix": {
          "type": "string",
          "description": "The prefix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5,
          "pattern": "^([a-zA-Z0-9-]*)$"
        },
        "deploymentSuffix": {
          "type": "string",
          "description": "The suffix that will be added to management group name.",
          "minLength": 2,
          "maxLength": 5
        },
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level management group display name.",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^(?! )(?!.* $)[^\\s].*$"
        },
        "organization": {
          "type": "string",
          "description": "The name of the country/region or agency SLZ is being deployed for."
        },
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "Yes to deploy DDoS, otherwise no. To provide an existing DDoS protection plan select existing."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "description": "Existing ddos protection fully qualified plan id."
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "yes to deploy log Analytics workspace, otherwise no. To provide an existing log Analytics workspace select existing."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "description": "The fully qualified id for the Log Analytics workspace that was created to centralize log ingest."
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall choose the standard/premium based on the desired SKU. None for no firewall and existing to choose a pre existing one."
        },
        "existingFirewallId": {
          "type": "string",
          "description": "Existing fully qualified firewall Id"
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "deploymentLocation": {
          "type": "string",
          "description": "Location to run deployment(s) from the list of Azure Regions",
          "pattern": "^([a-zA-Z0-9]*)$"
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the Bastion service choose the yes, no otherwise. For existing bastion service existing."
        },
        "existingAzureBastionId": {
          "type": "string",
          "description": "Existing azure bastion fully qualified id."
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure bastion subnet. IP v4 CIDR block"
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneMgProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the deployment root of the landing zone"
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the landing zones management group"
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the platform management group"
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the Management management group under Platform"
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the connectivity management group under Platform"
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/MgProperties",
          "description": "This will be applied to the identity management group under Platform"
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedMgProperties",
          "description": "This will be applied to the decommissioned management group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxMgProperties",
          "description": "This will be applied to the sandbox management group."
        }
      },
      "required": [
        "deploymentPrefix",
        "topLevelMgDisplayName",
        "organization",
        "ddosProtectionCreationOption",
        "logAnalyticsWorkspaceCreationOption",
        "firewallCreationOption",
        "logRetentionInDays",
        "deploymentLocation",
        "hubNetworkCidrBlock",
        "azureBastionCreationOption"
      ]
    },
    "LandingZoneConfigurationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LandingZoneConfiguration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "LandingZoneConfigurationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LandingZoneConfiguration.",
      "properties": {
        "existingTopLevelMgParentId": {
          "type": "string",
          "description": "Optional parent for management group hierarchy, used as intermediate root management group parent, if specified. If empty, default, will deploy beneath tenant toot management group."
        },
        "deploymentPrefix": {
          "type": "string",
          "description": "The prefix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5,
          "pattern": "^([a-zA-Z0-9-]*)$"
        },
        "deploymentSuffix": {
          "type": "string",
          "description": "The suffix that will be added to management group name.",
          "minLength": 2,
          "maxLength": 5
        },
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level management group display name.",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^(?! )(?!.* $)[^\\s].*$"
        },
        "organization": {
          "type": "string",
          "description": "The name of the country/region or agency SLZ is being deployed for."
        },
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "Yes to deploy DDoS, otherwise no. To provide an existing DDoS protection plan select existing."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "description": "Existing ddos protection fully qualified plan id."
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "yes to deploy log Analytics workspace, otherwise no. To provide an existing log Analytics workspace select existing."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "description": "The fully qualified id for the Log Analytics workspace that was created to centralize log ingest."
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall choose the standard/premium based on the desired SKU. None for no firewall and existing to choose a pre existing one."
        },
        "existingFirewallId": {
          "type": "string",
          "description": "Existing fully qualified firewall Id"
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "deploymentLocation": {
          "type": "string",
          "description": "Location to run deployment(s) from the list of Azure Regions",
          "pattern": "^([a-zA-Z0-9]*)$"
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the Bastion service choose the yes, no otherwise. For existing bastion service existing."
        },
        "existingAzureBastionId": {
          "type": "string",
          "description": "Existing azure bastion fully qualified id."
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure bastion subnet. IP v4 CIDR block"
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneMgProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the deployment root of the landing zone"
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the landing zones management group"
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the platform management group"
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the Management management group under Platform"
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the connectivity management group under Platform"
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/MgPropertiesUpdate",
          "description": "This will be applied to the identity management group under Platform"
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedMgPropertiesUpdate",
          "description": "This will be applied to the decommissioned management group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxMgPropertiesUpdate",
          "description": "This will be applied to the sandbox management group."
        }
      }
    },
    "LandingZoneMgProperties": {
      "type": "object",
      "description": "Landing zone management group properties",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Management group name."
        },
        "isConfidential": {
          "type": "boolean",
          "description": "Is the management group Confidential?"
        },
        "isVisibleToInternet": {
          "type": "boolean",
          "description": "is it open to internet?"
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "name",
        "isConfidential",
        "isVisibleToInternet"
      ]
    },
    "LandingZoneRegistration": {
      "type": "object",
      "description": "The landing zone registration resource type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneRegistrationListResult": {
      "type": "object",
      "description": "The response of a LandingZoneRegistration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneRegistration items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneRegistration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneRegistrationProperties": {
      "type": "object",
      "description": "The properties of landing zone registration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing zone registration resource type.",
          "readOnly": true
        },
        "existingTopLevelMgId": {
          "type": "string",
          "description": "The top level management group id.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "description": "The associated landing zone configuration resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "existingTopLevelMgId",
        "existingLandingZoneConfigurationId"
      ]
    },
    "LandingZoneRegistrationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LandingZoneRegistration.",
      "properties": {}
    },
    "MgProperties": {
      "type": "object",
      "description": "Details of policy and initiatives associated with the management group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties"
      ]
    },
    "MgPropertiesUpdate": {
      "type": "object",
      "description": "Details of policy and initiatives associated with the management group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PolicyInitiativeAssignmentProperties": {
      "type": "object",
      "description": "Details of policy assignments",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "description": "The id of the policy initiatives."
        },
        "assignmentParameters": {
          "type": "object",
          "description": "The parameters for the policy or initiatives.",
          "additionalProperties": true
        }
      },
      "required": [
        "policyInitiativeId",
        "assignmentParameters"
      ]
    },
    "ResourceCreationOptions": {
      "type": "string",
      "description": "Represents options for resource creation.",
      "enum": [
        "Yes",
        "No",
        "UseExisting"
      ],
      "x-ms-enum": {
        "name": "ResourceCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Yes",
            "value": "Yes",
            "description": "This option indicates that a new resource should be created."
          },
          {
            "name": "No",
            "value": "No",
            "description": "This option indicates that a new resource should not be created."
          },
          {
            "name": "UseExisting",
            "value": "UseExisting",
            "description": "This option indicates that an existing resource should be used."
          }
        ]
      }
    },
    "SandboxMgProperties": {
      "type": "object",
      "description": "Sandbox management group properties",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false this management group is not created."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "SandboxMgPropertiesUpdate": {
      "type": "object",
      "description": "Sandbox management group properties",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false this management group is not created."
        }
      }
    },
    "SetAuthoringStatusRequest": {
      "type": "object",
      "description": "The request body to update the authoring status.",
      "properties": {
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The value of the authoring status to be updated."
        }
      },
      "required": [
        "authoringStatus"
      ]
    },
    "SetAuthoringStatusResponse": {
      "type": "object",
      "description": "The response body for the set authoring status request",
      "properties": {
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level management group display name."
        },
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the landing zone configuration resource."
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The value of the authoring status to be updated."
        }
      },
      "required": [
        "topLevelMgDisplayName",
        "landingZoneConfigurationName",
        "authoringStatus"
      ]
    },
    "Tags": {
      "type": "object",
      "description": "The detail of each tags",
      "properties": {
        "name": {
          "type": "string",
          "description": "a tag name"
        },
        "value": {
          "type": "string",
          "description": "a tag value"
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "The Microsoft Sovereign Provider version.",
      "enum": [
        "2023-09-28-preview",
        "2024-03-29"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "Preview20230928",
            "value": "2023-09-28-preview",
            "description": "Preview version."
          },
          {
            "name": "GA20240329",
            "value": "2024-03-29",
            "description": "General availability version."
          }
        ]
      }
    }
  },
  "parameters": {}
}
