{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Impact",
    "version": "2022-10-30-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ImpactCategories"
    },
    {
      "name": "Workloadimpact"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Impact/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/impactCategories": {
      "get": {
        "tags": [
          "ImpactCategories"
        ],
        "operationId": "ImpactCategories_ListBySubscription",
        "description": "List ImpactCategory resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImpactCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetImpactCategories": {
            "$ref": "./examples/ImpactCategories_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/workloadimpact": {
      "get": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_ListBySubscription",
        "description": "List Workloadimpacts resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadimpactsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListWorkloadimpactResourceSub": {
            "$ref": "./examples/Workloadimpact_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/impactCategories": {
      "get": {
        "tags": [
          "ImpactCategories"
        ],
        "operationId": "ImpactCategories_ListByResourceGroup",
        "description": "List ImpactCategory resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImpactCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetImpactCategories": {
            "$ref": "./examples/ImpactCategories_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/impactCategories/{impactCategoryName}": {
      "get": {
        "tags": [
          "ImpactCategories"
        ],
        "operationId": "ImpactCategories_Get",
        "description": "Get a ImpactCategory",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImpactCategory.impactCategoryName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImpactCategory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetImpactCategories": {
            "$ref": "./examples/ImpactCategories_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpact": {
      "get": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_ListByResourceGroup",
        "description": "List Workloadimpacts resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadimpactsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListWorkloadimpactResource": {
            "$ref": "./examples/Workloadimpact_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpact/{workloadimpactName}": {
      "get": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_Get",
        "description": "Get a Workloadimpacts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Workloadimpacts"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetWorkloadimpactResource": {
            "$ref": "./examples/Workloadimpact_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_Delete",
        "description": "Delete a Workloadimpacts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteWorkloadimpactResource": {
            "$ref": "./examples/Workloadimpact_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AdditionalProperties": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "Error code associated with the impact."
        },
        "errorMessage": {
          "type": "string",
          "description": "Error Message associated with the impact"
        }
      },
      "description": "way to pass information domain specific to resource type/impact category. The list of allowed values will be documented)."
    },
    "Connectivity": {
      "type": "object",
      "properties": {
        "protocol": {
          "$ref": "#/definitions/Protocol",
          "description": "The protocol used for the connection"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port number for the connection"
        },
        "source": {
          "$ref": "#/definitions/SourceOrDest",
          "description": "The source of the connection"
        },
        "destination": {
          "$ref": "#/definitions/SourceOrDest",
          "description": "The destination of the connection"
        }
      },
      "description": "Details about the connectivity issue. Applicable only for connectivity type of impacts."
    },
    "ImpactCategory": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ImpactCategoryProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A Workloadimpacts resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ImpactCategoryListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImpactCategory"
          },
          "x-cadl-name": "ImpactCategory[]",
          "description": "The ImpactCategory items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<ImpactCategory>"
        }
      },
      "description": "The response of a ImpactCategory list operation.",
      "required": [
        "value"
      ]
    },
    "ImpactCategoryProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "allowedResourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Azure resource types to which the impact category is applicable"
        },
        "parentCategoryId": {
          "type": "string",
          "description": "the parent category"
        }
      },
      "description": "Details of the workloadimpact resource.",
      "required": [
        "allowedResourceTypes"
      ]
    },
    "Performance": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The name of the region in which the resources needed for Teams Calling will be deployed."
        },
        "expected": {
          "type": "number",
          "format": "double",
          "description": "IP address to use to contact the operator network from this region"
        },
        "actual": {
          "type": "number",
          "format": "double",
          "description": "IP address to use to contact the ESRPs from this region"
        }
      },
      "description": "Details about impacted performance metrics. Applicable for performance impacts.."
    },
    "Protocol": {
      "type": "string",
      "description": "list of protocols",
      "enum": [
        "TCP",
        "UDP"
      ],
      "x-ms-enum": {
        "name": "Protocol",
        "modelAsString": false
      }
    },
    "SourceOrDest": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the entity  "
        },
        "azureResourceUri": {
          "type": "string",
          "description": "azure resource uri"
        },
        "ipAddress": {
          "type": "string",
          "description": "ipaddress of  server/host"
        }
      },
      "description": "resource details",
      "required": [
        "uri"
      ]
    },
    "Toolset": {
      "type": "string",
      "description": "list of azure interfaces.",
      "enum": [
        "TERRAFORM",
        "PUPPET",
        "CHEF",
        "SDK",
        "ANSIBLE",
        "ARM",
        "PORTAL",
        "SHELL",
        "OTHER"
      ],
      "x-ms-enum": {
        "name": "Toolset",
        "modelAsString": false
      }
    },
    "Workload": {
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "description": "Information about the customer’s workload."
        },
        "toolset": {
          "$ref": "#/definitions/Toolset",
          "description": "Tool used to interact with Azure. SDK, AzPortal, etc.., Other"
        }
      },
      "description": "customer workload details",
      "required": [
        "context"
      ]
    },
    "Workloadimpacts": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadimpactsProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A Workloadimpacts resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "WorkloadimpactsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workloadimpacts"
          },
          "x-cadl-name": "Workloadimpacts[]",
          "description": "The Workloadimpacts items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<Workloadimpacts>"
        }
      },
      "description": "The response of a Workloadimpacts list operation.",
      "required": [
        "value"
      ]
    },
    "WorkloadimpactsProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "time impact was observed in UTC "
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Time the impact has ended in UTC"
        },
        "impactUniqueId": {
          "type": "string",
          "description": "unique id of the impact (uuid)",
          "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
          "readOnly": true
        },
        "reportedTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "time at which impact is reported",
          "readOnly": true
        },
        "impactCategory": {
          "type": "string",
          "description": "The categorization of the impact"
        },
        "impactDescription": {
          "type": "string",
          "description": "A detailed description of the impact"
        },
        "armCorrelationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "The ARM correlation ids",
          "x-ms-identifiers": []
        },
        "impactedResourceUri": {
          "type": "string",
          "description": "The fully qualified ARM id of the impacted azure resource"
        },
        "additionalProperties": {
          "$ref": "#/definitions/AdditionalProperties",
          "description": "way to pass information domain specific to resource type/impact category. The list of allowed values will be documented"
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "Details about the connectivity issue. Applicable only for connectivity type of impacts."
        },
        "performance": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Performance"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Performance[]",
          "description": "Details about impacted performance metrics. Applicable for performance impacts."
        },
        "workload": {
          "$ref": "#/definitions/Workload",
          "description": "Information about the customer’s workload"
        },
        "impactGroupId": {
          "type": "string",
          "description": "Used to correlate multiple impacts together"
        },
        "reportedSource": {
          "$ref": "#/definitions/reportedSourceEnum",
          "description": "system that is reporting"
        },
        "confidence": {
          "$ref": "#/definitions/confidenceEnum",
          "description": "degree of confidence reporter has on the impact being a platform issue"
        }
      },
      "description": "Details of the workloadimpact resource.",
      "required": [
        "startDateTime",
        "impactCategory",
        "impactedResourceUri",
        "additionalProperties",
        "workload"
      ]
    },
    "confidenceEnum": {
      "type": "string",
      "description": "degree of confidence reporter has on the impact being a platform issue.",
      "enum": [
        "LOW",
        "MEDIUM",
        "HIGH"
      ],
      "x-ms-enum": {
        "name": "confidenceEnum",
        "modelAsString": false
      }
    },
    "reportedSourceEnum": {
      "type": "string",
      "description": "system that is reporting",
      "enum": [
        "OTHER",
        "MANUAL",
        "AUTOMATED",
        "AZURE_MONITOR"
      ],
      "x-ms-enum": {
        "name": "reportedSourceEnum",
        "modelAsString": false
      }
    }
  },
  "parameters": {
    "ImpactCategory.impactCategoryName": {
      "name": "impactCategoryName",
      "in": "path",
      "required": true,
      "description": "The name of the impact category",
      "pattern": "^[a-zA-Z0-9-]{3,40}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "Workloadimpacts.workloadimpactName": {
      "name": "workloadimpactName",
      "in": "path",
      "required": true,
      "description": "Some documentation",
      "pattern": "^[a-zA-Z0-9-]{3,40}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
