{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The definitions in this swagger specification will be used to manage the Hybrid Network resources.",
    "version": "2022-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "AzureStackEdgeNetworkFunctionTemplate": {
      "description": "Azure stack edge network function template.",
      "x-ms-discriminator-value": "AzureStackEdge",
      "allOf": [
        {
          "$ref": "./vendorSkuVersion.json#/definitions/virtualNetworkFunctionTemplate"
        }
      ],
      "properties": {
        "networkFunctionRoleConfigurations": {
          "type": "array",
          "description": "Azure stack edge network function role configurations.",
          "items": {
            "$ref": "#/definitions/AzureStackEdgeNetworkFunctionRoleConfiguration"
          }
        }
      }
    },
    "AzureStackEdgeNetworkFunctionRoleConfiguration": {
      "description": "Azure stack edge network function role configuration.",
      "allOf": [
        {
          "$ref": "./vendorSkuVersionCommon.json#/definitions/NetworkFunctionRoleConfiguration"
        }
      ],
      "discriminator": "artifactType",
      "required": [
        "artifactType"
      ],
      "properties": {
        "artifactType": {
          "type": "string",
          "description": "The artifact type.",
          "enum": [
            "Unknown",
            "VirtualHardDisk"
          ],
          "x-ms-enum": {
            "name": "ArtifactType",
            "modelAsString": true
          }
        }
      }
    },
    "AzureStackEdgeNetworkFunctionVirtualHardDiskRoleConfiguration": {
      "description": "Azure stack edge virtual hard disk role configurations.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureStackEdgeNetworkFunctionRoleConfiguration"
        }
      ],
      "x-ms-discriminator-value": "VirtualHardDisk",
      "properties": {
        "artifactProfile": {
          "description": "Artifact profile for azure stack edge network function role configuration.",
          "$ref": "#/definitions/AzureStackEdgeArtifactProfile"
        },
        "deployMappingRuleProfile": {
          "description": "Deployment mapping profile for azure stack edge network function role configuration.",
          "$ref": "#/definitions/AzureStackEdgeDeployMappingRuleProfile"
        }
      }
    },
    "AzureStackEdgeArtifactProfile": {
      "description": "Artifact profile for azure stack edge network function role configuration.",
      "allOf": [
        {
          "$ref": "./vendorSkuVersionCommon.json#/definitions/ArtifactProfile"
        }
      ],
      "properties": {
        "virtualMachineSize": {
          "type": "string",
          "description": "The size of the virtual machine.",
          "enum": [
            "Unknown",
            "Standard_D1_v2",
            "Standard_D2_v2",
            "Standard_D3_v2",
            "Standard_D4_v2",
            "Standard_D5_v2",
            "Standard_D11_v2",
            "Standard_D12_v2",
            "Standard_D13_v2",
            "Standard_DS1_v2",
            "Standard_DS2_v2",
            "Standard_DS3_v2",
            "Standard_DS4_v2",
            "Standard_DS5_v2",
            "Standard_DS11_v2",
            "Standard_DS12_v2",
            "Standard_DS13_v2",
            "Standard_F1",
            "Standard_F2",
            "Standard_F4",
            "Standard_F8",
            "Standard_F16",
            "Standard_F1s",
            "Standard_F2s",
            "Standard_F4s",
            "Standard_F8s",
            "Standard_F16s"
          ],
          "x-ms-enum": {
            "name": "VirtualMachineSizeTypes",
            "modelAsString": true
          }
        },
        "storageProfile": {
          "description": "Specifies the storage settings for the virtual machine disks.",
          "$ref": "#/definitions/StorageProfile"
        },
        "customProfile": {
          "description": "Specifies the custom settings for the virtual machine.",
          "$ref": "#/definitions/CustomProfile"
        },
        "osProfile": {
          "type": "object",
          "description": "Specifies the operating system settings for the role instance. ",
          "$ref": "#/definitions/PublisherOsProfile"
        }
      }
    },
    "CustomProfile": {
      "description": "Specifies the custom settings for the virtual machine.",
      "properties": {
        "metadataConfigurationPath": {
          "type": "string",
          "description": "Path for metadata configuration."
        }
      }
    },
    "ImageReference": {
      "description": "The image reference properties.",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "The image publisher."
        },
        "offer": {
          "type": "string",
          "description": "Specifies the offer of the image used to create the virtual machine."
        },
        "sku": {
          "type": "string",
          "description": "The image SKU."
        },
        "version": {
          "type": "string",
          "description": "Specifies the version of the image used to create the virtual machine. The allowed formats are Major.Minor.Build or 'latest'. Major, Minor, and Build are decimal numbers. Specify 'latest' to use the latest version of an image available at deploy time. Even if you use 'latest', the VM image will not automatically update after deploy time even if a new version becomes available."
        },
        "exactVersion": {
          "type": "string",
          "description": "Specifies in decimal numbers, the exact version of image used to create the virtual machine."
        }
      }
    },
    "VirtualHardDisk": {
      "properties": {
        "uri": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create",
            "update"
          ],
          "description": "Specifies the virtual hard disk's uri."
        }
      },
      "description": "Describes the uri of a disk."
    },
    "OsDisk": {
      "properties": {
        "osType": {
          "type": "string",
          "description": "The OS type.",
          "enum": [
            "Unknown",
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": true
          }
        },
        "name": {
          "type": "string",
          "description": "The VHD name."
        },
        "vhd": {
          "description": "The virtual hard disk.",
          "$ref": "#/definitions/VirtualHardDisk"
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of os disk in gigabytes. This is the fully expanded disk size needed of the VHD image on the ASE. This disk size should be greater than the size of the VHD provided in vhdUri."
        }
      },
      "description": "Specifies information about the operating system disk used by the virtual machine. <br><br> For more information about disks, see [About disks and VHDs for Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-about-disks-vhds?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)."
    },
    "StorageProfile": {
      "properties": {
        "imageReference": {
          "$ref": "#/definitions/ImageReference",
          "description": "The image reference properties."
        },
        "osDisk": {
          "$ref": "#/definitions/OsDisk",
          "description": "Specifies information about the operating system disk used by the virtual machine."
        },
        "dataDisks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataDisk"
          },
          "description": "Specifies the parameters that are used to add a data disk to a virtual machine."
        }
      },
      "description": "Specifies the storage settings for the virtual machine disks."
    },
    "DataDisk": {
      "properties": {
        "createOption": {
          "type": "string",
          "description": "Specifies how the virtual machine should be created.",
          "enum": [
            "Unknown",
            "Empty"
          ],
          "x-ms-enum": {
            "name": "DiskCreateOptionTypes",
            "modelAsString": true
          }
        },
        "name": {
          "type": "string",
          "description": "The name of data disk."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty disk in gigabytes. This element can be used to overwrite the size of the disk in a virtual machine image."
        }
      },
      "description": "Specifies information about the operating system disk used by the virtual machine. <br><br> For more information about disks, see [About disks and VHDs for Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-about-disks-vhds?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)."
    },
    "AzureStackEdgeDeployMappingRuleProfile": {
      "description": "Operator profile for azure stack edge network function role configuration.",
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "description": "Network interfaces definition.",
          "items": {
            "description": "The network interface configurations.",
            "$ref": "#/definitions/NetworkInterface"
          }
        },
        "osProfile": {
          "type": "object",
          "description": "Specifies the operating system settings for the role instance.",
          "$ref": "#/definitions/OperatorOsProfile"
        }
      }
    },
    "NetworkInterface": {
      "description": "Network interface properties.",
      "properties": {
        "networkInterfaceName": {
          "type": "string",
          "description": "The name of the network interface."
        },
        "macAddress": {
          "type": "string",
          "description": "The MAC address of the network interface."
        },
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceIPConfiguration"
          },
          "description": "A list of IP configurations of the network interface."
        },
        "vmSwitchType": {
          "type": "string",
          "description": "The type of the VM switch. Allowed values are Management, Wan, Lan or Unknown."
        }
      }
    },
    "NetworkInterfaceIPConfiguration": {
      "description": "Network interface IP configuration properties.",
      "properties": {
        "ipAllocationMethod": {
          "type": "string",
          "description": "IP address allocation method. Allowed values are Static, Dynamic or Unknown"
        },
        "ipAddress": {
          "type": "string",
          "description": "The value of the IP address."
        },
        "subnet": {
          "type": "string",
          "description": "The value of the subnet."
        },
        "gateway": {
          "type": "string",
          "description": "The value of the gateway."
        },
        "ipVersion": {
          "type": "string",
          "description": "IP address version. Allowed values are IPv4 or Unknown."
        },
        "dnsServers": {
          "type": "array",
          "description": "The list of DNS servers IP addresses.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PublisherOsProfile": {
      "description": "Specifies the operating system settings for the role instance.",
      "properties": {
        "adminUsername": {
          "type": "string",
          "description": "Specifies the name of the administrator account. <br><br> **Windows-only restriction:** Cannot end in \".\" <br><br> **Disallowed values:** \"administrator\", \"admin\", \"user\", \"user1\", \"test\", \"user2\", \"test1\", \"user3\", \"admin1\", \"1\", \"123\", \"a\", \"actuser\", \"adm\", \"admin2\", \"aspnet\", \"backup\", \"console\", \"david\", \"guest\", \"john\", \"owner\", \"root\", \"server\", \"sql\", \"support\", \"support_388945a0\", \"sys\", \"test2\", \"test3\", \"user4\", \"user5\". <br><br> **Minimum-length (Linux):** 1  character <br><br> **Max-length (Linux):** 64 characters <br><br> **Max-length (Windows):** 20 characters  <br><br><li> For root access to the Linux VM, see [Using root privileges on Linux virtual machines in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-use-root-privileges?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)<br><li> For a list of built-in system users on Linux that should not be used in this field, see [Selecting User Names for Linux on Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-usernames?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)."
        },
        "linuxConfiguration": {
          "$ref": "#/definitions/LinuxConfiguration",
          "description": "Specifies the Linux operating system settings on the virtual machine. <br><br>For a list of supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-endorsed-distros?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json) <br><br> For running non-endorsed distributions, see [Information for Non-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-create-upload-generic?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)."
        }
      }
    },
    "LinuxConfiguration": {
      "properties": {
        "ssh": {
          "$ref": "#/definitions/SshConfiguration",
          "description": "Specifies the ssh key configuration for a Linux OS."
        }
      },
      "description": "Specifies the Linux operating system settings on the virtual machine."
    },
    "SshConfiguration": {
      "properties": {
        "publicKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SshPublicKey"
          },
          "description": "The list of SSH public keys used to authenticate with linux based VMs."
        }
      },
      "description": "SSH configuration for Linux based VMs running on Azure"
    },
    "SshPublicKey": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Specifies the full path on the created VM where ssh public key is stored. If the file already exists, the specified key is appended to the file. Example: /home/user/.ssh/authorized_keys"
        },
        "keyData": {
          "type": "string",
          "description": "SSH public key certificate used to authenticate with the VM through ssh. The key needs to be at least 2048-bit and in ssh-rsa format. <br><br> For creating ssh keys, see [Create SSH keys on Linux and Mac for Linux VMs in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-mac-create-ssh-keys?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)."
        }
      },
      "description": "Contains information about SSH certificate public key and the path on the Linux VM where the public key is placed."
    },
    "OperatorOsProfile": {
      "description": "Specifies the operating system settings for the role instance.",
      "properties": {
        "customData": {
          "type": "string",
          "description": "Specifies a base-64 encoded string of custom data. The base-64 encoded string is decoded to a binary array that is saved as a file on the virtual machine. The maximum length of the binary array is 65535 bytes. <br><br> **Note: Do not pass any secrets or passwords in customData property** <br><br> This property cannot be updated after the VM is created. <br><br> customData is passed to the VM to be saved as a file. For more information see [Custom Data on Azure VMs](https://azure.microsoft.com/en-us/blog/custom-data-and-cloud-init-on-windows-azure/) <br><br> For using cloud-init for your Linux VM, see [Using cloud-init to customize a Linux VM during creation](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-using-cloud-init?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)"
        },
        "customDataRequired": {
          "type": "boolean",
          "default": true,
          "description": "Indicates if custom data is required to deploy this role."
        }
      }
    }
  }
}