{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used by vendors to on-board offerings and manage network functions.",
    "version": "2022-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}": {
      "delete": {
        "tags": [
          "Vendors"
        ],
        "operationId": "Vendors_Delete",
        "description": "Deletes the specified vendor.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful."
          },
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete vendor resource": {
            "$ref": "./examples/VendorDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "Vendors"
        ],
        "operationId": "Vendors_Get",
        "description": "Gets information about the specified vendor.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting vendor resource.",
            "schema": {
              "$ref": "#/definitions/Vendor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Vendor resource": {
            "$ref": "./examples/VendorGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Vendors"
        ],
        "operationId": "Vendors_CreateOrUpdate",
        "description": "Creates or updates a vendor.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Vendor"
            },
            "description": "Parameters supplied to the create vendor operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful.",
            "schema": {
              "$ref": "#/definitions/Vendor"
            }
          },
          "201": {
            "description": "Created. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/Vendor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Vendor resource": {
            "$ref": "./examples/VendorCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors": {
      "get": {
        "tags": [
          "Vendors"
        ],
        "operationId": "Vendors_ListBySubscription",
        "description": "Lists all the vendors in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of vendor resources.",
            "schema": {
              "$ref": "#/definitions/VendorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all vendor resources in subscription": {
            "$ref": "./examples/VendorListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/vendorSkuGroups/{vendorSkuGroupName}": {
      "delete": {
        "tags": [
          "VendorSkuGroups"
        ],
        "operationId": "vendorSkuGroups_Delete",
        "description": "Deletes the specified vendor sku group.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful."
          },
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete the application group of vendor resource": {
            "$ref": "./examples/vendorSkuGroupDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "put": {
        "tags": [
          "VendorSkuGroups"
        ],
        "operationId": "VendorSkuGroups_CreateOrUpdate",
        "description": "Creates or updates a application groups.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorSkuGroup"
            },
            "description": "Parameters supplied to the create or update vendor sku group operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting vendorSku groupsub resource.",
            "schema": {
              "$ref": "#/definitions/VendorSkuGroup"
            }
          },
          "201": {
            "description": "Created. The operation returns the resulting vendorSku groupsub resource.",
            "schema": {
              "$ref": "#/definitions/VendorSkuGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the vendor sku group resource": {
            "$ref": "./examples/vendorSkuGroupCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "vendorSkuGroups"
        ],
        "operationId": "vendorSkuGroups_Get",
        "description": "Gets information about the specified vendorSku group.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting vendor sku group resource.",
            "schema": {
              "$ref": "#/definitions/VendorSkuGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get vendorSku group resource": {
            "$ref": "./examples/vendorSkuGroupGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/vendorSkuGroups/": {
      "get": {
        "tags": [
          "vendorSkuGroups"
        ],
        "operationId": "vendorSkuGroups_List",
        "description": "Gets information of the vendorSkuGroups under vendor.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },         
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting vendorSku group resource.",
            "schema": {
              "$ref": "#/definitions/VendorSkuGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get vendorSku groups under vendor resource": {
            "$ref": "./examples/vendorSkuGroupsListByVendorName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/artifactStores/{artifactStoreName}": {
      "delete": {
        "tags": [
          "ArtifactStores"
        ],
        "operationId": "ArtifactStores_Delete",
        "description": "Deletes the specified artifact store.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "artifactStoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact store."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful."
          },
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete the artifact store of vendor resource": {
            "$ref": "./examples/ArtifactStoreDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "put": {
        "tags": [
          "ArtifactStores"
        ],
        "operationId": "ArtifactStores_CreateOrUpdate",
        "description": "Creates or updates a artifact store version.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "artifactStoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the application group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            },
            "description": "Parameters supplied to the create or update application group operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting application groupsub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            }
          },
          "201": {
            "description": "Created. The operation returns the resulting application groupsub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the artifact store of vendor resource": {
            "$ref": "./examples/ArtifactStoreCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "ArtifactStores"
        ],
        "operationId": "ArtifactStores_Get",
        "description": "Gets information about the specified artifact store version.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "artifactStoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact store."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting ArtifactStore resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ArtifactStoreVersion resource": {
            "$ref": "./examples/ArtifactStoreGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/artifactStores/": {
      "get": {
        "tags": [
          "ArtifactStores"
        ],
        "operationId": "ArtifactStores_List",
        "description": "Gets information of the ArtifactStores under vendor.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },         
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting ArtifactStoreversion resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get application groups under vendor resource": {
            "$ref": "./examples/ArtifactStoresListByVendorName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },          
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/artifactStores/{artifactStoreName}/artifactManifests/{artifactManifestName}": {
      "delete": {
        "tags": [
          "ArtifactManifest"
        ],
        "operationId": "ArtifactManifests_Delete",
        "description": "Deletes the specified artifact manifest.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "artifactStoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact store."
          },
          {
            "name": "artifactManifestName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact manifest."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful."
          },
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete the sku of vendor resource": {
            "$ref": "./examples/ArtifactManifestDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "put": {
        "tags": [
          "ArtifactManifests"
        ],
        "operationId": "ArtifactManifests_CreateOrUpdate",
        "description": "Creates or updates a artifact manifest.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "artifactStoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact store."
          },
          {
            "name": "artifactManifestName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact manifest Name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            },
            "description": "Parameters supplied to the create or update artifact manifest operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting application groupsub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            }
          },
          "201": {
            "description": "Created. The operation returns the resulting application groupsub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the artifact manifest resource": {
            "$ref": "./examples/ArtifactManifestCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "ArtifactManifests"
        ],
        "operationId": "ArtifactManifests_Get",
        "description": "Gets information about the specified artifact manifest.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "artifactStoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact store."
          },
          {
            "name": "artifactManifestName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact manifest."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting ArtifactManifest resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ArtifactManifest resource": {
            "$ref": "./examples/ArtifactManifestGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/artifactStores/{artifactStoreName}/artifactManifests/": {
      "get": {
        "tags": [
          "ArtifactManifests"
        ],
        "operationId": "ArtifactManifests_List",
        "description": "Gets information about the artifact manifest.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "artifactStoreName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the artifact store name."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting ArtifactManifest resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifestListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get artifact manifest list resource": {
            "$ref": "./examples/ArtifactManifestListByVendor.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Vendor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VendorPropertiesFormat",
          "description": "Vendor properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Vendor resource."
    },
    "VendorPropertiesFormat": {
      "description": "Vendor properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the vendor resource."
        },
        "scope": {
          "type": "string",
          "description": "The artifact store type.",
          "enum": [
            "Unknown",
            "Public",
            "Private"
          ],
          "x-ms-enum": {
            "name": "scope",
            "modelAsString": true
          }
        },
        "skus": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "readOnly": true,
          "description": "A list of IDs of the vendor skus offered by the vendor."
        }
      }
    },
    "VendorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vendor"
          },
          "description": "A list of vendors."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for vendors API service call."
    },
    "VendorSkuGroup": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VendorSkuGroupPropertiesFormat",
          "description": "VendorSkuGroups properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "VendorSkuGroups resource."
    },
    "VendorSkuGroupPropertiesFormat": {
      "description": "Application groups properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the application groups resource."
        }
      }
    },
    "VendorSkuGroupListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VendorSkuGroup"
          },
          "description": "A list of VendorSkuGroups."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for publishers API service call."
    },
    "ArtifactStore": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ArtifactStorePropertiesFormat",
          "description": "ArtifactStores properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "ArtifactStores resource."
    },
    "ArtifactStorePropertiesFormat": {
      "description": "Artifact stores properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the application groups resource."
        },
        "storeType": {
          "type": "string",
          "description": "The artifact store type.",
          "enum": [
            "Unknown",
            "AzureContainerRegistry",
            "AzureStorageAccount"
          ],
          "x-ms-enum": {
            "name": "storeType",
            "modelAsString": true
          }
        },
        "primaryRegion": {
          "type": "string",
          "description": "Specifies the primary region for the artifact store."
        }
      }
    },
    "ArtifactStoreListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactStore"
          },
          "description": "A list of ArtifactStores."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for publishers API service call."
    },        
    "ArtifactManifestListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactManifest"
          },
          "description": "A list of application groupversions offered by the publisher."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to get the next set of results."
        }
      },
      "description": "Response for list application groupversion API service call."
    },
    "ArtifactManifest": {
      "description": "ArtifactManifest definition.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ArtifactManifestPropertiesFormat",
          "description": "ArtifactManifest properties."
        }
      }
    },
    "ArtifactManifestPropertiesFormat": {
      "description": "ArtifactManifest properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the ArtifactManifest resource."
        },
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactPropertiesFormat"
          },
          "description": "The artifacts definition."
        }
      }
    },
    "Artifact": {
      "description": "Specifies the artifact properties.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ArtifactPropertiesFormat",
          "description": "Artifact properties."
        }
      }
    },
    "ArtifactPropertiesFormat": {
      "description": "Specifies the artifact properties.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The artifact name"          
        },
        "type": {
          "type": "string",
          "description": "The artifact type."
        },
        "version": {
          "type": "string",
          "description": "The artifact version."
        }
      }      
    }
  }
}
