{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used by vendors to on-board offerings and manage network functions.",
    "version": "2022-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/vendorSkuGroups/{vendorSkuGroupName}/vendorSkuVersions/{vendorSkuVersionName}": {
      "delete": {
        "tags": [
          "VendorSkuVersions"
        ],
        "operationId": "VendorSkuVersions_Delete",
        "description": "Deletes the specified vendor sku version.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "name": "vendorSkuVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku version."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful."
          },
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete the sku of vendor resource": {
            "$ref": "./examples/VendorSkuVersionDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "put": {
        "tags": [
          "VendorSkuVersions"
        ],
        "operationId": "VendorSkuVersions_CreateOrUpdate",
        "description": "Creates or updates a vendor sku version.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "name": "vendorSkuVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku version."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorSkuVersion"
            },
            "description": "Parameters supplied to the create or update vendor sku version operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting vendor sku sub resource.",
            "schema": {
              "$ref": "#/definitions/VendorSkuVersion"
            }
          },
          "201": {
            "description": "Created. The operation returns the resulting vendor sku sub resource.",
            "schema": {
              "$ref": "#/definitions/VendorSkuVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the sku of vendor resource": {
            "$ref": "./examples/VendorSkuVersionCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "VendorSkuVersions"
        ],
        "operationId": "VendorSkuVersions_Get",
        "description": "Gets information about the specified VendorSkuVersion.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "name": "vendorSkuVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku version."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting VendorSkuVersion resource.",
            "schema": {
              "$ref": "#/definitions/VendorSkuVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get VendorSkuVersion resource": {
            "$ref": "./examples/VendorSkuVersionGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/vendorSkuGroups/{vendorSkuGroupName}/vendorSkuVersions/": {
      "get": {
        "tags": [
          "VendorSkuVersions"
        ],
        "operationId": "VendorSkuVersions_List",
        "description": "Gets information about the specified VendorSkuVersion.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the sku."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting VendorSkuVersion resource.",
            "schema": {
              "$ref": "#/definitions/VendorSkuVersionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Vendor resource": {
            "$ref": "./examples/VendorSkuVersionListByVendorSku.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/vendorSkuGroups/{vendorSkuGroupName}/vendorSkuVersions/{vendorSkuVersionName}/previewSubscriptions": {
      "get": {
        "tags": [
          "VendorSkuVersionPreview"
        ],
        "operationId": "VendorSkuVersionPreview_List",
        "description": "Lists all the preview information of a vendor sku version.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "name": "vendorSkuVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku version."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the preview information of the vendor sku sub resource.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscriptionsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all preview subscriptions of vendor sku version sub resource": {
            "$ref": "./examples/VendorSkuVersionPreviewListBySkuVersion.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/vendors/{vendorName}/vendorSkuGroups/{vendorSkuGroupName}/vendorSkuVersions/{vendorSkuVersionName}/previewSubscriptions/{previewSubscription}": {
      "put": {
        "tags": [
          "VendorSkuVersionPreview"
        ],
        "operationId": "VendorSkuVersionPreview_CreateOrUpdate",
        "description": "Creates or updates preview subscription information of a vendor sku version.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "name": "vendorSkuVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group version."
          },
          {
            "name": "previewSubscription",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Preview subscription ID."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            },
            "description": "Parameters supplied to the create or update vendor preview subscription operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Request is accepted. The operation is updating or creating the preview information of the vendor sku sub resource.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            }
          },
          "200": {
            "description": "Request is successful. The operation updated the preview information of the vendor sku version sub resource.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update preview subscription of vendor sku sub resource": {
            "$ref": "./examples/VendorSkuVersionPreviewCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "VendorSkuVersionPreview"
        ],
        "operationId": "VendorSkuVersionPreview_Get",
        "description": "Gets the preview information of a vendor sku version.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "name": "vendorSkuVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku version."
          },
          {
            "name": "previewSubscription",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Preview subscription ID."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation updated the preview information of the vendor sku sub resource.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get preview subscription of vendor sku sub resource": {
            "$ref": "./examples/VendorSkuVersionPreviewGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "VendorSkuVersionPreview"
        ],
        "operationId": "VendorSkuVersionPreview_Delete",
        "description": "Deletes the preview information of a vendor sku.",
        "parameters": [
          {
            "name": "vendorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor."
          },
          {
            "name": "vendorSkuGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku group."
          },
          {
            "name": "vendorSkuVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the vendor sku version."
          },
          {
            "name": "previewSubscription",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Preview subscription ID."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation deleted the vendor sku preview resource."
          },
          "202": {
            "description": "Request is accepted. The operation is deleting the vendor sku preview resource."
          },
          "204": {
            "description": "Request is successful. The vendor sku preview resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete preview subscription of vendor sku sub resource": {
            "$ref": "./examples/VendorSkuVersionPreviewDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "VendorSkuVersionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VendorSkuVersion"
          },
          "description": "A list of vendor sku versions offered by the vendor."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to get the next set of results."
        }
      },
      "description": "Response for list vendor sku version API service call."
    },
    "VendorSkuVersion": {
      "description": "VendorSkuVersion definition.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VendorSkuVersionPropertiesFormat",
          "description": "VendorSkuVersion properties."
        }
      }
    },
    "VendorSkuVersionPropertiesFormat": {
      "description": "VendorSkuVersion properties.",
      "discriminator": "networkFunctionType",
      "required": [
        "networkFunctionType"
      ],
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the VendorSkuVersion resource."
        },
        "versionState": {
          "type": "string",
          "description": "The VendorSkuVersion state.",
          "enum": [
            "Unknown",
            "Preview",
            "Active",
            "Deprecated"
          ],
          "x-ms-enum": {
            "name": "versionState",
            "modelAsString": true
          }
        },
        "deployParameters": {
          "type": "object",
          "description": "The required parameters for deploying this vendor sku version as network function"
        },
        "networkFunctionType": {
          "type": "string",
          "description": "The network function type.",
          "enum": [
            "Unknown",
            "VirtualNetworkFunction",
            "ContainerizedNetworkFunction"
          ],
          "x-ms-enum": {
            "name": "NetworkFunctionType",
            "modelAsString": true
          }
        }
      }
    },
    "ContainerizedNetworkFunctionVendorSkuVersionDefinition": {
      "description": "Containerized network function vendor sku version definition.",
      "x-ms-discriminator-value": "ContainerizedNetworkFunction",
      "allOf": [
        {
          "$ref": "#/definitions/VendorSkuVersionPropertiesFormat"
        }
      ],
      "required": [
        "networkFunctionTemplate"
      ],
      "properties": {
        "networkFunctionTemplate": {
          "description": "Containerized network function template.",
          "$ref": "#/definitions/ContainerizedNetworkFunctionTemplate"
        }
      }
    },
    "VirtualNetworkFunctionVendorSkuVersionDefinition": {
      "description": "Virtual network function vendor sku version definition.",
      "x-ms-discriminator-value": "VirtualNetworkFunction",
      "allOf": [
        {
          "$ref": "#/definitions/VendorSkuVersionPropertiesFormat"
        }
      ],
      "required": [
        "networkFunctionTemplate"
      ],
      "properties": {
        "networkFunctionTemplate": {
          "description": "Virtual network function template.",
          "$ref": "#/definitions/virtualNetworkFunctionTemplate"
        }
      }
    },
    "ContainerizedNetworkFunctionTemplate": {
      "description": "Containerized network function template.",
      "discriminator": "nfviType",
      "required": [
        "nfviType"
      ],
      "properties": {
        "nfviType": {
          "type": "string",
          "description": "The network function type.",
          "enum": [
            "Unknown",
            "AzureArcKubernetes"
          ],
          "x-ms-enum": {
            "name": "ContainerizedNetworkFunctionNfviType",
            "modelAsString": true
          }
        }
      }
    },
    "virtualNetworkFunctionTemplate": {
      "description": "Virtual network function template.",
      "discriminator": "nfviType",
      "required": [
        "nfviType"
      ],
      "properties": {
        "nfviType": {
          "type": "string",
          "description": "The network function type.",
          "enum": [
            "Unknown",
            "AzureStackEdge",
            "Azure"
          ],
          "x-ms-enum": {
            "name": "VirtualNetworkFunctionNfviType",
            "modelAsString": true
          }
        }
      }
    },
    "PreviewSubscription": {
      "x-ms-azure-resource": true,
      "description": "Customer subscription which can use a sku.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The preview subscription ID."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The ARM ID of the resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the resource."
        }
      }
    },
    "PreviewSubscriptionsList": {
      "description": "A list of customer subscriptions which can use a sku.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PreviewSubscription"
          },
          "description": "A list of preview subscriptions."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      }
    }
  }
}