{
    "swagger": "2.0",
    "info": {
        "title": "Workloads Insights API",
        "description": "Workloads Insights Resource Provider APIs",
        "version": "2022-08-17-preview",
        "contact": {
            "email": "aioperations@microsoft.com"
        }
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "type": "oauth2",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            },
            "description": "Azure Active Directory OAuth2 Flow"
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadsInsights/workloadInstances": {
            "get": {
                "tags": [
                    "WorkloadInstances"
                ],
                "operationId": "workloadInstances_ListByResourceGroup",
                "summary": "Gets a list of Workloads Insights instances.",
                "description": "Gets a list of Workloads Insights instances in the specified subscription and resource group. The operations returns various properties of each instance.",
                "x-ms-examples": {
                    "List all Workloads Insights instances in a resource group": {
                        "$ref": "./examples/workloadInstances/workloadInstances_ListByRG.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkloadInstanceResponseList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadsInsights/workloadInstances/{instanceName}": {
            "get": {
                "tags": [
                    "WorkloadInstance"
                ],
                "operationId": "workloadInstance_Get",
                "summary": "Gets properties of Workloads Insights instance.",
                "x-ms-long-running-operation-options": {
                    "final-state-via": "azure-async-operation"
                },
                "description": "Gets properties of Workloads Insights instance for the specified subscription, resource group and instance name.",
                "x-ms-examples": {
                    "Get properties of Workloads Insights instance": {
                        "$ref": "./examples/workloadInstances/workloadInstance_Get.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/WorkloadInstanceNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkloadInstanceResponse"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "WorkloadInstance"
                ],
                "operationId": "workloadInstance_Create",
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "azure-async-operation"
                },
                "summary": "Creates a new Workloads Insights instance.",
                "description": "Creates a Workloads Insights instance for the specified subscription, resource group, and instance name.",
                "x-ms-examples": {
                    "Creates a new Workloads Insights instance": {
                        "$ref": "./examples/workloadInstances/workloadInstance_Create.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/WorkloadInstanceNameParameter"
                    },
                    {
                        "$ref": "#/parameters/WorkloadInstanceRequestParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Created Workload Insights Instance",
                        "schema": {
                            "$ref": "#/definitions/WorkloadInstanceResponse"
                        }
                    },
                    "201": {
                        "description": "Creating Workload Insights Instance",
                        "schema": {
                            "$ref": "#/definitions/WorkloadInstanceResponse"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "WorkloadInstance"
                ],
                "operationId": "workloadInstance_Delete",
                "x-ms-long-running-operation": true,
                "summary": "Deletes a Workload Insights instance.",
                "description": "Deletes a Workloads Insights instance for the specified subscription, resource group and instance name.",
                "x-ms-examples": {
                    "Deletes a Workload Insights instance": {
                        "$ref": "./examples/workloadInstances/workloadInstance_Delete.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/WorkloadInstanceNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted Workload Insights Instance."
                    },
                    "204": {
                        "description": "Workload Insights Instance does not exist."
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "WorkloadInstance"
                ],
                "operationId": "workloadInstance_Update",
                "summary": "Patches Workload Insights instance.",
                "description": "Patches the datafeeds in Workload Insights instance for the specified subscription, resource group, and instance name.",
                "x-ms-examples": {
                    "Append Workload Insights instance": {
                        "$ref": "./examples/workloadInstances/workloadInstance_Patch_Append.json"
                    },
                    "Overwrite Workload Insights instance": {
                        "$ref": "./examples/workloadInstances/workloadInstance_Patch_Overwrite.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/WorkloadInstanceNameParameter"
                    },
                    {
                        "$ref": "#/parameters/WorkloadInstanceUpdateRequestParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkloadInstanceResponse"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "WorkloadInstanceResponseList": {
            "description": "The response from the List Workloads Insights Instances operation.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "The list of Workloads Insights instances.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/WorkloadInstanceResponse"
                    }
                },
                "nextLink": {
                    "description": "The URL to get the next set of instances.",
                    "type": "string"
                }
            }
        },
        "WorkloadInstanceResponse": {
            "$ref": "#/definitions/WorkloadInstance"
        },
        "WorkloadInstance": {
            "description": "Workloads Insights Instance info on Azure (ARM properties and Workloads Insights Instance properties).",
            "type": "object",
            "allOf": [
                {
                    "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
                }
            ],
            "properties": {
                "properties": {
                    "description": "Workload Instance properties",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/WorkloadInstanceProperties"
                }
            }
        },
        "WorkloadInstanceProperties": {
            "type": "object",
            "properties": {
                "workloadType": {
                    "description": "Type of the workload instance.",
                    "type": "string"
                },
                "workloadProvider": {
                    "description": "The telemetry provider for the workload instance.",
                    "type": "string"
                },
                "resourcesDiscoveryDataFeeds": {
                    "description": "Datafeed for resource discovery of the workload instance.",
                    "$ref": "#/definitions/DataFeeds"
                },
                "telemetryDataFeeds": {
                    "description": "Datafeed for telemetry data from the workload instance.",
                    "$ref": "#/definitions/DataFeeds"
                },
                "outputDataStores": {
                    "description": "DataStore to push insights for the workload instance.",
                    "$ref": "#/definitions/OutputDataStores"
                }
            }
        },
        "DataFeeds": {
            "description": "The list of dataFeeds for an instances.",
            "type": "array",
            "items": {
                "$ref": "#/definitions/DataFeed"
            }
        },
        "DataFeed": {
            "type": "object",
            "discriminator": "dataFeedType",
            "required": [
                "name",
                "dataFeedType",
                "dataFeedClass"
            ],
            "properties": {
                "name": {
                    "description": "Name of the datafeed.",
                    "type": "string"
                },
                "dataFeedType": {
                    "description": "Type of the datafeed, ex Log Analytics.",
                    "type": "string",
                    "enum": [
                        "AzureLogAnalyticsDataFeed"
                    ],
                    "x-ms-enum": {
                        "name": "dataFeedType",
                        "modelAsString": true
                    }
                },
                "dataFeedClass": {
                    "description": "Classification of the datafeed, ex Raw, Anomaly",
                    "type": "string",
                    "enum": [
                        "Raw",
                        "Anomaly"
                    ],
                    "x-ms-enum": {
                        "name": "dataFeedClass",
                        "modelAsString": true
                    }
                },
                "trigger": {
                    "description": "Trigger for the datafeed.",
                    "$ref": "#/definitions/Trigger"
                },
                "schema": {
                    "description": "Schema for the datafeed.",
                    "$ref": "#/definitions/DataFeedSchema"
                }
            }
        },
        "AzureLogAnalyticsDataFeed": {
            "type": "object",
            "required": [
                "details",
                "trigger"
            ],
            "allOf": [
                {
                    "$ref": "#/definitions/DataFeed"
                }
            ],
            "properties": {
                "details": {
                    "type": "object",
                    "properties": {
                        "query": {
                            "description": "Kusto query to pull data from Log Analytics",
                            "type": "string"
                        }
                    }
                },
                "dataStore": {
                    "$ref": "#/definitions/AzureLogAnalyticsInputDataStore"
                }
            }
        },
        "Trigger": {
            "description": "Trigger of the datafeed",
            "type": "object",
            "discriminator": "triggerType",
            "required": [
                "triggerType"
            ],
            "properties": {
                "triggerType": {
                    "description": "Trigger type for fetching the datafeed",
                    "type": "string",
                    "enum": [
                        "ScheduleTrigger"
                    ],
                    "x-ms-enum": {
                        "name": "triggerType",
                        "modelAsString": true
                    }
                }
            }
        },
        "ScheduleTrigger": {
            "type": "object",
            "required": [
                "granularity",
                "value",
                "startFrom"
            ],
            "allOf": [
                {
                    "$ref": "#/definitions/Trigger"
                }
            ],
            "properties": {
                "granularity": {
                    "description": "Ingestion frequency granularity.",
                    "type": "string",
                    "default": "seconds",
                    "enum": [
                        "seconds"
                    ],
                    "x-ms-enum": {
                        "name": "granularity",
                        "modelAsString": true
                    }
                },
                "value": {
                    "description": "Value of the ingestion granularity.",
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 31536000
                },
                "startFrom": {
                    "description": "Time from when the datafeed ingestion should begin.",
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "DataFeedSchema": {
            "type": "object",
            "properties": {
                "datasets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Dataset"
                    }
                }
            }
        },
        "Dataset": {
            "description": "Dataset in the datafeed.",
            "type": "object",
            "discriminator": "datasetType",
            "required": [
                "name",
                "datasetType",
                "impactCategory",
                "resourceIdColumns",
                "timestampColumn"
            ],
            "properties": {
                "name": {
                    "description": "Name of the dataset.",
                    "type": "string"
                },
                "impactCategory": {
                    "description": "Category of impact generated from the data.",
                    "type": "string"
                },
                "datasetType": {
                    "description": "Type of the dataset.",
                    "type": "string",
                    "enum": [
                        "StaticDataset"
                    ],
                    "x-ms-enum": {
                        "name": "triggerType",
                        "modelAsString": true
                    }
                },
                "resourceIdColumns": {
                    "description": "Resource identifier columns.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ColumnDetail"
                    },
                    "minItems": 1,
                    "maxItems": 10
                },
                "dimensionColumns": {
                    "description": "List of dimension columns.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ColumnDetail"
                    }
                },
                "timestampColumn": {
                    "description": "Timestamp column.",
                    "$ref": "#/definitions/ColumnDetail"
                }
            }
        },
        "StaticDataset": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Dataset"
                }
            ]
        },
        "ColumnDetail": {
            "required": [
                "name",
                "columnType"
            ],
            "type": "object",
            "properties": {
                "name": {
                    "description": "Column name.",
                    "type": "string"
                },
                "alias": {
                    "description": "Column Alias.",
                    "type": "string"
                },
                "columnType": {
                    "description": "Column type.",
                    "type": "string",
                    "default": "string",
                    "enum": [
                        "string",
                        "integer",
                        "timestamp",
                        "date-time",
                        "date"
                    ],
                    "x-ms-enum": {
                        "name": "columnType",
                        "modelAsString": true
                    }
                }
            }
        },
        "DataStore": {
            "description": "Data store for the datafeed.",
            "type": "object",
            "required": [
                "dataStoreCredentials"
            ],
            "properties": {
                "dataStoreCredentials": {
                    "$ref": "#/definitions/DataStoreCredentials"
                }
            }
        },
        "InputDataStore": {
            "description": "Input data store for the datafeed.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/DataStore"
                }
            ],
            "discriminator": "dataStoreType",
            "required": [
                "dataStoreType"
            ],
            "properties": {
                "dataStoreType": {
                    "description": "Type of the data store.",
                    "type": "string",
                    "enum": [
                        "AzureLogAnalyticsInputDataStore"
                    ],
                    "x-ms-enum": {
                        "name": "dataStoreType",
                        "modelAsString": true
                    }
                }
            }
        },
        "OutputDataStore": {
            "description": "Output data store for the datafeed.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/DataStore"
                }
            ],
            "discriminator": "dataStoreType",
            "required": [
                "dataStoreType"
            ],
            "properties": {
                "dataStoreType": {
                    "description": "Type of the data store.",
                    "type": "string",
                    "enum": [
                        "AzureLogAnalyticsOutputDataStore"
                    ],
                    "x-ms-enum": {
                        "name": "dataStoreType",
                        "modelAsString": true
                    }
                }
            }
        },
        "OutputDataStores": {
            "description": "The list of output datastores.",
            "type": "array",
            "items": {
                "$ref": "#/definitions/OutputDataStore"
            }
        },
        "AzureLogAnalyticsInputDataStore": {
            "description": "Azure Analytics in data store.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/InputDataStore"
                }
            ],
            "properties": {
                "workspaceId": {
                    "description": "Workspace Id of Log Analytics.",
                    "type": "string"
                }
            }
        },
        "AzureLogAnalyticsOutputDataStore": {
            "description": "Azure Analytics out data store.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/OutputDataStore"
                }
            ],
            "properties": {
                "workspaceId": {
                    "description": "Workspace Id of Log Analytics.",
                    "type": "string"
                }
            }
        },
        "DataStoreCredentials": {
            "description": "Data store credentials",
            "type": "object",
            "discriminator": "dataStoreCredentialType",
            "required": [
                "dataStoreCredentialType"
            ],
            "properties": {
                "dataStoreCredentialType": {
                    "description": "Type of data store credentials",
                    "type": "string",
                    "default": "ServicePrincipalCredential",
                    "enum": [
                        "ServicePrincipalCredential",
                        "AccessKeyCredential"
                    ],
                    "x-ms-enum": {
                        "name": "dataStoreCredentialType",
                        "modelAsString": true
                    }
                }
            }
        },
        "ServicePrincipalCredential": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/DataStoreCredentials"
                }
            ],
            "properties": {
                "clientId": {
                    "description": "Client Id",
                    "type": "string"
                },
                "clientSecret": {
                    "description": "Client secret",
                    "type": "string"
                }
            }
        },
        "AccessKeyCredential": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/DataStoreCredentials"
                }
            ],
            "properties": {
                "sharedKey": {
                    "description": "Shared key",
                    "type": "string"
                }
            }
        },
        "WorkloadInstanceUpdateRequest": {
            "type": "object",
            "required": [
                "updateType"
            ],
            "properties": {
                "updateType": {
                    "description": "Type of update request mode",
                    "type": "string",
                    "default": "AppendMode",
                    "enum": [
                        "AppendMode",
                        "OverwriteMode"
                    ],
                    "x-ms-enum": {
                        "name": "updateType",
                        "modelAsString": true
                    }
                },
                "resourcesDiscoveryDataFeeds": {
                    "$ref": "#/definitions/DataFeeds"
                },
                "telemetryDataFeeds": {
                    "$ref": "#/definitions/DataFeeds"
                },
                "outputDataStores": {
                    "$ref": "#/definitions/OutputDataStores"
                }
            }
        },
        "ProvisioningState": {
            "description": "State of provisioning of the Workloads Insights instance.",
            "type": "string",
            "readOnly": true,
            "enum": [
                "Accepted",
                "Creating",
                "Updating",
                "Failed",
                "Succeeded",
                "Deleting",
                "Migrating"
            ],
            "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
            }
        }
    },
    "parameters": {
        "WorkloadInstanceNameParameter": {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Workload Insights instance name."
        },
        "WorkloadInstanceRequestParameter": {
            "name": "workloadInstanceRequestParameter",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/WorkloadInstance"
            },
            "description": "Request body representing a Workload Insights instance",
            "x-ms-parameter-location": "method"
        },
        "WorkloadInstanceUpdateRequestParameter": {
            "name": "workloadInstanceUpdateRequestParameter",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/WorkloadInstanceUpdateRequest"
            },
            "description": "Request body representing Workload Insights instance update.",
            "x-ms-parameter-location": "method"
        }
    }
}