{
  "swagger": "2.0",
  "info": {
    "title": "PaloAltoNetworks.Cloudngfw",
    "version": "2022-04-19-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Firewalls"
    },
    {
      "name": "GlobalRulestack"
    },
    {
      "name": "LocalRulestacks"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks": {
      "get": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_List",
        "description": "List GlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_List_MaximumSet_Gen.json"
          },
          "GlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}": {
      "get": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_Get",
        "description": "Get a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_CreateOrUpdate",
        "description": "Create a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "GlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_Update",
        "description": "Update a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_Update_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Update_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Update_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_Delete",
        "description": "Delete a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/commit": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_commit",
        "description": "Commit rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been received but not yet acted upon."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_commit_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_commit_MaximumSet_Gen.json"
          },
          "GlobalRulestack_commit_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_commit_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/getCertificateObject": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_getCertificateObject",
        "description": "Get the certificate object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/certificateObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_getCertificateObject_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getCertificateObject_MaximumSet_Gen.json"
          },
          "GlobalRulestack_getCertificateObject_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getCertificateObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/getCountries": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listCountriesForRulestack",
        "description": "List of countries for Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listCountriesForRulestack_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listCountriesForRulestack_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listCountriesForRulestack_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listCountriesForRulestack_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/getFirewalls": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listFirewallsOfRulestack",
        "description": "List all firewalls associated with rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FirewallList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listFirewallsOfRulestack_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listFirewallsOfRulestack_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listFirewallsOfRulestack_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listFirewallsOfRulestack_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/getPostRuleRulelist": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_getPostRuleRulelist",
        "description": "Get the rulelist for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_getPostRuleRulelist_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getPostRuleRulelist_MaximumSet_Gen.json"
          },
          "GlobalRulestack_getPostRuleRulelist_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getPostRuleRulelist_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/getPreRuleRulelist": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_getPreRuleRulelist",
        "description": "Get the rulelist for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_getPreRuleRulelist_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getPreRuleRulelist_MaximumSet_Gen.json"
          },
          "GlobalRulestack_getPreRuleRulelist_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getPreRuleRulelist_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/getSecurityObject": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_getSecurityObject",
        "description": "Get the security object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_getSecurityObject_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getSecurityObject_MaximumSet_Gen.json"
          },
          "GlobalRulestack_getSecurityObject_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getSecurityObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listAdvancedSecurityObjects": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listAdvancedSecurityObjects",
        "description": "Get the list of advanced security objects",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/advSecurityObjectList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listAdvancedSecurityObjects_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listAdvancedSecurityObjects_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listAdvancedSecurityObjects_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listAdvancedSecurityObjects_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listCertificateObjects": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listCertificateObjects",
        "description": "List the certificate object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/certificateObjectList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listCertificateObjects_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listCertificateObjects_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listCertificateObjects_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listCertificateObjects_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listSecurityObjects": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listSecurityObjects",
        "description": "List the security objects for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityObjectList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listSecurityObjects_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listSecurityObjects_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listSecurityObjects_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listSecurityObjects_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listSecurityProfiles": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listSecurityProfiles",
        "description": "List the security profiles for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityProfileList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listSecurityProfiles_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listSecurityProfiles_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listSecurityProfiles_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listSecurityProfiles_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/revert": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_revert",
        "description": "Revert rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_revert_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_revert_MaximumSet_Gen.json"
          },
          "GlobalRulestack_revert_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_revert_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/updateCertificateObject": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_updateCertificateObject",
        "description": "Update the certificate object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "certificateObject",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/certificateObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/certificateObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_updateCertificateObject_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_updateCertificateObject_MaximumSet_Gen.json"
          },
          "GlobalRulestack_updateCertificateObject_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_updateCertificateObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/updatePostRuleRulelist": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_updatePostRuleRulelist",
        "description": "Update the rulelist for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "postRuleRuleList",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_updatePostRuleRulelist_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_updatePostRuleRulelist_MaximumSet_Gen.json"
          },
          "GlobalRulestack_updatePostRuleRulelist_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_updatePostRuleRulelist_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/updatePreRuleRulelist": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_updatePreRuleRulelist",
        "description": "Update the rulelist for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "preRuleRuleList",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_updatePreRuleRulelist_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_updatePreRuleRulelist_MaximumSet_Gen.json"
          },
          "GlobalRulestack_updatePreRuleRulelist_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_updatePreRuleRulelist_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/updateSecurityObject": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_updateSecurityObject",
        "description": "Update the security object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "securityObject",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/securityObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_updateSecurityObject_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_updateSecurityObject_MaximumSet_Gen.json"
          },
          "GlobalRulestack_updateSecurityObject_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_updateSecurityObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_ListBySubscription",
        "description": "List FirewallResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Firewalls_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MaximumSet_Gen.json"
          },
          "Firewalls_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks": {
      "get": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_ListBySubscription",
        "description": "List LocalRulestackResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LocalRulestacks_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListBySubscription_MaximumSet_Gen.json"
          },
          "LocalRulestacks_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_ListByResourceGroup",
        "description": "List FirewallResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Firewalls_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Firewalls_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Get",
        "description": "Get a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_Get_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MaximumSet_Gen.json"
          },
          "Firewalls_Get_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_CreateOrUpdate",
        "description": "Create a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Firewalls_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Firewalls_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Update",
        "description": "Update a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_Update_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Update_MaximumSet_Gen.json"
          },
          "Firewalls_Update_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Delete",
        "description": "Delete a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Firewalls_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Delete_MaximumSet_Gen.json"
          },
          "Firewalls_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks": {
      "get": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_ListByResourceGroup",
        "description": "List LocalRulestackResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LocalRulestacks_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "LocalRulestacks_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}": {
      "get": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_Get",
        "description": "Get a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_Get_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Get_MaximumSet_Gen.json"
          },
          "LocalRulestacks_Get_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_CreateOrUpdate",
        "description": "Create a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "LocalRulestacks_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "LocalRulestacks_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_Update",
        "description": "Update a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_Update_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Update_MaximumSet_Gen.json"
          },
          "LocalRulestacks_Update_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_Delete",
        "description": "Delete a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "LocalRulestacks_Delete_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Delete_MaximumSet_Gen.json"
          },
          "LocalRulestacks_Delete_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/commit": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_commit",
        "description": "Commit rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been received but not yet acted upon."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_commit_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_commit_MaximumSet_Gen.json"
          },
          "LocalRulestacks_commit_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_commit_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/getCertificateObject": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_getCertificateObject",
        "description": "Get the certificate object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/certificateObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_getCertificateObject_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getCertificateObject_MaximumSet_Gen.json"
          },
          "LocalRulestacks_getCertificateObject_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getCertificateObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/getCountries": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_listCountriesForRulestack",
        "description": "List of countries for Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_listCountriesForRulestack_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listCountriesForRulestack_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listCountriesForRulestack_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listCountriesForRulestack_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/getFirewalls": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_listFirewallsOfRulestack",
        "description": "List all firewalls associated with rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FirewallList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_listFirewallsOfRulestack_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listFirewallsOfRulestack_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listFirewallsOfRulestack_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listFirewallsOfRulestack_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/getLocalRuleRulelist": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_getLocalRuleRulelist",
        "description": "Get the rulelist for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_getLocalRuleRulelist_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getLocalRuleRulelist_MaximumSet_Gen.json"
          },
          "LocalRulestacks_getLocalRuleRulelist_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getLocalRuleRulelist_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/getSecurityObject": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_getSecurityObject",
        "description": "Get the security object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_getSecurityObject_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getSecurityObject_MaximumSet_Gen.json"
          },
          "LocalRulestacks_getSecurityObject_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getSecurityObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/listAdvancedSecurityObjects": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_listAdvancedSecurityObjects",
        "description": "Get the list of advanced security objects",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/advSecurityObjectList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_listAdvancedSecurityObjects_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listAdvancedSecurityObjects_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listAdvancedSecurityObjects_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listAdvancedSecurityObjects_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/listCertificateObjects": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_listCertificateObjects",
        "description": "List the certificate object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/certificateObjectList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_listCertificateObjects_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listCertificateObjects_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listCertificateObjects_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listCertificateObjects_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/listSecurityObjects": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_listSecurityObjects",
        "description": "List the security objects for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityObjectList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_listSecurityObjects_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listSecurityObjects_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listSecurityObjects_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listSecurityObjects_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/listSecurityProfiles": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_listSecurityProfiles",
        "description": "List the security profiles for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityProfileList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_listSecurityProfiles_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listSecurityProfiles_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listSecurityProfiles_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listSecurityProfiles_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/revert": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_revert",
        "description": "Revert rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_revert_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_revert_MaximumSet_Gen.json"
          },
          "LocalRulestacks_revert_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_revert_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/updateCertificateObject": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_updateCertificateObject",
        "description": "Update the certificate object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "certificateObject",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/certificateObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/certificateObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_updateCertificateObject_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateCertificateObject_MaximumSet_Gen.json"
          },
          "LocalRulestacks_updateCertificateObject_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateCertificateObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/updateLocalRuleRulelist": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_updateLocalRuleRulelist",
        "description": "Update the rulelist for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "localRuleRuleList",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleArray"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_updateLocalRuleRulelist_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateLocalRuleRulelist_MaximumSet_Gen.json"
          },
          "LocalRulestacks_updateLocalRuleRulelist_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateLocalRuleRulelist_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/updateSecurityObject": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_updateSecurityObject",
        "description": "Update the security object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "securityObject",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/securityObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_updateSecurityObject_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateSecurityObject_MaximumSet_Gen.json"
          },
          "LocalRulestacks_updateSecurityObject_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateSecurityObject_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionEnum": {
      "type": "string",
      "enum": [
        "Allow",
        "DenySilent",
        "DenyResetServer",
        "DenyResetBoth"
      ],
      "x-ms-enum": {
        "name": "ActionEnum",
        "modelAsString": false
      }
    },
    "Azure.ResourceManager.ManagedIdentityProperties": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.UserAssignedIdentity"
          },
          "description": "The identities assigned to this resource by the user."
        }
      },
      "description": "The properties of the managed service identities assigned to this resource.",
      "required": [
        "type"
      ]
    },
    "Azure.ResourceManager.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned"
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned,UserAssigned"
          }
        ]
      }
    },
    "Azure.ResourceManager.UserAssignedIdentity": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      },
      "description": "A managed identity assigned by the user.",
      "required": [
        "clientId",
        "principalId"
      ]
    },
    "BillingCycle": {
      "type": "string",
      "description": "Billing cycle",
      "enum": [
        "WEEKLY",
        "MONTHLY"
      ],
      "x-ms-enum": {
        "name": "BillingCycle",
        "modelAsString": false
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "urlCustom": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "custom URL"
        },
        "feeds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "feed list"
        }
      },
      "description": "URL/EDL to match",
      "required": [
        "urlCustom",
        "feeds"
      ]
    },
    "CommitStatus": {
      "type": "string",
      "description": "Commit status for the rulestack resource",
      "enum": [
        "UnCommitted",
        "InProgress",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "CommitStatus",
        "modelAsString": false
      }
    },
    "CommonAddr": {
      "type": "object",
      "properties": {
        "cidrs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "special value 'any'"
        },
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "list of countries"
        },
        "feeds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "list of feeds"
        },
        "prefixLists": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "prefix list"
        }
      },
      "description": "Common Address properties",
      "required": [
        "cidrs",
        "countries",
        "feeds",
        "prefixLists"
      ]
    },
    "CompanyDetails": {
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "Company name"
        },
        "officeAddress": {
          "type": "string",
          "description": "Office Address"
        },
        "country": {
          "type": "string",
          "description": "Country of operation"
        },
        "domain": {
          "type": "string",
          "description": "Domain of the company"
        },
        "business": {
          "type": "string",
          "description": "Business of the company"
        },
        "numberOfEmployees": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Employees"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        }
      },
      "description": "Company details of Firewall resource"
    },
    "CountriesResponse": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total count for countries"
        },
        "countries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Country"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Country[]",
          "description": "List of countries"
        }
      },
      "description": "Countries Response Object",
      "required": [
        "totalCount",
        "countries"
      ]
    },
    "Country": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "description": "Country Description",
      "required": [
        "code",
        "description"
      ]
    },
    "DataPathInfo": {
      "type": "object",
      "properties": {
        "networkType": {
          "$ref": "#/definitions/NetworkType",
          "description": "vnet or vwan, cannot be updated"
        },
        "networkVnet": {
          "$ref": "#/definitions/VnetInfo",
          "description": "vnet based Firewall deployment, cannot be updated"
        },
        "networkVwan": {
          "$ref": "#/definitions/VwanInfo",
          "description": "vwan based Firewall deployment cannot be updated"
        },
        "publicIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of IPs associated with the Firewall"
        },
        "enableServiceChain": {
          "type": "boolean",
          "description": "Enable service chaining, disabled by default"
        },
        "enableEgressNat": {
          "type": "boolean",
          "description": "Enable egress NAT, enabled by default"
        },
        "egressNatIp": {
          "type": "string",
          "description": "egress nat IP to use"
        },
        "enableDnsProxy": {
          "type": "boolean",
          "description": "Enable DNS proxy, disabled by default"
        },
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of IPs associated with the Firewall"
        }
      },
      "description": "DataPath values for Firewall resource"
    },
    "DecryptionRuleTypeEnum": {
      "type": "string",
      "enum": [
        "SSLOutboundInspection",
        "None"
      ],
      "x-ms-enum": {
        "name": "DecryptionRuleTypeEnum",
        "modelAsString": false
      }
    },
    "DestinationAddr": {
      "type": "object",
      "properties": {
        "commonAddr": {
          "$ref": "#/definitions/CommonAddr",
          "description": "Address details"
        },
        "fqdnLists": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "fqdn list"
        }
      },
      "description": "destination address",
      "required": [
        "commonAddr",
        "fqdnLists"
      ]
    },
    "FirewallDeploymentProperties": {
      "type": "object",
      "properties": {
        "firewallProperties": {
          "$ref": "#/definitions/FirewallProperties",
          "description": "Firewall Properties."
        },
        "planData": {
          "$ref": "#/definitions/PlanData",
          "description": "Billing plan information."
        },
        "dataPathInfo": {
          "$ref": "#/definitions/DataPathInfo",
          "description": "DataPath info for deployment"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "companyDetails": {
          "$ref": "#/definitions/CompanyDetails",
          "description": "Company Details"
        }
      },
      "description": "Properties specific to the Firewall resource deployment."
    },
    "FirewallList": {
      "type": "object",
      "properties": {
        "firewalls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RulestackFirewallDescription"
          },
          "x-cadl-name": "RulestackFirewallDescription[]",
          "description": "List of Firewalls",
          "readOnly": true
        }
      },
      "description": "List of firewalls"
    },
    "FirewallProperties": {
      "type": "object",
      "properties": {
        "localRuleStackId": {
          "type": "string",
          "description": "LocalRuleStack resource Id to be associated with the firewall."
        }
      },
      "description": "Firewall Properties"
    },
    "FirewallResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallDeploymentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "PaloAltoNetworks Firewall",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "FirewallResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallResource"
          },
          "x-cadl-name": "FirewallResource[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a FirewallResource list operation.",
      "required": [
        "value"
      ]
    },
    "FirewallResourceUpdate": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/FirewallResourceUpdateProperties"
        }
      },
      "description": "The type used for update operations of the FirewallResource."
    },
    "FirewallResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "firewallProperties": {
          "$ref": "#/definitions/FirewallProperties",
          "description": "Firewall Properties."
        },
        "planData": {
          "$ref": "#/definitions/PlanData",
          "description": "Billing plan information."
        },
        "dataPathInfo": {
          "$ref": "#/definitions/DataPathInfo",
          "description": "DataPath info for deployment"
        },
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "companyDetails": {
          "$ref": "#/definitions/CompanyDetails",
          "description": "Company Details"
        }
      },
      "description": "The updatable properties of the FirewallResource."
    },
    "GlobalRulestackProperties": {
      "type": "object",
      "properties": {},
      "description": "PAN Global Rulestack Describe Object",
      "allOf": [
        {
          "$ref": "#/definitions/RulestackProperties"
        }
      ]
    },
    "GlobalRulestackResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GlobalRulestackProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "PaloAltoNetworks GlobalRulestack",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GlobalRulestackResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
[...]
