{
  "swagger": "2.0",
  "info": {
    "title": "PaloAltoNetworks.Cloudngfw",
    "version": "2022-04-19-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Firewalls"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/PaloAltoNetworks.Cloudngfw/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_ListBySubscription",
        "description": "List FirewallResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Firewalls_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MaximumSet_Gen.json"
          },
          "Firewalls_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_ListByResourceGroup",
        "description": "List FirewallResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Firewalls_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Firewalls_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Get",
        "description": "Get a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_Get_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MaximumSet_Gen.json"
          },
          "Firewalls_Get_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_CreateOrUpdate",
        "description": "Create a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Firewalls_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Firewalls_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Update",
        "description": "Update a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_Update_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Update_MaximumSet_Gen.json"
          },
          "Firewalls_Update_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Delete",
        "description": "Delete a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Firewalls_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Delete_MaximumSet_Gen.json"
          },
          "Firewalls_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ManagedIdentityProperties": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.UserAssignedIdentity"
          },
          "description": "The identities assigned to this resource by the user."
        }
      },
      "description": "The properties of the managed service identities assigned to this resource.",
      "required": [
        "type"
      ]
    },
    "Azure.ResourceManager.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned"
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned,UserAssigned"
          }
        ]
      }
    },
    "Azure.ResourceManager.UserAssignedIdentity": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      },
      "description": "A managed identity assigned by the user.",
      "required": [
        "clientId",
        "principalId"
      ]
    },
    "BillingCycle": {
      "type": "string",
      "description": "Billing cycle",
      "enum": [
        "WEEKLY",
        "MONTHLY"
      ],
      "x-ms-enum": {
        "name": "BillingCycle",
        "modelAsString": false
      }
    },
    "CompanyDetails": {
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "Company name"
        },
        "officeAddress": {
          "type": "string",
          "description": "Office Address"
        },
        "country": {
          "type": "string",
          "description": "Country of operation"
        },
        "domain": {
          "type": "string",
          "description": "Domain of the company"
        },
        "business": {
          "type": "string",
          "description": "Business of the company"
        },
        "numberOfEmployees": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Employees"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        }
      },
      "description": "Company details of Firewall resource"
    },
    "DataPathInfo": {
      "type": "object",
      "properties": {
        "networkType": {
          "$ref": "#/definitions/NetworkType",
          "description": "vnet or vwan, cannot be updated"
        },
        "networkVnet": {
          "$ref": "#/definitions/VnetInfo",
          "description": "vnet based Firewall deployment, cannot be updated"
        },
        "networkVwan": {
          "$ref": "#/definitions/VwanInfo",
          "description": "vwan based Firewall deployment cannot be updated"
        },
        "publicIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of IPs associated with the Firewall"
        },
        "enableServiceChain": {
          "type": "boolean",
          "description": "Enable service chaining, disabled by default"
        },
        "enableEgressNat": {
          "type": "boolean",
          "description": "Enable egress NAT, enabled by default"
        },
        "egressNatIp": {
          "type": "string",
          "description": "egress nat IP to use"
        },
        "enableDnsProxy": {
          "type": "boolean",
          "description": "Enable DNS proxy, disabled by default"
        },
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "List of IPs associated with the Firewall"
        }
      },
      "description": "DataPath values for Firewall resource"
    },
    "FirewallDeploymentProperties": {
      "type": "object",
      "properties": {
        "firewallProperties": {
          "$ref": "#/definitions/FirewallProperties",
          "description": "Firewall Properties."
        },
        "planData": {
          "$ref": "#/definitions/PlanData",
          "description": "Billing plan information."
        },
        "dataPathInfo": {
          "$ref": "#/definitions/DataPathInfo",
          "description": "DataPath info for deployment"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "companyDetails": {
          "$ref": "#/definitions/CompanyDetails",
          "description": "Company Details"
        }
      },
      "description": "Properties specific to the Firewall resource deployment."
    },
    "FirewallProperties": {
      "type": "object",
      "properties": {
        "localRuleStackId": {
          "type": "string",
          "description": "LocalRuleStack resource Id to be associated with the firewall."
        }
      },
      "description": "Firewall Properties"
    },
    "FirewallResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallDeploymentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "PaloAltoNetworks Firewall",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "FirewallResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallResource"
          },
          "x-cadl-name": "FirewallResource[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a FirewallResource list operation.",
      "required": [
        "value"
      ]
    },
    "FirewallResourceUpdate": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/FirewallResourceUpdateProperties"
        }
      },
      "description": "The type used for update operations of the FirewallResource."
    },
    "FirewallResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "firewallProperties": {
          "$ref": "#/definitions/FirewallProperties",
          "description": "Firewall Properties."
        },
        "planData": {
          "$ref": "#/definitions/PlanData",
          "description": "Billing plan information."
        },
        "dataPathInfo": {
          "$ref": "#/definitions/DataPathInfo",
          "description": "DataPath info for deployment"
        },
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "companyDetails": {
          "$ref": "#/definitions/CompanyDetails",
          "description": "Company Details"
        }
      },
      "description": "The updatable properties of the FirewallResource."
    },
    "MarketplaceDetails": {
      "type": "object",
      "properties": {
        "marketplaceSubscriptionId": {
          "type": "string",
          "description": "Marketplace Subscription Id"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id"
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher Id"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        }
      },
      "description": "MarketplaceDetails of PAN Firewall resource"
    },
    "MediumString": {
      "type": "string",
      "description": "Shorthand for setting length limit.",
      "maxLength": 50
    },
    "NetworkType": {
      "type": "string",
      "description": "NetworkType Enum",
      "enum": [
        "VNET",
        "VWAN"
      ],
      "x-ms-enum": {
        "name": "NetworkType",
        "modelAsString": false
      }
    },
    "PlanData": {
      "type": "object",
      "properties": {
        "usageType": {
          "$ref": "#/definitions/UsageType",
          "description": "different usage type like PAYG/COMMITTED"
        },
        "billingCycle": {
          "$ref": "#/definitions/BillingCycle",
          "description": "different billing cycles like MONTHLY/WEEKLY"
        },
        "planId": {
          "$ref": "#/definitions/MediumString",
          "description": "plan id as published by Liftr.PAN"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "date when plan was applied",
          "readOnly": true
        }
      },
      "description": "Billing plan information."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the firewall resource.",
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "UsageType": {
      "type": "string",
      "description": "Usage Type",
      "enum": [
        "PAYG",
        "COMMITTED"
      ],
      "x-ms-enum": {
        "name": "UsageType",
        "modelAsString": false
      }
    },
    "UserDetails": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name"
        },
        "lastName": {
          "type": "string",
          "description": "Last name"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id"
        },
        "email": {
          "type": "string",
          "description": "User Email"
        },
        "alternateEmail": {
          "type": "string",
          "description": "Alternate Email address"
        },
        "upn": {
          "type": "string",
          "description": "UPN of user"
        },
        "address": {
          "type": "string",
          "description": "Address of user"
        },
        "contactPhoneNumber": {
          "type": "string",
          "description": "Contact phone number"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional Properties"
        }
      },
      "description": "User Details of Firewall resource"
    },
    "VnetInfo": {
      "type": "object",
      "properties": {
        "vnet": {
          "type": "string",
          "description": "Azure Virtual Network"
        },
        "trustSubnet": {
          "type": "string",
          "description": "trust Subnet"
        },
        "unTrustSubnet": {
          "type": "string",
          "description": "untrust Subnet"
        }
      },
      "description": "VnetInfo for dataPath"
    },
    "VwanInfo": {
      "type": "object",
      "properties": {
        "virtualHub": {
          "type": "string",
          "description": "Azure Virtual Hub"
        }
      },
      "description": "VwanInfo for dataPath"
    }
  },
  "parameters": {
    "FirewallResource.firewallName": {
      "name": "firewallName",
      "in": "path",
      "required": true,
      "description": "Firewall resource name",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
