{
  "swagger": "2.0",
  "info": {
    "title": "PaloAltoNetworks.Cloudngfw",
    "version": "2022-04-19-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Firewalls"
    },
    {
      "name": "LocalRulestacks"
    },
    {
      "name": "Rulelists"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/PaloAltoNetworks.Cloudngfw/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "operationId": "Firewalls_ListBySubscription",
        "description": "List FirewallResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Firewalls"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Firewalls_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MaximumSet_Gen.json"
          },
          "Firewalls_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "operationId": "Firewalls_ListByResourceGroup",
        "description": "List FirewallResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Firewalls"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Firewalls_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Firewalls_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}": {
      "get": {
        "operationId": "Firewalls_Get",
        "description": "Get a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Firewalls"
        ],
        "x-ms-examples": {
          "Firewalls_Get_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MaximumSet_Gen.json"
          },
          "Firewalls_Get_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Firewalls_CreateOrUpdate",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Create a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Firewalls"
        ],
        "x-ms-examples": {
          "Firewalls_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Firewalls_Update",
        "description": "Update a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Firewalls"
        ],
        "x-ms-examples": {
          "Firewalls_Update_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Update_MaximumSet_Gen.json"
          },
          "Firewalls_Update_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Firewalls_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Delete a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Firewalls"
        ],
        "x-ms-examples": {
          "Firewalls_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Delete_MaximumSet_Gen.json"
          },
          "Firewalls_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks": {
      "get": {
        "operationId": "LocalRulestacks_ListByResourceGroup",
        "description": "List LocalRulestackResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LocalRulestacks_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "LocalRulestacks_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}": {
      "get": {
        "operationId": "LocalRulestacks_Get",
        "description": "Get a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_Get_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Get_MaximumSet_Gen.json"
          },
          "LocalRulestacks_Get_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "LocalRulestacks_CreateOrUpdate",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Create a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "LocalRulestacks_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Delete a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_Delete_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Delete_MaximumSet_Gen.json"
          },
          "LocalRulestacks_Delete_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/advancedSecurityObject/list": {
      "post": {
        "operationId": "LocalRulestacks_getAdvancedSecurityObject",
        "description": "Get the list of advanced security objects",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "advanced security object",
            "schema": {
              "$ref": "#/definitions/advSecurityObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_getAdvancedSecurityObject_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getAdvancedSecurityObject_MaximumSet_Gen.json"
          },
          "LocalRulestacks_getAdvancedSecurityObject_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getAdvancedSecurityObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/commit": {
      "post": {
        "operationId": "LocalRulestacks_commit",
        "description": "Commit rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been received but not yet acted upon."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_commit_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_commit_MaximumSet_Gen.json"
          },
          "LocalRulestacks_commit_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_commit_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/revert": {
      "post": {
        "operationId": "LocalRulestacks_revert",
        "description": "Revert rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been received but not yet acted upon."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_revert_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_revert_MaximumSet_Gen.json"
          },
          "LocalRulestacks_revert_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_revert_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/rulelists": {
      "get": {
        "operationId": "Rulelists_ListByResourceGroup",
        "description": "List RulelistResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RulelistResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rulelists"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Rulelists_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Rulelists_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Rulelists_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Rulelists_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/rulelists/{rulelistName}": {
      "get": {
        "operationId": "Rulelists_Get",
        "description": "Get a RulelistResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "$ref": "#/parameters/RulelistResource.rulelistName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RulelistResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rulelists"
        ],
        "x-ms-examples": {
          "Rulelists_Get_MaximumSet_Gen": {
            "$ref": "./examples/Rulelists_Get_MaximumSet_Gen.json"
          },
          "Rulelists_Get_MinimumSet_Gen": {
            "$ref": "./examples/Rulelists_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Rulelists_CreateOrUpdate",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Create a RulelistResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "$ref": "#/parameters/RulelistResource.rulelistName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/RulelistResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RulelistResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RulelistResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rulelists"
        ],
        "x-ms-examples": {
          "Rulelists_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Rulelists_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Rulelists_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Delete a RulelistResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "$ref": "#/parameters/RulelistResource.rulelistName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rulelists"
        ],
        "x-ms-examples": {
          "Rulelists_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Rulelists_Delete_MaximumSet_Gen.json"
          },
          "Rulelists_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Rulelists_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/securityObject": {
      "get": {
        "operationId": "LocalRulestacks_getSecurityObject",
        "description": "Get the security object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "security object",
            "schema": {
              "$ref": "#/definitions/securityObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_getSecurityObject_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getSecurityObject_MaximumSet_Gen.json"
          },
          "LocalRulestacks_getSecurityObject_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getSecurityObject_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "LocalRulestacks_updateSecurityObject",
        "description": "Update the security object for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "security object",
            "schema": {
              "$ref": "#/definitions/securityObject"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_updateSecurityObject_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateSecurityObject_MaximumSet_Gen.json"
          },
          "LocalRulestacks_updateSecurityObject_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateSecurityObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/securityObject/list": {
      "get": {
        "operationId": "LocalRulestacks_listSecurityObject",
        "description": "List the security objects for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "security object list",
            "schema": {
              "$ref": "#/definitions/securityObjectList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_listSecurityObject_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listSecurityObject_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listSecurityObject_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listSecurityObject_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/securityProfile": {
      "get": {
        "operationId": "LocalRulestacks_getSecurityProfile",
        "description": "Get the security profile for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "security profile",
            "schema": {
              "$ref": "#/definitions/securityProfile"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_getSecurityProfile_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getSecurityProfile_MaximumSet_Gen.json"
          },
          "LocalRulestacks_getSecurityProfile_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_getSecurityProfile_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "LocalRulestacks_updateSecurityProfile",
        "description": "Update the security profile for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "security profile",
            "schema": {
              "$ref": "#/definitions/securityProfile"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_updateSecurityProfile_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateSecurityProfile_MaximumSet_Gen.json"
          },
          "LocalRulestacks_updateSecurityProfile_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_updateSecurityProfile_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/securityProfile/list": {
      "get": {
        "operationId": "LocalRulestacks_listSecurityProfile",
        "description": "Lisy the security profiles for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Security profile list",
            "schema": {
              "$ref": "#/definitions/securityProfileList"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LocalRulestacks"
        ],
        "x-ms-examples": {
          "LocalRulestacks_listSecurityProfile_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listSecurityProfile_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listSecurityProfile_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listSecurityProfile_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionEnum": {
      "type": "string",
      "enum": [
        "Allow",
        "DenySilent",
        "DenyResetServer",
        "DenyResetBoth"
      ],
      "x-ms-enum": {
        "name": "ActionEnum",
        "modelAsString": false
      }
    },
    "Azure.ResourceManager.ManagedIdentityProperties": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.UserAssignedIdentity"
          },
          "description": "The identities assigned to this resource by the user."
        }
      },
      "description": "The properties of the managed service identities assigned to this resource.",
      "required": [
        "type"
      ]
    },
    "Azure.ResourceManager.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned"
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned,UserAssigned"
          }
        ]
      }
    },
    "Azure.ResourceManager.UserAssignedIdentity": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      },
      "description": "A managed identity assigned by the user.",
      "required": [
        "clientId",
        "principalId"
      ]
    },
    "BillingCycle": {
      "type": "string",
      "description": "Billing cycle",
      "enum": [
        "WEEKLY",
        "MONTHLY"
      ],
      "x-ms-enum": {
        "name": "BillingCycle",
        "modelAsString": false
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "urlCustom": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "custom URL"
        },
        "feeds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "feed list"
        }
      },
      "description": "URL/EDL to match",
      "required": [
        "urlCustom",
        "feeds"
      ]
    },
    "CommonAddr": {
      "type": "object",
      "properties": {
        "cidrs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "special value 'any'"
        },
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "list of countries"
        },
        "feeds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "list of feeds"
        },
        "prefixLists": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "prefix list"
        }
      },
      "description": "Common Address properties",
      "required": [
        "cidrs",
        "countries",
        "feeds",
        "prefixLists"
      ]
    },
    "DecryptionRuleTypeEnum": {
      "type": "string",
      "enum": [
        "SSLOutboundInspection",
        "None"
      ],
      "x-ms-enum": {
        "name": "DecryptionRuleTypeEnum",
        "modelAsString": false
      }
    },
    "DescribeLocalRuleStack": {
      "type": "object",
      "properties": {
        "rulestackId": {
          "type": "string",
          "description": "PAN RulestackId",
          "readOnly": true
        },
        "scope": {
          "$ref": "#/definitions/Scope",
          "description": "subscription scope of rulestack"
        },
        "description": {
          "type": "string",
          "description": "rulestack description"
        },
        "minAppIdVersion": {
          "type": "string",
          "description": "minimum version"
        },
        "rulestackStatus": {
          "$ref": "#/definitions/RulestackStatus",
          "description": "Status of the rulestack.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "read only string representing this create or update",
          "readOnly": true
        }
      },
      "description": "PAN Local Rulestack Describe Object"
    },
    "DestinationAddr": {
      "type": "object",
      "properties": {
        "commonAddr": {
          "$ref": "#/definitions/CommonAddr",
          "description": "Address details"
        },
        "fqdnLists": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "fqdn list"
        }
      },
      "description": "destination address",
      "required": [
        "commonAddr",
        "fqdnLists"
      ]
    },
    "FirewallDeployment": {
      "type": "object",
      "properties": {
        "firewallProperties": {
          "$ref": "#/definitions/FirewallProperties",
          "description": "Firewall Properties."
        },
        "planData": {
          "$ref": "#/definitions/PlanData",
          "description": "Billing plan information."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      },
      "description": "Properties specific to the Firewall resource deployment."
    },
    "FirewallProperties": {
      "type": "object",
      "properties": {
        "localRuleStackId": {
          "type": "string",
          "description": "LocalRuleStack resource Id to be associated with the firewall."
        }
      },
      "description": "Firewall Properties"
    },
    "FirewallResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirewallDeployment",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Firewall resource name",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "PaloAltoNetworks Firewall",
      "required": [
        "properties",
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "FirewallResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FirewallResource"
          },
          "x-cadl-name": "PaloAltoNetworks.Cloudngfw.FirewallResource[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a FirewallResource list operation.",
      "required": [
        "value"
      ]
    },
    "FirewallResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "ARM resource tags."
        },
        "properties": {
          "$ref": "#/definitions/FirewallResourceUpdateProperties"
        }
      },
      "description": "The type used for update operations of the FirewallResource."
    },
    "FirewallResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "firewallProperties": {
          "$ref": "#/definitions/FirewallProperties",
          "description": "Firewall Properties."
        },
        "planData": {
          "$ref": "#/definitions/PlanData",
          "description": "Billing plan information."
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "The updatable properties of the FirewallResource."
    },
    "LocalRulestackResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DescribeLocalRuleStack",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "LocalRulestack resource name",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "PaloAltoNetworks LocalRulestack",
      "required": [
        "properties",
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LocalRulestackResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalRulestackResource"
          },
          "x-cadl-name": "PaloAltoNetworks.Cloudngfw.LocalRulestackResource[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a LocalRulestackResource list operation.",
      "required": [
        "value"
      ]
    },
    "MediumString": {
      "type": "string",
      "description": "Shorthand for setting length limit.",
      "maxLength": 50
    },
    "PlanData": {
      "type": "object",
      "properties": {
        "usageType": {
          "$ref": "#/definitions/UsageType",
          "description": "different usage type like PAYG/COMMITTED"
        },
        "billingCycle": {
          "$ref": "#/definitions/BillingCycle",
          "description": "different billing cycles like MONTHLY/WEEKLY"
        },
        "planId": {
          "$ref": "#/definitions/MediumString",
          "description": "plan id as published by Liftr.PAN"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "date when plan was applied",
          "readOnly": true
        }
      },
      "description": "Billing plan information."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the firewall resource.",
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Rule": {
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 1000000,
          "description": "rule priority"
        },
        "ruleEntry": {
          "$ref": "#/definitions/RuleEntry",
          "description": "rule properties"
        }
      },
      "description": "rule definition",
      "required": [
        "priority",
        "ruleEntry"
      ]
    },
    "RuleArray": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "read only string representing this create or update",
          "readOnly": true
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rule"
          },
          "x-ms-identifier": [],
          "x-cadl-name": "PaloAltoNetworks.Cloudngfw.Rule[]",
          "description": "list of rules"
        }
      },
      "description": "collection of rules",
      "required": [
        "rules"
      ]
    },
    "RuleEntry": {
      "type": "object",
      "properties": {
        "ruleName": {
          "type": "string",
          "description": "Name of the rule"
        },
        "description": {
          "type": "string",
          "description": "rule description"
        },
        "enabled": {
          "type": "boolean",
          "description": "state of this rule",
          "default": true
        },
        "source": {
          "$ref": "#/definitions/CommonAddr",
          "description": "source address"
        },
        "negateSource": {
          "type": "boolean",
          "description": "cidr should not be 'any'",
          "default": false
        },
        "destination": {
          "$ref": "#/definitions/DestinationAddr",
          "description": "destination address"
        },
        "negateDestination": {
          "type": "boolean",
          "description": "cidr should not be 'any'",
          "default": false
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "array of rule applications"
        },
        "category": {
          "$ref": "#/definitions/Category",
          "description": "rule category"
        },
        "protocol": {
          "type": "string",
          "description": "any, application-default, TCP:number, UDP:number",
          "default": "application-default"
        },
        "auditComment": {
          "type": "string",
          "description": "rule comment"
        },
        "action": {
          "$ref": "#/definitions/ActionEnum",
          "description": "rule action"
        },
        "logging": {
          "type": "boolean",
          "description": "enable or disable logging",
          "default": false
        },
        "decryptionRuleType": {
          "$ref": "#/definitions/DecryptionRuleTypeEnum",
          "description": "enable or disable decryption"
        },
        "tags": {
          "$ref": "#/definitions/TagInfo",
          "description": "tag for rule"
        }
      },
      "description": "definition of rule",
      "required": [
        "ruleName",
        "source",
        "destination",
        "applications"
      ]
    },
    "RulelistResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RuleArray",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Rulelist sub resource name",
          "readOnly": true
        }
      },
      "description": "ruleStack rule list",
      "required": [
        "properties",
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RulelistResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RulelistResource"
          },
          "x-cadl-name": "PaloAltoNetworks.Cloudngfw.RulelistResource[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a RulelistResource list operation.",
      "required": [
        "value"
      ]
    },
    "RulestackStatus": {
      "type": "string",
      "description": "Status of the rulestack resource.",
      "enum": [
        "none",
        "running",
        "unCommitted",
        "preCommit",
        "preCommitDone",
        "preValidateDone",
        "committing"
      ],
      "x-ms-enum": {
        "name": "RulestackStatus",
        "modelAsString": false
      }
    },
    "Scope": {
      "type": "object",
      "properties": {
        "subscriptionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "List of subscriptions"
        }
      },
      "description": "subscription scope of rulestack",
      "required": [
        "subscriptionIds"
      ]
    },
    "TagInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "tag name"
        },
        "tagValue": {
          "type": "string",
          "description": "tag value"
        }
      },
      "description": "Tag",
      "required": [
        "id",
        "tagValue"
      ]
    },
    "UsageType": {
      "type": "string",
      "description": "Usage Type",
      "enum": [
        "PAYG",
        "COMMITTED"
      ],
      "x-ms-enum": {
        "name": "UsageType",
        "modelAsString": false
      }
    },
    "advSecurityObject": {
      "type": "object",
      "properties": {
        "urlList": {
          "$ref": "#/definitions/urlList",
          "description": "List of custom and predefined url category",
          "readOnly": true
        },
        "edList": {
          "$ref": "#/definitions/edlList",
          "description": "List of EDL",
          "readOnly": true
        }
      },
      "description": "advanced security object",
      "required": [
        "urlList",
        "edList"
      ]
    },
    "antiSpywareProfileData": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "is enabled"
        },
        "profile": {
          "type": "string",
          "description": "profile name for anti spyware, default is recommended"
        }
      },
      "description": "Anti spyware Profile data",
      "required": [
        "enable",
        "profile"
      ]
    },
    "antiVirusProfileData": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "is enabled"
        },
        "profile": {
          "type": "string",
          "description": "profile name for anti virus, default is recommended"
        }
      },
      "description": "anti virus profile data",
      "required": [
        "enable",
        "profile"
      ]
    },
    "dnsSubscriptionProfileData": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "is enabled"
        },
        "profile": {
          "type": "string",
          "description": "profile name for dns subscription, default is recommended"
        }
      },
      "description": "DNS Subscription profile data",
      "required": [
        "enable",
        "profile"
      ]
    },
    "edlList": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "total number of EDLs"
        },
        "entry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "EDL entry"
        }
      },
      "description": "List of EDL",
      "required": [
        "total",
        "entry"
      ]
    },
    "egressDecryptionProfileData": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "is enabled"
        },
        "unTrustCertificate": {
          "type": "string",
          "description": "unTrust certificate used for outbound"
        }
      },
      "description": "Egress Decryption profile data",
      "required": [
        "enable"
      ]
    },
    "fileBlockingProfileData": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "is enabled"
        },
        "profile": {
          "type": "string",
          "description": "profile name for filebloacking, default is recommended"
        }
      },
      "description": "File bloacking profile data",
      "required": [
        "enable",
        "profile"
      ]
    },
    "fqdnData": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "name for fqdn collection"
        },
        "description": {
          "type": "string",
          "description": "fqdn description"
        },
        "entry": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/fqdnEntry"
          },
          "x-ms-identifier": [],
          "x-cadl-name": "PaloAltoNetworks.Cloudngfw.fqdnEntry[]",
          "description": "fqdn entry"
        },
        "auditcomment": {
          "type": "string",
          "description": "comment for this object"
        }
      },
      "description": "fqdn entry",
      "required": [
        "name",
        "entry"
      ]
    },
    "fqdnEntry": {
      "type": "object",
      "properties": {
        "fqdnName": {
          "type": "string",
          "description": "fqdn entry"
        },
        "cerificate": {
          "type": "string",
          "description": "cerificate name"
        },
        "auditComment": {
          "type": "string",
          "description": "comment for this object"
        }
      },
      "description": "fqdn entry",
      "required": [
        "fqdnName"
      ]
    },
    "fqdnList": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "total length of list"
        },
        "entry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "fqdn list items"
        }
      },
      "description": "fqdn list",
      "required": [
        "total",
        "entry"
      ]
    },
    "ipsVulnerabilityProfileData": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "is enabled"
        },
        "profile": {
          "type": "string",
          "description": "profile name for IPS vulnerability, default is recommended"
        }
      },
      "description": "IPs vulnerability profile data",
      "required": [
        "enable",
        "profile"
      ]
    },
    "prefixData": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "name for prefix collection"
        },
        "description": {
          "type": "string",
          "description": "prefix description"
        },
        "entry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "prefix entry"
        },
        "auditcomment": {
          "type": "string",
          "description": "comment for this object"
        }
      },
      "description": "prefix entry",
      "required": [
        "name",
        "entry"
      ]
    },
    "prefixList": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "total length of list"
        },
        "entry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "prefix list items"
        }
      },
      "description": "prefix list",
      "required": [
        "total",
        "entry"
      ]
    },
    "securityObject": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "read only string representing this create or update",
          "readOnly": true
        },
        "fqdnList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/fqdnData"
          },
          "x-ms-identifier": [],
          "x-cadl-name": "PaloAltoNetworks.Cloudngfw.fqdnData[]",
          "description": "fqdn list"
        },
        "prefixList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/prefixData"
          },
          "x-ms-identifier": [],
          "x-cadl-name": "PaloAltoNetworks.Cloudngfw.prefixData[]",
          "description": "prefix list"
        }
      },
      "description": "security object",
      "required": [
        "fqdnList",
        "prefixList"
      ]
    },
    "securityObjectList": {
      "type": "object",
      "properties": {
        "fqdnList": {
          "$ref": "#/definitions/fqdnList",
          "description": "fqdn list"
        },
        "prefixList": {
          "$ref": "#/definitions/prefixList",
          "description": "prefix list"
        }
      },
      "description": "security object list",
      "required": [
        "fqdnList",
        "prefixList"
      ]
    },
    "securityProfile": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "read only string representing this create or update",
          "readOnly": true
        },
        "ipsVulnerabilityProfileData": {
          "$ref": "#/definitions/ipsVulnerabilityProfileData",
          "description": "IPs Vulnerability Profile Data"
        },
        "antiSpywareProfile": {
          "$ref": "#/definitions/antiSpywareProfileData",
          "description": "Anti spyware Profile data"
        },
        "antiVirusProfile": {
          "$ref": "#/definitions/antiVirusProfileData",
          "description": "anti virus profile data"
        },
        "urlFilteringProfile": {
          "$ref": "#/definitions/urlFilteringProfileData",
          "description": "URL filtering profile data"
        },
        "fileBlockingProfile": {
          "$ref": "#/definitions/fileBlockingProfileData",
          "description": "File bloacking profile data"
        },
        "dnsSubscriptionProfile": {
          "$ref": "#/definitions/dnsSubscriptionProfileData",
          "description": "DNS Subscription profile data"
        },
        "outboundUnTrustCertificate": {
          "$ref": "#/definitions/egressDecryptionProfileData",
          "description": "Egress Decryption profile data"
        }
      },
      "description": "security profile",
      "required": [
        "ipsVulnerabilityProfileData",
        "antiSpywareProfile",
        "antiVirusProfile",
        "urlFilteringProfile",
        "fileBlockingProfile",
        "dnsSubscriptionProfile",
        "outboundUnTrustCertificate"
      ]
    },
    "securityProfileList": {
      "type": "object",
      "properties": {
        "antiSpywareProfile": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "profile name for anitspyware, default is recommended"
        },
        "antiVirusProfile": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "profile name for antivirus, default is recommended"
        },
        "ipsVulnerabilityProfile": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "profile name for vulnerability, default is recommended"
        },
        "urlFilteringProfile": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "profile name for URL filtering, default is recommended"
        },
        "fileBlockingProfile": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "profile name for file blocking, default is recommended"
        }
      },
      "description": "Security profile list",
      "required": [
        "antiSpywareProfile",
        "antiVirusProfile",
        "ipsVulnerabilityProfile",
        "urlFilteringProfile",
        "fileBlockingProfile"
      ]
    },
    "urlFilteringProfileData": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "is enabled"
        },
        "profile": {
          "type": "string",
          "description": "profile name for URL filtering, default is recommended"
        }
      },
      "description": "URL filtering profile data",
      "required": [
        "enable",
        "profile"
      ]
    },
    "urlList": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "total number of URLs"
        },
        "entry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "Cadl.string[]",
          "description": "URL entry"
        }
      },
      "description": "List of custom and predefined url category",
      "required": [
        "total",
        "entry"
      ]
    }
  },
  "parameters": {
    "FirewallResource.firewallName": {
      "x-ms-parameter-location": "method",
      "name": "firewallName",
      "in": "path",
      "required": true,
      "description": "Firewall resource name",
      "type": "string"
    },
    "LocalRulestackResource.localRulestackName": {
      "x-ms-parameter-location": "method",
      "name": "localRulestackName",
      "in": "path",
      "required": true,
      "description": "LocalRulestack resource name",
      "type": "string"
    },
    "RulelistResource.rulelistName": {
      "x-ms-parameter-location": "method",
      "name": "rulelistName",
      "in": "path",
      "required": true,
      "description": "Rulelist sub resource name",
      "type": "string"
    }
  }
}