{
  "swagger": "2.0",
  "info": {
    "title": "Azure Arc Connectivity Platform Management API",
    "description": "REST API for Azure Arc Connectivity Platform",
    "version": "2021-07-08-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ArcConnectivity/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists the available Azure Arc Connectivity Platform REST API operations.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ArcConnectivity/networkAccessDetails": {
      "get": {
        "tags": [
          "ArcNetworkAccessDetails"
        ],
        "description": "List of network access details to the target resource.",
        "operationId": "ArcNetworkAccessDetails_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/NetworkAccessExpirationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of network access details.",
            "schema": {
              "$ref": "#/definitions/NetworkAccessDetailsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerNamespace}/{resourceType}/{resourceName}/providers/Microsoft.ArcConnectivity/networkAccessDetails": {
      "get": {
        "tags": [
          "NetworkAccessDetails"
        ],
        "description": "List of network access details to the target resource.",
        "operationId": "NetworkAccessDetails_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource."
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/NetworkAccessExpirationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of network access details.",
            "schema": {
              "$ref": "#/definitions/NetworkAccessDetailsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerNamespace}/{resourceType}/{resourceName}/providers/Microsoft.ArcConnectivity/networkAccessDetails/{networkAccess}": {
      "get": {
        "tags": [
          "NetworkAccessDetails"
        ],
        "description": "Gets the connection to the resource.",
        "operationId": "NetworkAccessDetails_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource."
          },
          {
            "name": "networkAccess",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The network access."
          },
          {
            "$ref": "#/parameters/NetworkAccessExpirationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Network access details",
            "schema": {
              "$ref": "#/definitions/NetworkAccessDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "NetworkAccessDetails"
        ],
        "description": "Create or update the connections to the target resource.",
        "operationId": "NetworkAccessDetails_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource."
          },
          {
            "name": "networkAccess",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The network access."
          }
        ],
        "responses": {
          "200": {
            "description": "Network access details.",
            "schema": {
              "$ref": "#/definitions/NetworkAccessDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkAccessDetails"
        ],
        "description": "Update the connections to the target resource.",
        "operationId": "NetworkAccessDetails_Update",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource."
          },
          {
            "name": "networkAccess",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The network access."
          }
        ],
        "responses": {
          "200": {
            "description": "Connection details.",
            "schema": {
              "$ref": "#/definitions/NetworkAccessDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkAccessDetails"
        ],
        "description": "Deletes the network access to the target resource.",
        "operationId": "NetworkAccessDetails_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource."
          },
          {
            "name": "networkAccess",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The network access."
          }
        ],
        "responses": {
          "200": {
            "description": "The network access is deleted successfully."
          },
          "204": {
            "description": "The network access has been deleted already."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HybridConnectionAccessInfo": {
      "type": "object",
      "description": "HybridConnection Access Info.",
      "required": [
        "namespace",
        "hybridConnectionName"
      ],
      "properties": {
        "namespace": {
          "type": "string",
          "description": "Azure Relay Namespace.",
          "minLength": 1,
          "maxLength": 50,
          "pattern": "^[A-Za-z0-9-._/]+$"
        },
        "hybridConnectionName": {
          "type": "string",
          "description": "Azure Relay Hybrid Connection name for the resource.",
          "minLength": 1,
          "maxLength": 200,
          "pattern": "^[A-Za-z0-9-._/]+$"
        },
        "accessToken": {
          "type": "string",
          "description": "Shared Access Signature.",
          "minLength": 1,
          "maxLength": 200
        },
        "expiration": {
          "type": "integer",
          "description": "The experation of sasToken in unix time."
        }
      }
    },
    "NetworkAccessDetails": {
      "description": "The network access details for the target resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "systemData": {
          "description": "System data of NetworkAccessDetails resource",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "x-ms-client-flatten": true
        },
        "properties": {
          "description": "Network access details properties.",
          "$ref": "#/definitions/NetworkAccessDetailsProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "NetworkAccessDetailsProperties": {
      "description": "The network access details for the target resource.",
      "type": "object",
      "required": [
        "primary"
      ],
      "properties": {
        "primary": {
          "description": "The primary hybridconnection access detail.",
          "$ref": "#/definitions/HybridConnectionAccessInfo"
        },
        "secondary": {
          "description": "The secondary hybridconnection access detail.",
          "$ref": "#/definitions/HybridConnectionAccessInfo"
        }
      }
    },
    "NetworkAccessDetailsList": {
      "description": "The list of network access details.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of network access details list.",
          "type": "string"
        },
        "value": {
          "description": "The list of network access details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkAccessDetails"
          }
        }
      }
    }
  },
  "parameters": {
    "LocationParameter": {
      "name": "location",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The requested expiration time in second for the network access.",
      "minLength": 1,
      "maxLength": 10,
      "pattern": "^[A-Za-z0-9]+$",
      "x-ms-parameter-location": "method"
    },
    "NetworkAccessExpirationParameter": {
      "name": "expiration",
      "in": "query",
      "required": false,
      "type": "integer",
      "default": 600,
      "minimum": 60,
      "maximum": 600,
      "description": "The requested expiration time in second for the network access.",
      "x-ms-parameter-location": "method"
    }
  }
}
