{
  "swagger": "2.0",
  "info": {
    "title": "Impact",
    "description": "Impact provider",
    "version": "2022-08-16-preview"
  },
  "host": "management.azure.com",
  "schemes": [ "https" ],
  "consumes": [ "application/json" ],
  "produces": [ "application/json" ],
  "security": [
    {
      "azure_auth": [ "user_impersonation" ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Impact/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists all of the available Azure Percept REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/impacts": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "List all Azure Percept accounts in a subscription.",
        "operationId": "Impacts_ListBySubscription",
        "x-ms-examples": {
          "Accounts_ListBySubscription": {
            "$ref": "./examples/Impacts_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the Azure Impacts in the subscription",
            "schema": {
              "$ref": "#/definitions/ImpactListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/impacts/{impactsName}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Get Azure Percept account metadata.",
        "operationId": "Impacts_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The body contains the account metadata",
            "schema": {
              "$ref": "#/definitions/Impact"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "impacts_CreateAndUpdate",
        "x-ms-examples": {
          "ImpactPutImpact": {
            "$ref": "./examples/ImpactPutImpact.json"
          }
        },
        "description": "Create or update impacts resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          },
          {
            "name": "impact",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Impact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Impact"
            }
          },
          "201": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Impact"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Impact": {
      "type": "object",
      "description": "Linker of source and target resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource",
          "description": "The resource model definition for an Azure Resource Manager proxy resource."
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "The properties of the Linker.",
          "$ref": "#/definitions/ImpactProperties",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "x-nullable": true,
          "readOnly": true,
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "The system data."
        }
      }
    },
    "ImpactProperties":{
      "type": "object",
      "description": "impacts details",
        "properties": {
            "startDateTime": {
              "type": "string",
              "description": "Time when impact started. Mandatory"
            },
            "endDateTime": {
              "type": "string",
              "x-nullable": true,
              "description": "Time when impact ended. Optional"
            },
            "impactCategory": {
              "type": "string"
            },
            "region": {
              "type": "string",
              "description": "Azure Region where impact was observed. Mandatory"
            },
            "callerId": {
              "type": "string",
              "description": " Identification of the caller. Domain data to be onboarded per caller. Mandatory"
            },
            "workloadContext": {
              "type": "string",
              "description": "Valid context defining the kind of workload for a given caller. Domaindata to be onboarded per caller. Mandatory."
            },
            "resourceType": {
              "type": "string",
              "description": " Azure resource type that was impacted. Mandatory"
            },
            "impactType": {
              "type": "string",
              "description": "Valid impact types that scopes the customer issues. This is domain data that weexpand as we onboard new clients. Mandatory"
            },
            "resourceUriList": {
              "type": "array",
              "description": "Resource uris of impacted resources separated by semi-colon. Allresources in the batch must belong to the resource-type provided as parameter to the api.Mandatory",
              "items": {
                "type": "string"
              }
            },
            "correlationIdList": {
              "type": "string",
              "x-nullable": true,
              "description": " List of ARM correlation ids separated by semi-colon. Optional."
            },
            "operationIdList": {
              "type": "string",
              "x-nullable": true,
              "description": "List of operations ids separated by semi-colon. Operation Ids come fromAzure components like CRP, Disk. Optional."
            },
            "errorCode": {
              "type": "string",
              "x-nullable": true,
              "description": "ARM error code returned by Azure. Optional"
            },
            "errorMessage": {
              "type": "string",
              "x-nullable": true,
              "description": "ARM error message returned by Azure. Optional."
            },
            "impactDescription": {
              "type": "string",
              "x-nullable": true,
              "description": "Free text for describing the impact. Optional"
            },
            "extendedProperties": {
              "type": "object",
              "x-nullable": true,
              "description": "Free Json describing the impact. Optional"
            },
            "toolset": {
              "type": "string",
              "x-nullable": true,
              "description": " Tool used to interact with Azure. e.g. Terraform, Powershell, Portal. This is freeflowing text. Optional."
            }
        }
    },
    "ImpactListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Impact"
          },
          "description": "A list of SIMs in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for list SIMs API service call."
    }
  },
  "parameters": {
    "impactsNameParameter": {
      "name": "impactsName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name impacts resource.",
      "x-ms-parameter-location": "method"
    },
    "ExtensionResourceNameParameter": {
      "name": "extensionResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of extension resource.",
      "x-ms-parameter-location": "method"
    }
  }
}