{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Dashboard",
    "description": "The Microsoft.Dashboard Rest API spec.",
    "version": "2022-05-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Dashboard/operations": {
      "get": {
        "tags": [
          "GrafanaResource"
        ],
        "summary": "List all available API operations provided by Microsoft.Dashboard.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return all available API operations provided by Microsoft.Dashboard.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Dashboard/grafana": {
      "get": {
        "tags": [
          "GrafanaResource"
        ],
        "summary": "List all resources of workspaces for Grafana under the specified subscription.",
        "operationId": "Grafana_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return all resources of workspaces for Grafana under the specified subscription.",
            "schema": {
              "$ref": "#/definitions/ManagedGrafanaListResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Grafana_List": {
            "$ref": "./examples/Grafana_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana": {
      "get": {
        "tags": [
          "GrafanaResource"
        ],
        "summary": "List all resources of workspaces for Grafana under the specified resource group.",
        "operationId": "Grafana_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return all resources of workspaces for Grafana under the given resource group.",
            "schema": {
              "$ref": "#/definitions/ManagedGrafanaListResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Grafana_ListByResourceGroup": {
            "$ref": "./examples/Grafana_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}": {
      "get": {
        "tags": [
          "GrafanaResource"
        ],
        "summary": "Get the properties of a specific workspace for Grafana resource.",
        "operationId": "Grafana_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the properties of the required workspace for Grafana resource.",
            "schema": {
              "$ref": "#/definitions/ManagedGrafana"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Grafana_Get": {
            "$ref": "./examples/Grafana_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "GrafanaResource"
        ],
        "summary": "Create or update a workspace for Grafana resource. This API is idempotent, so user can either create a new grafana or update an existing grafana.",
        "operationId": "Grafana_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "requestBodyParameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedGrafana"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully create a workspace for Grafana resource.",
            "schema": {
              "$ref": "#/definitions/ManagedGrafana"
            }
          },
          "201": {
            "description": "Created. The operation was successfully started and will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/ManagedGrafana"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Grafana_Create": {
            "$ref": "./examples/Grafana_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "GrafanaResource"
        ],
        "summary": "Update a workspace for Grafana resource.",
        "operationId": "Grafana_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "requestBodyParameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedGrafanaUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully update the workspace for Grafana resource.",
            "schema": {
              "$ref": "#/definitions/ManagedGrafana"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Grafana_Update": {
            "$ref": "./examples/Grafana_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "GrafanaResource"
        ],
        "summary": "Delete a workspace for Grafana resource.",
        "operationId": "Grafana_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The workspace for Grafana resource is deleted."
          },
          "202": {
            "description": "Accepted. The operation is accepted and will be completed asynchronously."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Grafana_Delete": {
            "$ref": "./examples/Grafana_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnection"
        ],
        "summary": "Get private endpoint connections.",
        "operationId": "PrivateEndpointConnections_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "privateEndpointConnectionName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of the private endpoint connections for Grafana resource.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Get": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnection"
        ],
        "summary": "Manual approve private endpoint connection",
        "operationId": "PrivateEndpointConnections_Approve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "privateEndpointConnectionName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Created. The operation was successfully started and will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Approve": {
            "$ref": "./examples/PrivateEndpointConnections_Approve.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnection"
        ],
        "summary": "Delete private endpoint connection",
        "operationId": "PrivateEndpointConnections_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "privateEndpointConnectionName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The private endpoint connection id deleted."
          },
          "202": {
            "description": "Accepted. The operation is accepted and will be completed asynchronously."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Delete": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnection"
        ],
        "summary": "Get private endpoint connection",
        "operationId": "PrivateEndpointConnections_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of the private endpoint connections for Grafana resource.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_List": {
            "$ref": "./examples/PrivateEndpointConnections_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResource"
        ],
        "summary": "List all private link resources information for this grafana resource",
        "operationId": "PrivateLinkResources_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of the private link resources for Grafana resource.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PrivateLinkResources_List": {
            "$ref": "./examples/PrivateLinkResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "tags": [
          "PrivateLinkResource"
        ],
        "summary": "Get specific private link resource information for this grafana resource",
        "operationId": "PrivateLinkResources_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "privateLinkResourceName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the properties of the required private link resource for Grafana resource.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_Get": {
            "$ref": "./examples/PrivateLinkResources_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionType": {
      "description": "Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
      "enum": [
        "Internal"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ActionType"
      }
    },
    "CreatedByType": {
      "description": "The type of identity that created the resource.",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "CreatedByType"
      }
    },
    "ErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/ErrorResponseBody"
          }
        }
      }
    },
    "IdentityAccessInfo": {
      "type": "object",
      "properties": {
        "identityUrl": {
          "type": "string"
        },
        "identityPrincipalId": {
          "type": "string"
        },
        "homeTenantId": {
          "type": "string"
        }
      }
    },
    "LastModifiedByType": {
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "LastModifiedByType"
      }
    },
    "ManagedGrafana": {
      "type": "object",
      "description": "The grafana resource type.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "ARM id of the grafana resource",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the grafana resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the grafana resource.",
          "type": "string",
          "readOnly": true
        },
        "sku": {
          "description": "The Sku of the grafana resource.",
          "$ref": "#/definitions/ResourceSku"
        },
        "properties": {
          "description": "Properties specific to the grafana resource.",
          "$ref": "#/definitions/ManagedGrafanaProperties"
        },
        "identity": {
          "description": "The managed identity of the grafana resource.",
          "$ref": "#/definitions/ManagedIdentity"
        },
        "systemData": {
          "description": "The system meta data relating to this grafana resource.",
          "$ref": "#/definitions/SystemData"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "The tags for grafana resource."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the grafana resource lives"
        }
      }
    },
    "ManagedGrafanaListResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedGrafana"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ManagedGrafanaProperties": {
      "type": "object",
      "description": "Properties specific to the grafana resource.",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "$ref": "#/definitions/ProvisioningState"
        },
        "grafanaVersion": {
          "description": "The Grafana software version.",
          "type": "string",
          "readOnly": true
        },
        "endpoint": {
          "description": "The endpoint of the Grafana instance.",
          "type": "string",
          "readOnly": true
        },
        "publicNetworkAccess": {
          "description": "Indicate the state for enable or disable traffic over the public interface.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "PublicNetworkAccessType",
            "modelAsString": true
          }
        },
        "zoneRedundancy": {
          "description": "The zone redundancy setting of the managed grafana resource.",
          "$ref": "#/definitions/ZoneRedundancy"
        },
        "privateEndpointConnections": {
          "description": "The private endpoint connections of the Grafana instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnectionBase"
          },
          "readOnly": true
        },
        "autoGeneratedDomainNameLabelScope": {
          "description": "Scope for dns deterministic name hash calculation.",
          "$ref": "#/definitions/AutoGeneratedDomainNameLabelScope"
        }
      }
    },
    "ManagedGrafanaUpdateParameters": {
      "type": "object",
      "description": "The parameters for a PATCH request to a grafana resource.",
      "properties": {
        "identity": {
          "description": "The managed identity of the grafana resource.",
          "$ref": "#/definitions/ManagedIdentity"
        },
        "tags": {
          "type": "object",
          "description": "The new tags of the grafana resource.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ManagedIdentity": {
      "description": "The managed identity of a resource.",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagedIdentityTypes"
        },
        "principalId": {
          "description": "The principal id of the system assigned identity.",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "The tenant id of the system assigned identity.",
          "type": "string",
          "readOnly": true
        },
        "userAssignedIdentities": {
          "description": "Dictionary of user assigned identities.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/UserAssignedIdentity"
          }
        }
      }
    },
    "ManagedIdentityTypes": {
      "description": "The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the resource.",
      "enum": [
        "None",
        "SystemAssigned"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true
      }
    },
    "OperationDisplay": {
      "description": "Localized display information for this particular operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The localized friendly form of the resource provider name, i.e., Microsoft.Dashboard.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "The localized friendly name of the resource type related to this operation, e.g., 'grafana'.",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "description": "Operation type, e.g., read, write, delete, etc.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Description of the operation, e.g., 'Read grafana'.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationListResult": {
      "description": "A list of REST API operations supported by Microsoft.Dashboard provider. It contains an URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations supported by the Microsoft.Dashboard provider.",
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/OperationResult"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationResult": {
      "description": "A Microsoft.Dashboard REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name, i.e., {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "isDataAction": {
          "description": "Indicates whether the operation applies to data-plane. Set \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
          "type": "boolean",
          "readOnly": true
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay"
        },
        "origin": {
          "$ref": "#/definitions/Origin"
        },
        "actionType": {
          "$ref": "#/definitions/ActionType"
        }
      }
    },
    "Origin": {
      "description": "The intended executor of the operation.",
      "enum": [
        "user",
        "system",
        "user,system"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "modelAsString": true,
        "name": "Origin"
      }
    },
    "PrivateEndpoint": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnection": {
      "x-ms-azure-resource": true,
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties"
        },
        "systemData": {
          "description": "The system meta data relating to this grafana resource.",
          "$ref": "#/definitions/SystemData"
        }
      }
    },
    "PrivateEndpointConnectionBase": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties"
        }
      }
    },
    "PrivateEndpointConnectionListResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint"
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState"
        },
        "provisioningState": {
          "$ref": "#/definitions/PrivateEndpointConnectionProvisioningState"
        },
        "groupIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionProvisioningState": {
      "enum": [
        "Succeeded",
        "Creating",
        "Deleting",
        "Failed"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "PrivateEndpointConnectionProvisioningState"
      }
    },
    "PrivateEndpointServiceConnectionStatus": {
      "enum": [
        "Pending",
        "Approved",
        "Rejected",
        "Disconnected"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "PrivateEndpointServiceConnectionStatus"
      }
    },
    "PrivateLinkResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties"
        }
      }
    },
    "PrivateLinkResourceListResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "PrivateLinkResourceProperties": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string",
          "readOnly": true
        },
        "requiredMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredZoneNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/PrivateEndpointServiceConnectionStatus"
        },
        "description": {
          "type": "string"
        },
        "actionsRequired": {
          "type": "string"
        }
      }
    },
    "ProvisioningState": {
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted",
        "NotSpecified"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      }
    },
    "ResourceProviderDefaultErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponseBody"
        }
      }
    },
    "ResourceSku": {
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "SystemData": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "createdByType": {
          "$ref": "#/definitions/CreatedByType"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        },
        "lastModifiedBy": {
          "type": "string"
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/LastModifiedByType"
        },
        "lastModifiedAt": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "UserAssignedIdentity": {
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The principal id of user assigned identity.",
          "type": "string",
          "readOnly": true
        },
        "clientId": {
          "description": "The client id of user assigned identity.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ZoneRedundancy": {
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "default": "Disabled",
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ZoneRedundancy"
      }
    },
    "AutoGeneratedDomainNameLabelScope": {
      "description": "Scope for dns deterministic name hash calculation",
      "enum": [
        "TenantReuse"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AutoGeneratedDomainNameLabelScope"
      },
      "x-ms-mutability": [
        "read",
        "create"
      ]
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "parameters": {
    "WorkspaceNameParameter": {
      "in": "path",
      "name": "workspaceName",
      "description": "The workspace name of Azure Managed Grafana.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "default": "2022-05-01-preview",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD).",
      "minLength": 1
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group. The name is case insensitive."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "client",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    }
  }
}
