{
  "swagger": "2.0",
  "info": {
    "title": "Azure Communication Services Management API",
    "version": "2021-10-01-preview",
    "description": "REST API for Email Services/Domains"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/azureManagedDomain": {
      "get": {
        "description": "Get the Azure managed Domains resource and its properties.",
        "operationId": "Domains_GetAzureManaged",
        "summary": "Get Azure managed Domains resource",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describe the corresponding Domains resource.",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get Domains resource": {
            "$ref": "./examples/domains/get.json"
          }
        }
      },
      "put": {
        "description": "Add a new Azure managed Domains resource under the parent EmailServices resource or update an existing Azure managed Domains resource.",
        "operationId": "Domains_CreateOrUpdateAzureManaged",
        "summary": "Create Or Update Azure managed Domains resource",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The create or update request was completed successfully",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "201": {
            "description": "The create or update request was accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update Domains resource": {
            "$ref": "./examples/domains/createOrUpdate.json"
          }
        }
      },
      "delete": {
        "description": "Operation to delete a Azure Managed Domains resource.",
        "operationId": "Domains_DeleteAzureManaged",
        "summary": "Delete Azure managed Domains resource",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The delete operation was successful."
          },
          "202": {
            "description": "The delete operation is being performed in the background.",
            "headers": {
              "location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The resource did not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete Domains resource": {
            "$ref": "./examples/domains/delete.json"
          }
        }
      },
      "patch": {
        "description": "Operation to update an existing Azure managed Domains resource.",
        "operationId": "Domains_UpdateAzureManaged",
        "summary": "Update Azure managed Domains resource",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Update Domains resource": {
            "$ref": "./examples/domains/update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}": {
      "get": {
        "description": "Get the Domains resource and its properties.",
        "operationId": "Domains_Get",
        "summary": "Get",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "#/parameters/DomainName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describe the corresponding Domains resource.",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get Domains resource": {
            "$ref": "./examples/domains/get.json"
          }
        }
      },
      "put": {
        "description": "Add a new Domains resource under the parent EmailService resource or update an existing Domains resource.",
        "operationId": "Domains_CreateOrUpdate",
        "summary": "Create Or Update",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "#/parameters/DomainName"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The create or update request was completed successfully",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "201": {
            "description": "The create or update request was accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update Domains resource": {
            "$ref": "./examples/domains/createOrUpdate.json"
          }
        }
      },
      "delete": {
        "description": "Operation to delete a Domains resource.",
        "operationId": "Domains_Delete",
        "summary": "Delete",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "#/parameters/DomainName"
          }
        ],
        "responses": {
          "200": {
            "description": "The delete operation was successful."
          },
          "202": {
            "description": "The delete operation is being performed in the background.",
            "headers": {
              "location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The resource did not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete Domains resource": {
            "$ref": "./examples/domains/delete.json"
          }
        }
      },
      "patch": {
        "description": "Operation to update an existing Domains resource.",
        "operationId": "Domains_Update",
        "summary": "Update",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateDomainProperties"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "#/parameters/DomainName"
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful",
            "schema": {
              "$ref": "#/definitions/DomainResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Update Domains resource": {
            "$ref": "./examples/domains/update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains": {
      "get": {
        "description": "Handles requests to list all Domains resources under the parent EmailServices resource.",
        "operationId": "Domains_ListByEmailServiceResource",
        "summary": "List by EmailService",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Domains resources under the parent EmailServices resource.",
            "schema": {
              "$ref": "#/definitions/DomainResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Domains resources by EmailServiceName": {
            "$ref": "./examples/domains/listByEmailService.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}:initiateVerification": {
      "post": {
        "description": "Initiate verification of Dns record.",
        "operationId": "Domains_InitiateVerification",
        "summary": "Initiate Verification",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "verificationType",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/VerificationType"
            },
            "description": "Type of verification to be initiated.",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "#/parameters/DomainName"
          }
        ],
        "responses": {
          "202": {
            "description": "The verification operation has been initiated.",
            "headers": {
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Initiate verification": {
            "$ref": "./examples/domains/initiateVerification.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}:cancelVerification": {
      "post": {
        "description": "Cancel verification of Dns record.",
        "operationId": "Domains_CancelVerification",
        "summary": "Cancel Verification",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "verificationType",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/VerificationType"
            },
            "description": "Type of verification to be canceled.",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "#/parameters/DomainName"
          }
        ],
        "responses": {
          "200": {
            "description": "The verification operation has been canceled."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Cancel verification": {
            "$ref": "./examples/domains/cancelVerification.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}:revokeVerification": {
      "post": {
        "description": "Revoke existing verified status of a Dns record.",
        "operationId": "Domains_RevokeVerification",
        "summary": "Revoke Verification",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "verificationType",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/VerificationType"
            },
            "description": "Type of verification to be revoked.",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "EmailServices.json#/parameters/EmailServiceName"
          },
          {
            "$ref": "#/parameters/DomainName"
          }
        ],
        "responses": {
          "200": {
            "description": "The verified status has been revoked."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Revoke verification": {
            "$ref": "./examples/domains/revokeVerification.json"
          }
        }
      }
    }
  },
  "definitions": {
    "VerificationType": {
      "description": "Type of verification.",
      "enum": [
        "Domain",
        "SPF",
        "DKIM",
        "DMARC"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "VerificationType",
        "modelAsString": true
      }
    },
    "VerificationStatusRecord": {
      "description": "A class that represents a VerificationStatus record.",
      "required": [
        "type"
      ],
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/VerificationType"
        },
        "status": {
          "description": "Status of the verification operation.",
          "enum": [
            "NotStarted",
            "RequestReceived",
            "InProgress",
            "UnableToVerify",
            "Verified",
            "Revoked"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "VerificationStatus",
            "modelAsString": true
          }
        },
        "reason": {
          "description": "Reason for the verification status.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DnsRecord": {
      "description": "A class that represents a VerificationStatus record.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the DNS record. Example: TXT",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the DNS record.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Value of the DNS record.",
          "type": "string",
          "readOnly": true
        },
        "verificationType": {
          "$ref": "#/definitions/VerificationType"
        },
        "ttl": {
          "description": "Represents an expiry time in seconds to represent how long this entry can be cached by the resolver, default = 3600sec.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "DnsRecordList": {
      "description": "List of DnsRecord",
      "type": "array",
      "items": {
        "$ref": "#/definitions/DnsRecord"
      }
    },
    "DomainProperties": {
      "description": "A class that describes the properties of a Domains resource.",
      "type": "object",
      "required": [
        "fromSenderDomain",
        "domainManagement"
      ],
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Running",
            "Creating",
            "Updating",
            "Deleting",
            "Moving"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "Domains_ProvisioningState",
            "modelAsString": true
          }
        },
        "dataLocation": {
          "description": "The location where the Domains resource data is stored at rest.",
          "type": "string",
          "readOnly": true
        },
        "fromSenderDomain": {
          "description": "P2 sender domain that is displayed to the email recipients [RFC 5322].",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "mailFromSenderDomain": {
          "description": "P1 sender domain that is present on the email envelope [RFC 5321].",
          "type": "string"
        },
        "domainManagement": {
          "$ref": "#/definitions/DomainManagement"
        },
        "spfManagement": {
          "$ref": "#/definitions/SPFManagement"
        },
        "verificationStates": {
          "description": "List of VerificationStatusRecord",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VerificationStatusRecord"
          },
          "readOnly": true
        },
        "verificationRecords": {
          "description": "List of DnsRecord",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DnsRecord"
          },
          "readOnly": true
        },
        "usabilityStatus": {
          "description": "Usability status of a Domains resource.",
          "type": "object",
          "properties": {
            "isReadyToLinkWithCommunicationServices": {
              "description": "True if the domain is ready to be linked to a CommunicationServices resource. False otherwise.",
              "type": "boolean"
            },
            "reason": {
              "description": "The reason why domain is not ready to be linked. Required if isReadyToLinkWithCommunicationServices is false.",
              "type": "string"
            }
          },
          "readOnly": true
        }
      }
    },
    "DomainManagement": {
      "description": "Describes how a Domains resource is being managed.",
      "enum": [
        "AzureManaged",
        "CustomerManaged",
        "CustomerManagedInExchangeOnline"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "DomainManagement",
        "modelAsString": true
      }
    },
    "SPFManagement": {
      "description": "Describes how SPF is being managed.",
      "enum": [
        "NotConfigured",
        "AzureManaged",
        "CustomerManaged"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SPFManagement",
        "modelAsString": true
      }
    },
    "DomainResource": {
      "description": "A class representing a Domains resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DomainProperties",
          "description": "The properties of a Domains resource.",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "UpdateDomainProperties": {
      "description": "A class that describes the updatable properties of a Domains resource.",
      "type": "object",
      "properties": {
        "mailFromSenderDomain": {
          "description": "P1 sender domain that is present on the email envelope [RFC 5321].",
          "type": "string"
        },
        "spfManagement": {
          "$ref": "#/definitions/SPFManagement"
        }
      }
    },
    "DomainResourceList": {
      "description": "Object that includes an array of Domains resource and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Domains resource",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DomainResource"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "DomainName": {
      "name": "domainName",
      "in": "path",
      "description": "The name of the Domains resource.",
      "minLength": 1,
      "maxLength": 253,
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
