{
  "swagger": "2.0",
  "info": {
    "title": "Windows365",
    "version": "2022-09-01-preview",
    "description": "Windows365 Resource Provider management API."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Windows365/CloudPcDelegatedMsi/{CloudPcDelegatedMsiName}": {
      "get": {
        "operationId": "CloudPcDelegatedMsi_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudPcDelegatedMsiNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the CloudPcDelegatedMsi resource.",
            "schema": {
              "$ref": "#/definitions/CloudPcDelegatedMsi"
            }
          }
        },
        "x-ms-examples": {
          "Operations_Get": {
            "$ref": "./examples/CloudPcDelegatedMsi_Get.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates a CloudPcDelegatedMsi resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudPcDelegatedMsiNameParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Represents a CloudPcDelegatedMsi.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudPcDelegatedMsi"
            }
          }
        ],
        "operationId": "CloudPcDelegatedMsi_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudPcDelegatedMsi"
            }
          },
          "201": {
            "description": "Created. The request will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/CloudPcDelegatedMsi"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CloudPcDelegatedMsi_Create": {
            "$ref": "./examples/CloudPcDelegatedMsi_Create.json"
          },
          "CloudPcDelegatedMsi_CreateWithUserIdentity": {
            "$ref": "./examples/CloudPcDelegatedMsi_CreateWithUserIdentity.json"
          }
        }
      },
      "patch": {
        "description": "Partially updates a CloudPcDelegatedMsi.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudPcDelegatedMsiNameParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Updatable CloudPcDelegatedMsi properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudPcDelegatedMsiUpdate"
            }
          }
        ],
        "operationId": "CloudPcDelegatedMsi_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudPcDelegatedMsi"
            }
          },
          "201": {
            "description": "Created. The request will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/CloudPcDelegatedMsi"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CloudPcDelegatedMsi_Update": {
            "$ref": "./examples/CloudPcDelegatedMsi_Patch.json"
          }
        }
      },
      "delete": {
        "description": "Deletes a CloudPcDelegatedMsi",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudPcDelegatedMsiNameParameter"
          }
        ],
        "operationId": "CloudPcDelegatedMsi_Delete",
        "responses": {
          "200": {
            "description": "OK. Resource has been deleted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CloudPcDelegatedMsi_Delete": {
            "$ref": "./examples/CloudPcDelegatedMsi_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.Windows365/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available resource provider operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailableOperations"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Operations_Get": {
            "$ref": "./examples/Operations_Get.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CloudPcDelegatedMsi": {
      "type": "object",
      "description": "Represents a cloudpcdelegatedmsi resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "CloudPcDelegatedMsi properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CloudPcDelegatedMsiProperties"
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        },
        "identity": {
          "description": "Managed identity properties",
          "$ref": "#/definitions/IdentityProperties"
        }
      }
    },
    "CloudPcDelegatedMsiProperties": {
      "description": "Properties of the cloudpcdelegatedmsi.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the resource.",
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        }
      }
    },
    "IdentityProperties": {
      "description": "Managed identity for the resource.",
      "type": "object",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of the resource identity. This property will only be provided for a system assigned identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id associated with the resource. This property will only be provided for a system assigned identity."
        },
        "type": {
          "type": "string",
          "description": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a user assigned identity. The type 'None' will remove any identities from the resource.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": true
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "$ref": "#/definitions/UserAssignedIdentity"
          },
          "description": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        }
      }
    },
    "UserAssignedIdentity": {
      "type": "object",
      "description": "Additional properties for User-assigned Managed identities",
      "x-ms-client-name": "userAssignedIdentitiesValue",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of user assigned identity."
        },
        "clientId": {
          "readOnly": true,
          "type": "string",
          "description": "The client id of user assigned identity."
        }
      }
    },
    "AvailableOperations": {
      "description": "Available operations of the service",
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of available operation details",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationDetail"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OperationDetail": {
      "description": "Operation detail payload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Resource of the operation",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource.",
      "readOnly": true
    },
    "CloudPcDelegatedMsiListResult": {
      "description": "Result of the list cloudpcdelegatedmsi operation",
      "type": "object",
      "properties": {
        "value": {
          "description": "Current page of results.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudPcDelegatedMsi"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CloudPcDelegatedMsiUpdate": {
      "description": "The CloudPcDelegatedMsi resource for partial updates. Properties not provided in the update request will not be changed.",
      "type": "object",
      "properties": {
        "identity": {
          "description": "Managed identity properties",
          "$ref": "#/definitions/IdentityProperties"
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "type": "object",
      "properties": {
        "error": {
          "description": "Error body",
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the Windows365 RP service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Windows365 RP service."
    }
  },
  "parameters": {
    "CloudPcDelegatedMsiNameParameter": {
      "name": "CloudPcDelegatedMsiName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cloudpcdelegatedmsi.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    }
  }
}
