{
  "swagger": "2.0",
  "info": {
    "title": "RecommendationsService",
    "description": "Dynamics 365 Recommendations Service resource provider",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "description": "Azure Active Directory OAuth2 Flow.",
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "Impersonate your user account."
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecommendationsService/checkNameAvailability": {
      "post": {
        "operationId": "Accounts_CheckNameAvailability",
        "description": "Checks that the RecommendationsService Account name is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Check name availability request details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful. The response describes the name availability.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Check name availability of RecommendationsService Account - name available": {
            "$ref": "./examples/Accounts_CheckNameAvailabilityAvailable.json"
          },
          "Check name availability of RecommendationsService Account - name unavailable": {
            "$ref": "./examples/Accounts_CheckNameAvailabilityUnavailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecommendationsService/accounts": {
      "get": {
        "operationId": "Accounts_ListBySubscription",
        "description": "Returns list of RecommendationsService Account resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resources list.",
            "schema": {
              "$ref": "#/definitions/AccountResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get RecommendationsService Account resources by subscription": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecommendationsService/accounts": {
      "get": {
        "operationId": "Accounts_ListByResourceGroup",
        "description": "Returns list of RecommendationsService Account resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resources list.",
            "schema": {
              "$ref": "#/definitions/AccountResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get RecommendationsService Account resources by resource group": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecommendationsService/accounts/{accountName}": {
      "get": {
        "operationId": "Accounts_Get",
        "description": "Returns RecommendationsService Account resource for a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get RecommendationsService Account resource": {
            "$ref": "./examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Accounts_CreateOrUpdate",
        "description": "Creates or updates RecommendationsService Account resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "description": "Account details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "201": {
            "description": "RecommendationsService Account resource is being created or updated.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update RecommendationsService Account resource": {
            "$ref": "./examples/Accounts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "Accounts_Update",
        "description": "Updates RecommendationsService Account details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "description": "Account resource patch details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update existing RecommendationsService Account resource": {
            "$ref": "./examples/Accounts_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Accounts_Delete",
        "description": "Deletes RecommendationsService Account resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "RecommendationsService Account resource deleted successfully."
          },
          "201": {
            "description": "RecommendationsService Account resource is being deleted."
          },
          "204": {
            "description": "RecommendationsService Account resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete RecommendationsService Account resource": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecommendationsService/accounts/{accountName}/modeling": {
      "get": {
        "operationId": "Modeling_ListByAccountResource",
        "description": "Returns list of Modeling resources for a given Account name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Modeling resources list.",
            "schema": {
              "$ref": "#/definitions/ModelingResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Modeling resources by RecommendationsService Account resource": {
            "$ref": "./examples/Modeling_ListByAccountResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecommendationsService/accounts/{accountName}/modeling/{modelingName}": {
      "get": {
        "operationId": "Modeling_Get",
        "description": "Returns Modeling resources for a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ModelingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Modeling resource details.",
            "schema": {
              "$ref": "#/definitions/ModelingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Modeling resource": {
            "$ref": "./examples/Modeling_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Modeling_CreateOrUpdate",
        "description": "Creates or updates Modeling resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ModelingNameParameter"
          },
          {
            "description": "Modeling resource details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModelingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ModelingResource"
            }
          },
          "201": {
            "description": "Modeling resource is being created or updated.",
            "schema": {
              "$ref": "#/definitions/ModelingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Modeling resource": {
            "$ref": "./examples/Modeling_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "Modeling_Update",
        "description": "Updates Modeling resource details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ModelingNameParameter"
          },
          {
            "description": "Modeling resource patch details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModelingPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ModelingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Modeling resource": {
            "$ref": "./examples/Modeling_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Modeling_Delete",
        "description": "Deletes Modeling resources of a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ModelingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Modeling resource deleted successfully."
          },
          "201": {
            "description": "Modeling resource is being deleted."
          },
          "204": {
            "description": "Modeling resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Modeling resource": {
            "$ref": "./examples/Modeling_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecommendationsService/accounts/{accountName}/serviceEndpoints": {
      "get": {
        "operationId": "ServiceEndpoints_ListByAccountResource",
        "description": "Returns list of ServiceEndpoint resources for a given Account name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ServiceEndpoint resources list.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get ServiceEndpoint resources by RecommendationsService Account resource": {
            "$ref": "./examples/ServiceEndpoints_ListByAccountResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecommendationsService/accounts/{accountName}/serviceEndpoints/{serviceEndpointName}": {
      "get": {
        "operationId": "ServiceEndpoints_Get",
        "description": "Returns ServiceEndpoint resources for a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceEndpointNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ServiceEndpoint resource details.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ServiceEndpoint resource": {
            "$ref": "./examples/ServiceEndpoints_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ServiceEndpoints_CreateOrUpdate",
        "description": "Creates or updates ServiceEndpoint resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceEndpointNameParameter"
          },
          {
            "description": "ServiceEndpoint resource details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceEndpointResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointResource"
            }
          },
          "201": {
            "description": "ServiceEndpoint resource is being created otr updated.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update ServiceEndpoint resource": {
            "$ref": "./examples/ServiceEndpoints_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "ServiceEndpoints_Update",
        "description": "Updates ServiceEndpoint resource details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceEndpointNameParameter"
          },
          {
            "description": "ServiceEndpoint resource patch details.",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceEndpointPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update ServiceEndpoint resource": {
            "$ref": "./examples/ServiceEndpoints_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ServiceEndpoints_Delete",
        "description": "Deletes ServiceEndpoint resources of a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceEndpointNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ServiceEndpoint resource deleted successfully."
          },
          "201": {
            "description": "ServiceEndpoint Account resource is being created or updated."
          },
          "204": {
            "description": "ServiceEndpoint resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete ServiceEndpoint resource": {
            "$ref": "./examples/ServiceEndpoints_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/providers/Microsoft.RecommendationsService/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatuses_Get",
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested operation status",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get operation status": {
            "$ref": "./examples/OperationStatuses_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.RecommendationsService/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "Returns list of operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get all RecommendationsService operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CheckNameAvailabilityRequest": {
      "description": "The check availability request body for RecommendationsService Account name.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the RecommendationsService Account for which availability needs to be checked.",
          "type": "string"
        },
        "type": {
          "description": "The RecommendationsService Account type",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityResponse": {
      "description": "The check availability result for RecommendationsService Account name.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "Indicates if the RecommendationsService Account name is available.",
          "type": "boolean"
        },
        "reason": {
          "description": "The reason why the given name is invalid.",
          "type": "string",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "CheckNameAvailabilityReason",
            "modelAsString": false
          }
        },
        "message": {
          "description": "Detailed reason why the given name is invalid",
          "type": "string"
        }
      }
    },
    "OperationStatus": {
      "description": "The current status of an async operation.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified ID for the async operation.",
          "type": "string"
        },
        "status": {
          "description": "Operation status.",
          "type": "string"
        },
        "percentComplete": {
          "description": "Percent of the operation that is complete.",
          "type": "number",
          "minimum": 0,
          "maximum": 100
        },
        "startTime": {
          "description": "The start time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "The end time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "error": {
          "description": "If present, details of the operation error.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorDetail"
        }
      }
    },
    "Tags": {
      "description": "Resource tags.",
      "type": "object",
      "readOnly": false,
      "additionalProperties": {
        "type": "string"
      }
    },
    "AccountSkuName": {
      "description": "Account SKU name. This can only be set at RecommendationsService Account creation.",
      "type": "string",
      "enum": [
        "Free",
        "Explore",
        "Capacity"
      ],
      "x-ms-enum": {
        "name": "AccountSkuName",
        "modelAsString": false
      }
    },
    "AccountSku": {
      "description": "Account SKU. This can only be set at RecommendationsService Account creation.",
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "description": "Account SKU name. This can only be set at RecommendationsService Account creation.",
          "$ref": "#/definitions/AccountSkuName"
        }
      }
    },
    "EndpointAuthentication": {
      "description": "Service endpoints authentication details.",
      "type": "object",
      "required": [
        "aadTenantID",
        "aadPrincipleID",
        "principleType"
      ],
      "properties": {
        "aadTenantID": {
          "description": "AAD tenant ID.",
          "type": "string"
        },
        "aadPrincipleID": {
          "description": "AAD principle ID.",
          "type": "string"
        },
        "principleType": {
          "description": "AAD principle type.",
          "type": "string",
          "enum": [
            "Application",
            "User"
          ],
          "x-ms-enum": {
            "name": "PrincipleType",
            "modelAsString": false
          }
        }
      }
    },
    "EndpointAuthenticationList": {
      "description": "The list of service endpoints authentication details.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/EndpointAuthentication"
      }
    },
    "CORS": {
      "description": "CORS details.",
      "type": "object",
      "required": [
        "allowedOrigins"
      ],
      "properties": {
        "allowedOrigins": {
          "description": "The origin domains that are permitted to make a request against the service via CORS.",
          "type": "string",
          "minLength": 1
        },
        "allowedMethods": {
          "description": "The methods (HTTP request verbs) that the origin domain may use for a CORS request.",
          "type": "string",
          "minLength": 1
        },
        "allowedHeaders": {
          "description": "The request headers that the origin domain may specify on the CORS request.",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "CORSList": {
      "description": "The list of CORS details.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/CORS"
      }
    },
    "AccountResource": {
      "description": "Account resource details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "sku"
      ],
      "properties": {
        "sku": {
          "description": "Account SKU. This can only be set at RecommendationsService Account creation.",
          "$ref": "#/definitions/AccountSku"
        },
        "properties": {
          "description": "Account resource properties.",
          "type": "object",
          "properties": {
            "endpointAuthentication": {
              "description": "The list of service endpoints authentication details.",
              "$ref": "#/definitions/EndpointAuthenticationList"
            },
            "cors": {
              "description": "The list of CORS details.",
              "$ref": "#/definitions/CORSList"
            },
            "provisioningState": {
              "description": "The resource provisioning state.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "AccountResourceList": {
      "description": "The list of RecommendationsService Account resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of RecommendationsService Account resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of RecommendationsService Account resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountResource"
          }
        }
      }
    },
    "AccountPatchResource": {
      "description": "Account resource patch details.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "$ref": "#/definitions/Tags"
        },
        "properties": {
          "description": "Account resource patch properties.",
          "type": "object",
          "properties": {
            "endpointAuthentication": {
              "description": "The list of service endpoints authentication details.",
              "$ref": "#/definitions/EndpointAuthenticationList"
            },
            "cors": {
              "description": "The list of CORS details.",
              "$ref": "#/definitions/CORSList"
            }
          }
        }
      }
    },
    "ModelingSku": {
      "description": "Modeling SKU. This can only be set at Modeling creation.",
      "type": "object",
      "required": [
        "name",
        "tier",
        "size"
      ],
      "properties": {
        "name": {
          "description": "Modeling SKU name controls the set of supported scenarios\\models being computed. This can only be set at Modeling creation.",
          "type": "string",
          "enum": [
            "Free",
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ModelingSkuName",
            "modelAsString": false
          }
        },
        "tier": {
          "description": "Modeling SKU tier controls the modeling compute frequency.",
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "x-ms-enum": {
            "name": "ModelingSkuTier",
            "modelAsString": false
          }
        },
        "size": {
          "description": "Modeling SKU size controls the maximum supported raw data size as model input.",
          "type": "string",
          "enum": [
            "Small",
            "Medium",
            "Large"
          ],
          "x-ms-enum": {
            "name": "ModelingSkuSize",
            "modelAsString": false
          }
        }
      }
    },
    "ModelingDataConnectionString": {
      "description": "Connection string to raw CDM data to be used as model input.",
      "type": "string",
      "minLength": 1,
      "pattern": "^[A-Za-z0-9-._/:]+$"
    },
    "ModelingResource": {
      "description": "Modeling resource details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "sku",
        "properties"
      ],
      "properties": {
        "sku": {
          "description": "Modeling SKU. This can only be set at Modeling creation.",
          "$ref": "#/definitions/ModelingSku"
        },
        "properties": {
          "description": "Modeling resource properties.",
          "type": "object",
          "required": [
            "dataConnectionString"
          ],
          "properties": {
            "dataConnectionString": {
              "description": "Connection string to raw CDM data to be used as model input.",
              "$ref": "#/definitions/ModelingDataConnectionString"
            },
            "provisioningState": {
              "description": "The resource provisioning state.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "ModelingResourceList": {
      "description": "The list of Modeling resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Modeling resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Modeling resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ModelingResource"
          }
        }
      }
    },
    "ModelingPatchResource": {
      "description": "Modeling resource patch details.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "$ref": "#/definitions/Tags"
        },
        "properties": {
          "description": "Modeling resource properties to update.",
          "type": "object",
          "properties": {
            "dataConnectionString": {
              "description": "Connection string to raw CDM data to be used as model input.",
              "$ref": "#/definitions/ModelingDataConnectionString"
            }
          }
        }
      }
    },
    "ServiceEndpointSku": {
      "description": "ServiceEndpoint SKU. This can only be set at ServiceEndpoint creation.",
      "type": "object",
      "required": [
        "name",
        "capacity"
      ],
      "properties": {
        "name": {
          "description": "ServiceEndpoint SKU name. Must be identical to Account SKU name.",
          "$ref": "#/definitions/AccountSkuName"
        },
        "capacity": {
          "description": "ServiceEndpoint capacity controls the maximum requests-per-second allowed for that endpoint. Only applicable if SKU name is Capacity.",
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 1000
        },
        "overflow": {
          "description": "ServiceEndpoint overflow, as endpoint capacity percentage, controls the maximum requests-per-second allowed for that endpoint beyond endpoint capacity, and before calls are throttled. Over charge will be applied for actual usage (above capacity). Only applicable if SKU name is Capacity.",
          "type": "integer",
          "default": 0,
          "format": "int32",
          "minimum": 0,
          "maximum": 300
        }
      }
    },
    "ServiceEndpointResource": {
      "description": "ServiceEndpoint resource details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "sku"
      ],
      "properties": {
        "sku": {
          "description": "ServiceEndpoint SKU. This can only be set at ServiceEndpoint creation.",
          "$ref": "#/definitions/ServiceEndpointSku"
        },
        "properties": {
          "description": "ServiceEndpoint resource properties.",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "The resource provisioning state.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "ServiceEndpointResourceList": {
      "description": "The list of ServiceEndpoint resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of ServiceEndpoint resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of ServiceEndpoint resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceEndpointResource"
          }
        }
      }
    },
    "ServiceEndpointPatchResource": {
      "description": "ServiceEndpoint resource patch details.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "$ref": "#/definitions/Tags"
        }
      }
    }
  },
  "parameters": {
    "AccountNameParameter": {
      "description": "The name of the RecommendationsService Account resource.",
      "type": "string",
      "name": "accountName",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "ModelingNameParameter": {
      "description": "The name of the Modeling resource.",
      "type": "string",
      "name": "modelingName",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "ServiceEndpointNameParameter": {
      "description": "The name of the ServiceEndpoint resource.",
      "type": "string",
      "name": "serviceEndpointName",
      "in": "path",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of Azure region.",
      "minLength": 1,
      "x-ms-parameter-location": "method"
    },
    "OperationIdParameter": {
      "name": "operationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of an ongoing async operation.",
      "minLength": 1,
      "x-ms-parameter-location": "method"
    }
  }
}
