{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PlayFab",
    "version": "2022-01-26-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PlayerAccountPools"
    },
    {
      "name": "Titles"
    },
    {
      "name": "Segments"
    },
    {
      "name": "TitleDataKeyValues"
    }
  ],
  "paths": {
    "/providers/Microsoft.PlayFab/operations": {
      "get": {
        "operationId": "Operations_List",
        "summary": "List the operations for Microsoft.PlayFab",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/PlayFabOperationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab/playerAccountPools": {
      "get": {
        "operationId": "PlayerAccountPools_ListBySubscription",
        "summary": "List PlayerAccountPool resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PlayerAccountPools_ListBySubscription": {
            "$ref": "./examples/PlayerAccountPool_SubscriptionLevelList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab/titles": {
      "get": {
        "operationId": "Titles_ListBySubscription",
        "summary": "List Title resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Titles_ListBySubscription": {
            "$ref": "./examples/Title_SubscriptionLevelList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/playerAccountPools": {
      "get": {
        "operationId": "PlayerAccountPools_ListByResourceGroup",
        "summary": "List PlayerAccountPool resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PlayerAccountPools_ListByResourceGroup": {
            "$ref": "./examples/PlayerAccountPool_ResourceGroupLevelList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/playerAccountPools/{playerAccountPoolName}": {
      "get": {
        "operationId": "PlayerAccountPools_Get",
        "summary": "Get a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Get": {
            "$ref": "./examples/PlayerAccountPool_ResourceGroupLevelGet.json"
          }
        }
      },
      "put": {
        "operationId": "PlayerAccountPools_CreateOrUpdate",
        "summary": "Create a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_CreateOrUpdate": {
            "$ref": "./examples/PlayerAccountPool_ResourceGroupLevelPut.json"
          }
        }
      },
      "patch": {
        "operationId": "PlayerAccountPools_Update",
        "summary": "Update a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Update": {
            "$ref": "./examples/PlayerAccountPool_ResourceGroupLevelPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "PlayerAccountPools_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "summary": "Delete a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Delete": {
            "$ref": "./examples/PlayerAccountPool_ResourceGroupLevelDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles": {
      "get": {
        "operationId": "Titles_ListByResourceGroup",
        "summary": "List Title resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Titles_ListByResourceGroup": {
            "$ref": "./examples/Title_ResourceGroupLevelList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}": {
      "get": {
        "operationId": "Titles_Get",
        "summary": "Get a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Get": {
            "$ref": "./examples/Title_ResourceGroupLevelGet.json"
          }
        }
      },
      "put": {
        "operationId": "Titles_CreateOrUpdate",
        "summary": "Create a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_CreateOrUpdate": {
            "$ref": "./examples/Title_ResourceGroupLevelPut.json"
          }
        }
      },
      "patch": {
        "operationId": "Titles_Update",
        "summary": "Update a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "name": "updateResource",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/TitleResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Update": {
            "$ref": "./examples/Title_ResourceGroupLevelPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "Titles_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "summary": "Delete a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Delete": {
            "$ref": "./examples/Title_ResourceGroupLevelDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}/segments/{segmentName}": {
      "get": {
        "operationId": "Segments_Get",
        "summary": "Get a Segment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/SegmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Segment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "x-ms-examples": {
          "Segments_Get": {
            "$ref": "./examples/Segments_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Segments_CreateOrUpdate",
        "summary": "Create a Segment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/SegmentNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Segment"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Segment"
            }
          },
          "201": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Segment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "x-ms-examples": {
          "Segments_CreateOrUpdate": {
            "$ref": "./examples/Segments_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Segments_Delete",
        "summary": "Delete a Segment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/SegmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted."
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "x-ms-examples": {
          "Segments_Delete": {
            "$ref": "./examples/Segments_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}/segments": {
			"get": {
			  "operationId": "Segments_ListByTitle",
			  "summary": "List Segment resource by Title",
			  "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
			  ],
			  "responses": {
				"200": {
				  "headers": {
					"x-ms-correlation-request-id": {
					  "type": "string"
					}
				  },
				  "description": "ARM operation completed successfully.",
				  "schema": {
					"$ref": "#/definitions/SegmentListResult"
				  }
				},
				"default": {
				  "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
				  "schema": {
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
				  }
				}
			  },
			  "tags": [
				"Segments"
			  ],
        "x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
			  "x-ms-examples": {
				  "Segments_ListByTitle": {
					  "$ref": "./examples/Segments_ListByTitle.json"
				  }
			  }
			}
		},
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}/titledatakeyvalues": {
      "get": {
        "operationId": "TitleDataKeyValues_List",
        "summary": "List all TitleDataKeyValue by titleName",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleDataKeyValueListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleDataKeyValues"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TitleDataKeyValues_List_MaximumSet_Gen": {
            "$ref": "./examples/TitleDataKeyValues_List_MaximumSet_Gen.json"
          },
          "TitleDataKeyValues_List_MinimumSet_Gen": {
            "$ref": "./examples/TitleDataKeyValues_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}/titledatakeyvalues/{titleDataKeyValueName}": {
      "get": {
        "operationId": "TitleDataKeyValues_Get",
        "summary": "Get a TitleDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleDataKeyValueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleDataKeyValue"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleDataKeyValues"
        ],
        "x-ms-examples": {
          "TitleDataKeyValues_Get_MaximumSet_Gen": {
            "$ref": "./examples/TitleDataKeyValues_Get_MaximumSet_Gen.json"
          },
          "TitleDataKeyValues_Get_MinimumSet_Gen": {
            "$ref": "./examples/TitleDataKeyValues_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "TitleDataKeyValues_CreateOrUpdate",
        "summary": "Create a TitleDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleDataKeyValueNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/TitleDataKeyValue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleDataKeyValue"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleDataKeyValues"
        ],
        "x-ms-examples": {
          "TitleDataKeyValues_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/TitleDataKeyValues_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "TitleDataKeyValues_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/TitleDataKeyValues_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "TitleDataKeyValues_Delete",
        "summary": "Delete a TitleDataKeyValue",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/TitleDataKeyValueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "TitleDataKeyValues"
        ],
        "x-ms-examples": {
          "TitleDataKeyValues_Delete_MaximumSet_Gen": {
            "$ref": "./examples/TitleDataKeyValues_Delete_MaximumSet_Gen.json"
          },
          "TitleDataKeyValues_Delete_MinimumSet_Gen": {
            "$ref": "./examples/TitleDataKeyValues_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApiSettings": {
    "type": "object",
    "properties": {
      "allowClientsToUpdatePlayerStatistics": {
        "type": "boolean",
        "description": "Setting to enable API allowing client to update user statistics."
      }
    },
    "description": "Title API Settings"
  },
    "Azure.ARM.ManagedIdentityProperties": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ARM.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ARM.UserAssignedIdentity"
          },
          "description": "The identities assigned to this resource by the user."
        }
      },
      "description": "The properties of the managed service identities assigned to this resource.",
      "required": [
        "type"
      ]
    },
    "Azure.ARM.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managemed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true
      }
    },
    "Azure.ARM.UserAssignedIdentity": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      },
      "description": "A managed identity assigned by the user.",
      "required": [
        "clientId",
        "principalId"
      ]
    },
    "PlayerAccountPool": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlayerAccountPoolProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "A PlayerAccountPool",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PlayerAccountPoolListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerAccountPool"
          },
          "x-cadl-name": "Microsoft.PlayFab.PlayerAccountPool[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a PlayerAccountPool list operation.",
      "required": [
        "value"
      ]
    },
    "PlayerAccountPoolProperties": {
      "type": "object",
      "properties": {
        "playFabAccountPoolId": {
          "type": "string",
          "description": "Id of publisher object in PlayFab backend associated to the PlayerAccountPool resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state.",
          "readOnly": true
        }
      },
      "description": "Properties of PlayAccountPool"
    },
    "PlayerAccountPoolUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "The updatable properties of the PlayerAccountPool."
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Accepted",
        "Creating",
        "Deleting",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Title": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ARM.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "Title.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TitleDataKeyValue": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleDataKeyValueProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "TitleDataKeyValue.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TitleDataKeyValueListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TitleDataKeyValue"
          },
          "x-cadl-name": "Microsoft.PlayFab.TitleDataKeyValue[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a TitleDataKeyValue list operation.",
      "required": [
        "value"
      ]
    },
    "TitleDataKeyValueProperties": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of TitleDataKeyValue."
        }
      },
      "description": "Properties of TitleDataKeyValue Resource",
      "required": [
        "value"
      ]
    },
    "TitleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Title"
          },
          "x-cadl-name": "Microsoft.PlayFab.Title[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Title list operation.",
      "required": [
        "value"
      ]
    },
    "GeneralSettings": {
      "type": "object",
      "properties": {
        "allowNonUniquePlayerDisplayNames": {
          "type": "boolean",
          "description": "Setting to allow non unique player display name."
        },
        "displayNameRandomSuffixLength": {
          "type": "integer",
          "format": "int32",
          "description": "Setting to enable addition of random suffix to player display name and specify it's length"
        }
      },
      "description": "Details about General Title Settings"
    },
    "TitleSettings": {
      "type": "object",
      "properties": {
        "general": {
          "$ref": "#/definitions/GeneralSettings",
          "description": "General Settings details"
        },
        "api": {
          "$ref": "#/definitions/ApiSettings",
          "description": "Title Api Settings"
        }
      },
      "description": "Details about Title Settings"
    },
    "TitleProperties": {
      "type": "object",
      "properties": {
        "playFabTitleId": {
          "type": "string",
          "description": "Id of title object in PlayFab backend.",
          "readOnly": true
        },
        "playerAccountPoolId": {
          "type": "string",
          "description": "Azure resource Id of the PlayerAccountPool resource."
        },
        "settings": {
          "$ref": "#/definitions/TitleSettings",
          "description": "Setting pertaining to a Title"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state.",
          "readOnly": true
        }
      },
      "description": "Properties of Title Resource",
      "required": [
        "playerAccountPoolId"
      ]
    },
    "TitleResourceUpdate": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ARM.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "properties": {
          "$ref": "#/definitions/TitleUpdateProperties",
          "description": "The updateable resource-specific properties for a Title."
        }
      },
      "description": "The Update model for a Title Resource"
    },
    "TitleUpdateProperties": {
      "type": "object",
      "properties": {
        "playerAccountPoolId": {
          "type": "string",
          "description": "Azure resource Id of the PlayerAccountPool resource."
        },
        "settings": {
          "$ref": "#/definitions/TitleSettings",
          "description": "Setting pertaining to a Title"
        }
      },
      "description": "The updateable resource-specific properties for a title"
    },
    "Segment": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SegmentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create",
            "delete"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Segment.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SegmentProperties": {
      "type": "object",
      "properties": {
        "playFabSegmentId": {
          "type": "string",
          "description": "Id of Segment object in PlayFab backend.",
          "readOnly": true
        },
        "query": {
          "$ref": "#/definitions/SegmentQuery",
          "description": "Query for defining Segment."
        }
      },
      "required": [
        "query"
      ]
    },
    "SegmentQuery": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SegmentGroup"
          },
          "x-cadl-name": "Microsoft.PlayFab.SegmentGroup[]",
          "description": "Groups in Query for Segment definition"
        }
      },
      "required": [
        "groups"
      ]
    },
    "SegmentGroup": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SegmentFilter"
          },
          "x-cadl-name": "Microsoft.PlayFab.SegmentFilter[]",
          "description": "List of Filters for defining groups"
        }
      },
      "required": [
        "filters"
      ]
    },
    "SegmentFilter": {
      "type": "object",
      "discriminator": "filterName",
      "properties": {
        "filterName": {
          "type" : "string",
          "description": "Name of the Segment filter."
        },
        "comparison": {
          "$ref": "#/definitions/Comparison",
          "description": "Comparator used for the filter."
        },
        "value": {
          "type": "string",
          "description": "Value to be compared"
        }
      },
      "required": [
        "filterName",
        "comparison",
        "value"
      ],
      "additionalProperties": {
      }
    },
    "SegmentStatisticFilter": {
      "type": "object",
      "x-ms-discriminator-value": "Statistic",
      "properties": {
        "statisticName": {
          "type": "string",
          "description": "Name of the statistic used as Segment filter."
        },
        "version": {
          "type": "integer",
          "description": "Version of the statistic being used."
        },
        "useCurrentVersion": {
          "type": "boolean",
          "description": "Flag to use current version of the statistic"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Segment"
          },
          "description": "The Segments on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of Segments"
        }
      },
      "description": "The response of a Segment list operation.",
      "required": [
        "value"
      ]
    },
    "Comparison": {
      "type": "string",
      "enum": [
        "Greater",
        "Less",
        "Equals",
        "NotEquals",
        "GreaterOrEquals",
        "LessOrEquals",
        "Contains",
        "NotContains",
        "Ignore",
        "Exists"
      ],
      "x-ms-enum": {
        "name": "Comparison",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "PlayerAccountPoolNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "playerAccountPoolName",
      "in": "path",
      "required": true,
      "description": "PlayerAccountPool resource name",
      "type": "string"
    },
    "TitleNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "titleName",
      "in": "path",
      "required": true,
      "description": "Name of the Title Parameter.",
      "type": "string"
    },
    "TitleDataKeyValueNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "titleDataKeyValueName",
      "in": "path",
      "required": true,
      "description": "Name of the TitleDataKeyValue Parameter.",
      "type": "string"
    },
    "SegmentNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "segmentName",
      "in": "path",
      "required": true,
      "description": "Name of the Segment Parameter.",
      "type": "string"
    }
  }
}
