{
  "swagger": "2.0",
  "info": 
  {
    "version": "2022-06-01-preview",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": 
  [
    "https"
  ],
  "consumes": 
  [
    "application/json"
  ],
  "produces": 
  [
    "application/json"
  ],
  "security": 
  [
    {
      "azure_auth": 
      [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": 
  {
    "azure_auth": 
    {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": 
      {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": 
  {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns": 
    {
      "get": 
      {
        "operationId": "Updates_ListUpdateRuns",
        "description": "List all Update runs for a specified update",
        "parameters": 
        [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": 
        {
          "200": 
          {
            "description": "OK",
            "schema": 
            {
              "$ref": "#/definitions/UpdateRunList"
            }
          },
          "default": 
          {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": 
        {
          "List Extensions under ArcSetting resource": 
          {
            "$ref": "./examples/ListUpdateRuns.json"
          }
        },
        "x-ms-pageable": 
        {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns/{updateRunName}": 
    {
      "get": 
      {
        "operationId": "Updates_GetUpdateRuns",
        "description": "List all Update runs for a specified update",
        "parameters": 
        [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateRunNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": 
        {
          "200": 
          {
            "description": "OK",
            "schema": 
            {
              "$ref": "#/definitions/UpdateRun"
            }
          },
          "default": 
          {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": 
        {
          "List Extensions under ArcSetting resource": 
          {
            "$ref": "./examples/GetUpdateRuns.json"
          }
        },
        "x-ms-pageable": 
        {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": 
  {
    "UpdateRunList": 
    {
      "description": "List of Update runs",
      "type": "object",
      "properties": 
      {
        "value": 
        {
          "description": "List of Update runs",
          "type": "array",
          "items": 
          {
            "$ref": "#/definitions/UpdateRun"
          }
        },
        "nextLink": 
        {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdateRun": 
    {
      "description": "Details of an Update run",
      "type": "object",
      "allOf": 
      [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": 
      {
        "location": 
        {
          "type": "string",
          "x-ms-mutability": 
          [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": 
        {
          "description": "Describes Machine Extension Properties.",
          "$ref": "#/definitions/UpdateRunProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateRunProperties": 
    {
      "description": "Properties of an Update run",
      "type": "object",
      "properties": 
      {
        "progress":
        {
          "description": "Progress of an Update run",
          "$ref": "#/definitions/UpdateRunProgress",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateRunProgress": 
    {
      "description": "Progress of an Update run",
      "type": "object",
      "properties": 
      {
        "name":
        {
          "description": "Update run name",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "description":
        {
          "description": "Update run description",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "errorMessage":
        {
          "description": "Update run error message",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "status":
        {
          "description": "Update run status",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "startTimeUtc":
        {
          "description": "Update run start time",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "endTimeUtc":
        {
          "description": "Update run end time",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "lastUpdatedTimeUtc":
        {
          "description": "Update run last updated",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "steps": 
        {
          "description": "List of Update run steps",
          "type": "array",
          "items": 
          {
            "$ref": "#/definitions/UpdateRunProgress"
          }
        }
      }
    }
  },
  "parameters": 
  {
    "ClusterNameParameter": 
    {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "UpdateNameParameter": 
    {
      "name": "updateName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Update",
      "x-ms-parameter-location": "method"
    },
    "UpdateRunNameParameter":
    {
      "name": "updateRunName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Update Run",
      "x-ms-parameter-location": "method"
    }
  }
}