{
  "swagger": "2.0",
  "info": 
  {
    "version": "2022-06-01-preview",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": 
  [
    "https"
  ],
  "consumes": 
  [
    "application/json"
  ],
  "produces": 
  [
    "application/json"
  ],
  "security": 
  [
    {
      "azure_auth": 
      [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": 
  {
    "azure_auth": 
    {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": 
      {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": 
  {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates": 
    {
      "get": 
      {
        "operationId": "Updates_ListUpdates",
        "description": "List all Updates",
        "parameters": 
        [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": 
        {
          "200": 
          {
            "description": "OK",
            "schema": 
            {
              "$ref": "#/definitions/UpdateList"
            }
          },
          "default": 
          {
            "description": "Error response describing why the operation failed.",
            "schema": 
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": 
        {
          "List available updates": 
          {
            "$ref": "./examples/ListUpdates.json"
          }
        },
        "x-ms-pageable": 
        {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}": 
    {
      "get": 
      {
        "operationId": "Updates_GetUpdate",
        "description": "Get specified Update",
        "parameters": 
        [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": 
        {
          "200": 
          {
            "description": "OK",
            "schema": 
            {
              "$ref": "#/definitions/Update"
            }
          },
          "default": 
          {
            "description": "Error response describing why the operation failed.",
            "schema": 
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": 
        {
          "Get a specific update": 
          {
            "$ref": "./examples/GetUpdate.json"
          }
        }
      }
    }
  },
  "definitions":
  {
    "UpdateList": 
    {
      "description": "List of Updates",
      "type": "object",
      "properties": 
      {
        "value": 
        {
          "description": "List of Updates",
          "type": "array",
          "items": 
          {
            "$ref": "#/definitions/Update"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Update": 
    {
      "description": "Update details",
      "type": "object",
      "allOf": 
      [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": 
      {
        "location": 
        {
          "type": "string",
          "x-ms-mutability": 
          [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": 
        {
          "description": "Update properties",
          "type": "object",
          "$ref": "#/definitions/UpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateProperties":
    {
      "description": "Details of a singular Update in HCI Cluster",
      "type": "object",
      "properties":
      {
        "installedDate":
        {
          "description": "Update install date",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "description":
        {
          "description": "Update description",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "state":
        {
          "description": "State of the update",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "kbLink":
        {
          "description": "KB link for the Update",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "minVersionRequired":
        {
          "description": "Minimum required version for the Update",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "minOemVersionRequired":
        {
          "description": "Minimum OEM version required for the update",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "packagePath":
        {
          "description": "Update package path",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "packageSizeInMb":
        {
          "description": "Update size in Mb",
          "type": "number",
          "format": "double",
          "x-ms-client-flatten": true
        },
        "displayName":
        {
          "description": "Display name of the Update",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "version":
        {
          "description": "Update version",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "publisher":
        {
          "description": "Update publisher",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "releaseLink":
        {
          "description": "Update release link",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "availabilityType":
        {
          "description": "Update availability type",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "packageType":
        {
          "description": "Update package type",
          "type": "string",
          "x-ms-client-flatten": true
        },
        "updateStateProperties":
        {
          "description": "Update state properties",
          "type": "object",
          "$ref": "#/definitions/UpdateStateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateStateProperties":
    {
      "description": "Properties of the Update state",
      "type": "object",
      "properties":
      {
        "progressPercentage":
        {
          "description": "Progress percentage of the update",
          "type": "number",
          "format": "double",
          "x-ms-client-flatten": true
        }
      }
    }
  },
  "parameters": 
  {
    "ClusterNameParameter": 
    {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "UpdateNameParameter": 
    {
      "name": "updateName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Update",
      "x-ms-parameter-location": "method"
    }
  }
}