{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Eds",
    "version": "2023-03-02-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PurchaseRequests"
    },
    {
      "name": "PurchaseResponses"
    }
  ],
  "paths": {
    "/providers/Microsoft.Eds/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Eds/purchaseRequests/{purchaseId}": {
      "get": {
        "tags": [
          "PurchaseRequests"
        ],
        "operationId": "PurchaseRequests_Get",
        "description": "Get a PurchaseRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PurchaseRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "PurchaseRequests"
        ],
        "operationId": "PurchaseRequests_Create",
        "description": "Create a PurchaseRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PurchaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PurchaseRequest"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PurchaseRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "PurchaseRequests"
        ],
        "operationId": "PurchaseRequests_Update",
        "description": "Update a PurchaseRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/PurchaseRequestUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PurchaseRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PurchaseRequests"
        ],
        "operationId": "PurchaseRequests_Delete",
        "description": "Delete a PurchaseRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Eds/purchaseRequests/{purchaseId}/purchaseResponses": {
      "get": {
        "tags": [
          "PurchaseResponses"
        ],
        "operationId": "PurchaseResponses_ListByPurchaseRequest",
        "description": "List PurchaseResponse resources by PurchaseRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PurchaseResponseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Eds/purchaseRequests/{purchaseId}/purchaseResponses/{tranIdentifier}": {
      "get": {
        "tags": [
          "PurchaseResponses"
        ],
        "operationId": "PurchaseResponses_Get",
        "description": "Get a PurchaseResponse",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "tranIdentifier",
            "in": "path",
            "required": true,
            "description": "Transaction Identifier.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PurchaseResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "PurchaseResponses"
        ],
        "operationId": "PurchaseResponses_Create",
        "description": "Create a PurchaseResponse",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "tranIdentifier",
            "in": "path",
            "required": true,
            "description": "Transaction Identifier.",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PurchaseResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PurchaseResponse"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PurchaseResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "PurchaseResponses"
        ],
        "operationId": "PurchaseResponses_Update",
        "description": "Update a PurchaseResponse",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "tranIdentifier",
            "in": "path",
            "required": true,
            "description": "Transaction Identifier.",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/PurchaseResponseUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PurchaseResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PurchaseResponses"
        ],
        "operationId": "PurchaseResponses_Delete",
        "description": "Delete a PurchaseResponse",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "description": "Purchase API details",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "tranIdentifier",
            "in": "path",
            "required": true,
            "description": "Transaction Identifier.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "PurchaseLineRequest": {
      "type": "object",
      "properties": {
        "bigCatProdUpn": {
          "type": "string",
          "description": "UPN associated with Big Catalog XDK product."
        },
        "productId": {
          "type": "string",
          "description": "Product Identifier in Guid format."
        },
        "skuId": {
          "type": "string",
          "description": "SKU Identifier"
        },
        "qty": {
          "type": "integer",
          "format": "int32",
          "description": "Quantity being bought."
        }
      },
      "description": "LineItem details.",
      "required": [
        "bigCatProdUpn",
        "productId",
        "skuId",
        "qty"
      ]
    },
    "PurchaseRequest": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PurchaseRequestProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A purchase request.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PurchaseRequestProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Identifier"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource Identifier."
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PurchaseLineRequest"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "PurchaseLineRequest[]",
          "description": "Big Catalog Products detail like product Id, SkuId, etc.",
          "minItems": 1
        }
      },
      "description": "EDS Purchase.request",
      "required": [
        "subscriptionId",
        "resourceId",
        "productDetails"
      ]
    },
    "PurchaseRequestUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/PurchaseRequestUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the PurchaseRequest."
    },
    "PurchaseRequestUpdateProperties": {
      "type": "object",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Identifier"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource Identifier."
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PurchaseLineRequest"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "PurchaseLineRequest[]",
          "description": "Big Catalog Products detail like product Id, SkuId, etc.",
          "minItems": 1
        }
      },
      "description": "The updatable properties of the PurchaseRequest."
    },
    "PurchaseResponse": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PurchaseResponseProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Purchase Response.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PurchaseResponseListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PurchaseResponse"
          },
          "x-cadl-name": "PurchaseResponse[]",
          "description": "The PurchaseResponse items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a PurchaseResponse list operation.",
      "required": [
        "value"
      ]
    },
    "PurchaseResponseProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "purchaseResponseTime": {
          "type": "string",
          "format": "date-time",
          "description": "Purchase response time."
        },
        "status": {
          "$ref": "#/definitions/PurchaseStatus",
          "description": "Response Status Code."
        },
        "purchaseMessage": {
          "type": "string",
          "description": "Purchase Status Message."
        },
        "isRetriableError": {
          "type": "boolean",
          "description": "Whether transaction if failed can be retried."
        },
        "tranIdentifier": {
          "type": "string",
          "description": "Transaction Identifier. This may be used to identify the retriable scenarios."
        }
      },
      "description": "Purchase response properties.",
      "required": [
        "purchaseResponseTime",
        "status",
        "purchaseMessage",
        "isRetriableError",
        "tranIdentifier"
      ]
    },
    "PurchaseResponseUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/PurchaseResponseUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the PurchaseResponse."
    },
    "PurchaseResponseUpdateProperties": {
      "type": "object",
      "properties": {
        "purchaseResponseTime": {
          "type": "string",
          "format": "date-time",
          "description": "Purchase response time."
        },
        "status": {
          "$ref": "#/definitions/PurchaseStatus",
          "description": "Response Status Code."
        },
        "purchaseMessage": {
          "type": "string",
          "description": "Purchase Status Message."
        },
        "isRetriableError": {
          "type": "boolean",
          "description": "Whether transaction if failed can be retried."
        },
        "tranIdentifier": {
          "type": "string",
          "description": "Transaction Identifier. This may be used to identify the retriable scenarios."
        }
      },
      "description": "The updatable properties of the PurchaseResponse."
    },
    "PurchaseStatus": {
      "type": "string",
      "description": "Purchase status.",
      "enum": [
        "None",
        "Success",
        "Error"
      ],
      "x-ms-enum": {
        "name": "PurchaseStatus",
        "modelAsString": true
      }
    }
  },
  "parameters": {}
}
