{
  "swagger": "2.0",
  "info": {
    "title": "Azure Arc Connectivity Platform Management API",
    "description": "REST API for Azure Arc Connectivity Platform",
    "version": "2021-07-28-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ArcConnectivity/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists the operations available from this provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerNamespace}/{resourceType}/{resourceName}/providers/Microsoft.ArcConnectivity/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "description": "List of connections to the target resource.",
        "operationId": "Connections_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource."
          }
        ],
        "responses": {
          "200": {
            "description": "List of connections.",
            "schema": {
              "$ref": "#/definitions/ConnectionDetailsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerNamespace}/{resourceType}/{resourceName}/providers/Microsoft.ArcConnectivity/connections/default": {
      "get": {
        "tags": [
          "Connections"
        ],
        "operationId": "Connections_Get",
        "description": "Gets the connection to the resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource to get role assignments for."
          },
          {
            "$ref": "#/parameters/ConnectionExpirationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Connection details",
            "schema": {
              "$ref": "#/definitions/ConnectionDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Connections"
        ],
        "operationId": "Connections_Create",
        "description": "Create or update the connections to the target resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource to get role assignments for."
          }
        ],
        "responses": {
          "200": {
            "description": "Connection details.",
            "schema": {
              "$ref": "#/definitions/ConnectionDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Connections"
        ],
        "operationId": "Connections_Update",
        "description": "Update the connections to the target resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource to get role assignments for."
          }
        ],
        "responses": {
          "200": {
            "description": "Connection details.",
            "schema": {
              "$ref": "#/definitions/ConnectionDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connections"
        ],
        "operationId": "Connections_Delete",
        "description": "Deletes connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "providerNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource type of the resource.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource to get role assignments for."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectionDetails": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The connection ID."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The connection name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The connection type."
        },
        "systemData": {
          "description": "System data of ConnectionDetails resource",
          "type": "object",
          "readOnly": true,
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
        },
        "properties": {
          "description": "Connection properties.",
          "$ref": "#/definitions/ConnectionProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "Connection Details",
      "x-ms-azure-resource": true
    },
    "HybridConnectionAccessInfo": {
      "type": "object",
      "description": "HybridConnection Access Info.",
      "required": [
        "namespace",
        "hybridConnectionName"
      ],
      "properties": {
        "namespace": {
          "type": "string",
          "description": "Azure Relay Namespace.",
          "minLength": 1,
          "maxLength": 50,
          "pattern": "^[A-Za-z0-9-._/]+$"
        },
        "hybridConnectionName": {
          "type": "string",
          "description": "Azure Relay Hybrid Connection name for the resource.",
          "minLength": 1,
          "maxLength": 200,
          "pattern": "^[A-Za-z0-9-._/]+$"
        },
        "accessToken": {
          "type": "string",
          "description": "Shared Access Signature.",
          "minLength": 1,
          "maxLength": 200
        },
        "expiration": {
          "type": "integer",
          "description": "The experation of sasToken in unix time."
        }
      }
    },
    "ConnectionProperties": {
      "description": "The connection details for the target resource.",
      "type": "object",
      "required": [
        "primary"
      ],
      "properties": {
        "primary": {
          "description": "The primary hybridconnection access detail.",
          "$ref": "#/definitions/HybridConnectionAccessInfo"
        },
        "secondary": {
          "description": "The secondary hybridconnection access detail.",
          "$ref": "#/definitions/HybridConnectionAccessInfo"
        }
      }
    },
    "ConnectionDetailsList": {
      "description": "The list of connection details.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of connection details list.",
          "type": "string"
        },
        "value": {
          "description": "The list of connection details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionDetails"
          }
        }
      }
    }
  },
  "parameters": {
    "ConnectionExpirationParameter": {
      "name": "expiration",
      "in": "query",
      "required": false,
      "type": "integer",
      "default": 600,
      "minimum": 60,
      "maximum": 600,
      "description": "The requested expiration time in second for the connection.",
      "x-ms-parameter-location": "method"
    }
  }
}
