{
  "swagger": "2.0",
  "info": {
    "version": "2022-08-31-privatepreview",
    "title": "M365SubscriptionsClient",
    "description": "M365 subscriptions client provides lifecycle management features to M365 subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{scope}/providers/Microsoft.M365/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_List",
        "description": "Lists the M365 subscriptions. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/m365/"
        },
        "x-ms-examples": {
          "ListSubscriptions": {
            "$ref": "./examples/ListSubscriptions.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListSubscriptionsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.M365/subscriptions/{subscriptionName}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Get",
        "description": "Gets a M365 subscription by its ID. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/m365/"
        },
        "x-ms-examples": {
          "Subscription": {
            "$ref": "./examples/Subscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/subscriptionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Update",
        "description": "Updates the properties of a M365 subscription. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "x-ms-examples": {
          "UpdateSubscriptionProperty": {
            "$ref": "./examples/UpdateSubscription.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/subscriptionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Subscription"
            },
            "description": "Request parameters that are provided to the update M365 subscription operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "204": {
            "description": "Billing subscription not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Delete",
        "description": "Cancels a M365 subscription. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "DeleteSubscription": {
            "$ref": "./examples/DeleteSubscription.json"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/m365/"
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/subscriptionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "204": {
            "description": "Billing subscription not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ListSubscriptionsResult": {
      "description": "The list of M365 subscriptions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of M365 subscriptions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Subscription": {
      "description": "A M365 subscription.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SubscriptionProperties",
          "title": "M365 subscription properties"
        }
      }
    },
    "SubscriptionProperties": {
      "description": "The billing properties of a M365 subscription.",
      "type": "object",
      "properties": {
        "autoRenew": {
          "description": "Indicates whether auto renewal is turned on or off for a subscription.",
          "type": "string",
          "enum": [
            "Off",
            "On"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "AutoRenew",
            "modelAsString": true
          }
        },
        "billingAccountId": {
          "description": "The ID of the billing account to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingAccountDisplayName": {
          "description": "The name of the billing account to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileId": {
          "description": "The ID of the billing profile to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "The name of the billing profile to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingFrequency": {
          "description": "The billing frequency in ISO8601 format of product in the subscription. Example: P1M, P3M, P1Y",
          "type": "string",
          "readOnly": true
        },
        "systemOverrides": {
          "description": "System imposed policies that regulate behavior of the subscription.",
          "type": "object",
          "properties": {
            "cancellation": {
              "description": "The policy override for the subscription indicates whether the self-serve cancellation or seat reduction is allowed.",
              "type": "string",
              "x-nullable": true,
              "readOnly": true,
              "enum": [
                "Allowed",
                "NotAllowed"
              ],
              "x-ms-enum": {
                "name": "Cancellation",
                "modelAsString": true
              }
            },
            "cancellationAllowedEndDate": {
              "type": "string",
              "format": "date-time",
              "description": "The end date in UTC time by when the self-serve cancellation ends.",
              "readOnly": true
            }
          }
        },
        "displayName": {
          "description": "The name of the subscription.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionId": {
          "description": "The ID of the invoice section to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionDisplayName": {
          "description": "The name of the invoice section to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "nextBillingCycleDetails": {
          "description": "Next billing cycle details of the subscription.",
          "type": "object",
          "readOnly": true,
          "$ref": "#/definitions/NextBillingCycleDetails"
        },
        "productCategory": {
          "description": "Category of the subscription. Possible values include: Consumption, SaaS, AzureSupport, AzureReservationOrder, AzureSavingsPlan, Hardware, M365",
          "type": "string",
          "readOnly": true
        },
        "productType": {
          "description": "Type of the product for which the subscription is purchased",
          "type": "string",
          "readOnly": true
        },
        "productTypeId": {
          "description": "Id of the product for which the subscription is purchased",
          "type": "string",
          "readOnly": true
        },
        "purchaseDate": {
          "type": "string",
          "format": "date-time",
          "description": "Purchase date of the product in UTC time.",
          "readOnly": true
        },
        "quantity": {
          "description": "The number of licenses purchased for the subscription",
          "type": "integer",
          "format": "int64"
        },
        "skuDescription": {
          "description": "The SKU description of the product for which the subscription is purchased.",
          "type": "string",
          "readOnly": true
        },
        "skuId": {
          "description": "The SKU ID of the product for which the subscription is purchased.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "The status of the subscription.",
          "type": "string",
          "enum": [
            "Unknown",
            "Active",
            "Disabled",
            "Deleted",
            "PastDue",
            "Expiring",
            "Expired",
            "AutoRenew",
            "Cancelled",
            "Suspended"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "SubscriptionStatus",
            "modelAsString": true
          }
        },
        "suspensionReasons": {
          "description": "The suspension reason for a subscription.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "termDuration": {
          "description": "The duration for which you can use the subscription. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        },
        "termStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date of the term in UTC time.",
          "readOnly": true
        },
        "termEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date of the term in UTC time.",
          "readOnly": true
        }
      }
    },
    "NextBillingCycleDetails": {
      "description": "Billing cycle details of the subscription.",
      "type": "object",
      "properties": {
        "billingFrequency": {
          "description": "Billing frequency of the product under the subscription.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "scopeParameter": {
      "name": "scope",
      "in": "path",
      "description": "The scope associated with M365 subscription. This includes 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}' for InvoiceSection scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/customers/{customerId}' for Customer scope",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionNameParameter": {
      "name": "subscriptionName",
      "in": "path",
      "description": "The ID that uniquely identifies a subscription.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
