{
  "swagger": "2.0",
  "info": {
    "version": "2021-10-20-privatepreview",
    "title": "Syntex",
    "description": "Syntex provider"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.syntex/documentProcessors": {
      "get": {
        "description": "Returns document processors in the subscription.",
        "operationId": "DocumentProcessor_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Document processor details.",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/DocumentProcessor_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.syntex/documentProcessors": {
      "get": {
        "description": "Returns document processors in a resource group.",
        "operationId": "DocumentProcessor_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Document processor details.",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/DocumentProcessor_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.syntex/documentProcessors/{processorName}": {
      "get": {
        "description": "Returns a document processor for a given name.",
        "operationId": "DocumentProcessor_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Document processor details.",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/DocumentProcessor_Get.json"
          }
        }
      },
      "delete": {
        "description": "Deletes document processor resource for a given name.",
        "operationId": "DocumentProcessor_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the document processor details."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/DocumentProcessor_Delete.json"
          }
        }
      },
      "put": {
        "description": "Creates a document processor resource for a given name.",
        "operationId": "DocumentProcessor_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Document processor details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/DocumentProcessor_Create.json"
          }
        }
      },
      "patch": {
        "description": "Updates a document processor resource for a given name.",
        "operationId": "DocumentProcessor_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Document processor details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          },
          "202": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/DocumentProcessor_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.syntex/documentProcessors/{processorName}/processDocument": {
      "post": {
        "operationId": "DocumentProcessor_Operation_ProcessDocument",
        "description": "Process a document",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Document processor request.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProcessDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema":{
              "$ref": "#/definitions/ProcessDocumentResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/DocumentProcessor_Operation_ProcessDocument.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.syntex/documentProcessors/{processorName}/processDocuments": {
      "post": {
        "operationId": "DocumentProcessor_Operation_ProcessDocuments",
        "description": "Process a list of documents",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Documents processor request.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProcessDocumentsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema":{
              "$ref": "#/definitions/ProcessDocumentsResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/DocumentProcessor_Operation_ProcessDocuments.json"
          }
        }
      }
    },
    "/providers/microsoft.syntex/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "List of all REST operations supported by the Microsoft.Syntex provider.",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "type": "object",
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "DocumentProcessorResource": {
      "type": "object",
      "description": "Document processor details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": false,
          "description": "Document processor properties.",
          "$ref": "#/definitions/DocumentProcessorProperties"
        }
     }
    },
    "DocumentProcessorProperties": {
      "type": "object",
      "description": "Document processor properties",
      "properties": {
        "processorName": {
          "type": "string",
          "description": "The name of document processor resource.",
          "minLength": 1,
          "maxLength": 20,
          "pattern": "^[A-Za-z0-9-._]+$"
        }
      }
    },
    "DocumentProcessorList": {
      "type": "object",
      "description": "Document processor list",
      "properties": {
        "value": {
          "description": "Array of document processors.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentProcessorResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProcessDocumentRequest": {
      "type": "object",
      "description": "Process document request.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": false,
          "description": "Document properties.",
          "$ref": "#/definitions/DocumentProperties"
        }
      },
      "required": [
        "properties"
      ]
    },
    "ProcessDocumentsRequest": {
      "type": "object",
      "description": "Process documents request.",
      "properties": {
        "value": {
          "description": "Array of document properties",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentProperties"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "ResponseStatus": {
      "type": "string",
      "enum": [
        "Success"
      ],
      "x-ms-enum": {
        "name": "ResponseStatus",
        "modelAsString": true
      }
    },
    "ProcessDocumentResponse": {
      "type": "object",
      "description": "Process document response.",
      "properties": {
        "responseStatus": {
          "description": "Response status.",
          "$ref": "#/definitions/ResponseStatus"
        }
      },
      "required": [
        "responseStatus"
      ]
    },
    "ProcessDocumentsResponse": {
      "type": "object",
      "description": "Process documents response.",
      "properties": {
        "responseStatus": {
          "description": "Response status.",
          "$ref": "#/definitions/ResponseStatus"
        }
      },
      "required": [
        "responseStatus"
      ]
    },
    "DocumentProperties": {
      "type": "object",
      "description": "Document properties.",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "The ID of the processed document."
        },
        "eventId": {
          "type": "string",
          "description": "A unique event id corresponding to a usage record."
        },
        "meterId": {
          "type": "string",
          "description": "A logical meter id that Syntex billing service then translates to a corresponding commerce meter id."
        },
        "quantity": {
          "type": "number",
          "format": "double",
          "description": "Quantity corresponding to the logical meter id that Syntex billing service then translates to the unit expected by the commerce meter."
        },
        "eventDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The the document was processed.  It could be different from the time the Syntex billing service recives the usage event."
        }
      },
      "required": [
        "documentId",
        "eventId",
        "meterId",
        "quantity",
        "eventDateTime"
      ]
    },
    "Operation": {
      "type": "object",
      "description": "Details of a REST API operation, returned from the Resource Provider Operations API.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "type": "object",
          "description": "Localized display information for this particular operation.",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name."
            },
            "resource": {
              "type": "string",
              "description": "Resource name."
            },
            "operation": {
              "type": "string",
              "description": "Operation name."
            },
            "description": {
              "type": "string",
              "description": "Description of the operation."
            }
          }
        }
      }
    },
    "OperationsListResult": {
      "type": "object",
      "description": "Lists the operations available.",
      "properties": {
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results (if there are any)."
        }
      },
      "required": [
        "value"
      ]
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "type": "object",
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "ProcessorNameParameter": {
      "name": "processorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of document processor resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
