{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2022-03-01-preview",
    "x-ms-code-generation-settings": {
      "name": "AzureStackHCIClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/galleryimages/{galleryimagesName}": {
      "get": {
        "operationId": "galleryimages_Retrieve",
        "x-ms-examples": {
          "GetGalleryImage": {
            "$ref": "./examples/GetGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/galleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Retrieves the galleryimages resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          }
        }
      },
      "put": {
        "operationId": "galleryimages_CreateOrUpdate",
        "x-ms-examples": {
          "PutGalleryImage": {
            "$ref": "./examples/PutGalleryImage.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/galleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryimages",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the galleryimages resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          },
          "201": {
            "description": "Creates the galleryimages resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          }
        }
      },
      "delete": {
        "operationId": "galleryimages_Delete",
        "x-ms-examples": {
          "DeleteGalleryImage": {
            "$ref": "./examples/DeleteGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/galleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Deletes the galleryimages resource."
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "patch": {
        "operationId": "galleryimages_Update",
        "x-ms-examples": {
          "UpdateGalleryImage": {
            "$ref": "./examples/UpdateGalleryImage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/galleryimagesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "galleryimages",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/galleryimagesPatch"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the galleryimages resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          },
          "201": {
            "description": "Updates the galleryimages resource.",
            "schema": {
              "$ref": "#/definitions/galleryimages"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/galleryimages": {
      "get": {
        "operationId": "galleryimages_ListByResourceGroup",
        "x-ms-examples": {
          "ListGalleryImageByResourceGroup": {
            "$ref": "./examples/ListGalleryImageByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all galleryimages under the resource group.",
            "schema": {
              "$ref": "#/definitions/galleryimagesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/galleryimages": {
      "get": {
        "operationId": "galleryimages_ListBySubscription",
        "x-ms-examples": {
          "ListGalleryImageByResourceGroup": {
            "$ref": "./examples/ListGalleryImageBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all galleryimages under the subscription.",
            "schema": {
              "$ref": "#/definitions/galleryimagesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "galleryimagesProperties": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "containerName": {
          "type": "string",
          "description": "Container Name for storage container"
        },
        "imagePath": {
          "type": "string",
          "description": "location of the image the gallery image should be created from"
        },
        "osType": {
          "type": "string",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OperatingSystemTypes",
            "modelAsString": false
          },
          "description": "operating system type that the gallery image uses. Expected to be linux or windows"
        },
        "hyperVGeneration": {
          "type": "string",
          "enum": [
            "V1",
            "V2"
          ],
          "x-ms-enum": {
            "name": "HyperVGenerationTypes",
            "modelAsString": false
          },
          "description": "Hyper-V Generation of the gallery image. Expected to be V1 or V2"
        },
        "cloudInitDataSource": {
          "type": "string",
          "description": "Cloud Init Data source that the Gallery Image uses."
        },
        "imageSource": {
          "type": "string",
          "enum": [
            "Custom",
            "Marketplace"
          ],
          "x-ms-enum": {
            "name": "ImageSourceTypes",
            "modelAsString": false
          },
          "description": "Source from the gallery image was created. Expected to be Custom or Marketplace"
        },
        "imageDetails": {
          "type": "object",
          "description": "Details of the gallery image",
          "properties":{
            "id": {
              "type": "string",
              "description": "Resource Id of the marketplace image"
            },
            "urn": {
              "type": "string",
              "description": "Uniform Resource Name of the marketplace image in the format publisher:offer:sku:version"
            }
          }
        },
        "accessDetails": {
          "type": "object",
          "description": "Access details of the gallery image",
          "properties":{
            "type": {
              "type": "string",
              "description": "The access type of the gallery image"
            },
            "value": {
              "type": "string",
              "description": "The value of the secret used to access the gallery image"
            }
          }
        },
        "downloadStatus": {
          "type": "object",
          "description": "Access details of the gallery image",
          "properties":{
            "downloadSizeInBytes": {
              "format": "int64",
              "type": "integer",
              "description": "The download size of the gallery image in bytes"
            },
            "progress": {
              "type": "string",
              "description": "The progress of the ongoing download"
            },
            "state": {
              "type": "string",
              "description": "The current state of the download as reported from the cluster"
            },
            "errorDetails": {
              "type": "object",
              "description": "Error Details describing why the download failed ",
              "properties":{
                "code": {
                  "type": "string",
                  "description": "The error code of the failure"
                },
                "message": {
                  "type": "string",
                  "description": "The error message of the failure"
                },
                "parameters": {
                  "type": "string",
                  "description": "The error parameters have key-vaule pairs used in describing the error message"
                }
              }
            }
          }
        },
        "sizeInBytes": {
          "format": "int64",
          "description": "The size in bytes of the gallery image",
          "type": "integer"
        },
        "provisioningState": {
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "name of the object to be used in moc"
        },
        "status": {
          "type": "object",
          "description": "MOCGalleryImageStatus defines the observed state of MOCGalleryImage"
        }
      }
    },
    "galleryimages": {
      "type": "object",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/galleryimagesProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The galleryimages resource definition."
    },
    "galleryimagesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The galleryimages resource patch definition."
    },
    "galleryimagesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/galleryimages"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "galleryimagesNameParameter": {
      "name": "galleryimagesName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "maxLength": 64,
      "minLength": 3
    }
  }
}
