{
  "swagger": "2.0",
  "info": {
    "title": "AmfDeployment",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore AMF deployment object.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas/{deploymentAreaName}/clusters/{clusterName}/amfDeployments/{amfDeploymentName}": {
      "put": {
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployment_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/AmfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmfDeployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the AMF deployment resource.",
            "schema": {
              "$ref": "#/definitions/AmfDeployment"
            }
          },
          "201": {
            "description": "Creates the AMF deployment resource.",
            "schema": {
              "$ref": "#/definitions/AmfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Vendor resource": {
            "$ref": "./examples/AmfCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployment_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/AmfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the AMF deployment resource.",
            "schema": {
              "$ref": "#/definitions/AmfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get AMF": {
            "$ref": "./examples/AmfGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployment_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/AmfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the AMF deployment resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete AMF": {
            "$ref": "./examples/AmfDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "description": "Update AmfDeployments tags.",
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployment_UpdateTags",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/AmfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the AMF deployment resource.",
            "schema": {
              "$ref": "#/definitions/AmfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete AMF": {
            "$ref": "./examples/AmfUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas/{deploymentAreaName}/clusters/{clusterName}/amfDeployments": {
      "get": {
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployment_Retrieve_All_By_MobilePacketCore",
        "description": "Lists all the AMF deployment resources in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/AmfDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AMF deployment objects by resource group": {
            "$ref": "./examples/AmfListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AmfDeploymentPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the AMF deployment resource."
        },
        "deploymentStatus": {
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the AMF deployment",
          "properties": {
            "amfName": {
              "type": "string"
            },
            "nfInstanceId": {
              "type": "string"
            },
            "relativeCapacity": {
              "type": "integer",
              "minimum": 0,
              "maximum": 255
            },
            "setId": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1023
            },
            "pointer": {
              "type": "array",
              "items": {
                "type": "integer",
                "minimum": 0,
                "maximum": 63
              }
            },
            "n2Endpoints": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "primary": {
                    "type": "boolean"
                  },
                  "weight": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Relative weight of the endpoint on a scale of 0 to 255. 0 would indicate RAN to not use the TNLA represented by the endpoint"
                  },
                  "ipv4Fqdn": {
                    "$ref": "./common.json#/definitions/Fqdn"
                  },
                  "ipv6Fqdn": {
                    "$ref": "./common.json#/definitions/Fqdn"
                  },
                  "multiHomeIpv4Fqdn": {
                    "$ref": "./common.json#/definitions/Fqdn"
                  },
                  "multiHomeIpv6Fqdn": {
                    "$ref": "./common.json#/definitions/Fqdn"
                  }
                }
              }
            }
          }
        },
        "networkSliceList": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "description": "A list of network slice resource object."
        }
      },
      "description": "The AMF deployment resource definition."
    },
    "AmfDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AmfDeploymentPropertiesFormat",
          "description": "AMF Deployment properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The AMF deployment resource definition."
    },
    "AmfDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AmfDeployment"
          },
          "description": "A list of AMF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Get AMF Deployment API service call."
    }
  },
  "parameters": {
    "AmfDeploymentNameParameter": {
      "name": "amfDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of AMF deployment."
    }
  }
}
