{
  "swagger": "2.0",
  "info": {
    "title": "CommonDefinitionsAndParameters",
    "description": "The resources in this swagger specification will be used to manage the virtual network functions deployed using mobile packet core",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Accepted",
        "Deleting",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "url": {
      "type": "string"
    },
    "enableDisable": {
      "type": "string",
      "enum": [
        "enabled",
        "disabled"
      ],
      "x-ms-enum": {
        "name": "enableDisable",
        "modelAsString": true
      },
      "description": "Enable/Disable enum"
    },
    "QosFlow": {
      "type": "object",
      "properties": {
        "fiveQi": {
          "type": "integer",
          "minimum": 0,
          "maximum": 255
        },
        "arpPriorityLevel": {
          "type": "integer",
          "minimum": 1,
          "maximum": 15
        },
        "arpPreemptionCapability": {
          "type": "string",
          "enum": [
            "NOT_PREEMPT",
            "MAY_PREEMPT"
          ]
        },
        "arpPreemptionVulnerability": {
          "type": "string",
          "enum": [
            "NOT_PREEMPTABLE",
            "MAY_PREEMPTABLE"
          ]
        },
        "nonGbrFlow": {
          "type": "boolean"
        },
        "priorityLevel": {
          "type": "integer",
          "minimum": 1,
          "maximum": 127
        },
        "measurementUnit": {
          "type": "string",
          "enum": [
            "kbps",
            "mbps",
            "gbps"
          ]
        },
        "reflectiveQos": {
          "type": "boolean"
        }
      }
    },
    "LoopbackUsage": {
      "type": "string",
      "enum": [
        "BGP",
        "BFD",
        "GTP-U",
        "RADIUS",
        "DIAMETER"
      ],
      "x-ms-enum": {
        "name": "LoopbackUsage",
        "modelAsString": true
      },
      "description": "Applications that can use a loopback"
    },
    "SscMode": {
      "type": "string",
      "enum": [
        "mode1",
        "mode2",
        "mode3"
      ],
      "x-ms-enum": {
        "name": "SscMode",
        "modelAsString": true
      },
      "description": "Applications that can use a loopback"
    },
    "PduType": {
      "type": "string",
      "enum": [
        "ipv4",
        "ipv6",
        "ipv4v6"
      ],
      "x-ms-enum": {
        "name": "PduType",
        "modelAsString": true
      },
      "description": "Applications that can use a loopback"
    },
    "networkContext": {
      "type": "string",
      "pattern": "^([a-zA-Z]([a-zA-Z0-9-._]){1,64})"
    },
    "dscp": {
      "type": "string",
      "enum": [
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20",
        "21",
        "22",
        "23",
        "24",
        "25",
        "26",
        "27",
        "28",
        "29",
        "30",
        "31",
        "32",
        "33",
        "34",
        "35",
        "36",
        "37",
        "38",
        "39",
        "40",
        "41",
        "42",
        "43",
        "44",
        "45",
        "46",
        "47",
        "48",
        "49",
        "50",
        "51",
        "52",
        "53",
        "54",
        "55",
        "56",
        "57",
        "58",
        "59",
        "60",
        "61",
        "62",
        "63",
        "df",
        "af11",
        "af12",
        "af13",
        "af21",
        "af22",
        "af23",
        "af31",
        "af32",
        "af33",
        "af41",
        "af42",
        "af43",
        "cs1",
        "cs2",
        "cs3",
        "cs4",
        "cs5",
        "cs6",
        "cs7",
        "ef"
      ],
      "x-ms-enum": {
        "name": "dscpValue",
        "modelAsString": true
      },
      "description": "DSCP Marking Values"
    },
    "ipv4Address": {
      "type": "string"
    },
    "ipv6Address": {
      "type": "string"
    },
    "ipAddress": {
      "type": "object",
      "properties": {
        "ipv4": {
          "$ref": "#/definitions/ipv4Address"
        },
        "ipv6": {
          "$ref": "#/definitions/ipv6Address"
        }
      }
    },
    "TraceProbability": {
      "type": "number",
      "minimum": 0.0,
      "maximum": 1.0
    },
    "Fqdn": {
      "type": "object",
      "properties": {
        "fqdn": {
          "type": "string"
        }
      }
    },
    "TagsObject": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    },
    "TaiConfig": {
      "properties": {
        "tai": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tai"
          }
        },
        "plmnId": {
          "type": "object",
          "$ref": "#/definitions/PlmnId"
        },
        "taiList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaiList"
          }
        }
      },
      "required": [
        "plmnId"
      ]
    },
    "Version": {
      "properties": {
        "apiVersionUri": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "v1",
            "v2"
          ],
          "x-ms-enum": {
            "name": "ApiVersionUri",
            "modelAsString": true
          }
        },
        "apiFullVersion": {
          "type": "string"
        },
        "expiry": {
          "type": "string"
        }
      }
    },
    "Tai": {
      "type": "object",
      "properties": {
        "plmnId": {
          "$ref": "#/definitions/PlmnId"
        },
        "tac": {
          "type": "integer",
          "maximum": 16777215
        }
      }
    },
    "PlmnId": {
      "type": "object",
      "properties": {
        "mcc": {
          "type": "string",
          "pattern": "^[0-9]{3}$"
        },
        "mnc": {
          "type": "string",
          "pattern": "^[0-9]{2,3}$"
        }
      },
      "required": [
        "mcc",
        "mnc"
      ]
    },
    "TaiList": {
      "type": "array",
      "items": {
        "$ref": "./common.json#/definitions/Tai"
      }
    },
    "Dnn": {
      "type": "string",
      "pattern": "([a-zA-Z0-9]([a-zA-Z0-9-._]){0,63})"
    },
    "Dnai": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Data-Network-Access-Identifier name. This name must be unique."
        }
      },
      "required": [
        "name"
      ]
    },
    "Snssai": {
      "type": "object",
      "properties": {
        "sst": {
          "type": "string",
          "readOnly": false,
          "enum": [
            "eMBB",
            "mMTC",
            "uRRLC"
          ],
          "x-ms-enum": {
            "name": "Sst",
            "modelAsString": true
          },
          "description": "Slice service type"
        },
        "sd": {
          "type": "string",
          "description": "Slice differentiator"
        }
      },
      "required": [
        "sst",
        "sd"
      ]
    }
  },
  "parameters": {
    "MPCName": {
      "name": "mpcName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Mobile Packetcore name"
    },
    "AreaName": {
      "name": "aName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Zone base config name"
    },
    "SiteName": {
      "name": "sName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Cluster base config name"
    },
    "DeploymentAreaNameParameter": {
      "name": "deploymentAreaName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Deployment area name"
    },
    "NfviNameParameter": {
      "name": "nfviName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "NFVI name"
    },
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Cluster name"
    }
  }
}
