{
  "swagger": "2.0",
  "info": {
    "title": "CommonDefinitionsAndParameters",
    "description": "The resources in this swagger specification will be used to manage the virtual network functions deployed using mobile packet core",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Accepted",
        "Deleting",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "NetworkFunctionType": {
      "type": "string",
      "description": "Type of network function",
      "enum": [
        "SMF",
        "AMF",
        "UPF",
        "NRF",
        "NSSF",
        "SAEGW-UP",
        "SAEGW-CP",
        "MME"
      ],
      "x-ms-enum": {
        "name": "NetworkFunctionType",
        "modelAsString": true
      }
    },
    "NetworkFunctionVersionManagement": {
      "type": "object",
      "description": "Image management information for individual network functions",
      "properties": {
        "currentImageVersion": {
          "type": "string",
          "readOnly": true,
          "description": "The image version this network function is currently running"
        },
        "desiredImageVersion": {
          "type": "string",
          "readOnly": true,
          "description": "The image version to which this network function will be upgraded"
        }
      }
    },
    "BaseMetrics": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "mobilityManagement": {
          "type": "object",
          "properties": {
            "currentSaauCount": {
              "type": "integer",
              "description": "Current count of Simultaneously Attached Active Users. Informational"
            },
            "peakInHourSaauCount": {
              "type": "integer",
              "description": "Peak count of Simultaneously Attached Active Users in the current hour. Used for billing"
            },
            "hourlyPeakInDaySaauCount": {
              "type": "integer",
              "description": "Peak hourly count of Simultaneously Attached Active Users in the current day. Informational"
            },
            "hourlyPeakInMonthSaauCount": {
              "type": "integer",
              "description": "Peak hourly count of Simultaneously Attached Active Users in the current month. Informational"
            }
          }
        },
        "sessionManagement": {
          "type": "object",
          "properties": {
            "currentSessionCount": {
              "type": "integer",
              "description": "Current count of PDU Sessions. Informational"
            },
            "peakInHourSessionCount": {
              "type": "integer",
              "description": "Peak count of PDU Sessions in the current hour. Used for billing"
            },
            "hourlyPeakInDaySessionCount": {
              "type": "integer",
              "description": "Peak hourly count of PDU Sessions in the current day. Informational"
            },
            "hourlyPeakInMonthSessionCount": {
              "type": "integer",
              "description": "Peak hourly count of PDU Sessions in the current month. Informational"
            }
          }
        },
        "non3gppAccess": {
          "type": "object",
          "properties": {
            "currentSessionCount": {
              "type": "integer",
              "description": "Current count of PDU Sessions"
            },
            "peakInHourSessionCount": {
              "type": "integer",
              "description": "Peak count of PDU Sessions in the current hour. Used for billing"
            },
            "hourlyPeakInDaySessionCount": {
              "type": "integer",
              "description": "Peak hourly count of PDU Sessions in the current day. Informational"
            },
            "hourlyPeakInMonthSessionCount": {
              "type": "integer",
              "description": "Peak hourly count of PDU Sessions in the current month. Informational"
            }
          }
        },
        "userPlane": {
          "type": "object",
          "properties": {
            "currentTonnage": {
              "type": "number",
              "description": "Current tonnage (GB). Informational"
            },
            "hourlyTonnage": {
              "type": "number",
              "description": "Tonnage in the current hour (GB). Used for billing"
            },
            "hourlyPeakInDayTonnage": {
              "type": "number",
              "description": "Peak hourly tonnage in the current day (GB). Informational"
            },
            "hourlyPeakInMonthTonnage": {
              "type": "number",
              "description": "Peak hourly tonnage in the current month (GB). Informational"
            }
          }
        }
      }
    },
    "DeploymentStatus": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "staged",
            "deployinging",
            "deployed"
          ],
          "x-ms-enum": {
            "name": "deploymentState",
            "modelAsString": true
          }
        },
        "lifecycleManagement": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "string",
                "description": "Timestamp of triggering snapshot event"
              },
              "snapshotId": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "URI of triggering snapshot event"
              },
              "operation": {
                "type": "string",
                "enum": [
                  "instantiate",
                  "terminate"
                ],
                "x-ms-enum": {
                  "name": "lcmOperation",
                  "modelAsString": true
                }
              },
              "status": {
                "type": "string",
                "enum": [
                  "processing",
                  "succeeded",
                  "failed",
                  "cancelled"
                ],
                "x-ms-enum": {
                  "name": "lcmStatus",
                  "modelAsString": true
                }
              },
              "details": {
                "type": "string",
                "description": "Details of the LCM event"
              }
            }
          }
        },
        "configurationManagement": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "string",
                "description": "Timestamp of triggering snapshot event"
              },
              "snapshotId": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "URI of triggering snapshot event"
              },
              "status": {
                "type": "string",
                "enum": [
                  "processing",
                  "succeeded",
                  "failed",
                  "cancelled"
                ],
                "x-ms-enum": {
                  "name": "cmStatus",
                  "modelAsString": true
                }
              },
              "details": {
                "type": "string",
                "description": "Details of the LCM event"
              }
            }
          }
        },
        "baseMetrics": {
          "$ref": "./common.json#/definitions/BaseMetrics"
        },
        "allocatedIps": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "string",
                "description": "For what this IP range is used"
              },
              "startIp": {
                "$ref": "./common.json#/definitions/ipAddress"
              },
              "endIp": {
                "$ref": "./common.json#/definitions/ipAddress"
              },
              "aksDetails": {
                "type": "object",
                "properties": {
                  "subnetName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "allocatedNames": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "string",
                "description": "For what this name is used"
              },
              "name": {
                "type": "string",
                "description": "Allocated name"
              },
              "value": {
                "type": "string",
                "description": "Value of name"
              }
            }
          }
        }
      }
    },
    "PfcpPeers": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Unique name of the remote PFCP Peer"
          },
          "fqdn": {
            "$ref": "./common.json#/definitions/Fqdn",
            "description": "Peer FQDN"
          },
          "ipv4Address": {
            "$ref": "./common.json#/definitions/ipv4Address",
            "description": "Peer IPv4 Address"
          },
          "ipv6Address": {
            "$ref": "./common.json#/definitions/ipv6Address",
            "description": "Peer IPv6 Address"
          },
          "port": {
            "type": "integer",
            "description": "Peer port.  Default is 8805"
          }
        }
      },
      "description": "A list of remote PFCP peers with which the local NF instance communicates"
    },
    "ResolvedNrfs": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "discovery": {
            "type": "object",
            "properties": {
              "fqdn": {
                "$ref": "./common.json#/definitions/Fqdn",
                "description": "The FQDN of the NRF service"
              },
              "ipv4Address": {
                "$ref": "./common.json#/definitions/ipv4Address",
                "description": "The IPv4 of the NRF service"
              },
              "ipv6Address": {
                "$ref": "./common.json#/definitions/ipv6Address",
                "description": "The IPv6 of the NRF service"
              },
              "port": {
                "type": "integer",
                "description": "Port for the NRF Service. Default: 80",
                "default": 80,
                "maximum": 65536
              }
            }
          },
          "management": {
            "type": "object",
            "properties": {
              "fqdn": {
                "$ref": "./common.json#/definitions/Fqdn",
                "description": "The FQDN of the NRF service"
              },
              "ipv4Address": {
                "$ref": "./common.json#/definitions/ipv4Address",
                "description": "The IPv4 of the NRF service"
              },
              "ipv6Address": {
                "$ref": "./common.json#/definitions/ipv6Address",
                "description": "The IPv6 of the NRF service"
              },
              "port": {
                "type": "integer",
                "description": "Port for the NRF Service. Default: 80",
                "default": 80,
                "maximum": 65536
              }
            }
          }
        }
      }
    },
    "ReferencedResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        }
      },
      "description": "Reference to another resource.",
      "x-ms-azure-resource": true
    },
    "DistinguishedName": {
      "type": "string"
    },
    "enableDisable": {
      "type": "string",
      "enum": [
        "enabled",
        "disabled"
      ],
      "x-ms-enum": {
        "name": "enableDisable",
        "modelAsString": true
      },
      "description": "Enable/Disable enum"
    },
    "QosFlow": {
      "type": "object",
      "properties": {
        "fiveQi": {
          "type": "integer",
          "minimum": 0,
          "maximum": 255,
          "description": "Quality-of-service Identifier"
        },
        "arpPriorityLevel": {
          "type": "integer",
          "minimum": 1,
          "maximum": 15,
          "description": "allocation & retention priority:  higher values are preferred"
        },
        "arpPreemptionCapability": {
          "type": "string",
          "enum": [
            "NOT_PREEMPT",
            "MAY_PREEMPT"
          ],
          "x-ms-enum": {
            "name": "arpPreemptionCapability",
            "modelAsString": true
          }
        },
        "arpPreemptionVulnerability": {
          "type": "string",
          "enum": [
            "NOT_PREEMPTABLE",
            "MAY_PREEMPTABLE"
          ],
          "x-ms-enum": {
            "name": "arpPreemptionVulnerability",
            "modelAsString": true
          }
        },
        "nonGbrFlow": {
          "type": "boolean",
          "description": "indicates if this is non-gbr qos-flow",
          "default": false
        },
        "criticalGbrType": {
          "type": "boolean",
          "description": "delay critical gbr type.  applicable when nonGbrFlow = false",
          "default": false
        },
        "priorityLevel": {
          "type": "integer",
          "minimum": 1,
          "maximum": 127
        },
        "measurementUnit": {
          "type": "string",
          "enum": [
            "kbps",
            "mbps",
            "gbps"
          ],
          "x-ms-enum": {
            "name": "measurementUnit",
            "modelAsString": true
          },
          "description": "rate-measurement-units: kbps/mbps/gbps",
          "default": "kbps"
        },
        "uplink-mbr": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "uplink maximum bit rate"
        },
        "downlink-mbr": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink maximum bit rate"
        },
        "uplink-gbr": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "uplink guaranteed bit rate.  applicable when nonGbrFlow = false"
        },
        "downlink-gbr": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink guaranteed bit rate. applicable when nonGbrFlow = false"
        },
        "averaging-window": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4095,
          "description": "averaging window [1-4095] in ms. applicable when nonGbrFlow = false"
        },
        "max-burst": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4095,
          "description": "uplink maximum burst, measurement-units: bytes[1-4095]. applicable when nonGbrFlow = true"
        },
        "max-packet-loss-rate-dl": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink maximum packet loss rate. applicable when nonGbrFlow = false"
        },
        "max-packet-loss-rate-ul": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "up-link maximum packet loss rate. applicable when nonGbrFlow = false"
        },
        "reflectiveQos": {
          "type": "boolean",
          "description": "reflective qos config option. applicable when nonGbrFlow = true",
          "default": false
        }
      },
      "required": [
        "fiveQi",
        "arpPriorityLevel",
        "arpPreemptionCapability",
        "arpPreemptionVulnerability"
      ],
      "description": "must 'not((./non-gbr-flow = 'false') and ((count(./uplink-mbr) = 0 and count(./downlink-mbr) = 0) or (count(./uplink-gbr) = 0 and count(./downlink-gbr) = 0)))' error-message 'uplink-mbr/downlink-mbr and uplink-gbr/downlink-gbr must be greater than zero for GBR qos flow';must 'not((./non-gbr-flow = 'true') and ((./five-qi < 5) or (./five-qi > 64 and ./five-qi < 68) or (./five-qi = 75 ) or (./five-qi > 81 and ./five-qi < 86)))'  error-message 'non-dynamic non-gbr 5qi must be 5,6,7,8,9, 69, 70, 79, 80'; must 'not((./non-gbr-flow = 'false') and (./critical-gbr-type = 'false') and ((./five-qi > 4 and ./five-qi < 10) or (./five-qi = 69) or (./five-qi = 70) or (./five-qi = 79) or (./five-qi = 80) or (./five-qi > 81 and ./five-qi < 86)))' error-message 'non-dynamic non-critical-gbr 5qi must be 1, 2, 3, 4, 65, 66, 67, 75'; must 'not((./non-gbr-flow = 'false') and (./critical-gbr-type = 'true') and ((./five-qi < 10) or (./five-qi > 64 and ./five-qi < 68) or (./five-qi = 75) or (./five-qi = 69) or (./five-qi = 70) or (./five-qi = 79) or (./five-qi = 80)))' error-message 'non-dynamic critical gbr 5qi must be 82, 83, 84, 85';}"
    },
    "LoopbackUsage": {
      "type": "string",
      "enum": [
        "BGP",
        "BFD",
        "GTP-U",
        "RADIUS",
        "DIAMETER"
      ],
      "x-ms-enum": {
        "name": "LoopbackUsage",
        "modelAsString": true
      },
      "description": "Applications that can use a loopback"
    },
    "SscMode": {
      "type": "string",
      "enum": [
        "mode1",
        "mode2",
        "mode3"
      ],
      "x-ms-enum": {
        "name": "SscMode",
        "modelAsString": true
      },
      "description": "Applications that can use a loopback"
    },
    "PduType": {
      "type": "string",
      "enum": [
        "ipv4",
        "ipv6",
        "ipv4v6"
      ],
      "x-ms-enum": {
        "name": "PduType",
        "modelAsString": true
      },
      "description": "Applications that can use a loopback"
    },
    "networkContext": {
      "type": "string",
      "pattern": "^([a-zA-Z]([a-zA-Z0-9-._]){1,64})"
    },
    "dscp": {
      "type": "string",
      "enum": [
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20",
        "21",
        "22",
        "23",
        "24",
        "25",
        "26",
        "27",
        "28",
        "29",
        "30",
        "31",
        "32",
        "33",
        "34",
        "35",
        "36",
        "37",
        "38",
        "39",
        "40",
        "41",
        "42",
        "43",
        "44",
        "45",
        "46",
        "47",
        "48",
        "49",
        "50",
        "51",
        "52",
        "53",
        "54",
        "55",
        "56",
        "57",
        "58",
        "59",
        "60",
        "61",
        "62",
        "63",
        "df",
        "af11",
        "af12",
        "af13",
        "af21",
        "af22",
        "af23",
        "af31",
        "af32",
        "af33",
        "af41",
        "af42",
        "af43",
        "cs1",
        "cs2",
        "cs3",
        "cs4",
        "cs5",
        "cs6",
        "cs7",
        "ef"
      ],
      "x-ms-enum": {
        "name": "dscpValue",
        "modelAsString": true
      },
      "description": "DSCP Marking Values"
    },
    "ipv4Address": {
      "type": "string",
      "pattern": "^([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3})$"
    },
    "ipv6Address": {
      "type": "string",
      "pattern": "^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]).){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]).){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$"
    },
    "ipAddress": {
      "type": "object",
      "properties": {
        "ipv4": {
          "$ref": "#/definitions/ipv4Address"
        },
        "ipv6": {
          "$ref": "#/definitions/ipv6Address"
        }
      }
    },
    "TraceProbability": {
      "type": "number",
      "minimum": 0.0,
      "maximum": 1.0
    },
    "Fqdn": {
      "type": "string"
    },
    "TagsObject": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    },
    "TaiConfig": {
      "properties": {
        "tai": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tai"
          }
        },
        "plmnId": {
          "type": "object",
          "$ref": "#/definitions/PlmnId"
        },
        "taiList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaiList"
          }
        }
      },
      "required": [
        "plmnId"
      ]
    },
    "Version": {
      "properties": {
        "apiVersionUri": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "v1",
            "v2"
          ],
          "x-ms-enum": {
            "name": "ApiVersionUri",
            "modelAsString": true
          }
        },
        "apiFullVersion": {
          "type": "string"
        },
        "expiry": {
          "type": "string"
        }
      }
    },
    "Tai": {
      "type": "object",
      "properties": {
        "plmnId": {
          "$ref": "#/definitions/PlmnId"
        },
        "tac": {
          "type": "integer",
          "maximum": 16777215
        }
      }
    },
    "PlmnId": {
      "type": "object",
      "properties": {
        "mcc": {
          "type": "string",
          "pattern": "^[0-9]{3}$"
        },
        "mnc": {
          "type": "string",
          "pattern": "^[0-9]{2,3}$"
        }
      },
      "required": [
        "mcc",
        "mnc"
      ]
    },
    "TaiList": {
      "type": "array",
      "items": {
        "$ref": "./common.json#/definitions/Tai"
      }
    },
    "DataNetworkName": {
      "type": "string",
      "pattern": "([a-zA-Z0-9]([a-zA-Z0-9-._]){0,63})"
    },
    "Dnai": {
      "properties": {
        "name": {
          "type": "string",
          "pattern": "([a-zA-Z]([a-zA-Z0-9-._]){0,63})",
          "description": "Data-Network-Access-Identifier name. This name must be unique."
        }
      },
      "required": [
        "name"
      ]
    },
    "Snssai": {
      "type": "object",
      "properties": {
        "sst": {
          "type": "string",
          "readOnly": false,
          "enum": [
            "eMBB",
            "mMTC",
            "uRRLC"
          ],
          "x-ms-enum": {
            "name": "Sst",
            "modelAsString": true
          },
          "description": "Slice service type"
        },
        "sd": {
          "type": "string",
          "description": "Slice differentiator. Format is 3 octets specified in 2 digit hexidecimal format",
          "pattern": "([A-Fa-f0-9]{6})"
        }
      },
      "required": [
        "sst",
        "sd"
      ]
    }
  },
  "parameters": {
    "MPCName": {
      "name": "mpcName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Mobile Packetcore name"
    },
    "AreaName": {
      "name": "aName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Zone base config name"
    },
    "SiteName": {
      "name": "sName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Cluster base config name"
    },
    "DeploymentAreaNameParameter": {
      "name": "deploymentAreaName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Deployment area name"
    },
    "NfviNameParameter": {
      "name": "nfviName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "NFVI name"
    },
    "ServiceAreaName": {
      "name": "serviceAreaName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the service area."
    },
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Cluster name"
    }
  }
}
