{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The resources in this swagger specification will be used to manage the virtual network functions deployed using mobile packet core",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Accepted",
        "Deleting",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "TimeZone": {
      "type": "string",
      "description": "The time zone name or POSIX-compliant time zone string",
      "enum": [
        "Africa/Abidjan",
        "Africa/Accra",
        "Africa/Addis_Ababa",
        "Africa/Algiers",
        "Africa/Asmara",
        "Africa/Asmera",
        "Africa/Bamako",
        "Africa/Bangui",
        "Africa/Banjul",
        "Africa/Bissau",
        "Africa/Blantyre",
        "Africa/Brazzaville",
        "Africa/Bujumbura",
        "Africa/Cairo",
        "Africa/Casablanca",
        "Africa/Ceuta",
        "Africa/Conakry",
        "Africa/Dakar",
        "Africa/Dar_es_Salaam",
        "Africa/Djibouti",
        "Africa/Douala",
        "Africa/El_Aaiun",
        "Africa/Freetown",
        "Africa/Gaborone",
        "Africa/Harare",
        "Africa/Johannesburg",
        "Africa/Juba",
        "Africa/Kampala",
        "Africa/Khartoum",
        "Africa/Kigali",
        "Africa/Kinshasa",
        "Africa/Lagos",
        "Africa/Libreville",
        "Africa/Lome",
        "Africa/Luanda",
        "Africa/Lubumbashi",
        "Africa/Lusaka",
        "Africa/Malabo",
        "Africa/Maputo",
        "Africa/Maseru",
        "Africa/Mbabane",
        "Africa/Mogadishu",
        "Africa/Monrovia",
        "Africa/Nairobi",
        "Africa/Ndjamena",
        "Africa/Niamey",
        "Africa/Nouakchott",
        "Africa/Ouagadougou",
        "Africa/Porto-Novo",
        "Africa/Sao_Tome",
        "Africa/Timbuktu",
        "Africa/Tripoli",
        "Africa/Tunis",
        "Africa/Windhoek",
        "America/Adak",
        "America/Anchorage",
        "America/Anguilla",
        "America/Antigua",
        "America/Araguaina",
        "America/Argentina/Buenos_Aires",
        "America/Argentina/Catamarca",
        "America/Argentina/ComodRivadavia",
        "America/Argentina/Cordoba",
        "America/Argentina/Jujuy",
        "America/Argentina/La_Rioja",
        "America/Argentina/Mendoza",
        "America/Argentina/Rio_Gallegos",
        "America/Argentina/Salta",
        "America/Argentina/San_Juan",
        "America/Argentina/San_Luis",
        "America/Argentina/Tucuman",
        "America/Argentina/Ushuaia",
        "America/Aruba",
        "America/Asuncion",
        "America/Atikokan",
        "America/Atka",
        "America/Bahia",
        "America/Bahia_Banderas",
        "America/Barbados",
        "America/Belem",
        "America/Belize",
        "America/Blanc-Sablon",
        "America/Boa_Vista",
        "America/Bogota",
        "America/Boise",
        "America/Buenos_Aires",
        "America/Cambridge_Bay",
        "America/Campo_Grande",
        "America/Cancun",
        "America/Caracas",
        "America/Catamarca",
        "America/Cayenne",
        "America/Cayman",
        "America/Chicago",
        "America/Chihuahua",
        "America/Coral_Harbour",
        "America/Cordoba",
        "America/Costa_Rica",
        "America/Creston",
        "America/Cuiaba",
        "America/Curacao",
        "America/Danmarkshavn",
        "America/Dawson",
        "America/Dawson_Creek",
        "America/Denver",
        "America/Detroit",
        "America/Dominica",
        "America/Edmonton",
        "America/Eirunepe",
        "America/El_Salvador",
        "America/Ensenada",
        "America/Fortaleza",
        "America/Fort_Nelson",
        "America/Fort_Wayne",
        "America/Glace_Bay",
        "America/Godthab",
        "America/Goose_Bay",
        "America/Grand_Turk",
        "America/Grenada",
        "America/Guadeloupe",
        "America/Guatemala",
        "America/Guayaquil",
        "America/Guyana",
        "America/Halifax",
        "America/Havana",
        "America/Hermosillo",
        "America/Indiana/Indianapolis",
        "America/Indiana/Knox",
        "America/Indiana/Marengo",
        "America/Indiana/Petersburg",
        "America/Indianapolis",
        "America/Indiana/Tell_City",
        "America/Indiana/Vevay",
        "America/Indiana/Vincennes",
        "America/Indiana/Winamac",
        "America/Inuvik",
        "America/Iqaluit",
        "America/Jamaica",
        "America/Jujuy",
        "America/Juneau",
        "America/Kentucky/Louisville",
        "America/Kentucky/Monticello",
        "America/Knox_IN",
        "America/Kralendijk",
        "America/La_Paz",
        "America/Lima",
        "America/Los_Angeles",
        "America/Louisville",
        "America/Lower_Princes",
        "America/Maceio",
        "America/Managua",
        "America/Manaus",
        "America/Marigot",
        "America/Martinique",
        "America/Matamoros",
        "America/Mazatlan",
        "America/Mendoza",
        "America/Menominee",
        "America/Merida",
        "America/Metlakatla",
        "America/Mexico_City",
        "America/Miquelon",
        "America/Moncton",
        "America/Monterrey",
        "America/Montevideo",
        "America/Montreal",
        "America/Montserrat",
        "America/Nassau",
        "America/New_York",
        "America/Nipigon",
        "America/Nome",
        "America/Noronha",
        "America/North_Dakota/Beulah",
        "America/North_Dakota/Center",
        "America/North_Dakota/New_Salem",
        "America/Nuuk",
        "America/Ojinaga",
        "America/Panama",
        "America/Pangnirtung",
        "America/Paramaribo",
        "America/Phoenix",
        "America/Port-au-Prince",
        "America/Porto_Acre",
        "America/Port_of_Spain",
        "America/Porto_Velho",
        "America/Puerto_Rico",
        "America/Punta_Arenas",
        "America/Rainy_River",
        "America/Rankin_Inlet",
        "America/Recife",
        "America/Regina",
        "America/Resolute",
        "America/Rio_Branco",
        "America/Rosario",
        "America/Santa_Isabel",
        "America/Santarem",
        "America/Santiago",
        "America/Santo_Domingo",
        "America/Sao_Paulo",
        "America/Scoresbysund",
        "America/Shiprock",
        "America/Sitka",
        "America/St_Barthelemy",
        "America/St_Johns",
        "America/St_Kitts",
        "America/St_Lucia",
        "America/St_Thomas",
        "America/St_Vincent",
        "America/Swift_Current",
        "America/Tegucigalpa",
        "America/Thule",
        "America/Thunder_Bay",
        "America/Tijuana",
        "America/Toronto",
        "America/Tortola",
        "America/Vancouver",
        "America/Virgin",
        "America/Whitehorse",
        "America/Winnipeg",
        "America/Yakutat",
        "America/Yellowknife",
        "Antarctica/Casey",
        "Antarctica/Davis",
        "Antarctica/DumontDUrville",
        "Antarctica/Macquarie",
        "Antarctica/Mawson",
        "Antarctica/McMurdo",
        "Antarctica/Palmer",
        "Antarctica/Rothera",
        "Antarctica/South_Pole",
        "Antarctica/Syowa",
        "Antarctica/Troll",
        "Antarctica/Vostok",
        "Arctic/Longyearbyen",
        "Asia/Aden",
        "Asia/Almaty",
        "Asia/Amman",
        "Asia/Anadyr",
        "Asia/Aqtau",
        "Asia/Aqtobe",
        "Asia/Ashgabat",
        "Asia/Ashkhabad",
        "Asia/Atyrau",
        "Asia/Baghdad",
        "Asia/Bahrain",
        "Asia/Baku",
        "Asia/Bangkok",
        "Asia/Barnaul",
        "Asia/Beirut",
        "Asia/Bishkek",
        "Asia/Brunei",
        "Asia/Chita",
        "Asia/Choibalsan",
        "Asia/Chongqing",
        "Asia/Colombo",
        "Asia/Dacca",
        "Asia/Damascus",
        "Asia/Dhaka",
        "Asia/Dili",
        "Asia/Dubai",
        "Asia/Dushanbe",
        "Asia/Famagusta",
        "Asia/Gaza",
        "Asia/Harbin",
        "Asia/Hebron",
        "Asia/Ho_Chi_Minh",
        "Asia/Hong_Kong",
        "Asia/Hovd",
        "Asia/Irkutsk",
        "Asia/Istanbul",
        "Asia/Jakarta",
        "Asia/Jayapura",
        "Asia/Jerusalem",
        "Asia/Kabul",
        "Asia/Kamchatka",
        "Asia/Karachi",
        "Asia/Kashgar",
        "Asia/Kathmandu",
        "Asia/Katmandu",
        "Asia/Khandyga",
        "Asia/Kolkata",
        "Asia/Krasnoyarsk",
        "Asia/Kuala_Lumpur",
        "Asia/Kuching",
        "Asia/Kuwait",
        "Asia/Macao",
        "Asia/Macau",
        "Asia/Magadan",
        "Asia/Makassar",
        "Asia/Manila",
        "Asia/Muscat",
        "Asia/Nicosia",
        "Asia/Novokuznetsk",
        "Asia/Novosibirsk",
        "Asia/Omsk",
        "Asia/Oral",
        "Asia/Phnom_Penh",
        "Asia/Pontianak",
        "Asia/Pyongyang",
        "Asia/Qatar",
        "Asia/Qostanay",
        "Asia/Qyzylorda",
        "Asia/Riyadh",
        "Asia/Sakhalin",
        "Asia/Samarkand",
        "Asia/Seoul",
        "Asia/Shanghai",
        "Asia/Singapore",
        "Asia/Srednekolymsk",
        "Asia/Taipei",
        "Asia/Tashkent",
        "Asia/Tbilisi",
        "Asia/Tehran",
        "Asia/Tel_Aviv",
        "Asia/Thimbu",
        "Asia/Thimphu",
        "Asia/Tokyo",
        "Asia/Tomsk",
        "Asia/Ujung_Pandang",
        "Asia/Ulaanbaatar",
        "Asia/Ulan_Bator",
        "Asia/Urumqi",
        "Asia/Ust-Nera",
        "Asia/Vientiane",
        "Asia/Vladivostok",
        "Asia/Yakutsk",
        "Asia/Yangon",
        "Asia/Yekaterinburg",
        "Asia/Yerevan",
        "Atlantic/Azores",
        "Atlantic/Bermuda",
        "Atlantic/Canary",
        "Atlantic/Cape_Verde",
        "Atlantic/Faeroe",
        "Atlantic/Faroe",
        "Atlantic/Jan_Mayen",
        "Atlantic/Madeira",
        "Atlantic/Reykjavik",
        "Atlantic/South_Georgia",
        "Atlantic/Stanley",
        "Atlantic/St_Helena",
        "Australia/ACT",
        "Australia/Adelaide",
        "Australia/Brisbane",
        "Australia/Broken_Hill",
        "Australia/Canberra",
        "Australia/Currie",
        "Australia/Darwin",
        "Australia/Eucla",
        "Australia/Hobart",
        "Australia/LHI",
        "Australia/Lindeman",
        "Australia/Lord_Howe",
        "Australia/Melbourne",
        "Australia/North",
        "Australia/NSW",
        "Australia/Perth",
        "Australia/Queensland",
        "Australia/South",
        "Australia/Sydney",
        "Australia/Tasmania",
        "Australia/Victoria",
        "Australia/West",
        "Australia/Yancowinna",
        "Brazil/Acre",
        "Brazil/DeNoronha",
        "Brazil/East",
        "Brazil/West",
        "Canada/Atlantic",
        "Canada/Central",
        "Canada/Eastern",
        "Canada/Mountain",
        "Canada/Newfoundland",
        "Canada/Pacific",
        "Canada/Saskatchewan",
        "Canada/Yukon",
        "CET",
        "Chile/Continental",
        "Chile/EasterIsland",
        "CST6CDT",
        "Cuba",
        "EET",
        "Egypt",
        "Eire",
        "EST",
        "EST5EDT",
        "Etc/GMT",
        "Etc/GMTplus0",
        "Etc/GMTminus0",
        "Etc/GMT0",
        "Etc/GMTplus1",
        "Etc/GMTminus1",
        "Etc/GMTplus10",
        "Etc/GMTminus10",
        "Etc/GMTplus11",
        "Etc/GMTminus11",
        "Etc/GMTplus12",
        "Etc/GMTminus12",
        "Etc/GMTminus13",
        "Etc/GMTminus14",
        "Etc/GMTplus2",
        "Etc/GMTminus2",
        "Etc/GMTplus3",
        "Etc/GMTminus3",
        "Etc/GMTplus4",
        "Etc/GMTminus4",
        "Etc/GMTplus5",
        "Etc/GMTminus5",
        "Etc/GMTplus6",
        "Etc/GMTminus6",
        "Etc/GMTplus7",
        "Etc/GMTminus7",
        "Etc/GMTplus8",
        "Etc/GMTminus8",
        "Etc/GMTplus9",
        "Etc/GMTminus9",
        "Etc/Greenwich",
        "Etc/UCT",
        "Etc/Universal",
        "Etc/UTC",
        "Etc/Zulu",
        "Europe/Amsterdam",
        "Europe/Andorra",
        "Europe/Astrakhan",
        "Europe/Athens",
        "Europe/Belfast",
        "Europe/Belgrade",
        "Europe/Berlin",
        "Europe/Bratislava",
        "Europe/Brussels",
        "Europe/Bucharest",
        "Europe/Budapest",
        "Europe/Busingen",
        "Europe/Chisinau",
        "Europe/Copenhagen",
        "Europe/Dublin",
        "Europe/Gibraltar",
        "Europe/Guernsey",
        "Europe/Helsinki",
        "Europe/Isle_of_Man",
        "Europe/Istanbul",
        "Europe/Jersey",
        "Europe/Kaliningrad",
        "Europe/Kiev",
        "Europe/Kirov",
        "Europe/Lisbon",
        "Europe/Ljubljana",
        "Europe/London",
        "Europe/Luxembourg",
        "Europe/Madrid",
        "Europe/Malta",
        "Europe/Mariehamn",
        "Europe/Minsk",
        "Europe/Monaco",
        "Europe/Moscow",
        "Europe/Nicosia",
        "Europe/Oslo",
        "Europe/Paris",
        "Europe/Podgorica",
        "Europe/Prague",
        "Europe/Riga",
        "Europe/Rome",
        "Europe/Samara",
        "Europe/San_Marino",
        "Europe/Sarajevo",
        "Europe/Saratov",
        "Europe/Simferopol",
        "Europe/Skopje",
        "Europe/Sofia",
        "Europe/Stockholm",
        "Europe/Tallinn",
        "Europe/Tirane",
        "Europe/Tiraspol",
        "Europe/Ulyanovsk",
        "Europe/Uzhgorod",
        "Europe/Vaduz",
        "Europe/Vatican",
        "Europe/Vienna",
        "Europe/Vilnius",
        "Europe/Volgograd",
        "Europe/Warsaw",
        "Europe/Zagreb",
        "Europe/Zaporozhye",
        "Europe/Zurich",
        "GB",
        "GB-Eire",
        "GMT",
        "GMTplus0",
        "GMTminus0",
        "GMT0",
        "Greenwich",
        "Hongkong",
        "HST",
        "Iceland",
        "Indian/Antananarivo",
        "Indian/Chagos",
        "Indian/Christmas",
        "Indian/Cocos",
        "Indian/Comoro",
        "Indian/Kerguelen",
        "Indian/Mahe",
        "Indian/Maldives",
        "Indian/Mauritius",
        "Indian/Mayotte",
        "Indian/Reunion",
        "Iran",
        "Israel",
        "Jamaica",
        "Japan",
        "Kwajalein",
        "Libya",
        "MET",
        "Mexico/BajaNorte",
        "Mexico/BajaSur",
        "Mexico/General",
        "MST",
        "MST7MDT",
        "Navajo",
        "NZ",
        "NZ-CHAT",
        "Pacific/Apia",
        "Pacific/Auckland",
        "Pacific/Bougainville",
        "Pacific/Chatham",
        "Pacific/Chuuk",
        "Pacific/Easter",
        "Pacific/Efate",
        "Pacific/Enderbury",
        "Pacific/Fakaofo",
        "Pacific/Fiji",
        "Pacific/Funafuti",
        "Pacific/Galapagos",
        "Pacific/Gambier",
        "Pacific/Guadalcanal",
        "Pacific/Guam",
        "Pacific/Honolulu",
        "Pacific/Johnston",
        "Pacific/Kanton",
        "Pacific/Kiritimati",
        "Pacific/Kosrae",
        "Pacific/Kwajalein",
        "Pacific/Majuro",
        "Pacific/Marquesas",
        "Pacific/Midway",
        "Pacific/Nauru",
        "Pacific/Niue",
        "Pacific/Norfolk",
        "Pacific/Noumea",
        "Pacific/Pago_Pago",
        "Pacific/Palau",
        "Pacific/Pitcairn",
        "Pacific/Pohnpei",
        "Pacific/Ponape",
        "Pacific/Port_Moresby",
        "Pacific/Rarotonga",
        "Pacific/Saipan",
        "Pacific/Samoa",
        "Pacific/Tahiti",
        "Pacific/Tarawa",
        "Pacific/Tongatapu",
        "Pacific/Truk",
        "Pacific/Wake",
        "Pacific/Wallis",
        "Pacific/Yap",
        "Poland",
        "Portugal",
        "PRC",
        "PST8PDT",
        "ROK",
        "Singapore",
        "Turkey",
        "UCT",
        "Universal",
        "US/Alaska",
        "US/Aleutian",
        "US/Arizona",
        "US/Central",
        "US/Eastern",
        "US/East-Indiana",
        "US/Hawaii",
        "US/Indiana-Starke",
        "US/Michigan",
        "US/Mountain",
        "US/Pacific",
        "US/Pacific-New",
        "US/Samoa",
        "UTC",
        "WET",
        "W-SU",
        "Zulu"
      ],
      "x-ms-enum": {
        "name": "timezoneString",
        "modelAsString": true
      }
    },
    "NetworkFunctionType": {
      "type": "string",
      "description": "Type of network function",
      "enum": [
        "SMF",
        "AMF",
        "UPF",
        "NRF",
        "NSSF",
        "SAEGW-UP",
        "SAEGW-CP",
        "MME"
      ],
      "x-ms-enum": {
        "name": "NetworkFunctionType",
        "modelAsString": true
      }
    },
    "NetworkFunctionVersionManagement": {
      "type": "object",
      "description": "Image management information for individual network functions",
      "properties": {
        "currentImageVersion": {
          "type": "string",
          "readOnly": true,
          "description": "The image version this network function is currently running"
        },
        "desiredImageVersion": {
          "type": "string",
          "readOnly": true,
          "description": "The image version to which this network function will be upgraded"
        }
      }
    },
    "BaseMetrics": {
      "type": "object",
      "description": "Base metrics used for billing purposes",
      "readOnly": true,
      "properties": {
        "mobilityManagement": {
          "type": "object",
          "description": "Metrics applicable to mobility management functions",
          "properties": {
            "currentSaauCount": {
              "type": "integer",
              "description": "Gauge showing the current count of Simultaneously Attached Active Users."
            }
          }
        },
        "sessionManagement": {
          "type": "object",
          "description": "Metrics applicable to session management functions",
          "properties": {
            "currentSessionCount": {
              "type": "integer",
              "description": "Gauge showing the current count of PDU Sessions."
            }
          }
        },
        "userPlane": {
          "type": "object",
          "description": "Metrics applicable to user plane functions",
          "properties": {
            "currentTonnage": {
              "type": "number",
              "description": "Total tonnage (GB)"
            }
          }
        }
      }
    },
    "DeploymentStatus": {
      "type": "object",
      "description": "Status of the deployment",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of the deployment",
          "enum": [
            "staged",
            "deployinging",
            "deployed"
          ],
          "x-ms-enum": {
            "name": "deploymentState",
            "modelAsString": true
          }
        },
        "lifecycleManagement": {
          "type": "array",
          "description": "Information about lifecycle management events",
          "items": {
            "type": "object",
            "properties": {
              "startTimestamp": {
                "type": "string",
                "format": "date-time",
                "description": "Start timestamp (UTC) of triggering snapshot event"
              },
              "endTimestamp": {
                "type": "string",
                "format": "date-time",
                "description": "End timestamp (UTC) of triggering snapshot event"
              },
              "snapshotId": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "URI of triggering snapshot event"
              },
              "operation": {
                "type": "string",
                "description": "Operation ID for this event",
                "enum": [
                  "instantiate",
                  "terminate"
                ],
                "x-ms-enum": {
                  "name": "lcmOperation",
                  "modelAsString": true
                }
              },
              "status": {
                "type": "string",
                "description": "Status of this event",
                "enum": [
                  "processing",
                  "succeeded",
                  "failed",
                  "cancelled"
                ],
                "x-ms-enum": {
                  "name": "lcmStatus",
                  "modelAsString": true
                }
              },
              "details": {
                "type": "string",
                "description": "Details of the LCM event"
              }
            }
          }
        },
        "configurationManagement": {
          "type": "array",
          "description": "Information about configuration management events",
          "items": {
            "type": "object",
            "properties": {
              "startTimestamp": {
                "type": "string",
                "format": "date-time",
                "description": "Start timestamp (UTC) of triggering snapshot event"
              },
              "endTimestamp": {
                "type": "string",
                "format": "date-time",
                "description": "End timestamp (UTC) of triggering snapshot event"
              },
              "snapshotId": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "URI of triggering snapshot event"
              },
              "status": {
                "type": "string",
                "description": "Status of this event",
                "enum": [
                  "processing",
                  "succeeded",
                  "failed",
                  "cancelled"
                ],
                "x-ms-enum": {
                  "name": "cmStatus",
                  "modelAsString": true
                }
              },
              "details": {
                "type": "string",
                "description": "Details of the LCM event"
              }
            }
          }
        },
        "allocatedIps": {
          "type": "array",
          "description": "IPs that have been allocated for this deployment",
          "items": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "string",
                "description": "For what this IP range is used"
              },
              "startIp": {
                "$ref": "./common.json#/definitions/ipAddress"
              },
              "endIp": {
                "$ref": "./common.json#/definitions/ipAddress"
              },
              "aksDetails": {
                "type": "object",
                "description": "Information applicable to AKS deployments",
                "properties": {
                  "subnetName": {
                    "type": "string",
                    "description": "Name of the vnet subnet from which this IP range is allocated."
                  }
                }
              }
            }
          }
        },
        "allocatedNames": {
          "type": "array",
          "description": "Names that have been allocated for this deployment",
          "items": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "string",
                "description": "For what this name is used"
              },
              "name": {
                "type": "string",
                "description": "Allocated name"
              },
              "value": {
                "type": "string",
                "description": "Value of name"
              }
            }
          }
        }
      }
    },
    "PfcpPeers": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Unique name of the remote PFCP Peer"
          },
          "fqdn": {
            "$ref": "./common.json#/definitions/Fqdn",
            "description": "Peer FQDN"
          },
          "ipv4Address": {
            "$ref": "./common.json#/definitions/ipv4Address",
            "description": "Peer IPv4 Address"
          },
          "ipv6Address": {
            "$ref": "./common.json#/definitions/ipv6Address",
            "description": "Peer IPv6 Address"
          },
          "port": {
            "type": "integer",
            "description": "Peer port.  Default is 8805"
          }
        }
      },
      "description": "A list of remote PFCP peers with which the local NF instance communicates"
    },
    "ResolvedNrfs": {
      "type": "array",
      "description": "Resolved NRF information",
      "items": {
        "type": "object",
        "properties": {
          "discovery": {
            "type": "object",
            "description": "NRF discovery interface information",
            "properties": {
              "fqdn": {
                "$ref": "./common.json#/definitions/Fqdn",
                "description": "The FQDN of the NRF service"
              },
              "ipv4Address": {
                "$ref": "./common.json#/definitions/ipv4Address",
                "description": "The IPv4 of the NRF service"
              },
              "ipv6Address": {
                "$ref": "./common.json#/definitions/ipv6Address",
                "description": "The IPv6 of the NRF service"
              },
              "port": {
                "type": "integer",
                "description": "Port for the NRF Service. Default: 80",
                "default": 80,
                "maximum": 65536
              }
            }
          },
          "management": {
            "type": "object",
            "description": "NRF management interface information",
            "properties": {
              "fqdn": {
                "$ref": "./common.json#/definitions/Fqdn",
                "description": "The FQDN of the NRF service"
              },
              "ipv4Address": {
                "$ref": "./common.json#/definitions/ipv4Address",
                "description": "The IPv4 of the NRF service"
              },
              "ipv6Address": {
                "$ref": "./common.json#/definitions/ipv6Address",
                "description": "The IPv6 of the NRF service"
              },
              "port": {
                "type": "integer",
                "description": "Port for the NRF Service. Default: 80",
                "default": 80,
                "maximum": 65536
              }
            }
          }
        }
      }
    },
    "Ao5gcBoolean": {
      "type": "string",
      "enum": [
        "true",
        "false"
      ],
      "x-ms-enum": {
        "name": "Ao5gcBoolean",
        "modelAsString": true
      },
      "description": "AO5GC defined boolean"
    },
    "ReferencedResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        }
      },
      "description": "Reference to another resource.",
      "x-ms-azure-resource": true
    },
    "DistinguishedName": {
      "type": "string",
      "description": "Distinguished name, as per TS 32.300"
    },
    "enableDisable": {
      "type": "string",
      "enum": [
        "enabled",
        "disabled"
      ],
      "x-ms-enum": {
        "name": "enableDisable",
        "modelAsString": true
      },
      "description": "Enable/Disable enum"
    },
    "QosFlow": {
      "type": "object",
      "properties": {
        "fiveQi": {
          "type": "integer",
          "minimum": 0,
          "maximum": 255,
          "description": "Quality-of-service Identifier"
        },
        "arpPriorityLevel": {
          "type": "integer",
          "minimum": 1,
          "maximum": 15,
          "description": "allocation & retention priority:  higher values are preferred"
        },
        "arpPreemptionCapability": {
          "type": "string",
          "enum": [
            "NOT_PREEMPT",
            "MAY_PREEMPT"
          ],
          "x-ms-enum": {
            "name": "arpPreemptionCapability",
            "modelAsString": true
          },
          "description": "Allocation and Retention Policy preemption capability"
        },
        "arpPreemptionVulnerability": {
          "type": "string",
          "enum": [
            "NOT_PREEMPTABLE",
            "MAY_PREEMPTABLE"
          ],
          "x-ms-enum": {
            "name": "arpPreemptionVulnerability",
            "modelAsString": true
          },
          "description": "Allocation and Retention Policy preemption vulnerability"
        },
        "nonGbrFlow": {
          "$ref": "./common.json#/definitions/Ao5gcBoolean",
          "description": "indicates if this is non-gbr qos-flow",
          "default": false
        },
        "criticalGbrType": {
          "$ref": "./common.json#/definitions/Ao5gcBoolean",
          "description": "delay critical gbr type.  applicable when nonGbrFlow = false",
          "default": false
        },
        "priorityLevel": {
          "type": "integer",
          "minimum": 1,
          "maximum": 127,
          "description": "Priority level of QoS flow"
        },
        "measurementUnit": {
          "type": "string",
          "enum": [
            "kbps",
            "mbps",
            "gbps"
          ],
          "x-ms-enum": {
            "name": "measurementUnit",
            "modelAsString": true
          },
          "description": "rate-measurement-units: kbps/mbps/gbps",
          "default": "kbps"
        },
        "uplinkMbr": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "uplink maximum bit rate"
        },
        "downlinkMbr": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink maximum bit rate"
        },
        "uplinkGbr": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "uplink guaranteed bit rate.  applicable when nonGbrFlow = false"
        },
        "downlinkGbr": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink guaranteed bit rate. applicable when nonGbrFlow = false"
        },
        "averagingWindow": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4095,
          "description": "averaging window [1-4095] in ms. applicable when nonGbrFlow = false"
        },
        "maxBurst": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4095,
          "description": "uplink maximum burst, measurement-units: bytes[1-4095]. applicable when nonGbrFlow = true"
        },
        "maxPacketLossRateDl": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink maximum packet loss rate. applicable when nonGbrFlow = false"
        },
        "maxPacketLossRateUl": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "up-link maximum packet loss rate. applicable when nonGbrFlow = false"
        },
        "reflectiveQos": {
          "$ref": "./common.json#/definitions/Ao5gcBoolean",
          "description": "reflective qos config option. applicable when nonGbrFlow = true",
          "default": false
        }
      },
      "required": [
        "fiveQi",
        "arpPriorityLevel",
        "arpPreemptionCapability",
        "arpPreemptionVulnerability"
      ],
      "description": "must 'not((./non-gbr-flow = 'false') and ((count(./uplink-mbr) = 0 and count(./downlink-mbr) = 0) or (count(./uplink-gbr) = 0 and count(./downlink-gbr) = 0)))' error-message 'uplink-mbr/downlink-mbr and uplink-gbr/downlink-gbr must be greater than zero for GBR qos flow';must 'not((./non-gbr-flow = 'true') and ((./five-qi < 5) or (./five-qi > 64 and ./five-qi < 68) or (./five-qi = 75 ) or (./five-qi > 81 and ./five-qi < 86)))'  error-message 'non-dynamic non-gbr 5qi must be 5,6,7,8,9, 69, 70, 79, 80'; must 'not((./non-gbr-flow = 'false') and (./critical-gbr-type = 'false') and ((./five-qi > 4 and ./five-qi < 10) or (./five-qi = 69) or (./five-qi = 70) or (./five-qi = 79) or (./five-qi = 80) or (./five-qi > 81 and ./five-qi < 86)))' error-message 'non-dynamic non-critical-gbr 5qi must be 1, 2, 3, 4, 65, 66, 67, 75'; must 'not((./non-gbr-flow = 'false') and (./critical-gbr-type = 'true') and ((./five-qi < 10) or (./five-qi > 64 and ./five-qi < 68) or (./five-qi = 75) or (./five-qi = 69) or (./five-qi = 70) or (./five-qi = 79) or (./five-qi = 80)))' error-message 'non-dynamic critical gbr 5qi must be 82, 83, 84, 85';}"
    },
    "LoopbackUsage": {
      "type": "string",
      "enum": [
        "BGP",
        "BFD",
        "GTP-U",
        "RADIUS",
        "DIAMETER"
      ],
      "x-ms-enum": {
        "name": "LoopbackUsage",
        "modelAsString": true
      },
      "description": "Applications that can use a loopback"
    },
    "SscMode": {
      "type": "string",
      "enum": [
        "mode1",
        "mode2",
        "mode3"
      ],
      "x-ms-enum": {
        "name": "SscMode",
        "modelAsString": true
      },
      "description": "Session and service continuity mode"
    },
    "PduType": {
      "type": "string",
      "enum": [
        "ipv4",
        "ipv6",
        "ipv4v6"
      ],
      "x-ms-enum": {
        "name": "PduType",
        "modelAsString": true
      },
      "description": "PDU Type"
    },
    "NetworkContextName": {
      "type": "string",
      "description": "Definition of a network context name",
      "pattern": "^([a-zA-Z]([a-zA-Z0-9-._]){1,64})"
    },
    "dscp": {
      "type": "string",
      "description": "DSCP marking, Valid values are: 0..63, df (0), af11 (10), af12 (12), af13 (14), af21 (18), af22 (20), af23 (22), af31 (26), af32 (28), af33 (30), af41 (34), af42 (36), af43 (38), cs1 (8), cs2 (16), cs3 (24), cs4 (32), cs5 (40), cs6 (48), cs7 (56), ef (46)",
      "enum": [
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20",
        "21",
        "22",
        "23",
        "24",
        "25",
        "26",
        "27",
        "28",
        "29",
        "30",
        "31",
        "32",
        "33",
        "34",
        "35",
        "36",
        "37",
        "38",
        "39",
        "40",
        "41",
        "42",
        "43",
        "44",
        "45",
        "46",
        "47",
        "48",
        "49",
        "50",
        "51",
        "52",
        "53",
        "54",
        "55",
        "56",
        "57",
        "58",
        "59",
        "60",
        "61",
        "62",
        "63",
        "df",
        "af11",
        "af12",
        "af13",
        "af21",
        "af22",
        "af23",
        "af31",
        "af32",
        "af33",
        "af41",
        "af42",
        "af43",
        "cs1",
        "cs2",
        "cs3",
        "cs4",
        "cs5",
        "cs6",
        "cs7",
        "ef"
      ],
      "x-ms-enum": {
        "name": "dscpValue",
        "modelAsString": true
      }
    },
    "ipv4Address": {
      "type": "string",
      "description": "IPv4 Address",
      "pattern": "^([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3})$"
    },
    "ipv6Address": {
      "type": "string",
      "description": "IPv6 Address",
      "pattern": "^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]).){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]).){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$"
    },
    "ipAddress": {
      "type": "object",
      "description": "IPv4, IPv6 or dual stack IP address",
      "properties": {
        "ipv4": {
          "$ref": "#/definitions/ipv4Address"
        },
        "ipv6": {
          "$ref": "#/definitions/ipv6Address"
        }
      }
    },
    "TraceProbability": {
      "type": "number",
      "description": "Probability (0.0-1.0) of tracing an event",
      "minimum": 0.0,
      "maximum": 1.0
    },
    "Fqdn": {
      "type": "string",
      "description": "Fully qualified domain name"
    },
    "TagsObject": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    },
    "Tac": {
      "type": "integer",
      "maximum": 16777215,
      "description": "Tracking Area Code"
    },
    "Tai": {
      "type": "object",
      "description": "Tracking Area Identifier",
      "properties": {
        "plmnId": {
          "$ref": "#/definitions/PlmnId"
        },
        "tac": {
          "$ref": "#/definitions/Tac"
        }
      }
    },
    "PlmnId": {
      "type": "object",
      "description": "Public Land Mobile Network ID",
      "properties": {
        "mcc": {
          "description": "Mobile Country Code",
          "type": "string",
          "pattern": "^[0-9]{3}$"
        },
        "mnc": {
          "description": "Mobile Network Code",
          "type": "string",
          "pattern": "^[0-9]{2,3}$"
        }
      },
      "required": [
        "mcc",
        "mnc"
      ]
    },
    "DataNetworkName": {
      "type": "string",
      "pattern": "([a-zA-Z0-9]([a-zA-Z0-9-._]){0,63})",
      "description": "Data network name as per TS 23.003.  Equivalent to APN"
    },
    "Dnai": {
      "type": "object",
      "description": "Data Network Access Identifier definition",
      "properties": {
        "name": {
          "type": "string",
          "pattern": "([a-zA-Z]([a-zA-Z0-9-._]){0,63})",
          "description": "Data-Network-Access-Identifier name. This name must be unique."
        }
      },
      "required": [
        "name"
      ]
    },
    "Snssai": {
      "type": "object",
      "description": "Single Network Slice Selection Assistance Information",
      "properties": {
        "sst": {
          "type": "string",
          "readOnly": false,
          "enum": [
            "eMBB",
            "mMTC",
            "uRRLC"
          ],
          "x-ms-enum": {
            "name": "Sst",
            "modelAsString": true
          },
          "description": "Slice service type"
        },
        "sd": {
          "type": "string",
          "description": "Slice differentiator. Format is 3 octets specified in 2 digit hexidecimal format",
          "pattern": "([A-Fa-f0-9]{6})"
        }
      },
      "required": [
        "sst",
        "sd"
      ]
    },
    "Ao5gcOperationStatus": {
      "description": "The current status of an async operation.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "id": {
          "description": "The fully qualified ID of the async operation, e.g. /subscriptions/id/locations/westus/operationsStatuses/sameguid",
          "type": "string"
        },
        "status": {
          "description": "The operation execution status.",
          "type": "string",
          "enum": [
            "Submitted",
            "Processing",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "Ao5gcOperationStatus",
            "modelAsString": true
          }
        },
        "resourceId": {
          "description": "Reference to the MPC that this async operation status relates to.",
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "startTime": {
          "description": "The start time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "The end time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "percentComplete": {
          "description": "Percentage of the operation that is complete.",
          "type": "number",
          "format": "double",
          "minimum": 0,
          "maximum": 100
        },
        "rpProperties": {
          "description": "Properties returned by the resource provider",
          "type": "object",
          "properties": {
            "nfInstance": {
              "description": "The NF tasks execution status.",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "resourceId": {
                    "description": "Reference to the NF instance.",
                    "$ref": "./common.json#/definitions/ReferencedResource"
                  },
                  "status": {
                    "description": "The aggregate execution status for tghe NF instance.",
                    "type": "string",
                    "enum": [
                      "Submitted",
                      "Processing",
                      "Succeeded",
                      "Failed",
                      "Canceled"
                    ],
                    "x-ms-enum": {
                      "name": "NfStatus",
                      "modelAsString": true
                    }
                  },
                  "startTime": {
                    "description": "The start time of the aggregate status.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "endTime": {
                    "description": "The end time of the the aggregate status.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "details": {
                    "description": "The detailed message for the NF instance.",
                    "type": "string"
                  },
                  "task": {
                    "description": "The execution statuses for child tasks for the NF instance.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "The task identifier, e.g. LCM-instantiate."
                        },
                        "snapshotId": {
                          "description": "Reference to the snapshot that this async operation status relates to.",
                          "$ref": "./common.json#/definitions/ReferencedResource"
                        },
                        "status": {
                          "description": "The task execution status.",
                          "type": "string",
                          "enum": [
                            "Submitted",
                            "Processing",
                            "Succeeded",
                            "Failed",
                            "Canceled"
                          ],
                          "x-ms-enum": {
                            "name": "DurableTaskStatus",
                            "modelAsString": true
                          }
                        },
                        "startTime": {
                          "description": "The start time of the task.",
                          "type": "string",
                          "format": "date-time"
                        },
                        "endTime": {
                          "description": "The end time of the task.",
                          "type": "string",
                          "format": "date-time"
                        },
                        "details": {
                          "description": "The detailed message for the task.",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "error": {
          "description": "If present, details of the operation error.",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorDetail"
        }
      },
      "required": [
        "status"
      ]
    }
  },
  "parameters": {
    "MPCName": {
      "name": "mpcName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Mobile Packetcore name",
      "x-ms-parameter-location": "client"
    },
    "NfviNameParameter": {
      "name": "nfviName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "NFVI name",
      "x-ms-parameter-location": "client"
    },
    "ServiceAreaName": {
      "name": "serviceAreaName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the service area.",
      "x-ms-parameter-location": "client"
    },
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Cluster name",
      "x-ms-parameter-location": "client"
    }
  }
}
