{
  "swagger": "2.0",
  "info": {
    "title": "ConfigSnapshot",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Configuration Snapshot resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/configSnapshots/{configSnapshotName}": {
      "get": {
        "tags": [
          "ConfigSnapshots"
        ],
        "operationId": "ConfigSnapshot_Get",
        "description": "Get information about the specified Mobile Packet Core Configuration Snapshot resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "configSnapshotName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the configSnapshot object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Configuration Snapshot resource.",
            "schema": {
              "$ref": "#/definitions/ConfigSnapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ConfigSnapshot": {
            "$ref": "./examples/ConfigSnapshotGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ConfigSnapshots"
        ],
        "operationId": "ConfigSnapshot_Delete",
        "description": "Deletes the specified Mobile Packet Core Configuration Snapshot resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "configSnapshotName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the configSnapshot object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the Mobile Packet Core Configuration Snapshot resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete ConfigSnapshot": {
            "$ref": "./examples/ConfigSnapshotDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/configSnapshots": {
      "get": {
        "tags": [
          "ConfigSnapshots"
        ],
        "operationId": "ConfigSnapshot_ListByMobilePacketCore",
        "description": "Lists all the Configuration Snapshots in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/ConfigSnapshotListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ConfigSnapshots by mobile packet core instance": {
            "$ref": "./examples/ConfigSnapshotListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ConfigSnapshotPropertiesFormat": {
      "type": "object",
      "properties": {
        "activationState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "active",
            "inactive",
            "inProgress",
            "rollingBack",
            "failed"
          ],
          "x-ms-enum": {
            "name": "activationState",
            "modelAsString": true
          },
          "description": "Current activation state of the configuration snapshot"
        },
        "activationStatus": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "actived",
            "partiallyActivated",
            "failed"
          ],
          "x-ms-enum": {
            "name": "activationStatus",
            "modelAsString": true
          },
          "description": "Last activation status of the configuration snapshot"
        },
        "armResources": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "details": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ConfigSnapshot": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConfigSnapshotPropertiesFormat",
          "description": "Mobile Packet Core Configuration Snapshot properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Configuration Snapshot resource."
    },
    "ConfigSnapshotListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigSnapshot"
          },
          "description": "A list of Mobile Packet Core Configuration Snapshot objects in a mobile packet core instance."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Configuration Snapshot API service call."
    }
  }
}
