{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore Deployment Area.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas/{deploymentAreaName}": {
      "put": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentAreas_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Deployment Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "#/parameters/DeploymentAreaNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            },
            "description": "Parameters supplied to create or update a deployment area object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore Deployment Area resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore Deployment Area resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Deployment Area": {
            "$ref": "./examples/DeploymentAreaCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentAreas_Get",
        "description": "Get information about the specified Mobile Packet Core Deployment Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "#/parameters/DeploymentAreaNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore Deployment Area resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Deployment Area": {
            "$ref": "./examples/DeploymentAreaGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentAreas_Delete",
        "description": "Deletes the specified Mobile Packet Core Deployment Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "#/parameters/DeploymentAreaNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore Deployment Area resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Deployment Area": {
            "$ref": "./examples/DeploymentAreaDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentAreas_UpdateTags",
        "description": "Update Mobile Packet Core Deployment Area tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "#/parameters/DeploymentAreaNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore Deployment Area resource Tag.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Deployment Area Tags": {
            "$ref": "./examples/DeploymentAreaUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas": {
      "get": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentAreas_ListByMobilePacketCore",
        "description": "Lists all the Deployment Area resources in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/DeploymentAreaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Deployment Areas by resource group": {
            "$ref": "./examples/DeploymentAreaListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NfProfiles": {
      "type": "object",
      "description": "NF-specific profile applicable to this deployment area",
      "properties": {
        "saegwCp": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "saegwUp": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "vMme": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "smf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "upf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "nrf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "nssf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "amf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        }
      }
    },
    "DeploymentAreaPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "mobilityManagement": {
          "type": "object",
          "description": "Mobility management parameters applicable to this deployment area",
          "properties": {
            "regionId": {
              "type": "integer",
              "minimum": 0,
              "maximum": 255,
              "description": "AMF region identifier - part of GUAMI"
            },
            "setIdRange": {
              "type": "object",
              "description": "AMF set identifier - part of GUAMI.  This needs to be unique within the region",
              "properties": {
                "start": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 1023,
                  "description": "AMF set identifier start value - part of GUAMI"
                },
                "end": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 1023,
                  "description": "AMF set identifier end value - part of GUAMI"
                }
              }
            }
          },
          "required": [
            "regionId",
            "setIdRange"
          ]
        },
        "nfProfiles": {
          "$ref": "#/definitions/NfProfiles"
        },
        "serviceAreaList": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "priority": {
                "type": "integer",
                "minimum": 1,
                "maximum": 255,
                "description": "Priority of the service area"
              },
              "serviceArea": {
                "$ref": "./common.json#/definitions/ReferencedResource"
              }
            }
          },
          "description": "A list of service areas that make up the deployment area and their relative priority."
        },
        "routing": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The routing instances applicable to this deployment area"
        },
        "dpi": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "DPI config applicable to this deployment area"
        },
        "externalElements": {
          "type": "object",
          "description": "External elements that are used by NFs in this deployment area",
          "properties": {
            "dns": {
              "type": "array",
              "description": "Domain Name System servers",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of remote DNS server"
                  },
                  "ipaddress": {
                    "$ref": "./common.json#/definitions/ipAddress"
                  }
                }
              }
            },
            "ntp": {
              "type": "array",
              "description": "Netowrk Time Protocol servers",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of NTP server"
                  },
                  "ipaddress": {
                    "$ref": "./common.json#/definitions/ipAddress"
                  }
                }
              }
            },
            "nrf": {
              "type": "object",
              "description": "External NRF configuration",
              "properties": {
                "discovery": {
                  "type": "object",
                  "description": "Discovery API",
                  "properties": {
                    "fqdn": {
                      "$ref": "./common.json#/definitions/Fqdn",
                      "description": "The FQDN of the NRF service"
                    },
                    "ipv4Address": {
                      "$ref": "./common.json#/definitions/ipv4Address",
                      "description": "The IPv4 of the NRF service"
                    },
                    "ipv6Address": {
                      "$ref": "./common.json#/definitions/ipv6Address",
                      "description": "The IPv6 of the NRF service"
                    },
                    "port": {
                      "type": "integer",
                      "description": "Port for the NRF Service. Default: 80",
                      "default": 80,
                      "maximum": 65536
                    }
                  }
                },
                "management": {
                  "type": "object",
                  "description": "Management API",
                  "properties": {
                    "fqdn": {
                      "$ref": "./common.json#/definitions/Fqdn",
                      "description": "The FQDN of the NRF service"
                    },
                    "ipv4Address": {
                      "$ref": "./common.json#/definitions/ipv4Address",
                      "description": "The IPv4 of the NRF service"
                    },
                    "ipv6Address": {
                      "$ref": "./common.json#/definitions/ipv6Address",
                      "description": "The IPv6 of the NRF service"
                    },
                    "port": {
                      "type": "integer",
                      "description": "Port for the NRF Service. Default: 80",
                      "default": 80,
                      "maximum": 65536
                    }
                  }
                }
              }
            }
          }
        }
      },
      "description": "The MobilePacketCore Deployment Area Format resource definition."
    },
    "DeploymentArea": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DeploymentAreaPropertiesFormat",
          "description": "Mobile Packet Core deployment area properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore Deployment Area resource."
    },
    "DeploymentAreaListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentArea"
          },
          "description": "A list of MobilePacketCore Deployment Area objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore DeploymentArea API service call."
    }
  },
  "parameters": {
    "DeploymentAreaNameParameter": {
      "name": "deploymentAreaName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Deployment area name",
      "x-ms-parameter-location": "client"
    }
  }
}
