{
  "swagger": "2.0",
  "info": {
    "title": "DeploymentArea",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore Deployment Area.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas/{deploymentAreaName}": {
      "put": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Deployment Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore Deployment Area resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore Deployment Area resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Deployment Area": {
            "$ref": "./examples/DeploymentAreaCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_Get",
        "description": "Get information about the specified Mobile Packet Core Deployment Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore Deployment Area resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Deployment Area": {
            "$ref": "./examples/DeploymentAreaGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_Delete",
        "description": "Deletes the specified Mobile Packet Core Deployment Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore Deployment Area resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Deployment Area": {
            "$ref": "./examples/DeploymentAreaDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_UpdateTags",
        "description": "Update Mobile Packet Core Deployment Area tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore Deployment Area resource Tag.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Deployment Area Tags": {
            "$ref": "./examples/DeploymentAreaUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas": {
      "get": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_ListByMobilePacketCore",
        "description": "Lists all the Deployment Area resources in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/DeploymentAreaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Deployment Areas by resource group": {
            "$ref": "./examples/DeploymentAreaListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "profileTrace": {
      "type": "object",
      "properties": {
        "mm": {
          "type": "object",
          "properties": {
            "n2DefaultProbability": {
              "$ref": "./common.json#/definitions/TraceProbability"
            }
          }
        },
        "sm": {
          "type": "object",
          "properties": {
            "smDefaultProbability": {
              "$ref": "./common.json#/definitions/TraceProbability"
            }
          }
        }
      }
    },
    "nfProfiles": {
      "type": "object",
      "properties": {
        "saegwCp": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "saegwUp": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "vMme": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "epdg": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "smf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "upf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "nrf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "nssf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "amf": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        }
      }
    },
    "DeploymentAreaPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the resource."
        },
        "mobilityManagement": {
          "type": "object",
          "properties": {
            "regionId": {
              "type": "integer",
              "minimum": 0,
              "maximum": 255
            },
            "forbiddenTaList": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of TAIs that are forbidden in this deployment area."
            }
          }
        },
        "nfProfiles": {
          "$ref": "#/definitions/nfProfiles"
        },
        "serviceAreaList": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "description": "A list of service areas that make up the deployment area."
        },
        "dnnList": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "description": "A list of DNNs supported by the deployment area."
        },
        "aaa3g4g": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "3G/4G AAA configuration"
        },
        "routing": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "description": "A list of routing instances applicable to this deployment area"
        },
        "securityDomain": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "Security configuration"
        },
        "dpi": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "DPI config applicable to this deployment area"
        },
        "externalElements": {
          "type": "object",
          "properties": {
            "dns": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of remote DNS server"
                  },
                  "ipaddress": {
                    "$ref": "./common.json#/definitions/ipAddress"
                  }
                }
              }
            },
            "ntp": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of NTP server"
                  },
                  "ipaddress": {
                    "$ref": "./common.json#/definitions/ipAddress"
                  }
                }
              }
            },
            "nrf": {
              "type": "object",
              "properties": {
                "discovery": {
                  "type": "object",
                  "properties": {
                    "fqdn": {
                      "$ref": "./common.json#/definitions/Fqdn"
                    },
                    "ipaddress": {
                      "$ref": "./common.json#/definitions/ipAddress"
                    },
                    "port": {
                      "type": "integer"
                    },
                    "heartbeatUrl": {
                      "type": "object",
                      "properties": {
                        "verb": {
                          "type": "string",
                          "enum": [
                            "get",
                            "patch",
                            "post",
                            "put"
                          ],
                          "x-ms-enum": {
                            "name": "httpVerb",
                            "modelAsString": true
                          }
                        },
                        "path": {
                          "type": "string",
                          "description": "API specific resource URI part. The specific resource must be compatible to the service-type of this service"
                        }
                      },
                      "description": "URI of the API to be used in the service heartbeat message. This is only applicable when the redundancy mode is set to 'primarySecondary'"
                    }
                  }
                },
                "management": {
                  "type": "object",
                  "properties": {
                    "fqdn": {
                      "$ref": "./common.json#/definitions/Fqdn"
                    },
                    "ipaddress": {
                      "$ref": "./common.json#/definitions/ipAddress"
                    },
                    "port": {
                      "type": "integer"
                    },
                    "serviceHeartbeatUrl": {
                      "type": "object",
                      "properties": {
                        "verb": {
                          "type": "string",
                          "enum": [
                            "get",
                            "patch",
                            "post",
                            "put"
                          ],
                          "x-ms-enum": {
                            "name": "httpVerb",
                            "modelAsString": true
                          }
                        },
                        "path": {
                          "type": "string",
                          "description": "API specific resource URI part. The specific resource must be compatible to the service-type of this service."
                        }
                      },
                      "description": "URI of the API to be used in the service heartbeat message. This is only applicable when the redundancy mode is set to 'primarySecondary'"
                    }
                  }
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "primary",
                    "secondary"
                  ],
                  "x-ms-enum": {
                    "name": "role",
                    "modelAsString": true
                  },
                  "description": "Remote NRF Role"
                },
                "priority": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 20,
                  "description": "Priority of the secondary NRF. Lower value is the higher priority"
                }
              }
            },
            "edrServer": {
              "type": "object",
              "properties": {}
            },
            "redundancyProfile": {
              "type": "object",
              "properties": {
                "nrf": {
                  "type": "object",
                  "properties": {
                    "redundancyMode": {
                      "type": "string",
                      "enum": [
                        "multiActive",
                        "primarySecondary"
                      ],
                      "x-ms-enum": {
                        "name": "redundancyMode",
                        "modelAsString": true
                      },
                      "description": "NRF Redundancy Mode"
                    },
                    "failoverErrorCode": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "minimum": 400,
                        "maximum": 599,
                        "description": "HTTP error codes (4xx to 5xx) to consider for detecting NRF failure and trigger failover, a max 30 error codes can be configured. Default: '429','460','500','501','502','503','504','508'"
                      }
                    },
                    "serviceHeartbeatInterval": {
                      "type": "integer",
                      "minimum": 30,
                      "maximum": 120,
                      "description": "Service heartbeat message per service interval in seconds; If it is configured for service 'nnrf-nfm' then NRF level failover is indicated.  Must be less than the NRF heartbeat interval"
                    },
                    "recoveryCount": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 3,
                      "description": "Number of successful service keep-alive responses received before moving back to Primary NRF. This is only applicable to primary NRF"
                    },
                    "failoverCount": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 3,
                      "description": "Number of monitoring failure responses received from the primary NRF before failover to secondary NRF"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "description": "The MobilePacketCore DeploymentArea resource definition."
    },
    "DeploymentArea": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DeploymentAreaPropertiesFormat",
          "description": "Mobile Packet Core deployment area properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore Deployment Area resource."
    },
    "DeploymentAreaListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentArea"
          },
          "description": "A list of MobilePacketCore Deployment Area objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore DeploymentArea API service call."
    }
  }
}
