{
  "swagger": "2.0",
  "info": {
    "title": "Dnn",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Data Network Name ( DNN ) resource.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/dnns/{dnnName}": {
      "put": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core DNN",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "dnnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Dnn object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore Dnn resource.",
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore Dnn resource.",
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Dnn": {
            "$ref": "./examples/DnnCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_Get",
        "description": "Get information about the specified Mobile Packet Core DNN`",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "dnnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Dnn object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore Dnn resource.",
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Dnn": {
            "$ref": "./examples/DnnGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_Delete",
        "description": "Deletes the specified Mobile Packet Core DNN.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "dnnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Dnn object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore Dnn resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Dnn": {
            "$ref": "./examples/DnnDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_UpdateTags",
        "description": "Update Mobile Packet Core Dnn tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "dnnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Dnn object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore Dnn resource Tag.",
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Dnn Tags": {
            "$ref": "./examples/DnnUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/dnns": {
      "get": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_ListByResourceGroup",
        "description": "Lists all the DNNs in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/DnnListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in dnn": {
            "$ref": "./examples/DnnListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "DnnPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the dnn resource."
        },
        "name": {
          "$ref": "./common.json#/definitions/Dnn"
        },
        "networkContext": {
          "$ref": "./common.json#/definitions/networkContext"
        },
        "allowedSelectionMode": {
          "type": "string",
          "enum": [
            "nonSubscribedDnnAllowed",
            "nonSubscribedDnnBlocked"
          ],
          "x-ms-enum": {
            "name": "allowedSelectionMode",
            "modelAsString": true
          }
        },
        "restriction": {
          "type": "integer",
          "minimum": 0,
          "maximum": 4
        },
        "dnsServerIpv4AddressPrimary": {
          "$ref": "./common.json#/definitions/ipv4Address"
        },
        "dnsIpv4AddressSecondary": {
          "$ref": "./common.json#/definitions/ipv4Address"
        },
        "dnsServerIpv6AddressPrimary": {
          "$ref": "./common.json#/definitions/ipv6Address"
        },
        "dnsServerIpv6AddressSecondary": {
          "$ref": "./common.json#/definitions/ipv6Address"
        },
        "pcoIpv4LinkMtuSize": {
          "type": "integer",
          "minimum": 576,
          "maximum": 9216
        },
        "pcoIpv4LinkMtuSizeRoaming": {
          "type": "integer",
          "minimum": 576,
          "maximum": 1800
        },
        "isEmergencyDnn": {
          "type": "boolean"
        },
        "pCscfList": {
          "type": "object",
          "properties": {
            "ipv4Addresses": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "primary": {
                    "$ref": "./common.json#/definitions/ipv4Address"
                  },
                  "secondary": {
                    "$ref": "./common.json#/definitions/ipv4Address"
                  },
                  "tertiary": {
                    "$ref": "./common.json#/definitions/ipv4Address"
                  },
                  "weight": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  }
                }
              },
              "description": "A list of IPv4 addresses of pcscf servers."
            },
            "ipv6Addresses": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "primary": {
                    "$ref": "./common.json#/definitions/ipv6Address"
                  },
                  "secondary": {
                    "$ref": "./common.json#/definitions/ipv6Address"
                  },
                  "tertiary": {
                    "$ref": "./common.json#/definitions/ipv6Address"
                  },
                  "weight": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  }
                }
              },
              "description": "A list of IPv6 addresses of pcscf servers."
            }
          }
        }
      },
      "description": "The MobilePacketCore Dnn resource definition."
    },
    "Dnn": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DnnPropertiesFormat",
          "description": "Mobile Packet Core DNN properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore Dnn resource."
    },
    "DnnListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dnn"
          },
          "description": "A list of MobilePacketCore DNN objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore DNN API service call."
    }
  }
}
