{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Deep Packet Inspection ( dpi ) resource.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/dpis/{dpiName}": {
      "put": {
        "tags": [
          "Dpis"
        ],
        "operationId": "Dpis_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core DPI resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "dpiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dpi object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dpi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore dpi resource.",
            "schema": {
              "$ref": "#/definitions/Dpi"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore dpi resource.",
            "schema": {
              "$ref": "#/definitions/Dpi"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create dpi": {
            "$ref": "./examples/DpiCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "Dpis"
        ],
        "operationId": "Dpis_Get",
        "description": "Get information about the specified Mobile Packet Core DPI resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "dpiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dpi object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore dpi resource.",
            "schema": {
              "$ref": "#/definitions/Dpi"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get dpi": {
            "$ref": "./examples/DpiGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Dpis"
        ],
        "operationId": "Dpis_Delete",
        "description": "Deletes the specified Mobile Packet Core DPI resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "dpiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dpi object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore dpi resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete dpi": {
            "$ref": "./examples/DpiDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "Dpis"
        ],
        "operationId": "Dpis_UpdateTags",
        "description": "Update Mobile Packet Core DPI tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "dpiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dpi object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore dpi resource Tag.",
            "schema": {
              "$ref": "#/definitions/Dpi"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update dpi Tags": {
            "$ref": "./examples/DpiUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/dpis": {
      "get": {
        "tags": [
          "Dpis"
        ],
        "operationId": "Dpis_ListByMobilePacketCore",
        "description": "Lists all the DPIs in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/DpiListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DPIs by mobile packet core instance": {
            "$ref": "./examples/DpiListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "DpiPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "tetheringQualityIndexValue": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 70,
          "description": "Percentage value for Quality Index (Confidence Index ) to mark connection as tethered 1..100"
        },
        "tetheringQualityIndexResultWeightPercentageTtl": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 80,
          "description": "Percentage value for Quality Index (Confidence Index ) weight for ttl method"
        },
        "tetheringQualityIndexResultWeightPercentageUserAgent": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 99,
          "description": "Percentage value for Quality Index (Confidence Index ) weight for user-agent method"
        },
        "tetheringQualityIndexResultWeightPercentageTcpFingerprinting": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 100,
          "description": "Percentage value for Quality Index (Confidence Index ) weight for tcp-fingerprinting"
        },
        "tetheringQualityIndexResultWeightPercentageGquicUserAgent": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 100,
          "description": "Percentage value for Quality Index (Confidence Index ) weight for gquic-user-agent"
        },
        "tetheringDetectionAlgorithmTtl": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "enabled",
          "description": "Admin state for running tethering detection algorithm using ttl"
        },
        "tetheringDetectionAlgorithmUserAgent": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "enabled",
          "description": "Admin state for running tethering detection algorithm using user-agent"
        },
        "tetheringDetectionAlgorithmTcpFingerprinting": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "disabled",
          "description": "Admin state for running tethering detection algorithm using tcp fingerprinting - Changes to this object do not take effect until the next POD restart"
        },
        "tetheringDetectionAlgorithmGquicUserAgent": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "disabled",
          "description": "Admin state for running tethering detection algorithm using gquic useragent - Changes to this object do not take effect until the next POD restart"
        },
        "tetheringDetectionAlgorithmTtlConnectionTracking": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "enabled",
          "description": "Admin state for running tethering detection algorithm using ttl by taking connection tracking into consideration"
        },
        "tetheringDetectionAlgorithmTdci": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "disabled",
          "description": "Admin state for running tethering detection algorithm using tdci"
        },
        "tetheringDetectionTdciWeightTtl": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 100,
          "description": "Tethering Detection Confidence Index weight in percentage for ttl method"
        },
        "tetheringDetectionTdciWeightUserAgent": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 0,
          "description": "Tethering Detection Confidence Index weight in percentage for user-agent method"
        },
        "tetheringDetectionTdciWeightTcpFingerprinting": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 70,
          "description": "Tethering Detection Confidence Index weight in percentage for tcp-fingerprinting"
        },
        "tetheringDetectionTdciWeightGquicUserAgent": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 100,
          "description": "Tethering Detection Confidence Index weight in percentage for gquic-user-agent"
        },
        "attributeDetectionPacketLimit": {
          "type": "integer",
          "minimum": 0,
          "maximum": 4294967294,
          "default": 50,
          "description": "The maximum number of packets to detect flow-attribute of a dpi flow"
        },
        "attributeDetectionOnlyFirstFlowAttribute": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "disabled",
          "description": "Consider only first attribute of a flow for rule match"
        },
        "controlAppsSkipAttrCheck": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "disabled",
          "description": "Admin state to enable/disable attribute check for marking control connections in Control Flow Feature"
        },
        "optimizeDpiRules": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "enabled",
          "description": "Evaluate required rules based on reclassification event trigger"
        },
        "optimizePargRules": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "enabled",
          "description": "Evaluate parg rules configured may match to classification event"
        },
        "tetheringDetectionPacketLimit": {
          "type": "integer",
          "minimum": 3,
          "maximum": 4294967294,
          "default": 64,
          "description": "The maximum number of packets of a flow to be analysed for tethering detection, default is 64. The minimum value that can be configured is 3"
        },
        "dpiPacketCountWithProxy": {
          "type": "integer",
          "minimum": 0,
          "maximum": 4294967294,
          "default": 50,
          "description": "Set the max packet count for dpi processing when proxy is enabled,0 is for all packets"
        }
      },
      "description": "The MobilePacketCore dpi resource definition."
    },
    "Dpi": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DpiPropertiesFormat",
          "description": "Mobile Packet Core DPI properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore dpi resource."
    },
    "DpiListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dpi"
          },
          "description": "A list of MobilePacketCore dpi objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore dpi API service call."
    }
  }
}
