{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCore",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}": {
      "put": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCores_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Mobile Packet Core": {
            "$ref": "./examples/MobilePacketCoreCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCores_Get",
        "description": "Get information about the specified Mobile Packet Core",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Mobile Packet Core": {
            "$ref": "./examples/MobilePacketCoreGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCores_Delete",
        "description": "Deletes the specified Mobile Packet Core.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Mobile Packet Core": {
            "$ref": "./examples/MobilePacketCoreDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCores_UpdateTags",
        "description": "Updates Mobile Packet Core tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore resource Tag.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Mobile Packet Core Tags": {
            "$ref": "./examples/MobilePacketCoreUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobilePacketCore/mobilePacketCores": {
      "get": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCores_ListBySubscription",
        "description": "Lists all the mobile packet cores in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of mobile packet core resources.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile packet cores in a subscription": {
            "$ref": "./examples/MobilePacketCoreListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores": {
      "get": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCores_ListByResourceGroup",
        "description": "Lists all the mobile packet cores in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile packet cores in a resource group": {
            "$ref": "./examples/MobilePacketCoreListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "epcInterworkingProfile": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "./common.json#/definitions/enableDisable"
        },
        "supportedType": {
          "type": "string",
          "enum": [
            "with-n26",
            "without-n26"
          ],
          "x-ms-enum": {
            "name": "n26Support",
            "modelAsString": true
          }
        },
        "sNssai": {
          "$ref": "./common.json#/definitions/Snssai",
          "description": "Default S-NSSAI value to be used for EPC interworking"
        }
      }
    },
    "emergencyServicesProfile": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "./common.json#/definitions/enableDisable"
        },
        "fallback": {
          "$ref": "./common.json#/definitions/enableDisable"
        },
        "emergencyUserOption": {
          "type": "string",
          "enum": [
            "validUesOnly",
            "authenticatedUesOnly",
            "supiRequiredUes",
            "allUes"
          ],
          "x-ms-enum": {
            "name": "emergencyUserOption",
            "modelAsString": true
          }
        },
        "skipAuthentication": {
          "$ref": "./common.json#/definitions/enableDisable"
        },
        "ueAmbrUplink": {
          "type": "integer",
          "minimum": 0,
          "maximum": 4000000000
        },
        "ueAmbrDownlink": {
          "type": "integer",
          "minimum": 0,
          "maximum": 4000000000
        },
        "sNssai": {
          "$ref": "./common.json#/definitions/Snssai",
          "description": "S-NSSAI value to be used for emergency calls"
        }
      }
    },
    "pfcpProfile": {
      "type": "object",
      "properties": {
        "pfcpAssociationRetryInterval": {
          "type": "integer"
        },
        "pfcpSessionResponseTimeout": {
          "type": "integer"
        },
        "pfcpSessionRetransmitCount": {
          "type": "integer"
        },
        "pfcpNodeResponseTimeout": {
          "type": "integer"
        },
        "pfcpNodeRetransmitCount": {
          "type": "integer"
        },
        "pfcpHeartbeatPeriodicInterval": {
          "type": "integer"
        },
        "pfcpHeartbeatDownThreshold": {
          "type": "integer"
        },
        "pfcpGuardTimeInterval": {
          "type": "integer"
        },
        "dscpMarking": {
          "$ref": "./common.json#/definitions/dscp"
        }
      }
    },
    "gtpcProfile": {
      "type": "object",
      "properties": {
        "n3Request": {
          "type": "integer"
        },
        "t3Response": {
          "type": "integer"
        },
        "echoInterval": {
          "type": "integer"
        },
        "t3EchoResponse": {
          "type": "integer"
        },
        "n3EchoRequest": {
          "type": "integer"
        },
        "inactivityTimer": {
          "type": "integer"
        },
        "t3PathRecoveryEchoResponse": {
          "type": "integer"
        },
        "dscpMarking": {
          "$ref": "./common.json#/definitions/dscp"
        }
      }
    },
    "dnsProfile": {
      "type": "object",
      "properties": {
        "dscpMarking": {
          "$ref": "./common.json#/definitions/dscp"
        }
      }
    },
    "edrProfile": {
      "type": "object",
      "properties": {
        "mm": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "enum": [
                  "mm",
                  "sm",
                  "ngap",
                  "lcs",
                  "sms",
                  "policy"
                ],
                "x-ms-enum": {
                  "name": "layerName",
                  "modelAsString": true
                }
              },
              "eventType": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "enum": [
                        "establishment",
                        "normalRelease",
                        "abnormalRelease",
                        "modification"
                      ],
                      "x-ms-enum": {
                        "name": "eventType",
                        "modelAsString": true
                      }
                    },
                    "outcomeType": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "success",
                          "failure",
                          "reject"
                        ],
                        "x-ms-enum": {
                          "name": "outcomeType",
                          "modelAsString": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "sm": {
          "type": "object",
          "properties": {
            "sessionEdr": {
              "$ref": "./common.json#/definitions/enableDisable"
            },
            "bearerEdr": {
              "$ref": "./common.json#/definitions/enableDisable"
            },
            "flowEdr": {
              "$ref": "./common.json#/definitions/enableDisable"
            },
            "httpEdr": {
              "$ref": "./common.json#/definitions/enableDisable"
            },
            "rttEdr": {
              "$ref": "./common.json#/definitions/enableDisable"
            },
            "eventType": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "enum": [
                      "establishment",
                      "release",
                      "modification"
                    ],
                    "x-ms-enum": {
                      "name": "eventType",
                      "modelAsString": true
                    }
                  },
                  "outcomeType": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "success",
                        "failure"
                      ],
                      "x-ms-enum": {
                        "name": "outcomeType",
                        "modelAsString": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "traceProfile": {
      "type": "object",
      "properties": {
        "mm": {
          "type": "object",
          "properties": {
            "n2Targets": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "ipv4AddressPrimary": {
                    "$ref": "./common.json#/definitions/ipv4Address"
                  },
                  "ipv4AddressSecondary": {
                    "$ref": "./common.json#/definitions/ipv4Address"
                  },
                  "ipv6AddressPrimary": {
                    "$ref": "./common.json#/definitions/ipv6Address"
                  },
                  "ipv6AddressSecondary": {
                    "$ref": "./common.json#/definitions/ipv6Address"
                  },
                  "probability": {
                    "$ref": "./common.json#/definitions/TraceProbability"
                  }
                },
                "required": [
                  "name"
                ]
              }
            },
            "sessions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "targetType": {
                    "type": "string",
                    "enum": [
                      "supi"
                    ],
                    "x-ms-enum": {
                      "name": "targetType",
                      "modelAsString": true
                    }
                  },
                  "targetValue": {
                    "type": "string",
                    "pattern": "^imsi-[0-9]{5,15}$"
                  },
                  "sessionId": {
                    "type": "string",
                    "pattern": "[0-9]{5,6}[.][0-9a-fA-F]{6}"
                  }
                },
                "required": [
                  "targetType",
                  "targetValue",
                  "sessionId"
                ]
              }
            }
          }
        },
        "sm": {
          "type": "object",
          "properties": {
            "sessions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "priority": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 255
                  },
                  "probability": {
                    "$ref": "./common.json#/definitions/TraceProbability"
                  },
                  "supi": {
                    "type": "string",
                    "pattern": "^imsi-[0-9]{5,15}$"
                  },
                  "pei": {
                    "type": "string",
                    "pattern": "^imei-[0-9]{5,15}$"
                  },
                  "gpsi": {
                    "type": "string",
                    "pattern": "^msisdn-[0-9]{5,15}$"
                  },
                  "dnn": {
                    "type": "string",
                    "pattern": "[a-zA-Z]([a-zA-Z0-9-._]){0,63}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "profile5g": {
      "type": "object",
      "properties": {
        "n26Profile": {
          "type": "object",
          "properties": {
            "gtpcProfile": {
              "$ref": "#/definitions/gtpcProfile"
            },
            "srcAmfResourceReleaseTimer": {
              "type": "integer"
            }
          }
        },
        "nchfProfile": {
          "type": "object",
          "properties": {
            "dscpMarking": {
              "$ref": "./common.json#/definitions/dscp"
            },
            "serverReachability": {
              "type": "object",
              "properties": {
                "failoverStatusCodes": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "The set of HTTP status codes received for which the Nchf request needs to be failovered to an alternate CHF server"
                }
              }
            },
            "blacklistedServerExpiryInterval": {
              "type": "integer",
              "minimum": 1,
              "maximum": 86400,
              "description": "Duration in seconds after which the CHF Server can be considered to be available for sending the Nchf requests to it."
            },
            "reachabilityFailuresPercentage": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of Nchf request failures within a duration defined by reachability-failures-duration configuration, after which the server is blocklisted."
            },
            "reachabilityFailuresDuration": {
              "type": "integer",
              "description": "The duration in seconds which is considered to monitor the percentage of Nchf request failures, defined by the reachability-failures-percentage, to check if given CHF server needs to be blocklisted or not."
            }
          }
        },
        "nnrfProfile": {
          "type": "object",
          "properties": {
            "discovery": {
              "type": "object",
              "properties": {
                "responseTimeout": {
                  "type": "integer",
                  "minimum": 500,
                  "maximum": 30000
                },
                "dscpMarking": {
                  "$ref": "./common.json#/definitions/dscp"
                }
              }
            },
            "management": {
              "type": "object",
              "properties": {
                "dscpMarking": {
                  "$ref": "./common.json#/definitions/dscp"
                },
                "includeTaiInNrfRegistration": {
                  "$ref": "./common.json#/definitions/enableDisable",
                  "description": "Applicable to AMF"
                },
                "subscriptionValidityTimer": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 31680
                },
                "heartbeatInterval": {
                  "type": "integer",
                  "minimum": 60,
                  "maximum": 360
                }
              }
            }
          }
        },
        "namfProfile": {
          "type": "object",
          "properties": {
            "dscpMarking": {
              "$ref": "./common.json#/definitions/dscp"
            },
            "events": {
              "type": "object",
              "properties": {
                "responseTimeout": {
                  "type": "integer",
                  "minimum": 500,
                  "maximum": 30000
                }
              }
            },
            "communications": {
              "type": "object",
              "properties": {
                "requestTimer": {
                  "type": "integer"
                },
                "responseTimeout": {
                  "type": "integer",
                  "minimum": 500,
                  "maximum": 30000
                },
                "srcAmfResourceReleaseTimer": {
                  "type": "integer"
                },
                "includeSeafData": {
                  "type": "string",
                  "enum": [
                    "excludeWhenUeValidated",
                    "always"
                  ],
                  "x-ms-enum": {
                    "name": "communicationsIncludeSeafData",
                    "modelAsString": true
                  }
                }
              }
            }
          }
        },
        "nausfProfile": {
          "type": "object",
          "properties": {
            "authRequestTimer": {
              "type": "integer"
            },
            "authSupportedFeaturesAuthenticationResultRemoval": {
              "$ref": "./common.json#/definitions/enableDisable"
            }
          }
        },
        "nudmProfile": {
          "type": "object",
          "properties": {
            "dscpMarking": {
              "$ref": "./common.json#/definitions/dscp"
            },
            "sdm": {
              "type": "object",
              "properties": {
                "requestTimer": {
                  "type": "integer"
                },
                "responseTimeout": {
                  "type": "integer",
                  "minimum": 500,
                  "maximum": 30000
                }
              }
            },
            "uecm": {
              "type": "object",
              "properties": {
                "requestTimer": {
                  "type": "integer"
                },
                "responseTimeout": {
                  "type": "integer",
                  "minimum": 500,
                  "maximum": 30000
                }
              }
            },
            "pp": {
              "type": "object",
              "properties": {
                "requestTimer": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "nsmfProfile": {
          "type": "object",
          "properties": {
            "pdusessionRequestTimer": {
              "type": "integer"
            }
          }
        },
        "nnssfProfile": {
          "type": "object",
          "properties": {
            "nsselectionRequestTimer": {
              "type": "integer"
            }
          }
        },
        "nsmsfProfile": {
          "type": "object",
          "properties": {
            "smsRequestTimer": {
              "type": "integer"
            }
          }
        },
        "npcfProfile": {
          "type": "object",
          "properties": {
            "dscpMarking": {
              "$ref": "./common.json#/definitions/dscp"
            },
            "policycontrol": {
              "type": "object",
              "properties": {
                "ueRequestTimer": {
                  "type": "integer"
                },
                "amRequestTimer": {
                  "type": "integer"
                },
                "responseTimeout": {
                  "type": "integer",
                  "minimum": 500,
                  "maximum": 30000
                }
              }
            }
          }
        },
        "nlmfProfile": {
          "type": "object",
          "properties": {
            "locRequestTimer": {
              "type": "integer"
            }
          }
        },
        "ngmlcProfile": {
          "type": "object",
          "properties": {
            "locRequestTimer": {
              "type": "integer"
            }
          }
        },
        "ngapProfile": {
          "type": "object",
          "properties": {
            "timeToWait": {
              "type": "integer"
            },
            "resetAckDelayTimer": {
              "type": "integer"
            },
            "n2ReleaseDelayTimer": {
              "type": "integer"
            },
            "relocPrepTimer": {
              "type": "integer"
            },
            "relocOverallTimer": {
              "type": "integer"
            },
            "handoverResourceReleaseTimer": {
              "type": "integer"
            },
            "waitForMobilityRegistrationTimer": {
              "type": "integer"
            }
          }
        },
        "nasProfile": {
          "type": "object",
          "properties": {
            "mmSignalingRateControlInitialRegistrationRateLimit": {
              "$ref": "./common.json#/definitions/enableDisable"
            },
            "pagingMaxVisitedGnbsTracked": {
              "type": "integer"
            },
            "pagingVisitedGnbsAllocation": {
              "type": "string",
              "enum": [
                "taiList",
                "unrestricted"
              ],
              "x-ms-enum": {
                "name": "pagingVisitedGnbsAllocation",
                "modelAsString": true
              }
            }
          }
        },
        "n2Profile": {
          "type": "object",
          "properties": {
            "dscpMarking": {
              "$ref": "./common.json#/definitions/dscp"
            },
            "localPort": {
              "type": "integer",
              "maximum": 65535
            },
            "sctp": {
              "type": "object",
              "properties": {
                "rtoInitial": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 5000
                },
                "rtoMin": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 5000
                },
                "rtoMax": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60000
                },
                "pathMaxRetrans": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 29
                },
                "associationInitMaxTransmit": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 10
                },
                "associationMaxRetrans": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 20
                },
                "noDelay": {
                  "type": "boolean"
                },
                "maxOutStream": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 64
                },
                "maxInStream": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 120
                },
                "hbInterval": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 5000
                },
                "rxBufferSize": {
                  "type": "integer",
                  "minimum": 25000,
                  "maximum": 2097152
                },
                "txBufferSize": {
                  "type": "integer",
                  "minimum": 16000,
                  "maximum": 5509000
                },
                "sackDelay": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 500
                },
                "sackFrequency": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 5
                }
              }
            }
          }
        }
      }
    },
    "profile4g": {
      "type": "object",
      "properties": {
        "s5Profile": {
          "type": "object",
          "properties": {
            "gtpcProfile": {
              "$ref": "#/definitions/gtpcProfile"
            }
          }
        },
        "s8Profile": {
          "type": "object",
          "properties": {
            "gtpcProfile": {
              "$ref": "#/definitions/gtpcProfile"
            }
          }
        },
        "s10Profile": {
          "type": "object",
          "properties": {
            "gtpcProfile": {
              "$ref": "#/definitions/gtpcProfile"
            }
          }
        },
        "s11Profile": {
          "type": "object",
          "properties": {
            "gtpcProfile": {
              "$ref": "#/definitions/gtpcProfile"
            }
          }
        }
      }
    },
    "MobilePacketCorePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "supportedServices": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "service5G",
              "service4G",
              "service3G",
              "service2G",
              "serviceSessionManagement",
              "serviceMobilityManagement"
            ],
            "x-ms-enum": {
              "name": "supportedServiceType",
              "modelAsString": true
            }
          },
          "description": "A list of supported services.  If not specified, all apply"
        },
        "fullNetworkName": {
          "type": "string"
        },
        "shortNetworkName": {
          "type": "string"
        },
        "emergencyServicesProfile": {
          "$ref": "#/definitions/emergencyServicesProfile"
        },
        "epcInterworkingProfile": {
          "$ref": "#/definitions/epcInterworkingProfile"
        },
        "pfcpProfile": {
          "$ref": "#/definitions/pfcpProfile"
        },
        "dnsProfile": {
          "$ref": "#/definitions/dnsProfile"
        },
        "edrProfile": {
          "$ref": "#/definitions/edrProfile"
        },
        "trace": {
          "$ref": "#/definitions/traceProfile"
        },
        "profile5g": {
          "$ref": "#/definitions/profile5g"
        },
        "profile4g": {
          "$ref": "#/definitions/profile4g"
        }
      },
      "required": [
        "fullNetworkName",
        "shortNetworkName"
      ],
      "description": "The MobilePacketCore resource definition."
    },
    "MobilePacketCore": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MobilePacketCorePropertiesFormat",
          "description": "Mobile packet core properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore resource."
    },
    "MobilePacketCoreListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MobilePacketCore"
          },
          "description": "A list of MobilePacketCore in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore API service call."
    }
  }
}
