{
  "swagger": "2.0",
  "info": {
    "title": "NetworkSlice",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Network Slice resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/networkSlices/{networkSliceName}": {
      "put": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlice_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core network slice",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "networkSliceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network slice object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore networkSlice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore networkSlice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Network Slice": {
            "$ref": "./examples/NetworkSliceCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlice_Get",
        "description": "Get information about the specified Mobile Packet Core network slice",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "networkSliceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network slice object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore networkSlice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Network Slice": {
            "$ref": "./examples/NetworkSliceGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlice_Delete",
        "description": "Deletes the specified Mobile Packet Core network slice`.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "networkSliceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network slice object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore networkSlice resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Network Slice": {
            "$ref": "./examples/NetworkSliceDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlice_UpdateTags",
        "description": "Update Mobile Packet Core network slice tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "networkSliceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network slice object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore networkSlice resource Tag.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Network Slice Tags": {
            "$ref": "./examples/NetworkSliceUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/networkSlices": {
      "get": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlice_ListByMobilePacketCore",
        "description": "Lists all the network slices in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NetworkSliceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Network Slices by resource group": {
            "$ref": "./examples/NetworkSliceListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkFunctionType": {
      "type": "string",
      "enum": [
        "upf",
        "amf",
        "smf"
      ],
      "x-ms-enum": {
        "name": "NetworkFunctionType",
        "modelAsString": true
      }
    },
    "PlmnInfo": {
      "type": "object",
      "properties": {
        "plmnId": {
          "$ref": "./common.json#/definitions/PlmnId"
        },
        "snssai": {
          "$ref": "./common.json#/definitions/Snssai"
        }
      }
    },
    "PlmnInfoList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PlmnInfo"
      }
    },
    "NrTac": {
      "type": "integer",
      "maximum": 16777215
    },
    "NrTacList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/NrTac"
      }
    },
    "NetworkSlicePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "sliceProfile": {
          "type": "object",
          "properties": {
            "serviceProfileId": {
              "type": "string"
            },
            "plmnInfoList": {
              "$ref": "#/definitions/PlmnInfoList"
            },
            "cnSliceSubnetProfile": {
              "type": "object",
              "properties": {
                "maxNumberofUEs": {
                  "type": "integer"
                },
                "maxNumberOfPDUSessions": {
                  "type": "integer"
                },
                "coverageAreaTAList": {
                  "type": "object",
                  "properties": {
                    "plmnId": {
                      "$ref": "./common.json#/definitions/PlmnId",
                      "description": "Must be a PlmnId specified in the PlmnInfoList.  If not specified, all PlmnIds in PlmnInfoList apply"
                    },
                    "nrTacList": {
                      "$ref": "#/definitions/NrTacList"
                    }
                  }
                }
              }
            },
            "managementProfile": {
              "type": "object",
              "properties": {
                "networkFunctionList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/NetworkFunctionType",
                    "description": "Type of network function to deploy with this slice"
                  }
                },
                "networkFunctionAttributes": {
                  "type": "object",
                  "properties": {
                    "amf": {
                      "type": "object",
                      "properties": {
                        "set": {
                          "type": "boolean",
                          "default": "false"
                        },
                        "instanceCount": {
                          "type": "integer",
                          "description": "Minimum number of AMF instances to deploy (per set if part of a set)"
                        }
                      }
                    },
                    "smf": {
                      "type": "object",
                      "properties": {
                        "set": {
                          "type": "boolean",
                          "default": "false"
                        },
                        "instanceCount": {
                          "type": "integer",
                          "description": "Minimum number of SMF instances to deploy (per set if part of a set)"
                        }
                      }
                    },
                    "upf": {
                      "type": "object",
                      "properties": {
                        "instanceCount": {
                          "type": "number",
                          "description": "Number of UPF instances to deploy"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "NetworkSlice": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkSlicePropertiesFormat",
          "description": "Mobile Packet Core network slice properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore networkSlice resource."
    },
    "NetworkSliceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSlice"
          },
          "description": "A list of MobilePacketCore networkSlice objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore networkSlice API service call."
    }
  }
}
