{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Network Repository Function Profile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nrfProfiles/{nrfProfileName}": {
      "put": {
        "tags": [
          "NrfProfiles"
        ],
        "operationId": "NrfProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Network Repository Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "nrfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nrfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NrfProfile"
            },
            "description": "Parameters supplied to create or update a NRF profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore nrfProfile resource.",
            "schema": {
              "$ref": "#/definitions/NrfProfile"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore nrfProfile resource.",
            "schema": {
              "$ref": "#/definitions/NrfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create NRF Profile": {
            "$ref": "./examples/NrfProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "NrfProfiles"
        ],
        "operationId": "NrfProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core Network Repository Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "nrfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nrfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore nrfProfile resource.",
            "schema": {
              "$ref": "#/definitions/NrfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get NRF Profile": {
            "$ref": "./examples/NrfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NrfProfiles"
        ],
        "operationId": "NrfProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core Network Repository Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "nrfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nrfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore nrfProfile resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete NRF Profile": {
            "$ref": "./examples/NrfProfileDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NrfProfiles"
        ],
        "operationId": "NrfProfiles_UpdateTags",
        "description": "Update Mobile Packet Core Network Repository Function Profile tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "nrfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nrfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update NRF Profile tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore nrfProfile resource Tag.",
            "schema": {
              "$ref": "#/definitions/NrfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update NRF Profile Tags": {
            "$ref": "./examples/NrfProfileUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nrfProfiles": {
      "get": {
        "tags": [
          "NrfProfiles"
        ],
        "operationId": "NrfProfiles_ListByMobilePacketCore",
        "description": "Lists all the Network Repository Function profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NrfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List NRF profiles by mobile packet core instance": {
            "$ref": "./examples/NrfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NrfProfilePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SMF profile resource."
        }
      },
      "description": "The MobilePacketCore NrfProfile resource definition."
    },
    "NrfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NrfProfilePropertiesFormat",
          "description": "Mobile Packet Core NRF Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore nrfProfile resource."
    },
    "NrfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NrfProfile"
          },
          "description": "A list of MobilePacketCore nrfProfile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore NrfProfile API service call."
    }
  }
}
