{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Network Slice Selection Function Profile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nssfProfiles/{nssfProfileName}": {
      "put": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Network Slice Selection Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "nssfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nssfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NssfProfile"
            },
            "description": "Parameters supplied to create or update a NSSF profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore nssfProfile resource.",
            "schema": {
              "$ref": "#/definitions/NssfProfile"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore nssfProfile resource.",
            "schema": {
              "$ref": "#/definitions/NssfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create NSSF Profile": {
            "$ref": "./examples/NssfProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core Network Slice Selection Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "nssfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nssfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore nssfProfile resource.",
            "schema": {
              "$ref": "#/definitions/NssfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get NSSF Profile": {
            "$ref": "./examples/NssfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core Network Slice Selection Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "nssfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nssfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore nssfProfile resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete NssfProfile": {
            "$ref": "./examples/NssfProfileDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_UpdateTags",
        "description": "Update Mobile Packet Core Network Slice Selection Function Profile tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "nssfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nssfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update NSSF Profile tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore nssfProfile resource Tag.",
            "schema": {
              "$ref": "#/definitions/NssfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update NSSF Profile Tags": {
            "$ref": "./examples/NssfProfileUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nssfProfiles": {
      "get": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_ListByMobilePacketCore",
        "description": "Lists all the Network Slice Selection Function profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NssfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List NSSF profiles by mobile packet core instance": {
            "$ref": "./examples/NssfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "matchCriteriaTypeWithContainsAll": {
      "enum": [
        "contains",
        "equals",
        "containsAll"
      ],
      "x-ms-enum": {
        "name": "matchCriteriaTypeWithContainsAll",
        "modelAsString": true
      },
      "description": "Match criteria contains all"
    },
    "matchCriteriaTypeWithOnlyContains": {
      "enum": [
        "contains"
      ],
      "x-ms-enum": {
        "name": "matchCriteriaTypeWithOnlyContains",
        "modelAsString": true
      },
      "description": "Match criteria"
    },
    "FilterTypeNssai": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeWithContainsAll"
        },
        "value": {
          "$ref": "./common.json#/definitions/Snssai"
        }
      },
      "description": "Filter type"
    },
    "FilterTypeTaiList": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeWithOnlyContains"
        },
        "tais": {
          "type": "array",
          "description": "List of tracking area identifiers",
          "items": {
            "$ref": "./common.json#/definitions/Tai"
          }
        }
      },
      "description": "Filter type"
    },
    "RegistrationAndUecuPolicy": {
      "type": "object",
      "description": "Parameters for registration and UECU policy",
      "properties": {
        "policyAction": {
          "enum": [
            "matchSubscribedWithRequestedNssai",
            "useLocalConfigNssaiAsAllowed"
          ],
          "x-ms-enum": {
            "name": "registrationAndUecuPolicy",
            "modelAsString": true
          },
          "description": "Action to take"
        },
        "allowedNssaiMaxSize": {
          "type": "integer",
          "minimum": 1,
          "maximum": 8,
          "description": "Maximum number of NSSAIs allowed"
        },
        "amfRerouteType": {
          "enum": [
            "rerouteNotAllowed",
            "useAmfSetId",
            "useAmfIdList"
          ],
          "x-ms-enum": {
            "name": "amfRerouteType",
            "modelAsString": true
          },
          "description": "AMF reroute policy"
        },
        "includeNsiInformation": {
          "$ref": "./common.json#/definitions/Ao5gcBoolean",
          "description": "Whether Network slice identifier should be included"
        }
      }
    },
    "NssfProfilePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SMF profile resource."
        },
        "analyzer": {
          "type": "object",
          "description": "Parameters for choosing a policy",
          "properties": {
            "filterSets": {
              "type": "array",
              "description": "Filters for selecting a policy",
              "items": {
                "type": "object",
                "properties": {
                  "currentTaiList": {
                    "$ref": "#/definitions/FilterTypeTaiList"
                  },
                  "subscribedNssai": {
                    "$ref": "#/definitions/FilterTypeNssai"
                  },
                  "requestedNssai": {
                    "$ref": "#/definitions/FilterTypeNssai"
                  }
                }
              }
            },
            "registrationAndUecuPolicy": {
              "$ref": "#/definitions/RegistrationAndUecuPolicy"
            },
            "pduEstablishmentPolicy": {
              "type": "object",
              "description": "Policy applied for PDU establishment",
              "properties": {
                "includeNsi": {
                  "$ref": "./common.json#/definitions/Ao5gcBoolean",
                  "description": "Whether Network slice identifier should be included"
                }
              }
            }
          }
        }
      },
      "description": "The MobilePacketCore NssfProfile resource definition."
    },
    "NssfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NssfProfilePropertiesFormat",
          "description": "Mobile Packet Core NSSF Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore nssfProfile resource."
    },
    "NssfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NssfProfile"
          },
          "description": "A list of MobilePacketCore nssfProfile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore NssfProfile API service call."
    }
  }
}
