{
  "swagger": "2.0",
  "info": {
    "title": "NssfDeployment",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore NSSF deployment object.",
    "version": "2023-04-15-preview",
    "x-ms-code-generation-settings": {
      "name": "NetworkFunctionResource"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas/{deploymentAreaName}/clusters/{clusterName}/nssfDeployments/{nssfDeploymentName}": {
      "put": {
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployment_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/NssfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NssfDeployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the NSSF resource.",
            "schema": {
              "$ref": "#/definitions/NssfDeployment"
            }
          },
          "201": {
            "description": "Creates the NSSF resource.",
            "schema": {
              "$ref": "#/definitions/NssfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create NssfDeployment": {
            "$ref": "./examples/NssfCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployment_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/NssfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the NSSF resource.",
            "schema": {
              "$ref": "#/definitions/NssfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get NssfDeployment": {
            "$ref": "./examples/NssfGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployment_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/NssfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the NSSF resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete NssfDeployment": {
            "$ref": "./examples/NssfDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "description": "Update NssfDeployments tags.",
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployment_UpdateTags",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/NssfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the NSSF resource.",
            "schema": {
              "$ref": "#/definitions/NssfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete NssfDeployment": {
            "$ref": "./examples/NssfUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas/{deploymentAreaName}/clusters/{clusterName}/nssfDeployments": {
      "get": {
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployment_Retrieve_All_By_MobilePacketCore",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NssfDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in network function": {
            "$ref": "./examples/NssfListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NssfDeploymentPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the network function resource."
        },
        "deploymentStatus": {
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the NSSF deployment",
          "properties": {
            "nssfName": {
              "type": "string"
            }
          }
        }
      },
      "description": "The NSSF resource definition."
    },
    "NssfDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NssfDeploymentPropertiesFormat",
          "description": "Mobile network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The NSSF network function resource."
    },
    "NssfDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NssfDeployment"
          },
          "description": "A list of NSSF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for NSSF network function API service call."
    }
  },
  "parameters": {
    "NssfDeploymentNameParameter": {
      "name": "nssfDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of NSSF deployment object."
    }
  }
}
