{
  "swagger": "2.0",
  "info": {
    "title": "packetFlowDescription",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore packetFlowDescription ( service-rule ) .",
    "version": "2022-09-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/packetFlowDescriptions/{packetFlowDescriptionName}": {
      "put": {
        "tags": [
          "packetFlowDescription"
        ],
        "operationId": "PacketFlowDescription_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "packetFlowDescriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the packetFlowDescription object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketFlowDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore packetFlowDescription resource.",
            "schema": {
              "$ref": "#/definitions/PacketFlowDescription"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore packetFlowDescription resource.",
            "schema": {
              "$ref": "#/definitions/PacketFlowDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create packetFlowDescription": {
            "$ref": "./examples/PacketFlowDescriptionCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "PacketFlowDescriptions"
        ],
        "operationId": "PacketFlowDescription_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "packetFlowDescriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the packetFlowDescription object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore packetFlowDescription resource.",
            "schema": {
              "$ref": "#/definitions/PacketFlowDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packetFlowDescription": {
            "$ref": "./examples/PacketFlowDescriptionGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PacketFlowDescriptions"
        ],
        "operationId": "PacketFlowDescription_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "packetFlowDescriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the packetFlowDescription object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore packetFlowDescription resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packetFlowDescription": {
            "$ref": "./examples/PacketFlowDescriptionDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "PacketFlowDescriptions"
        ],
        "operationId": "PacketFlowDescription_UpdateTags",
        "description": "Update MobilePacketCore packetFlowDescription tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "packetFlowDescriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the packetFlowDescription object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore packetFlowDescription resource Tag.",
            "schema": {
              "$ref": "#/definitions/PacketFlowDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update packetFlowDescription Tags": {
            "$ref": "./examples/PacketFlowDescriptionUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/PacketFlowDescriptions": {
      "get": {
        "tags": [
          "PacketFlowDescriptions"
        ],
        "operationId": "PacketFlowDescription_Retrieve_All",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/PacketFlowDescriptionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in network function": {
            "$ref": "./examples/PacketFlowDescriptionListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PacketFlowDescriptionPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the network function resource."
        },
        "name": {
          "type": "string",
          "pattern": "([a-zA-Z0-9]([a-zA-Z0-9-._]){0,63})"
        },
        "packetFilter": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "ipVersion": {
                "type": "string",
                "enum": [
                  "v4Only",
                  "v6Only",
                  "v4OrV6"
                ],
                "x-ms-enum": {
                  "name": "ipVersion",
                  "modelAsString": true
                }
              },
              "ueIpV4AddressStart": {
                "$ref": "./common.json#/definitions/ipv4Address"
              },
              "ueIpV4AddressEnd": {
                "$ref": "./common.json#/definitions/ipv4Address"
              },
              "networkIpV4AddressStart": {
                "$ref": "./common.json#/definitions/ipv4Address"
              },
              "networkIpV4AddressEnd": {
                "$ref": "./common.json#/definitions/ipv4Address"
              },
              "ueIpV6AddressStart": {
                "$ref": "./common.json#/definitions/ipv6Address"
              },
              "ueIpV6AddressEnd": {
                "$ref": "./common.json#/definitions/ipv6Address"
              },
              "networkIpV6AddressStart": {
                "$ref": "./common.json#/definitions/ipv6Address"
              },
              "networkIpV6AddressEnd": {
                "$ref": "./common.json#/definitions/ipv6Address"
              },
              "uePortStart": {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535
              },
              "uePortEnd": {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535
              },
              "networkPortStart": {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535
              },
              "networkPortEnd": {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535
              },
              "protocol": {
                "type": "integer",
                "minimum": 0,
                "maximum": 255
              },
              "initiator": {
                "type": "string",
                "enum": [
                  "ue",
                  "network",
                  "both"
                ],
                "x-ms-enum": {
                  "name": "initiator",
                  "modelAsString": true
                }
              },
              "minUplinkTtl": {
                "type": "integer",
                "minimum": 0,
                "maximum": 255
              },
              "maxUplinkTtl": {
                "type": "integer",
                "minimum": 0,
                "maximum": 255
              }
            }
          }
        },
        "httpRules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "rule": {
                "type": "string"
              },
              "priority": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4096
              },
              "hostBeginsWith": {
                "type": "string"
              },
              "hostRegex": {
                "type": "string"
              },
              "hostPortStart": {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535
              },
              "hostPortEnd": {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535
              },
              "hostExact": {
                "type": "string"
              },
              "hostContains": {
                "type": "string"
              },
              "media": {
                "type": "object",
                "properties": {
                  "abrAll": {
                    "type": "boolean"
                  },
                  "abrVideoType": {
                    "type": "object",
                    "properties": {
                      "hls": {
                        "type": "boolean"
                      },
                      "dash": {
                        "type": "boolean"
                      },
                      "hds": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tlsRules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "rule": {
                "type": "string"
              },
              "sniExact": {
                "type": "string"
              },
              "sniEndsWith": {
                "type": "string"
              }
            }
          }
        },
        "applicationRules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "rule": {
                "type": "string"
              },
              "applicationGroup": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "flowAttribute": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "priority": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4096
        }
      },
      "description": "The MobilePacketCore packetFlowDescription resource definition."
    },
    "PacketFlowDescription": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PacketFlowDescriptionPropertiesFormat",
          "description": "Mobile network packetFlowDescription properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore packetFlowDescription resource."
    },
    "PacketFlowDescriptionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PacketFlowDescription"
          },
          "description": "A list of MobilePacketCore packetFlowDescription objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore packetFlowDescription API service call."
    }
  }
}
