{
  "swagger": "2.0",
  "info": {
    "title": "packetDetectionRule",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore packet detection rule .",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/packetDetectionRules/{packetDetectionRuleName}": {
      "put": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRule_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Packet Detection Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "packetDetectionRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Detection Rule object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/packetDetectionRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore PacketDetectionRule resource.",
            "schema": {
              "$ref": "#/definitions/packetDetectionRule"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore PacketDetectionRule resource.",
            "schema": {
              "$ref": "#/definitions/packetDetectionRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Packet Detection Rule": {
            "$ref": "./examples/PacketDetectionRuleCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRule_Get",
        "description": "Get information about the specified Mobile Packet Core Packet Detection Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "packetDetectionRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Detection Rule object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore PacketDetectionRule resource.",
            "schema": {
              "$ref": "#/definitions/packetDetectionRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Packet Detection Rule": {
            "$ref": "./examples/PacketDetectionRuleGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRule_Delete",
        "description": "Deletes the specified Mobile Packet Core Packet Detection Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "packetDetectionRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Detection Rule object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore PacketDetectionRule resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Packet Detection Rule": {
            "$ref": "./examples/PacketDetectionRuleDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRule_UpdateTags",
        "description": "Update Mobile Packet Core Packet Detection Rule tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "packetDetectionRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Detection Rule object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore PacketDetectionRule resource Tag.",
            "schema": {
              "$ref": "#/definitions/packetDetectionRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Packet Detection Rule Tags": {
            "$ref": "./examples/PacketDetectionRuleUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/packetDetectionRules": {
      "get": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRule_ListByMobilePacketCore",
        "description": "Lists all the Packet Detection Rules in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/PacketDetectionRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Packet Detection Rules by resource group": {
            "$ref": "./examples/PacketDetectionRuleListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PacketDetectionRulePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the Packet Detection Rule resource."
        },
        "name": {
          "type": "string"
        },
        "pdrId": {
          "type": "integer",
          "minimum": 1,
          "maximum": 65535
        },
        "priority": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4096
        },
        "applicationId": {
          "type": "string"
        },
        "pfdList": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          }
        },
        "tdefVideoOptPolicy": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "tdefProxyPolicy": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "tdefClientTcpOptProfile": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "tdefServerTcpOptProfile": {
          "$ref": "./common.json#/definitions/ReferencedResource"
        },
        "firewallServicePolicyList": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "priority": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4096
              },
              "natPool": {
                "$ref": "./common.json#/definitions/ReferencedResource"
              },
              "action": {
                "type": "string",
                "enum": [
                  "nat",
                  "pass",
                  "drop"
                ],
                "x-ms-enum": {
                  "name": "action",
                  "modelAsString": true
                }
              },
              "alg": {
                "type": "string",
                "enum": [
                  "none",
                  "tftp",
                  "ftp",
                  "rtsp",
                  "pptp"
                ],
                "x-ms-enum": {
                  "name": "alg",
                  "modelAsString": true
                }
              }
            }
          }
        }
      },
      "description": "The MobilePacketCore PacketDetectionRule resource definition."
    },
    "packetDetectionRule": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PacketDetectionRulePropertiesFormat",
          "description": "Mobile Packet Core Packet Detection Rule properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore PacketDetectionRule resource."
    },
    "PacketDetectionRuleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/packetDetectionRule"
          },
          "description": "A list of MobilePacketCore PacketDetectionRule objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore PacketDetectionRule API service call."
    }
  }
}
