{
  "swagger": "2.0",
  "info": {
    "title": "PccRuleBase",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore/pccRuleBase.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/pccRuleBases/{pccRuleBaseName}": {
      "put": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBase_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core PCC Rule Base resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleBaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule Base object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PccRuleBase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the PccRuleBase resource.",
            "schema": {
              "$ref": "#/definitions/PccRuleBase"
            }
          },
          "201": {
            "description": "Creates the PCC Rule Base resource.",
            "schema": {
              "$ref": "#/definitions/PccRuleBase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create PCC Rule Base": {
            "$ref": "./examples/PccRuleBaseCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBase_Get",
        "description": "Get information about the specified Mobile Packet Core PCC Rule Base resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleBaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule Base object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the PccRuleBase resource.",
            "schema": {
              "$ref": "#/definitions/PccRuleBase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get PCC Rule Base": {
            "$ref": "./examples/PccRuleBaseGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBase_Delete",
        "description": "Deletes the specified Mobile Packet Core PCC Rule Base resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleBaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule Base object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the PccRuleBase resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete PCC Rule Base": {
            "$ref": "./examples/PccRuleBaseDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBase_UpdateTags",
        "description": "Update Mobile Packet Core PCC Rule Base tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleBaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule Base object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update PccRuleBase resource Tag.",
            "schema": {
              "$ref": "#/definitions/PccRuleBase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update PCC Rule Base Tags": {
            "$ref": "./examples/PccRuleBaseUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/pccRuleBases": {
      "get": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBase_ListByMobilePacketCore",
        "description": "Lists all the PCC Rule Bases in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/PccRuleBaseListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List PCC Rule Bases by resource group": {
            "$ref": "./examples/PccRuleBaseListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PccRuleBasePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the PCC Rule Base resource."
        },
        "pcfActivationName": {
          "type": "string",
          "description": "Name used by the PCF to activate the PCC rules in this object"
        },
        "pccRules": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource",
            "description": "URL to PCC Rule resource"
          }
        }
      },
      "required": [
        "pcfActivationName"
      ],
      "description": "The PccRuleBase resource definition."
    },
    "PccRuleBase": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PccRuleBasePropertiesFormat",
          "description": "PccRuleBase properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The PccRuleBase resource."
    },
    "PccRuleBaseListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PccRuleBase"
          },
          "description": "A list of Mobile Packet Core PCC rule base objects in a mobile packet core instance."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore pcc rule base API service call."
    }
  }
}
