{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore policy and charging control rule( pccRule ).",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/pccRules/{pccRuleName}": {
      "put": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRules_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core PCC Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore PccRule resource.",
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore PccRule resource.",
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create PCC Rule": {
            "$ref": "./examples/PccRuleCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRules_Get",
        "description": "Get information about the specified Mobile Packet Core PCC Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore PccRule resource.",
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get PCC Rule": {
            "$ref": "./examples/PccRuleGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRules_Delete",
        "description": "Deletes the specified Mobile Packet Core PCC Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore PccRule resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete PCC Rule": {
            "$ref": "./examples/PccRuleDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRules_UpdateTags",
        "description": "Update Mobile Packet Core PCC Rule tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore PccRule resource Tag.",
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update PCC Rule Tags": {
            "$ref": "./examples/PccRuleUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/pccRules": {
      "get": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRules_ListByMobilePacketCore",
        "description": "Lists all the PCC Rules in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/pccRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List PCC Rules by resource group": {
            "$ref": "./examples/PccRuleListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "pccRulePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the PCC Rule resource.  SMF"
        },
        "chargingData": {
          "type": "object",
          "description": "Configure charging instance associated to predefined/static pcc-rule. reporting-level needs to be configured;service-id and rating-group-id need to be filled if reporting level is serviceLevel;rating-group-id needs to be filled if reporting level is ratingGroupLevel",
          "properties": {
            "chargingType": {
              "type": "string",
              "description": "indicates whether online or offline charging is applicable to PCC rule",
              "enum": [
                "offline",
                "online"
              ],
              "x-ms-enum": {
                "name": "chargingType",
                "modelAsString": true
              },
              "default": "offline"
            },
            "measurementMethod": {
              "type": "string",
              "description": "measurement method [time/volume/both/event]",
              "enum": [
                "time",
                "volume",
                "timeAndVolume",
                "event"
              ],
              "x-ms-enum": {
                "name": "measurementMethod",
                "modelAsString": true
              },
              "default": "volume"
            },
            "ratingGroupId": {
              "type": "integer"
            },
            "serviceId": {
              "type": "integer"
            },
            "sponsorId": {
              "type": "string"
            },
            "reportingLevel": {
              "type": "string",
              "description": "policy control reporting level",
              "enum": [
                "serviceLevel",
                "ratingGroupLevel",
                "sponsoredLevel"
              ],
              "x-ms-enum": {
                "name": "reportingLevel",
                "modelAsString": true
              }
            }
          }
        },
        "qosFlow": {
          "$ref": "./common.json#/definitions/QosFlow"
        },
        "precedence": {
          "type": "integer",
          "description": "specifies the order in which this pcc rule can be applied relative to other pcc-rules",
          "minimum": 1,
          "maximum": 99999
        },
        "applicationId": {
          "type": "string",
          "description": "Application ID.  Cannot be used in conjunction with packet filters (if application ID is specified, there can be no packet filters present)"
        },
        "packetFilter": {
          "type": "array",
          "maxItems": 512,
          "description": "Defines the packet filter configuration identified via 5 tuples mainly source-ip-address, destination-ip-address, source-port, destination-port and protocol fields",
          "items": {
            "type": "object",
            "description": "source-port-start != 0 is allowed only for protocols 255, 6, 17, 132;source-port-end != 65535 is allowed only for protocols 255, 6, 17, 132;source-port-end must be greater than or equal to source-port-start;destination-port-start != 0 is allowed only for protocols 255, 6, 17, 132;destination-port-end != 65535 is allowed only for protocols 255, 6, 17, 132;destination-port-end must be greater than or equal to destination-port-start",
            "properties": {
              "ipVersion": {
                "type": "string",
                "description": "IP version",
                "enum": [
                  "v4Only",
                  "v6Only"
                ],
                "x-ms-enum": {
                  "name": "pccRuleIpVersion",
                  "modelAsString": true
                },
                "default": "v4Only"
              },
              "sourceIpv4": {
                "$ref": "./common.json#/definitions/ipv4Address",
                "description": "source  IPv4 address (inclusive)",
                "default": "0.0.0.0"
              },
              "sourceIpv4PrefixLen": {
                "type": "integer",
                "minimum": 0,
                "maximum": 32,
                "default": 0,
                "description": "source IPv4 address prefix length, 0 signifies for 'don't care'"
              },
              "sourceIpv6": {
                "$ref": "./common.json#/definitions/ipv6Address",
                "description": "source  IPv6 address (inclusive)",
                "default": "::"
              },
              "sourceIpv6PrefixLen": {
                "type": "integer",
                "minimum": 0,
                "maximum": 128,
                "default": 0,
                "description": "source IPv6 address prefix length, 0 signifies for 'don't care'"
              },
              "destinationIpv4": {
                "$ref": "./common.json#/definitions/ipv4Address",
                "description": "destination  IPv4 address (inclusive)",
                "default": "0.0.0.0"
              },
              "destinationIpv4PrefixLen": {
                "type": "integer",
                "minimum": 0,
                "maximum": 32,
                "default": 0,
                "description": "destination IPv4 address prefix length, 0 signifies for 'don't care'"
              },
              "destinationIpv6": {
                "$ref": "./common.json#/definitions/ipv6Address",
                "description": "destination  IPv6 address (inclusive)",
                "default": "::"
              },
              "destinationIpv6PrefixLen": {
                "type": "integer",
                "minimum": 0,
                "maximum": 128,
                "default": 0,
                "description": "destination IPv6 address prefix length, 0 signifies for 'don't care'"
              },
              "sourcePortStart": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "default": 0,
                "description": "source port range start value (valid for protocol = TCP (6), UDP (17), SCTP (132), only)"
              },
              "sourcePortEnd": {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535,
                "default": 65535,
                "description": "source port range end value (valid for protocol = TCP (6), UDP (17), SCTP (132), only)"
              },
              "destinationPortStart": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "default": 0,
                "description": "destination port range start value (valid for protocol = TCP (6), UDP (17), SCTP (132), only)"
              },
              "destinationPortEnd": {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535,
                "default": 65535,
                "description": "destination port range end value (valid for protocol = TCP (6), UDP (17), SCTP (132), only)"
              },
              "protocol": {
                "type": "integer",
                "minimum": 0,
                "maximum": 255,
                "default": 255,
                "description": "ip protocol values (e.g., all: 255, ICMP: 1, TCP: 6, UDP: 17, SCTP: 132)"
              },
              "initiator": {
                "type": "string",
                "description": "ue initiated or network initiated connection",
                "enum": [
                  "ue",
                  "network",
                  "both"
                ],
                "x-ms-enum": {
                  "name": "initiator",
                  "modelAsString": true
                },
                "default": "both"
              },
              "flowLabel": {
                "type": "string",
                "description": "ipV6 flow label header"
              },
              "tosTrafficClass": {
                "type": "integer",
                "description": "ipv4 type-of-service / ipv6 traffic class info",
                "minimum": 0,
                "maximum": 255
              },
              "tosTrafficClassMask": {
                "type": "integer",
                "description": "ipv4 type-of-service mask / ipv6 traffic class mask info",
                "minimum": 0,
                "maximum": 255
              }
            }
          }
        },
        "pcfActivationName": {
          "type": "string",
          "description": "Name used by the PCF to activate this PCC rule"
        },
        "usageMonitoringData": {
          "type": "object",
          "description": "usage-monitoring instance associated to predefined/static pcc-rule",
          "properties": {
            "usageMonitorId": {
              "type": "string",
              "description": "usage-monitoring id"
            },
            "measurementMethod": {
              "type": "string",
              "description": "measurement method [time/volume/both/event]",
              "enum": [
                "time",
                "volume",
                "timeAndVolume",
                "event"
              ],
              "x-ms-enum": {
                "name": "measurementMethod",
                "modelAsString": true
              },
              "default": "volume"
            },
            "volumeMeasurementCount": {
              "type": "string",
              "description": "volume measurement count [input-octets/output-octets/total-octets]",
              "enum": [
                "totalOctets",
                "inputOctets",
                "okutputOctets"
              ],
              "x-ms-enum": {
                "name": "volumeMeasurementCount",
                "modelAsString": true
              },
              "default": "totalOctets"
            },
            "volumeMeasurementLayer": {
              "type": "string",
              "description": "volume measurement layer",
              "enum": [
                "layer3",
                "layer4",
                "layer7"
              ],
              "x-ms-enum": {
                "name": "volumeMeasurementLayer",
                "modelAsString": true
              },
              "default": "layer3"
            },
            "tcpRetransmission": {
              "type": "string",
              "description": "inclusion or exclusion of TCP retransmissions in volume counts",
              "enum": [
                "charge",
                "noCharge"
              ],
              "x-ms-enum": {
                "name": "tcpRetransmission",
                "modelAsString": true
              },
              "default": "charge"
            }
          }
        },
        "installPacketFiltersOnUe": {
          "$ref": "./common.json#/definitions/enableDisable",
          "default": "disabled",
          "description": "Enable/Disable installing packet filters for this pcc rule on UE.  If enabled, there cannot be more than 15 packet filters provisioned"
        }
      },
      "description": "The MobilePacketCore pccRule resource definition."
    },
    "pccRule": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/pccRulePropertiesFormat",
          "description": "Mobile Packet Core PCC Rule properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore pccRule resource."
    },
    "pccRuleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/pccRule"
          },
          "description": "A list of MobilePacketCore pccRule objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore pccRule API service call."
    }
  }
}
