{
  "swagger": "2.0",
  "info": {
    "title": "pccRule",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore policy and charging control rule( pccRule ).",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/pccRules/{pccRuleName}": {
      "put": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRule_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core PCC Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore PccRule resource.",
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore PccRule resource.",
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create PCC Rule": {
            "$ref": "./examples/PccRuleCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRule_Get",
        "description": "Get information about the specified Mobile Packet Core PCC Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore PccRule resource.",
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get PCC Rule": {
            "$ref": "./examples/PccRuleGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRule_Delete",
        "description": "Deletes the specified Mobile Packet Core PCC Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore PccRule resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete PCC Rule": {
            "$ref": "./examples/PccRuleDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRule_UpdateTags",
        "description": "Update Mobile Packet Core PCC Rule tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "pccRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore PccRule resource Tag.",
            "schema": {
              "$ref": "#/definitions/pccRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update PCC Rule Tags": {
            "$ref": "./examples/PccRuleUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/pccRules": {
      "get": {
        "tags": [
          "PccRules"
        ],
        "operationId": "PccRule_ListByMobilePacketCore",
        "description": "Lists all the PCC Rules in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/pccRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List PCC Rules by resource group": {
            "$ref": "./examples/PccRuleListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "pccRulePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the PCC Rule resource."
        },
        "chargingData": {
          "type": "object",
          "properties": {
            "offline": {
              "type": "string",
              "enum": [
                "disabled",
                "enabled"
              ],
              "x-ms-enum": {
                "name": "offline",
                "modelAsString": true
              }
            },
            "online": {
              "type": "string",
              "enum": [
                "disabled",
                "enabled"
              ],
              "x-ms-enum": {
                "name": "online",
                "modelAsString": true
              }
            },
            "measurementMethod": {
              "type": "string",
              "enum": [
                "time",
                "volume",
                "timeAndVolume",
                "event"
              ],
              "x-ms-enum": {
                "name": "measurementMethod",
                "modelAsString": true
              }
            },
            "ratingGroupId": {
              "type": "integer"
            },
            "serviceId": {
              "type": "integer"
            },
            "reportingLevel": {
              "type": "string",
              "enum": [
                "serviceLevel",
                "ratingGroupLevel",
                "sponsoredLevel"
              ],
              "x-ms-enum": {
                "name": "reportingLevel",
                "modelAsString": true
              }
            }
          }
        },
        "qosFlow": {
          "$ref": "./common.json#/definitions/QosFlow"
        },
        "precedence": {
          "type": "integer",
          "minimum": 1,
          "maximum": 99999
        },
        "applicationId": {
          "type": "string"
        },
        "ruleType": {
          "type": "string",
          "enum": [
            "nonTdefType",
            "predefinedTdefType"
          ],
          "x-ms-enum": {
            "name": "ruleType",
            "modelAsString": true
          }
        },
        "installPacketFiltersOnUe": {
          "type": "string",
          "enum": [
            "disabled",
            "enabled"
          ],
          "x-ms-enum": {
            "name": "installPacketFiltersOnUe",
            "modelAsString": true
          }
        },
        "trafficControl": {
          "type": "object",
          "properties": {
            "flowStatus": {
              "type": "string",
              "enum": [
                "enabledUplink",
                "enabledDownlink",
                "enabled",
                "disabled"
              ],
              "x-ms-enum": {
                "name": "flowStatus",
                "modelAsString": true
              }
            },
            "muteNotif": {
              "type": "boolean"
            }
          }
        }
      },
      "description": "The MobilePacketCore pccRule resource definition."
    },
    "pccRule": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/pccRulePropertiesFormat",
          "description": "Mobile Packet Core PCC Rule properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore pccRule resource."
    },
    "pccRuleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/pccRule"
          },
          "description": "A list of MobilePacketCore pccRule objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore pccRule API service call."
    }
  }
}
