{
  "swagger": "2.0",
  "info": {
    "title": "Plmn",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Public Land Mobile Network ( PLMN ) resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/plmns/{plmnName}": {
      "put": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmn_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core PLMN resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "plmnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the plmn object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Plmn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore plmn resource.",
            "schema": {
              "$ref": "#/definitions/Plmn"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore plmn resource.",
            "schema": {
              "$ref": "#/definitions/Plmn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Plmn": {
            "$ref": "./examples/PlmnCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmn_Get",
        "description": "Get information about the specified Mobile Packet Core PLMN resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "plmnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the plmn object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore plmn resource.",
            "schema": {
              "$ref": "#/definitions/Plmn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Plmn": {
            "$ref": "./examples/PlmnGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmn_Delete",
        "description": "Deletes the specified Mobile Packet Core PLMN resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "plmnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the plmn object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore plmn resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Plmn": {
            "$ref": "./examples/PlmnDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmn_UpdateTags",
        "description": "Update Mobile Packet Core PLMN tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "plmnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the plmn object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore plmn resource Tag.",
            "schema": {
              "$ref": "#/definitions/Plmn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Plmn Tags": {
            "$ref": "./examples/PlmnUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/plmns": {
      "get": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmn_ListByMobilePacketCore",
        "description": "Lists all the PLMNs in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/PlmnListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Plmns by resource group": {
            "$ref": "./examples/PlmnListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PlmnInfo": {
      "type": "object",
      "properties": {
        "plmnId": {
          "$ref": "./common.json#/definitions/PlmnId"
        },
        "snssai": {
          "$ref": "./common.json#/definitions/Snssai"
        }
      }
    },
    "PlmnInfoList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PlmnInfo"
      }
    },
    "NrTac": {
      "type": "integer",
      "maximum": 16777215
    },
    "NrTacList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/NrTac"
      }
    },
    "PlmnPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the resource."
        },
        "plmnid": {
          "$ref": "./common.json#/definitions/PlmnId"
        },
        "imsVopsSupport": {
          "$ref": "./common.json#/definitions/enableDisable"
        }
      }
    },
    "Plmn": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PlmnPropertiesFormat",
          "description": "Mobile Packet Core PLMN properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core PLMN resource."
    },
    "PlmnListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Plmn"
          },
          "description": "A list of Mobile Packet Core PLMN objects in a mobile packet core instance."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore plmn API service call."
    }
  }
}
