{
  "swagger": "2.0",
  "info": {
    "title": "Routing",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore/Routing",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/routing/{routingName}": {
      "put": {
        "tags": [
          "Routing"
        ],
        "operationId": "Routing_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "routingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the routing"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Routing"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the Routing resource.",
            "schema": {
              "$ref": "#/definitions/Routing"
            }
          },
          "201": {
            "description": "Creates the Routing resource.",
            "schema": {
              "$ref": "#/definitions/Routing"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create routing": {
            "$ref": "./examples/RoutingCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "Routing"
        ],
        "operationId": "Routing_Get",
        "description": "Get information about the specified Mobile Packet Core Routing resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "routingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the routing"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Routing resource.",
            "schema": {
              "$ref": "#/definitions/Routing"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get routing": {
            "$ref": "./examples/RoutingGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Routing"
        ],
        "operationId": "Routing_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "routingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the routing"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the Routing resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete routing ": {
            "$ref": "./examples/RoutingDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "Routing"
        ],
        "operationId": "Routing_UpdateTags",
        "description": "Update Routing tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "routingName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the routing"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update Routing resource Tag.",
            "schema": {
              "$ref": "#/definitions/Routing"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update routing Tags": {
            "$ref": "./examples/RoutingUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/routing": {
      "get": {
        "tags": [
          ""
        ],
        "operationId": "Routing_ListByMobilePacketCore",
        "description": "Lists all the Routing resources in a mobile packet core.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of Routing resources.",
            "schema": {
              "$ref": "#/definitions/RoutingListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in a routing instance": {
            "$ref": "./examples/RoutingListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "bgpParams": {
      "type": "object",
      "properties": {
        "localAs": {
          "type": "integer"
        },
        "routerId": {
          "$ref": "./common.json#/definitions/ipAddress"
        },
        "bgpUpNotificationToL3am": {
          "type": "string",
          "enum": [
            "on-single-session-up",
            "on-all-session-up"
          ],
          "x-ms-enum": {
            "name": "bgpUpNotificationToL3am",
            "modelAsString": true
          }
        },
        "neighbors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "remoteAddr": {
                "$ref": "./common.json#/definitions/ipAddress"
              },
              "remoteAs": {
                "type": "integer"
              },
              "failOverBfd": {
                "$ref": "./common.json#/definitions/enableDisable"
              }
            },
            "required": [
              "remoteAddr",
              "remoteAs"
            ]
          }
        },
        "ipv4UCast": {
          "type": "object",
          "properties": {
            "neighbors": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "remoteAddr": {
                    "$ref": "./common.json#/definitions/ipAddress"
                  },
                  "activate": {
                    "$ref": "./common.json#/definitions/enableDisable"
                  },
                  "nextHopSelf": {
                    "$ref": "./common.json#/definitions/enableDisable"
                  },
                  "capabilities": {
                    "type": "object",
                    "properties": {
                      "gracefulRestart": {
                        "$ref": "./common.json#/definitions/enableDisable"
                      }
                    }
                  },
                  "routeMap": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "direction": {
                          "type": "string",
                          "enum": [
                            "out",
                            "in"
                          ],
                          "x-ms-enum": {
                            "name": "direction",
                            "modelAsString": true
                          }
                        },
                        "routeMapName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "redistribute": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "connected",
                  "static"
                ],
                "x-ms-enum": {
                  "name": "redistribute",
                  "modelAsString": true
                }
              }
            }
          }
        },
        "ipv6UCast": {}
      }
    },
    "staticRoute": {
      "type": "object",
      "properties": {
        "destination": {
          "$ref": "./common.json#/definitions/ipAddress"
        },
        "length": {
          "type": "integer"
        },
        "nextHop": {
          "$ref": "./common.json#/definitions/ipAddress"
        },
        "preference": {
          "type": "integer",
          "minimum": 1,
          "maximum": 255
        }
      }
    },
    "bfdParams": {
      "type": "object",
      "properties": {
        "txInterval": {
          "type": "integer",
          "minimum": 1,
          "minimum": 50000
        },
        "rxInterval": {
          "type": "integer",
          "minimum": 1,
          "minimum": 50000
        },
        "multiplier": {
          "type": "integer",
          "minimum": 1,
          "minimum": 50
        }
      }
    },
    "policy": {
      "type": "object",
      "properties": {}
    },
    "RoutingPropertiesFormat": {
      "type": "object",
      "properties": {
        "networkContext": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "$ref": "./common.json#/definitions/networkContext"
              },
              "bgpParams": {
                "$ref": "#/definitions/bgpParams"
              },
              "staticRoute": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/staticRoute"
                }
              }
            }
          }
        },
        "bfdParams": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/bfdParams"
          }
        },
        "policy": {
          "$ref": "#/definitions/policy"
        }
      },
      "required": [
        "networkContext",
        "bfdParams",
        "policy"
      ],
      "description": "The Routing resource definition."
    },
    "Routing": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RoutingPropertiesFormat",
          "description": "Routing properties."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The Routing resource."
    },
    "RoutingListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Routing"
          },
          "description": "A list of Routing resources in a MobilePacketCore."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore API service call."
    }
  }
}
