{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore SAEGW CP deployment object.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/saegwCpDeployments/{saegwCpDeploymentName}": {
      "put": {
        "tags": [
          "SaegwCpDeployments"
        ],
        "operationId": "SaegwCpDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core SAEGW CP deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwCpDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaegwCpDeployment"
            },
            "description": "Parameters supplied to create or update a SAEGW CP profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the SAEGW CP resource.",
            "schema": {
              "$ref": "#/definitions/SaegwCpDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SaegwCp Deployment resource": {
            "$ref": "./examples/SaegwCpDeploymentCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "SaegwCpDeployments"
        ],
        "operationId": "SaegwCpDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core SAEGW CP resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwCpDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the SAEGW CP resource.",
            "schema": {
              "$ref": "#/definitions/SaegwCpDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SaegwCp Deployment resource": {
            "$ref": "./examples/SaegwCpDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SaegwCpDeployments"
        ],
        "operationId": "SaegwCpDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core SAEGW CP Deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwCpDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The SAEGW CP Deployment object has been deleted"
          },
          "204": {
            "description": "Successful: The SAEGW CP Deployment object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SaegwCp Deployment resource": {
            "$ref": "./examples/SaegwCpDeploymentDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/saegwCpDeployments": {
      "get": {
        "tags": [
          "SaegwCpDeployments"
        ],
        "operationId": "SaegwCpDeployments_ListByNfvi",
        "description": "Lists all the SAEGW CP Deployments in a nfvi instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SaegwCpDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SAEGW CP deployments by NFVI instance": {
            "$ref": "./examples/SaegwCpDeploymentListByNfvi.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SaegwCpDeploymentPropertiesFormat": {
      "type": "object",
      "description": "The SAEGW CP resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SAEGW CP Deployment resource."
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the SAEGW CP deployment",
          "properties": {
            "saegwCpName": {
              "type": "string",
              "description": "Name applied to the SAEGW CP instance"
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the deployment area to which this NF belongs."
        },
        "vnetSubnet": {
          "type": "string",
          "pattern": "([0-9]{1,3}.){3}[0-9]{1,3}(/([0-9]|[1-2][0-9]|3[0-2]))",
          "description": "VNET Subnet in CIDR format"
        }
      },
      "required": [
        "deploymentArea",
        "vnetSubnet"
      ]
    },
    "SaegwCpDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SaegwCpDeploymentPropertiesFormat",
          "description": "Mobile Packet Core SAEGW-CP Deployment properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The SAEGW CP resource."
    },
    "SaegwCpDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaegwCpDeployment"
          },
          "description": "A list of SAEGW CP function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for SAEGW CP Deployment API service call."
    }
  },
  "parameters": {
    "SaegwCpDeploymentNameParameter": {
      "name": "saegwCpDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of SAEGW CP deployment object.",
      "x-ms-parameter-location": "client"
    }
  }
}
