{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore SAEGW UP deployment object. A SAEGW user plane deployment object represents a SAEGW user plane instance that will be (or is) deployed as part of a Mobile Packet Core.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/saegwUpDeployments/{saegwUpDeploymentName}": {
      "put": {
        "tags": [
          "SaegwUpDeployments"
        ],
        "operationId": "SaegwUpDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core NSSFSAEGW UP deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwUpDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaegwUpDeployment"
            },
            "description": "Parameters supplied to create or update a SAEGW UP profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the SAEGW UP resource.",
            "schema": {
              "$ref": "#/definitions/SaegwUpDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SaegwUp Deployment resource": {
            "$ref": "./examples/SaegwUpDeploymentCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "SaegwUpDeployments"
        ],
        "operationId": "SaegwUpDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core SAEGW UP Deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwUpDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the SAEGW UP resource.",
            "schema": {
              "$ref": "#/definitions/SaegwUpDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SaegwUp Deployment resource": {
            "$ref": "./examples/SaegwUpDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SaegwUpDeployments"
        ],
        "operationId": "SaegwUpDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core SAEGW UP Deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "#/parameters/SaegwUpDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The SAEGW UP Deployment object has been deleted"
          },
          "204": {
            "description": "Successful: The SAEGW UP Deployment object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SaegwUp Deployment resource": {
            "$ref": "./examples/SaegwUpDeploymentDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/saegwUpDeployments": {
      "get": {
        "tags": [
          "SaegwUpDeployments"
        ],
        "operationId": "SaegwUpDeployments_ListByNfvi",
        "description": "Lists all the SAEGW UP Deployment in a nfvi instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SaegwUpDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SAEGW UP deployments by mobile packet core instance": {
            "$ref": "./examples/SaegwUpDeploymentListByNfvi.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SaegwUpDeploymentProperties": {
      "type": "object",
      "description": "The SAEGW UP resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SAEGW UP Deployment resource."
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the SAEGW UP deployment",
          "properties": {
            "saegwUpName": {
              "type": "string",
              "description": "Name applied to the SAEGW UP instance"
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the deployment area to which this network function belongs.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "vnetSubnet": {
          "type": "string",
          "pattern": "([0-9]{1,3}.){3}[0-9]{1,3}(/([0-9]|[1-2][0-9]|3[0-2]))",
          "description": "VNET Subnet in CIDR format"
        }
      },
      "required": [
        "deploymentArea",
        "vnetSubnet"
      ]
    },
    "SaegwUpDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SaegwUpDeploymentProperties",
          "description": "Mobile Packet Core SAEGW-UP Deployment properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The SAEGW UP resource."
    },
    "SaegwUpDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaegwUpDeployment"
          },
          "description": "A list of SAEGW UP function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for SAEGW UP Deployment API service call."
    }
  },
  "parameters": {
    "SaegwUpDeploymentNameParameter": {
      "name": "saegwUpDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of SAEGW UP deployment object.",
      "x-ms-parameter-location": "client"
    }
  }
}
