{
  "swagger": "2.0",
  "info": {
    "title": "ServiceArea",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore/ServiceArea",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/serviceArea/{serviceAreaName}": {
      "put": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceArea_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core service area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceArea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the ServiceArea resource.",
            "schema": {
              "$ref": "#/definitions/ServiceArea"
            }
          },
          "201": {
            "description": "Creates the ServiceArea resource.",
            "schema": {
              "$ref": "#/definitions/ServiceArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create serviceArea": {
            "$ref": "./examples/ServiceAreaCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceArea_Get",
        "description": "Get information about the specified Mobile Packet Core Service Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the ServiceArea resource.",
            "schema": {
              "$ref": "#/definitions/ServiceArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get serviceArea": {
            "$ref": "./examples/ServiceAreaGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceArea_Delete",
        "description": "Deletes the specified Mobile Packet Core service area resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the ServiceArea resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete serviceArea": {
            "$ref": "./examples/ServiceAreaDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceArea_UpdateTags",
        "description": "Update Mobile Packet Core Service Area tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update ServiceArea resource Tag.",
            "schema": {
              "$ref": "#/definitions/ServiceArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Service Area Tags": {
            "$ref": "./examples/ServiceAreaUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/serviceArea": {
      "get": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceArea_ListByMobilePacketCore",
        "description": "Lists all the Service Areas in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of ServiceArea resources.",
            "schema": {
              "$ref": "#/definitions/ServiceAreaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ServiceAreas by resource group": {
            "$ref": "./examples/ServiceAreaListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "applicability": {
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "2G",
          "3G",
          "4G",
          "5G"
        ],
        "x-ms-enum": {
          "name": "ServiceAreaApplicability",
          "modelAsString": true
        }
      }
    },
    "nfList": {
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "SMF",
          "UPF",
          "AMF",
          "cMME",
          "SAEGWCP",
          "SAEGWUP"
        ],
        "x-ms-enum": {
          "name": "NfList",
          "modelAsString": true
        }
      }
    },
    "timeZone": {
      "type": "string"
    },
    "ServiceAreaPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "applicability": {
          "$ref": "#/definitions/applicability"
        },
        "nfList": {
          "$ref": "#/definitions/nfList"
        },
        "timeZone": {
          "$ref": "#/definitions/timeZone"
        },
        "smfServingAreaName": {
          "type": "string"
        }
      },
      "required": [
        "timeZone"
      ],
      "description": "The ServiceArea resource definition."
    },
    "ServiceArea": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceAreaPropertiesFormat",
          "description": "ServiceArea properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The ServiceArea resource."
    },
    "ServiceAreaListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceArea"
          },
          "description": "A list of ServiceArea resources in a MobilePacketCore."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore API service call."
    }
  }
}
