{
  "swagger": "2.0",
  "info": {
    "title": "SmfProfile",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore smfProfile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/smfProfiles/{smfProfileName}": {
      "put": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfile_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core SMF profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "smfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the smfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore smfProfile resource.",
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore smfProfile resource.",
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SMF Profile": {
            "$ref": "./examples/SmfProfileCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfile_Get",
        "description": "Get information about the specified Mobile Packet Core SMF Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "smfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the smfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore smfProfile resource.",
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SMF Profile": {
            "$ref": "./examples/SmfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfile_Delete",
        "description": "Deletes the specified Mobile Packet Core SMF Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "smfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the smfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore smfProfile resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SMF Profile": {
            "$ref": "./examples/SmfProfileDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfile_UpdateTags",
        "description": "Update Mobile Packet Core SMF Profile tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "smfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the smfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore smfProfile resource Tag.",
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update SMF Profile Tags": {
            "$ref": "./examples/SmfProfileUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/smfProfiles": {
      "get": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfile_ListByMobilePacketCore",
        "description": "Lists all the SMF Profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SmfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SMF profiles by mobile packet core instance": {
            "$ref": "./examples/SmfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SmfProfilePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the SMF profile resource."
        },
        "udmSdmSubscription": {
          "type": "string",
          "description": "Whether SMF should send sm-data or/and sdm-subscription query to UDM",
          "enum": [
            "disable",
            "enableGetSmData",
            "enableSdmSubscription"
          ],
          "x-ms-enum": {
            "name": "supportedServiceType",
            "modelAsString": true
          }
        }
      },
      "description": "The MobilePacketCore SmfProfile resource definition."
    },
    "SmfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SmfProfilePropertiesFormat",
          "description": "Mobile Packet Core SMF Profile properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore smfProfile resource."
    },
    "SmfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmfProfile"
          },
          "description": "A list of MobilePacketCore smfProfile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore SmfProfile API service call."
    }
  }
}
