{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Session Management Function Profile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/smfProfiles/{smfProfileName}": {
      "put": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Session Management Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "smfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the smfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            },
            "description": "Parameters supplied to create or update a smf profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core SMF Profile resource.",
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SMF Profile": {
            "$ref": "./examples/SmfProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core Session Management Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "smfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the smfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core SMF Profile resource.",
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SMF Profile": {
            "$ref": "./examples/SmfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core Session Management Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "smfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the smfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the Mobile Packet Core SMF Profile resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SMF Profile": {
            "$ref": "./examples/SmfProfileDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfiles_UpdateTags",
        "description": "Update Mobile Packet Core Session Management Function Profile tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          },
          {
            "name": "smfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the smfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update Mobile Packet Core SMF Profile resource Tag.",
            "schema": {
              "$ref": "#/definitions/SmfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update SMF Profile Tags": {
            "$ref": "./examples/SmfProfileUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/smfProfiles": {
      "get": {
        "tags": [
          "SmfProfiles"
        ],
        "operationId": "SmfProfiles_ListByMobilePacketCore",
        "description": "Lists all the Session Management Function Profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SmfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SMF profiles by mobile packet core instance": {
            "$ref": "./examples/SmfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SmfProfilePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SMF profile resource."
        },
        "udmSubscriptionDataManagementSubscription": {
          "type": "string",
          "description": "Whether SMF should send sm-data or/and sdm-subscription query to UDM",
          "enum": [
            "disable",
            "enableGetSubscriptionManagementData",
            "enableSubscription"
          ],
          "x-ms-enum": {
            "name": "udmSdmSubscriptionType",
            "modelAsString": true
          },
          "default": "enableGetSubscriptionManagementData"
        }
      },
      "description": "The MobilePacketCore SmfProfile resource definition."
    },
    "SmfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SmfProfilePropertiesFormat",
          "description": "Mobile Packet Core SMF Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core SMF Profile resource."
    },
    "SmfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmfProfile"
          },
          "description": "A list of Mobile Packet Core SMF Profile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core SMF Profile API service call."
    }
  }
}
