{
  "swagger": "2.0",
  "info": {
    "title": "SubscriberAnalyzer",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Subscriber Analyzer resource.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/subscriberAnalyzers/{subscriberAnalyzerName}": {
      "put": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzer_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core subscriber analyzer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "subscriberAnalyzerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the subscriber analyzer object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore subscriberAnalyzer resource.",
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzer"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore subscriberAnalyzer resource.",
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Subscriber Analyzer": {
            "$ref": "./examples/SubscriberAnalyzerCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzer_Get",
        "description": "Get information about the specified Mobile Packet Core subscriber analyzer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "subscriberAnalyzerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the subscriber analyzer object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore subscriberAnalyzer resource.",
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Subscriber Analyzer": {
            "$ref": "./examples/SubscriberAnalyzerGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzer_Delete",
        "description": "Deletes the specified Mobile Packet Core subscriber analyzer.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "subscriberAnalyzerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the subscriber analyzer object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore subscriberAnalyzer resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Subscriber Analyzer": {
            "$ref": "./examples/SubscriberAnalyzerDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzer_UpdateTags",
        "description": "Update Mobile Packet Core subscriber analyzer tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "subscriberAnalyzerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the subscriber analyzer object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore subscriberAnalyzer resource Tag.",
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Subscriber Analyzer Tags": {
            "$ref": "./examples/SubscriberAnalyzerUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/subscriberAnalyzers": {
      "get": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzer_ListByMobilePacketCore",
        "description": "Lists all the subscriber analyzers in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Subscriber Analyzers by resource group": {
            "$ref": "./examples/SubscriberAnalyzerListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ResultCodeAction": {
      "type": "string",
      "enum": [
        "continue",
        "terminate"
      ],
      "x-ms-enum": {
        "name": "defaultAction",
        "modelAsString": true
      }
    },
    "ChargingResultCodeActionTemplate": {
      "type": "object",
      "properties": {
        "defaultAction": {
          "$ref": "#/definitions/ResultCodeAction"
        },
        "statusCodes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "statusCode": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535
              },
              "applicationError": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "applicationErrorCode": {
                      "type": "string",
                      "enum": [
                        "chargingFailed",
                        "chargingNotApplicable",
                        "userUnknown",
                        "endUserRequestDenied",
                        "endUserRequestRejected"
                      ],
                      "x-ms-enum": {
                        "name": "applicationError",
                        "modelAsString": true
                      }
                    },
                    "action": {
                      "$ref": "#/definitions/ResultCodeAction"
                    }
                  }
                }
              },
              "defaultAction": {
                "$ref": "#/definitions/ResultCodeAction"
              }
            }
          }
        }
      }
    },
    "matchCriteriaTypeRange": {
      "enum": [
        "presence",
        "inRange",
        "outOfRange"
      ],
      "x-ms-enum": {
        "name": "matchCriteriaTypeRange",
        "modelAsString": true
      }
    },
    "matchCriteriaTypeWithPresence": {
      "enum": [
        "presence",
        "equals",
        "doesNotEqual"
      ],
      "x-ms-enum": {
        "name": "matchCriteriaTypeWithPresence",
        "modelAsString": true
      }
    },
    "matchCriteriaTypeWithContains": {
      "enum": [
        "contains",
        "equals",
        "doesNotEqual"
      ],
      "x-ms-enum": {
        "name": "matchCriteriaTypeWithContains",
        "modelAsString": true
      }
    },
    "matchCriteriaTypeCustomFilters": {
      "enum": [
        "presence",
        "contains",
        "equals",
        "doesNotEqual"
      ],
      "x-ms-enum": {
        "name": "matchCriteriaTypeCustomFilters",
        "modelAsString": true
      }
    },
    "matchCriteriaTypeWithBitSet": {
      "enum": [
        "isAnySet",
        "isNotSet",
        "equals",
        "doesNotEqual"
      ],
      "x-ms-enum": {
        "name": "matchCriteriaTypeWithBitSet",
        "modelAsString": true
      }
    },
    "FilterTypeDnn": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeWithContains"
        },
        "value": {
          "type": "string",
          "pattern": "[a-zA-Z]([a-zA-Z0-9-._]){0,63}"
        }
      }
    },
    "FilterTypeImsiRange": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeRange"
        },
        "low": {
          "type": "string",
          "pattern": "^[0-9]{5,15}$"
        },
        "high": {
          "type": "string",
          "pattern": "^[0-9]{5,15}$"
        }
      }
    },
    "FilterTypeImeiRange": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeRange"
        },
        "low": {
          "type": "string",
          "pattern": "^[0-9]{5,16}$"
        },
        "high": {
          "type": "string",
          "pattern": "^[0-9]{5,16}$"
        }
      }
    },
    "FilterTypeMsisdnRange": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeRange"
        },
        "low": {
          "type": "string",
          "pattern": "^[0-9]{5,15}$"
        },
        "high": {
          "type": "string",
          "pattern": "^[0-9]{5,15}$"
        }
      }
    },
    "FilterTypeRat": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeWithPresence"
        },
        "value": {
          "type": "string",
          "enum": [
            "geran",
            "utran",
            "eutranNb",
            "eutranWb",
            "ngRan",
            "wlan",
            "virtual"
          ],
          "x-ms-enum": {
            "name": "radioAccessType",
            "modelAsString": true
          }
        }
      }
    },
    "FilterTypePdnType": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeWithPresence"
        },
        "value": {
          "type": "string",
          "enum": [
            "ipv4",
            "ipv6",
            "ipv4v6",
            "nonIp"
          ],
          "x-ms-enum": {
            "name": "pdnType",
            "modelAsString": true
          }
        }
      }
    },
    "FilterTypeDnnType": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeWithPresence"
        },
        "value": {
          "type": "string",
          "enum": [
            "ipv4",
            "ipv6",
            "ipv4v6",
            "unstructured",
            "ethernet"
          ],
          "x-ms-enum": {
            "name": "dnnType",
            "modelAsString": true
          }
        }
      }
    },
    "FilterTypeCustom": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeCustomFilters"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Max 10 entries"
        }
      }
    },
    "SessionRule": {
      "type": "object",
      "properties": {
        "sessionAmbr": {
          "type": "object",
          "properties": {
            "measurementUnit": {
              "type": "string",
              "enum": [
                "kbps",
                "mbps",
                "gbps"
              ],
              "x-ms-enum": {
                "name": "measurementType",
                "modelAsString": true
              }
            },
            "uplinkAmbr": {
              "type": "integer"
            },
            "downlinkAmbr": {
              "type": "integer"
            }
          }
        },
        "defaultQos": {
          "$ref": "./common.json#/definitions/QosFlow"
        }
      }
    },
    "SubscriberAnalyzerPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "sm5g": {
          "type": "object",
          "properties": {
            "filterSets": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "dnn": {
                    "$ref": "#/definitions/FilterTypeDnn"
                  },
                  "dnnType": {
                    "$ref": "#/definitions/FilterTypeDnnType"
                  },
                  "imsiRange": {
                    "$ref": "#/definitions/FilterTypeImsiRange"
                  },
                  "imeiRange": {
                    "$ref": "#/definitions/FilterTypeImeiRange"
                  },
                  "msisdnRange": {
                    "$ref": "#/definitions/FilterTypeMsisdnRange"
                  },
                  "rat": {
                    "$ref": "#/definitions/FilterTypeRat"
                  },
                  "pdnType": {
                    "$ref": "#/definitions/FilterTypePdnType"
                  },
                  "chargingCharacteristics": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 65535
                  },
                  "roamingUser": {
                    "type": "boolean",
                    "description": "Only applicable to chargingProfile"
                  },
                  "custom": {
                    "$ref": "#/definitions/FilterTypeCustom"
                  }
                }
              }
            },
            "precedence": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4096,
              "description": "Must be unique for a specific class"
            },
            "upfServicePolicy": {
              "type": "object",
              "properties": {
                "firewallRuleGroup": {
                  "type": "array",
                  "items": {
                    "$ref": "./common.json#/definitions/ReferencedResource",
                    "description": "URL identifying a packet detection rule with firewall service policy"
                  }
                }
              },
              "description": "Class UPF Service Policy.  Only valid filter type is DNN"
            },
            "chargingProfile": {
              "type": "object",
              "properties": {
                "priority": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 4096,
                  "description": "Must be unique across all charging profiles"
                },
                "partialRecordMethod": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "default"
                  ],
                  "x-ms-enum": {
                    "name": "partialRecordMethod",
                    "modelAsString": true
                  }
                },
                "cdrOutputType": {
                  "type": "string",
                  "enum": [
                    "chf",
                    "pgw"
                  ],
                  "x-ms-enum": {
                    "name": "cdrOutputType",
                    "modelAsString": true
                  }
                },
                "onlineEnabled": {
                  "type": "boolean"
                },
                "offlineEnabled": {
                  "type": "boolean"
                },
                "usageReportingLevel": {
                  "type": "string",
                  "enum": [
                    "service",
                    "ratingGroup",
                    "sponsored"
                  ],
                  "x-ms-enum": {
                    "name": "usageReportingLevel",
                    "modelAsString": true
                  }
                },
                "maxNumberOfChargeConditionChange": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 1000
                },
                "periodicReportingTimer": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 86400
                },
                "triggerTemplate": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "triggerType": {
                        "type": "string",
                        "enum": [
                          "plmnChange",
                          "ratChange",
                          "userLocationChange",
                          "ueTimezoneChange",
                          "qosChange",
                          "volumeLimit",
                          "sessionAmbrChange"
                        ],
                        "x-ms-enum": {
                          "name": "triggerType",
                          "modelAsString": true
                        }
                      },
                      "category": {
                        "type": "string",
                        "enum": [
                          "immediateReport",
                          "deferredReport"
                        ],
                        "x-ms-enum": {
                          "name": "triggerCategory",
                          "modelAsString": true
                        }
                      },
                      "volumeLimitValue": {
                        "type": "integer",
                        "description": "If volume limit type, this is the limit value"
                      }
                    }
                  }
                },
                "onlineChargingAttributes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "defaultQuotaVolumeQuotaTotal": {
                        "type": "integer",
                        "minimum": 10000
                      },
                      "defaultQuotaVolumeQuotaThreshold": {
                        "type": "integer",
                        "minimum": 1000
                      },
                      "defaultQuotaMaxNumDefaultQuota": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1000
                      },
                      "defaultQuotaValidityTime": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 7200
                      },
                      "chfDefaultValidityTime": {
                        "type": "integer",
                        "minimum": 60,
                        "maximum": 7200
                      },
                      "chfDefaultQuotaHoldingTime": {
                        "type": "integer",
                        "minimum": 60,
                        "maximum": 1800
                      }
                    }
                  }
                },
                "initialMsgResultCodeActions": {
                  "$ref": "#/definitions/ChargingResultCodeActionTemplate"
                },
                "updateMsgResultCodeActions": {
                  "$ref": "#/definitions/ChargingResultCodeActionTemplate"
                }
              },
              "description": "Class Charging Profile.  Only valid filter types are dnn, imsiRange, imeiRange, msisdnRange, rat, pduType, or chargingCharacteristics"
            },
            "smfSubscriberManagementProfile": {
              "type": "object",
              "properties": {
                "defaultSscMode": {
                  "$ref": "./common.json#/definitions/SscMode"
                },
                "defaultPduSessionType": {
                  "$ref": "./common.json#/definitions/PduType"
                },
                "dscpMappingPolicy": {
                  "type": "object",
                  "properties": {
                    "fiveQiDscpMap": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fiveQi": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 255
                          },
                          "arpPriorityLevel": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 15
                          },
                          "dscp": {
                            "$ref": "./common.json#/definitions/dscp"
                          }
                        }
                      }
                    },
                    "defaultDscp": {
                      "$ref": "./common.json#/definitions/dscp"
                    },
                    "dscpPagePolicyIndicaterMap": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ppi": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 7
                          },
                          "dscp": {
                            "$ref": "./common.json#/definitions/dscp"
                          }
                        }
                      }
                    },
                    "defaultPagePolicyIndicate": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 7
                    }
                  }
                },
                "pagingProfile": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pageTimeout": {
                        "type": "integer",
                        "minimum": 1000,
                        "maximum": 30000
                      },
                      "maxDownlinkPacketsToBuffer": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 20
                      },
                      "arpPriorityLevelThreshold": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 15
                      },
                      "downlinkPacketBufferingCapability": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "alwaysGrantPolicy": {
                  "type": "string",
                  "enum": [
                    "disable",
                    "enableOnRequest",
                    "enableAlways"
                  ],
                  "x-ms-enum": {
                    "name": "alwaysGrantPolicy",
                    "modelAsString": true
                  }
                },
                "inactivityTimerDuration": {
                  "type": "integer",
                  "minimum": 15,
                  "maximum": 2160000
                },
                "sessionIdleTimer": {
                  "type": "integer",
                  "minimum": 15,
                  "maximum": 2160000
                },
                "allowedSscModes": {
                  "type": "array",
                  "items": {
                    "$ref": "./common.json#/definitions/SscMode"
                  }
                },
                "allowedPduSessionTypes": {
                  "type": "array",
                  "items": {
                    "$ref": "./common.json#/definitions/PduType"
                  }
                },
                "qosFlowInactivityTimerMap": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fiveQi": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 255
                      },
                      "arpPriorityLevel": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 15
                      },
                      "qosFlowInactivityTimer": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 3600
                      }
                    }
                  }
                }
              }
            },
            "smfPolicyProfile": {
              "type": "object",
              "properties": {
                "pccRules": {
                  "type": "array",
                  "items": {
                    "$ref": "./common.json#/definitions/ReferencedResource",
                    "description": "URL to PCC Rule resource"
                  }
                },
                "pccRuleBase": {
                  "type": "array",
                  "items": {
                    "$ref": "./common.json#/definitions/ReferencedResource",
                    "description": "URL to PCC Rule Base resource"
                  }
                },
                "sessionRules": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SessionRule"
                  }
                },
                "pcfResponseCodes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "responseCode": {
                        "type": "integer",
                        "description": "HTTP Response Codes.  If PCF response matches the response code the session is continued using the default policy profile"
                      }
                    }
                  }
                },
                "defaultSubscriberPolicyProfile": {
                  "type": "object",
                  "properties": {
                    "pccRules": {
                      "type": "array",
                      "items": {
                        "$ref": "./common.json#/definitions/ReferencedResource",
                        "description": "URL to PCC Rule resource"
                      }
                    },
                    "pccRuleBase": {
                      "type": "array",
                      "items": {
                        "$ref": "./common.json#/definitions/ReferencedResource",
                        "description": "URL to PCC Rule Base resource"
                      }
                    },
                    "sessionRules": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SessionRule"
                      }
                    }
                  },
                  "description": "Policy to be applied if the PCF returns a matching response code"
                },
                "pcfRejoinTime": {
                  "type": "integer",
                  "minimum": 90,
                  "maximum": 86400
                },
                "pcfDownSessionHoldTime": {
                  "type": "integer",
                  "minimum": 180,
                  "maximum": 172800
                },
                "supportedPcfFeatures": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "tsc",
                      "adc",
                      "netLoc",
                      "ranNasCause",
                      "pra",
                      "ranSupportInfo"
                    ],
                    "x-ms-enum": {
                      "name": "pcfFeatures",
                      "modelAsString": true
                    }
                  }
                }
              }
            },
            "smfNetworkInstanceProfile": {
              "type": "object",
              "properties": {
                "n3NetworkInstance": {
                  "type": "string"
                },
                "n6NetworkInstance": {
                  "type": "string"
                },
                "n9NetworkInstance": {
                  "type": "string"
                },
                "s5s8uS2buNetworkInstance": {
                  "type": "string"
                }
              }
            }
          }
        },
        "mm5g": {
          "type": "object",
          "properties": {
            "filterSets": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "servingAreGroup": {
                    "type": "array",
                    "items": {
                      "$ref": "./common.json#/definitions/ReferencedResource",
                      "description": "URL to Service Area resource"
                    }
                  },
                  "dnn": {
                    "$ref": "#/definitions/FilterTypeDnn"
                  },
                  "dnnType": {
                    "$ref": "#/definitions/FilterTypeDnnType"
                  },
                  "imsiRange": {
                    "$ref": "#/definitions/FilterTypeImsiRange"
                  },
                  "imeiRange": {
                    "$ref": "#/definitions/FilterTypeImeiRange"
                  },
                  "msisdnRange": {
                    "$ref": "#/definitions/FilterTypeMsisdnRange"
                  },
                  "rat": {
                    "$ref": "#/definitions/FilterTypeRat"
                  },
                  "pdnType": {
                    "$ref": "#/definitions/FilterTypePdnType"
                  },
                  "chargingCharacteristics": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 65535
                  },
                  "custom": {
                    "$ref": "#/definitions/FilterTypeCustom"
                  }
                }
              }
            },
            "precedence": {
              "type": "integer",
              "minimum": 1,
              "maximum": 65535
            },
            "mobilityPolicy": {
              "type": "object",
              "properties": {
                "pcfControl": {
                  "type": "object",
                  "properties": {
                    "reselectPcfOnMm5gRelocation": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "forwardPcfIdToSmf": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "uePolicyControlPolicyAssociation": {
                      "enum": [
                        "never",
                        "always",
                        "ueRequested"
                      ],
                      "x-ms-enum": {
                        "name": "uePolicyAssociation",
                        "modelAsString": true
                      }
                    },
                    "amPolicyControlPolicyAssociation": {
                      "enum": [
                        "never",
                        "always"
                      ],
                      "x-ms-enum": {
                        "name": "amPolicyAssociation",
                        "modelAsString": true
                      }
                    }
                  }
                },
                "accessControl": {
                  "type": "object",
                  "properties": {
                    "accessReject": {
                      "enum": [
                        "undefined-mm-cause-0",
                        "pei-not-accepted-5",
                        "illegal-me-6",
                        "services-not-allowed-7",
                        "plmn-not-allowed-11",
                        "ta-not-allowed-12",
                        "roaming-not-allowed-in-this-ta-13",
                        "congestion-22",
                        "n1-mode-not-allowed-27",
                        "restricted-service-area-28",
                        "insufficient-resources-for-specific-slice-69"
                      ],
                      "x-ms-enum": {
                        "name": "accessControl",
                        "modelAsString": true
                      }
                    },
                    "nssaiInclusionMode": {
                      "enum": [
                        "disable",
                        "mode-a",
                        "mode-b",
                        "mode-c",
                        "mode-d"
                      ],
                      "x-ms-enum": {
                        "name": "nssaiInclusionMode",
                        "modelAsString": true
                      }
                    },
                    "sliceSelectionSelectionPolicy": {
                      "enum": [
                        "standard",
                        "useNssfPolicy"
                      ],
                      "x-ms-enum": {
                        "name": "selectionPolicy",
                        "modelAsString": true
                      }
                    },
                    "sliceSelectionRejectCause": {
                      "enum": [
                        "cause-5gs-service-not-allowed",
                        "cause-plmn-not-allowed",
                        "cause-roaming-not-allowed-in-ta",
                        "cause-no-suitable-cell-in-ta",
                        "cause-n1-mode-not-allowed"
                      ],
                      "x-ms-enum": {
                        "name": "rejectCause",
                        "modelAsString": true
                      }
                    },
                    "sliceSelectionRanReroutePreferred": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "sliceSelectionSliceNegotiationDuringN26Handover": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "coreNetworkRestrictions": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "cnrEpc",
                          "cnr5gc"
                        ],
                        "x-ms-enum": {
                          "name": "coreNetworkRestrictions",
                          "modelAsString": true
                        }
                      }
                    },
                    "ratRestrictions": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "nr",
                          "eutran"
                        ],
                        "x-ms-enum": {
                          "name": "selectionPolicy",
                          "modelAsString": true
                        }
                      }
                    },
                    "serviceAreaRestrictions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "plmnid": {
                            "$ref": "./common.json#/definitions/PlmnId"
                          },
                          "restrictionType": {
                            "enum": [
                              "allowedAreas",
                              "notAllowedAreas"
                            ],
                            "x-ms-enum": {
                              "name": "restrictionType",
                              "modelAsString": true
                            }
                          },
                          "tacs": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "Tracking Area Code (TAC); Valid values are hexadecimal values of length 4 or 6 with a leading '0x'",
                              "pattern": "(0x[A-Fa-f0-9]{4})|(0x[A-Fa-f0-9]{6})"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "serviceControl": {
                  "type": "object",
                  "properties": {
                    "smsSupport": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "imsVopsSupport": {
                      "enum": [
                        "ims3gpp5gc",
                        "imsFallbackEps",
                        "imsNon3gpp5gc"
                      ],
                      "x-ms-enum": {
                        "name": "imsVopsSupport",
                        "modelAsString": true
                      }
                    },
                    "imsEmergencySupport": {
                      "enum": [
                        "ims3gpp5gc",
                        "imsFallbackEps"
                      ],
                      "x-ms-enum": {
                        "name": "imsEmergencySupport",
                        "modelAsString": true
                      }
                    },
                    "lcsSupport": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "lcsNetworkInducedLocationRequestNiLrSupport": {
                      "enum": [
                        "disable",
                        "enable-with-initial-positioning",
                        "enable-without-initial-positioning"
                      ],
                      "x-ms-enum": {
                        "name": "lcsNetworkInducedLocationRequestNiLrSupport",
                        "modelAsString": true
                      }
                    },
                    "lcsNetworkInducedLocationRequestHorizontalAccuracy": {
                      "type": "number"
                    },
                    "lcsNetworkIncludedLocationRequestVerticalAccuracy": {
                      "type": "number"
                    },
                    "lcsNetworkIncludedLocationRequestEmergencyTargetSender": {
                      "enum": [
                        "sourceNode",
                        "targetNode"
                      ],
                      "x-ms-enum": {
                        "name": "lcsNetworkIncludedLocationRequestEmergencyTargetSender",
                        "modelAsString": true
                      }
                    },
                    "lcsNetworkIncludedLocationRequestResponseTime": {
                      "enum": [
                        "noDelay",
                        "lowDelay",
                        "delayTolerant"
                      ],
                      "x-ms-enum": {
                        "name": "lcsNetworkIncludedLocationRequestResponseTime",
                        "modelAsString": true
                      }
                    },
                    "lcsNetworkIncludedLocationRequestQosClass": {
                      "enum": [
                        "bestEffort",
                        "assured"
                      ],
                      "x-ms-enum": {
                        "name": "lcsNetworkIncludedLocationRequestQosClass",
                        "modelAsString": true
                      }
                    },
                    "lcsNasNotificationTimerTlcsn": {
                      "type": "integer",
                      "minimum": 10,
                      "maximum": 20
                    }
                  }
                },
                "nasPolicy": {
                  "type": "object",
                  "properties": {
                    "ueRegistrationRetryDelayT3502Value": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 60,
                      "description": "1-60; Unit: minutes"
                    },
                    "uePeriodicRegistrationT3512Value": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 19200,
                      "description": "1-19200; Unit: minutes"
                    },
                    "uePeriodicRegistrationT3512Source": {
                      "enum": [
                        "localConfig",
                        "udmSubscription"
                      ],
                      "x-ms-enum": {
                        "name": "t3512Source",
                        "modelAsString": true
                      }
                    },
                    "networkInitDeregistrationT3522": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 15000
                    },
                    "networkInitDeregistrationRetryN3522": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 5
                    },
                    "registrationAcceptT3550": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 65535
                    },
                    "registrationAcceptRetryN3550": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 5
                    },
                    "gutiLifetime": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 168
                    },
                    "identityT3570": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 15000
                    },
                    "identityRetryN3570": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 5
                    },
                    "mobileReachableTimer": {
                      "enum": [
                        "t3512plus4",
                        "t3512times2plus1"
                      ],
                      "x-ms-enum": {
                        "name": "mobileReachableTimer",
                        "modelAsString": true
                      }
                    },
                    "taiListMax": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 16
                    },
                    "taiListAllocation": {
                      "enum": [
                        "unrestricted",
                        "withinPlmn"
                      ],
                      "x-ms-enum": {
                        "name": "taiListAllocation",
                        "modelAsString": true
                      }
                    },
                    "configurationUpdateT3555": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 15000
                    },
                    "configurationUpdateRetryN3555": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 4
                    },
                    "optionalGutiReallocationUeInitServiceRequest": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "optionalGutiReallocationMobilityRegRequest": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "optionalGutiReallocationPeriodicRegRequest": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    },
                    "non3gppValuesDeregistrationTimer": {
                      "type": "integer",
                      "minimum": 10,
                      "maximum": 34560
                    }
                  }
                },
                "nasSecurity": {
                  "type": "object",
                  "properties": {
                    "securityT3560": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 15000
                    },
                    "securityRetryN3560": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 5
                    },
                    "cipheringAlgorithms": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "nea0",
                          "nea1",
                          "nea2"
                        ],
                        "x-ms-enum": {
                          "name": "cipheringAlgorithms",
                          "modelAsString": true
                        }
                      }
                    },
                    "integrityAlgorithms": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "null",
                          "nia1",
                          "nia2"
                        ],
                        "x-ms-enum": {
                          "name": "integrityAlgorithms",
                          "modelAsString": true
                        }
                      }
                    },
                    "epsCipheringAlgorithms": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "eea0",
                          "eea1",
                          "eea2"
                        ],
                        "x-ms-enum": {
                          "name": "epsCipheringAlgorithms",
                          "modelAsString": true
                        }
                      }
                    },
                    "epsIntegrityAlgorithms": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "null",
                          "e1a1",
                          "e1a2"
                        ],
                        "x-ms-enum": {
                          "name": "epsIntegrityAlgorithms",
                          "modelAsString": true
                        }
                      }
                    },
                    "additionalAuthEvents": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "intra-amf-mobility",
                          "inter-amf-mobility",
                          "periodic-registration",
                          "service-request",
                          "deregistration",
                          "eps-mobility"
                        ],
                        "x-ms-enum": {
                          "name": "additionalAuthEvents",
                          "modelAsString": true
                        }
                      }
                    },
                    "additionalSecurityForEpsAlgorithms": {
                      "$ref": "./common.json#/definitions/enableDisable"
                    }
                  }
                },
                "pagingProfile": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "precedence": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 255
                      },
                      "triggersQi": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 255
                        }
                      },
                      "triggersService": {
                        "type": "array",
                        "items": {
                          "enum": [
                            "sms",
                            "uePolicy",
                            "lcs"
                          ],
                          "x-ms-enum": {
                            "name": "triggersService",
                            "modelAsString": true
                          }
                        }
                      },
                      "triggersArp": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 15
                        }
                      },
                      "triggersPpi": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 7
                        }
                      },
                      "t3513Initial": {
                        "type": "integer",
                        "minimum": 1000,
                        "maximum": 30000
                      },
                      "t3513Increment": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      "n3513Retry": {
                        "type": "integer",
                        "minimum": 2,
                        "maximum": 4
                      },
                      "initialPagingTarget": {
                        "enum": [
                          "lastKnownGnb",
                          "lastVisitedGnbs",
                          "lastKnownTa",
                          "taList"
                        ],
                        "x-ms-enum": {
                          "name": "initialPagingTarget",
                          "modelAsString": true
                        }
                      },
                      "pagingPriority": {
                        "enum": [
                          "PrioLevel1",
                          "PrioLevel2",
                          "PrioLevel3",
                          "PrioLevel4",
                          "PrioLevel5",
                          "PrioLevel6",
                          "PrioLevel7",
                          "PrioLevel8",
                          "none"
                        ],
                        "x-ms-enum": {
                          "name": "pagingPriority",
                          "modelAsString": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "description": "The MobilePacketCore SubscriberAnalyzer resource definition."
    },
    "SubscriberAnalyzer": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SubscriberAnalyzerPropertiesFormat",
          "description": "Mobile Packet Core Subscriber Analyzer properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore subscriberAnalyzer resource."
    },
    "SubscriberAnalyzerListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriberAnalyzer"
          },
          "description": "A list of MobilePacketCore subscriberAnalyzer objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore SubscriberAnalyzer API service call."
    }
  }
}
