{
    "swagger": "2.0",
    "info": {
        "title": "TrackingArea",
        "description": "The definitions in this swagger specification will be used for MobilePacketCore/ServiceArea/TrackingArea",
        "version": "2024-09-15-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow.",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/serviceArea/{serviceAreaName}/trackingArea/{trackingAreaName}": {
            "put": {
                "tags": [
                    "TrackingArea"
                ],
                "operationId": "TrackingArea_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "./common.json#/parameters/MPCName"
                    },
                    {
                        "$ref": "./common.json#/parameters/ServiceAreaName"
                    },
                    {
                        "name": "trackingAreaName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the tracking area"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TrackingArea"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the TrackingArea resource.",
                        "schema": {
                            "$ref": "#/definitions/TrackingArea"
                        }
                    },
                    "201": {
                        "description": "Creates the TrackingArea resource.",
                        "schema": {
                            "$ref": "#/definitions/TrackingArea"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Create TrackingArea": {
                        "$ref": "./examples/TrackingAreaCreate.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "azure-async-operation"
                }
            },
            "get": {
                "tags": [
                    "TrackingArea"
                ],
                "operationId": "TrackingArea_Retrieve",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "./common.json#/parameters/MPCName"
                    },
                    {
                        "$ref": "./common.json#/parameters/ServiceAreaName"
                    },
                    {
                        "name": "trackingAreaName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the tracking area"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieves the TrackingArea resource.",
                        "schema": {
                            "$ref": "#/definitions/TrackingArea"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Get TrackingArea": {
                        "$ref": "./examples/TrackingAreaGet.json"
                    }
                }
            },
            "delete": {
                "tags": [
                    "TrackingArea"
                ],
                "operationId": "TrackingArea_Delete",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "./common.json#/parameters/MPCName"
                    },
                    {
                        "$ref": "./common.json#/parameters/ServiceAreaName"
                    },
                    {
                        "name": "trackingAreaName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the tracking area"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deletes the TrackingArea resource."
                    },
                    "202": {
                        "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
                    },
                    "204": {
                        "description": "Request is successful. Resource with the specified name does not exist."
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Delete TrackingArea": {
                        "$ref": "./examples/TrackingAreaDelete.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            },
            "patch": {
                "tags": [
                    "TrackingArea"
                ],
                "operationId": "TrackingArea_UpdateTags",
                "description": "Update TrackingArea tags.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "./common.json#/parameters/MPCName"
                    },
                    {
                        "$ref": "./common.json#/parameters/ServiceAreaName"
                    },
                    {
                        "name": "trackingAreaName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the tracking area"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "./common.json#/definitions/TagsObject"
                        },
                        "description": "Parameters supplied to the update device tags operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update TrackingArea resource Tag.",
                        "schema": {
                            "$ref": "#/definitions/TrackingArea"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Update TrackingArea Tags": {
                        "$ref": "./examples/TrackingAreaUpdateTags.json"
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/serviceArea/{serviceAreaName}/trackingArea": {
            "get": {
                "tags": [
                    ""
                ],
                "operationId": "TrackingArea_Retrieve_All",
                "description": "Lists all the TrackingArea resources in a service area.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "./common.json#/parameters/MPCName"
                    },
                    {
                        "$ref": "./common.json#/parameters/ServiceAreaName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request is successful. The operation returns a list of TrackingArea resources.",
                        "schema": {
                            "$ref": "#/definitions/TrackingAreaListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "List components in network function": {
                        "$ref": "./examples/ListTrackingAreasByMobilePacketCore.json"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }

    },
    "definitions": {
        "tacRange": {
            "type": "object",
            "properties": {
                "start": {
                    "type": "string"
                },
                "end": {
                    "type": "string"
                }
            }
        },
        "TrackingAreaPropertiesFormat": {
            "type": "object",
            "properties": {
                "plmn": {
                    "$ref": "./common.json#/definitions/PlmnId"
                },
                "tacRange": {
                    "$ref": "#/definitions/tacRange"
                }
            },
            "required": [
                "plmn", "tacRange"
            ],
            "description": "The TrackingArea resource definition."
        },
        "TrackingArea": {
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/TrackingAreaPropertiesFormat",
                    "description": "TrackingArea properties."
                }
            },
            "required": [
                "properties"
            ],
            "description": "The TrackingArea resource."
        },
        "TrackingAreaListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TrackingArea"
                    },
                    "description": "A list of TrackingArea resources in a MobilePacketCore."
                },
                "nextLink": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The URL to get the next set of results."
                }
            },
            "description": "Response for MobilePacketCore API service call."
        }
    }
}

