{
  "swagger": "2.0",
  "info": {
    "title": "UPFDeployment",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore UPF deployment object.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas/{deploymentAreaName}/clusters/{clusterName}/upfDeployments/{upfDeploymentName}": {
      "put": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployment_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "201": {
            "description": "Creates the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Vendor resource": {
            "$ref": "./examples/UpfCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployment_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get UPF": {
            "$ref": "./examples/UpfGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployment_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the UPF deployment resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete UPF": {
            "$ref": "./examples/UpfDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "description": "Update UPFFunctions tags.",
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployment_UpdateTags",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete UPF": {
            "$ref": "./examples/UpfUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/deploymentAreas/{deploymentAreaName}/clusters/{clusterName}/upfDeployments": {
      "get": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployment_Retrieve_All_By_MobilePacketCore",
        "description": "Lists all the UPF deployment resources in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/UpfDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in UPF deployment": {
            "$ref": "./examples/UpfListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "UpfDeploymentPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the UPF deployment resource."
        },
        "deploymentStatus": {
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the UPF deployment",
          "properties": {
            "pfcpFqdn": {
              "$ref": "./common.json#/definitions/Fqdn"
            },
            "networkContext": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "./common.json#/definitions/networkContext"
                  },
                  "networkContextUsage": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "N3",
                        "N4",
                        "N6",
                        "N9"
                      ],
                      "x-ms-enum": {
                        "name": "loopbackScope",
                        "modelAsString": true
                      }
                    }
                  },
                  "ipInterfaces": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "vlanId": {
                          "type": "integer"
                        },
                        "ipMtu": {
                          "type": "integer"
                        },
                        "sharedSubnet": {
                          "type": "boolean"
                        },
                        "ipAddressTemplates": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "prefixLength": {
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 127
                              },
                              "count": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 128
                              },
                              "baseAddress": {
                                "$ref": "./common.json#/definitions/ipAddress"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "ipLoopbacks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "startIp": {
                          "$ref": "./common.json#/definitions/ipAddress"
                        },
                        "endIp": {
                          "$ref": "./common.json#/definitions/ipAddress"
                        },
                        "scope": {
                          "type": "string",
                          "enum": [
                            "pod",
                            "global",
                            "dynamic"
                          ],
                          "x-ms-enum": {
                            "name": "loopbackScope",
                            "modelAsString": true
                          }
                        },
                        "loopbacksPerPod": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 128
                        },
                        "usage": {
                          "type": "array",
                          "items": {
                            "$ref": "./common.json#/definitions/LoopbackUsage"
                          }
                        }
                      }
                    }
                  },
                  "ipPools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "poolType": {
                          "type": "string",
                          "enum": [
                            "NAT",
                            "UE"
                          ],
                          "x-ms-enum": {
                            "name": "PoolType",
                            "modelAsString": true
                          }
                        },
                        "startIp": {
                          "$ref": "./common.json#/definitions/ipAddress"
                        },
                        "endIp": {
                          "$ref": "./common.json#/definitions/ipAddress"
                        },
                        "routeSummaryPrefixLength": {
                          "type": "integer"
                        },
                        "advertise": {
                          "type": "boolean"
                        },
                        "l3amChunkSize": {
                          "type": "integer",
                          "description": "Only applicable to pools of type UE"
                        },
                        "nat": {
                          "type": "object",
                          "properties": {
                            "maxPortsPerSession": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 64511
                            },
                            "l3amNatIpsPerPpe": {
                              "type": "integer",
                              "minimum": 1
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "networkSliceList": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "description": "A list of network slice resource object."
        }
      },
      "description": "The UPF deployment resource definition."
    },
    "UpfDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpfDeploymentPropertiesFormat",
          "description": "UPF Deployment properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The UPF deployment resource definition."
    },
    "UpfDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpfDeployment"
          },
          "description": "A list of UPF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for UPF deployment API service call."
    }
  },
  "parameters": {
    "UpfDeploymentNameParameter": {
      "name": "upfDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of UPF deployment."
    }
  }
}
