{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore UPF deployment object.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/nfvis/{nfviName}/clusters/{clusterName}/upfDeployments/{upfDeploymentName}": {
      "put": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core UPF deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            },
            "description": "Parameters supplied to create or update an UPF deployment object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "201": {
            "description": "Creates the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update UPF Deployment resource": {
            "$ref": "./examples/UpfDeploymentCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core UPF Deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get UPF Deployment resource": {
            "$ref": "./examples/UpfDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core UPF Deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the UPF deployment resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete UPF Deployment resource": {
            "$ref": "./examples/UpfDeploymentDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_UpdateTags",
        "description": "Update UPF Deployment tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update UPF deployment tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update UPF Deployment tags": {
            "$ref": "./examples/UpfDeploymentUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/upfDeployments": {
      "get": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_ListByCluster",
        "description": "Lists all the Upf Deployments in a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/UpfDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List UPF deployment objects by mobile packet core": {
            "$ref": "./examples/UpfDeploymentListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "UpfDeploymentPropertiesFormat": {
      "type": "object",
      "description": "The UPF deployment resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the UPF deployment resource."
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the UPF deployment",
          "properties": {
            "pfcpFqdn": {
              "$ref": "./common.json#/definitions/Fqdn"
            },
            "smfs": {
              "$ref": "./common.json#/definitions/PfcpPeers",
              "description": "A list of SMFs with which the UPF instance communicates"
            },
            "resolvedNrfs": {
              "$ref": "./common.json#/definitions/ResolvedNrfs",
              "description": "The NRFs used by this instance of UPF"
            },
            "networkContext": {
              "type": "array",
              "description": "A list of network contexts and related config applicable to UPFs.",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "./common.json#/definitions/NetworkContextName",
                    "description": "Network context name"
                  },
                  "routing": {
                    "type": "object",
                    "description": "Routing parameters specific to this deployment",
                    "properties": {
                      "bgpRouterId": {
                        "$ref": "./common.json#/definitions/ipv4Address",
                        "description": "BGP router ID used by this UPF"
                      }
                    }
                  },
                  "networkContextUsage": {
                    "type": "array",
                    "description": "Usage of the network context - interface type mapping",
                    "items": {
                      "type": "string",
                      "enum": [
                        "N3",
                        "N4",
                        "N6",
                        "N9"
                      ],
                      "x-ms-enum": {
                        "name": "networkContextUsage",
                        "modelAsString": true
                      }
                    }
                  },
                  "ipInterfaces": {
                    "type": "array",
                    "description": "Provisioned IP Interfaces",
                    "items": {
                      "type": "object",
                      "properties": {
                        "vlanId": {
                          "type": "integer",
                          "description": "The VLAN Identifier for this interface."
                        },
                        "interfaceLabel": {
                          "type": "string",
                          "description": "Optional label to identify the h/w interface where this subinterface is created."
                        },
                        "ipMtu": {
                          "type": "integer",
                          "description": "The Layer 3 MTU of the sub-interface"
                        },
                        "sharedSubnet": {
                          "$ref": "./common.json#/definitions/Ao5gcBoolean",
                          "description": "Whether subnet is shared or not"
                        },
                        "ipAddressTemplates": {
                          "type": "array",
                          "description": "Provisioned set of IPv4 addresses available for use when deploying this ip-interface",
                          "items": {
                            "type": "object",
                            "properties": {
                              "prefixLength": {
                                "type": "integer",
                                "description": "IPv4 subnet length of all addresses created by template"
                              },
                              "count": {
                                "type": "integer",
                                "description": "Total number of addresses that can be generated by this template"
                              },
                              "baseAddress": {
                                "$ref": "./common.json#/definitions/ipAddress",
                                "description": "IPv4 end-point address, (subnet and host), of first address created by template"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "ipLoopbacks": {
                    "type": "array",
                    "description": "Provisioned IP loopbacks",
                    "items": {
                      "type": "object",
                      "properties": {
                        "startIp": {
                          "$ref": "./common.json#/definitions/ipAddress",
                          "description": "IP address of loopback interface - start address for the range"
                        },
                        "endIp": {
                          "$ref": "./common.json#/definitions/ipAddress",
                          "description": "IP address of loopback interface - end address for the range"
                        },
                        "scope": {
                          "type": "string",
                          "description": "Scope of loopback interface",
                          "enum": [
                            "pod",
                            "global",
                            "dynamic"
                          ],
                          "x-ms-enum": {
                            "name": "ipLoopbackScope",
                            "modelAsString": true
                          }
                        },
                        "loopbacksPerPod": {
                          "type": "integer",
                          "description": "Number of loopback interfaces assigned to a ppe when the scope is type pod"
                        },
                        "usage": {
                          "type": "array",
                          "description": "Purpose of loopback",
                          "items": {
                            "$ref": "./common.json#/definitions/LoopbackUsage"
                          }
                        }
                      }
                    }
                  },
                  "ipPools": {
                    "type": "array",
                    "description": "Provisioned IP pools",
                    "items": {
                      "type": "object",
                      "properties": {
                        "poolType": {
                          "type": "string",
                          "description": "Type of the IP pool",
                          "enum": [
                            "NAT",
                            "UE"
                          ],
                          "x-ms-enum": {
                            "name": "PoolType",
                            "modelAsString": true
                          }
                        },
                        "name": {
                          "type": "string",
                          "description": "Unique name identifying this IP Pool (referenced by other resources such as the packet detection rule)"
                        },
                        "startIp": {
                          "$ref": "./common.json#/definitions/ipAddress",
                          "description": "Starting value for IP address of this IP pool"
                        },
                        "endIp": {
                          "$ref": "./common.json#/definitions/ipAddress",
                          "description": "Ending value for IP address of this IP pool"
                        },
                        "routeSummaryPrefixLength": {
                          "type": "integer",
                          "description": "Route summary prefix length of this IP pool."
                        },
                        "advertise": {
                          "$ref": "./common.json#/definitions/Ao5gcBoolean",
                          "description": "Advertise reachability of this UE IP Pool over dynamic routing"
                        },
                        "l3amChunkSize": {
                          "type": "integer",
                          "description": "Size of the UE IP pool chunks that will be used in resource blocks for Layer 3 Affinity mode - for resource management with multiple PPE instances. Only applicable to pools of type UE"
                        },
                        "nat": {
                          "type": "object",
                          "description": "NAT parameters specific to this deployment",
                          "properties": {
                            "maxPortsPerSession": {
                              "type": "integer",
                              "description": "Number of ports allowed per UE. Default 0 implies unlimited ports per UE."
                            },
                            "l3amNatIpsPerPpe": {
                              "type": "integer",
                              "description": "Number of IPs per ppe to be allocated"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the deployment area to which this NF belongs."
        },
        "networkSliceList": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "networkSlice": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "Network slice in which this NF participates"
              },
              "distinguishedName": {
                "$ref": "./common.json#/definitions/DistinguishedName",
                "description": "This identifies the specific slice subnet profile in the network slice subnet profile list"
              }
            }
          },
          "description": "A list of network slice resource object and subnet instance"
        }
      },
      "required": [
        "deploymentArea",
        "networkSliceList"
      ]
    },
    "UpfDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpfDeploymentPropertiesFormat",
          "description": "UPF Deployment properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The UPF deployment resource definition."
    },
    "UpfDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpfDeployment"
          },
          "description": "A list of UPF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for UPF deployment API service call."
    }
  },
  "parameters": {
    "UpfDeploymentNameParameter": {
      "name": "upfDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of UPF deployment.",
      "x-ms-parameter-location": "client"
    }
  }
}
