{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore upfProfile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/upfProfiles/{upfProfileName}": {
      "put": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core UPF profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the upfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            },
            "description": "Parameters supplied to create or update a UPF profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore upfProfile resource.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore upfProfile resource.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create UPF Profile": {
            "$ref": "./examples/UpfProfileCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core UPF Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the upfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore upfProfile resource.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get UPF Profile": {
            "$ref": "./examples/UpfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core UPF Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the upfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore upfProfile resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete UPF Profile": {
            "$ref": "./examples/UpfProfileDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_UpdateTags",
        "description": "Update Mobile Packet Core UPF Profile tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the UPF Profile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update UPF Profile tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore upfProfile resource Tag.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update UPF Profile Tags": {
            "$ref": "./examples/UpfProfileUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/upfProfiles": {
      "get": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_ListByMobilePacketCore",
        "description": "Lists all the Upf Profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/UpfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List UPF profiles by mobile packet core instance": {
            "$ref": "./examples/UpfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "UpfProfilePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the UPF Profile resource."
        },
        "networkContext": {
          "type": "array",
          "description": "A list of network contexts and related config applicable to UPFs.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "$ref": "./common.json#/definitions/NetworkContextName",
                "description": "Network context name used by associated UPFs"
              },
              "networkContextUsage": {
                "type": "array",
                "description": "Usage of the network context - interface type mapping",
                "items": {
                  "type": "string",
                  "enum": [
                    "N3",
                    "N4",
                    "N6",
                    "N9"
                  ],
                  "x-ms-enum": {
                    "name": "ufNetworkContextUsage",
                    "modelAsString": true
                  }
                }
              },
              "ipInterfaces": {
                "type": "array",
                "description": "Configure the ip-interface that will be created on every ethernet interface in this Network Context if the interface-label is not specified. Otherwise, the ip-interface will be created only on the interface-label matching interface.",
                "items": {
                  "type": "object",
                  "properties": {
                    "vlanId": {
                      "type": "integer",
                      "description": "The VLAN Identifier for this interface. The acceptable range is [0, 4094] and the value must be unique across all Network Contexts. The default VLAN-ID is 0, which is used to specifies an untagged interface.",
                      "minimum": 0,
                      "maximum": 4094,
                      "default": 0
                    },
                    "interfaceLabel": {
                      "type": "string",
                      "description": "Optionally specify a label to identify the h/w interface where this subinterface will be created.",
                      "default": ""
                    },
                    "ipMtu": {
                      "type": "integer",
                      "description": "Optionally set the Layer 3 MTU of the sub-interface - range [1280, 9216] - default is 1500.  Received packets larger than this value will be dropped. Transmitted packets will be fragmented to stay below this value. The setting applies to both IPv4 and IPv6 packets.",
                      "minimum": 1280,
                      "maximum": 9216,
                      "default": 1500
                    },
                    "sharedSubnet": {
                      "$ref": "./common.json#/definitions/Ao5gcBoolean",
                      "description": "Enables or disables shared subnet",
                      "default": "true"
                    },
                    "ipv4AddressTemplate": {
                      "type": "array",
                      "description": "Configure a set of IPv4 addresses available for use when deploying this ip-interface",
                      "maxItems": 8,
                      "items": {
                        "type": "object",
                        "properties": {
                          "prefixLength": {
                            "type": "integer",
                            "description": "IPv4 subnet length of all addresses created by template - range [1, 31] - mandatory",
                            "minimum": 1,
                            "maximum": 31
                          },
                          "count": {
                            "type": "integer",
                            "description": "Total number of addresses that can be generated by this template - range is [0, 128] - 0 disables the template - mandatory",
                            "minimum": 0,
                            "maximum": 128
                          }
                        },
                        "required": [
                          "prefixLength",
                          "count"
                        ]
                      }
                    },
                    "ipv6AddressTemplate": {
                      "type": "array",
                      "description": "Configure a set of IPv6 addresses available for use when deploying this ip-interface.",
                      "maxItems": 8,
                      "items": {
                        "type": "object",
                        "properties": {
                          "prefixLength": {
                            "type": "integer",
                            "description": "IPv6 subnet length of all addresses created by template - range [1, 127] - mandatory",
                            "minimum": 1,
                            "maximum": 127
                          },
                          "count": {
                            "type": "integer",
                            "description": "Total number of addresses that can be generated by this template - range is [0, 127] - 0 disables the template - mandatory",
                            "minimum": 0,
                            "maximum": 127
                          }
                        },
                        "required": [
                          "prefixLength",
                          "count"
                        ]
                      }
                    }
                  }
                }
              },
              "ipv4Loopbacks": {
                "type": "array",
                "description": "Configure IPv4 loopback interfaces that will be deployed in this Network Context. Each loopback entry will be deployed as an interface in the Network Context FIB. A loopback interface is defined by a 'loopback-address' and a 'prefix-length'. The 'loopback-address', masked by the 'prefix-length', defines a loopback subnet. All host addresses in the subnet will be loopback addresses, including the 'all 0's' and 'all 1's' host addresses. 'prefix-length' is optional, defaulting to 32 if not specified. Multicast addresses are invalid and will not be deployed.  The 'loopback-address', masked by 'prefix-length', represents the routing prefix used to advertise reachability to the loopback addresses supported by the interface. 'admin-state' controls the administrative state of the loopback interface. If set to 'disabled', all traffic received on the loopback interface will be dropped, and no traffic will be originated from the interface.",
                "items": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "string",
                      "description": "Scope of loopback interface - default is global",
                      "enum": [
                        "pod",
                        "global",
                        "dynamic"
                      ],
                      "x-ms-enum": {
                        "name": "ipv4LoopbackScope",
                        "modelAsString": true
                      },
                      "default": "global"
                    },
                    "loopbacksPerPod": {
                      "type": "integer",
                      "description": "Number of loopback interfaces assigned to a ppe when the scope is type pod",
                      "minimum": 1,
                      "maximum": 128,
                      "default": 1
                    },
                    "count": {
                      "type": "integer",
                      "description": "The number of loopback IPs to allocate",
                      "minimum": 0,
                      "maximum": 128,
                      "default": 1
                    },
                    "usage": {
                      "type": "array",
                      "description": "Purpose of loopback",
                      "items": {
                        "$ref": "./common.json#/definitions/LoopbackUsage"
                      }
                    }
                  }
                }
              },
              "ipv6Loopbacks": {
                "type": "array",
                "description": "Configure IPv4 loopback interfaces that will be deployed in this Network Context. Each loopback entry will be deployed as an interface in the Network Context FIB. A loopback interface is defined by a 'loopback-address' and a 'prefix-length'. The 'loopback-address', masked by the 'prefix-length', defines a loopback subnet. All host addresses in the subnet will be loopback addresses, including the 'all 0's' and 'all 1's' host addresses. 'prefix-length' is optional, defaulting to 32 if not specified. Multicast addresses are invalid and will not be deployed.  The 'loopback-address', masked by 'prefix-length', represents the routing prefix used to advertise reachability to the loopback addresses supported by the interface. 'admin-state' controls the administrative state of the loopback interface. If set to 'disabled', all traffic received on the loopback interface will be dropped, and no traffic will be originated from the interface.",
                "items": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "string",
                      "description": "Scope of loopback interface - default is global",
                      "enum": [
                        "pod",
                        "global",
                        "dynamic"
                      ],
                      "x-ms-enum": {
                        "name": "ipv6LoopbackScope",
                        "modelAsString": true
                      },
                      "default": "global"
                    },
                    "loopbacksPerPod": {
                      "type": "integer",
                      "description": "Number of loopback interfaces assigned to a ppe when the scope is type pod",
                      "minimum": 1,
                      "maximum": 128,
                      "default": 1
                    },
                    "count": {
                      "type": "integer",
                      "description": "The number of loopback IPs to allocate",
                      "minimum": 0,
                      "maximum": 128,
                      "default": 1
                    },
                    "usage": {
                      "type": "array",
                      "description": "Purpose of loopback",
                      "items": {
                        "$ref": "./common.json#/definitions/LoopbackUsage"
                      }
                    }
                  }
                }
              },
              "ipPools": {
                "type": "array",
                "description": "IP Pools configuration",
                "items": {
                  "type": "object",
                  "properties": {
                    "poolType": {
                      "type": "string",
                      "description": "Type of the IP pool",
                      "enum": [
                        "NAT",
                        "UE"
                      ],
                      "x-ms-enum": {
                        "name": "PoolType",
                        "modelAsString": true
                      },
                      "default": "UE"
                    },
                    "name": {
                      "type": "string",
                      "description": "Unique name identifying this IP Pool (referenced by other resources such as the packet detection rule).  Warning!!! This name must be unique across all network contexts"
                    },
                    "poolSize": {
                      "type": "integer",
                      "description": "Size of this pool"
                    },
                    "tag": {
                      "type": "string",
                      "description": "Optional tag to be used to identify the cluster pool from which this pool is allocated.  If specified, only pools provisioned with the same tag value can be used to populate this IP Pool when a UPF is deployed.  If not specified any untagged pool can be used.  Applicable to pools of type UE"
                    },
                    "dnnList": {
                      "type": "array",
                      "description": "Optional list of DNNs which can use this IP pool.  If not specified this pool can be used by any DNN in the same network context.  Applicable to pools of type UE",
                      "items": {
                        "$ref": "./common.json#/definitions/ReferencedResource"
                      }
                    },
                    "routeSummaryPrefixLength": {
                      "type": "integer",
                      "maximum": 128,
                      "description": "Route summary prefix length of this IP pool.  Max 32 or 128 depending on IP version"
                    },
                    "advertise": {
                      "$ref": "./common.json#/definitions/Ao5gcBoolean",
                      "description": "Advertise reachability of this UE IP Pool over dynamic routing",
                      "default": true
                    },
                    "l3amChunkSize": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 4294967295,
                      "default": 8192,
                      "description": "Size of the UE IP pool chunks that will be used in resource blocks for Layer 3 Affinity mode - for resource management with multiple PPE instances. Only applicable to pools of type UE"
                    },
                    "nat": {
                      "type": "object",
                      "description": "Network Address Translation parameters",
                      "properties": {
                        "maxPortsPerSession": {
                          "type": "integer",
                          "description": "Number of ports allowed per UE. Default 0 implies unlimited ports per UE.",
                          "minimum": 0,
                          "maximum": 64511,
                          "default": 0
                        },
                        "l3amNatIpsPerPpe": {
                          "type": "integer",
                          "description": "Number of IPs per ppe to be allocated",
                          "minimum": 1,
                          "maximum": 4294967295,
                          "default": 1
                        }
                      }
                    }
                  },
                  "required": [
                    "name",
                    "poolSize",
                    "routeSummaryPrefixLength"
                  ]
                }
              }
            }
          }
        }
      },
      "description": "The MobilePacketCore UpfProfile resource definition."
    },
    "UpfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpfProfilePropertiesFormat",
          "description": "Mobile Packet Core UPF Profile properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore upfProfile resource."
    },
    "UpfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpfProfile"
          },
          "description": "A list of MobilePacketCore upfProfile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore UpfProfile API service call."
    }
  }
}
