{
  "swagger": "2.0",
  "info": {
    "title": "UpfProfile",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore upfProfile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/upfProfiles/{upfProfileName}": {
      "put": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfile_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core UPF profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the upfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore upfProfile resource.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore upfProfile resource.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create UPF Profile": {
            "$ref": "./examples/UpfProfileCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfile_Get",
        "description": "Get information about the specified Mobile Packet Core UPF Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the upfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore upfProfile resource.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get UPF Profile": {
            "$ref": "./examples/UpfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfile_Delete",
        "description": "Deletes the specified Mobile Packet Core UPF Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the upfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore upfProfile resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete UPF Profile": {
            "$ref": "./examples/UpfProfileDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfile_UpdateTags",
        "description": "Update Mobile Packet Core UPF Profile tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the UPF Profile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update UPF Profile tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore upfProfile resource Tag.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update UPF Profile Tags": {
            "$ref": "./examples/UpfProfileUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mpcName}/upfProfiles": {
      "get": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfile_ListByMobilePacketCore",
        "description": "Lists all the Upf Profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/UpfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List UPF profiles by mobile packet core instance": {
            "$ref": "./examples/UpfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "UpfProfilePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the UPF Profile resource."
        },
        "networkContext": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "$ref": "./common.json#/definitions/networkContext"
              },
              "networkContextUsage": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "N3",
                    "N4",
                    "N6",
                    "N9"
                  ],
                  "x-ms-enum": {
                    "name": "loopbackScope",
                    "modelAsString": true
                  }
                }
              },
              "ipInterfaces": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "vlanId": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 4094
                    },
                    "ipMtu": {
                      "type": "integer",
                      "minimum": 1280,
                      "maximum": 9216
                    },
                    "sharedSubnet": {
                      "type": "boolean"
                    },
                    "ipv4AddressTemplate": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "prefixLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 31
                          },
                          "count": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 128
                          }
                        }
                      }
                    },
                    "ipv6AddressTemplate": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "prefixLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 127
                          },
                          "count": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 128
                          }
                        }
                      }
                    }
                  }
                }
              },
              "ipv4Loopbacks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "string",
                      "enum": [
                        "pod",
                        "global",
                        "dynamic"
                      ],
                      "x-ms-enum": {
                        "name": "loopbackScope",
                        "modelAsString": true
                      }
                    },
                    "loopbacksPerPod": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 128
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 128
                    },
                    "usage": {
                      "type": "array",
                      "items": {
                        "$ref": "./common.json#/definitions/LoopbackUsage"
                      }
                    }
                  }
                }
              },
              "ipv6Loopbacks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "string",
                      "enum": [
                        "pod",
                        "global",
                        "dynamic"
                      ],
                      "x-ms-enum": {
                        "name": "loopbackScope",
                        "modelAsString": true
                      }
                    },
                    "loopbacksPerPod": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 128
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 128
                    },
                    "usage": {
                      "type": "array",
                      "items": {
                        "$ref": "./common.json#/definitions/LoopbackUsage"
                      }
                    }
                  }
                }
              },
              "ipPools": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "poolType": {
                      "type": "string",
                      "enum": [
                        "NAT",
                        "UE"
                      ],
                      "x-ms-enum": {
                        "name": "PoolType",
                        "modelAsString": true
                      }
                    },
                    "poolSize": {
                      "type": "integer"
                    },
                    "routeSummaryPrefixLength": {
                      "type": "integer"
                    },
                    "advertise": {
                      "type": "boolean"
                    },
                    "l3amChunkSize": {
                      "type": "integer",
                      "description": "Only applicable to pools of type UE"
                    },
                    "nat": {
                      "type": "object",
                      "properties": {
                        "maxPortsPerSession": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 64511
                        },
                        "l3amNatIpsPerPpe": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "description": "A list of network contexts and related config applicable to UPFs."
        }
      },
      "description": "The MobilePacketCore UpfProfile resource definition."
    },
    "UpfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpfProfilePropertiesFormat",
          "description": "Mobile Packet Core UPF Profile properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore upfProfile resource."
    },
    "UpfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpfProfile"
          },
          "description": "A list of MobilePacketCore upfProfile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore UpfProfile API service call."
    }
  }
}
