{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "description": "AfecEnablment Provider",
    "version": "2021-08-21-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/afecEnablements": {
      "get": {
        "description": "List all afecEnablements in a subscription",
        "x-ms-examples": {
          "Get AfecEnablements in a subscription": {
            "$ref": "./examples/GetAllAfecEnablement.json"
          }
        },
        "operationId": "AfecEnablement_listSubscriptionLevel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all afecEnablements",
            "schema": {
              "$ref": "#/definitions/AfecEnablementModelArray"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/afecEnablements": {
      "get": {
        "description": "List all afecEnablements in a resource group",
        "x-ms-examples": {
          "Get afecEnablements in a resource group": {
            "$ref": "./examples/GetAfecEnablementsInResourceGroup.json"
          }
        },
        "operationId": "AfecEnablement_listResourceGroupLevel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all afecEnablements",
            "schema": {
              "$ref": "#/definitions/AfecEnablementModelArray"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/afecEnablements/{resourceName}": {
      "put": {
        "description": "Create or update afecEnablement",
        "x-ms-examples": {
          "Create or update AfecEnablement": {
            "$ref": "./examples/CreateAfecEnablement.json"
          }
        },
        "operationId": "AfecEnablement_CreateUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "AfecEnablement",
            "description": "AfecEnablements details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AfecEnablementModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "AfecEnablement resource created successfully",
            "schema": {
              "$ref": "#/definitions/AfecEnablementModel"
            }
          },
          "200": {
            "description": "AfecEnablement resource updated successfully",
            "schema": {
              "$ref": "#/definitions/AfecEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Patch afecEnablement",
        "x-ms-examples": {
          "Patch AfecEnablement": {
            "$ref": "./examples/PatchAfecEnablement.json"
          }
        },
        "operationId": "AfecEnablement_Patch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "AfecEnablement",
            "description": "AfecEnablement details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch request has been accepted, resource is already in the state matching the PATCH request body",
            "schema": {
              "$ref": "#/definitions/AfecEnablementModel"
            }
          },
          "202": {
            "description": "Patch request has been accepted",
            "schema": {
              "$ref": "#/definitions/AfecEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Returns an AfecEnablement info",
        "x-ms-examples": {
          "Get AfecEnablement": {
            "$ref": "./examples/GetAfecEnablement.json"
          }
        },
        "operationId": "AfecEnablement_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get AfecEnablement info",
            "schema": {
              "$ref": "#/definitions/AfecEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete AfecEnablement",
        "x-ms-examples": {
          "Delete AfecEnablement": {
            "$ref": "./examples/DeleteAfecEnablement.json"
          }
        },
        "operationId": "AfecEnablement_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete request has been accepted"
          },
          "202": {
            "description": "Delete request has been accepted"
          },
          "204": {
            "description": "Delete request has been accepted"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AfecEnablementResource": {
      "required": [
        "ResourceProviderNamespace"
      ],
      "type": "object",
      "description": "AfecEnablementResource details",
      "properties": {
        "ResourceProviderNamespace": {
          "type": "string",
          "description": "The resource provider namespace"
        },
        "ResourceTypeName": {
          "type": "string",
          "description": "The resource type name"
        }
      }
    },
    "AfecEnablementModel": {
      "type": "object",
      "description": "AfecEnablement Response",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning State of the resource."
        },
        "properties": {
          "$ref": "#/definitions/AfecEnablementResource",
          "description": "AfecEnablementResource detail"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ProvisioningState": {
      "description": "Provisioning status of the resource.",
      "readOnly": true,
      "enum": [
        "Failed",
        "Succeeded",
        "Canceled",
        "Accepted"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "AfecEnablementModelArray": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AfecEnablementModel"
          },
          "description": "An array of afecEnablement resources"
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of afecEnablement"
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of resource",
      "x-ms-parameter-location": "method"
    }
  }
}
