{
  "swagger": "2.0",
  "info": {
    "title": "PlayFab",
    "description": "PlayFab AzureResourceProvider",
    "version": "2021-07-15-alpha"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PlayerAccountPools"
    },
    {
      "name": "Titles"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerAccountPools/{resourceName}": {
      "put": {
        "tags": [
          "PlayerAccountPools"
        ],
        "description": "Create Or Update PlayerAccountPool Request",
        "operationId": "PlayerAccountPool_ResourceGroupLevelPut",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/playerAccountPoolResource"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerAccountPool"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "PlayerAccountPools"
        ],
        "operationId": "PlayerAccountPool_ResourceGroupLevelGet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerAccountPool"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PlayerAccountPools"
        ],
        "operationId": "PlayerAccountPool_ResourceGroupLevelDelete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request to delete PlayerAccountPool resource has been registered successfully."
          },
          "204": {
            "description": "Success. Without any content"
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PlayerAccountPools"
        ],
        "description": "Patch PlayerAccountPool request",
        "operationId": "PlayerAccountPool_ResourceGroupLevelPatch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/playerAccountPoolResource"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerAccountPool"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerAccountPools": {
      "get": {
        "tags": [
          "PlayerAccountPools"
        ],
        "operationId": "PlayerAccountPool_ResourceGroupLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/playerAccountPools": {
      "get": {
        "tags": [
          "PlayerAccountPools"
        ],
        "operationId": "PlayerAccountPool_SubscriptionLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{resourceName}": {
      "put": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelPut",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/titleResource"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelGet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelDelete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request to delete Title resource has been registered successfully."
          },
          "204": {
            "description": "Typed response envelope for ARM operations."
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelPatch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/titleResource"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles": {
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TitleCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/titles": {
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_SubscriptionLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TitleCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.PlayFab2/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ResourceOfPlayerAccountPool": {
      "type": "object",
      "description": "Resource of PlayerAccountPool Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlayerAccountPoolProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        },
        {
          "$ref": "#/definitions/ExtraProperties"
        }
      ]
    },
    "PlayerAccountPoolProperties": {
      "type": "object",
      "description": "Properties of PlayerAccountPool Reource",
      "properties": {
        "playFabPublisherId": {
          "type": "string",
          "readOnly": true,
          "description": "PlayFab Publisher ID associated with the PlayerAccountPoolResource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourcePropertiesBase"
        }
      ]
    },
    "ResourcePropertiesBase": {
      "type": "object",
      "description": "The Common Resource Properties",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The value for the provisioning state",
          "readOnly": true,
          "enum": [
            "NotSpecified",
            "Accepted",
            "Creating",
            "Deleting",
            "Canceled",
            "Failed",
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": false
          }
        }
      }
    },
    "ResourceOfTitle": {
      "type": "object",
      "description": "Resource of Title Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        },
        {
          "$ref": "#/definitions/ExtraProperties"
        }
      ]
    },
    "TitleProperties": {
      "type": "object",
      "description": "Properties of Title Reource",
      "properties": {
        "playFabTitleId": {
          "type": "string",
          "readOnly": true,
          "description": "Id of title object in PlayFab backend."
        },
        "playerAccountPoolId": {
          "type": "string",
          "description": "Azure resource Id of the playerAccountPool resource."
        }
      },
      "required": [
        "playerAccountPoolId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ResourcePropertiesBase"
        }
      ]
    },
    "PlayerAccountPoolCollection": {
      "description": "Page of PlayerAccountPool",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of PlayerAccountPool Resource",
          "type": "array",
          "items": {
            "description": "The list of PlayerAccountPool.",
            "$ref": "#/definitions/ResourceOfPlayerAccountPool"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of PlayerAccountPool resources list.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExtraProperties": {
      "type": "object",
      "description": "Extra properties not included in Tracked Resource",
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the Azure resource",
          "readOnly": true
        }
      }
    },
    "TitleCollection": {
      "description": "Page of Title",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Title Resource",
          "type": "array",
          "items": {
            "description": "The list of Title.",
            "$ref": "#/definitions/ResourceOfTitle"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of Title resources list.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "resourceName": {
      "type": "string",
      "name": "resourceName",
      "in": "path",
      "required": true,
      "x-nullable": false,
      "description": "Resource Name",
      "x-ms-parameter-location": "method"
    },
    "playerAccountPoolResource": {
      "name": "resource",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ResourceOfPlayerAccountPool"
      },
      "x-nullable": false,
      "description": "Player Account Pool Resource",
      "x-ms-parameter-location": "method"
    },
    "titleResource": {
      "name": "resource",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ResourceOfTitle"
      },
      "x-nullable": false,
      "description": "Title Resource",
      "x-ms-parameter-location": "method"
    }
  }
}