{
  "swagger": "2.0",
  "info": {
    "title": "PlayFab",
    "description": "PlayFab AzureResourceProvider",
    "version": "2021-07-15-alpha"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PlayerNamespaces"
    },
    {
      "name": "Titles"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerNamespaces/{resourceName}": {
      "put": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelPut",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/playerNamespaceResource"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelGet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelDelete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "204": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelPatch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/playerNamespaceResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerNamespaces": {
      "get": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/playerNamespaces/{resourceName}": {
      "put": {
        "tags": [
          "PlayerNamespace"
        ],
        "operationId": "PlayerNamespace_SubscriptionLevelPut",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/playerNamespaceResource"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "PlayerNamespace"
        ],
        "operationId": "PlayerNamespace_SubscriptionLevelGet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PlayerNamespace"
        ],
        "operationId": "PlayerNamespace_SubscriptionLevelDelete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "204": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PlayerNamespace"
        ],
        "operationId": "PlayerNamespace_SubscriptionLevelPatch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/playerNamespaceResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/playerNamespaces": {
      "get": {
        "tags": [
          "PlayerNamespace"
        ],
        "operationId": "PlayerNamespace_SubscriptionLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/PlayerNamespaceCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{resourceName}": {
      "put": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelPut",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/titleResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelGet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelDelete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "204": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelPatch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/titleResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles": {
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TitleCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/titles": {
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_SubscriptionLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TitleCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.PlayFab2/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ResourceOfPlayerNamespace": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "type": "object",
          "properties": {
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
            }
          }
        }
      ]
    },
    "Resource": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Id for PlayerNamespace Resource",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name for PlayerNamespace Resource",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type for PlayerNamespace Resource",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location for PlayerNamespace Resource",
          "type": "string"
        },
        "eTag": {
          "description": "e Tag for PlayerNamespace Resource",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "$ref": "#/definitions/InsensitiveDictionaryOfString"
        }
      }
    },
    "InsensitiveDictionaryOfString": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      }
    },
    "PlayerNamespace": {
      "allOf": [
        {
          "$ref": "#/definitions/BasicResourceProperties"
        }
      ]
    },
    "BasicResourceProperties": {
      "type": "object",
      "properties": {
        "playFabEntityId": {
          "type": "string",
          "description": "The playfab entity ID for this title",
          "readOnly": true
        }
      }
    },
    "ResourceOfTitle": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "type": "object",
          "properties": {
            "properties": {
              "$ref": "#/definitions/Title"
            }
          }
        },
        {
          "type": "object",
          "properties": {
            "systemData": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
            }
          }
        }
      ]
    },
    "Title": {
      "allOf": [
        {
          "$ref": "#/definitions/BasicResourceProperties"
        },
        {
          "$ref": "#/definitions/PlayerNamespaceId"
        }
      ]
    },
    "PlayerNamespaceId": {
      "type": "object",
      "properties": {
        "playerNamespaceId": {
          "description": "ID for PlayerNamespace",
          "type": "string"
        }
      }
    },
    "PlayerNamespaceCollection": {
      "description": "Page of PlayerNamespace",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of PlayerNamespace Resource",
          "type": "array",
          "items": {
            "description": "The list of PlayerNamespace.",
            "$ref": "#/definitions/ResourceOfPlayerNamespace"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of PlayerNamespace resources list.",
          "type": "string"
        }
      }
    },
    "TitleCollection": {
      "description": "Page of Title",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Title Resource",
          "type": "array",
          "items": {
            "description": "The list of Title.",
            "$ref": "#/definitions/ResourceOfTitle"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of Title resources list.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "resourceName": {
      "type": "string",
      "name": "resourceName",
      "in": "path",
      "required": true,
      "x-nullable": true,
      "description": "Resource Name",
      "x-ms-parameter-location": "method"
    },
    "playerNamespaceResource": {
      "name": "resource",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ResourceOfPlayerNamespace"
      },
      "x-nullable": false,
      "description": "Player Namespace Resource",
      "x-ms-parameter-location": "method"
    },
    "titleResource": {
      "name": "resource",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ResourceOfTitle"
      },
      "x-nullable": false,
      "description": "Title Resource",
      "x-ms-parameter-location": "method"
    }
  }
}