{
  "swagger": "2.0",
  "info": {
    "title": "EncryptedTransportClient",
    "version": "2022-06-17-preview",
    "description": "Encrypted Transport management API.",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EncryptedTransport"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.EncryptedTransport/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EncryptedTransport/EncryptedTransport": {
      "get": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_ListBySubscription",
        "description": "List EncryptedTransportResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EncryptedTransport_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_ListBySubscription_MaximumSet_Gen.json"
          },
          "EncryptedTransport_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/EncryptedTransport": {
      "get": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_ListByResourceGroup",
        "description": "List EncryptedTransportResource resources by resource group",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EncryptedTransport_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "EncryptedTransport_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/EncryptedTransport/{EncryptedTransportName}": {
      "get": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_Get",
        "description": "Get a EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.EncryptedTransportName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransport_Get_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Get_MaximumSet_Gen.json"
          },
          "EncryptedTransport_Get_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_CreateOrUpdate",
        "description": "Create a EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.EncryptedTransportName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "EncryptedTransport_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "EncryptedTransport_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_Update",
        "description": "Update a EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.EncryptedTransportName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransport_Update_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Update_MaximumSet_Gen.json"
          },
          "EncryptedTransport_Update_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_Delete",
        "description": "Delete a EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.EncryptedTransportName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "EncryptedTransport_Delete_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Delete_MaximumSet_Gen.json"
          },
          "EncryptedTransport_Delete_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "EncryptedTransportResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EncryptedTransportResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A EncryptedTransport",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "./common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EncryptedTransportResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EncryptedTransportResource"
          },
          "x-cadl-name": "EncryptedTransportResource[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a EncryptedTransportResource list operation.",
      "required": [
        "value"
      ]
    },
    "EncryptedTransportResourceProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The Encrypted Transport's display name"
        },
        "regionDisplayName": {
          "type": "string",
          "description": "The Encrypted Transport region's display name"
        },
        "regionType": {
          "type": "string",
          "description": "The type location"
        },
        "regionCategory": {
          "type": "string",
          "description": "The category of the location"
        },
        "geographyGroup": {
          "type": "string",
          "description": "The geography group of the location"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "description": "EncryptedTransportResource resource properties",
      "required": [
        "displayName",
        "regionDisplayName",
        "regionType",
        "regionCategory",
        "geographyGroup"
      ]
    },
    "EncryptedTransportResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/EncryptedTransportResourceUpdateProperties"
        }
      },
      "description": "The type used for update operations of the EncryptedTransportResource."
    },
    "EncryptedTransportResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The Encrypted Transport's display name"
        },
        "regionDisplayName": {
          "type": "string",
          "description": "The Encrypted Transport region's display name"
        },
        "regionType": {
          "type": "string",
          "description": "The type location"
        },
        "regionCategory": {
          "type": "string",
          "description": "The category of the location"
        },
        "geographyGroup": {
          "type": "string",
          "description": "The geography group of the location"
        }
      },
      "description": "The updatable properties of the EncryptedTransportResource."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning Sate",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "EncryptedTransportResource.EncryptedTransportName": {
      "name": "EncryptedTransportName",
      "in": "path",
      "required": true,
      "description": "Name of EncryptedTransport",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}