{
  "swagger": "2.0",
  "info": {
    "title": "Encrypted Transport Client",
    "version": "2022-06-17-preview",
    "description": "Encrypted Transport Management API",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EncryptedTransport"
    },
    {
      "name": "EndUserDevices"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.EncryptedTransport/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EncryptedTransport/encryptedTransport": {
      "get": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_ListBySubscription",
        "description": "List EncryptedTransportResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EncryptedTransport_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_ListBySubscription_MaximumSet_Gen.json"
          },
          "EncryptedTransport_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EncryptedTransport/encryptedTransport/{encryptedTransportName}/endUserDevices": {
      "get": {
        "tags": [
          "EndUserDevices"
        ],
        "operationId": "EndUserDevices_ListBySubscription",
        "description": "List EndUserDeviceResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndUserDeviceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EndUserDevices_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/EndUserDevices_ListBySubscription_MaximumSet_Gen.json"
          },
          "EndUserDevices_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/EndUserDevices_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransport": {
      "get": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_ListByResourceGroup",
        "description": "List EncryptedTransportResource resources by resource group",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EncryptedTransport_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "EncryptedTransport_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransport/{encryptedTransportName}": {
      "get": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_Get",
        "description": "Get a EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransport_Get_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Get_MaximumSet_Gen.json"
          },
          "EncryptedTransport_Get_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_CreateOrUpdate",
        "description": "Create a EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "EncryptedTransport_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "EncryptedTransport_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_Update",
        "description": "Update a EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EncryptedTransport_Update_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Update_MaximumSet_Gen.json"
          },
          "EncryptedTransport_Update_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "EncryptedTransport"
        ],
        "operationId": "EncryptedTransport_Delete",
        "description": "Delete a EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "EncryptedTransport_Delete_MaximumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Delete_MaximumSet_Gen.json"
          },
          "EncryptedTransport_Delete_MinimumSet_Gen": {
            "$ref": "./examples/EncryptedTransport_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransport/{encryptedTransportName}/endUserDevices": {
      "get": {
        "tags": [
          "EndUserDevices"
        ],
        "operationId": "EndUserDevices_ListByEncryptedTransportResource",
        "description": "List EndUserDeviceResource resources by EncryptedTransportResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndUserDeviceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EndUserDevices_ListByEncryptedTransportResource_MaximumSet_Gen": {
            "$ref": "./examples/EndUserDevices_ListByEncryptedTransportResource_MaximumSet_Gen.json"
          },
          "EndUserDevices_ListByEncryptedTransportResource_MinimumSet_Gen": {
            "$ref": "./examples/EndUserDevices_ListByEncryptedTransportResource_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EncryptedTransport/encryptedTransport/{encryptedTransportName}/endUserDevices/{endUserDeviceName}": {
      "get": {
        "tags": [
          "EndUserDevices"
        ],
        "operationId": "EndUserDevices_Get",
        "description": "Get a EndUserDeviceResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          },
          {
            "$ref": "#/parameters/EndUserDeviceResource.endUserDeviceName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndUserDeviceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EndUserDevices_Get_MaximumSet_Gen": {
            "$ref": "./examples/EndUserDevices_Get_MaximumSet_Gen.json"
          },
          "EndUserDevices_Get_MinimumSet_Gen": {
            "$ref": "./examples/EndUserDevices_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "EndUserDevices"
        ],
        "operationId": "EndUserDevices_CreateOrUpdate",
        "description": "Create a EndUserDeviceResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          },
          {
            "$ref": "#/parameters/EndUserDeviceResource.endUserDeviceName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EndUserDeviceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndUserDeviceResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EndUserDeviceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "EndUserDevices_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/EndUserDevices_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "EndUserDevices_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/EndUserDevices_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "EndUserDevices"
        ],
        "operationId": "EndUserDevices_Update",
        "description": "Update a EndUserDeviceResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          },
          {
            "$ref": "#/parameters/EndUserDeviceResource.endUserDeviceName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EndUserDeviceResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndUserDeviceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EndUserDevices_Update_MaximumSet_Gen": {
            "$ref": "./examples/EndUserDevices_Update_MaximumSet_Gen.json"
          },
          "EndUserDevices_Update_MinimumSet_Gen": {
            "$ref": "./examples/EndUserDevices_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "EndUserDevices"
        ],
        "operationId": "EndUserDevices_Delete",
        "description": "Delete a EndUserDeviceResource",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/EncryptedTransportResource.encryptedTransportName"
          },
          {
            "$ref": "#/parameters/EndUserDeviceResource.endUserDeviceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "EndUserDevices_Delete_MaximumSet_Gen": {
            "$ref": "./examples/EndUserDevices_Delete_MaximumSet_Gen.json"
          },
          "EndUserDevices_Delete_MinimumSet_Gen": {
            "$ref": "./examples/EndUserDevices_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "EncryptedTransportResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EncryptedTransportResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "An Encrypted Transport Resource",
      "allOf": [
        {
          "$ref": "./common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EncryptedTransportResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EncryptedTransportResource"
          },
          "x-cadl-name": "EncryptedTransportResource[]",
          "description": "The EncryptedTransportResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<EncryptedTransportResource>"
        }
      },
      "description": "The response of a EncryptedTransportResource list operation.",
      "required": [
        "value"
      ]
    },
    "EncryptedTransportResourceProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The Encrypted Transport's display name"
        },
        "regionDisplayName": {
          "type": "string",
          "description": "The Encrypted Transport region's display name"
        },
        "regionType": {
          "type": "string",
          "description": "The type location"
        },
        "regionCategory": {
          "type": "string",
          "description": "The category of the location"
        },
        "geographyGroup": {
          "type": "string",
          "description": "The geography group of the location"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "description": "Encrypted Transport Resource resource properties",
      "required": [
        "displayName",
        "regionDisplayName",
        "regionType",
        "regionCategory",
        "geographyGroup"
      ]
    },
    "EncryptedTransportResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/EncryptedTransportResourceUpdateProperties"
        }
      },
      "description": "The type used for update operations of the EncryptedTransportResource."
    },
    "EncryptedTransportResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The Encrypted Transport's display name"
        },
        "regionDisplayName": {
          "type": "string",
          "description": "The Encrypted Transport region's display name"
        },
        "regionType": {
          "type": "string",
          "description": "The type location"
        },
        "regionCategory": {
          "type": "string",
          "description": "The category of the location"
        },
        "geographyGroup": {
          "type": "string",
          "description": "The geography group of the location"
        }
      },
      "description": "The updatable properties of the EncryptedTransportResource."
    },
    "EndUserDeviceResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EndUserDeviceResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "An End User Device Resource ",
      "allOf": [
        {
          "$ref": "./common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EndUserDeviceResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EndUserDeviceResource"
          },
          "x-cadl-name": "EndUserDeviceResource[]",
          "description": "The EndUserDeviceResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<EndUserDeviceResource>"
        }
      },
      "description": "The response of a EndUserDeviceResource list operation.",
      "required": [
        "value"
      ]
    },
    "EndUserDeviceResourceProperties": {
      "type": "object",
      "properties": {
        "macAddress": {
          "type": "string",
          "description": "The MAC address.",
          "pattern": "^[a-fA-F0-9]{2}(:[a-fA-F0-9]{2}){5}$"
        },
        "ipv4Address": {
          "type": "string",
          "description": "The ipv4 address.",
          "pattern": "^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)([.](25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$"
        },
        "ipv6Address": {
          "type": "string",
          "description": "The ipv6 address.",
          "pattern": "^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$"
        },
        "ownerId": {
          "type": "string",
          "description": "The Owner ID.",
          "pattern": "^[A-Z0-9]{3,9}$"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "description": "An End User Device object belonging to an Encrypted Transport.",
      "required": [
        "macAddress",
        "ipv4Address",
        "ipv6Address",
        "ownerId"
      ]
    },
    "EndUserDeviceResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/EndUserDeviceResourceUpdateProperties"
        }
      },
      "description": "The type used for update operations of the EndUserDeviceResource."
    },
    "EndUserDeviceResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "macAddress": {
          "type": "string",
          "description": "The MAC address.",
          "pattern": "^[a-fA-F0-9]{2}(:[a-fA-F0-9]{2}){5}$"
        },
        "ipv4Address": {
          "type": "string",
          "description": "The ipv4 address.",
          "pattern": "^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)([.](25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$"
        },
        "ipv6Address": {
          "type": "string",
          "description": "The ipv6 address.",
          "pattern": "^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$"
        },
        "ownerId": {
          "type": "string",
          "description": "The Owner ID.",
          "pattern": "^[A-Z0-9]{3,9}$"
        }
      },
      "description": "The updatable properties of the EndUserDeviceResource."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning State",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "EncryptedTransportResource.encryptedTransportName": {
      "name": "encryptedTransportName",
      "in": "path",
      "required": true,
      "description": "Name of EncryptedTransport",
      "pattern": "^[a-zA-Z0-9]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "EndUserDeviceResource.endUserDeviceName": {
      "name": "endUserDeviceName",
      "in": "path",
      "required": true,
      "description": "EndUserDevice name",
      "pattern": "^[a-zA-Z0-9]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}