{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "description": "API specification for PlannedQuota resource.",
    "version": "2022-08-22-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/plannedQuotas": {
      "get": {
        "description": "List all PlannedQuota info of the subscription.",
        "operationId": "PlannedQuota_ListSubscriptionLevel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List all PlannedQuota of the specified subscription.",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModelArray"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List PlannedQuotas in a subscription": {
            "$ref": "./examples/GetAllPlannedQuota.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/plannedQuotas": {
      "get": {
        "description": "List PlannedQuota of the resource group.",
        "operationId": "PlannedQuota_ListResourceGroupLevel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List PlannedQuota of the resource group.",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModelArray"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all PlannedQuotas in a resource group": {
            "$ref": "./examples/GetPlannedQuotaInResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/plannedQuotas/{resourceName}": {
      "put": {
        "description": "Create or update PlannedQuota for resource group.",
        "operationId": "PlannedQuota_CreateUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "PlannedQuota",
            "description": "PlannedQuotas details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PlannedQuota updated successfully.",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "201": {
            "description": "PlannedQuota created successfully.",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update PlannedQuota": {
            "$ref": "./examples/CreatePlannedQuota.json"
          }
        }
      },
      "patch": {
        "description": "Patch PlannedQuota for the resource group.",
        "operationId": "plannedQuota_Patch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "PlannedQuota",
            "description": "PlannedQuota details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch request has been accepted, resource is already in the state matching the PATCH request body.",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "202": {
            "description": "Patch request ahs been accepted.",
            "headers": {
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch PlannedQuota": {
            "$ref": "./examples/PatchPlannedQuota.json"
          }
        }
      },
      "get": {
        "description": "Returns PlannedQuota info.",
        "operationId": "plannedQuota_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get PlannedQuota info",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get PlannedQuota": {
            "$ref": "./examples/GetPlannedQuota.json"
          }
        }
      },
      "delete": {
        "description": "Delete PlannedQuota",
        "operationId": "plannedQuota_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete request has been accepted"
          },
          "202": {
            "description": "Delete request has been accepted",
            "headers": {
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Delete request has been accepted"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete PlannedQuota": {
            "$ref": "./examples/DeletePlannedQuota.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/plannedQuotas/{resourceName}": {
      "put": {
        "description": "Create or update plannedQuota (subscription only)",
        "x-ms-examples": {
          "Create or update plannedQuota": {
            "$ref": "./examples/CreatePlannedQuotaSubOnly.json"
          }
        },
        "operationId": "plannedQuota_SubOnly_CreateUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "PlannedQuota",
            "description": "PlannedQuotas details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "plannedQuota resource created successfully",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "200": {
            "description": "plannedQuota resource updated successfully",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Patch plannedQuota",
        "x-ms-examples": {
          "Patch plannedQuota": {
            "$ref": "./examples/PatchPlannedQuotaSubOnly.json"
          }
        },
        "operationId": "plannedQuota_SubOnly_Patch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "PlannedQuota",
            "description": "PlannedQuota details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch request has been accepted, resource is already in the state matching the PATCH request body",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "202": {
            "description": "Patch request has been accepted",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Returns an plannedQuota info",
        "x-ms-examples": {
          "Get plannedQuota": {
            "$ref": "./examples/GetPlannedQuotaSubOnly.json"
          }
        },
        "operationId": "plannedQuota_SubOnly_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get plannedQuota info",
            "schema": {
              "$ref": "#/definitions/PlannedQuotaModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete plannedQuota",
        "x-ms-examples": {
          "Delete plannedQuota": {
            "$ref": "./examples/DeletePlannedQuotaSubOnly.json"
          }
        },
        "operationId": "plannedQuota_SubOnly_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete request has been accepted"
          },
          "202": {
            "description": "Delete request has been accepted"
          },
          "204": {
            "description": "Delete request has been accepted"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "description": "Provisioning status of the resource.",
      "enum": [
        "Failed",
        "Succeeded",
        "Canceled",
        "Accepted"
      ],
      "readOnly": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      }
    },
    "PropertyBinding": {
      "type": "object",
      "properties": {
        "PlaceHolder": {
          "description": "Property binding placeholder.",
          "type": "string"
        },
        "ResourceName": {
          "description": "Name of the property.",
          "type": "string"
        }
      }
    },
    "PlannedQuotaResource": {
      "type": "object",
      "description": "Resource of PlannedQuota.",
      "properties": {
        "ContactEmail": {
          "description": "Contact email for manual approval.",
          "type": "string"
        },
        "Name": {
          "description": "Name of the resource template.",
          "type": "string"
        },
        "PlanVersion": {
          "description": "Plan version",
          "type": "number"
        },
        "ServiceTreeId": {
          "description": "Service tree id.",
          "type": "string"
        },
        "Stage": {
          "description": "Stage name.",
          "type": "string"
        },
        "SubscriptionNameInPlan": {
          "description": "Subscription Name in plan.",
          "type": "string"
        },
        "Properties": {
          "description": "Property bindings.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PropertyBinding"
          }
        }
      }
    },
    "PlannedQuotaModel": {
      "type": "object",
      "description": "PlannedQuota Resource payload.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the PlannedQuota resource."
        },
        "properties": {
          "$ref": "#/definitions/PlannedQuotaResource",
          "description": "The payload represents PlannedQuota resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PlannedQuotaModelArray": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlannedQuotaModel"
          },
          "description": "An array holds PlannedQuota resource info payloads."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "An array holds PlannedQuota resource info payloads."
    }
  },
  "parameters": {
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of resource",
      "x-ms-parameter-location": "method"
    }
  }
}
