{
    "swagger": "2.0",
    "info": {
        "title": "RPaaS ADR Learning",
        "description": "RPaaS ADR Learning resource provider.",
        "version": "2023-05-24-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AliGilani/Proxies": {
            "get": {
                "tags": [
                    "Proxies"
                ],
                "operationId": "Proxies_ListByResourceGroup",
                "description": "List all Proxies in a resource group.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProxyResponseList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AliGilani/Proxies/{ProxyName}": {
            "put": {
                "tags": [
                    "Proxies"
                ],
                "description": "Create a new Proxy or replace an existing Proxy.",
                "operationId": "Proxies_CreateOrReplace",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/proxyNameParameter"
                    },
                    {
                        "name": "Proxy",
                        "in": "body",
                        "required": true,
                        "description": "Resource create parameters.",
                        "schema": {
                            "$ref": "#/definitions/Proxy"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "Proxy is created successfully.",
                        "schema": {
                            "$ref": "#/definitions/Proxy"
                        }
                    },
                    "201": {
                        "x-nullable": false,
                        "description": "Async operation to create or update the Proxy is created.",
                        "schema": {
                            "$ref": "#/definitions/Proxy"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Proxies"
                ],
                "description": "Update specific Proxy properties.",
                "operationId": "Proxies_Update",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/proxyNameParameter"
                    },
                    {
                        "name": "ProxyUpdatePayload",
                        "in": "body",
                        "required": true,
                        "description": "Proxy Parameters to patch",
                        "schema": {
                            "$ref": "#/definitions/ProxyUpdatePayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Proxy is updated successfully.",
                        "schema": {
                            "$ref": "#/definitions/Proxy"
                        }
                    },
                    "202": {
                        "description": "Async operation to update Proxy is Accepted.",
                        "headers": {
                            "Location": {
                                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Proxy"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Proxies"
                ],
                "operationId": "Proxies_Delete",
                "description": "Delete a Proxy.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/proxyNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Proxy deletion is successful."
                    },
                    "202": {
                        "description": "Async operation to delete the Proxy is created.",
                        "headers": {
                            "Location": {
                                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Proxies"
                ],
                "operationId": "Proxies_Get",
                "description": "Retrieve a single Proxy.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/proxyNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Proxy"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.AliGilani/operations": {
            "get": {
                "description": "Returns list of operations.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Operations returned if request was successful.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
                        }
                    },
                    "default": {
                        "description": "Error response returned if request was unsuccessful.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "parameters": {
        "proxyNameParameter": {
            "name": "ProxyName",
            "description": "Name of the Proxy.",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 3
        }
    },
    "definitions": {
        "ProxyUpdatePayload": {
            "description": "Request payload used to update Proxy.",
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags."
                },
                "properties": {
                    "$ref": "#/definitions/ProxyUpdateProperties"
                }
            }
        },
        "ProxyUpdateProperties": {
            "description": "Proxy Properties that can be updated",
            "type": "object",
            "properties": {
                "attributes": {
                    "type": "object",
                    "additionalProperties": {}
                }
            }
        },
        "ProxyResponseList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Proxy"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            },
            "description": "List of Proxies."
        },
        "Proxy": {
            "description": "Proxy Model as ARM resource",
            "type": "object",
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "Resource Tag",
                    "readOnly": true
                },
                "properties": {
                    "$ref": "#/definitions/ProxyProperties",
                    "description": "Resource properties."
                }
            },
            "allOf": [
                {
                    "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
                }
            ]
        },
        "ProxyProperties": {
            "description": "Defines the Proxy properties.",
            "type": "object",
            "properties": {
                "attributes": {
                    "type": "object",
                    "additionalProperties": {}
                },
                "provisioningState": {
                    "description": "Provisioning state of the resource.",
                    "type": "string",
                    "readOnly": true
                }
            }
        }
    }
}
