{
  "swagger": "2.0",
  "info": {
    "title": "OffAzureSpringBoot",
    "description": "The Microsoft.OffAzureSpringBoot Rest API spec.",
    "version": "2023-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "OffAzureSpringBootClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}": {
      "get": {
        "operationId": "springbootsites_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsites"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_Retrieve_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_Retrieve_MaximumSet_Gen.json"
          },
          "springbootsites_Retrieve_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_Retrieve_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "springbootsites_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootsites",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootsites"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsites"
            }
          },
          "201": {
            "description": "Creates the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsites"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "springbootsites_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "springbootsites_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the springbootsites resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_Delete_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_Delete_MaximumSet_Gen.json"
          },
          "springbootsites_Delete_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "springbootsites_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootsites",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootsitesPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsites"
            }
          },
          "201": {
            "description": "Updates the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsites"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_Update_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_Update_MaximumSet_Gen.json"
          },
          "springbootsites_Update_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites": {
      "get": {
        "operationId": "springbootsites_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootsites under the resouce group.",
            "schema": {
              "$ref": "#/definitions/springbootsitesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootsites_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "springbootsites_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzureSpringBoot/springbootsites": {
      "get": {
        "operationId": "springbootsites_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootsites under the subscription.",
            "schema": {
              "$ref": "#/definitions/springbootsitesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootsites_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_ListBySubscription_MaximumSet_Gen.json"
          },
          "springbootsites_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.OffAzureSpringBoot/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "springbootsitesProperties": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of SpringBootSite"
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "springbootsites": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/springbootsitesProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The springbootsites resource definition."
    },
    "springbootsitesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The springbootsites resource patch definition."
    },
    "springbootsitesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/springbootsites"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "springbootsitesNameParameter": {
      "name": "springbootsitesName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}