{
  "swagger": "2.0",
  "info": {
    "title": "OffAzureSpringBoot",
    "description": "The Microsoft.OffAzureSpringBoot Rest API spec.",
    "version": "2023-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "OffAzureSpringBootClient"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps/{springbootappsName}": {
      "get": {
        "operationId": "springbootapps_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootappsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootapps"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootapps_Retrieve_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_Retrieve_MaximumSet_Gen.json"
          },
          "springbootapps_Retrieve_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_Retrieve_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "springbootapps_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootappsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootapps",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootapps"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootapps"
            }
          },
          "201": {
            "description": "Creates the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootapps"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootapps_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "springbootapps_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "springbootapps_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootappsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the springbootapps resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootapps_Delete_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_Delete_MaximumSet_Gen.json"
          },
          "springbootapps_Delete_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "springbootapps_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootappsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootapps",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootappsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootapps"
            }
          },
          "201": {
            "description": "Updates the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootapps"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootapps_Update_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_Update_MaximumSet_Gen.json"
          },
          "springbootapps_Update_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps": {
      "get": {
        "operationId": "springbootapps_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootapps under the resouce group.",
            "schema": {
              "$ref": "#/definitions/springbootappsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootapps_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "springbootapps_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps": {
      "get": {
        "operationId": "springbootapps_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootapps under the subscription.",
            "schema": {
              "$ref": "#/definitions/springbootappsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootapps_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_ListBySubscription_MaximumSet_Gen.json"
          },
          "springbootapps_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.OffAzureSpringBoot/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "springbootappsProperties": {
      "type": "object",
      "properties": {
        "appName": {
          "type": "string",
          "description": "The name of SpringBootApp."
        },
        "appPort": {
          "type": "integer"
        },
        "appType": {
          "type": "string"
        },
        "applicationConfigurations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "key",
              "value"
            ]
          }
        },
        "bindingPorts": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "buildJdkVersion": {
          "type": "string"
        },
        "certificates": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "checksum": {
          "type": "string"
        },
        "dependencies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "environments": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceCount": {
          "type": "integer"
        },
        "jarFileLocation": {
          "type": "string"
        },
        "jvmMemoryInMB": {
          "type": "integer"
        },
        "jvmOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "miscs": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "key",
              "value"
            ]
          }
        },
        "runtimeJdkVersion": {
          "type": "string"
        },
        "servers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineArmIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "siteName": {
          "type": "string"
        },
        "springBootVersion": {
          "type": "string"
        },
        "staticContentLocations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "description": "SpringBootAppStatus defines the observed state of SpringBootApp"
        }
      },
      "description": "SpringBootServerSpec defines the desired state of SpringBootServer"
    },
    "springbootapps": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/springbootappsProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The springbootapps resource definition."
    },
    "springbootappsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The springbootapps resource patch definition."
    },
    "springbootappsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/springbootapps"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "SiteNameParameter": {
      "name": "siteName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "springbootappsNameParameter": {
      "name": "springbootappsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}
