{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/isolationDomains/{isolationDomainName}": {
      "put": {
        "tags": [
          "IsolationDomains"
        ],
        "operationId": "IsolationDomains_Create",
        "summary": "Create Isolation Domain.",
        "description": "Implements Isolation Domain PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "isolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the Isolation Domain"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/IsolationDomain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IsolationDomain"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/IsolationDomain"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/IsolationDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "IsolationDomains"
        ],
        "operationId": "IsolationDomains_Get",
        "summary": "Gets a Isolation Domain.",
        "description": "Implements Isolation Domain GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "isolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the Isolation Domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IsolationDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "IsolationDomains"
        ],
        "operationId": "IsolationDomains_Update",
        "summary": "Updates a Isolation Domain.",
        "description": "API to update certain properties of the Isolation Domain resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "isolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the Isolation Domain"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Isolation Domain properties to update.",
            "schema": {
              "$ref": "#/definitions/IsolationDomainPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IsolationDomain"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "IsolationDomains"
        ],
        "operationId": "IsolationDomains_Delete",
        "summary": "Deletes a Isolation Domain.",
        "description": "Implements Isolation Domain DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "isolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the Isolation Domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/isolationDomains": {
      "get": {
        "operationId": "IsolationDomains_ListByResourceGroup",
        "summary": "List IsolationDomains by resource group.",
        "description": "Implements IsolationDomains list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all IsolationDomains under the resource group.",
            "schema": {
              "$ref": "#/definitions/IsolationDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/isolationDomains": {
      "get": {
        "operationId": "IsolationDomains_ListBySubscription",
        "summary": "List IsolationDomains by subscription.",
        "description": "Implements IsolationDomains list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all IsolationDomains under the subscription.",
            "schema": {
              "$ref": "#/definitions/IsolationDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "IsolationDomainProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Isolation Domain description."
        },
        "layerType": {
          "type": "string",
          "description": "Isolation Domain layer type. Example: layer2 or layer3."
        },
        "layer2Configuration": {
          "type": "object",
          "properties": {
            "vlanId": {
              "type": "integer",
              "description": "vlanId. Example: 100."
            },
            "mtu": {
              "type": "integer",
              "description": "mtu. Example: 9000."
            },
            "provisioningState": {
              "type": "string",
              "description": "provisioningState. Example: suceeded | failed."
            },
            "state": {
              "type": "string",
              "description": "state. Example: Enabled | Disabled."
            }
          }
        },
        "layer3Configuration": {
          "type": "object",
          "properties": {
            "southBound": {
              "type": "object",
              "properties": {
                "importRoutePolicy": {
                  "type": "string",
                  "description": "importRoutePolicy resource id."
                },
                "exportRoutePolicy": {
                  "type": "string",
                  "description": "exportRoutePolicy resource id."
                },
                "staticRouteAdvertisements": {
                  "type": "array",
                  "description": "staticRouteAdvertisements.",
                  "items": {
                    "type": "object",
                    "description": "staticRouteAdvertisement.",
                    "properties": {
                      "ipv4Prefix": {
                        "type": "string",
                        "description": "ipv4Prefix."
                      },
                      "ipv6Prefix": {
                        "type": "string",
                        "description": "ipv6Prefix."
                      },
                      "communityValues": {
                        "type": "array",
                        "description": "communityValues. Example: [100, 101].",
                        "items": {
                          "type": "integer",
                          "description": "communityValue."
                        }
                      }
                    }
                  }
                },
                "neighbors": {
                  "type": "array",
                  "description": "neighbors.",
                  "items": {
                    "type": "object",
                    "description": "neighbor.",
                    "properties": {
                      "vlanId": {
                        "type": "integer",
                        "description": "vlanId. Example: 200."
                      },
                      "mtu": {
                        "type": "integer",
                        "description": "mtu. Example: 9000."
                      },
                      "bfdConfiguration": {
                        "type": "object",
                        "properties": {
                          "state": {
                            "type": "string",
                            "description": "state. Example: Enabled | Disabled."
                          },
                          "interval": {
                            "type": "integer",
                            "description": "interval in seconds. Example: 300."
                          },
                          "multiplier": {
                            "type": "integer",
                            "description": "multiplier. Example: 3."
                          }
                        }
                      },
                      "microsoftASN": {
                        "type": "integer",
                        "description": "microsoftASN. Example: 12076."
                      },
                      "peerASN": {
                        "type": "integer",
                        "description": "peerASN. Example: 12076."
                      },
                      "microsoftIPv4Address": {
                        "type": "string",
                        "description": "microsoftIPv4Address. Example: 123.0.0.0/30."
                      },
                      "microsoftIPv6Address": {
                        "type": "string",
                        "description": "microsoftIPv6Address. Example: 3FFE:FFFF:0:CD30::/126."
                      },
                      "neighborAddresss": {
                        "type": "array",
                        "description": "neighbors.",
                        "items": {
                          "type": "object",
                          "description": "neighbor.",
                          "properties": {
                            "peerIPv4Address": {
                              "type": "string",
                              "description": "peerIPv4Address. Example: 172.10.1.0/24."
                            },
                            "peerIPv6Address": {
                              "type": "string",
                              "description": "peerIPv6Address. Example: 3FFE:FFFF:0:CD30::a1/127."
                            }
                          }
                        }
                      },
                      "provisioningState": {
                        "type": "string",
                        "description": "provisioningState. Example: suceeded | failed."
                      },
                      "state": {
                        "type": "string",
                        "description": "state. Example: Enabled | Disabled."
                      }
                    }
                  }
                }
              }
            },
            "northBound": {
              "type": "object",
              "properties": {
                "mtu": {
                  "type": "integer",
                  "description": "If unspecified, NNI MTU takes effect. Example: 9000."
                },
                "peeringOption": {
                  "type": "string",
                  "description": "If specified, indicates external peering, configured on CEs. Example: A | B."
                },
                "optionAConfiguration": {
                  "type": "object",
                  "properties": {
                    "vlanId": {
                      "type": "integer",
                      "description": "vlanId. Example: 10."
                    },
                    "peerASN": {
                      "type": "integer",
                      "description": "peerASN. Example: 100."
                    },
                    "microsoftASN": {
                      "type": "integer",
                      "description": "microsoftASN. Example: 12076."
                    },
                    "primaryIPv4PeerAddressPrefix": {
                      "type": "string",
                      "description": "primaryIPv4PeerAddressPrefix. Example: 123.0.0.0/30."
                    },
                    "secondaryIPv4PeerAddressPrefix": {
                      "type": "string",
                      "description": "secondaryIPv4PeerAddressPrefix. Example: 123.0.0.4/30."
                    },
                    "primaryIPv6PeerAddressPrefix": {
                      "type": "string",
                      "description": "primaryIPv6PeerAddressPrefix. Example: 3FFE:FFFF:0:CD30::/126."
                    },
                    "secondaryIPv6PeerAddressPrefix": {
                      "type": "string",
                      "description": "secondaryIPv6PeerAddressPrefix. Example: 3FFE:FFFF:0:CD30::4/126."
                    },
                    "bfdConfiguration": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string",
                          "description": "state. Example: Enabled | Disabled."
                        },
                        "interval": {
                          "type": "integer",
                          "description": "interval in seconds. Example: 300."
                        },
                        "multiplier": {
                          "type": "integer",
                          "description": "multiplier. Example: 3."
                        }
                      }
                    },
                    "provisioningState": {
                      "type": "string",
                      "description": "provisioningState. Example: suceeded | failed."
                    },
                    "state": {
                      "type": "string",
                      "description": "state. Example: Enabled | Disabled."
                    }
                  }
                },
                "optionBConfiguration": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "state. Example: Enabled | Disabled."
                    },
                    "provisioningState": {
                      "type": "string",
                      "description": "provisioningState. Example: suceeded | failed."
                    },
                    "importRouteTargets": {
                      "type": "array",
                      "description": "importRouteTargets. Example: [65531:2001].",
                      "items": {
                        "type": "integer",
                        "description": "importRouteTargets."
                      }
                    },
                    "exportRouteTargets": {
                      "type": "array",
                      "description": "exportRouteTargets. Example: [65531].",
                      "items": {
                        "type": "integer",
                        "description": "exportRouteTarget."
                      }
                    }
                  }
                },
                "staticRouteAdvertisements": {
                  "type": "array",
                  "description": "staticRouteAdvertisements.",
                  "items": {
                    "type": "object",
                    "description": "staticRouteAdvertisement.",
                    "properties": {
                      "ipv4Prefix": {
                        "type": "string",
                        "description": "ipv4Prefix."
                      },
                      "ipv6Prefix": {
                        "type": "string",
                        "description": "ipv6Prefix."
                      },
                      "communityValues": {
                        "type": "array",
                        "description": "communityValues. Example: [100, 101].",
                        "items": {
                          "type": "integer",
                          "description": "communityValue."
                        }
                      }
                    }
                  }
                },
                "importRoutePolicy": {
                  "type": "string",
                  "description": "importRoutePolicy resource id."
                },
                "exportRoutePolicy": {
                  "type": "string",
                  "description": "exportRoutePolicy resource id."
                }
              }
            }
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "IsolationDomainProperties define the resource properties."
    },
    "IsolationDomainPatchProperties": {
      "type": "object",
      "properties": {},
      "description": "IsolationDomainPatchProperties define the patch resource properties."
    },
    "IsolationDomain": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/IsolationDomainProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The IsolationDomain resource definition."
    },
    "IsolationDomainPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/IsolationDomainPatchProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "description": "The IsolationDomain patch resource definition."
    },
    "IsolationDomainsListResult": {
      "type": "object",
      "description": "List of IsolationDomains.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of IsolationDomain resources.",
          "items": {
            "$ref": "#/definitions/IsolationDomain"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
