{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ManagedNetworkFabric/operations": {
      "get": {
        "description": "Returns list of all operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/{networkFabricControllerName}": {
      "put": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Create",
        "summary": "Create Network fabric controller.",
        "description": "Implements Network Fabric Controller PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "CreateNetworkFabricController": {
            "$ref": "./examples/CreateNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Get",
        "summary": "Gets a Network Fabric Controller.",
        "description": "Implements Network Fabric Controller GET method.",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "GetNetworkFabricController": {
            "$ref": "./examples/GetNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Update",
        "summary": "Updates a Network Fabric Controller.",
        "description": "API to update certain properties of the Network Fabric Controller resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "UpdateNetworkFabricController": {
            "$ref": "./examples/UpdateNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Network Fabric Controller properties to update.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllerPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Delete",
        "summary": "Deletes a Network Fabric Controller.",
        "description": "Implements Network Fabric Controller DELETE method.",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DeleteNetworkFabricController": {
            "$ref": "./examples/DeleteNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers": {
      "get": {
        "operationId": "NetworkFabricControllers_ListByResourceGroup",
        "summary": "List NetworkFabricControllers by resource group.",
        "description": "Implements NetworkFabricControllers list by resource group GET method.",
        "x-ms-examples": {
          "ListByResourceGroupNetworkFabricController": {
            "$ref": "./examples/ListByResourceGroupNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkFabricControllers under the resource group.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers": {
      "get": {
        "operationId": "NetworkFabricControllers_ListBySubscription",
        "summary": "List NetworkFabricControllers by subscription.",
        "description": "Implements NetworkFabricControllers list by subscription GET method.",
        "x-ms-examples": {
          "ListBySubscriptionNetworkFabricController": {
            "$ref": "./examples/ListBySubscriptionNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkFabricControllers under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkFabricControllerProperties": {
      "type": "object",
      "properties": {
        "networkFabricControllerName": {
          "type": "string",
          "description": "networkFabricControllerName is the resource name."
        },
        "expressRouteConnections": {
          "type": "array",
          "description": "List of ExpressRouteConnections.",
          "items": {
            "$ref": "#/definitions/ExpressRouteConnectionInformation"
          }
        },
        "ipv4AddressSpaces": {
          "type": "array",
          "description": "List of IPv4 Network Fabric Controller Address Spaces.",
          "items": {
            "$ref": "#/definitions/IPV4AddressSpaceInformation"
          }
        },
        "ipv6AddressSpaces": {
          "type": "array",
          "description": "List of IPv6 Network Fabric Controller Address Spaces.",
          "items": {
            "$ref": "#/definitions/IPV6AddressSpaceInformation"
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "#/definitions/provisioningStateProperties",
          "readOnly": true
        }
      },
      "required": [
        "networkFabricControllerName"
      ],
      "description": "NetworkFabricControllerProperties define the resource properties."
    },
    "NetworkFabricControllerPatchProperties": {
      "type": "object",
      "properties": {
        "expressRouteConnections": {
          "type": "array",
          "description": "List of ExpressRouteConnections.",
          "items": {
            "$ref": "#/definitions/ExpressRouteConnectionInformation"
          }
        }
      },
      "description": "NetworkFabricControllerPatchProperties define the patch resource properties."
    },
    "IPV4AddressSpaceInformation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "ipv4AddressSpace": {
          "type": "string",
          "description": "IPv4 Address Space in CIDR format. Example: 10.0.0.0/24."
        }
      },
      "description": "IPV4AddressSpace Information."
    },
    "IPV6AddressSpaceInformation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "ipV64AddressSpace": {
          "type": "string",
          "description": "IPv6 Address Space in CIDR format."
        }
      },
      "description": "IPV6AddressSpace Information."
    },
    "ExpressRouteConnectionInformation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "expressRouteCircuitId": {
          "type": "string",
          "description": "expressRouteCircuitId is the Azure Express Route circuit id."
        },
        "expressRouteCircuitServiceKey": {
          "type": "string",
          "description": "expressRouteCredential is the Azure Express Route circuit service key."
        }
      },
      "description": "ExpressRouteConnectionInformation defines the resource properties."
    },
    "NetworkFabricController": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkFabricControllerProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The NetworkFabricController resource definition."
    },
    "NetworkFabricControllerPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkFabricControllerPatchProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "description": "The NetworkFabricController patch resource definition."
    },
    "NetworkFabricControllersListResult": {
      "type": "object",
      "description": "List of NetworkFabricControllers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkFabricController resources.",
          "items": {
            "$ref": "#/definitions/NetworkFabricController"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "type": "object",
      "description": "Error definition.",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "operation": {
      "type": "object",
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is data action or not.",
          "type": "boolean"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "type": "object",
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "description": "Operation.",
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "provisioningStateProperties": {
      "type": "string",
      "description": "Common provisioning state for all the resources.",
      "enum": [
        "Provisioning",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "provisioningState"
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "api-version": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request. Supported-format: yyyy-MM-dd(+ '-preview,-alpha,-beta,-rc,-privatepreview'."
    }
  }
}
