{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkRackSkus/{networkFabricSkuName}": {
      "get": {
        "tags": [
          "NetworkRackSkus"
        ],
        "operationId": "NetworkRackSkus_Get",
        "summary": "Gets a Network Rack Sku.",
        "description": "Implements Network Rack Sku GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricSkuName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Rack Sku"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkRackSku"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkRackSkus": {
      "get": {
        "operationId": "NetworkRackSkus_ListBySubscription",
        "summary": "List NetworkRackSkus by subscription.",
        "description": "Implements NetworkRackSkus list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkRackSkus under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkRackSkusListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkRackSkuProperties": {
      "type": "object",
      "properties": {
        "roleName": {
          "type": "string",
          "description": "roleName is the resource role. Example: Compute Rack."
        },
        "maximumServerCount": {
          "type": "integer",
          "format": "int32",
          "description": "MaximumServerCount is the max number of the servers present on the rack."
        },
        "maximumStorageCount": {
          "type": "integer",
          "format": "int32",
          "description": "MaximumServerCount is the max number of the storage devices present on the rack."
        },
        "maximumUplinks": {
          "type": "integer",
          "format": "int32",
          "description": "MaximumUplinks is the max number of uplink connections present on the rack."
        },
        "networkConfiguration": {
          "type": "object",
          "description": "The networkConfiguration present on the rack.",
          "properties": {
            "networkDevices": {
              "type": "array",
              "description": "The networkDevices present on the rack.",
              "items": {
                "description": "The networkDevice model.",
                "$ref": "#/definitions/NetworkRackDeviceProperties"
              }
            }
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "NetworkRackSkuProperties define the resource properties."
    },
    "NetworkRackDeviceProperties": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the network device name. Example: ToR1."
        },
        "networkDeviceSkuId": {
          "type": "string",
          "description": "networkDeviceSkuId is the ARM resource network device sku id for this network device."
        },
        "roleName": {
          "type": "string",
          "description": "roleName is the resource role. Example: ToR. [TBD]"
        },
        "rackSlot": {
          "type": "integer",
          "format": "int32",
          "description": "rackSlot is the device rack slot number on the rack."
        },
        "interfaceMaps": {
          "type": "array",
          "description": "interfaceMap is the mapping of interfaces / ports to devices on the rack.",
          "items": {
            "description": "interfaceMap model.",
            "$ref": "#/definitions/InterfaceMap"
          }
        },
        "configurationLimits": {
          "type": "object",
          "description": "configurationLimits are the network device's configuration limits.",
          "properties": {
            "maximumPEUpLinks": {
              "type": "integer",
              "format": "int32",
              "description": "MaximumPEUpLinks on the network device for the rack."
            },
            "maximumNPBLinks": {
              "type": "integer",
              "format": "int32",
              "description": "MaximumNPBLinks on the network device for the rack."
            },
            "maximumToRLinks": {
              "type": "integer",
              "format": "int32",
              "description": "MaximumToRLinks on the network device for the rack."
            },
            "maximumStorageLinks": {
              "type": "integer",
              "format": "int32",
              "description": "MaximumStorageLinks on the network device for the rack."
            },
            "maximumMgmtSwitchLinks": {
              "type": "integer",
              "format": "int32",
              "description": "MaximumMgmtSwitchLinks on the network device for the rack."
            },
            "maximumPortBandwidthinGbps": {
              "type": "integer",
              "format": "int32",
              "description": "MaximumPortBandwidthinGbps on the network device for the rack."
            }
          }
        }
      },
      "description": "NetworkRackDeviceProperties define the network device properties."
    },
    "InterfaceMap": {
      "type": "object",
      "description": "InterfaceMap properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "name is the interface name. Example: Ethernet1."
        },
        "description": {
          "type": "string",
          "description": "description is the interface description. Example: Downlinks to Tenant Servers."
        },
        "identifier": {
          "type": "string",
          "description": "name is the interface identifier. Example: Ethernet1/1"
        },
        "interfaceType": {
          "type": "string",
          "description": "interfaceType is the interface type. Example: Ethernet"
        },
        "connectorType": {
          "type": "string",
          "description": "interfaceType is the interface connectorType. Example: TBD."
        },
        "speed": {
          "type": "integer",
          "description": "speed is the interface speed in Gb. Example: 100."
        },
        "subInterfaces": {
          "type": "array",
          "items": {
            "description": "Nested sub interfaces.",
            "$ref": "#/definitions/InterfaceMap"
          }
        }
      }
    },
    "NetworkRackSkuPatchProperties": {
      "type": "object",
      "properties": {},
      "description": "NetworkRackSkuPatchProperties define the patch resource properties."
    },
    "NetworkRackSku": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkRackSkuProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The NetworkRackSku resource definition."
    },
    "NetworkRackSkuPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkRackSkuPatchProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "description": "The NetworkRackSku patch resource definition."
    },
    "NetworkRackSkusListResult": {
      "type": "object",
      "description": "List of NetworkRackSkus.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkRackSku resources.",
          "items": {
            "$ref": "#/definitions/NetworkRackSku"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
