{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkRacks/{networkRackName}": {
      "put": {
        "tags": [
          "NetworkRacks"
        ],
        "operationId": "NetworkRacks_Create",
        "summary": "Create Network Rack.",
        "description": "Implements Network Rack PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkRackName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Rack"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NetworkRack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkRack"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkRack"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/NetworkRack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NetworkRacks"
        ],
        "operationId": "NetworkRacks_Get",
        "summary": "Gets a Network Rack.",
        "description": "Implements Network Rack GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkRackName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Rack"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkRack"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkRacks"
        ],
        "operationId": "NetworkRacks_Update",
        "summary": "Updates a Network Rack.",
        "description": "API to update certain properties of the Network Rack resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkRackName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Rack"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Network Rack properties to update.",
            "schema": {
              "$ref": "#/definitions/NetworkRackPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkRack"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "NetworkRacks"
        ],
        "operationId": "NetworkRacks_Delete",
        "summary": "Deletes a Network Rack.",
        "description": "Implements Network Rack DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkRackName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Rack"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkRacks": {
      "get": {
        "operationId": "NetworkRacks_ListByResourceGroup",
        "summary": "List NetworkRacks by resource group.",
        "description": "Implements NetworkRacks list by resource group GET method.",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkRacks under the resource group.",
            "schema": {
              "$ref": "#/definitions/NetworkRacksListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkRacks": {
      "get": {
        "operationId": "NetworkRacks_ListBySubscription",
        "summary": "List NetworkRacks by subscription.",
        "description": "Implements NetworkRacks list by subscription GET method.",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkRacks under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkRacksListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkRackProperties": {
      "type": "object",
      "properties": {
        "networkRackName": {
          "type": "string",
          "description": "networkRackName is the resource name."
        },
        "networkRackSkuId": {
          "type": "string",
          "description": "Network Rack SKU ARM resource id."
        },
        "networkUpLinkPortCount": {
          "type": "integer",
          "description": "Network Rack uplink port count."
        },
        "serverCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Network Rack server count."
        },
        "servers": {
          "type": "array",
          "description": "Server ids from the rack.",
          "readOnly": true,
          "items": {
            "description": "Server model.",
            "properties": {
              "serverId": {
                "type": "string",
                "description": "Reference to the server ARM resource."
              }
            }
          }
        },
        "networkDevicePortMappings": {
          "type": "array",
          "description": "Port mappings for the network devices which are connected to the rack.",
          "items": {
            "description": "Port Mapping model.",
            "properties": {
              "portConnection": {
                "type": "object",
                "properties": {
                  "portName": {
                    "type": "string",
                    "description": "Port name from the SKU."
                  },
                  "remotePortName": {
                    "type": "string",
                    "description": "Remote port to which this port is connected to."
                  },
                  "remotePortType": {
                    "type": "string",
                    "description": "Remote port type to which this port is connected to."
                  },
                  "remotePortDeviceName": {
                    "type": "string",
                    "description": "Remote port device name to which this port is connected to."
                  }
                }
              }
            }
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "required": [
        "networkRackName"
      ],
      "description": "NetworkRackProperties define the resource properties."
    },
    "NetworkRackPatchProperties": {
      "type": "object",
      "properties": {},
      "description": "NetworkRackPatchProperties define the patch resource properties."
    },
    "NetworkRack": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkRackProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The NetworkRack resource definition."
    },
    "NetworkRackPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkRackPatchProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "description": "The NetworkRack patch resource definition."
    },
    "NetworkRacksListResult": {
      "type": "object",
      "description": "List of NetworkRacks.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkRack resources.",
          "items": {
            "$ref": "#/definitions/NetworkRack"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
