{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkDeviceSkus/{networkDeviceSkuName}": {
      "get": {
        "tags": [
          "NetworkDeviceSkus"
        ],
        "operationId": "NetworkDeviceSkus_Get",
        "summary": "Gets a Network Device Sku.",
        "description": "Implements Network Device Sku GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkDeviceSkuName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Device Sku"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkDeviceSku"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkDeviceSkus": {
      "get": {
        "operationId": "NetworkDeviceSkus_ListBySubscription",
        "summary": "List NetworkDeviceSkus by subscription.",
        "description": "Implements NetworkDeviceSkus list by subscription GET method.",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkDeviceSkus under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkDeviceSkusListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkDeviceSkuProperties": {
      "type": "object",
      "properties": {
        "networkDeviceSkuName": {
          "type": "string",
          "description": "networkDeviceSkuName is the resource name."
        },
        "manufacturer": {
          "type": "string",
          "description": "The network device manufacturer."
        },
        "model": {
          "type": "string",
          "description": "The network device model."
        },
        "operatingSystemCapabilities": {
          "description": "The supported OperatingSystemCapabilities array.",
          "type": "array",
          "items": {
            "description": "The supported OperatingSystemCapabilities model.",
            "type": "object",
            "properties": {
              "version": {
                "type": "string",
                "description": "The operatingSystem version."
              },
              "imageRef": {
                "type": "string",
                "description": "The operatingSystem imageRef."
              },
              "isCurrent": {
                "type": "boolean",
                "description": "If this operatingSystem is the currently installed one."
              }
            }
          }
        },
        "firmwareCapabilities": {
          "description": "The supported firmwareCapabilities array.",
          "type": "array",
          "items": {
            "description": "The supported firmwareCapabilities model.",
            "type": "object",
            "properties": {
              "version": {
                "type": "string",
                "description": "The firmware version."
              },
              "imageRef": {
                "type": "string",
                "description": "The firmware imageRef."
              },
              "isCurrent": {
                "type": "boolean",
                "description": "If this firmware is the currently installed one."
              }
            }
          }
        },
        "roleConfigurations": {
          "description": "The supported roleConfigurations array.",
          "type": "array",
          "items": {
            "description": "The supported roleConfigurations model.",
            "type": "object",
            "properties": {
              "roleType": {
                "type": "string",
                "description": "The roleType. Can be CE (Customer Edge) or TOR (Top-Of-Rack)."
              },
              "configuration": {
                "type": "object",
                "description": "The role configuration.",
                "properties": {
                  "configProtocol": {
                    "type": "string",
                    "description": "The ConfigProtocol. Can be openconfig."
                  },
                  "baseConfigReferenceUri": {
                    "type": "string",
                    "description": "The baseConfigReferenceUri. Can be a public URL."
                  }
                }
              }
            }
          }
        },
        "interfaces": {
          "description": "The hardware network interfaces array.",
          "type": "array",
          "items": {
            "description": "The supported interfaces model.",
            "type": "object",
            "properties": {
              "interfaceType": {
                "type": "string",
                "description": "The interfaceType."
              },
              "physicalPortDetails": {
                "type": "string",
                "description": "The PhysicalPortDetails."
              }
            }
          }
        },
        "managementInterfaces": {
          "description": "The hardware management network interfaces array.",
          "type": "array",
          "items": {
            "description": "The supported management interface model.",
            "type": "object",
            "properties": {
              "interfaceType": {
                "type": "string",
                "description": "The interfaceType."
              },
              "physicalPortDetails": {
                "type": "string",
                "description": "The PhysicalPortDetails."
              }
            }
          }
        },
        "networkDeviceHardwareLimits": {
          "type": "object",
          "description": "The supported networkDeviceHardwareLimits.",
          "properties": {
            "maxPhysicalInterfaces": {
              "type": "integer",
              "format": "int32",
              "description": "The maxPhysicalInterfaces limit."
            },
            "maxSubInterfaces": {
              "type": "integer",
              "format": "int32",
              "description": "The maxSubInterfaces limit."
            },
            "maxTunnelInterfaces": {
              "type": "integer",
              "format": "int32",
              "description": "The maxTunnelInterfaces limit."
            },
            "maxVrfs": {
              "type": "integer",
              "format": "int32",
              "description": "The maxVrfs limit."
            }
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "required": [
        "networkDeviceSkuName"
      ],
      "description": "NetworkDeviceSkuProperties define the resource properties."
    },
    "NetworkDeviceSkuPatchProperties": {
      "type": "object",
      "properties": {},
      "description": "NetworkDeviceSkuPatchProperties define the patch resource properties."
    },
    "NetworkDeviceSku": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkDeviceSkuProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The NetworkDeviceSku resource definition."
    },
    "NetworkDeviceSkuPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkDeviceSkuPatchProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "description": "The NetworkDeviceSku patch resource definition."
    },
    "NetworkDeviceSkusListResult": {
      "type": "object",
      "description": "List of NetworkDeviceSkus.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkDeviceSku resources.",
          "items": {
            "$ref": "#/definitions/NetworkDeviceSku"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
