{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabricSkus/{networkFabricSkuName}": {
      "get": {
        "tags": [
          "NetworkFabricSkus"
        ],
        "operationId": "NetworkFabricSkus_Get",
        "summary": "Gets a Network Fabric Sku.",
        "description": "Implements Network Fabric Sku GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricSkuName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Sku"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricSku"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabricSkus": {
      "get": {
        "operationId": "NetworkFabricSkus_ListBySubscription",
        "summary": "List NetworkFabricSkus by subscription.",
        "description": "Implements NetworkFabricSkus list by subscription GET method.",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkFabricSkus under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricSkusListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkFabricSkuProperties": {
      "type": "object",
      "properties": {
        "networkFabricSkuName": {
          "type": "string",
          "description": "networkFabricSkuName is the resource name."
        },
        "maxComputeRacks": {
          "type": "integer",
          "format": "int32",
          "description": "The maxComputeRacks for the network fabric."
        },
        "aggregationRackSkuReferenceIds": {
          "description": "The aggregationRackSkuReferenceIds array of references to NetworkRackSkus.",
          "type": "array",
          "items": {
            "description": "The aggregationRackSkuReferenceIds model.",
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The NetworkRackSku's fully qualified resource id."
              }
            }
          }
        },
        "computeRackSkuReferenceIds": {
          "description": "The computeRackSkuReferenceIds array of references to NetworkRackSkus.",
          "type": "array",
          "items": {
            "description": "The computeRackSkuReferenceIds model.",
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The NetworkRackSku's fully qualified resource id."
              }
            }
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "required": [
        "networkFabricSkuName"
      ],
      "description": "NetworkFabricSkuProperties define the resource properties."
    },
    "NetworkFabricSkuPatchProperties": {
      "type": "object",
      "properties": {},
      "description": "NetworkFabricSkuPatchProperties define the patch resource properties."
    },
    "NetworkFabricSku": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkFabricSkuProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The NetworkFabricSku resource definition."
    },
    "NetworkFabricSkuPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkFabricSkuPatchProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "description": "The NetworkFabricSku patch resource definition."
    },
    "NetworkFabricSkusListResult": {
      "type": "object",
      "description": "List of NetworkFabricSkus.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkFabricSku resources.",
          "items": {
            "$ref": "#/definitions/NetworkFabricSku"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
