{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/nfaDevices/{nfadeviceName}": {
      "put": {
        "tags": [
          "NfaDevices"
        ],
        "operationId": "NfaDevices_Create",
        "summary": "Create Nfadevice.",
        "description": "Implements Nfadevice PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "nfadeviceName",
            "required": true,
            "type": "string",
            "description": "Name of the Nfadevice"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NfaDevice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NfaDevice"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NfaDevice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NfaDevices"
        ],
        "operationId": "NfaDevices_Get",
        "summary": "Gets a Nfadevice.",
        "description": "Implements Nfadevice GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "nfadeviceName",
            "required": true,
            "type": "string",
            "description": "Name of the Nfadevice"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NfaDevice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NfaDevices"
        ],
        "operationId": "NfaDevices_Update",
        "summary": "Updates a Nfadevice.",
        "description": "API to update certain properties of the Nfadevice resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "nfadeviceName",
            "required": true,
            "type": "string",
            "description": "Name of the Nfadevice"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Nfadevice properties to update.",
            "schema": {
              "$ref": "#/definitions/NfaDevice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NfaDevice"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "NfaDevices"
        ],
        "operationId": "NfaDevices_Delete",
        "summary": "Deletes a Nfadevice.",
        "description": "Implements Nfadevice DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "nfadeviceName",
            "required": true,
            "type": "string",
            "description": "Name of the Nfadevice"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/nfaDevices": {
      "get": {
        "operationId": "NfaDevices_ListByResourceGroup",
        "summary": "List NfaDevices by resource group.",
        "description": "Implements NfaDevices list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NfaDevices under the resource group.",
            "schema": {
              "$ref": "#/definitions/NfaDevicesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/nfaDevices": {
      "get": {
        "operationId": "NfaDevices_ListBySubscription",
        "summary": "List NfaDevices by subscription.",
        "description": "Implements NfaDevices list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NfaDevices under the subscription.",
            "schema": {
              "$ref": "#/definitions/NfaDevicesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NfaDeviceProperties": {
      "type": "object",
      "properties": {
        "connectionConfig": {
          "type": "object",
          "description": "Network device connection information.",
          "properties": {
            "address": {
              "type": "string",
              "description": "IP address of the controller for the network device."
            },
            "port": {
              "type": "string",
              "description": "Port of the controller for the network device."
            },
            "username": {
              "type": "string",
              "description": "username of the controller for the network device."
            },
            "password": {
              "type": "string",
              "description": "password of the controller for the network device.",
              "x-ms-secret": true
            },
            "certificate": {
              "type": "string",
              "description": "Connection certificate, base64 gzip encoded string used for network device authentication.",
              "x-ms-secret": true
            },
            "enableTls": {
              "type": "boolean",
              "description": "Whether to enable TLS for network device authentication."
            }
          }
        },
        "goalDeviceConfig": {
          "type": "array",
          "description": "Network device config sections.",
          "items": {
            "$ref": "#/definitions/DeviceConfigModel"
          }
        },
        "actualDeviceConfig": {
          "type": "array",
          "description": "Network device actual config sections.",
          "items": {
            "$ref": "#/definitions/DeviceConfigModel"
          },
          "readOnly": true
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "NfaDeviceProperties define the resource properties."
    },
    "DeviceConfigModel": {
      "type": "object",
      "description": "Network device config section model.",
      "properties": {
        "gnmiOrigin": {
          "type": "string",
          "description": "Origin of the gnmi. Example: openconfig."
        },
        "path": {
          "type": "string",
          "description": "Path of the device config section."
        },
        "configPayload": {
          "type": "string",
          "description": "Config payload of the device, in base64 gzip format."
        }
      }
    },
    "NfaDevice": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NfaDeviceProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "The system data."
        },
        "extendedLocation": {
          "$ref": "./common.json#/definitions/ExtendedLocation",
          "description": "The extended location name."
        }
      },
      "description": "The NfaDevice resource definition."
    },
    "NfaDevicesListResult": {
      "type": "object",
      "description": "List of NfaDevices.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NfaDevice resources.",
          "items": {
            "$ref": "#/definitions/NfaDevice"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
