{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routingDomains/{routingDomainName}": {
      "put": {
        "tags": [
          "RoutingDomains"
        ],
        "operationId": "RoutingDomains_Create",
        "summary": "Create Routing Domain.",
        "description": "Implements Routing Domain PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routingDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the Routing Domain"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/RoutingDomain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoutingDomain"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RoutingDomain"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/RoutingDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "RoutingDomains"
        ],
        "operationId": "RoutingDomains_Get",
        "summary": "Gets a Routing Domain.",
        "description": "Implements Routing Domain GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routingDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the Routing Domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoutingDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "RoutingDomains"
        ],
        "operationId": "RoutingDomains_Update",
        "summary": "Updates a Routing Domain.",
        "description": "API to update certain properties of the Routing Domain resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routingDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the Routing Domain"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Routing Domain properties to update.",
            "schema": {
              "$ref": "#/definitions/RoutingDomainPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoutingDomain"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "RoutingDomains"
        ],
        "operationId": "RoutingDomains_Delete",
        "summary": "Deletes a Routing Domain.",
        "description": "Implements Routing Domain DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "routingDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the Routing Domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routingDomains": {
      "get": {
        "operationId": "RoutingDomains_ListByResourceGroup",
        "summary": "List RoutingDomains by resource group.",
        "description": "Implements RoutingDomains list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all RoutingDomains under the resource group.",
            "schema": {
              "$ref": "#/definitions/RoutingDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/routingDomains": {
      "get": {
        "operationId": "RoutingDomains_ListBySubscription",
        "summary": "List RoutingDomains by subscription.",
        "description": "Implements RoutingDomains list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all RoutingDomains under the subscription.",
            "schema": {
              "$ref": "#/definitions/RoutingDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "RoutingDomainProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Routing Domain description."
        },
        "layer3Peering": {
          "type": "object",
          "properties": {
            "peeringOption": {
              "type": "string",
              "description": "peeringOption. Example: A | B."
            },
            "optionAConfiguration": {
              "type": "object",
              "properties": {
                "primaryIPv4PeerAddressPrefix": {
                  "type": "string",
                  "description": "primaryIPv4PeerAddressPrefix. Example: 123.0.0.0/30."
                },
                "secondaryIPv4PeerAddressPrefix": {
                  "type": "string",
                  "description": "secondaryIPv4PeerAddressPrefix. Example: 123.0.0.4/30."
                },
                "primaryIPv6PeerAddressPrefix": {
                  "type": "string",
                  "description": "primaryIPv6PeerAddressPrefix. Example: 3FFE:FFFF:0:CD30::/126."
                },
                "secondaryIPv6PeerAddressPrefix": {
                  "type": "string",
                  "description": "secondaryIPv6PeerAddressPrefix. Example: 3FFE:FFFF:0:CD30::4/126."
                },
                "provisioningState": {
                  "type": "string",
                  "description": "provisioningState. Example: suceeded | failed."
                },
                "state": {
                  "type": "string",
                  "description": "state. Example: Enabled | Disabled."
                },
                "vlanId": {
                  "type": "integer",
                  "description": "vlanId. Example: 10."
                },
                "localASN": {
                  "type": "integer",
                  "description": "localASN. Example: 12076."
                },
                "peerASN": {
                  "type": "integer",
                  "description": "peerASN. Example: 100."
                }
              }
            },
            "optionBConfiguration": {
              "type": "object",
              "properties": {
                "provisioningState": {
                  "type": "string",
                  "description": "provisioningState. Example: suceeded | failed."
                },
                "routeTarget": {
                  "type": "integer",
                  "description": "routeTarget. Example: 65531."
                },
                "routeDistinguisher": {
                  "type": "string",
                  "description": "routeDistinguisher. Example: TBD."
                }
              }
            },
            "nfPeeringConfiguration": {
              "type": "object",
              "properties": {
                "ipv4AddressPool": {
                  "type": "string",
                  "description": "ipv4AddressPool. Example: 172.10.1.0/31."
                },
                "ipv6AddressPool": {
                  "type": "string",
                  "description": "ipv6AddressPool. Example: 3FFE:FFFF:0:CD30::4/126."
                },
                "provisioningState": {
                  "type": "string",
                  "description": "provisioningState. Example: suceeded | failed."
                },
                "state": {
                  "type": "string",
                  "description": "state. Example: Enabled | Disabled."
                },
                "peerASN": {
                  "type": "integer",
                  "description": "peerASN. Example: 100."
                }
              }
            }
          }
        },
        "isolationDomain": {
          "type": "array",
          "description": "Isolation domains.",
          "items": {
            "description": "Isolation Domain model.",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the isolation domain."
              },
              "isolationId": {
                "type": "integer",
                "description": "Id of the isolation domain."
              },
              "mtu": {
                "type": "integer",
                "description": "MTU of the isolation domain."
              },
              "provisioningState": {
                "type": "string",
                "description": "provisioningState. Example: suceeded | failed."
              },
              "ipConfiguration": {
                "type": "object",
                "properties": {
                  "ipv4Prefix": {
                    "type": "string",
                    "description": "ipv4Prefix. Example: 10.1.100.0/24."
                  },
                  "vrrpIpv4Address": {
                    "type": "string",
                    "description": "vrrpIpv4Address. Example: 10.1.100.2."
                  },
                  "ipv4Gateway": {
                    "type": "string",
                    "description": "ipv4Gateway. Example: 10.1.100.1."
                  },
                  "ipv6Prefix": {
                    "type": "string",
                    "description": "ipv4Prefix. Example: 3FFE:FFFF:0:CD30::/64."
                  },
                  "vrrpIpv6Address": {
                    "type": "string",
                    "description": "vrrpIpv4Address. Example: 3FFE:FFFF:0:CD30::2."
                  },
                  "ipv6Gateway": {
                    "type": "string",
                    "description": "ipv4Gateway. Example: 3FFE:FFFF:0:CD30::1."
                  }
                }
              }
            }
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "RoutingDomainProperties define the resource properties."
    },
    "RoutingDomainPatchProperties": {
      "type": "object",
      "properties": {},
      "description": "RoutingDomainPatchProperties define the patch resource properties."
    },
    "RoutingDomain": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/RoutingDomainProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The RoutingDomain resource definition."
    },
    "RoutingDomainPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/RoutingDomainPatchProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "description": "The RoutingDomain patch resource definition."
    },
    "RoutingDomainsListResult": {
      "type": "object",
      "description": "List of RoutingDomains.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of RoutingDomain resources.",
          "items": {
            "$ref": "#/definitions/RoutingDomain"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
