{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Dynatrace",
    "version": "2021-05-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Dynatrace/operations": {
      "get": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "List all operations provided by Microsoft.Dynatrace.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Dynatrace/monitors": {
      "get": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "List all monitors under the specified subscription.",
        "operationId": "Monitors_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynatraceMonitorResourceListResponse"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Monitors_List": {
            "$ref": "./examples/Monitors_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dynatrace/monitors": {
      "get": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "List all monitors under the specified resource group.",
        "operationId": "Monitors_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynatraceMonitorResourceListResponse"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Monitors_ListByResourceGroup": {
            "$ref": "./examples/Monitors_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dynatrace/monitors/{monitorName}": {
      "get": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "Get the properties of a specific monitor resource.",
        "operationId": "Monitors_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynatraceMonitorResource"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Get": {
            "$ref": "./examples/Monitors_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "Create a monitor resource.",
        "operationId": "Monitors_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Dynatrace monitor resource model",
            "schema": {
              "$ref": "#/definitions/DynatraceMonitorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynatraceMonitorResource"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynatraceMonitorResource"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Create": {
            "$ref": "./examples/Monitors_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "Update a monitor resource.",
        "operationId": "Monitors_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Dynatrace resource model update parameters.",
            "schema": {
              "$ref": "#/definitions/DynatraceMonitorResourceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynatraceMonitorResource"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Update": {
            "$ref": "./examples/Monitors_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "Delete a monitor resource.",
        "operationId": "Monitors_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Monitors_Delete": {
            "$ref": "./examples/Monitors_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dynatrace/monitors/{monitorName}/listMonitoredResources": {
      "post": {
        "tags": [
          "Monitors"
        ],
        "summary": "List the resources currently being monitored by the Dynatrace monitor resource.",
        "operationId": "Monitors_ListMonitoredResources",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MonitoredResourceListResponse"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "MonitoredResources_List": {
            "$ref": "./examples/MonitoredResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dynatrace/monitors/{monitorName}/tagRules": {
      "get": {
        "tags": [
          "TagRules"
        ],
        "summary": "List the tag rules for a given monitor resource.",
        "operationId": "TagRules_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MonitoringTagRulesListResponse"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TagRules_List": {
            "$ref": "./examples/TagRules_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dynatrace/monitors/{monitorName}/tagRules/{ruleSetName}": {
      "put": {
        "tags": [
          "TagRules"
        ],
        "summary": "Create or update a tag rule set for a given monitor resource.",
        "operationId": "TagRules_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "in": "path",
            "name": "ruleSetName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MonitoringTagRules"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MonitoringTagRules"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TagRules_CreateOrUpdate": {
            "$ref": "./examples/TagRules_CreateOrUpdate.json"
          }
        }
      },
      "get": {
        "tags": [
          "TagRules"
        ],
        "summary": "Get a tag rule set for a given monitor resource.",
        "operationId": "TagRules_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "in": "path",
            "name": "ruleSetName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MonitoringTagRules"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TagRules_Get": {
            "$ref": "./examples/TagRules_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "TagRules"
        ],
        "summary": "Delete a tag rule set for a given monitor resource.",
        "operationId": "TagRules_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "in": "path",
            "name": "ruleSetName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Success",
            "headers": {
              "location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TagRules_Delete": {
            "$ref": "./examples/TagRules_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "MonitoredResource": {
      "description": "The properties of a resource currently being monitored by the Dynatrace monitor resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ARM id of the resource.",
          "type": "string"
        },
        "sendingMetrics": {
          "description": "Flag indicating if resource is sending metrics to Dynatrace.",
          "type": "boolean"
        },
        "reasonForMetricsStatus": {
          "description": "Reason for why the resource is sending metrics (or why it is not sending).",
          "type": "string"
        },
        "sendingLogs": {
          "description": "Flag indicating if resource is sending logs to Dynatrace.",
          "type": "boolean"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "reasonForLogsStatus": {
          "description": "Reason for why the resource is sending logs (or why it is not sending).",
          "type": "string"
        }
      }
    },
    "MonitoredResourceListResponse": {
      "description": "Response of a list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Results of a list operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitoredResource"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results, if any.",
          "type": "string"
        }
      }
    },
    "OperationDisplay": {
      "description": "The object that represents the operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Service provider, i.e., Microsoft.Dynatrace.",
          "type": "string"
        },
        "resource": {
          "description": "Type on which the operation is performed, e.g., 'monitors'.",
          "type": "string"
        },
        "operation": {
          "description": "Operation type, e.g., read, write, delete, etc.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation, e.g., 'Write monitors'.",
          "type": "string"
        }
      }
    },
    "OperationResult": {
      "description": "A Microsoft.Dynatrace REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name, i.e., {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "description": "The object that represents the operation.",
          "$ref": "#/definitions/OperationDisplay"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        }
      }
    },
    "OperationListResult": {
      "description": "Result of GET request to list the Microsoft.Dynatrace operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations supported by the Microsoft.Dynatrace provider.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationResult"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string"
        }
      }
    },
    "ProvisioningState": {
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted",
        "NotSpecified"
      ],
      "type": "string",
      "description": "Provisioning state of Dynatrace resource.",
      "title": "ProvisioningState",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      },
      "readOnly": true
    },
    "MonitoringStatus": {
      "description": "Flag specifying if the resource monitoring is enabled or disabled.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MonitoringStatus"
      }
    },
    "MarketplaceSubscriptionStatus": {
      "description": "Flag specifying the Marketplace Subscription Status of the resource. If payment is not made in time, the resource will go in Suspended state.",
      "enum": [
        "Active",
        "Suspended"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MarketplaceSubscriptionStatus"
      }
    },
    "DynatraceOrganizationProperties": {
      "type": "object",
      "properties": {
        "companyName": {
          "description": "Name of the Dynatrace organization.",
          "type": "string"
        },
        "id": {
          "description": "Id of the Dynatrace organization.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UserInfo": {
      "description": "User Information to be passed to partners.",
      "type": "object",
      "properties": {
        "firstName": {
          "description": "First Name of the user",
          "maxLength": 50,
          "type": "string"
        },
        "lastName": {
          "description": "Last Name of the user",
          "maxLength": 50,
          "type": "string"
        },
        "emailAddress": {
          "description": "Email of the user used by Dynatrace for contacting them if needed",
          "pattern": "^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z]{2,}$",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number of the user used by Dynatrace for contacting them if needed",
          "maxLength": 40,
          "type": "string"
        }
      }
    },
    "PlanData": {
      "type": "object",
      "properties": {
        "usageType": {
          "description": "different usage type like PAYG/COMMITTED. this could be enum",
          "maxLength": 50,
          "type": "string"
        },
        "billingCycle": {
          "description": "different billing cycles like MONTHLY/WEEKLY. this could be enum",
          "maxLength": 50,
          "type": "string"
        },
        "planDetails": {
          "description": "plan id as published by Dynatrace",
          "maxLength": 50,
          "type": "string"
        },
        "effectiveDate": {
          "format": "date-time",
          "description": "date when plan was applied",
          "type": "string"
        }
      }
    },
    "LiftrResourceCategories": {
      "enum": [
        "Unknown",
        "MonitorLogs"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "LiftrResourceCategories"
      },
      "readOnly": true
    },
    "MonitorProperties": {
      "description": "Properties specific to the monitor resource.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the monitor resource.",
          "$ref": "#/definitions/ProvisioningState"
        },
        "monitoringStatus": {
          "description": "Flag specifying if the resource monitoring is enabled or disabled.",
          "$ref": "#/definitions/MonitoringStatus"
        },
        "marketplaceSubscriptionStatus": {
          "$ref": "#/definitions/MarketplaceSubscriptionStatus"
        },
        "dynatraceOrganizationProperties": {
          "$ref": "#/definitions/DynatraceOrganizationProperties"
        },
        "userInfo": {
          "description": "User information.",
          "$ref": "#/definitions/UserInfo"
        },
        "planData": {
          "$ref": "#/definitions/PlanData"
        },
        "liftrResourceCategory": {
          "$ref": "#/definitions/LiftrResourceCategories"
        },
        "liftrResourcePreference": {
          "description": "The priority of the resource.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "ManagedIdentityTypes": {
      "enum": [
        "SystemAssigned",
        "UserAssigned"
      ],
      "type": "string",
      "description": "Managed Identity types.",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ManagedIdentityTypes"
      }
    },
    "IdentityProperties": {
      "description": "Identity properties.",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The identity ID.",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "The tenant ID of resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Managed identity type.",
          "$ref": "#/definitions/ManagedIdentityTypes"
        }
      }
    },
    "DynatraceMonitorResource": {
      "description": "Monitor resource.",
      "required": [
        "location"
      ],
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "ARM id of the monitor resource.",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata relating to this resource",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "name": {
          "description": "Name of the monitor resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the monitor resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "Properties of the monitor resource.",
          "$ref": "#/definitions/MonitorProperties"
        },
        "identity": {
          "description": "Identity properties of the monitor resource.",
          "$ref": "#/definitions/IdentityProperties"
        },
        "tags": {
          "description": "The tags of the monitor resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string"
        }
      }
    },
    "DynatraceMonitorResourceListResponse": {
      "description": "Response of a list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Results of a list operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DynatraceMonitorResource"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results, if any.",
          "type": "string"
        }
      }
    },
    "MonitorUpdateProperties": {
      "description": "The set of properties that can be update in a PATCH request to a monitor resource.",
      "type": "object",
      "properties": {
        "monitoringStatus": {
          "$ref": "#/definitions/MonitoringStatus"
        }
      }
    },
    "DynatraceMonitorResourceUpdateParameters": {
      "description": "The parameters for a PATCH request to a monitor resource.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MonitorUpdateProperties"
        },
        "tags": {
          "description": "The new tags of the monitor resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TagAction": {
      "description": "Valid actions for a filtering tag. Exclusion takes priority over inclusion.",
      "enum": [
        "Include",
        "Exclude"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "TagAction"
      }
    },
    "FilteringTag": {
      "description": "The definition of a filtering tag. Filtering tags are used for capturing resources and include/exclude them from being monitored.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (also known as the key) of the tag.",
          "type": "string"
        },
        "value": {
          "description": "The value of the tag.",
          "type": "string"
        },
        "action": {
          "$ref": "#/definitions/TagAction"
        }
      }
    },
    "LogRules": {
      "description": "Set of rules for sending logs for the Monitor resource.",
      "type": "object",
      "properties": {
        "sendAadLogs": {
          "description": "Flag specifying if AAD logs should be sent for the Monitor resource.",
          "type": "boolean"
        },
        "sendSubscriptionLogs": {
          "description": "Flag specifying if subscription logs should be sent for the Monitor resource.",
          "type": "boolean"
        },
        "sendActivityLogs": {
          "description": "Flag specifying if activity logs from Azure resources should be sent for the Monitor resource.",
          "type": "boolean"
        },
        "filteringTags": {
          "description": "List of filtering tags to be used for capturing logs. This only takes effect if SendActivityLogs flag is enabled. If empty, all resources will be captured. If only Exclude action is specified, the rules will apply to the list of all available resources. If Include actions are specified, the rules will only include resources with the associated tags.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilteringTag"
          }
        }
      }
    },
    "MonitoringTagRulesProperties": {
      "description": "Definition of the properties for a TagRules resource.",
      "type": "object",
      "properties": {
        "logRules": {
          "$ref": "#/definitions/LogRules"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      }
    },
    "MonitoringTagRules": {
      "description": "Capture logs and metrics of Azure resources based on ARM tags.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "name": {
          "description": "Name of the rule set.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "The id of the rule set.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the rule set.",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata relating to this resource",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "$ref": "#/definitions/MonitoringTagRulesProperties"
        }
      }
    },
    "MonitoringTagRulesListResponse": {
      "description": "Response of a list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Results of a list operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MonitoringTagRules"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results, if any.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "MonitorNameParameter": {
      "in": "path",
      "name": "monitorName",
      "description": "Monitor resource name",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}