{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Impact",
    "version": "2022-10-20-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "RootCauseAttribution"
    },
    {
      "name": "Workloadimpact"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Impact/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/workloadimpacts": {
      "get": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_ListBySubscription",
        "description": "List Workloadimpacts resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadimpactsListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListWorkloadimpactResourceSub": {
            "$ref": "./examples/Workloadimpact_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/workloadimpacts/{workloadimpactsName}/rootCauseAttributions": {
      "get": {
        "tags": [
          "RootCauseAttribution"
        ],
        "operationId": "RootCauseAttribution_ListBySubscription",
        "description": "List RootCauseAttributions resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RootCauseAttributionsListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListCRootCauseAttributionResourceSub": {
            "$ref": "./examples/RootCauseAttributions_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpacts": {
      "get": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_ListByResourceGroup",
        "description": "List Workloadimpacts resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadimpactsListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListWorkloadimpactResource": {
            "$ref": "./examples/Workloadimpact_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpacts/{workloadimpactsName}": {
      "get": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_Get",
        "description": "Get a Workloadimpacts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Workloadimpacts"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetWorkloadimpactResource": {
            "$ref": "./examples/Workloadimpact_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_CreateOrUpdate",
        "description": "Create a Workloadimpacts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Workloadimpacts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Workloadimpacts"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Workloadimpacts"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateWorkloadimpactResource": {
            "$ref": "./examples/Workloadimpact_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_Update",
        "description": "Update a Workloadimpacts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/WorkloadimpactsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Workloadimpacts"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateWorkloadimpactResource": {
            "$ref": "./examples/Workloadimpact_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Workloadimpact"
        ],
        "operationId": "Workloadimpact_Delete",
        "description": "Delete a Workloadimpacts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteWorkloadimpactResource": {
            "$ref": "./examples/Workloadimpact_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpacts/{workloadimpactsName}/rootCauseAttributions": {
      "get": {
        "tags": [
          "RootCauseAttribution"
        ],
        "operationId": "RootCauseAttribution_ListByWorkloadimpacts",
        "description": "List RootCauseAttributions resources by Workloadimpacts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RootCauseAttributionsListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListRootCauseAttributionResource": {
            "$ref": "./examples/RootCauseAttributions_ListByWorkloadimpacts.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Impact/workloadimpacts/{workloadimpactsName}/rootCauseAttributions/{rootCauseAttributionsName}": {
      "get": {
        "tags": [
          "RootCauseAttribution"
        ],
        "operationId": "RootCauseAttribution_Get",
        "description": "Get a RootCauseAttributions",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          },
          {
            "$ref": "#/parameters/RootCauseAttributions.rootCauseAttributionsName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RootCauseAttributions"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetRootCauseAttributionResource": {
            "$ref": "./examples/RootCauseAttributions_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "RootCauseAttribution"
        ],
        "operationId": "RootCauseAttribution_CreateOrUpdate",
        "description": "Create a RootCauseAttributions",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          },
          {
            "$ref": "#/parameters/RootCauseAttributions.rootCauseAttributionsName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/RootCauseAttributions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RootCauseAttributions"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/RootCauseAttributions"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateRootCauseAttributionResource": {
            "$ref": "./examples/RootCauseAttributions_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "RootCauseAttribution"
        ],
        "operationId": "RootCauseAttribution_Update",
        "description": "Update a RootCauseAttributions",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          },
          {
            "$ref": "#/parameters/RootCauseAttributions.rootCauseAttributionsName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/RootCauseAttributionsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RootCauseAttributions"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateRootCauseAttributionResource": {
            "$ref": "./examples/RootCauseAttributions_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "RootCauseAttribution"
        ],
        "operationId": "RootCauseAttribution_Delete",
        "description": "Delete a RootCauseAttributions",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workloadimpacts.workloadimpactsName"
          },
          {
            "$ref": "#/parameters/RootCauseAttributions.rootCauseAttributionsName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteRootCauseAttributionResource": {
            "$ref": "./examples/RootCauseAttributions_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AdditionalProperties": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "Error code associated with the impact."
        },
        "errorMessage": {
          "type": "string",
          "description": "Error Message associated with the impact"
        }
      },
      "description": "way to pass information domain specific to resource type/impact category. The list of allowed values will be documented)."
    },
    "Attributions": {
      "type": "object",
      "properties": {
        "rcaUniqueId": {
          "type": "string",
          "description": "Unique Id to identify the RCA in RCA engines",
          "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
        },
        "resourceUri": {
          "type": "string",
          "description": "Unique Id to identify the RCA in RCA engines"
        },
        "rootCauseAttributionTime": {
          "type": "string",
          "format": "date-time",
          "description": "time at which attribution was generated"
        },
        "rootCauseAttributionCategory": {
          "$ref": "#/definitions/RootCauseAttributionCategory",
          "description": "attribution category"
        },
        "processingStatus": {
          "$ref": "#/definitions/processingStatus",
          "description": "status of rca"
        },
        "summary": {
          "type": "string",
          "description": "Short Summary of the RCA. This will be a customer ready content derived from the category."
        }
      },
      "description": "attribution details",
      "required": [
        "rcaUniqueId",
        "resourceUri",
        "rootCauseAttributionCategory",
        "processingStatus"
      ]
    },
    "Connectivity": {
      "type": "object",
      "properties": {
        "protocol": {
          "$ref": "#/definitions/Protocol",
          "description": "The protocol used for the connection"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port number for the connection"
        },
        "direction": {
          "$ref": "#/definitions/Direction",
          "description": "The direction of the connection"
        },
        "source": {
          "$ref": "#/definitions/SourceOrDest",
          "description": "The source of the connection"
        },
        "destination": {
          "$ref": "#/definitions/SourceOrDest",
          "description": "The destination of the connection"
        }
      },
      "description": "Details about the connectivity issue. Applicable only for connectivity type of impacts."
    },
    "Direction": {
      "type": "string",
      "description": "direction of communication",
      "enum": [
        "INBOUND",
        "OUTBOUND"
      ],
      "x-ms-enum": {
        "name": "Direction",
        "modelAsString": false
      }
    },
    "ImpactDetails": {
      "type": "object",
      "properties": {
        "impactUniqueId": {
          "type": "string",
          "description": "The unique id of the impact",
          "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
        },
        "reportedTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The time the impact was reported"
        },
        "startDateTime": {

          "type": "string",
          "format": "date-time",
          "description": "The start time of the impact"
        },
        "endDateTime": {

          "type": "string",
          "format": "date-time",
          "description": "The end time of the impact"
        },
        "impactCategory": {
          "type": "string",
          "description": "The category of the impact",
          "pattern": "([A-Za-z]+.)+[A-Za-z]+"
        },
        "impactGroupId": {
          "type": "string",
          "description": "Group id used to correlate multiple impacts"
        }
      },
      "description": "details of impact associated with this attribution",
      "required": [
        "impactUniqueId",
        "reportedTimeUtc",
        "startDateTime",
        "impactCategory"
      ]
    },
    "Performance": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The name of the region in which the resources needed for Teams Calling will be deployed."
        },
        "expected": {
          "type": "number",
          "format": "double",
          "description": "IP address to use to contact the operator network from this region"
        },
        "actual": {
          "type": "number",
          "format": "double",
          "description": "IP address to use to contact the ESRPs from this region"
        }
      },
      "description": "Details about impacted performance metrics. Applicable for performance impacts.."
    },
    "Protocol": {
      "type": "string",
      "description": "list of protocols",
      "enum": [
        "TCP",
        "UDP"
      ],
      "x-ms-enum": {
        "name": "Protocol",
        "modelAsString": false
      }
    },
    "RootCauseAttributionCategory": {
      "type": "string",
      "description": "list of protocols",
      "enum": [
        "KNOWN_ISSUE",
        "NO_ISSUE_DETECTED",
        "ROLLOUT_ISSUE",
        "RCA_IN_PROGRESS",
        "OTHER_ISSUE"
      ],
      "x-ms-enum": {
        "name": "RootCauseAttributionCategory",
        "modelAsString": false
      }
    },
    "RootCauseAttributions": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RootCauseAttributionsProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A Contact resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RootCauseAttributionsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RootCauseAttributions"
          },
          "x-cadl-name": "RootCauseAttributions[]",
          "description": "The RootCauseAttributions items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a RootCauseAttributions list operation.",
      "required": [
        "value"
      ]
    },
    "RootCauseAttributionsProperties": {
      "type": "object",
      "properties": {
        "impactDetails": {
          "$ref": "#/definitions/ImpactDetails",
          "description": "impact details"
        },
        "attributions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attributions"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Attributions[]",
          "description": "attribution details"
        }
      },
      "description": "Details of the Contact resource.",
      "required": [
        "impactDetails",
        "attributions"
      ]
    },
    "RootCauseAttributionsUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RootCauseAttributionsUpdateProperties"
        }
      },
      "description": "The type used for update operations of the RootCauseAttributions."
    },
    "RootCauseAttributionsUpdateProperties": {
      "type": "object",
      "properties": {
        "impactDetails": {
          "$ref": "#/definitions/ImpactDetails",
          "description": "impact details"
        },
        "attributions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attributions"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Attributions[]",
          "description": "attribution details"
        }
      },
      "description": "The updatable properties of the RootCauseAttributions."
    },
    "SourceOrDest": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the entity  "
        },
        "azureResourceUri": {
          "type": "string",
          "description": "azure resource uri"
        },
        "ipAddress": {
          "type": "string",
          "description": "ipaddress of  server/host"
        }
      },
      "description": "resource details",
      "required": [
        "uri"
      ]
    },
    "Toolset": {
      "type": "string",
      "description": "list of azure interfaces.",
      "enum": [
        "TERRAFORM",
        "PUPPET",
        "CHEF",
        "SDK",
        "ANSILE",
        "ARM",
        "PORTAL",
        "SHELL",
        "OTHER"
      ],
      "x-ms-enum": {
        "name": "Toolset",
        "modelAsString": false
      }
    },
    "Workload": {
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "description": "Information about the customer’s workload."
        },
        "toolset": {
          "$ref": "#/definitions/Toolset",
          "description": "Tool used to interact with Azure. SDK, AzPortal, etc.., Other"
        }
      },
      "description": "customer worload details",
      "required": [
        "context"
      ]
    },
    "Workloadimpacts": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadimpactsProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A Workloadimpacts resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "WorkloadimpactsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workloadimpacts"
          },
          "x-cadl-name": "Workloadimpacts[]",
          "description": "The Workloadimpacts items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Workloadimpacts list operation.",
      "required": [
        "value"
      ]
    },
    "WorkloadimpactsProperties": {
      "type": "object",
      "properties": {
        "startDateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Details of the workloadimpact"
        },
        "endDateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Time the impact has ended in UTC"
        },
        "impactUniqueId": {
          "type": "string",
          "description": "unique id of the impact (uuid)",
          "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
          "readOnly": true
        },
        "reportedTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "time at which impact is reported",
          "readOnly": true
        },
        "impactCategory": {
          "type": "string",
          "description": "The categorization of the impact. This will be resource type specific. Up to 3 levels of category hierarchy will be supported with dot delemeter i.e. <category1>.<category2>.<category3>",
          "pattern": "([A-Za-z]+.)+[A-Za-z]+"
        },
        "impactDescription": {
          "type": "string",
          "description": "A detailed description of the impact"
        },
        "armCorrelationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "The ARM correlation ids",
          "x-ms-identifiers": []
        },
        "impactedResourceUri": {
          "type": "string",
          "description": "The fully qualified ARM id of the impacted azure resource"
        },
        "additionalProperties": {
          "$ref": "#/definitions/AdditionalProperties",
          "description": "way to pass information domain specific to resource type/impact category. The list of allowed values will be documented"
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "Details about the connectivity issue. Applicable only for connectivity type of impacts."
        },
        "performance": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Performance"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Performance[]",
          "description": "Details about impacted performance metrics. Applicable for performance impacts."
        },
        "workload": {
          "$ref": "#/definitions/Workload",
          "description": "Information about the customer’s workload"
        },
        "impactGroupId": {
          "type": "string",
          "description": "Used to correlate multiple impacts together"
        }
      },
      "description": "Details of the workloadimpact resource.",
      "required": [
        "startDateTimeUtc",
        "impactCategory",
        "impactedResourceUri",
        "additionalProperties",
        "workload"
      ]
    },
    "WorkloadimpactsUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadimpactsUpdateProperties"
        }
      },
      "description": "The type used for update operations of the Workloadimpacts."
    },
    "WorkloadimpactsUpdateProperties": {
      "type": "object",
      "properties": {
        "startDateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Details of the workloadimpact"
        },
        "endDateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Time the impact has ended in UTC"
        },
        "impactCategory": {
          "type": "string",
          "description": "The categorization of the impact. This will be resource type specific. Up to 3 levels of category hierarchy will be supported with dot delemeter i.e. <category1>.<category2>.<category3>",
          "pattern": "([A-Za-z]+.)+[A-Za-z]+"
        },
        "impactDescription": {
          "type": "string",
          "description": "A detailed description of the impact"
        },
        "armCorrelationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "The ARM correlation ids",
          "x-ms-identifiers": []
        },
        "impactedResourceUri": {
          "type": "string",
          "description": "The fully qualified ARM id of the impacted azure resource"
        },
        "additionalProperties": {
          "$ref": "#/definitions/AdditionalProperties",
          "description": "way to pass information domain specific to resource type/impact category. The list of allowed values will be documented"
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "Details about the connectivity issue. Applicable only for connectivity type of impacts."
        },
        "performance": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Performance"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "Performance[]",
          "description": "Details about impacted performance metrics. Applicable for performance impacts."
        },
        "workload": {
          "$ref": "#/definitions/Workload",
          "description": "Information about the customer’s workload"
        },
        "impactGroupId": {
          "type": "string",
          "description": "Used to correlate multiple impacts together"
        }
      },
      "description": "The updatable properties of the Workloadimpacts."
    },
    "processingStatus": {
      "type": "string",
      "description": "list of protocols",
      "enum": [
        "ACTIVE",
        "RESOLVED"
      ],
      "x-ms-enum": {
        "name": "processingStatus",
        "modelAsString": false
      }
    }
  },
  "parameters": {
    "RootCauseAttributions.rootCauseAttributionsName": {
      "name": "rootCauseAttributionsName",
      "in": "path",
      "required": true,
      "description": "Some documentation",
      "pattern": "^[a-zA-Z0-9-]{3,40}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "Workloadimpacts.workloadimpactsName": {
      "name": "workloadimpactsName",
      "in": "path",
      "required": true,
      "description": "Some documentation",
      "pattern": "^[a-zA-Z0-9-]{3,40}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
