{
  "swagger": "2.0",
  "info": {
    "title": "DiagnosticsRP",
    "description": "Diagnostics RP provider",
    "version": "2020-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/microsoft.Diagnostics/solutions/search": {
      "post": {
        "tags": [
          "Solutions"
        ],
        "description": "Discover list solution metadata for execution",
        "operationId": "List_Solutions_By_Tenant_Scope",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "DiscoverRequest",
            "description": "Discover Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DiscoverRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Solution Metadata Responses.",
            "schema": {
              "$ref": "#/definitions/SolutionMetaDataListResult"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Diagnostics/Solutions/{solutionId}/search": {
      "post": {
        "tags": [
          "Solutions"
        ],
        "description": "Discover list solution metadata for execution",
        "operationId": "Scope_Solutions_Search",
        "parameters": [
          {
            "$ref": "#/parameters/ScopeParameter"
          },
          {
            "$ref": "#/parameters/SolutionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "DiscoverRequest",
            "description": "Discover Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DiscoverRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Solution Metadata Responses.",
            "schema": {
              "$ref": "#/definitions/SolutionMetaDataListResult"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Diagnostics/insightDiagnostics/{solutionId}/invoke": {
      "post": {
        "tags": [
          "Insights"
        ],
        "description": "Insight Diagnosic Invocation Request",
        "operationId": "First_Level_Extension_Insight_Invoke",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ScopeParameter"
          },
          {
            "$ref": "#/parameters/SolutionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "The user to create.",
            "schema": {
              "type": "object",
              "properties": {
                "Parameters":
                {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Insight Diagnostic Invocation (may contain errors)",
            "schema": {
              "$ref": "#/definitions/InsightResult"
            }
          },
          "202": {
            "description": "Accepted, diagnostic will be invoked and results patched back asyncrhonously."
          }
        }
      }
    },
    "/providers/Microsoft.Diagnostics/AzureKB/search": {
      "post": {
        "tags": [
          "AzureKB"
        ],
        "description": "This API will fetch azurekb search results",
        "operationId": "Post_Tenant_level_AzureKB_requests",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "AzureKBSearchRequest",
            "description": "AzureKB Search Request body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AzureKBSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of AzureKB Search Responses.",
            "schema": {
              "$ref": "#/definitions/AzureKBSearchResultsList"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Diagnostics/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AzureKBSearchRequest": {
      "type": "object",
      "description": "Search Request body",
      "properties": {
        "searchText":{
          "description": "Search text string to search.",
          "type": "string"
        },
        "topResults":{
          "description": "Number of search results desired. Default is 1",
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        },
        "knowledgeSources":{
          "description": "Sources from where articles are to fetched. Default is community & documentation.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Community",
              "Documentation"
            ]
          }
        }
      },
      "required": [
        "searchText"
      ]
    },
    "DiscoverRequest": {
      "type": "object",
      "description": "Discover Request body",
      "properties": {
        "CustomerVerbatim":{
          "description": "Customer verbatim for ranking purpose",
          "type": "string"
        },
        "SapIds":{
          "description": "Array of SapIds, which are the GuidIds corresponding to target support topic",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "TargetKeywords":{
          "description": "Array of target keywords for demo searching purpose",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "SolutionIds":{
          "description": "Array of SolutionIds, which are identifier of solution metadatas",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AzureKBSearchResultsList": {
      "description": "Collection of AzureKB Search Results",
      "properties": {
        "searchResults": {
          "description": "Array of AzureKB Search Results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureKBSearchResultProperties"
          }
        }
      }
    },
    "AzureKBSearchResultProperties": {
      "description": "Details about an AzureKB Search Result",
      "type": "object",
      "properties": {
        "resultId": {
          "description": "Unique id of the result",
          "type": "string"
        },
        "content": {
          "description": "Content of the search result",
          "type": "string"
        },
        "title": {
          "description": "Title of the search result",
          "type": "string"
        },
        "confidence": {
          "description": "Confidence of the search result",
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ]
        },
        "unifiedRank": {
          "description": "unified rank of the search result",
          "type": "integer"
        },
        "unifiedConfidence": {
          "description": "Unified Confidence of the search result",
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ]
        },
        "overAllRank": {
          "description": "Overall rank of the search result",
          "type": "integer"
        },
        "link": {
          "description": "Link to the document",
          "type": "string"
        },
        "knowledgeSource": {
          "description": "Source of the results",
          "type": "string",
          "enum": [
            "Community",
            "Documentation"
          ]
        },
        "sectionMatchDetails": {
          "description": "Source of the search result",
          "type": "object",
          "items": {
            "$ref": "#/definitions/SectionMatchDetails"
          }
        }
      }
    },
    "SectionMatchDetails": {
      "description": "AzureKB Search Result SectionMatch details",
      "properties": {
        "content": {
          "type": "string",
          "description": "Content"
        },
        "title": {
          "type": "string",
          "description": "title"
        },
        "link": {
          "type": "string",
          "description": "link"
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "SolutionMetaDataListResult": {
      "description": "Object that represents the hardcode list of solutions metadata.",
      "properties": {
        "value": {
          "description": "The list of hardcode solutions metadata.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SolutionMetaData"
          }
        }
      }
    },
    "SolutionMetaData": {
      "x-ms-azure-resource": true,
      "description": "Object that represents a Diagnostic Solution Metadata",
      "type": "object",
      "properties": {
        "solutionId": {
          "description": "Id of the solution",
          "type": "string"
        },
        "solutionType": {
          "description": "Type of the solution",
          "type": "string"
        },
        "description": {
          "description": "A detail description of solution",
          "type": "string"
        },
        "ownershipId": {
          "description": "OwnershipIds (Format is Service_Team) are used to properly identify the team responsible for building and maintaining an ASEP extension.",
          "type": "string"
        },
        "targetKeywords": {
          "description": "target keywords for demo",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredParameterSets": {
          "description": "Required parameters for invoking this particular solution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetResourceTypeRegex": {
          "description": "A list of regex to filter resource type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetSapIds": {
          "description": "A list of SapId.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InsightResult": {
      "description": "The insight invocation result.",
      "properties": {
        "Id": {
          "description": "A unique ID for this Insight.",
          "type": "string"
        },
        "Insights": {
          "description": "The problems (if any) detected by this insight.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Insight"
          }
        },
        "Error": {
          "description": "Any errors that potentially occurred during diagnostic invocation.",
          "type": "object",
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Insight": {
      "description": "Detailed insights(s) obtained via the invocation of an insight diagnostic troubleshooter.",
      "properties": {
        "Title": {
          "description": "This insight's title.",
          "type": "string"
        },
        "Description": {
          "description": "A user friendly description of what this insight has detected.",
          "type": "string"
        },
        "IssueCategory": {
          "description": "The category for the issue that this insight detected",
          "type": "string"
        },
        "IssueSubcategory": {
          "description": "The subcategory for the issue that this insight detected.",
          "type": "string"
        },
        "RecommendedAction": {
          "description": "The recommended action to resolve the detected issue.",
          "type": "object",
          "$ref": "#/definitions/RecommendedAction"
        },
        "AdditionalDetails": {
          "description": "Additional supporting information for additional context about this problem.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RecommendedAction": {
      "description": "Detailed recommended action(s) to potentially resolve a detected problem.",
      "properties": {
        "Action": {
          "description": "The action to take.",
          "type": "string"
        },
        "ContentType": {
          "description": "A enumerative value indicating how the client can/should display the textual action given above.",
          "type": "string",
          "enum": [
            "MARKDOWN",
            "PLAIN_TEXT"
          ]
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Error": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Service specific error type which serves as additonal context for the error herein.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DiagnosticExecutionResponse": {
      "description": "The response from a Diagnostic Execution."
    }
  },
  "parameters": {
    "ScopeParameter": {
      "name": "scope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Request scope"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SolutionIdParameter": {
      "name": "solutionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for the diagnostic solution has been invoked. (e.g. 00000000-0000-0000-0000-000000000000)"
    }
  }
}
