{
  "swagger": "2.0",
  "info": {
    "version": "2022-08-15-privatepreview",
    "title": "DatabaseInsightsClient",
    "description": "Database Insights management Api's provides a list of Rest Api to manage monitoring for Azure SQL services"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DatabaseInsights/databaseMonitoringAgents/{databaseMonitoringAgentName}": {
      "put": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_Create",
        "description": "Creates a new Database Monitoring Agent",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/DatabaseMonitoringAgentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "description": "The request body for database monitoring agent resource.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "201": {
            "description": "Successfully created the monitoring agent.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Database Monitoring Agent": {
            "$ref": "./examples/CreateDatabaseMonitoringAgent.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_Delete",
        "description": "Delete a Database Monitoring Agent",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/DatabaseMonitoringAgentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the monitoring agent."
          },
          "204": {
            "description": "The specified monitoring agent does not exist."
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Database Monitoring Agent": {
            "$ref": "./examples/DeleteDatabaseMonitoringAgent.json"
          }
        }
      },
      "patch": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_Update",
        "description": "Update an existing Database Monitoring Agent",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/DatabaseMonitoringAgentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters for updating a monitor.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the monitoring agent.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "201": {
            "description": "Successfully updated the monitoring agent.",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Database Mnitoring Agent": {
            "$ref": "./examples/UpdateDatabaseMonitoringAgent.json"
          }
        }
      },
      "get": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_Get",
        "description": "Retrieves a Database Monitoring Agent",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/DatabaseMonitoringAgentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgent"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a single Database Monitoring Agent": {
            "$ref": "./examples/GetDatabaseMonitoringAgents.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DatabaseInsights/databaseMonitoringAgents": {
      "get": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_ListByResourcegroup",
        "description": "Retrieves all Database Monitoring Agents within a resource group",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgentList"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all Database Monitoring Agents By Resourcegroup": {
            "$ref": "./examples/ListDatabaseMonitoringAgentsByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DatabaseInsights/databaseMonitoringAgents": {
      "get": {
        "tags": [
          "DatabaseMonitoringAgents"
        ],
        "operationId": "DatabaseMonitoringAgents_List",
        "description": "Retrieves all Database Monitoring Agents within a subscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseMonitoringAgentList"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all Database Monitoring Agents in a subscription": {
            "$ref": "./examples/ListDatabaseMonitoringAgentsBySubscription.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "An error response from Azure Database Insights resource provider",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "type": "object",
      "properties": {
        "code": {
          "description": "A detailed error response from Azure Database Insights resource provider",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "A message describing the error, intended to be suitable for displaying in a user interface",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "DatabaseMonitoringAgent": {
      "description": "The properties of a Database Monitoring Agent.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseMonitoringAgentProperties",
          "description": "Properties of Database Monitoring Agent resource",
          "x-ms-client-flatten": false
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "DatabaseMonitoringAgentProperties": {
      "type": "object",
      "description": "The properties of Database Monitoring Agent resource",
      "properties": {
        "monitoringTargets": {
          "type": "integer",
          "format": "int32",
          "description": "Number of monitoring targets configured."
        },
        "datastores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Datastores configured."
        }
      }
    },
    "DatabaseMonitoringAgentList": {
      "description": "The list of database monitoring agents operation response.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DatabaseMonitoringAgent"
          },
          "description": "The list of database monitoring agents."
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
      "x-ms-parameter-location": "client"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseMonitoringAgentNameParameter": {
      "name": "databaseMonitoringAgentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the database monitoring agent.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request.",
      "x-ms-parameter-location": "client"
    }
  }
}
