{
  "swagger": "2.0",
  "info": {
    "title": "Monitor",
    "description": "The workload monitor Client.",
    "version": "2021-08-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "tags": [ "Monitors" ],
        "operationId": "monitors_List",
        "summary": "Gets a list of SAP monitors in the specified subscription.",
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}": {
      "get": {
        "tags": [ "Monitors" ],
        "operationId": "monitors_Get",
        "summary": "Gets properties of a SAP monitor.",
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [ "Monitors" ],
        "operationId": "monitors_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a SAP monitor.",
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created Monitor",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "201": {
            "description": "Creating Monitor",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [ "Monitors" ],
        "operationId": "monitors_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a SAP monitor.",
        "description": "Deletes a SAP monitor with the specified subscription, resource group, and monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Monitor"
          },
          "202": {
            "description": "Deleting Monitor"
          },
          "204": {
            "description": "No Monitor to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [ "Monitors" ],
        "operationId": "monitors_Update",
        "summary": "Patches the Tags field of a SAP monitor.",
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances": {
      "get": {
        "tags": [ "ProviderInstances" ],
        "operationId": "ProviderInstances_List",
        "summary": "Gets a list of provider instances in the specified SAP monitor.",
        "description": "Gets a list of provider instances in the specified SAP monitor. The operations returns various properties of each provider instances.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstanceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances/{providerInstanceName}": {
      "get": {
        "tags": [ "ProviderInstances" ],
        "operationId": "ProviderInstances_Get",
        "summary": "Gets properties of a provider instance.",
        "description": "Gets properties of a provider instance for the specified subscription, resource group, Monitor name, and resource name.",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [ "ProviderInstances" ],
        "operationId": "ProviderInstances_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a provider instance.",
        "description": "Creates a provider instance for the specified subscription, resource group, Monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "201": {
            "description": "Creating provider instance",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [ "ProviderInstances" ],
        "operationId": "ProviderInstances_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a provider instance.",
        "description": "Deletes a provider instance for the specified subscription, resource group, Monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/monitorNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted provider instance"
          },
          "202": {
            "description": "Deleting provider instance"
          },
          "204": {
            "description": "No provider instance to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationsDisplayDefinition": {
      "required": [
        "description",
        "operation",
        "provider",
        "resource"
      ],
      "type": "object",
      "properties": {
        "provider": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "OperationsDefinition": {
      "required": [
        "display",
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation."
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "origin": {
          "enum": [
            "NotSpecified",
            "User",
            "System"
          ],
          "type": "string"
        },
        "display": {
          "description": "Display information of the operation.",
          "allOf": [
            {
              "$ref": "#/definitions/OperationsDisplayDefinition"
            }
          ]
        },
        "actionType": {
          "enum": [
            "NotSpecified",
            "Internal"
          ],
          "type": "string"
        },
        "properties": {}
      },
      "description": "Properties of an Operation."
    },
    "OperationsContent": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Operations content.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationsDefinition"
        }
      },
      "x-ms-azure-resource": true
    },
    "Error": {
      "description": "Standard error object.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Server-defined set of error codes.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Human-readable representation of the error.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Target of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Array of details about specific errors that led to this reported error.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          },
          "readOnly": true
        },
        "innerError": {
          "description": "Object containing more specific information than  the current object about the error.",
          "allOf": [
            {
              "$ref": "#/definitions/Error"
            }
          ],
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Standard error response.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Standard error object.",
          "allOf": [
            {
              "$ref": "#/definitions/Error"
            }
          ]
        }
      }
    },
    "Tags": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags field of the resource."
        }
      },
      "description": "Tags field of the resource."
    },
    "MonitorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Monitor"
          },
          "description": "The list of SAP monitors."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of SAP monitors."
        }
      },
      "description": "The response from the List SAP monitors operation."
    },
    "Monitor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MonitorProperties",
          "description": "SAP monitor properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)"
    },
    "MonitorProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the monitor."
        },
        "errors": {
          "description": "Defines the SAP monitor errors.",
          "allOf": [
            {
              "$ref": "#/definitions/Error"
            }
          ],
          "readOnly": true
        },
        "managedResourceGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "The ARM id of the resource group the monitor resources get deployed into."
        },
        "logAnalyticsWorkspaceArmId": {
          "type": "string",
          "description": "The ARM ID of the Log Analytics Workspace that is used for monitoring."
        },
        "logAnalyticsWorkspaceId": {
          "type": "string",
          "description": "The workspace ID of the log analytics workspace to be used for monitoring."
        },
        "monitorVersion": {
          "readOnly": true,
          "type": "string",
          "description": "The version of the payload."
        },
        "monitorSubnet": {
          "type": "string",
          "description": "The subnet which the SAP monitor will be deployed in"
        }
      },
      "description": "Describes the properties of a SAP monitor."
    },
    "ProviderInstanceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderInstance"
          },
          "description": "The list of provider instances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of provider instances."
        }
      },
      "description": "The response from the List provider instances operation."
    },
    "ProviderInstance": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProviderInstanceProperties",
          "description": "Provider Instance properties",
          "providerType": {
            "description": "The provider type.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A provider instance associated with monitor."
    },
    "HanaDbProviderInstanceProperties": {
      "description": "Gets or sets the provider properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProviderInstanceProperties"
        }
      ],
      "properties": {
        "hanaHostname": {
          "description": "Gets or sets the target virtual machine size.",
          "type": "string"
        },
        "hanaDatabaseName": {
          "description": "Gets or sets the hana database name.",
          "type": "string"
        },
        "hanaDatabaseSqlPort": {
          "description": "Gets or sets the database sql port.",
          "type": "string"
        },
        "hanaDatabaseUsername": {
          "description": "Gets or sets the database user name.",
          "type": "string"
        },
        "hanaDatabasePassword": {
          "description": "Gets or sets the database password.",
          "type": "string",
          "x-ms-secret": true
        }
      },
      "x-ms-discriminator-value": "SapHana"
    },
    "ProviderInstanceProperties": {
      "properties": {
        "providerType": {
          "description": "The provider type. For example, the value can be SapHana.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "description": "State of provisioning of the provider instance"
        },
        "errors": {
          "description": "Defines the provider instance errors.",
          "allOf": [
            {
              "$ref": "#/definitions/Error"
            }
          ],
          "readOnly": true
        }
      },
      "description": "Describes the properties of a provider instance.",
      "discriminator": "providerType",
      "required": [ "providerType" ]
    }
  },
  "parameters": {
    "monitorNameParameter": {
      "name": "monitorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the SAP monitor resource.",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceNameParameter": {
      "name": "providerInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the provider instance.",
      "x-ms-parameter-location": "method"
    },
    "TagsParameter": {
      "name": "tagsParameter",
      "in": "body",
      "required": true,
      "type": "object",
      "schema": {
        "$ref": "#/definitions/Tags"
      },
      "description": "Request body that only contains the new Tags field",
      "x-ms-parameter-location": "method"
    },
    "MonitorParameter": {
      "name": "MonitorParameter",
      "in": "body",
      "required": true,
      "type": "object",
      "schema": {
        "$ref": "#/definitions/Monitor"
      },
      "description": "Request body representing a SAP Monitor",
      "x-ms-parameter-location": "method"
    },
    "ProviderInstanceParameter": {
      "name": "providerInstanceParameter",
      "in": "body",
      "required": true,
      "type": "object",
      "schema": {
        "$ref": "#/definitions/ProviderInstance"
      },
      "description": "Request body representing a provider instance",
      "x-ms-parameter-location": "method"
    }
  }
}
