{
  "swagger": "2.0",
  "info": {
    "version": "2023-01-01-preview",
    "title": "SaaSHubSubscriptionsClient",
    "description": "SaaSHub subscriptions client provides lifecycle management features to SaaSHub subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.SaaSHub/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_ListByCloudSubscription",
        "description": "Lists the SaaSHub subscriptions under the cloud subscription.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/SaaSHub/"
        },
        "x-ms-examples": {
          "ListSubscriptionsByCloudSubscription": {
            "$ref": "./examples/Subscription_List_ByCloudSubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListSubscriptionsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaSHub/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_ListByResourceGroup",
        "description": "Lists the SaaSHub subscriptions under the resource group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/SaaSHub/"
        },
        "x-ms-examples": {
          "ListSubscriptionsByResourceGroup": {
            "$ref": "./examples/Subscription_List_ByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListSubscriptionsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaSHub/subscriptions/{SubscriptionResourceName}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Get",
        "description": "Gets a SaaSHub subscription by its ID. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/SaaSHub/"
        },
        "x-ms-examples": {
          "GetSubscription": {
            "$ref": "./examples/Subscription_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Create",
        "description": "Creates or updates a SaaSHub subscription.",
        "x-ms-examples": {
          "CreateSubscription": {
            "$ref": "./examples/Subscription_Put.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Subscription"
            },
            "description": "Request parameters that are provided to the create SaaSHub subscription operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "201": {
            "description": "Created. The subscription has been created.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Update",
        "description": "Updates the properties of a SaaSHub subscription.",
        "x-ms-examples": {
          "AutoRenewOn": {
            "$ref": "./examples/Subscription_Patch_AutoRenew_On.json"
          },
          "AutoRenewOff": {
            "$ref": "./examples/Subscription_Patch_AutoRenew_Off.json"
          },
          "AutoRenewOnUpdateRenewalTermDetails": {
            "$ref": "./examples/Subscription_Patch_AutoRenew_On_UpdateRenewalTermDetails.json"
          },
          "ChangeQuantity": {
            "$ref": "./examples/Subscription_Patch_ChangeQuantity.json"
          },
          "TermUpdate": {
            "$ref": "./examples/Subscription_Patch_TermUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Subscription"
            },
            "description": "Request parameters that are provided to the update SaaSHub subscription operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "202": {
            "description": "Accepted. Method completes asynchronously",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Delete",
        "description": "Cancels a SaaSHub subscription.",
        "x-ms-examples": {
          "DeleteSubscription": {
            "$ref": "./examples/Subscription_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "202": {
            "description": "Accepted. Method completes asynchronously",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "204": {
            "description": "No Content. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ListSubscriptionsResult": {
      "description": "The list of SaaSHub subscriptions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of SaaSHub subscriptions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Subscription": {
      "description": "A SaaSHub subscription.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SubscriptionProperties",
          "title": "SaaSHub subscription properties"
        }
      }
    },
    "SubscriptionProperties": {
      "description": "The properties of a SaaSHub subscription.",
      "type": "object",
      "properties": {
        "autoRenew": {
          "description": "Indicates whether auto renewal is turned on or off for a SaaSHub subscription.",
          "type": "string",
          "enum": [
            "Off",
            "On"
          ],
          "x-ms-enum": {
            "name": "AutoRenew",
            "modelAsString": true
          }
        },
        "systemOverrides": {
          "description": "System imposed policies that regulate behavior of the resource.",
          "type": "object",
          "properties": {
            "cancellation": {
              "description": "The policy override for the resource indicates whether the self-serve cancellation or seat reduction is allowed.",
              "type": "string",
              "x-nullable": true,
              "readOnly": true,
              "enum": [
                "Allowed",
                "NotAllowed"
              ],
              "x-ms-enum": {
                "name": "Cancellation",
                "modelAsString": true
              }
            },
            "cancellationAllowedEndDate": {
              "type": "string",
              "format": "date-time",
              "description": "The end date in UTC time by when the self-serve cancellation ends.",
              "readOnly": true
            }
          }
        },
        "displayName": {
          "description": "The name of the subscription.",
          "type": "string"
        },
        "productType": {
          "description": "Type of the product for which the subscription is purchased",
          "type": "string",
          "readOnly": true
        },
        "productCode": {
          "description": "Product Universal Product Number of the product, which can be used to resolve product Id/sku Id/availability Id/term Id",
          "type": "string"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the status of the SaaSHub subscription at the time the operation was called.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Updating",
            "Unknown"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "quantity": {
          "description": "The number of licenses purchased for the subscription",
          "type": "integer",
          "format": "int64"
        },
        "renewalTerm": {
          "description": "Renewal term details of the subscription.",
          "$ref": "#/definitions/RenewalTermDetails"
        },
        "skuDescription": {
          "description": "The SKU description of the product for which the subscription is purchased.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "The status of the subscription.",
          "type": "string",
          "enum": [
            "Unknown",
            "Active",
            "Disabled",
            "Deleted",
            "PastDue",
            "Expiring",
            "Expired",
            "AutoRenew",
            "Cancelled",
            "Suspended"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "SubscriptionStatus",
            "modelAsString": true
          }
        },
        "suspensionReasons": {
          "description": "The suspension reason for a subscription.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "term": {
          "description": "Term details of the subscription.",
          "$ref": "#/definitions/TermDetails"
        }
      }
    },
    "TermDetails": {
      "description": "Term details of the subscription.",
      "type": "object",
      "properties": {
        "billingFrequency": {
          "description": "Billing frequency of the product under the subscription. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        },
        "termUnit": {
          "description": "The duration for which you can use the subscription. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date of the term in UTC time.",
          "readOnly": true
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date of the term in UTC time.",
          "readOnly": true
        }
      }
    },
    "RenewalTermDetails": {
      "description": "Renewal term details of the subscription.",
      "type": "object",
      "properties": {
        "quantity": {
          "description": "The number of licenses purchased for the subscription",
          "type": "integer",
          "format": "int64"
        },
        "productCode": {
          "description": "Upn value of the product, which can be used to resolve product Id/sku Id/availability Id/term Id",
          "type": "string"
        },
        "billingFrequency": {
          "description": "Billing frequency of the product under the subscription. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        },
        "termUnit": {
          "description": "The duration for which you can use the subscription. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionResourceNameParameter": {
      "name": "SubscriptionResourceName",
      "in": "path",
      "description": "The name that uniquely identifies a SaaSHub subscription.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "pattern": "^[-_0-9a-zA-Z]{1,50}$",
      "minLength": 1,
      "maxLength": 50
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
