{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2023-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}": {
      "put": {
        "tags": [
          "AccessControlLists"
        ],
        "operationId": "AccessControlLists_Create",
        "summary": "Creates Access Control List.",
        "description": "Implements Access Control List PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "accessControlListName",
            "required": true,
            "type": "string",
            "description": "Name of the Access Control List"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "AccessControlLists_Create_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Create_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "AccessControlLists"
        ],
        "operationId": "AccessControlLists_Get",
        "summary": "Gets a Access Control List.",
        "description": "Implements Access Control List GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "accessControlListName",
            "required": true,
            "type": "string",
            "description": "Name of the Access Control List"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_Get_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Get_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AccessControlLists"
        ],
        "operationId": "AccessControlLists_Update",
        "summary": "Updates a Access Control List.",
        "description": "API to update certain properties of the Access Control List resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "accessControlListName",
            "required": true,
            "type": "string",
            "description": "Name of the Access Control List"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Access Control List properties to update.",
            "schema": {
              "$ref": "#/definitions/AccessControlListPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "AccessControlLists_Update_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AccessControlLists"
        ],
        "operationId": "AccessControlLists_Delete",
        "summary": "Deletes a Access Control List.",
        "description": "Implements Access Control List DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "accessControlListName",
            "required": true,
            "type": "string",
            "description": "Name of the Access Control List"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "AccessControlLists_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists": {
      "get": {
        "operationId": "AccessControlLists_ListByResourceGroup",
        "summary": "List AccessControlLists by resource group.",
        "description": "Implements AccessControlLists list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all AccessControlLists under the resource group.",
            "schema": {
              "$ref": "#/definitions/AccessControlListsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AccessControlLists_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/accessControlLists": {
      "get": {
        "operationId": "AccessControlLists_ListBySubscription",
        "summary": "List AccessControlLists by subscription.",
        "description": "Implements AccessControlLists list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all AccessControlLists under the subscription.",
            "schema": {
              "$ref": "#/definitions/AccessControlListsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AccessControlLists_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}/updateAdministrativeState": {
      "post": {
        "tags": [
          "AccessControlLists"
        ],
        "operationId": "AccessControlListses_UpdateAdministrativeState",
        "summary": "Updates administrative state of  Access Control Lists.",
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "accessControlListName",
            "required": true,
            "type": "string",
            "description": "Name of the Access Control Lists."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "AccessControlListses_UpdateAdministrativeState_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlListses_UpdateAdministrativeState_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}/resync": {
      "post": {
        "tags": [
          "AccessControlLists"
        ],
        "operationId": "AccessControlLists_Resync",
        "summary": "Resync the Access Control Lists.",
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "accessControlListName",
            "required": true,
            "type": "string",
            "description": "Name of the Access Control Lists."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "AccessControlLists_Resync_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Resync_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}/validateConfiguration": {
      "post": {
        "tags": [
          "AccessControlLists"
        ],
        "operationId": "AccessControlLists_ValidateConfiguration",
        "summary": "Validates the configuration of the Access Control Lists.",
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "accessControlListName",
            "required": true,
            "type": "string",
            "description": "Name of the Access Control Lists."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/ValidateConfigurationResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/ValidateConfigurationResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "AccessControlLists_ValidateConfiguration_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_ValidateConfiguration_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessControlList": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/AccessControlListProperties"
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The AccessControlList resource definition."
    },
    "AccessControlListProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        },
        {
          "description": "Access Control List Patchable properties.",
          "$ref": "#/definitions/AccessControlListPatchableProperties"
        }
      ],
      "properties": {
        "lastSyncedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last synced timestamp.",
          "readOnly": true
        },
        "configurationState": {
          "description": "Gets the configurationState of the resource.",
          "$ref": "./common.json#/definitions/ConfigurationState"
        },
        "provisioningState": {
          "description": "Gets the provisioningState of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState"
        },
        "administrativeState": {
          "description": "Gets the administrativeState of the resource.",
          "$ref": "./common.json#/definitions/AdministrativeState"
        }
      },
      "description": "Access Control List Properties define the resource properties."
    },
    "AccessControlListPatch": {
      "description": "The Access Control Lists patch resource definition.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/definitions/AccessControlListPatchableProperties",
              "description": "Common properties for annotated type."
            },
            {
              "$ref": "./common.json#/definitions/AnnotationResource"
            }
          ]
        }
      },
      "allOf": [
        {
          "description": "Azure resource tags that will replace the existing ones.",
          "$ref": "./common.json#/definitions/TagsUpdate"
        }
      ]
    },
    "AccessControlListPatchableProperties": {
      "type": "object",
      "properties": {
        "configurationType": {
          "type": "string",
          "description": "ACL Configuration type.",
          "enum": [
            "File",
            "Inline"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ConfigurationType"
          }
        },
        "aclsUrl": {
          "type": "string",
          "description": "The Url that points to the ACLs file.",
          "format": "uri",
          "minLength": 1
        },
        "matchConfigurations": {
          "type": "array",
          "description": "List of match configurations.",
          "x-ms-client-flatten": true,
          "minItems": 1,
          "items": {
            "type": "object",
            "description": "Match configuration.",
            "properties": {
              "matchConfigurationName": {
                "type": "string",
                "description": "The name of the match configuration.",
                "minLength": 1
              },
              "sequenceNumber": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 4294967295,
                "description": "Sequence Number."
              },
              "ipAddressType": {
                "type": "string",
                "description": "IP Address type.",
                "minLength": 1,
                "enum": [
                  "IPv4",
                  "IPv6"
                ],
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "ipAddressType"
                }
              },
              "matchConditions": {
                "type": "array",
                "description": "List of the match conditions.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "Match condition.",
                  "properties": {
                    "etherTypes": {
                      "type": "array",
                      "minItems": 1,
                      "description": "List of ether type values that to be matched.",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Specify the ether type."
                      }
                    },
                    "fragments": {
                      "type": "array",
                      "minItems": 1,
                      "description": "List of IP fragment packets that are received from TOR to NPB over Source-TAP Interfaces.",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Specify the IP fragment packets."
                      }
                    },
                    "ipLengths": {
                      "type": "array",
                      "minItems": 1,
                      "description": "List of IP Lengths that to be matched.",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Specify the IP length."
                      }
                    },
                    "ttlValues": {
                      "type": "array",
                      "minItems": 1,
                      "description": "List of TTL [Time To Leave] values that to be matched.",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Specify the ttl values."
                      }
                    },
                    "dscpMarkings": {
                      "type": "array",
                      "minItems": 1,
                      "description": "List of DSCP Markings that to be matched.",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Specify the DSCP marking."
                      }
                    },
                    "portCondition": {
                      "description": "Defines the match condition that can be filtered based on the selected Ports.",
                      "properties": {
                        "flags": {
                          "type": "array",
                          "description": "Flags of the ports.",
                          "items": {
                            "type": "string",
                            "description": ""
                          }
                        }
                      },
                      "allOf": [
                        {
                          "$ref": "./common.json#/definitions/PortCondition"
                        }
                      ]
                    }
                  },
                  "allOf": [
                    {
                      "$ref": "./common.json#/definitions/CommonMatchConditions"
                    }
                  ]
                }
              },
              "actions": {
                "type": "array",
                "description": "The list of actions that need to be performed for the matched conditions.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "Action that need to performed.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type of actions that can be performed.",
                      "minLength": 1,
                      "enum": [
                        "Drop",
                        "Count",
                        "Log"
                      ],
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "Type"
                      }
                    },
                    "counterName": {
                      "type": "string",
                      "minLength": 1,
                      "description": "The name of the counter. This is used when the Count condition is c"
                    }
                  }
                }
              }
            }
          }
        },
        "dynamicMatchConfigurations": {
          "type": "array",
          "description": "List of dynamic match configurations.",
          "minItems": 1,
          "items": {
            "type": "object",
            "description": "Dynamic match configuration object.",
            "properties": {
              "ipGroups": {
                "type": "array",
                "description": "List of IP Groups.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "IP Group",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "IP Group name."
                    },
                    "ipPrefixes": {
                      "type": "array",
                      "description": "List of IP Prefixes.",
                      "minItems": 1,
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "IP Prefix."
                      }
                    }
                  }
                }
              },
              "vlanGroups": {
                "type": "array",
                "description": "List of vlan groups.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "Vlan group",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Vlan group name."
                    },
                    "vlans": {
                      "type": "array",
                      "description": "List of vlan.",
                      "minItems": 1,
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Vlan. It may be a single vlan or the range of the vlans.",
                        "example": "10-20"
                      }
                    }
                  }
                }
              },
              "portGroups": {
                "type": "array",
                "description": "List of the port group.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "Port Group",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "The name of the port group."
                    },
                    "ports": {
                      "type": "array",
                      "description": "The list of the ports.",
                      "minItems": 1,
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Port Number. It may be single port or the range of ports.",
                        "example": "10-20"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "description": "AccessControlListPatchProperties define the patchable resource properties."
    },
    "AccessControlListsListResult": {
      "type": "object",
      "description": "List of AccessControlLists.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of AccessControlList resources.",
          "items": {
            "$ref": "#/definitions/AccessControlList"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}