{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2023-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Accepted",
        "Succeeded",
        "Updating",
        "Deleting",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "OperationalState": {
      "type": "string",
      "description": "Operational state for the resource.",
      "readOnly": true,
      "enum": [
        "Up",
        "Updating",
        "Down",
        "Degraded",
        "RMA",
        "MAT"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "operationalState"
      }
    },
    "ConfigurationState": {
      "type": "string",
      "description": "Configuration State state for the resource.",
      "readOnly": true,
      "enum": [
        "Succeeded",
        "Failed",
        "Rejected",
        "Accepted"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ConfigurationState"
      }
    },
    "AdministrativeState": {
      "type": "string",
      "description": "State defined to represent administrative actions or post actions on a particular resource.",
      "enum": [
        "Enabled",
        "Disabled",
        "MAT",
        "RMA"
      ],
      "readOnly": true,
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AdministrativeState"
      }
    },
    "AnnotationResource": {
      "type": "object",
      "description": "Switch configuration entries require a description to discern between configuration groups.",
      "properties": {
        "annotation": {
          "type": "string",
          "description": "Switch configuration description."
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "ReachabilityState": {
      "type": "string",
      "description": "Generic network reachability state.",
      "enum": [
        "Reachable",
        "Unreachable"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "reachabilityState"
      }
    },
    "EnabledDisabledState": {
      "type": "string",
      "description": "EnabledDisabledState state for the resource.",
      "readOnly": true,
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "enabledDisabledState"
      }
    },
    "FailedSucceededState": {
      "type": "string",
      "description": "FailedSucceeded state for the resource.",
      "enum": [
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "FailedSucceededState"
      }
    },
    "UpdateAdministrativeState": {
      "type": "object",
      "description": "Update administrative state on list of resources.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Administrative state.",
          "enum": [
            "Enable",
            "Disable"
          ],
          "x-ms-enum": {
            "name": "AdministrativeState",
            "modelAsString": true
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EnableDisableOnResources"
        }
      ]
    },
    "EnableDisableOnResources": {
      "type": "object",
      "description": "Update administrative state on list of resources.",
      "properties": {
        "resourceIds": {
          "type": "array",
          "description": "Network Fabrics or Network Rack resource Id.",
          "items": {
            "description": "Network Fabrics or Network Rack resource Id.",
            "type": "string"
          }
        }
      }
    },
    "ARPProperties": {
      "type": "object",
      "description": "Show ARP table entry properties",
      "properties": {
        "address": {
          "type": "string",
          "description": "Ipv4 or Ipv6 address"
        },
        "age": {
          "type": "string",
          "description": "Duration in seconds."
        },
        "macAddress": {
          "type": "string",
          "description": "Hardware address."
        },
        "interface": {
          "type": "string",
          "description": "Layer 2 interface name."
        },
        "state": {
          "type": "string",
          "description": "ARP status"
        }
      },
      "required": [
        "address",
        "age",
        "macAddress",
        "interface"
      ]
    },
    "GetARPResponse": {
      "type": "object",
      "description": "Show ARP entries response per network device",
      "additionalProperties": {
        "$ref": "#/definitions/ARPProperties"
      }
    },
    "BooleanEnumProperty": {
      "type": "string",
      "description": "Boolean Enum. Example- True/False",
      "enum": [
        "True",
        "False"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "BooleanEnumProperty"
      }
    },
    "PeeringOption": {
      "type": "string",
      "description": "Peering option list.",
      "enum": [
        "OptionA",
        "OptionB"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "PeeringOption"
      }
    },
    "NetworkDeviceRoleTypes": {
      "type": "string",
      "description": "Available roles for the network device.",
      "enum": [
        "CE",
        "ToR",
        "NPB",
        "TS",
        "Management"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "NetworkDeviceRoleTypes"
      }
    },
    "CommunityActionTypes": {
      "type": "string",
      "description": "community action types. Example: Permit | Deny.",
      "enum": [
        "Permit",
        "Deny"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "communityActionTypes"
      }
    },
    "TagsUpdate": {
      "description": "Base tracked resource type for PATCH updates.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      }
    },
    "BfdConfiguration": {
      "type": "object",
      "description": "BFD configuration properties",
      "properties": {
        "administrativeState": {
          "description": "Administrative state of the BfdConfiguration. Example: Enabled | Disabled.",
          "default": "disabled",
          "$ref": "#/definitions/AdministrativeState",
          "readOnly": true
        },
        "intervalInMilliSeconds": {
          "type": "integer",
          "format": "int32",
          "default": 300,
          "description": "Interval in milliseconds. Example: 300."
        },
        "multiplier": {
          "type": "integer",
          "format": "int32",
          "default": 5,
          "description": "Multiplier for the Bfd Configuration. Example: 5."
        }
      }
    },
    "StaticRouteProperties": {
      "type": "object",
      "description": "Route Properties.",
      "properties": {
        "prefix": {
          "type": "string",
          "minLength": 1,
          "description": "Prefix of the route."
        },
        "nextHop": {
          "type": "array",
          "minItems": 1,
          "description": "List of next hop addresses.",
          "items": {
            "type": "string",
            "minLength": 1,
            "description": "Next Hop address."
          }
        }
      }
    },
    "Layer3IpPrefixProperties": {
      "type": "object",
      "description": "Layer 3 primary and secondary IP Address prefixes.",
      "properties": {
        "primaryIpv4Prefix": {
          "type": "string",
          "description": "IPv4 Address Prefix."
        },
        "primaryIpv6Prefix": {
          "type": "string",
          "description": "IPv6 Address Prefix."
        },
        "secondaryIpv4Prefix": {
          "type": "string",
          "description": "Secondary IPv4 Address Prefix."
        },
        "secondaryIpv6Prefix": {
          "type": "string",
          "description": "Secondary IPv6 Address Prefix."
        }
      }
    },
    "RouteTargetInformation": {
      "description": "Import Route Target Information.",
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "importIpv4RouteTargets": {
          "type": "array",
          "description": "Route Targets to be applied for incoming routes into CE.",
          "minItems": 1,
          "items": {
            "type": "string",
            "minLength": 1,
            "description": "Import IPv4 route target. Example: 65541:2001, 65542:2001."
          }
        },
        "importIpv6RouteTargets": {
          "type": "array",
          "description": "Route Targets to be applied for incoming routes from CE.",
          "minItems": 1,
          "items": {
            "type": "string",
            "minLength": 1,
            "description": "Import IPv6 route target. Example: 65531, 65532."
          }
        },
        "exportIpv4RouteTargets": {
          "type": "array",
          "description": "Route Targets to be applied for outgoing routes into CE.",
          "minItems": 1,
          "items": {
            "type": "string",
            "minLength": 1,
            "description": "Export IPV4 route target. Example: 65541:2001, 65542:2001."
          }
        },
        "exportIpv6RouteTargets": {
          "type": "array",
          "description": "Route Targets to be applied for outgoing routes from CE.",
          "minItems": 1,
          "items": {
            "type": "string",
            "minLength": 1,
            "description": "Export IPV6 route target. Example: 65531, 65532."
          }
        }
      }
    },
    "ImportRoutePolicyInformation": {
      "type": "object",
      "x-ms-client-flatten": true,
      "description": "Import Route Policy Information.",
      "properties": {
        "importIpv4RoutePolicyId": {
          "description": "Import IPv4 Route Policy Id.",
          "$ref": "#/definitions/RoutePolicyIdProperty"
        },
        "importIpv6RoutePolicyId": {
          "description": "Import IPv6 Route Policy Id.",
          "$ref": "#/definitions/RoutePolicyIdProperty"
        }
      }
    },
    "ExportRoutePolicyInformation": {
      "type": "object",
      "description": "Export Route Policy Information.",
      "x-ms-client-flatten": true,
      "properties": {
        "exportIpv4RoutePolicyId": {
          "description": "Export IPv4 Route Policy Id.",
          "$ref": "#/definitions/RoutePolicyIdProperty"
        },
        "exportIpv6RoutePolicyId": {
          "description": "Export IPv6 Route Policy Id.",
          "$ref": "#/definitions/RoutePolicyIdProperty"
        }
      }
    },
    "CommonMatchConditions": {
      "type": "object",
      "description": "Defines the common match conditions of the ACL and NetworkTapRule.",
      "properties": {
        "protocolTypes": {
          "type": "array",
          "minItems": 1,
          "description": "Type of Protocols used.",
          "items": {
              "type": "string",
              "minLength": 1,
              "description": "Specify the protocol."
          }
        },
        "encapsulationType": {
          "type": "string",
          "description": "Encapsualation Type.",
          "default": "None",
          "minLength": 1,
          "enum": [
            "None",
            "GTPv1"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "EncapsulationType"
          }                                        
        },
        "ipCondition": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Defines the condition that can be filtered using the selected IPs.",
          "properties": {
            "type": {
                "type": "string",
                "description": "IP Address type.",
                "minLength": 1,
                "enum": [
                  "SourceIP",
                  "DestinationIP"
                ],
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "Type"
                }                                        
            },
            "prefixType": {
                "type": "string",
                "description": "IP Prefix Type.",
                "minLength": 1,
                "enum": [
                  "Prefix",
                  "LongestPrefix"
                ],
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "PrefixType"
                }                                        
            },
            "ipList": {
                "type": "array",
                "description": "The list of IPPrefixes.",
                "minItems": 1,
                "items": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The valid IPPrefix."
                }
            },
            "ipv4GroupNames": {
                "type": "array",
                "description": "The List of IPv4 Group Names that need to be matched.",
                "minItems": 1,
                "items": {
                    "type": "string",
                    "minLength": 1,
                    "description": "IPv4 Group Name."
                }
            },
            "ipv6GroupNames": {
                "type": "array",
                "description": "The List of IPv6 Group Name that need to be matched.",
                "minItems": 1,
                "items": {
                    "type": "string",
                    "minLength": 1,
                    "description": "IPv6 Group Name."
                }
            }
          }
        },                                    
        "portCondition": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Defines the match condition that can be filtered based on the selected Ports.",
          "properties": {
            "portType": {
                "type": "string",
                "description": "IP Address type.",
                "minLength": 1,
                "enum": [
                  "SourcePort",
                  "DestinationPort"
                ],
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "Type"
                }                                        
            },
            "ports": {
                "type": "array",
                "description": "List of the Ports that to be matched.",
                "minItems": 1,
                "items": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Port number or range of ports."
                }
            },
            "portGroupNames": {
                "type": "array",
                "description": "List of the portGroupNames that to be matched.",
                "minItems": 1,
                "items": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Port Group Name."
                }
            }
          }
        }
      }
    },
    "NetworkFabricIdProperty": {
      "type": "string",
      "description": "Network Fabric ARM resource id.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/networkFabrics"
          }
        ]
      },
      "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/example-networkFabric"
    },
    "NetworkToNetworkInterconnectIdProperty": {
      "type": "string",
      "description": "Network To network Inetrconnects ARM resource id.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects"
          }
        ]
      },
      "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/example-networkFabric/networkTonetworkInterconnects/example-nni"
    },
    "L3IsolationDomainIdProperty": {
      "type": "string",
      "description": "L3IsolationDomain ARM resource id.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/l3IsolationDomains"
          }
        ]
      },
      "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/example-l3Domain"
    },
    "InternalNetworkIdProperty": {
      "type": "string",
      "description": "Internal Networks ARM resource id.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks"
          }
        ]
      },
      "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomain/example-l3Domain/internalNetworks/example-internalNetwork"
    },
    "ExternalNetworkIdProperty": {
      "type": "string",
      "description": "External Networks ARM resource id.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/l3IsolationDomains/externalNetworks"
          }
        ]
      },
      "example": "/subscriptions/xxxx-xxxx-xxxx-xxxx/resourcegroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomain/example-l3Domain/externalNetworks/example-externalNetwork"
    },
    "RoutePolicyIdProperty": {
      "type": "string",
      "description": "ARM resource ID of importRoutePolicy.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/routePolicies"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}"
    },
    "IpCommunityIdProperty": {
      "type": "string",
      "description": "ARM resource ID of IP Community.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/ipCommunities"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipCommunities/{ipCommunityName}"
    },
    "IpExtendedCommunityIdProperty": {
      "type": "string",
      "description": "ARM resource ID of ipExtendedCommunity.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/ipExtendedCommunities"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/{ipExtendedCommunityName}"
    },
    "IpPrefixIdProperty": {
      "type": "string",
      "description": "ARM resource ID of IP Prefix.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/ipPrefixes"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/{ipPrefixName}"
    },
    "NetworkPacketBrokerIdProperty": {
      "type": "string",
      "description": "ARM resource ID of Network Packet Broker.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/networkPacketBrokers"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers/{networkPacketBrokerName}"
    },
    "NetworkTapIdProperty": {
      "type": "string",
      "description": "ARM resource ID of Network Tap.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/networkTap"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTaps/{newtorkTapName}"
    },
    "NetworkTapRuleIdProperty": {
      "type": "string",
      "description": "ARM resource ID of Network Tap Rule.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/networkTapRules"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTapRules/{newtorkTapRuleName}"
    },
    "NeighborGroupIdProperty": {
      "type": "string",
      "description": "ARM resource ID of NeighborGroup.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/neighborGroups"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/neighborGroups/{neighborGroupName}"
    },
    "AccessControlListIdProperty": {
      "type":"string",
      "description": "ARM resource ID of Access Control Lists.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedNetworkFabric/accessControlLists"
          }
        ]
      },
      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}"
    }
  },
  "parameters": {}
}
