{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2023-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/neighborGroups/{neighborGroupName}": {
      "put": {
        "tags": [
          "NeighborGroups"
        ],
        "operationId": "NeighborGroups_Create",
        "summary": "",
        "description": "Creates NneighborGroup PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "neighborGroupName",
            "required": true,
            "type": "string",
            "description": "Name of the neighborGroup."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NeighborGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NeighborGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NeighborGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NeighborGroups_Create_MaximumSet_Gen": {
            "$ref": "./examples/NeighborGroups_Create_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "NeighborGroups"
        ],
        "operationId": "NeighborGroups_Get",
        "summary": "Retrieves details of neighborGroup using GET method.",
        "description": "Gets a neighborGroup.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "neighborGroupName",
            "required": true,
            "type": "string",
            "description": "Name of the NeighborGroup."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NeighborGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NeighborGroups_Get_MaximumSet_Gen": {
            "$ref": "./examples/NeighborGroups_Get_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NeighborGroups"
        ],
        "operationId": "NeighborGroups_Update",
        "summary": "API to update certain properties of the neighborGroup resources.",
        "description": "Updates a neighborGroup.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "neighborGroupName",
            "required": true,
            "type": "string",
            "description": "Name of the Neighbor Group."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "NeighborGroup properties to update. Only annotations are supported.",
            "schema": {
              "$ref": "#/definitions/NeighborGroupPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NeighborGroup"
            }
          },
          "202": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NeighborGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NeighborGroups_Update_MaximumSet_Gen": {
            "$ref": "./examples/NeighborGroups_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NeighborGroups"
        ],
        "operationId": "NeighborGroups_Delete",
        "summary": "Deletes a NeighborGroup.",
        "description": "Implements NeighborGroup DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "neighborGroupName",
            "required": true,
            "type": "string",
            "description": "Name of the NeighborGroup."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NeighborGroups_Delete_MaximumSet_Gen": {
            "$ref": "./examples/NeighborGroups_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/neighborGroups": {
      "get": {
        "operationId": "NeighborGroups_ListByResourceGroup",
        "summary": "List NeighborGroups by resource group.",
        "description": "Displays NeighborGroups list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NeighborGroups under the resource group.",
            "schema": {
              "$ref": "#/definitions/NeighborGroupsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NeighborGroups_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/NeighborGroups_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/neighborGroups": {
      "get": {
        "operationId": "NeighborGroups_ListBySubscription",
        "summary": "List NeighborGroups by subscription.",
        "description": "Displays NeighborGroups list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NeighborGroups under the subscription.",
            "schema": {
              "$ref": "#/definitions/NeighborGroupsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NeighborGroups_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NeighborGroups_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NeighborGroup": {
      "description": "Defines the NeighborGroup.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NeighborGroupProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "NeighborGroupProperties": {
      "type": "object",
      "description": "Neighbor Group Properties define the resource properties.",
      "required": [
        "destination"
      ],
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        },
        {
          "$ref": "#/definitions/NeighborGroupPatchableProperties",
          "description": "Neighbor Group patchable properties."
        }
      ],
      "properties": {
        "networkTapIds": {
          "type": "array",
          "description": "The list of NetworkTapIds.",
          "readOnly": true,
          "items": {
            "description": "ARM resource Id of the NetworkTap Resource.",
            "$ref": "./common.json#/definitions/NetworkTapIdProperty"
          }
        },
        "networkTapRuleIds": {
          "type": "array",
          "description": "The list of NetworkTapRuleIds.",
          "readOnly": true,
          "items": {
            "description": "ARM resource Id of the Network Tap Rules.",
            "$ref": "./common.json#/definitions/NetworkTapRuleIdProperty"
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      }
    },
    "NeighborGroupPatch": {
      "type": "object",
      "description": "The NeighborGroupPatch patch resource definition.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "NeighborGroupPatch Patch properties.",
          "allOf": [
            {
              "$ref": "./common.json#/definitions/AnnotationResource"
            },
            {
              "$ref": "#/definitions/NeighborGroupPatchableProperties"
            }
          ]
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/TagsUpdate"
        }
      ]
    },
    "NeighborGroupPatchableProperties": {
      "type": "object",
      "description": "NeighborGroupPatchableProperties defines the patchable properties of resource.",
      "properties": {
        "destination": {
          "type": "object",
          "description": "Destination. It can be either IPv4 Address List or IPv6 Address List.",
          "properties": {
            "ipv4Addresses": {
              "type": "array",
              "maxItems": 16,
              "description": "Array of IPv4 Addresses.",
              "items": {
                "type": "string",
                "description": "IPv4 Address.",
                "minLength": 1
              }
            },
            "ipv6Addresses": {
              "type": "array",
              "maxItems": 16,
              "description": "Array of IPv6 Addresses.",
              "items": {
                "type": "string",
                "description": "IPv4 Address.",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "NeighborGroupsListResult": {
      "type": "object",
      "description": "List of NeighborGroup.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NeighborGroup resources.",
          "items": {
            "$ref": "#/definitions/NeighborGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  }
}