{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Tap Rule API.",
    "version": "2023-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkTapRule/networkTapRules/{networkTapRuleName}": {
      "put": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Create",
        "summary": "Create Network Tap Rule.",
        "description": "Create Network Tap Rule resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkTapRuleName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Tap Rule"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NetworkTapRules_Create_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Create_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Get",
        "summary": "Gets a Network Tap Rule.",
        "description": "Get Network Tap Rule resource details.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkTapRuleName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Tap Rule"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkTapRules_Get_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Get_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Update",
        "summary": "Updates a Network Tap Rule.",
        "description": "Update certain properties of the Network Tap Rule resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkTapRuleName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Tap Rule"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Network Tap Rule properties to update.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRulePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkTapRules_Update_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Delete",
        "summary": "Deletes a Network Tap Rule.",
        "description": "Delete Network Tap Rule resource.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkTapRuleName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Tap Rule"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkTapRules_Delete_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkTapRule/networkTapRules": {
      "get": {
        "operationId": "NetworkTapRules_ListByResourceGroup",
        "summary": "List NetworkTapRules by resource group.",
        "description": "List all the Network Tap Rule resources in the given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkTapRules under the resource group.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRulesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkTapRules_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkTapRule/networkTapRules": {
      "get": {
        "operationId": "NetworkTapRules_ListBySubscription",
        "summary": "List NetworkTapRules by subscription.",
        "description": "List all the Network Tap Rule resources in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkTapRules under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRulesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkTapRules_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkTapRulePatchableProperties": {
      "title": "Network Tap Rule updatable properties",
      "type": "object",
      "properties": {
        "configurationType": {
            "type": "string",
            "description": "Tap Rule Configuration type.",
            "enum": [
              "File",
              "Inline"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ConfigurationType"
            }
        },
        "tapRulesUrl": {
            "type": "string",
            "description": "The Url that points the tapRules file.",
            "format": "uri",
            "minLength": 1
        },
        "matchConfigurations": {
          "type": "array",
          "description": "List of match configurations.",
          "x-ms-client-flatten": true,
          "minItems": 1,
          "items": {
            "type": "object",
            "description": "Match configuration.",
            "properties": {
              "matchConfigurationName": {
                "type": "string",
                "description": "The name of the match configuration.",
                "minLength": 1
              },
              "sequenceNumber": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 4294967295,
                "description": "Sequence Number."
              },
              "ipAddressType": {
                "type": "string",
                "description": "IP Address type.",
                "minLength": 1,
                "enum": [
                  "IPv4",
                  "IPv6"
                ],
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "ipAddressType"
                }
              },
              "matchConditions": {
                "type": "array",
                "description": "List of the match conditions.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "Match condition.",
                  "properties": {
                    "encapsulationType": {
                      "type": "string",
                      "description": "Encapsualation Type.",
                      "default": "None",
                      "minLength": 1,
                      "enum": [
                        "None",
                        "GTPv1"
                      ],
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "EncapsulationType"
                      }                                        
                    },
                    "portCondition": {
                      "description": "Defines the match condition that can be filtered based on the selected Ports.",
                      "allOf": [
                        {
                          "$ref": "./common.json#/definitions/PortCondition"
                        }
                      ]
                    }
                  },
                  "allOf": [
                    {
                      "$ref": "./common.json#/definitions/CommonMatchConditions"
                    }
                  ]
                }
              },
              "actions": {
                "type": "array",
                "description": "The list of actions that need to be performed for the matched conditions.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "Action that need to performed.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type of actions that can be performed.",
                      "minLength": 1,
                      "enum": [
                        "Drop",
                        "Count",
                        "Log",
                        "Replicate",
                        "Goto",
                        "Redirect",
                        "Mirror"
                      ],
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "Type"
                      }
                    },
                    "truncate": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Truncate. 0 indicates do not truncate."
                    },
                    "isTimestampEnabled": {
                      "description": "The parameter to enable or disable the timestamp.",
                      "$ref": "./common.json#/definitions/BooleanEnumProperty"
                    },
                    "destinationId": {
                      "type": "string",
                      "description": "Destination Id. The ARM resource Id may be either Network To Network Interconnect or NeighborGroup.",
                      "format": "arm-id",
                      "x-ms-arm-id-details": {
                        "allowedResources": [
                          {
                            "type": "Microsoft.ManagedNetworkFabric/neighborGroups"
                          },
                          {
                            "type": "Microsoft.ManagedNetworkFabric/networkToNetworkInterconnects"
                          }
                        ]
                      },
                      "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/neighborGroups/{neighborGroupName}"
                    },
                    "matchConfigurationName": {
                      "type": "string",
                      "minLength": 1,
                      "description": "The name of the match configuration. This is used when Goto type is provided. If Goto type is selected and no matchconfiguration name is provided. It goes to next configuration."
                    }
                  }
                }
              }
            }
          }
        },
        "dynamicMatchConfigurations": {
          "type": "array",
          "description": "List of dynamic match configurations.",
          "minItems": 1,
          "items": {
            "type": "object",
            "description": "Dynamic match configuration object.",
            "properties": {
              "ipGroups": {
                "type": "array",
                "description": "List of IP Groups.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "IP Group",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "IP Group name."
                    },
                    "ipPrefixes": {
                      "type": "array",
                      "description": "List of IP Prefixes.",
                      "minItems": 1,
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "IP Prefix."
                      }
                    }
                  }
                }
              },
              "vlanGroups": {
                "type": "array",
                "description": "List of vlan groups.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "Vlan group",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Vlan group name."
                    },
                    "vlans": {
                      "type": "array",
                      "description": "List of vlan.",
                      "minItems": 1,
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Vlan. It may be a single vlan or the range of the vlans.",
                        "example": "10-20"
                      }
                    }
                  }
                }
              },
              "portGroups": {
                "type": "array",
                "description": "List of the port group.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": "Port Group",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "The name of the port group."
                    },
                    "ports": {
                      "type": "array",
                      "description": "The list of the ports.",
                      "minItems": 1,
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Port Number. It may be single port or the range of ports.",
                        "example": "10-20"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "NetworkTapRuleProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        },
        {
          "description": "Network Tap Rule Patchable properties.",
          "$ref": "#/definitions/NetworkTapRulePatchableProperties"
        }
      ],
      "properties": {
        "networkTapId": {
          "type": "string",
          "description": "The ARM resource Id of the NetworkTap.",
          "readOnly": true
        },
        "pollingIntervalInSeconds": {
          "type": "integer",
          "description": "Polling interval in seconds.",
          "default": 30,
          "enum": [
            30,
            60,
            90,
            120
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "PollingIntervalInSeconds"
          }
        },
        "lastSyncedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last sync timestamp.",
          "readOnly": true
        },
        "configurationState": {
          "description": "Gets the configurationState of the resource.",
          "$ref": "./common.json#/definitions/ConfigurationState"
        },
        "provisioningState": {
          "description": "Gets the provisioningState of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState"
        },
        "administrativeState": {
          "description": "Gets the administrativeState of the resource.",
          "$ref": "./common.json#/definitions/AdministrativeState"
        }
      },
      "required": [
        "configurationType"
      ],
      "description": "NetworkTapRuleProperties - define the resource properties."
    },
    "NetworkTapRule": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "The NetworkTapRule resource definition.",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkTapRuleProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NetworkTapRulePatch": {
      "type": "object",
      "description": "The NetworkTapRule resource definition.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Network Tap Rule Patch properties.",
          "type": "object",
          "allOf": [
            {
              "$ref": "./common.json#/definitions/AnnotationResource"
            },
            {
              "$ref": "#/definitions/NetworkTapRulePatchableProperties"
            }
          ]
        }
      },
      "allOf": [
        {
          "description": "Azure resource tags that will replace the existing ones.",
          "$ref": "./common.json#/definitions/TagsUpdate"
        }
      ]
    },
    "NetworkTapRulesListResult": {
      "type": "object",
      "description": "List of NetworkTapRules.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkTapRule resources.",
          "items": {
            "$ref": "#/definitions/NetworkTapRule"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}