{
  "swagger": "2.0",
  "info": {
    "title": "Impact",
    "description": "Impact provider",
    "version": "2022-08-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [ "https" ],
  "consumes": [ "application/json" ],
  "produces": [ "application/json" ],
  "security": [
    {
      "azure_auth": [ "user_impersonation" ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Impact/impacts": {
      "get": {
        "description": "Returns list of impacts.",
        "operationId": "impacts_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "impacts details.",
            "schema": {
              "$ref": "#/definitions/impactsResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Impact/impacts/{impactsName}": {
      "get": {
        "description": "Returns impacts resource for a given name.",
        "operationId": "impacts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "impacts details.",
            "schema": {
              "$ref": "#/definitions/impactsResource"
            }
          }
        }
      },
      "put": {
        "description": "Create or update impacts resource.",
        "operationId": "impacts_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          },
          {
            "name": "impactsResource",
            "description": "impacts details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/impactsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/impactsResource"
            }
          },
          "201": {
            "description": "Long running operation."
          }
        }
      },
      "patch": {
        "description": "Update impacts details.",
        "operationId": "impacts_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          },
          {
            "name": "impactsPatchResource",
            "description": "impacts patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/impactsPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/impactsResource"
            }
          }
        }
      },
      "delete": {
        "description": "delete impact resource",
        "operationId": "impacts_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "impacts details.",
            "schema": {
              "$ref": "#/definitions/impactsResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Impact/impacts/{impactsName}/rca/{nestedResourceName}": {
      "get": {
        "description": "Returns nested resources for a given impacts name",
        "operationId": "NestedResourceType_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Nested Resource Types.",
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        }
      },
      "put": {
        "description": "Create or update nested resource type.",
        "operationId": "NestedResourceType_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceNameParameter"
          },
          {
            "name": "NestedResourceType",
            "description": "Nested Resource Type details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        }
      },
      "patch": {
        "description": "Update nested resource type details.",
        "operationId": "NestedResourceType_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceNameParameter"
          },
          {
            "name": "NestedResourcePatchResource",
            "description": "Nested resource patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Impact/impacts/{impactsName}/rca": {
      "get": {
        "description": "Returns nested resources for a given impacts name",
        "operationId": "NestedResourceType_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/impactsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Nested Resource Types.",
            "schema": {
              "$ref": "#/definitions/NestedResourceList"
            }
          }
        }
      }
    },
    "/providers/microsoft.Impact/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "impactsResource": {
      "type": "object",
      "description": "impacts details",
      "required": [ "properties" ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [ "firstName", "lastName", "group", "likesTea" ],
          "properties": {
            "firstName": {
              "type": "string",
              "description": "impacts full name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "middleName": {
              "type": "string",
              "description": "impacts middle name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "lastName": {
              "type": "string",
              "description": "impacts last name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc...",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "identificationNumber": {
              "type": "string",
              "readOnly": true,
              "description": "unique id assigned at the time of user creation"
            },
            "likesTea": {
              "type": "string",
              "description": "Gets or sets the deployment mode.",
              "enum": [ "Yes" ],
              "x-ms-enum": {
                "name": "likesTea",
                "modelAsString": true
              }
            }
          }
        }
      }
    },
    "impactsPatchResource": {
      "type": "object",
      "description": "impacts patch properties",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "properties": {
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc..."
            }
          }
        }
      }
    },
    "impactsResourceList": {
      "description": "The list of impacts.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of impacts list.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/impactsResource"
          }
        }
      }
    },
    "NestedResource": {
      "type": "object",
      "description": "Nested Resource details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [ "properties" ],
      "properties": {
        "properties": {
          "properties": {
            "firstName": {
              "type": "string",
              "description": "Nested Resource full name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "middleName": {
              "type": "string",
              "description": "Nested Resource name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "lastName": {
              "type": "string",
              "description": "Nested Resource name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc...",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "identificationNumber": {
              "type": "string",
              "readOnly": true,
              "description": "unique id assigned at the time of user creation"
            },
            "likesTea": {
              "type": "string",
              "description": "Gets or sets the deployment mode.",
              "enum": [ "Yes" ],
              "x-ms-enum": {
                "name": "likesTea",
                "modelAsString": true
              }
            }
          },
          "required": [ "firstName", "lastName", "group", "likesTea" ],
          "type": "object"
        }
      }
    },
    "NestedResourceList": {
      "description": "The list of nested resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of nested resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NestedResource"
          }
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [ "value" ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "impactsNameParameter": {
      "name": "impactsName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name impacts resource.",
      "x-ms-parameter-location": "method"
    },
    "NestedResourceNameParameter": {
      "name": "nestedResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of nested resource.",
      "x-ms-parameter-location": "method"
    },
    "ExtensionResourceNameParameter": {
      "name": "extensionResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of extension resource.",
      "x-ms-parameter-location": "method"
    }
  }
}