{
  "swagger": "2.0",
  "info": {
    "title": "Private.IntegrationService",
    "version": "2023-06-01-preview",
    "description": "The azure integration service resource provider.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Spaces"
    },
    {
      "name": "InfrastructureResources"
    },
    {
      "name": "Applications"
    },
    {
      "name": "ApplicationResources"
    },
    {
      "name": "BusinessProcesses"
    }
  ],
  "paths": {
    "/providers/Private.IntegrationService/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.IntegrationService/spaces": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "Spaces_ListBySubscription",
        "description": "List Space resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListSpacesBySubscription": {
            "$ref": "./examples/Spaces_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "Spaces_ListByResourceGroup",
        "description": "List Space resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.TopQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.MaxPageSizeQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.FilterQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SelectQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.ExpandQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.OrderByQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListSpacesByResourceGroup": {
            "$ref": "./examples/Spaces_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "Spaces_Get",
        "description": "Get a Space",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Space"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetSpace": {
            "$ref": "./examples/Spaces_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Spaces"
        ],
        "operationId": "Spaces_Create",
        "description": "Create a Space",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Space"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Space"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateSpace": {
            "$ref": "./examples/Spaces_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Spaces"
        ],
        "operationId": "Spaces_Update",
        "description": "Update a Space",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/SpaceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Space"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateSpace": {
            "$ref": "./examples/Spaces_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Spaces"
        ],
        "operationId": "Spaces_Delete",
        "description": "Delete a Space",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteSpace": {
            "$ref": "./examples/Spaces_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_ListBySpace",
        "description": "List Application resources by Space",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.TopQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.MaxPageSizeQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.FilterQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SelectQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.ExpandQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.OrderByQueryParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListApplicationsBySpace": {
            "$ref": "./examples/Applications_ListBySpace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}/applications/{applicationName}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Get",
        "description": "Get a Application",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetApplication": {
            "$ref": "./examples/Applications_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Create",
        "description": "Create a Application",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateApplication": {
            "$ref": "./examples/Applications_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Update",
        "description": "Update a Application",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ApplicationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateApplication": {
            "$ref": "./examples/Applications_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Delete",
        "description": "Delete a Application",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteApplication": {
            "$ref": "./examples/Applications_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}/applications/{applicationName}/businessProcesses": {
      "get": {
        "tags": [
          "BusinessProcesses"
        ],
        "operationId": "BusinessProcesses_ListByApplication",
        "description": "List BusinessProcess resources by Application",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.TopQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.MaxPageSizeQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.FilterQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SelectQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.ExpandQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.OrderByQueryParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessProcessListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListBusinessProcessByApplication": {
            "$ref": "./examples/BusinessProcess_ListByApplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}/applications/{applicationName}/businessProcesses/{businessProcessName}": {
      "get": {
        "tags": [
          "BusinessProcesses"
        ],
        "operationId": "BusinessProcesses_Get",
        "description": "Get a BusinessProcess",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "businessProcessName",
            "in": "path",
            "required": true,
            "description": "The name of the business process",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessProcess"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetBusinessProcess": {
            "$ref": "./examples/BusinessProcesses_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "BusinessProcesses"
        ],
        "operationId": "BusinessProcesses_Create",
        "description": "Create a BusinessProcess",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "businessProcessName",
            "in": "path",
            "required": true,
            "description": "The name of the business process",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/BusinessProcess"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessProcess"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateBusinessProcess": {
            "$ref": "./examples/BusinessProcesses_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "BusinessProcesses"
        ],
        "operationId": "BusinessProcesses_Update",
        "description": "Update a BusinessProcess",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "businessProcessName",
            "in": "path",
            "required": true,
            "description": "The name of the business process",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/BusinessProcessUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessProcess"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateBusinessProcess": {
            "$ref": "./examples/BusinessProcesses_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "BusinessProcesses"
        ],
        "operationId": "BusinessProcesses_Delete",
        "description": "Delete a BusinessProcess",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "businessProcessName",
            "in": "path",
            "required": true,
            "description": "The name of the business process",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteBusinessProcess": {
            "$ref": "./examples/BusinessProcesses_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}/applications/{applicationName}/resources": {
      "get": {
        "tags": [
          "ApplicationResources"
        ],
        "operationId": "ApplicationResources_ListByApplication",
        "description": "List ApplicationResource resources by Application",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.TopQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.MaxPageSizeQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.FilterQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SelectQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.ExpandQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.OrderByQueryParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListApplicationResourceByApplication": {
            "$ref": "./examples/ApplicationResources_ListByApplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}/applications/{applicationName}/resources/{resourceName}": {
      "get": {
        "tags": [
          "ApplicationResources"
        ],
        "operationId": "ApplicationResources_Get",
        "description": "Get a ApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "description": "The name of the application resource.",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetApplicationResource": {
            "$ref": "./examples/ApplicationResources_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationResources"
        ],
        "operationId": "ApplicationResources_Create",
        "description": "Create a ApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "description": "The name of the application resource.",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateApplicationResource": {
            "$ref": "./examples/ApplicationResources_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ApplicationResources"
        ],
        "operationId": "ApplicationResources_Update",
        "description": "Update a ApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "description": "The name of the application resource.",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ApplicationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateApplicationResource": {
            "$ref": "./examples/ApplicationResources_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationResources"
        ],
        "operationId": "ApplicationResources_Delete",
        "description": "Delete a ApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "description": "The name of the Application",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "description": "The name of the application resource.",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteApplicationResource": {
            "$ref": "./examples/ApplicationResources_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}/infrastructureResources": {
      "get": {
        "tags": [
          "InfrastructureResources"
        ],
        "operationId": "InfrastructureResources_ListBySpace",
        "description": "List InfrastructureResource resources by Space",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.TopQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.MaxPageSizeQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.FilterQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SelectQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.ExpandQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.OrderByQueryParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InfrastructureResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListInfrastructureResourcesBySpace": {
            "$ref": "./examples/InfrastructureResources_ListBySpace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.IntegrationService/spaces/{spaceName}/infrastructureResources/{infrastructureResourceName}": {
      "get": {
        "tags": [
          "InfrastructureResources"
        ],
        "operationId": "InfrastructureResources_Get",
        "description": "Get a InfrastructureResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "infrastructureResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the infrastructure resource in the space.",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InfrastructureResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetInfrastructureResource": {
            "$ref": "./examples/InfrastructureResources_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "InfrastructureResources"
        ],
        "operationId": "InfrastructureResources_Create",
        "description": "Create a InfrastructureResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "infrastructureResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the infrastructure resource in the space.",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/InfrastructureResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InfrastructureResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateInfrastructureResource": {
            "$ref": "./examples/InfrastructureResources_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "InfrastructureResources"
        ],
        "operationId": "InfrastructureResources_Update",
        "description": "Update a InfrastructureResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "infrastructureResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the infrastructure resource in the space.",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/InfrastructureResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InfrastructureResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateInfrastructureResource": {
            "$ref": "./examples/InfrastructureResources_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "InfrastructureResources"
        ],
        "operationId": "InfrastructureResources_Delete",
        "description": "Delete a InfrastructureResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          },
          {
            "name": "infrastructureResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the infrastructure resource in the space.",
            "pattern": "[a-zA-Z0-9_.()-]{0,79}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteInfrastructureResource": {
            "$ref": "./examples/InfrastructureResources_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Application": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "An integration application under space.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ApplicationListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Application"
          },
          "x-typespec-name": "Application[]",
          "description": "The Application items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a Application list operation.",
      "required": [
        "value"
      ]
    },
    "ApplicationProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the resource."
        },
        "trackingDataStores": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/TrackingDataStore"
          },
          "x-typespec-name": "Record<TrackingDataStore>",
          "description": "The tracking data stores."
        }
      },
      "description": "The properties of application.",
      "required": [
        "trackingDataStores"
      ]
    },
    "ApplicationResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A resource under application.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApplicationResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationResource"
          },
          "x-typespec-name": "ApplicationResource[]",
          "description": "The ApplicationResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a ApplicationResource list operation.",
      "required": [
        "value"
      ]
    },
    "ApplicationResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the application resource."
        },
        "resourceId": {
          "type": "string",
          "description": "The Arm id of the application resource."
        },
        "resourceKind": {
          "type": "string",
          "description": "The kind of the application resource."
        }
      },
      "description": "The properties of application resource.",
      "required": [
        "resourceType",
        "resourceId"
      ]
    },
    "ApplicationResourceUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the ApplicationResource."
    },
    "ApplicationResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The type of the application resource."
        },
        "resourceId": {
          "type": "string",
          "description": "The Arm id of the application resource."
        },
        "resourceKind": {
          "type": "string",
          "description": "The kind of the application resource."
        }
      },
      "description": "The updatable properties of the ApplicationResource."
    },
    "ApplicationUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ApplicationUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the Application."
    },
    "ApplicationUpdateProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the resource."
        },
        "trackingDataStores": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/TrackingDataStore"
          },
          "x-typespec-name": "Record<TrackingDataStore>",
          "description": "The tracking data stores."
        }
      },
      "description": "The updatable properties of the Application."
    },
    "BusinessProcess": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BusinessProcessProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A business process under application.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BusinessProcessIdentifier": {
      "type": "object",
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "The property name of the business process identifier."
        },
        "propertyType": {
          "type": "string",
          "description": "The property type of the business process identifier."
        }
      },
      "description": "The properties of business process identifier."
    },
    "BusinessProcessListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BusinessProcess"
          },
          "x-typespec-name": "BusinessProcess[]",
          "description": "The BusinessProcess items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a BusinessProcess list operation.",
      "required": [
        "value"
      ]
    },
    "BusinessProcessMappingItem": {
      "type": "object",
      "properties": {
        "logicAppResourceId": {
          "type": "string",
          "description": "The logic app resource id."
        },
        "workflowName": {
          "type": "string",
          "description": "The workflow name within the logic app."
        },
        "operationName": {
          "type": "string",
          "description": "The operation name."
        },
        "operationType": {
          "$ref": "#/definitions/FlowOperationType",
          "description": "The mapping item operation type of the business process."
        }
      },
      "description": "The properties of business process mapping."
    },
    "BusinessProcessProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the business process."
        },
        "draftBusinessProcess": {
          "$ref": "#/definitions/DraftBusinessProcess",
          "description": "The draft business process."
        },
        "identifier": {
          "$ref": "#/definitions/BusinessProcessIdentifier",
          "description": "The business process identifier."
        },
        "businessProcessStages": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BusinessProcessStage"
          },
          "x-typespec-name": "Record<BusinessProcessStage>",
          "description": "The business process stages."
        },
        "businessProcessMapping": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BusinessProcessMappingItem"
          },
          "x-typespec-name": "Record<BusinessProcessMappingItem>",
          "description": "The business process mapping."
        },
        "trackingDataStoreReferenceName": {
          "type": "string",
          "description": "The tracking data store reference name."
        }
      },
      "description": "The properties of business process."
    },
    "BusinessProcessReference": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The business process name."
        },
        "version": {
          "type": "string",
          "description": "The business process version."
        }
      },
      "description": "The business process reference.",
      "required": [
        "name",
        "version"
      ]
    },
    "BusinessProcessStage": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the business stage."
        },
        "properties": {
          "type": "object",
          "x-typespec-name": "Record<BusinessProcessStagePropertyType>",
          "description": "The properties within the properties of the business process stage."
        },
        "stagesBefore": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-typespec-name": "string[]",
          "description": "The property to keep track of stages before current in the business process stage."
        }
      },
      "description": "The properties of business process stage."
    },
    "BusinessProcessStagePropertyType": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "integer",
        "string"
      ],
      "x-ms-enum": {
        "name": "BusinessProcessStagePropertyType",
        "modelAsString": true
      }
    },
    "BusinessProcessUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BusinessProcessUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the BusinessProcess."
    },
    "BusinessProcessUpdateProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the business process."
        },
        "draftBusinessProcess": {
          "$ref": "#/definitions/DraftBusinessProcess",
          "description": "The draft business process."
        },
        "identifier": {
          "$ref": "#/definitions/BusinessProcessIdentifier",
          "description": "The business process identifier."
        },
        "businessProcessStages": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BusinessProcessStage"
          },
          "x-typespec-name": "Record<BusinessProcessStage>",
          "description": "The business process stages."
        },
        "businessProcessMapping": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BusinessProcessMappingItem"
          },
          "x-typespec-name": "Record<BusinessProcessMappingItem>",
          "description": "The business process mapping."
        },
        "trackingDataStoreReferenceName": {
          "type": "string",
          "description": "The tracking data store reference name."
        }
      },
      "description": "The updatable properties of the BusinessProcess."
    },
    "DraftBusinessProcess": {
      "type": "object",
      "properties": {
        "isDeployed": {
          "type": "boolean",
          "description": "The boolean value indicating if the draft business process is deployed."
        },
        "identifier": {
          "$ref": "#/definitions/BusinessProcessIdentifier",
          "description": "The draft business process identifier."
        },
        "businessProcessStages": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BusinessProcessStage"
          },
          "x-typespec-name": "Record<BusinessProcessStage>",
          "description": "The business process stages."
        },
        "businessProcessMapping": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BusinessProcessMappingItem"
          },
          "x-typespec-name": "Record<BusinessProcessMappingItem>",
          "description": "The business process mapping."
        },
        "trackingProfiles": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/TrackingProfileDefinition"
          },
          "x-typespec-name": "Record<TrackingProfileDefinition>",
          "description": "The tracking profile for the business process."
        }
      },
      "description": "The properties of the draft business process."
    },
    "FlowOperationType": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "trigger",
        "action"
      ],
      "x-ms-enum": {
        "name": "FlowOperationType",
        "modelAsString": true
      }
    },
    "FlowTrackingDefinition": {
      "type": "object",
      "properties": {
        "correlationContext": {
          "$ref": "#/definitions/TrackingCorrelationContext",
          "description": "The tracking correlation context."
        },
        "events": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/TrackingEventDefinition"
          },
          "x-typespec-name": "Record<TrackingEventDefinition>",
          "description": "The tracking events."
        }
      },
      "description": "The workflow tracking definition.",
      "required": [
        "correlationContext",
        "events"
      ]
    },
    "InfrastructureResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InfrastructureResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "An infrastructure resource under Space.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "InfrastructureResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InfrastructureResource"
          },
          "x-typespec-name": "InfrastructureResource[]",
          "description": "The InfrastructureResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a InfrastructureResource list operation.",
      "required": [
        "value"
      ]
    },
    "InfrastructureResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the infrastructure resource."
        },
        "resourceId": {
          "type": "string",
          "description": "The id of the infrastructure resource."
        }
      },
      "description": "The properties of infrastructure resource.",
      "required": [
        "resourceType",
        "resourceId"
      ]
    },
    "InfrastructureResourceUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InfrastructureResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the InfrastructureResource."
    },
    "InfrastructureResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The type of the infrastructure resource."
        },
        "resourceId": {
          "type": "string",
          "description": "The id of the infrastructure resource."
        }
      },
      "description": "The updatable properties of the InfrastructureResource."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Space": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SpaceResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "An integration space.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SpaceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Space"
          },
          "x-typespec-name": "Space[]",
          "description": "The Space items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a Space list operation.",
      "required": [
        "value"
      ]
    },
    "SpaceResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the resource."
        }
      },
      "description": "The properties of space."
    },
    "SpaceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/SpaceUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the Space."
    },
    "SpaceUpdateProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the resource."
        }
      },
      "description": "The updatable properties of the Space."
    },
    "TrackingCorrelationContext": {
      "type": "object",
      "properties": {
        "operationType": {
          "$ref": "#/definitions/FlowOperationType",
          "description": "The operation type for correlation context."
        },
        "operationName": {
          "type": "string",
          "description": "The operation name for correlation context."
        },
        "propertyName": {
          "type": "string",
          "description": "The name of the correlation property."
        },
        "value": {
          "type": "string",
          "description": "The template expression for correlation context property valu."
        }
      },
      "description": "The tracking correlation context.",
      "required": [
        "operationType",
        "operationName",
        "propertyName",
        "value"
      ]
    },
    "TrackingDataStore": {
      "type": "object",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "The database name."
        },
        "dataStoreResourceId": {
          "type": "string",
          "description": "The data store resource id."
        }
      },
      "description": "The properties of tracking data store.",
      "required": [
        "databaseName",
        "dataStoreResourceId"
      ]
    },
    "TrackingEventDefinition": {
      "type": "object",
      "properties": {
        "operationType": {
          "$ref": "#/definitions/FlowOperationType",
          "description": "The operation type."
        },
        "operationName": {
          "type": "string",
          "description": "The operation name."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/object"
          },
          "x-typespec-name": "Record<object>",
          "description": "The properties to be collected for event."
        }
      },
      "description": "The tracking event definition.",
      "required": [
        "operationType",
        "operationName"
      ]
    },
    "TrackingProfileDefinition": {
      "type": "object",
      "properties": {
        "$schema": {
          "type": "string",
          "description": "The tracking definition schema uri."
        },
        "businessProcess": {
          "$ref": "#/definitions/BusinessProcessReference",
          "description": "The business process reference."
        },
        "trackingDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/FlowTrackingDefinition"
          },
          "x-typespec-name": "Record<FlowTrackingDefinition>",
          "description": "The tracking definitions."
        }
      },
      "description": "The tracking profile for the business process",
      "required": [
        "$schema",
        "businessProcess",
        "trackingDefinitions"
      ]
    },
    "object": {
      "type": "object",
      "properties": {}
    }
  },
  "parameters": {
    "Azure.Core.ExpandQueryParameter": {
      "name": "expand",
      "in": "query",
      "required": false,
      "description": "Expand the indicated resources into the response.",
      "collectionFormat": "multi",
      "type": "array",
      "items": {
        "type": "string"
      },
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.FilterQueryParameter": {
      "name": "filter",
      "in": "query",
      "required": false,
      "description": "Filter the result list using the given expression.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.MaxPageSizeQueryParameter": {
      "name": "maxpagesize",
      "in": "query",
      "required": false,
      "description": "The maximum number of result items per page.",
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.OrderByQueryParameter": {
      "name": "orderby",
      "in": "query",
      "required": false,
      "description": "Expressions that specify the order of returned results.",
      "collectionFormat": "multi",
      "type": "array",
      "items": {
        "type": "string"
      },
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.SelectQueryParameter": {
      "name": "select",
      "in": "query",
      "required": false,
      "description": "Select the specified fields to be included in the response.",
      "collectionFormat": "multi",
      "type": "array",
      "items": {
        "type": "string"
      },
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.SkipQueryParameter": {
      "name": "skip",
      "in": "query",
      "required": false,
      "description": "The number of result items to skip.",
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.TopQueryParameter": {
      "name": "top",
      "in": "query",
      "required": false,
      "description": "The number of result items to return.",
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    }
  }
}
