{
  "swagger": "2.0",
  "info": {
    "title": "AzurePercept",
    "description": "The Microsoft.AzurePercept Rest API spec.",
    "version": "2022-08-31-preview",
    "x-ms-code-generation-settings": {
      "name": "AzurePerceptClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/SolutioninstancesArc/{SolutioninstancesArcName}": {
      "get": {
        "operationId": "SolutioninstancesArc_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SolutioninstancesArcNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the SolutioninstancesArc resource.",
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArc"
            }
          }
        }
      },
      "put": {
        "operationId": "SolutioninstancesArc_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SolutioninstancesArcNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "SolutioninstancesArc",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the SolutioninstancesArc resource.",
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArc"
            }
          },
          "201": {
            "description": "Creates the SolutioninstancesArc resource.",
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArc"
            }
          }
        }
      },
      "delete": {
        "operationId": "SolutioninstancesArc_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SolutioninstancesArcNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the SolutioninstancesArc resource."
          }
        }
      },
      "patch": {
        "operationId": "SolutioninstancesArc_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SolutioninstancesArcNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "SolutioninstancesArc",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArcPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the SolutioninstancesArc resource.",
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArc"
            }
          },
          "201": {
            "description": "Updates the SolutioninstancesArc resource.",
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArc"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/SolutioninstancesArc": {
      "get": {
        "operationId": "SolutioninstancesArc_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all SolutioninstancesArc under the resouce group.",
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArcListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/SolutioninstancesArc": {
      "get": {
        "operationId": "SolutioninstancesArc_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all SolutioninstancesArc under the subscription.",
            "schema": {
              "$ref": "#/definitions/SolutioninstancesArcListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.AzurePercept/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SolutioninstancesArcProperties": {
      "type": "object",
      "properties": {
        "solution": {
          "type": "string",
          "description": "Solution is an example field of SolutioninstancesArc. Edit solutioninstancesarc_types.go to remove/update"
        },
        "target": {
          "type": "string",
          "description": "Target is an example field of SolutioninstancesArc. Edit solutioninstancesarc_types.go to remove/update"
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "description": "SolutioninstancesArcStatus defines the observed state of SolutioninstancesArc"
        }
      },
      "description": "SolutioninstancesArcSpec defines the desired state of SolutioninstancesArc"
    },
    "SolutioninstancesArc": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SolutioninstancesArcProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The SolutioninstancesArc resource definition."
    },
    "SolutioninstancesArcPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The SolutioninstancesArc resource patch definition."
    },
    "SolutioninstancesArcListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SolutioninstancesArc"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "SolutioninstancesArcNameParameter": {
      "name": "SolutioninstancesArcName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}