{
    "swagger": "2.0",
    "info": {
        "title": "AzurePercept",
        "description": "The Microsoft.AzurePercept Rest API spec.",
        "version": "2022-08-31-preview",
        "x-ms-code-generation-settings": {
            "name": "AzurePerceptClient"
        }
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/SolutioninstancesArc/{SolutioninstancesArcName}": {
            "get": {
                "operationId": "SolutioninstancesArc_Retrieve",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/SolutioninstancesArcNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieves the SolutioninstancesArc resource.",
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArc"
                        }
                    }
                }
            },
            "put": {
                "operationId": "SolutioninstancesArc_CreateOrUpdate",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/SolutioninstancesArcNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "SolutioninstancesArc",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the SolutioninstancesArc resource.",
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArc"
                        }
                    },
                    "201": {
                        "description": "Creates the SolutioninstancesArc resource.",
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArc"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "SolutioninstancesArc_Delete",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/SolutioninstancesArcNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deletes the SolutioninstancesArc resource."
                    }
                }
            },
            "patch": {
                "operationId": "SolutioninstancesArc_Update",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/SolutioninstancesArcNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "SolutioninstancesArc",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArcPatch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the SolutioninstancesArc resource.",
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArc"
                        }
                    },
                    "201": {
                        "description": "Updates the SolutioninstancesArc resource.",
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArc"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/SolutioninstancesArc": {
            "get": {
                "operationId": "SolutioninstancesArc_ListByResourceGroup",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all SolutioninstancesArc under the resouce group.",
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArcListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/SolutioninstancesArc": {
            "get": {
                "operationId": "SolutioninstancesArc_ListBySubscription",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all SolutioninstancesArc under the subscription.",
                        "schema": {
                            "$ref": "#/definitions/SolutioninstancesArcListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/devices/{devicesName}": {
            "get": {
                "operationId": "devices_Retrieve",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/devicesNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieves the devices resource.",
                        "schema": {
                            "$ref": "#/definitions/devices"
                        }
                    }
                }
            },
            "put": {
                "operationId": "devices_CreateOrUpdate",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/devicesNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "devices",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/devices"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the devices resource.",
                        "schema": {
                            "$ref": "#/definitions/devices"
                        }
                    },
                    "201": {
                        "description": "Creates the devices resource.",
                        "schema": {
                            "$ref": "#/definitions/devices"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "devices_Delete",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/devicesNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deletes the devices resource."
                    }
                }
            },
            "patch": {
                "operationId": "devices_Update",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/devicesNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "devices",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/devicesPatch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the devices resource.",
                        "schema": {
                            "$ref": "#/definitions/devices"
                        }
                    },
                    "201": {
                        "description": "Updates the devices resource.",
                        "schema": {
                            "$ref": "#/definitions/devices"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/devices": {
            "get": {
                "operationId": "devices_ListByResourceGroup",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all devices under the resouce group.",
                        "schema": {
                            "$ref": "#/definitions/devicesListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/devices": {
            "get": {
                "operationId": "devices_ListBySubscription",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all devices under the subscription.",
                        "schema": {
                            "$ref": "#/definitions/devicesListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/targets/{targetsName}": {
            "get": {
                "operationId": "targets_Retrieve",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/targetsNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieves the targets resource.",
                        "schema": {
                            "$ref": "#/definitions/targets"
                        }
                    }
                }
            },
            "put": {
                "operationId": "targets_CreateOrUpdate",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/targetsNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "targets",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/targets"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the targets resource.",
                        "schema": {
                            "$ref": "#/definitions/targets"
                        }
                    },
                    "201": {
                        "description": "Creates the targets resource.",
                        "schema": {
                            "$ref": "#/definitions/targets"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "targets_Delete",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/targetsNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deletes the targets resource."
                    }
                }
            },
            "patch": {
                "operationId": "targets_Update",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/targetsNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "targets",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/targetsPatch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the targets resource.",
                        "schema": {
                            "$ref": "#/definitions/targets"
                        }
                    },
                    "201": {
                        "description": "Updates the targets resource.",
                        "schema": {
                            "$ref": "#/definitions/targets"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/targets": {
            "get": {
                "operationId": "targets_ListByResourceGroup",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all targets under the resouce group.",
                        "schema": {
                            "$ref": "#/definitions/targetsListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/targets": {
            "get": {
                "operationId": "targets_ListBySubscription",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all targets under the subscription.",
                        "schema": {
                            "$ref": "#/definitions/targetsListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/models/{modelsName}": {
            "get": {
                "operationId": "models_Retrieve",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/modelsNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieves the models resource.",
                        "schema": {
                            "$ref": "#/definitions/models"
                        }
                    }
                }
            },
            "put": {
                "operationId": "models_CreateOrUpdate",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/modelsNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "models",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the models resource.",
                        "schema": {
                            "$ref": "#/definitions/models"
                        }
                    },
                    "201": {
                        "description": "Creates the models resource.",
                        "schema": {
                            "$ref": "#/definitions/models"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "models_Delete",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/modelsNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deletes the models resource."
                    }
                }
            },
            "patch": {
                "operationId": "models_Update",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/modelsNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }, {
                        "name": "models",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/modelsPatch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the models resource.",
                        "schema": {
                            "$ref": "#/definitions/models"
                        }
                    },
                    "201": {
                        "description": "Updates the models resource.",
                        "schema": {
                            "$ref": "#/definitions/models"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/models": {
            "get": {
                "operationId": "models_ListByResourceGroup",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all models under the resouce group.",
                        "schema": {
                            "$ref": "#/definitions/modelsListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/models": {
            "get": {
                "operationId": "models_ListBySubscription",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }, {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all models under the subscription.",
                        "schema": {
                            "$ref": "#/definitions/modelsListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/skills/{skillsName}": {
		    "get": {
		        "operationId": "skills_Retrieve",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/skillsNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Retrieves the skills resource.",
		                "schema": {
		                    "$ref": "#/definitions/skills"
		                }
		            }
		        }
		    },
		    "put": {
		        "operationId": "skills_CreateOrUpdate",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/skillsNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }, {
		                "name": "skills",
		                "in": "body",
		                "required": true,
		                "schema": {
		                    "$ref": "#/definitions/skills"
		                }
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Updates the skills resource.",
		                "schema": {
		                    "$ref": "#/definitions/skills"
		                }
		            },
		            "201": {
		                "description": "Creates the skills resource.",
		                "schema": {
		                    "$ref": "#/definitions/skills"
		                }
		            }
		        }
		    },
		    "delete": {
		        "operationId": "skills_Delete",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/skillsNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Deletes the skills resource."
		            }
		        }
		    },
		    "patch": {
		        "operationId": "skills_Update",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/skillsNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }, {
		                "name": "skills",
		                "in": "body",
		                "required": true,
		                "schema": {
		                    "$ref": "#/definitions/skillsPatch"
		                }
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Updates the skills resource.",
		                "schema": {
		                    "$ref": "#/definitions/skills"
		                }
		            },
		            "201": {
		                "description": "Updates the skills resource.",
		                "schema": {
		                    "$ref": "#/definitions/skills"
		                }
		            }
		        }
		    }
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/skills": {
		    "get": {
		        "operationId": "skills_ListByResourceGroup",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Lists all skills under the resouce group.",
		                "schema": {
		                    "$ref": "#/definitions/skillsListResult"
		                }
		            }
		        },
		        "x-ms-pageable": {
		            "nextLinkName": "nextLink"
		        }
		    }
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/skills": {
		    "get": {
		        "operationId": "skills_ListBySubscription",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Lists all skills under the subscription.",
		                "schema": {
		                    "$ref": "#/definitions/skillsListResult"
		                }
		            }
		        },
		        "x-ms-pageable": {
		            "nextLinkName": "nextLink"
		        }
		    }
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/solutions/{solutionsName}": {
		    "get": {
		        "operationId": "solutions_Retrieve",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/solutionsNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Retrieves the solutions resource.",
		                "schema": {
		                    "$ref": "#/definitions/solutions"
		                }
		            }
		        }
		    },
		    "put": {
		        "operationId": "solutions_CreateOrUpdate",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/solutionsNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }, {
		                "name": "solutions",
		                "in": "body",
		                "required": true,
		                "schema": {
		                    "$ref": "#/definitions/solutions"
		                }
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Updates the solutions resource.",
		                "schema": {
		                    "$ref": "#/definitions/solutions"
		                }
		            },
		            "201": {
		                "description": "Creates the solutions resource.",
		                "schema": {
		                    "$ref": "#/definitions/solutions"
		                }
		            }
		        }
		    },
		    "delete": {
		        "operationId": "solutions_Delete",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/solutionsNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Deletes the solutions resource."
		            }
		        }
		    },
		    "patch": {
		        "operationId": "solutions_Update",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/solutionsNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }, {
		                "name": "solutions",
		                "in": "body",
		                "required": true,
		                "schema": {
		                    "$ref": "#/definitions/solutionsPatch"
		                }
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Updates the solutions resource.",
		                "schema": {
		                    "$ref": "#/definitions/solutions"
		                }
		            },
		            "201": {
		                "description": "Updates the solutions resource.",
		                "schema": {
		                    "$ref": "#/definitions/solutions"
		                }
		            }
		        }
		    }
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/solutions": {
		    "get": {
		        "operationId": "solutions_ListByResourceGroup",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Lists all solutions under the resouce group.",
		                "schema": {
		                    "$ref": "#/definitions/solutionsListResult"
		                }
		            }
		        },
		        "x-ms-pageable": {
		            "nextLinkName": "nextLink"
		        }
		    }
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/solutions": {
		    "get": {
		        "operationId": "solutions_ListBySubscription",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Lists all solutions under the subscription.",
		                "schema": {
		                    "$ref": "#/definitions/solutionsListResult"
		                }
		            }
		        },
		        "x-ms-pageable": {
		            "nextLinkName": "nextLink"
		        }
		    }
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/instances/{instancesName}": {
		    "get": {
		        "operationId": "instances_Retrieve",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/instancesNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Retrieves the instances resource.",
		                "schema": {
		                    "$ref": "#/definitions/instances"
		                }
		            }
		        }
		    },
		    "put": {
		        "operationId": "instances_CreateOrUpdate",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/instancesNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }, {
		                "name": "instances",
		                "in": "body",
		                "required": true,
		                "schema": {
		                    "$ref": "#/definitions/instances"
		                }
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Updates the instances resource.",
		                "schema": {
		                    "$ref": "#/definitions/instances"
		                }
		            },
		            "201": {
		                "description": "Creates the instances resource.",
		                "schema": {
		                    "$ref": "#/definitions/instances"
		                }
		            }
		        }
		    },
		    "delete": {
		        "operationId": "instances_Delete",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/instancesNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Deletes the instances resource."
		            }
		        }
		    },
		    "patch": {
		        "operationId": "instances_Update",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/instancesNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }, {
		                "name": "instances",
		                "in": "body",
		                "required": true,
		                "schema": {
		                    "$ref": "#/definitions/instancesPatch"
		                }
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Updates the instances resource.",
		                "schema": {
		                    "$ref": "#/definitions/instances"
		                }
		            },
		            "201": {
		                "description": "Updates the instances resource.",
		                "schema": {
		                    "$ref": "#/definitions/instances"
		                }
		            }
		        }
		    }
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePercept/instances": {
		    "get": {
		        "operationId": "instances_ListByResourceGroup",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ResourceGroupNameParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Lists all instances under the resouce group.",
		                "schema": {
		                    "$ref": "#/definitions/instancesListResult"
		                }
		            }
		        },
		        "x-ms-pageable": {
		            "nextLinkName": "nextLink"
		        }
		    }
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.AzurePercept/instances": {
		    "get": {
		        "operationId": "instances_ListBySubscription",
		        "parameters": [{
		                "$ref": "#/parameters/SubscriptionIdParameter"
		            }, {
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Lists all instances under the subscription.",
		                "schema": {
		                    "$ref": "#/definitions/instancesListResult"
		                }
		            }
		        },
		        "x-ms-pageable": {
		            "nextLinkName": "nextLink"
		        }
		    }
		},
		"/providers/Microsoft.AzurePercept/operations": {
		    "get": {
		        "operationId": "Operations_List",
		        "parameters": [{
		                "$ref": "#/parameters/ApiVersionParameter"
		            }
		        ],
		        "responses": {
		            "200": {
		                "description": "Describe the result of a successful operation.",
		                "schema": {
		                    "$ref": "#/definitions/ResourceProviderOperationList"
		                }
		            }
		        },
		        "x-ms-pageable": {
		            "nextLinkName": "nextLink"
		        }
		    }
		}
		},
    "definitions": {
        "SolutioninstancesArcProperties": {
            "type": "object",
            "properties": {
                "solution": {
                    "type": "string",
                    "description": "Solution is an example field of SolutioninstancesArc. Edit solutioninstancesarc_types.go to remove/update"
                },
                "target": {
                    "type": "string",
                    "description": "Target is an example field of SolutioninstancesArc. Edit solutioninstancesarc_types.go to remove/update"
                },
                "provisioningState": {
                    "type": "string"
                },
                "status": {
                    "type": "object",
                    "description": "SolutioninstancesArcStatus defines the observed state of SolutioninstancesArc"
                }
            },
            "description": "SolutioninstancesArcSpec defines the desired state of SolutioninstancesArc"
        },
        "SolutioninstancesArc": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/SolutioninstancesArcProperties"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Type"
                },
                "location": {
                    "type": "string",
                    "description": "The resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            },
            "required": [
                "location"
            ],
            "description": "The SolutioninstancesArc resource definition."
        },
        "SolutioninstancesArcPatch": {
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "description": "The SolutioninstancesArc resource patch definition."
        },
        "SolutioninstancesArcListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SolutioninstancesArc"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        },
        "devicesProperties": {
            "type": "object",
            "properties": {
                "bindings": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "config": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            },
                            "provider": {
                                "type": "string"
                            },
                            "role": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "provider",
                            "role"
                        ]
                    }
                },
                "displayName": {
                    "type": "string",
                    "description": "INSERT ADDITIONAL SPEC FIELDS - desired state of cluster Important: Run \"make\" to regenerate code after modifying this file"
                },
                "settings": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "provisioningState": {
                    "type": "string"
                },
                "status": {
                    "type": "object",
                    "properties": {
                        "properties": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "description": "Device properties"
                        }
                    },
                    "description": "DeviceStatus defines the observed state of Device"
                }
            },
            "description": "DeviceSpec defines the desired state of Device"
        },
        "devices": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/devicesProperties"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Type"
                },
                "location": {
                    "type": "string",
                    "description": "The resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            },
            "required": [
                "location"
            ],
            "description": "The devices resource definition."
        },
        "devicesPatch": {
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "description": "The devices resource patch definition."
        },
        "devicesListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/devices"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        },
        "targetsProperties": {
            "type": "object",
            "properties": {
                "components": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "constraints": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "key": {
                                            "type": "string"
                                        },
                                        "operator": {
                                            "type": "string"
                                        },
                                        "qualifier": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        },
                                        "values": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "key"
                                    ],
                                    "description": "NOTE: json tags are required.  Any new fields you add must have json tags for the fields to be serialized."
                                }
                            },
                            "name": {
                                "type": "string"
                            },
                            "properties": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            },
                            "routes": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "filters": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "direction": {
                                                        "type": "string"
                                                    },
                                                    "parameters": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "direction",
                                                    "type"
                                                ]
                                            }
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "route": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "route"
                                    ]
                                }
                            }
                        },
                        "required": [
                            "name"
                        ]
                    }
                },
                "constraints": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "key": {
                                "type": "string"
                            },
                            "operator": {
                                "type": "string"
                            },
                            "qualifier": {
                                "type": "string"
                            },
                            "value": {
                                "type": "string"
                            },
                            "values": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        },
                        "required": [
                            "key"
                        ],
                        "description": "NOTE: json tags are required.  Any new fields you add must have json tags for the fields to be serialized."
                    }
                },
                "displayName": {
                    "type": "string"
                },
                "metadata": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "settings": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "topologies": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "bindings": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "config": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "provider": {
                                            "type": "string"
                                        },
                                        "role": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "provider",
                                        "role"
                                    ]
                                }
                            },
                            "device": {
                                "type": "string"
                            },
                            "selector": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "provisioningState": {
                    "type": "string"
                },
                "status": {
                    "type": "object",
                    "properties": {
                        "properties": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "description": "Important: Run \"make\" to regenerate code after modifying this file"
                        }
                    },
                    "description": "TargetStatus defines the observed state of Target"
                }
            },
            "description": "TargetSpec defines the desired state of Target"
        },
        "targets": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/targetsProperties"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Type"
                },
                "location": {
                    "type": "string",
                    "description": "The resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            },
            "required": [
                "location"
            ],
            "description": "The targets resource definition."
        },
        "targetsPatch": {
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "description": "The targets resource patch definition."
        },
        "targetsListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/targets"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        }, "modelsProperties": {
            "type": "object",
            "properties": {
                "bindings": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "parameters": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            },
                            "role": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "role",
                            "type"
                        ]
                    }
                },
                "constraints": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "operator": {
                                "type": "string"
                            },
                            "value": {
                                "type": "string"
                            },
                            "values": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        },
                        "required": [
                            "operator"
                        ],
                        "description": "NOTE: json tags are required.  Any new fields you add must have json tags for the fields to be serialized."
                    }
                },
                "displayName": {
                    "type": "string",
                    "description": "INSERT ADDITIONAL SPEC FIELDS - desired state of cluster Important: Run \"make\" to regenerate code after modifying this file"
                },
                "properties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "routes": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "filters": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "direction": {
                                            "type": "string"
                                        },
                                        "parameters": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "direction",
                                        "type"
                                    ]
                                }
                            },
                            "metadata": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            },
                            "route": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "route",
                            "type"
                        ]
                    }
                },
                "provisioningState": {
                    "type": "string"
                },
                "status": {
                    "type": "object",
                    "properties": {
                        "properties": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "description": "Important: Run \"make\" to regenerate code after modifying this file"
                        }
                    },
                    "description": "ModelStatus defines the observed state of Model"
                }
            },
            "description": "ModelSpec defines the desired state of Model"
        },
        "models": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/modelsProperties"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Type"
                },
                "location": {
                    "type": "string",
                    "description": "The resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            },
            "required": [
                "location"
            ],
            "description": "The models resource definition."
        },
        "modelsPatch": {
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "description": "The models resource patch definition."
        },
        "modelsListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        },
        "skillsProperties": {
            "type": "object",
            "properties": {
                "bindings": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "parameters": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            },
                            "role": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "role",
                            "type"
                        ]
                    }
                },
                "displayName": {
                    "type": "string"
                },
                "edges": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "source": {
                                "type": "object",
                                "properties": {
                                    "node": {
                                        "type": "string"
                                    },
                                    "route": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "node",
                                    "route"
                                ]
                            },
                            "target": {
                                "type": "object",
                                "properties": {
                                    "node": {
                                        "type": "string"
                                    },
                                    "route": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "node",
                                    "route"
                                ]
                            }
                        },
                        "required": [
                            "source",
                            "target"
                        ]
                    }
                },
                "nodes": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "configurations": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            },
                            "id": {
                                "type": "string"
                            },
                            "inputs": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "filters": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "direction": {
                                                        "type": "string"
                                                    },
                                                    "parameters": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "direction",
                                                    "type"
                                                ]
                                            }
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "route": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "route",
                                        "type"
                                    ]
                                }
                            },
                            "name": {
                                "type": "string"
                            },
                            "outputs": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "filters": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "direction": {
                                                        "type": "string"
                                                    },
                                                    "parameters": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "direction",
                                                    "type"
                                                ]
                                            }
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "route": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "route",
                                        "type"
                                    ]
                                }
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "id",
                            "name",
                            "type"
                        ]
                    }
                },
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "properties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "provisioningState": {
                    "type": "string"
                },
                "status": {
                    "type": "object",
                    "properties": {
                        "properties": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "description": "INSERT ADDITIONAL STATUS FIELD - define observed state of cluster"
                        }
                    },
                    "description": "SkillStatus defines the observed state of Skill"
                }
            },
            "required": [
                "edges",
                "nodes"
            ],
            "description": "SkillSpec defines the desired state of Skill"
        },
        "skills": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/skillsProperties"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Type"
                },
                "location": {
                    "type": "string",
                    "description": "The resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            },
            "required": [
                "location"
            ],
            "description": "The skills resource definition."
        },
        "skillsPatch": {
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "description": "The skills resource patch definition."
        },
        "skillsListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/skills"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        },
        "solutionsProperties": {
            "type": "object",
            "properties": {
                "components": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "constraints": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "key": {
                                            "type": "string"
                                        },
                                        "operator": {
                                            "type": "string"
                                        },
                                        "qualifier": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        },
                                        "values": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "key"
                                    ]
                                }
                            },
                            "name": {
                                "type": "string"
                            },
                            "properties": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            },
                            "routes": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "filters": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "direction": {
                                                        "type": "string"
                                                    },
                                                    "parameters": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "direction",
                                                    "type"
                                                ]
                                            }
                                        },
                                        "properties": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "route": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "route",
                                        "type"
                                    ]
                                }
                            }
                        },
                        "required": [
                            "name"
                        ]
                    }
                },
                "displayName": {
                    "type": "string",
                    "description": "Important: Run \"make\" to regenerate code after modifying this file"
                },
                "metadata": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "provisioningState": {
                    "type": "string"
                },
                "status": {
                    "type": "object",
                    "properties": {
                        "properties": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "description": "Important: Run \"make\" to regenerate code after modifying this file"
                        }
                    },
                    "description": "SolutionStatus defines the observed state of Solution"
                }
            },
            "description": "SolutionSpec defines the desired state of Solution"
        },
        "solutions": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/solutionsProperties"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Type"
                },
                "location": {
                    "type": "string",
                    "description": "The resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            },
            "required": [
                "location"
            ],
            "description": "The solutions resource definition."
        },
        "solutionsPatch": {
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "description": "The solutions resource patch definition."
        },
        "solutionsListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/solutions"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        },
        "instancesProperties": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "metadata": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Important: Run \"make\" to regenerate code after modifying this file"
                },
                "solution": {
                    "type": "string"
                },
                "target": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "selector": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                },
                "topologies": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "bindings": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "config": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "provider": {
                                            "type": "string"
                                        },
                                        "role": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "provider",
                                        "role"
                                    ]
                                }
                            },
                            "device": {
                                "type": "string"
                            },
                            "selector": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "provisioningState": {
                    "type": "string"
                },
                "status": {
                    "type": "object",
                    "properties": {
                        "properties": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "description": "Important: Run \"make\" to regenerate code after modifying this file"
                        }
                    },
                    "description": "InstanceStatus defines the observed state of Instance"
                }
            },
            "required": [
                "solution"
            ],
            "description": "InstanceSpec defines the desired state of Instance"
        },
        "instances": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/instancesProperties"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Type"
                },
                "location": {
                    "type": "string",
                    "description": "The resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            },
            "required": [
                "location"
            ],
            "description": "The instances resource definition."
        },
        "instancesPatch": {
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "description": "The instances resource patch definition."
        },
        "instancesListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/instances"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        },
        "ResourceProviderOperationList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ResourceProviderOperation"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            },
            "description": "Results of the request to list operations."
        },
        "ResourceProviderOperation": {
            "type": "object",
            "properties": {
                "isDataAction": {
                    "type": "string",
                    "description": "Indicates whether the operation applies to data-plane."
                },
                "name": {
                    "type": "string",
                    "description": "Operation name, in format of {provider}/{resource}/{operation}"
                },
                "display": {
                    "type": "object",
                    "properties": {
                        "provider": {
                            "type": "string",
                            "description": "The resource provider."
                        },
                        "resource": {
                            "type": "string",
                            "description": "Resource on which the operation is performed."
                        },
                        "operation": {
                            "type": "string",
                            "description": "Type of operation: get, read, delete, etc."
                        },
                        "description": {
                            "type": "string",
                            "description": "Description of this operation."
                        }
                    },
[...]
