{
  "swagger": "2.0",
  "info": {
    "title": "Redoak Platform Management Service APIs",
    "description": "Redoak Platform Management Rest API spec.",
    "version": "2022-11-28-preview"
  },
  "host": "management.azure.com",
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.redoak/redoakPlatformServices/{resourceName}": {
      "get": {
        "tags": [
          "UserRPRedoakResource"
        ],
        "description": "Returns Redoak resource for a given name.",
        "operationId": "RedoakPlatformServices_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RedoakPlatformService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedOak_Get_MaximumSet_Gen": {
            "$ref": "./examples/RedOak_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "UserRPRedoakResource"
        ],
        "description": "Method that gets called if subscribed for ResourceCreationBegin trigger.",
        "operationId": "RedoakPlatformServices_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body.",
            "schema": {
              "description": "Request body.",
              "$ref": "#/definitions/RedoakPlatformService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Redoak resource created.",
            "schema": {
              "$ref": "#/definitions/RedoakPlatformService"
            }
          },
          "201": {
            "description": "The Redoak resource will be created asynchronously",
            "schema": {
              "$ref": "#/definitions/RedoakPlatformService"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Confidential Ledger could not be created/updated)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedOak_Create_MaximumSet_Gen": {
            "$ref": "./examples/RedOak_Create_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "RedoakPlatformServices_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RedoakResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the Redoak resource.",
            "schema": {
              "$ref": "#/definitions/RedoakPlatformService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedOak_Update_MaximumSet_Gen": {
            "$ref": "./examples/RedOak_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "description": "Deletes Redoak resource",
        "operationId": "RedoakPlatformServices_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "The Redoak resource will be deleted asynchronously"
          },
          "204": {
            "description": "Returned when the operation returns no content."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RedOak_Delete_MaximumSet_Gen": {
            "$ref": "./examples/RedOak_Delete_MaximumSet_Gen.json"
          },
          "RedOak_Delete_MinimumSet_Gen": {
            "$ref": "./examples/RedOak_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RedoakResourceUpdate": {
      "description": "The resource model definition used for updating a tracked ARM resource.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RedoakPlatformServiceProperties": {
      "type": "object",
      "properties": {
        "dnsName": {
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "authAppId": {
          "type": "string",
          "readOnly": false
        }
      }
    },
    "RedoakPlatformService": {
      "required": [
        "location"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RedoakPlatformServiceProperties"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "description": "Geo-location where the resource lives.",
          "type": "string"
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The type of identity used for the resource."
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "resourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The resource name."
    }
  }
}
