{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.VoiceServices",
    "version": "2022-09-09-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "TestLines"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "VoiceBridges"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.VoiceServices/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VoiceServices/voiceBridges": {
      "get": {
        "tags": [
          "VoiceBridges"
        ],
        "operationId": "VoiceBridges_ListBySubscription",
        "description": "List VoiceBridge resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VoiceBridgeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListVoiceBridgeResourceSub": {
            "$ref": "./examples/VoiceBridges_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VoiceServices/voiceBridges/{voiceBridgeName}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_ListBySubscription",
        "description": "List Contact resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContactListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListContactsResourceSub": {
            "$ref": "./examples/Contacts_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VoiceServices/voiceBridges/{voiceBridgeName}/testLines": {
      "get": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_ListBySubscription",
        "description": "List TestLine resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListTestLineResourceSub": {
            "$ref": "./examples/TestLines_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/voiceBridges": {
      "get": {
        "tags": [
          "VoiceBridges"
        ],
        "operationId": "VoiceBridges_ListByResourceGroup",
        "description": "List VoiceBridge resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VoiceBridgeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListVoiceBridgeResource": {
            "$ref": "./examples/VoiceBridges_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/voiceBridges/{voiceBridgeName}": {
      "get": {
        "tags": [
          "VoiceBridges"
        ],
        "operationId": "VoiceBridges_Get",
        "description": "Get a VoiceBridge",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VoiceBridge"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetVoiceBridgeResource": {
            "$ref": "./examples/VoiceBridges_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "VoiceBridges"
        ],
        "operationId": "VoiceBridges_CreateOrUpdate",
        "description": "Create a VoiceBridge",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/VoiceBridge"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VoiceBridge"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/VoiceBridge"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateVoiceBridgeResource": {
            "$ref": "./examples/VoiceBridges_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "VoiceBridges"
        ],
        "operationId": "VoiceBridges_Update",
        "description": "Update a VoiceBridge",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/VoiceBridgeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VoiceBridge"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateVoiceBridgeResource": {
            "$ref": "./examples/VoiceBridges_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "VoiceBridges"
        ],
        "operationId": "VoiceBridges_Delete",
        "description": "Delete a VoiceBridge",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteVoiceBridgeResource": {
            "$ref": "./examples/VoiceBridges_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/voiceBridges/{voiceBridgeName}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_ListByVoiceBridge",
        "description": "List Contact resources by VoiceBridge",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContactListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListContactsResource": {
            "$ref": "./examples/Contacts_ListByVoiceBridge.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/voiceBridges/{voiceBridgeName}/contacts/{contactName}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Get",
        "description": "Get a Contact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "$ref": "#/parameters/Contact.contactName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetContactResource": {
            "$ref": "./examples/Contacts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_CreateOrUpdate",
        "description": "Create a Contact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "$ref": "#/parameters/Contact.contactName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateContactResource": {
            "$ref": "./examples/Contacts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Update",
        "description": "Update a Contact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "$ref": "#/parameters/Contact.contactName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ContactUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateContactResource": {
            "$ref": "./examples/Contacts_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Delete",
        "description": "Delete a Contact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "$ref": "#/parameters/Contact.contactName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteContactResource": {
            "$ref": "./examples/Contacts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/voiceBridges/{voiceBridgeName}/testLines": {
      "get": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_ListByVoiceBridge",
        "description": "List TestLine resources by VoiceBridge",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListTestLineResource": {
            "$ref": "./examples/TestLines_ListByVoiceBridge.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/voiceBridges/{voiceBridgeName}/testLines/{testLineName}": {
      "get": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_Get",
        "description": "Get a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "$ref": "#/parameters/TestLine.testLineName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetTestLineResource": {
            "$ref": "./examples/TestLines_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_CreateOrUpdate",
        "description": "Create a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "$ref": "#/parameters/TestLine.testLineName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateTestLineResource": {
            "$ref": "./examples/TestLines_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_Update",
        "description": "Update a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "$ref": "#/parameters/TestLine.testLineName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/TestLineUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateTestLineResource": {
            "$ref": "./examples/TestLines_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_Delete",
        "description": "Delete a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VoiceBridge.voiceBridgeName"
          },
          {
            "$ref": "#/parameters/TestLine.testLineName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteTestLineResource": {
            "$ref": "./examples/TestLines_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Connectivity": {
      "type": "string",
      "description": "How this deployment connects back to the operator network, e.g. MAPS.",
      "enum": [
        "Maps"
      ],
      "x-ms-enum": {
        "name": "Connectivity",
        "modelAsString": false
      }
    },
    "Contact": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContactProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A Contact resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ContactListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contact"
          },
          "x-cadl-name": "Contact[]",
          "description": "The Contact items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<Contact>"
        }
      },
      "description": "The response of a Contact list operation.",
      "required": [
        "value"
      ]
    },
    "ContactProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "contactName": {
          "type": "string",
          "description": "Full name of contact",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "phoneNumber": {
          "type": "string",
          "description": "Telephone number of contact",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "email": {
          "type": "string",
          "description": "Email address of contact",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "role": {
          "type": "string",
          "description": "Job title of contact",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Details of the Contact resource.",
      "required": [
        "contactName",
        "phoneNumber",
        "email",
        "role"
      ]
    },
    "ContactUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ContactUpdateProperties"
        }
      },
      "description": "The type used for update operations of the Contact."
    },
    "ContactUpdateProperties": {
      "type": "object",
      "properties": {},
      "description": "The updatable properties of the Contact."
    },
    "E911Type": {
      "type": "string",
      "description": "The status of the current VoiceBridge resource.",
      "enum": [
        "None",
        "Esrp",
        "Elin"
      ],
      "x-ms-enum": {
        "name": "E911Type",
        "modelAsString": false
      }
    },
    "ServiceRegionProperties": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the region in which the resources needed for Teams Calling will be deployed.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "operatorAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "IP address to use to contact the operator network from this region",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "esrpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "IP address to use to contact the ESRPs from this region",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "The service region configuration needed for Teams Callings.",
      "required": [
        "name",
        "operatorAddresses"
      ]
    },
    "Status": {
      "type": "string",
      "description": "The status of the current VoiceBridge resource.",
      "enum": [
        "New",
        "ChangePending",
        "Complete"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": false
      }
    },
    "TeamsCodecs": {
      "type": "string",
      "description": "The voice codecs expected for communication with Teams.",
      "enum": [
        "PCMA",
        "PCMU",
        "G722",
        "SILK_8",
        "SILK_16"
      ],
      "x-ms-enum": {
        "name": "TeamsCodecs",
        "modelAsString": false
      }
    },
    "TestLine": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TestLineProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A TestLine resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TestLineListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestLine"
          },
          "x-cadl-name": "TestLine[]",
          "description": "The TestLine items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<TestLine>"
        }
      },
      "description": "The response of a TestLine list operation.",
      "required": [
        "value"
      ]
    },
    "TestLineProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "number": {
          "type": "string",
          "description": "The phone number",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "purpose": {
          "$ref": "#/definitions/TestLinePurpose",
          "description": "Purpose of this test line, e.g. automated or manual testing",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Details of the TestLine resource.",
      "required": [
        "number",
        "purpose"
      ]
    },
    "TestLinePurpose": {
      "type": "string",
      "description": "The purpose of the TestLine resource.",
      "enum": [
        "Manual",
        "Automated"
      ],
      "x-ms-enum": {
        "name": "TestLinePurpose",
        "modelAsString": false
      }
    },
    "TestLineUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/TestLineUpdateProperties"
        }
      },
      "description": "The type used for update operations of the TestLine."
    },
    "TestLineUpdateProperties": {
      "type": "object",
      "properties": {},
      "description": "The updatable properties of the TestLine."
    },
    "VoiceBridge": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VoiceBridgeProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A VoiceBridge resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "VoiceBridgeListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VoiceBridge"
          },
          "x-cadl-name": "VoiceBridge[]",
          "description": "The VoiceBridge items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation<VoiceBridge>"
        }
      },
      "description": "The response of a VoiceBridge list operation.",
      "required": [
        "value"
      ]
    },
    "VoiceBridgeProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          },
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The current status of the deployment.",
          "readOnly": true
        },
        "serviceLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceRegionProperties"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-cadl-name": "ServiceRegionProperties[]",
          "description": "The regions in which to deploy the resources needed for Teams Calling",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "How to connect back to the operator network, e.g. MAPS",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "codecs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamsCodecs"
          },
          "x-cadl-name": "TeamsCodecs[]",
          "description": "Voice codecs to support",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "e911Type": {
          "$ref": "#/definitions/E911Type",
          "description": "How to handle 911 calls",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Details of the VoiceBridge resource.",
      "required": [
        "serviceLocations",
        "connectivity",
        "codecs",
        "e911Type"
      ]
    },
    "VoiceBridgeUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/VoiceBridgeUpdateProperties"
        }
      },
      "description": "The type used for update operations of the VoiceBridge."
    },
    "VoiceBridgeUpdateProperties": {
      "type": "object",
      "properties": {},
      "description": "The updatable properties of the VoiceBridge."
    }
  },
  "parameters": {
    "Contact.contactName": {
      "name": "contactName",
      "in": "path",
      "required": true,
      "description": "Unique identifier for this contact",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "TestLine.testLineName": {
      "name": "testLineName",
      "in": "path",
      "required": true,
      "description": "Unique identifier for this test line",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "VoiceBridge.voiceBridgeName": {
      "name": "voiceBridgeName",
      "in": "path",
      "required": true,
      "description": "Unique identifier for this deployment",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
