{
    "swagger": "2.0",
    "info": {
      "title": "IndexManagementClient",
      "version": "2022-06-01-preview",
      "description": "Microsoft.Search resource management API.",
      "x-cadl-generated": [
        {
          "emitter": "@azure-tools/cadl-autorest"
        }
      ]
    },
    "schemes": [
      "https"
    ],
    "host": "management.azure.com",
    "produces": [
      "application/json"
    ],
    "consumes": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "tags": [
      {
        "name": "IndexOperations"
      },
      {
        "name": "Operations"
      }
    ],
    "paths": {
      "/providers/Microsoft.Search/operations": {
        "get": {
          "tags": [
            "Operations"
          ],
          "operationId": "Operations_List",
          "description": "List the operations for the provider",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Search/indexes": {
        "get": {
          "tags": [
            "IndexOperations"
          ],
          "operationId": "IndexOperations_ListBySubscription",
          "description": "List Index resources by subscription ID",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/IndexListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/indexes": {
        "get": {
          "tags": [
            "IndexOperations"
          ],
          "operationId": "IndexOperations_ListByResourceGroup",
          "description": "List Index resources by resource group",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/IndexListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/indexes/{name}": {
        "get": {
          "tags": [
            "IndexOperations"
          ],
          "operationId": "IndexOperations_Get",
          "description": "Get a Index",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/Index.name"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/Index"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "IndexOperations"
          ],
          "operationId": "IndexOperations_CreateOrUpdate",
          "description": "Create a Index",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/Index.name"
            },
            {
              "name": "resource",
              "in": "body",
              "required": true,
              "description": "Resource create parameters.",
              "schema": {
                "$ref": "#/definitions/Index"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/Index"
              }
            },
            "201": {
              "description": "ARM create operation completed successfully.",
              "headers": {
                "Retry-After": {
                  "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "schema": {
                "$ref": "#/definitions/Index"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "x-ms-long-running-operation": true
        },
        "patch": {
          "tags": [
            "IndexOperations"
          ],
          "operationId": "IndexOperations_Update",
          "description": "Update a Index",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/Index.name"
            },
            {
              "name": "properties",
              "in": "body",
              "required": true,
              "description": "The resource properties to be updated.",
              "schema": {
                "$ref": "#/definitions/IndexUpdate"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/Index"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "IndexOperations"
          ],
          "operationId": "IndexOperations_Delete",
          "description": "Delete a Index",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/Index.name"
            }
          ],
          "responses": {
            "200": {
              "description": "Resource deleted successfully."
            },
            "202": {
              "description": "Resource deletion accepted.",
              "headers": {
                "Retry-After": {
                  "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "204": {
              "description": "Resource deleted successfully."
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "x-ms-long-running-operation": true
        }
      }
    },
    "definitions": {
      "AutoPause": {
        "type": "object",
        "properties": {
          "pauseAfter": {
            "type": "string",
            "format": "duration",
            "description": "The interval after which an index is paused if not in use."
          },
          "enabled": {
            "type": "boolean",
            "description": "Flag indicating whether this auto-pause configuration is enabled. Defaults to true."
          }
        },
        "description": "Describes the auto-pause behavior of an index.",
        "required": [
          "pauseAfter"
        ]
      },
      "Capacity": {
        "type": "object",
        "properties": {
          "range": {
            "$ref": "#/definitions/CoreRange",
            "description": "Describes the minimum and maximum vCores that the index can consume."
          },
          "autoPause": {
            "$ref": "#/definitions/AutoPause",
            "description": "Describes the auto-pause behavior of the index. A null value indicates auto-pause is disabled."
          }
        },
        "description": "Describes the capacity of an index."
      },
      "CoreRange": {
        "type": "object",
        "properties": {
          "minCores": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "description": "The minimum number of vCores that can be consumed by an index."
          },
          "maxCores": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "The maximum number of vCores that can be consumed by an index."
          }
        },
        "description": "Describes the minimum and/or maximum cores that can be consumed by an index."
      },
      "Index": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/IndexProperties",
            "description": "The resource-specific properties for this resource.",
            "x-ms-mutability": [
              "read",
              "create"
            ],
            "x-ms-client-flatten": true
          }
        },
        "description": "An index resource.",
        "required": [
          "properties"
        ],
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
          }
        ]
      },
      "IndexListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Index"
            },
            "x-cadl-name": "Index[]",
            "description": "The items on this page"
          },
          "nextLink": {
            "type": "string",
            "description": "The link to the next page of items"
          }
        },
        "description": "The response of a Index list operation.",
        "required": [
          "value"
        ]
      },
      "IndexProperties": {
        "type": "object",
        "properties": {
          "provisioningState": {
            "$ref": "#/definitions/ProvisioningState",
            "description": "The current provisioning state of the index.",
            "readOnly": true
          },
          "operationalState": {
            "$ref": "#/definitions/OperationalState",
            "description": "The current operational state of the index.",
            "readOnly": true
          },
          "endpoint": {
            "type": "string",
            "description": "The endpoint at which the index can be found.",
            "readOnly": true
          },
          "capacity": {
            "$ref": "#/definitions/Capacity",
            "description": "The capacity allocated to the index."
          }
        },
        "description": "The properties of the index."
      },
      "IndexUpdate": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags."
          },
          "properties": {
            "$ref": "#/definitions/IndexUpdateProperties"
          }
        },
        "description": "The type used for update operations of the Index."
      },
      "IndexUpdateProperties": {
        "type": "object",
        "properties": {
          "capacity": {
            "$ref": "#/definitions/Capacity",
            "description": "The capacity allocated to the index."
          }
        },
        "description": "The updatable properties of the Index."
      },
      "OperationalState": {
        "type": "string",
        "description": "The current operational state of the index.",
        "enum": [
          "Running",
          "Pausing",
          "Paused"
        ],
        "x-ms-enum": {
          "name": "OperationalState",
          "modelAsString": true
        }
      },
      "ProvisioningState": {
        "type": "string",
        "description": "The current provisioning state of the Index.",
        "enum": [
          "Accepted",
          "Provisioning",
          "Succeeded",
          "Failed",
          "Canceled",
          "Deleting"
        ],
        "x-ms-enum": {
          "name": "ProvisioningState",
          "modelAsString": true
        }
      }
    },
    "parameters": {
      "Index.name": {
        "name": "name",
        "in": "path",
        "required": true,
        "description": "The name of the index resource.",
        "type": "string",
        "x-ms-parameter-location": "method"
      }
    }
  }
  