{
  "swagger": "2.0",
  "info": {
    "title": "Test Base",
    "description": "Use these REST APIs for Test Base Custom Image controls.",
    "version": "2023-01-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MarcoHuang/testBaseAccounts/{testBaseAccountName}/customImages": {
      "get": {
        "tags": [
          "Test Base Custom Image"
        ],
        "operationId": "CustomImages_ListByTestBaseAccount",
        "description": "Lists all the Custom Images under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/CustomImageListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CustomImagesList": {
            "$ref": "./examples/CustomImagesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MarcoHuang/testBaseAccounts/{testBaseAccountName}/customImages/{customImageName}": {
      "put": {
        "tags": [
          "Test Base Custom Image"
        ],
        "operationId": "CustomImages_Create",
        "description": "Creates a Test Base Custom Image.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImageResource"
            },
            "description": "Parameters supplied to create a Test Base Custom Image."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/CustomImageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Custom Image was successfully created.",
            "schema": {
              "$ref": "#/definitions/CustomImageResource"
            }
          },
          "201": {
            "description": "The Test Base Custom Image 'create' operation was successfully enqueued. Check provisioningState to track execution status.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CustomImageResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomImageCreate": {
            "$ref": "./examples/CustomImageCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Base Custom Image"
        ],
        "operationId": "CustomImages_Delete",
        "description": "Deletes a Test Base Custom Image.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/CustomImageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Custom Image 'delete' operation was completed successfully."
          },
          "202": {
            "description": "The Test Base Custom Image 'delete' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Test Base Custom Image 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomImageDelete": {
            "$ref": "./examples/CustomImageDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Base Custom Image"
        ],
        "operationId": "CustomImages_Get",
        "description": "Gets a Test Base Custom Image.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/CustomImageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Custom Image was successfully found.",
            "schema": {
              "$ref": "#/definitions/CustomImageResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomImageGet": {
            "$ref": "./examples/CustomImageGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MarcoHuang/testBaseAccounts/{testBaseAccountName}/checkImageNameAvailability": {
      "post": {
        "tags": [
          "Test Base Custom Image"
        ],
        "operationId": "CustomImages_CheckImageNameAvailability",
        "description": "Checks that the Test Base Custom Image generated from VHD resource has valid and unique definition and version, return architecture and OS state of potential existing image definition.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageNameCheckAvailabilityParameters"
            },
            "description": "Parameters supplied to the Test Base Custom Image CheckAvailability operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Image definition and version is available.",
            "schema": {
              "$ref": "#/definitions/CheckImageAvailabilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckImageAvailability": {
            "$ref": "./examples/CheckImageNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MarcoHuang/testBaseAccounts/{testBaseAccountName}/listImageDefinitions": {
      "post": {
        "tags": [
          "Test Base Custom Image"
        ],
        "operationId": "CustomImages_ListImageDefinitions",
        "description": "List all Image Definition properties created by Test Base Vhd.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Image Definition existence and get detailed properties if applicable.",
            "schema": {
              "$ref": "#/definitions/ListImageDefinitionsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListImageDefinitions": {
            "$ref": "./examples/ListImageDefinitions.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MarcoHuang/testBaseAccounts/{testBaseAccountName}/getImageDefinition": {
      "post": {
        "tags": [
          "Test Base Custom Image"
        ],
        "operationId": "CustomImages_GetImageDefinition",
        "description": "Get image properties under the Image Definition name created by Test Base Vhd.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetImageDefinitionParameters"
            },
            "description": "Parameters supplied to get the Test Base Custom Image Definition operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the detailed properties of  the Image Definition if applicable.",
            "schema": {
              "$ref": "#/definitions/GetImageDefinitionResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetImageDefinition": {
            "$ref": "./examples/GetImageDefinition.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MarcoHuang/testBaseAccounts/{testBaseAccountName}/vhds": {
      "get": {
        "tags": [
          "Test Base VHD"
        ],
        "operationId": "VHDs_ListByTestBaseAccount",
        "description": "Lists all the VHDs under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/VHDListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VHDsList": {
            "$ref": "./examples/VHDsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MarcoHuang/testBaseAccounts/{testBaseAccountName}/vhds/{vhdName}": {
      "put": {
        "tags": [
          "Test Base VHD"
        ],
        "operationId": "VHDs_Create",
        "description": "Creates a Test Base VHD.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VHDResource"
            },
            "description": "Parameters supplied to create a Test Base VHD."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/VhdNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base VHD was successfully created.",
            "schema": {
              "$ref": "#/definitions/VHDResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VHDCreate": {
            "$ref": "./examples/VHDCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Base VHD"
        ],
        "operationId": "VHDs_Delete",
        "description": "Deletes a Test Base VHD.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/VhdNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base VHD 'delete' operation was completed successfully."
          },
          "204": {
            "description": "The Test Base VHD 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VHDDelete": {
            "$ref": "./examples/VHDDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Base VHD"
        ],
        "operationId": "VHDs_Get",
        "description": "Gets a Test Base VHD.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/VhdNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base VHD was successfully found.",
            "schema": {
              "$ref": "#/definitions/VHDResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VHDGet": {
            "$ref": "./examples/VHDGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CustomImageListResult": {
      "description": "A list of Test Base Custom Images.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomImageResource"
          },
          "description": "The list of Test Base Custom Images."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "CustomImageResource": {
      "description": "The Test Base Custom Image resource.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CustomImageProperties",
          "x-ms-client-flatten": true,
          "description": "Test Base Custom Image properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CustomImageProperties": {
      "description": "The properties of the Test Base Custom Image.",
      "type": "object",
      "properties": {
        "vhdId": {
          "type": "string",
          "description": "The Id of the associated VHD resource."
        },
        "sourceGalleryId": {
          "type": "string",
          "description": "The Id of the Shared Image Gallery where the image registered."
        },
        "definitionName": {
          "type": "string",
          "description": "Image definition name."
        },
        "versionName": {
          "type": "string",
          "description": "Image version name."
        },
        "imageDefinition": {
          "$ref": "#/definitions/ImageDefinition",
          "description": "The image properties under the image definition name."
        },
        "source": {
          "type": "string",
          "description": "Custom image source type.",
          "default": "VHD",
          "enum": [
            "Unknown",
            "VHD"
          ],
          "x-ms-enum": {
            "name": "ImageSource",
            "modelAsString": true
          }
        },
        "product": {
          "type": "string",
          "description": "Product of the custom image.",
          "readOnly": true
        },
        "release": {
          "type": "string",
          "description": "Release of the custom image OS.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of the custom image.",
          "readOnly": true,
          "enum": [
            "Unknown",
            "Ready",
            "Failed",
            "Validating"
          ],
          "x-ms-enum": {
            "name": "ImageStatus",
            "modelAsString": true
          }
        },
        "validationResult": {
          "$ref": "#/definitions/ImageValidationResult",
          "description": "The validation result of the image.",
          "readOnly": true
        },
        "osDiskImageSizeInGB": {
          "type": "integer",
          "format": "int64",
          "readOnly": true,
          "description": "This property indicates the size of the VHD to be created."
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      },
      "required": [
        "definitionName",
        "versionName",
        "source",
        "imageDefinition"
      ]
    },
    "ImageDefinition": {
      "description": "The image properties under the image definition name.",
      "type": "object",
      "properties": {
        "architecture": {
          "description": "Custom image architecture.",
          "type": "string",
          "enum": [
            "x64"
          ],
          "x-ms-enum": {
            "name": "ImageArchitecture",
            "modelAsString": true
          }
        },
        "osState": {
          "description": "Custom image OS state.",
          "type": "string",
          "enum": [
            "Generalized",
            "Specialized"
          ],
          "x-ms-enum": {
            "name": "ImageOsState",
            "modelAsString": true
          }
        },
        "securityType": {
          "description": "Custom image security type.",
          "type": "string",
          "enum": [
            "Standard",
            "TrustedLaunch"
          ],
          "x-ms-enum": {
            "name": "ImageSecurityType",
            "modelAsString": true
          }
        }
      },
      "required": [
        "architecture",
        "osState",
        "securityType"
      ]
    },
    "ImageValidationResult": {
      "description": "The Test Base Custom Image validation result properties.",
      "type": "object",
      "properties": {
        "bootable": {
          "$ref": "#/definitions/VerificationResult",
          "description": "Indicates if VM can boot with the image."
        },
        "supportedProduct": {
          "$ref": "#/definitions/VerificationResult",
          "description": "Indicates if the product of the image is available for Test Base."
        },
        "autoLogonEnabled": {
          "$ref": "#/definitions/VerificationResult",
          "description": "Indicates if the image supports auto-logon."
        },
        "vmAgentInstalled": {
          "$ref": "#/definitions/VerificationResult",
          "description": "Indicates if the image installed VM agent."
        },
        "testRunTime": {
          "type": "string",
          "format": "date-time",
          "description": "Validation run execution time stamp."
        }
      }
    },
    "VerificationResult": {
      "description": "The detailed result of a validation or rule checking.",
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "enum": [
            "Passed",
            "Failed"
          ],
          "description": "Indicates if the validation or rule checking is passed.",
          "x-ms-enum": {
            "name": "ImageStatus",
            "modelAsString": true
          }
        },
        "message": {
          "type": "string",
          "description": "Message for clarification."
        }
      }
    },
    "ImageNameCheckAvailabilityParameters": {
      "description": "Parameter body to request Test Base Custom Image availability.",
      "type": "object",
      "properties": {
        "definitionName": {
          "type": "string",
          "description": "Image definition name."
        },
        "versionName": {
          "type": "string",
          "description": "Image version name."
        }
      },
      "required": [
        "definitionName",
        "versionName"
      ]
    },
    "CheckImageAvailabilityResult": {
      "$ref": "#/definitions/VerificationResult",
      "description": "The image availability result."
    },
    "GetImageDefinitionParameters": {
      "description": "Parameters supplied to get the Test Base Custom Image Definition operation.",
      "type": "object",
      "properties": {
        "definitionName": {
          "type": "string",
          "description": "Image definition name."
        }
      }
    },
    "ListImageDefinitionsResult": {
      "description": "The result of all available image definition under a test base account.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageDefinition"
          },
          "description": "The list of image definitions."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "GetImageDefinitionResult": {
      "description": "The properties of image definition if applicable, return empty result when it's nonexisting.",
      "type": "object",
      "properties": {
        "imageDefinition": {
          "$ref": "#/definitions/ImageDefinition",
          "description": "The image properties under the same image definition name"
        }
      }
    },
    "VHDListResult": {
      "description": "A list of VHD resource.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VHDResource"
          },
          "description": "The list of Test Base VHDs."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "VHDResource": {
      "description": "The Test Base VHD resource.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VHDProperties",
          "x-ms-client-flatten": true,
          "description": "The Test Base VHD validation result properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VHDProperties": {
      "description": "The Test Base VHD properties",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "The relative path of the VHD file."
        },
        "fileName": {
          "type": "string",
          "description": "The VHD file name."
        },
        "fileSizeInGB": {
          "type": "integer",
          "format": "int64",
          "readOnly": true,
          "description": "The file size of the VHD file."
        },
        "status": {
          "type": "string",
          "description": "The status of the VHD.",
          "readOnly": true,
          "enum": [
            "Unknown",
            "Ready",
            "Failed",
            "Verifying",
            "Occupied"
          ],
          "x-ms-enum": {
            "name": "ImageStatus",
            "modelAsString": true
          }
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      },
      "required": [
        "path",
        "fileName"
      ]
    }
  },
  "parameters": {
    "CustomImageNameParameter": {
      "name": "customImageName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The resource name of the Test Base Custom Image."
    },
    "VhdNameParameter": {
      "name": "vhdName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The resource name of the Test Base VHD."
    }
  }
}
