{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PlayFab",
    "version": "2021-12-08-alpha"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "PlayerAccountPools"
    },
    {
      "name": "Titles"
    },
    {
      "name": "CloudScripts"
    },
    {
      "name": "Segments"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.PlayFab/operations": {
      "get": {
        "operationId": "Operations_List",
        "summary": "List the operations for Microsoft.PlayFab",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab/playerAccountPools": {
      "get": {
        "operationId": "PlayerAccountPools_ListBySubscription",
        "summary": "List PlayerAccountPool resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PlayerAccountPools_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_ListBySubscription_MaximumSet_Gen.json"
          },
          "PlayerAccountPools_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab/titles": {
      "get": {
        "operationId": "Titles_ListBySubscription",
        "summary": "List Title resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Titles_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Titles_ListBySubscription_MaximumSet_Gen.json"
          },
          "Titles_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Titles_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/playerAccountPools": {
      "get": {
        "operationId": "PlayerAccountPools_ListByResourceGroup",
        "summary": "List PlayerAccountPool resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PlayerAccountPools_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "PlayerAccountPools_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/playerAccountPools/{playerAccountPoolName}": {
      "put": {
        "operationId": "PlayerAccountPools_CreateOrUpdate",
        "summary": "Create or update a Player Account Pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Create or update resource parameters.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "PlayerAccountPools_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "operationId": "PlayerAccountPools_Get",
        "summary": "Get a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Get_MaximumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_Get_MaximumSet_Gen.json"
          },
          "PlayerAccountPools_Get_MinimumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "PlayerAccountPools_Update",
        "summary": "Update a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlayerAccountPool"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Update_MaximumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_Update_MaximumSet_Gen.json"
          },
          "PlayerAccountPools_Update_MinimumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "PlayerAccountPools_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "summary": "Delete a PlayerAccountPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlayerAccountPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PlayerAccountPools"
        ],
        "x-ms-examples": {
          "PlayerAccountPools_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_Delete_MaximumSet_Gen.json"
          },
          "PlayerAccountPools_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PlayerAccountPools_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles": {
      "get": {
        "operationId": "Titles_ListByResourceGroup",
        "summary": "List Title resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TitleListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Titles_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Titles_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Titles_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Titles_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}": {
      "put": {
        "operationId": "Titles_CreateOrUpdate",
        "summary": "Create or update a Title Resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Create or update resource parameters.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Titles_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Titles_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Titles_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Titles_Update",
        "summary": "Update a Title Resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TitleResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Update_MaximumSet_Gen": {
            "$ref": "./examples/Titles_Update_MaximumSet_Gen.json"
          },
          "Titles_Update_MinimumSet_Gen": {
            "$ref": "./examples/Titles_Update_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "operationId": "Titles_Get",
        "summary": "Get a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Title"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Get_MaximumSet_Gen": {
            "$ref": "./examples/Titles_Get_MaximumSet_Gen.json"
          },
          "Titles_Get_MinimumSet_Gen": {
            "$ref": "./examples/Titles_Get_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Titles_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "summary": "Delete a Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Titles"
        ],
        "x-ms-examples": {
          "Titles_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Titles_Delete_MaximumSet_Gen.json"
          },
          "Titles_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Titles_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}/cloudscripts/{cloudScriptName}": {
      "get": {
        "operationId": "CloudScripts_Get",
        "summary": "Get a CloudScript",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/CloudScriptNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudScript"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CloudScripts"
        ],
        "x-ms-examples": {
          "CloudScripts_Get_MaximumSet_Gen": {
            "$ref": "./examples/CloudScripts_Get_MaximumSet_Gen.json"
          },
          "CloudScripts_Get_MinimumSet_Gen": {
            "$ref": "./examples/CloudScripts_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "CloudScripts_CreateOrUpdate",
        "summary": "Create a CloudScript",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/CloudScriptNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/CloudScript"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudScript"
            }
          },
          "201": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudScript"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CloudScripts"
        ],
        "x-ms-examples": {
          "CloudScripts_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/CloudScripts_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "CloudScripts_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/CloudScripts_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "CloudScripts_Delete",
        "summary": "Delete a CloudScript",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/CloudScriptNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted."
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CloudScripts"
        ],
        "x-ms-examples": {
          "CloudScripts_Delete_MaximumSet_Gen": {
            "$ref": "./examples/CloudScripts_Delete_MaximumSet_Gen.json"
          },
          "CloudScripts_Delete_MinimumSet_Gen": {
            "$ref": "./examples/CloudScripts_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}/cloudscripts": {
      "get": {
        "operationId": "Cloudscripts_ListByTitle",
        "summary": "List Cloudscript resources by Title",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudscriptListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CloudScripts"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Cloudscripts_ListByTitle_MaximumSet_Gen": {
            "$ref": "./examples/Cloudscripts_ListByTitle_MaximumSet_Gen.json"
          },
          "Cloudscripts_ListByTitle_MinimumSet_Gen": {
            "$ref": "./examples/Cloudscripts_ListByTitle_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}/segments": {
      "get": {
        "operationId": "Segments_List",
        "summary": "List all Segment by titleName",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SegmentListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Segments_List_MaximumSet_Gen": {
            "$ref": "./examples/Segments_List_MaximumSet_Gen.json"
          },
          "Segments_List_MinimumSet_Gen": {
            "$ref": "./examples/Segments_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab/titles/{titleName}/segments/{segmentName}": {
      "put": {
        "operationId": "Segments_CreateOrUpdate",
        "summary": "Create or update a Title Segment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/SegmentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Create or update resource parameters.",
            "schema": {
              "$ref": "#/definitions/Segment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Segment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "x-ms-examples": {
          "Segments_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Segments_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Segments_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Segments_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Segments_Delete",
        "summary": "Delete a Title Segment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/SegmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "x-ms-examples": {
          "Segments_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Segments_Delete_MaximumSet_Gen.json"
          },
          "Segments_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Segments_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "operationId": "Segments_Get",
        "summary": "Get a Segment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TitleNameParameter"
          },
          {
            "$ref": "#/parameters/SegmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Segment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "x-ms-examples": {
          "Segments_Get_MaximumSet_Gen": {
            "$ref": "./examples/Segments_Get_MaximumSet_Gen.json"
          },
          "Segments_Get_MinimumSet_Gen": {
            "$ref": "./examples/Segments_Get_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApiSettings": {
      "type": "object",
      "properties": {
        "allowClientsToUpdatePlayerStatistics": {
          "type": "boolean",
          "description": "Setting to enable API allowing client to update user statistics."
        }
      },
      "description": "Title API Settings"
    },
    "Azure.ARM.ManagedSystemIdentityProperties": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ARM.ManagedSystemIdentityType",
          "description": "The type of managed identity assigned to this resource."
        }
      },
      "description": "The properties of the service-assigned identity associated with this resource/",
      "required": [
        "type"
      ]
    },
    "Azure.ARM.ManagedSystemIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedSystemIdentityType",
        "modelAsString": true
      }
    },
    "Comparison": {
      "type": "string",
      "enum": [
        "Greater",
        "Less",
        "Equals",
        "NotEquals",
        "GreaterOrEquals",
        "LessOrEquals",
        "Contains",
        "NotContains",
        "Ignore",
        "Exists"
      ],
      "x-ms-enum": {
        "name": "Comparison",
        "modelAsString": true
      }
    },
    "GeneralSettings": {
      "type": "object",
      "properties": {
        "allowNonUniquePlayerDisplayNames": {
          "type": "boolean",
          "description": "Setting to allow non unique player display name."
        },
        "displayNameRandomSuffixLength": {
          "type": "integer",
          "format": "int32",
          "description": "Setting to enable addition of random suffix to player display name and specify it's length"
        }
      },
      "description": "General Title Settings"
    },
    "PlayerAccountPool": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlayerAccountPoolProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "A PlayerAccountPool",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PlayerAccountPoolListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerAccountPool"
          },
          "x-cadl-name": "Microsoft.PlayFab.PlayerAccountPool[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a PlayerAccountPool list operation.",
      "required": [
        "value"
      ]
    },
    "PlayerAccountPoolProperties": {
      "type": "object",
      "properties": {
        "playFabPlayerAccountPoolId": {
          "type": "string",
          "description": "Id of publisher object in PlayFab backend associated to the PlayerAccountPool resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "description": "Properties of PlayAccountPool"
    },
    "PlayerAccountPoolUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "The updatable properties of the PlayerAccountPool."
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Accepted",
        "Creating",
        "Deleting",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "CloudScript": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudScriptProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "CloudScripts.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CloudScriptProperties": {
      "type": "object",
      "properties": {
        "triggerType": {
          "type": "string",
          "enum": [
            "HTTP",
            "Queue"
          ],
          "x-ms-enum": {
            "name": "CloudScriptTriggerType",
            "modelAsString": true
          },
          "description": "Id of title object in PlayFab backend."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state.",
          "readOnly": true
        }
      },
      "description": "CloudScript Properties.",
      "required": [
        "triggerType"
      ],
      "discriminator": "triggerType"
    },
    "CloudScriptHttpFunctionProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CloudScriptProperties"
        },
        {
          "type": "object",
          "properties": {
            "functionUrl": {
              "type": "string",
              "description": "Function URL of HTTP trigger type function."
            }
          }
        }
      ],
      "description": "CloudScriptHttpFunction Properties.",
      "required": [
        "triggerType",
        "functionUrl"
      ],
      "x-ms-discriminator-value": "HTTP"
    },
    "CloudScriptQueuedFunctionProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CloudScriptProperties"
        },
        {
          "type": "object",
          "properties": {
            "queueName": {
              "type": "string",
              "description": "Queue name of Queue trigger type function."
            },
            "connectionString": {
              "type": "string",
              "description": "Connection string of Queue trigger type function."
            }
          }
        }
      ],
      "description": "CloudScriptQueuedFunction Properties.",
      "required": [
        "triggerType",
        "queueName",
        "connectionString"
      ],
      "x-ms-discriminator-value": "Queue"
    },
    "CloudscriptListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudScript"
          },
          "x-cadl-name": "Microsoft.PlayFab.CloudScript[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Cloudscript list operation.",
      "required": [
        "value"
      ]
    },
    "Segment": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SegmentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "The details about Segment.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SegmentProperties": {
      "type": "object",
      "properties": {
        "playFabSegmentId": {
          "type": "string",
          "description": "Id of Segment object in PlayFab backend.",
          "readOnly": true
        },
        "query": {
          "$ref": "#/definitions/SegmentQuery",
          "description": "Query for defining Segment."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "description": "Properties of Segment Resource",
      "required": [
        "query"
      ]
    },
    "SegmentQuery": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SegmentGroup"
          },
          "x-cadl-name": "Microsoft.PlayFab.SegmentGroup[]",
          "description": "Groups in Query for Segment definition",
          "x-ms-identifiers": []
        }
      },
      "description": "Details about Segment Query",
      "required": [
        "groups"
      ]
    },
    "SegmentGroup": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SegmentFilter"
          },
          "x-cadl-name": "Microsoft.PlayFab.SegmentFilter[]",
          "description": "List of Filters for defining groups",
          "x-ms-identifiers": []
        }
      },
      "description": "Details about Segment Group",
      "required": [
        "filters"
      ]
    },
    "SegmentFilter": {
      "type": "object",
      "discriminator": "filterName",
      "properties": {
        "filterName": {
          "type": "string",
          "description": "Name of the Segment filter.",
          "enum": [
            "FirstLogin",
            "LastLogin",
            "FirstLoginDate",
            "LastLoginDate",
            "Location",
            "UserOrigination",
            "Tag",
            "Statistic",
            "AllPlayers"
          ],
          "x-ms-enum": {
            "name": "filterName",
            "modelAsString": true
          }
        }
      },
      "description": "Details about Segment Filter",
      "required": [
        "filterName"
      ]
    },
    "SegmentFilterByFirstLogin": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "FirstLogin",
      "description": "Some description.",
      "properties": {
        "properties": {
          "description": "Some description.",
          "$ref": "#/definitions/SegmentFilterProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterByLastLogin": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "LastLogin",
      "description": "Some description.",
      "properties": {
        "properties": {
          "description": "Some description.",
          "$ref": "#/definitions/SegmentFilterProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterByFirstLoginDate": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "FirstLoginDate",
      "description": "Some description.",
      "properties": {
        "properties": {
          "description": "Some description.",
          "$ref": "#/definitions/SegmentFilterProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterByLastLoginDate": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "LastLoginDate",
      "description": "Some description.",
      "properties": {
        "properties": {
          "description": "Some description.",
          "$ref": "#/definitions/SegmentFilterProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterByLocation": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "Location",
      "description": "Some description.",
      "properties": {
        "properties": {
          "description": "Some description.",
          "$ref": "#/definitions/SegmentFilterProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterByTag": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "Tag",
      "description": "Some description.",
      "properties": {
        "properties": {
          "description": "Some description.",
          "$ref": "#/definitions/SegmentFilterProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterByUserOrigination": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "UserOrigination",
      "description": "Some description.",
      "properties": {
        "properties": {
          "description": "Some description.",
          "$ref": "#/definitions/SegmentFilterProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterByStatistics": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "Statistic",
      "description": "Some description.",
      "properties": {
        "properties": {
          "description": "Some description.",
          "$ref": "#/definitions/SegmentStatisticsFilter",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterByAllPlayers": {
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-discriminator-value": "AllPlayers",
      "description": "Some description.",
      "properties": {
        "properties": {}
      },
      "allOf": [
        {
          "$ref": "#/definitions/SegmentFilter"
        }
      ]
    },
    "SegmentFilterProperties": {
    "type": "object",
    "properties": {
      "comparison": {
          "$ref": "#/definitions/Comparison",
          "description": "Comparator used for the filter."
      },
      "value": {
          "type": "string",
          "description": "Value to be compared"
      }
    },
    "description": "Details about Segment Filter",
    "required": [
      "comparison",
      "value"
    ]
    },
    "SegmentStatisticsFilter": {
    "type": "object",
    "properties": {
    "statisticName": {
      "type": "string",
      "description": "Statistic Filter name"
    },
    "version": {
      "type": "integer",
      "format": "int32",
      "description": "Version of Statistic to be used"
    },
    "useCurrentVersion": {
      "type": "boolean",
      "description": "Use current version of Statistic filter"
    }
  },
  "description": "Details about Segment Statistics Filter",
  "allOf": [
    {
      "$ref": "#/definitions/SegmentFilterProperties"
    }
  ]
    },
    "SegmentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Segment"
          },
          "x-cadl-name": "Microsoft.PlayFab.Segment[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Segment list operation.",
      "required": [
        "value"
      ]
    },
    "Title": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ARM.ManagedSystemIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "description": "Details about Title.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TitleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Title"
          },
          "x-cadl-name": "Microsoft.PlayFab.Title[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Title list operation.",
      "required": [
        "value"
      ]
    },
    "TitleProperties": {
      "type": "object",
      "properties": {
        "playFabTitleId": {
          "type": "string",
          "description": "Id of title object in PlayFab backend.",
          "readOnly": true
        },
        "playerAccountPoolId": {
          "type": "string",
          "description": "Azure resource Id of the PlayerAccountPool resource."
        },
        "settings": {
          "$ref": "#/definitions/TitleSettings",
          "description": "Setting pertaining to a Title"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "description": "Properties of Title Resource",
      "required": [
        "playerAccountPoolId"
      ]
    },
    "TitleResourceUpdate": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ARM.ManagedSystemIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "properties": {
          "$ref": "#/definitions/TitleUpdateProperties",
          "description": "The updatable resource-specific properties for a Title."
        }
      },
      "description": "The Update model for a Title Resource"
    },
    "TitleSettings": {
      "type": "object",
      "properties": {
        "general": {
          "$ref": "#/definitions/GeneralSettings",
          "description": "General Title Settings"
        },
        "api": {
          "$ref": "#/definitions/ApiSettings",
          "description": "Title Api Settings"
        }
      },
      "description": "Title Settings model"
    },
    "TitleUpdateProperties": {
      "type": "object",
      "properties": {
        "settings": {
          "$ref": "#/definitions/TitleSettings",
          "description": "Setting pertaining to a Title"
        }
      },
      "description": "The updatable resource-specific properties for a title"
    }
  },
  "parameters": {
    "PlayerAccountPoolNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "playerAccountPoolName",
      "in": "path",
      "required": true,
      "description": "PlayerAccountPool resource name",
      "type": "string"
    },
    "CloudScriptNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "cloudScriptName",
      "in": "path",
      "required": true,
      "description": "CloudScript name",
      "type": "string"
    },
    "SegmentNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "segmentName",
      "in": "path",
      "required": true,
      "description": "Name of the Segment Parameter.",
      "type": "string"
    },
    "TitleNameParameter": {
      "x-ms-parameter-location": "method",
      "name": "titleName",
      "in": "path",
      "required": true,
      "description": "Name of the Title Parameter.",
      "type": "string"
    }
  }
}