{
  "swagger": "2.0",
  "info": {
    "title": "PlayFab",
    "description": "PlayFab AzureResourceProvider",
    "version": "2021-07-15"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PlayerNamespaces"
    },
    {
      "name": "Titles"
    },
    {
      "name": "Segments"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerNamespaces/{resourceName}": {
      "put": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelPut",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/playerNamespaceResource"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "201": {
            "x-nullable": true,
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlayerNamespace_ResourceGroupLevelPut": {
            "$ref": "../examples/PlayerNamespace_ResourceGroupLevelPut.json"
          }
        }
      },
      "get": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelGet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlayerNamespace_ResourceGroupLevelGet": {
            "$ref": "../examples/PlayerNamespace_ResourceGroupLevelGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelDelete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "202": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "204": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlayerNamespace_ResourceGroupLevelDelete": {
            "$ref": "../examples/PlayerNamespace_ResourceGroupLevelDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelPatch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/playerNamespaceResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfPlayerNamespace"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlayerNamespace_ResourceGroupLevelPatch": {
            "$ref": "../examples/PlayerNamespace_ResourceGroupLevelPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/playerNamespaces": {
      "get": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_ResourceGroupLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/PlayerNamespaceCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlayerNamespace_ResourceGroupLevelList": {
            "$ref": "../examples/PlayerNamespace_ResourceGroupLevelList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/playerNamespaces": {
      "get": {
        "tags": [
          "PlayerNamespaces"
        ],
        "operationId": "PlayerNamespace_SubscriptionLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/PlayerNamespaceCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlayerNamespace_SubscriptionLevelList": {
            "$ref": "../examples/PlayerNamespace_SubscriptionLevelList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{resourceName}": {
      "put": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelPut",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/titleResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "201": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Title_ResourceGroupLevelPut": {
            "$ref": "../examples/Title_ResourceGroupLevelPut.json"
          }
        }
      },
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelGet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Title_ResourceGroupLevelGet": {
            "$ref": "../examples/Title_ResourceGroupLevelGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelDelete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "202": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "204": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Title_ResourceGroupLevelDelete": {
            "$ref": "../examples/Title_ResourceGroupLevelDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelPatch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/titleResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfTitle"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Title_ResourceGroupLevelPatch": {
            "$ref": "../examples/Title_ResourceGroupLevelPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles": {
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_ResourceGroupLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TitleCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Title_ResourceGroupLevelList": {
            "$ref": "../examples/Title_ResourceGroupLevelList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlayFab2/titles": {
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "Title_SubscriptionLevelList",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TitleCollection"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Title_SubscriptionLevelList": {
            "$ref": "../examples/Title_SubscriptionLevelList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlayFab2/titles/{resourceName}/segments/{childResourceName}": {
      "put": {
        "tags": [
          "Segments"
        ],
        "operationId": "Segment_ResourceGroupLevelPut",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceName"
          },
          {
            "$ref": "#/parameters/childResourceName"
          },
          {
            "$ref": "#/parameters/segmentResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfSegment"
            }
          },
          "201": {
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/ResourceOfSegment"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.PlayFab2/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ResourceOfPlayerNamespace": {
      "type": "object",
      "description": "Resource of PlayerNamespace Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlayerNamespaceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        },
        {
          "$ref": "#/definitions/ExtraProperties"
        }
      ]
    },
    "PlayerNamespaceProperties": {
      "type": "object",
      "description": "Properties of PlayerNamespace Reource",
      "properties": {
        "playFabPublisherId": {
          "type": "string",
          "readOnly": true,
          "description": "PlayFab Publisher ID associated with the PlayerNamespaceResource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourcePropertiesBase"
        }
      ]
    },
    "ResourcePropertiesBase": {
      "type": "object",
      "description": "The Common Resource Properties",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The value for the provisioning state",
          "readOnly": true,
          "enum": [
            "NotSpecified",
            "Accepted",
            "Creating",
            "Deleting",
            "Canceled",
            "Failed",
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "ResourceOfTitle": {
      "type": "object",
      "description": "Resource of Title Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TitleProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        },
        {
          "$ref": "#/definitions/ExtraProperties"
        }
      ]
    },
    "TitleProperties": {
      "type": "object",
      "description": "Properties of Title Reource",
      "properties": {
        "playFabTitleId": {
          "type": "string",
          "readOnly": true,
          "description": "Id of title object in PlayFab backend."
        },
        "playerNamespaceId": {
          "type": "string",
          "description": "Azure resource Id of the playernamespace resource."
        },
        "metaData": {
          "type": "object",
          "properties": {
            "genre": {
              "type": "string"
            },
            "playerModes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "required": [
        "playerNamespaceId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ResourcePropertiesBase"
        }
      ]
    },
    "PlayerNamespaceCollection": {
      "description": "Page of PlayerNamespace",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of PlayerNamespace Resource",
          "type": "array",
          "items": {
            "description": "The list of PlayerNamespace.",
            "$ref": "#/definitions/ResourceOfPlayerNamespace"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of PlayerNamespace resources list.",
          "type": "string"
        }
      }
    },
    "ExtraProperties": {
      "type": "object",
      "description": "Extra properties not included in Tracked Resource",
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the Azure resource",
          "readOnly": true
        }
      }
    },
    "TitleCollection": {
      "description": "Page of Title",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Title Resource",
          "type": "array",
          "items": {
            "description": "The list of Title.",
            "$ref": "#/definitions/ResourceOfTitle"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of Title resources list.",
          "type": "string"
        }
      }
    },
    "ResourceOfSegment": {
      "type": "object",
      "description": "Resource of Segment Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SegmentProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SegmentProperties": {
      "type": "object",
      "description": "Properties of Segment Reource",
      "properties": {
        "playFabTitleId": {
          "type": "string",
          "readOnly": true,
          "description": "It is the ID of the title object that the segment is associated with."
        },
        "segmentId": {
          "type": "string",
          "readOnly": true,
          "description": "It is the ID of the segment object."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "It is the description of the filters in the segment."
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "It is the timestamp of the last update made to the segment."
        },
        "expressions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressionObject"
          }
        }
      },
      "required": [
        "expressions"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ResourcePropertiesBase"
        }
      ]
    },
    "ExpressionObject": {
      "type": "object",
      "properties": {
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllOf"
          },
          "minItems": 1
        }
      },
      "required": [
        "anyOf"
      ]
    },
    "AllOf": {
      "type": "object",
      "additionalProperties": true
    }
  },
  "parameters": {
    "resourceName": {
      "type": "string",
      "name": "resourceName",
      "in": "path",
      "required": true,
      "x-nullable": true,
      "description": "Resource Name",
      "x-ms-parameter-location": "method"
    },
    "playerNamespaceResource": {
      "name": "resource",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ResourceOfPlayerNamespace"
      },
      "x-nullable": false,
      "description": "Player Namespace Resource",
      "x-ms-parameter-location": "method"
    },
    "titleResource": {
      "name": "resource",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ResourceOfTitle"
      },
      "x-nullable": false,
      "description": "Title Resource",
      "x-ms-parameter-location": "method"
    },
    "segmentResource": {
      "name": "segment_resource",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/ResourceOfSegment"
      },
      "x-nullable": false,
      "description": "Segment Resource",
      "x-ms-parameter-location": "method"
    },
    "childResourceName": {
      "type": "string",
      "name": "childResourceName",
      "in": "path",
      "required": true,
      "x-nullable": true,
      "description": "Child Resource Name",
      "x-ms-parameter-location": "method"
    }
  }
}