{
  "swagger": "2.0",
  "info": {
    "title": "MetaverseManagementClient",
    "description": "Metaverse provider",
    "version": "2022-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses/{metaverseId}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "description": "Returns list of events.",
        "operationId": "Event_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details.",
            "schema": {
              "$ref": "#/definitions/EventResourceList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses/{metaverseId}/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "description": "Returns event resource for a given id.",
        "operationId": "Event_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details.",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Events"
        ],
        "description": "Create event resource.",
        "operationId": "Event_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          },
          "201": {
            "description": "Long running operation.",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Events"
        ],
        "description": "Update an event resource.",
        "operationId": "Event_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "description": "Deletes event resource for a given id.",
        "operationId": "Event_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the event."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses/{metaverseId}/events/{eventId}/SetImage": {
      "post": {
        "tags": [
          "Events"
        ],
        "description": "Set an image and return its corresponding image id.",
        "operationId": "Event_SetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ImageData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ImageReference"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses/{metaverseId}/events/{eventId}/GetImage": {
      "post": {
        "tags": [
          "Events"
        ],
        "description": "Get an image.",
        "operationId": "Event_GetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ImageReference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ImageData"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.metaverse/metaverses": {
      "get": {
        "tags": [
          "Metaverse"
        ],
        "description": "Returns list of metaverses.",
        "operationId": "Metaverses_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResourceList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses": {
      "get": {
        "tags": [
          "Metaverse"
        ],
        "description": "Returns list of metaverses.",
        "operationId": "Metaverse_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResourceList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses/{metaverseId}": {
      "get": {
        "tags": [
          "Metaverse"
        ],
        "description": "Returns metaverse resource for a given id.",
        "operationId": "Metaverse_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Metaverse"
        ],
        "description": "Deletes metaverse resource for a given id.",
        "operationId": "Metaverse_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the metaverse."
          }
        }
      },
      "put": {
        "tags": [
          "Metaverse"
        ],
        "description": "Create metaverse resource.",
        "operationId": "Metaverse_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          },
          "201": {
            "description": "Long running operation.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Metaverse"
        ],
        "description": "Update a metaverse resource.",
        "operationId": "Metaverse_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses/{metaverseId}/SetImage": {
      "post": {
        "tags": [
          "Metaverse"
        ],
        "description": "Set an image and return its corresponding image id.",
        "operationId": "Metaverse_SetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ImageData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ImageReference"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses/{metaverseId}/GetImage": {
      "post": {
        "tags": [
          "Metaverse"
        ],
        "description": "Get an image.",
        "operationId": "Metaverse_GetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ImageReference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ImageData"
            }
          }
        }
      }
    },
    "/providers/microsoft.metaverse/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Returns list of operations.",
        "operationId": "Operations_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/OperationsList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/templates": {
      "get": {
        "tags": [
          "SpaceTemplates"
        ],
        "description": "Returns list of templates.",
        "operationId": "Template_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates.",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResourceList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/templates/{templateId}": {
      "get": {
        "tags": [
          "SpaceTemplates"
        ],
        "description": "Returns list of templates.",
        "operationId": "Template_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details.",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResource"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SpaceTemplates"
        ],
        "description": "Create template resource.",
        "operationId": "Template_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResource"
            }
          },
          "201": {
            "description": "Long running operation.",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResource"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SpaceTemplates"
        ],
        "description": "Update a template resource.",
        "operationId": "Template_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SpaceTemplates"
        ],
        "description": "Deletes template resource for a given id.",
        "operationId": "Template_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes the template."
          }
        }
      }
    }
  },
  "definitions": {
    "EventBase": {
      "type": "object",
      "properties": {
        "eventName": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "defaultPrimaryUrl": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "instructions": {
          "type": "string"
        },
        "openTime": {
          "format": "date-time",
          "type": "string"
        },
        "closeTime": {
          "format": "date-time",
          "type": "string"
        },
        "tagList": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spaceTemplateId": {
          "type": "string"
        },
        "metaverseId": {
          "type": "string"
        },
        "supportedPlatform": {
          "type": "string"
        },
        "resourceId": {
          "type": "string"
        },
        "titleImage": {
          "type": "string"
        },
        "bannerImage": {
          "type": "string"
        }
      }
    },
    "EventResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/EventBase"
        }
      }
    },
    "EventResourceList": {
      "description": "The list of events.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ImageData": {
      "description": "Contains data for an image POST request.",
      "type": "object",
      "properties": {
        "base64Image": {
          "type": "string"
        }
      }
    },
    "ImageReference": {
      "description": "Contains an image ID reference.",
      "type": "object",
      "properties": {
        "imageId": {
          "type": "string"
        }
      }
    },
    "JToken": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/JToken"
      }
    },
    "MeshSpaceTemplate": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SpaceTemplateBase"
        }
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "MetaverseBase": {
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "Metaverse title.",
          "type": "string"
        },
        "layout": {
          "description": "Metaverse layout.",
          "type": "string"
        },
        "iconImageId": {
          "description": "ID for metaverse icon image.",
          "type": "string"
        },
        "internalId": {
          "description": "Metaverse internal id.",
          "type": "string"
        }
      }
    },
    "MetaverseResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/MetaverseBase"
        }
      }
    },
    "MetaverseResourceList": {
      "description": "The list of metaverses.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetaverseResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "Operation provided by provider.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationBase"
        }
      }
    },
    "OperationBase": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "Provider name.",
          "type": "string"
        },
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "operation": {
          "description": "Operation name.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation.",
          "type": "string"
        }
      }
    },
    "OperationsList": {
      "description": "Lists the operations available.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "The resource proxy definition object.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Gets or sets the {API} version of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Gets or sets the id for the resource.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Gets or sets the subscription.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "Gets or sets the name of the resource group to which the resource belongs.",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the name of the resource definition.",
          "type": "string"
        },
        "type": {
          "description": "Gets or sets the type of the resource definition.",
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/JToken"
        },
        "kind": {
          "description": "Gets or sets the kind of the resource definition.",
          "type": "string"
        },
        "managedBy": {
          "description": "Gets or sets the managed by property.",
          "type": "string"
        },
        "location": {
          "description": "Gets or sets the resource location.",
          "type": "string"
        },
        "zones": {
          "description": "Gets or sets the availability zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "plan": {
          "$ref": "#/definitions/JToken"
        },
        "eTag": {
          "description": "Gets or sets the {etag}.",
          "type": "string"
        },
        "tags": {
          "description": "Gets or sets the tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scale": {
          "$ref": "#/definitions/JToken"
        },
        "identity": {
          "$ref": "#/definitions/JToken"
        }
      },
      "x-ms-azure-resource": true
    },
    "SpaceTemplateBase": {
      "type": "object",
      "properties": {
        "creator": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "imageInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "assetInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "capacity": {
          "format": "int32",
          "type": "integer"
        },
        "entitySpecificMetadata": {
          "type": "object",
          "additionalProperties": { }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SpaceTemplateResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SpaceTemplateBase"
        }
      }
    },
    "SpaceTemplateResourceList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpaceTemplateResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "in": "query",
      "name": "api-version",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "in": "path",
      "name": "resourceGroupName",
      "description": "The name of the resource group.",
      "required": true,
      "type": "string"
    },
    "MetaverseIdParameter": {
      "in": "path",
      "name": "metaverseId",
      "description": "The id referring to the metaverse resource.",
      "required": true,
      "type": "string"
    },
    "EventIdParameter": {
      "in": "path",
      "name": "eventId",
      "description": "The id referring to the event resource.",
      "required": true,
      "type": "string"
    },
    "SubscriptionIdParameter": {
      "in": "path",
      "name": "subscriptionId",
      "description": "The Azure subscription ID.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow."
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}