{
  "swagger": "2.0",
  "info": {
    "title": "MetaverseManagementClient",
    "description": "Metaverse provider",
    "version": "2022-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.metaverse/metaverses": {
      "get": {
        "description": "Returns list of metaverses.",
        "x-ms-examples": {
          "metaverses_list": {
            "$ref": "./examples/metaverses_listBySubscription.json"
          }
        },
        "operationId": "Metaverses_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses": {
      "get": {
        "description": "Returns list of metaverses.",
        "x-ms-examples": {
          "metaverses_list": {
            "$ref": "./examples/metaverses_list.json"
          }
        },
        "operationId": "Metaverse_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.metaverse/metaverses/{metaverseId}": {
      "get": {
        "description": "Returns metaverse resource for a given id.",
        "x-ms-examples": {
          "metaverse_get": {
            "$ref": "./examples/metaverse_get.json"
          }
        },
        "operationId": "Metaverse_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes metaverse resource for a given id.",
        "x-ms-examples": {
          "metaverse_delete": {
            "$ref": "./examples/metaverse_delete.json"
          }
        },
        "operationId": "Metaverse_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the metaverse."
          }
        }
      },
      "put": {
        "description": "Create metaverse resource.",
        "x-ms-examples": {
          "metaverse_create": {
            "$ref": "./examples/metaverse_create.json"
          }
        },
        "operationId": "Metaverse_Create",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "name": "metaverseResource",
            "description": "Metaverse details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          },
          "201": {
            "description": "Long running operation."
          }
        }
      }
    },
    "/providers/microsoft.metaverse/operations": {
      "get": {
        "description": "Returns list of operations.",
        "x-ms-examples": {
          "operations_list": {
            "$ref": "./examples/operations_list.json"
          }
        },
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "MetaverseResource": {
      "type": "object",
      "description": "Metaverse details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [
            "id"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "Metaverse ID.",
              "minLength": 1,
              "maxLength": 32,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "title": {
              "type": "string",
              "description": "Metaverse title.",
              "minLength": 1,
              "maxLength": 30,
              "pattern": "^[A-Za-z0-9-._ ]+$"
            },
            "type": {
              "type": "string",
              "description": "Metaverse type (Event/World/etc.).",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "layout": {
              "type": "string",
              "description": "Metaverse layout.",
              "minLength": 1,
              "maxLength": 20,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "iconImageId": {
              "type": "string",
              "description": "ID for metaverse icon image.",
              "minLength": 1,
              "maxLength": 20,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "eTag": {
              "type": "string",
              "description": "eTag for metaverse create operation.",
              "minLength": 1,
              "maxLength": 20,
              "pattern": "^[A-Za-z0-9-._]+$"
            }
          }
        }
      }
    },
    "MetaverseResourceList": {
      "description": "The list of metaverses.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of the metaverse list.",
          "type": "string"
        },
        "value": {
          "description": "The list of metaverses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetaverseResource"
          }
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "MetaverseIdParameter": {
      "name": "metaverseId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The id referring to the metaverse resource.",
      "x-ms-parameter-location": "method"
    }
  }
}