{
  "swagger": "2.0",
  "info": {
    "title": "MetaverseManagementClient",
    "description": "Metaverse provider",
    "version": "2022-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "description": "Returns list of events.",
        "operationId": "Event_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Event details.",
            "schema": {
              "$ref": "#/definitions/EventResourceList"
            }
          }
        },
        "x-ms-examples": {
          "Event_List": {
            "$ref": "./examples/Event_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "description": "Returns event resource for a given id.",
        "operationId": "Event_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Event details.",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        },
        "x-ms-examples": {
          "Event_Get": {
            "$ref": "./examples/Event_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Events"
        ],
        "description": "Create event resource.",
        "operationId": "Event_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        },
        "x-ms-examples": {
          "Event_Create": {
            "$ref": "./examples/Event_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Events"
        ],
        "description": "Update an event resource.",
        "operationId": "Event_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/EventResource"
            }
          }
        },
        "x-ms-examples": {
          "Event_Update": {
            "$ref": "./examples/Event_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "description": "Deletes event resource for a given id.",
        "operationId": "Event_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Deletes the event."
          },
          "204": {
            "description": "Deletes the event."
          }
        },
        "x-ms-examples": {
          "Event_Delete": {
            "$ref": "./examples/Event_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/events/{eventId}/setImage": {
      "post": {
        "tags": [
          "Events"
        ],
        "description": "Set an image and return its corresponding image id.",
        "operationId": "Event_SetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ImageData"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ImageReference"
            }
          }
        },
        "x-ms-examples": {
          "Event_SetImage": {
            "$ref": "./examples/Event_SetImage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/events/{eventId}/getImage": {
      "post": {
        "tags": [
          "Events"
        ],
        "description": "Get an image.",
        "operationId": "Event_GetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/EventIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ImageReference"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ImageData"
            }
          }
        },
        "x-ms-examples": {
          "Event_GetImage": {
            "$ref": "./examples/Event_GetImage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Metaverse/metaverses": {
      "get": {
        "tags": [
          "Metaverse"
        ],
        "description": "Returns list of metaverses.",
        "operationId": "Metaverse_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResourceList"
            }
          }
        },
        "x-ms-examples": {
          "Metaverse_ListBySubscription": {
            "$ref": "./examples/Metaverse_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses": {
      "get": {
        "tags": [
          "Metaverse"
        ],
        "description": "Returns list of metaverses.",
        "operationId": "Metaverse_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResourceList"
            }
          }
        },
        "x-ms-examples": {
          "Metaverse_List": {
            "$ref": "./examples/Metaverse_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}": {
      "get": {
        "tags": [
          "Metaverse"
        ],
        "description": "Returns metaverse resource for a given id.",
        "operationId": "Metaverse_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Metaverse details.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        },
        "x-ms-examples": {
          "Metaverse_Get": {
            "$ref": "./examples/Metaverse_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Metaverse"
        ],
        "description": "Deletes metaverse resource for a given id.",
        "operationId": "Metaverse_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Deletes the metaverse."
          },
          "204": {
            "description": "Deletes the metaverse."
          }
        },
        "x-ms-examples": {
          "Metaverse_Delete": {
            "$ref": "./examples/Metaverse_Delete.json"
          }
        }
      },
      "put": {
        "tags": [
          "Metaverse"
        ],
        "description": "Create metaverse resource.",
        "operationId": "Metaverse_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        },
        "x-ms-examples": {
          "Metaverse_Create": {
            "$ref": "./examples/Metaverse_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Metaverse"
        ],
        "description": "Update a metaverse resource.",
        "operationId": "Metaverse_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/MetaverseResource"
            }
          }
        },
        "x-ms-examples": {
          "Metaverse_Update": {
            "$ref": "./examples/Metaverse_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/setImage": {
      "post": {
        "tags": [
          "Metaverse"
        ],
        "description": "Set an image and return its corresponding image id.",
        "operationId": "Metaverse_SetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ImageData"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ImageReference"
            }
          }
        },
        "x-ms-examples": {
          "Metaverse_SetImage": {
            "$ref": "./examples/Metaverse_SetImage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/getImage": {
      "post": {
        "tags": [
          "Metaverse"
        ],
        "description": "Get an image.",
        "operationId": "Metaverse_GetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ImageReference"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ImageData"
            }
          }
        },
        "x-ms-examples": {
          "Metaverse_GetImage": {
            "$ref": "./examples/Metaverse_GetImage.json"
          }
        }
      }
    },
    "/providers/Microsoft.Metaverse/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Returns list of operations.",
        "operationId": "Operations_List",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/OperationsList"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/spaces": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "description": "Returns list of spaces.",
        "operationId": "Space_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Space details.",
            "schema": {
              "$ref": "#/definitions/SpaceResourceList"
            }
          }
        },
        "x-ms-examples": {
          "Space_List": {
            "$ref": "./examples/Space_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/spaces/{spaceId}": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "description": "Returns space resource for a given id.",
        "operationId": "Space_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/SpaceIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Space details.",
            "schema": {
              "$ref": "#/definitions/SpaceResource"
            }
          }
        },
        "x-ms-examples": {
          "Space_Get": {
            "$ref": "./examples/Space_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Spaces"
        ],
        "description": "Create space resource.",
        "operationId": "Space_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/SpaceIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SpaceResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/SpaceResource"
            }
          }
        },
        "x-ms-examples": {
          "Space_Create": {
            "$ref": "./examples/Space_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Spaces"
        ],
        "description": "Update a space resource.",
        "operationId": "Space_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/SpaceIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SpaceResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/SpaceResource"
            }
          }
        },
        "x-ms-examples": {
          "Space_Update": {
            "$ref": "./examples/Space_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Spaces"
        ],
        "description": "Deletes space resource for a given id.",
        "operationId": "Space_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/SpaceIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Deletes the space."
          },
          "204": {
            "description": "Deletes the space."
          }
        },
        "x-ms-examples": {
          "Space_Delete": {
            "$ref": "./examples/Space_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/templates": {
      "get": {
        "tags": [
          "SpaceTemplates"
        ],
        "description": "Returns list of templates.",
        "operationId": "Template_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "List of templates.",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResourceList"
            }
          }
        },
        "x-ms-examples": {
          "Template_List": {
            "$ref": "./examples/Template_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Metaverse/metaverses/{metaverseId}/templates/{templateId}": {
      "get": {
        "tags": [
          "SpaceTemplates"
        ],
        "description": "Returns template resource for a given id.",
        "operationId": "Template_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MetaverseIdParameter"
          },
          {
            "$ref": "#/parameters/TemplateIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Template details.",
            "schema": {
              "$ref": "#/definitions/SpaceTemplateResource"
            }
          }
        },
        "x-ms-examples": {
          "Template_Get": {
            "$ref": "./examples/Template_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "description": "The error class.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Gets or sets the error code.",
          "type": "string"
        },
        "message": {
          "description": "Gets or sets the error message.",
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "The error response.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Gets or sets the status of the request.",
          "type": "string"
        },
        "error": {
          "$ref": "#/definitions/Error"
        }
      }
    },
    "EventBase": {
      "type": "object",
      "properties": {
        "eventName": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "defaultPrimaryUrl": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "instructions": {
          "type": "string"
        },
        "openTime": {
          "format": "date-time",
          "type": "string"
        },
        "closeTime": {
          "format": "date-time",
          "type": "string"
        },
        "tagList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [ ]
        },
        "spaceTemplateId": {
          "type": "string"
        },
        "metaverseId": {
          "type": "string"
        },
        "supportedPlatform": {
          "type": "string"
        },
        "titleImage": {
          "type": "string"
        },
        "bannerImage": {
          "type": "string"
        }
      }
    },
    "EventProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EventBase"
        }
      ],
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EventResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/EventProperties"
        }
      }
    },
    "EventResourceList": {
      "description": "The list of events.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventResource"
          },
          "x-ms-identifiers": [ ]
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ImageData": {
      "description": "Contains data for an image POST request.",
      "type": "object",
      "properties": {
        "base64Image": {
          "type": "string"
        }
      }
    },
    "ImageReference": {
      "description": "Contains an image ID reference.",
      "type": "object",
      "properties": {
        "imageId": {
          "type": "string"
        }
      }
    },
    "ManagedResourceGroupConfiguration": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource group name.",
          "type": "string"
        },
        "location": {
          "description": "The resource group location.",
          "type": "string"
        }
      }
    },
    "MeshSpaceTemplate": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SpaceTemplateBase"
        }
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "MetaverseBase": {
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "Metaverse title.",
          "type": "string"
        },
        "layout": {
          "description": "Metaverse layout.",
          "type": "string"
        },
        "iconImageId": {
          "description": "ID for metaverse icon image.",
          "type": "string"
        },
        "internalId": {
          "description": "Metaverse internal id.",
          "type": "string"
        },
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupConfiguration"
        }
      }
    },
    "MetaverseProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MetaverseBase"
        }
      ],
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MetaverseResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "description": "Gets or sets the resource location.",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/MetaverseProperties"
        }
      }
    },
    "MetaverseResourceList": {
      "description": "The list of metaverses.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetaverseResource"
          },
          "x-ms-identifiers": [ ]
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "Operation provided by provider.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationBase"
        },
        "isDataAction": {
          "type": "boolean"
        }
      }
    },
    "OperationBase": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "Provider name.",
          "type": "string"
        },
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "operation": {
          "description": "Operation name.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation.",
          "type": "string"
        }
      }
    },
    "OperationsList": {
      "description": "Lists the operations available.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": [ ]
        },
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "The resource proxy definition object.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets the id for the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Gets or sets the name of the resource definition.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Gets or sets the type of the resource definition.",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "description": "Gets or sets the {etag}.",
          "type": "string"
        },
        "tags": {
          "description": "Gets or sets the tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemData": {
          "$ref": "#/definitions/SystemData"
        }
      },
      "x-ms-azure-resource": true
    },
    "SpaceBase": {
      "type": "object",
      "properties": {
        "metaverseId": {
          "description": "ID of the metaverse corresponding to the space.",
          "type": "string"
        },
        "spaceId": {
          "description": "Space ID.",
          "type": "string"
        },
        "spaceName": {
          "description": "Space name.",
          "type": "string"
        },
        "description": {
          "description": "Space description.",
          "type": "string"
        },
        "templateId": {
          "description": "Space template id.",
          "type": "string"
        },
        "author": {
          "type": "string"
        }
      }
    },
    "SpaceInternalMetadata": {
      "type": "object",
      "properties": {
        "eTag": {
          "type": "string"
        }
      }
    },
    "SpaceProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SpaceBase"
        }
      ],
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SpaceResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SpaceProperties"
        }
      }
    },
    "SpaceResourceList": {
      "description": "The list of spaces.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpaceResource"
          },
          "x-ms-identifiers": [ ]
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "SpaceTemplateBase": {
      "type": "object",
      "properties": {
        "creator": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "imageInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "x-ms-identifiers": [ ]
        },
        "assetInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "x-ms-identifiers": [ ]
        },
        "capacity": {
          "format": "int32",
          "type": "integer"
        },
        "entitySpecificMetadata": {
          "type": "object",
          "additionalProperties": { }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [ ]
        }
      }
    },
    "SpaceTemplateProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SpaceTemplateBase"
        }
      ],
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SpaceTemplateResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SpaceTemplateProperties"
        }
      }
    },
    "SpaceTemplateResourceList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpaceTemplateResource"
          },
          "x-ms-identifiers": [ ]
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "SystemData": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "createdByType": {
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string"
        },
        "lastModifiedBy": {
          "type": "string"
        },
        "lastModifiedByType": {
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "date-time",
          "type": "string"
        }
      },
      "readOnly": true
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "in": "query",
      "name": "api-version",
      "description": "Client Api Version.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "ResourceGroupNameParameter": {
      "in": "path",
      "name": "resourceGroupName",
      "description": "The name of the resource group.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "MetaverseIdParameter": {
      "in": "path",
      "name": "metaverseId",
      "description": "The id referring to the metaverse resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "EventIdParameter": {
      "in": "path",
      "name": "eventId",
      "description": "The id referring to the event resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "TemplateIdParameter": {
      "in": "path",
      "name": "templateId",
      "description": "The id referring to the template resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "in": "path",
      "name": "subscriptionId",
      "description": "The Azure subscription ID.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "SpaceIdParameter": {
      "in": "path",
      "name": "spaceId",
      "description": "The id referring to the space resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow."
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}